Repository go-gitea/gitea, changes with the labels that .github/labeler.yml gives for each.
All labels: modifies/docs, modifies/api, modifies/cli, modifies/translation, modifies/migrations, modifies/internal, modifies/dependencies, modifies/go, modifies/frontend, docs-update-needed

.github/labeler.yml:

modifies/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

modifies/templates:
  - changed-files:
      - all-globs-to-any-file:
          - "templates/**"
          - "!templates/swagger/v1_json.tmpl"

modifies/api:
  - changed-files:
      - any-glob-to-any-file:
          - "routers/api/**"
          - "templates/swagger/v1_json.tmpl"

modifies/cli:
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/**"

modifies/translation:
  - changed-files:
      - any-glob-to-any-file:
          - "options/locale/*.ini"

modifies/migrations:
  - changed-files:
      - any-glob-to-any-file:
          - "models/migrations/**"

modifies/internal:
  - changed-files:
      - any-glob-to-any-file:
          - ".air.toml"
          - "Makefile"
          - "Dockerfile"
          - "Dockerfile.rootless"
          - ".dockerignore"
          - "docker/**"
          - ".editorconfig"
          - ".eslintrc.cjs"
          - ".golangci.yml"
          - ".gitpod.yml"
          - ".markdownlint.yaml"
          - ".spectral.yaml"
          - "stylelint.config.js"
          - ".yamllint.yaml"
          - ".github/**"
          - ".gitea/**"
          - ".devcontainer/**"
          - "build.go"
          - "build/**"
          - "contrib/**"

modifies/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"
          - "pyproject.toml"
          - "poetry.lock"
          - "go.mod"
          - "go.sum"

modifies/go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"

modifies/frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "*.js"
          - "*.ts"
          - "web_src/**"

docs-update-needed:
  - changed-files:
      - any-glob-to-any-file:
          - "custom/conf/app.example.ini"

fix
  templates/repo/view_file.tmpl
  web_src/css/file-view.css
  web_src/js/features/file-view.ts
  web_src/js/index.ts
  web_src/js/modules/file-render-plugin.ts
  web_src/js/render/plugins/3d-viewer.ts
Labels: modifies/frontend

Optimize flex layout of release attachment area (#34885)
  templates/repo/release/list.tmpl
  web_src/css/repo/release-tag.css
Labels: modifies/frontend

Optimize flex layout of release attachment area (#34885)
  templates/repo/release/list.tmpl
  web_src/css/repo/release-tag.css
Labels: modifies/frontend

Upgrade htmx to 2.0.6
  package-lock.json
  package.json
Labels: modifies/dependencies

refactor the PdfViewer
  templates/repo/view_file.tmpl
  web_src/css/file-view.css
  web_src/css/modules/animations.css
  web_src/css/repo.css
  web_src/js/features/file-view.ts
  web_src/js/index.ts
  web_src/js/render/pdf.ts
  web_src/js/render/plugins/3d-viewer.ts
  web_src/js/render/plugins/pdf-viewer.ts
Labels: modifies/frontend

fix test error
  tests/integration/lfs_view_test.go
Labels: modifies/go

fix
  templates/repo/view_file.tmpl
Labels: none

Upgrade htmx to 2.0.6 (#34887)
  package-lock.json
  package.json
Labels: modifies/dependencies

Flexbox branch list
  templates/repo/branch/list.tmpl
  web_src/css/repo.css
  web_src/css/shared/flex-list.css
Labels: modifies/frontend

Also fix default branch
  templates/repo/branch/list.tmpl
Labels: none

Remove obsolete css
  web_src/css/explore.css
Labels: modifies/frontend

Remove obsolete css
  web_src/css/explore.css
  web_src/css/index.css
Labels: modifies/frontend

Optimize flex layout of release attachment area (#34885) (#34886)
  templates/repo/release/list.tmpl
  web_src/css/repo/release-tag.css
Labels: modifies/frontend

fix
  templates/projects/view.tmpl
  web_src/js/features/repo-projects.ts
Labels: modifies/frontend
