Repository go-gitea/gitea, changes with the labels that .github/labeler.yml gives for each.
All labels: modifies/docs, modifies/api, modifies/cli, modifies/translation, modifies/migrations, modifies/internal, modifies/dependencies, modifies/go, modifies/frontend, docs-update-needed

scope nolint directive for underscore in packages
  services/oauth2_provider/access_token.go
  services/oauth2_provider/additional_scopes_test.go
  services/oauth2_provider/init.go
  services/oauth2_provider/jwtsigningkey.go
  services/oauth2_provider/token.go
  services/versioned_migration/migration.go
Labels: modifies/go

fix nolint directives which aren't guarding anything significant
  services/gitdiff/gitdiff.go
  services/migrations/migrate.go
  services/repository/files/file_test.go
  services/user/update.go
Labels: modifies/go

enforce nolint scope
  .golangci.yml
Labels: modifies/internal

fix(issue): Replace stopwatch toggle with explicit start/stop actions (#34818)
  models/issues/stopwatch.go
  models/issues/stopwatch_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/issue_stopwatch.go
  routers/web/repo/issue_stopwatch.go
  routers/web/repo/pull.go
  routers/web/web.go
  services/issue/status.go
  templates/base/head_navbar.tmpl
  templates/repo/issue/sidebar/stopwatch_timetracker.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/timetracking_test.go
  web_src/js/features/stopwatch.ts
Labels: modifies/api, modifies/translation, modifies/go, modifies/frontend

[skip ci] Updated translations via Crowdin
  options/locale/locale_fr-FR.ini
  options/locale/locale_ga-IE.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_uk-UA.ini
Labels: modifies/translation

Refactor repo contents API and add "contents-ext" API (#34822)
  modules/git/blob.go
  modules/git/tree_entry_nogogit.go
  modules/lfs/pointer.go
  modules/lfs/pointer_scanner_gogit.go
  modules/structs/git_blob.go
  modules/structs/repo_file.go
  routers/api/v1/api.go
  routers/api/v1/repo/blob.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/wiki.go
  routers/api/v1/swagger/repo.go
  services/repository/files/content.go
  services/repository/files/content_test.go
  services/repository/files/file.go
  services/repository/files/update.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_get_contents_test.go
  tests/integration/repofiles_change_test.go
Labels: modifies/api, modifies/go

fix
  models/perm/access/repo_permission.go
  routers/api/v1/api.go
  tests/integration/api_repo_archive_test.go
Labels: modifies/api, modifies/go

Update `uint8-to-base64`, remove type stub (#34844)
  package-lock.json
  package.json
  web_src/js/globals.d.ts
Labels: modifies/dependencies, modifies/frontend

enhancements
  templates/repo/issue/sidebar/label_list.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/repo.css
Labels: modifies/frontend

add comment
  web_src/css/repo.css
Labels: modifies/frontend

fix bug
  web_src/css/repo/issue-card.css
Labels: modifies/frontend

Fix archive API (#34853)
  models/perm/access/repo_permission.go
  routers/api/v1/api.go
  tests/integration/api_repo_archive_test.go
Labels: modifies/api, modifies/go

Fix archive API (#34853)
  models/perm/access/repo_permission.go
  routers/api/v1/api.go
  tests/integration/api_repo_archive_test.go
Labels: modifies/api, modifies/go

fix
  modules/structs/repo_file.go
  routers/api/v1/api.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/patch.go
  routers/web/repo/editor.go
  services/repository/files/patch.go
  services/repository/files/update.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_file_delete_test.go
  tests/integration/api_repo_file_update_test.go
Labels: modifies/api, modifies/go

restore testifylint supression, change gocritic comment to explanation
  services/repository/files/file_test.go
  services/user/update.go
Labels: modifies/go

Fix archive API (#34853) (#34857)
  models/perm/access/repo_permission.go
  routers/api/v1/api.go
  tests/integration/api_repo_archive_test.go
Labels: modifies/api, modifies/go

Update modules/structs/repo_file.go
  modules/structs/repo_file.go
Labels: modifies/go

rewrite TestCleanUploadFileName to avoid nolint
  services/repository/files/file_test.go
Labels: modifies/go

shorter comment for "export stutter"
  models/issues/issue_search.go
  models/perm/access/repo_permission.go
  models/project/project.go
  models/repo/transfer.go
  modules/commitstatus/commit_status.go
Labels: modifies/go

fix typo
  routers/api/v1/repo/file.go
  templates/swagger/v1_json.tmpl
Labels: modifies/api, modifies/go

fix
  templates/repo/issue/card.tmpl
  templates/repo/issue/sidebar/label_list.tmpl
  web_src/css/repo.css
  web_src/css/repo/issue-card.css
Labels: modifies/frontend

fix test
  routers/api/v1/repo/file.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_file_delete_test.go
Labels: modifies/api, modifies/go

unify issue content right lists
  templates/repo/issue/sidebar/assignee_list.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  web_src/css/repo.css
Labels: modifies/frontend

adjust card avatar size
  templates/repo/issue/card.tmpl
  web_src/css/repo/issue-card.css
Labels: modifies/frontend

Update go tool dependencies (#34845)
  Makefile
Labels: modifies/internal

fix
  models/asymkey/gpg_key_add.go
  models/asymkey/gpg_key_verify.go
  models/asymkey/ssh_key_verify.go
  web_src/js/components/DashboardRepoList.vue
Labels: modifies/go, modifies/frontend

fix issues
  templates/repo/issue/card.tmpl
  web_src/css/repo.css
  web_src/css/repo/issue-card.css
Labels: modifies/frontend

cleanup
  web_src/css/repo.css
  web_src/css/repo/issue-card.css
Labels: modifies/frontend

update comment
  web_src/css/repo.css
Labels: modifies/frontend

restore flex-wrap
  web_src/css/repo/issue-card.css
Labels: modifies/frontend

Fix some log and UI problems (#34863)
  models/asymkey/gpg_key_add.go
  models/asymkey/gpg_key_verify.go
  models/asymkey/ssh_key_verify.go
  web_src/js/components/DashboardRepoList.vue
Labels: modifies/go, modifies/frontend

use contain:paint instead of overflow:hidden, remove line-height
  web_src/css/repo.css
Labels: modifies/frontend

use different vertical gap
  web_src/css/repo.css
Labels: modifies/frontend

Refactor "change file" API (#34855)
  modules/structs/repo_file.go
  routers/api/v1/api.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/patch.go
  routers/web/repo/editor.go
  services/repository/files/patch.go
  services/repository/files/update.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_file_delete_test.go
  tests/integration/api_repo_file_update_test.go
Labels: modifies/api, modifies/go

Fix some log and UI problems (#34863)
  models/asymkey/gpg_key_add.go
  models/asymkey/gpg_key_verify.go
  models/asymkey/ssh_key_verify.go
  web_src/js/components/DashboardRepoList.vue
Labels: modifies/go, modifies/frontend

Add issue delete notifier (#34592)
  modules/structs/hook.go
  options/locale/locale_en-US.ini
  services/webhook/notifier.go
  tests/integration/issue_test.go
  tests/integration/repo_webhook_test.go
Labels: modifies/translation, modifies/go

Fix some log and UI problems (#34863) (#34868)
  models/asymkey/gpg_key_add.go
  models/asymkey/gpg_key_verify.go
  models/asymkey/ssh_key_verify.go
  web_src/js/components/DashboardRepoList.vue
Labels: modifies/go, modifies/frontend

fix comments
  .golangci.yml
Labels: modifies/internal

[skip ci] Updated translations via Crowdin
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_el-GR.ini
  options/locale/locale_es-ES.ini
  options/locale/locale_fa-IR.ini
  options/locale/locale_fi-FI.ini
  options/locale/locale_fr-FR.ini
  options/locale/locale_ga-IE.ini
  options/locale/locale_is-IS.ini
  options/locale/locale_it-IT.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_nl-NL.ini
  options/locale/locale_pl-PL.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_si-LK.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_uk-UA.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-TW.ini
Labels: modifies/translation

fix alignment and ellipsis
  modules/templates/util_render.go
  templates/repo/issue/card.tmpl
  web_src/css/base.css
  web_src/css/modules/label.css
  web_src/css/repo.css
Labels: modifies/go, modifies/frontend

.github/labeler.yml:

modifies/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

modifies/templates:
  - changed-files:
      - all-globs-to-any-file:
          - "templates/**"
          - "!templates/swagger/v1_json.tmpl"

modifies/api:
  - changed-files:
      - any-glob-to-any-file:
          - "routers/api/**"
          - "templates/swagger/v1_json.tmpl"

modifies/cli:
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/**"

modifies/translation:
  - changed-files:
      - any-glob-to-any-file:
          - "options/locale/*.ini"

modifies/migrations:
  - changed-files:
      - any-glob-to-any-file:
          - "models/migrations/**"

modifies/internal:
  - changed-files:
      - any-glob-to-any-file:
          - ".air.toml"
          - "Makefile"
          - "Dockerfile"
          - "Dockerfile.rootless"
          - ".dockerignore"
          - "docker/**"
          - ".editorconfig"
          - ".eslintrc.cjs"
          - ".golangci.yml"
          - ".gitpod.yml"
          - ".markdownlint.yaml"
          - ".spectral.yaml"
          - "stylelint.config.js"
          - ".yamllint.yaml"
          - ".github/**"
          - ".gitea/**"
          - ".devcontainer/**"
          - "build.go"
          - "build/**"
          - "contrib/**"

modifies/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"
          - "pyproject.toml"
          - "poetry.lock"
          - "go.mod"
          - "go.sum"

modifies/go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"

modifies/frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "*.js"
          - "*.ts"
          - "web_src/**"

docs-update-needed:
  - changed-files:
      - any-glob-to-any-file:
          - "custom/conf/app.example.ini"
