Repository go-gitea/gitea, changes with the labels that .github/labeler.yml gives for each.
All labels: modifies/docs, modifies/api, modifies/cli, modifies/translation, modifies/migrations, modifies/internal, modifies/dependencies, modifies/go, modifies/frontend, docs-update-needed

.github/labeler.yml:

modifies/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

modifies/templates:
  - changed-files:
      - all-globs-to-any-file:
          - "templates/**"
          - "!templates/swagger/v1_json.tmpl"

modifies/api:
  - changed-files:
      - any-glob-to-any-file:
          - "routers/api/**"
          - "templates/swagger/v1_json.tmpl"

modifies/cli:
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/**"

modifies/translation:
  - changed-files:
      - any-glob-to-any-file:
          - "options/locale/*.ini"

modifies/migrations:
  - changed-files:
      - any-glob-to-any-file:
          - "models/migrations/**"

modifies/internal:
  - changed-files:
      - any-glob-to-any-file:
          - ".air.toml"
          - "Makefile"
          - "Dockerfile"
          - "Dockerfile.rootless"
          - ".dockerignore"
          - "docker/**"
          - ".editorconfig"
          - ".eslintrc.cjs"
          - ".golangci.yml"
          - ".gitpod.yml"
          - ".markdownlint.yaml"
          - ".spectral.yaml"
          - "stylelint.config.js"
          - ".yamllint.yaml"
          - ".github/**"
          - ".gitea/**"
          - ".devcontainer/**"
          - "build.go"
          - "build/**"
          - "contrib/**"

modifies/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"
          - "pyproject.toml"
          - "poetry.lock"
          - "go.mod"
          - "go.sum"

modifies/go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"

modifies/frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "*.js"
          - "*.ts"
          - "web_src/**"

docs-update-needed:
  - changed-files:
      - any-glob-to-any-file:
          - "custom/conf/app.example.ini"

fine tune
  web_src/css/repo.css
Labels: modifies/frontend

fix card
  templates/repo/issue/card.tmpl
  web_src/css/repo/issue-card.css
Labels: modifies/frontend

fix comment label list
  templates/repo/issue/view_content/comments.tmpl
  web_src/css/modules/label.css
  web_src/css/repo.css
Labels: modifies/frontend

fix labels list page
  templates/repo/issue/labels/label_list.tmpl
  web_src/css/modules/label.css
  web_src/css/repo/issue-label.css
Labels: modifies/frontend

add comment
  templates/repo/issue/card.tmpl
Labels: none

fine tune
  web_src/css/modules/label.css
  web_src/css/repo.css
  web_src/css/repo/issue-label.css
Labels: modifies/frontend

align issue list checkbox
  templates/repo/home_sidebar_bottom.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/shared/flex-list.css
Labels: modifies/frontend

fix labels
  templates/repo/issue/view_content/comments.tmpl
  web_src/css/base.css
  web_src/css/repo.css
Labels: modifies/frontend

fix label margin
  web_src/css/repo.css
Labels: modifies/frontend

move label code to "label.css"
  web_src/css/modules/label.css
  web_src/css/repo.css
Labels: modifies/frontend

clean up border radius
  web_src/css/modules/label.css
Labels: modifies/frontend

Improve descriptions of 'username' and 'login_name' parameters
  routers/api/v1/admin/org.go
  routers/api/v1/admin/repo.go
  routers/api/v1/admin/user.go
  routers/api/v1/admin/user_badge.go
  routers/api/v1/org/block.go
  routers/api/v1/org/member.go
  routers/api/v1/org/org.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/repo/issue_subscription.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/user/app.go
  routers/api/v1/user/block.go
  routers/api/v1/user/follower.go
  routers/api/v1/user/gpg_key.go
  routers/api/v1/user/key.go
  routers/api/v1/user/repo.go
  routers/api/v1/user/star.go
  routers/api/v1/user/user.go
  routers/api/v1/user/watch.go
Labels: modifies/api, modifies/go

use "a" tag for label directly when render
  modules/htmlutil/html.go
  modules/htmlutil/html_test.go
  modules/templates/util_render.go
  modules/templates/util_render_test.go
  templates/repo/issue/card.tmpl
  web_src/css/modules/label.css
Labels: modifies/go, modifies/frontend

fix lint
  modules/htmlutil/html_test.go
Labels: modifies/go

fix
  models/repo/update.go
  routers/private/hook_post_receive.go
  routers/web/repo/setting/setting.go
  services/repository/repository.go
Labels: modifies/go

add --gap-label variable
  web_src/css/base.css
  web_src/css/modules/label.css
  web_src/css/modules/list.css
  web_src/css/repo.css
  web_src/css/shared/flex-list.css
Labels: modifies/frontend

fix typo
  modules/templates/util_render.go
Labels: modifies/go

add tests
  modules/templates/util_render_test.go
Labels: modifies/go

mark var-naming related revive ignores
  modules/templates/util_json.go
  modules/templates/util_render.go
Labels: modifies/go

Use standalone function to update repository cols (#34811)
  models/repo/update.go
  modules/repository/branch.go
  routers/private/hook_post_receive.go
  routers/web/repo/setting/setting.go
Labels: modifies/go

Fix formatting and swagger
  routers/api/v1/swagger/options.go
  templates/swagger/v1_json.tmpl
Labels: modifies/api, modifies/go

fix
  modules/repository/branch.go
Labels: modifies/go

Add mount cache for docker building
  Dockerfile
  Dockerfile.rootless
Labels: modifies/internal

[skip ci] Updated translations via Crowdin
  options/locale/locale_fr-FR.ini
  options/locale/locale_ga-IE.ini
Labels: modifies/translation

Skip updating timestamp when sync branch (#34875)
  modules/repository/branch.go
Labels: modifies/go

fix
  models/db/context.go
  routers/api/packages/container/auth.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/container/manifest.go
  services/packages/container/common.go
Labels: modifies/api, modifies/go

Don't create default column when viewing project columns
  models/project/column.go
  services/projects/issue.go
Labels: modifies/go

Fix a regression when refactoring fork list
  templates/admin/repo/list.tmpl
Labels: none

Fix the issue of abnormal interface when there is no issue-item on the project page (#34791)
  web_src/css/features/projects.css
Labels: modifies/frontend

Fix the issue of abnormal interface when there is no issue-item on the project page (#34791) (#34880)
  web_src/css/features/projects.css
Labels: modifies/frontend

Fix a regression when refactoring fork list (#34879)
  templates/admin/repo/list.tmpl
Labels: none

fix typo
  modules/optional/serialization_test.go
Labels: modifies/go

fix windows only nolint, enforce no unused nolints
  .golangci.yml
  modules/graceful/manager_windows.go
Labels: modifies/internal, modifies/go

improve gap variables
  web_src/css/base.css
  web_src/css/modules/label.css
  web_src/css/repo.css
  web_src/css/shared/flex-list.css
Labels: modifies/frontend

fix lint errors
  cmd/embedded.go
  models/actions/task.go
  models/migrations/base/tests.go
  models/migrations/v1_11/v112.go
  models/migrations/v1_13/v140.go
  models/migrations/v1_14/v157.go
  models/migrations/v1_14/v165.go
  modules/graceful/manager_windows.go
  modules/optional/serialization_test.go
  modules/setting/config_env.go
  modules/setting/config_env_test.go
  modules/setting/storage.go
  modules/templates/htmlrenderer.go
  modules/templates/scopedtmpl/scopedtmpl.go
  services/actions/notifier_helper.go
  services/doctor/paths.go
  services/gitdiff/gitdiff.go
  tests/test_utils.go
Labels: modifies/cli, modifies/migrations, modifies/go

fix
  cmd/embedded.go
  models/migrations/v1_14/v165.go
  modules/graceful/manager_windows.go
  modules/templates/scopedtmpl/scopedtmpl.go
  services/pull/merge.go
Labels: modifies/cli, modifies/migrations, modifies/go

use errIgnored instead of nolint
  services/gitdiff/gitdiff.go
  services/migrations/migrate.go
Labels: modifies/go

improves the display and usability of the release attachments area
  templates/repo/release/list.tmpl
  web_src/css/repo/release-tag.css
Labels: modifies/frontend

fix
  web_src/css/repo/release-tag.css
Labels: modifies/frontend

Improve `labels-list` rendering (#34846)
  modules/htmlutil/html.go
  modules/htmlutil/html_test.go
  modules/templates/util_render.go
  modules/templates/util_render_test.go
  templates/repo/home_sidebar_bottom.tmpl
  templates/repo/issue/card.tmpl
  templates/repo/issue/labels/label_list.tmpl
  templates/repo/issue/sidebar/assignee_list.tmpl
  templates/repo/issue/sidebar/label_list.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/base.css
  web_src/css/modules/label.css
  web_src/css/modules/list.css
  web_src/css/repo.css
  web_src/css/repo/issue-card.css
  web_src/css/repo/issue-label.css
  web_src/css/shared/flex-list.css
Labels: modifies/go, modifies/frontend
