Repository go-gitea/gitea, changes with the labels that .github/labeler.yml gives for each.
All labels: modifies/docs, modifies/api, modifies/cli, modifies/translation, modifies/migrations, modifies/internal, modifies/dependencies, modifies/go, modifies/frontend, docs-update-needed

.github/labeler.yml:

modifies/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

modifies/templates:
  - changed-files:
      - all-globs-to-any-file:
          - "templates/**"
          - "!templates/swagger/v1_json.tmpl"

modifies/api:
  - changed-files:
      - any-glob-to-any-file:
          - "routers/api/**"
          - "templates/swagger/v1_json.tmpl"

modifies/cli:
  - changed-files:
      - any-glob-to-any-file:
          - "cmd/**"

modifies/translation:
  - changed-files:
      - any-glob-to-any-file:
          - "options/locale/*.ini"

modifies/migrations:
  - changed-files:
      - any-glob-to-any-file:
          - "models/migrations/**"

modifies/internal:
  - changed-files:
      - any-glob-to-any-file:
          - ".air.toml"
          - "Makefile"
          - "Dockerfile"
          - "Dockerfile.rootless"
          - ".dockerignore"
          - "docker/**"
          - ".editorconfig"
          - ".eslintrc.cjs"
          - ".golangci.yml"
          - ".gitpod.yml"
          - ".markdownlint.yaml"
          - ".spectral.yaml"
          - "stylelint.config.js"
          - ".yamllint.yaml"
          - ".github/**"
          - ".gitea/**"
          - ".devcontainer/**"
          - "build.go"
          - "build/**"
          - "contrib/**"

modifies/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "package-lock.json"
          - "pyproject.toml"
          - "poetry.lock"
          - "go.mod"
          - "go.sum"

modifies/go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"

modifies/frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "*.js"
          - "*.ts"
          - "web_src/**"

docs-update-needed:
  - changed-files:
      - any-glob-to-any-file:
          - "custom/conf/app.example.ini"

Signed-off-by: workjs1124 <kongjs123@gmail.com>
  options/locale/locale_en-US.ini
  routers/web/repo/issue_stopwatch.go
  routers/web/web.go
  templates/base/head_navbar.tmpl
  templates/repo/issue/sidebar/stopwatch_timetracker.tmpl
  tests/integration/timetracking_test.go
  web_src/js/features/stopwatch.ts
Labels: modifies/translation, modifies/go, modifies/frontend

refactor: return ApiError instead of Error from projects methods
  routers/api/v1/projects/project.go
Labels: modifies/api, modifies/go

refactor: create projects method for usr, org and repo
  routers/api/v1/api.go
Labels: modifies/api, modifies/go

fix maximum permission granted to doer
  models/organization/team_repo.go
  models/perm/access/repo_permission.go
  models/perm/access/repo_permission_test.go
Labels: modifies/go

Update models/actions/run_job_status_test.go
  models/actions/run_job_status_test.go
Labels: modifies/go

Update models/actions/run_job_status_test.go
  models/actions/run_job_status_test.go
Labels: modifies/go

Fix job status aggregation logic (#34823)
  models/actions/run_job.go
  models/actions/run_job_status_test.go
Labels: modifies/go

update
  routers/web/repo/actions/view.go
Labels: modifies/go

fix duplicate create request
  models/issues/stopwatch.go
  models/issues/stopwatch_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/issue_stopwatch.go
  routers/web/repo/issue_stopwatch.go
  routers/web/repo/pull.go
  tests/integration/timetracking_test.go
Labels: modifies/api, modifies/translation, modifies/go

upgrade alpine to 3.22
  Dockerfile
Labels: modifies/internal

fix mistakes
  routers/api/v1/repo/issue_stopwatch.go
  services/issue/status.go
Labels: modifies/api, modifies/go

Update options/locale/locale_en-US.ini
  options/locale/locale_en-US.ini
Labels: modifies/translation

fix swagger
  templates/swagger/v1_json.tmpl
Labels: modifies/api

Fix team permissions (#34827)
  models/git/protected_branch.go
  models/organization/org.go
  models/organization/team_repo.go
  models/organization/team_repo_test.go
  models/perm/access/repo_permission.go
  models/perm/access/repo_permission_test.go
  options/locale/locale_en-US.ini
  routers/web/org/teams.go
  routers/web/repo/setting/protected_branch.go
  routers/web/repo/setting/protected_tag.go
  services/convert/convert.go
  services/issue/assignee.go
  services/pull/reviewer.go
  templates/repo/settings/collaboration.tmpl
  tests/integration/org_test.go
Labels: modifies/translation, modifies/go

Fix job status aggregation logic (#34823)
  models/actions/run_job.go
  models/actions/run_job_status_test.go
Labels: modifies/go

Fix log fmt (#34810)
  services/lfs/server.go
Labels: modifies/go

Fix team permissions (#34827)
  models/git/protected_branch.go
  models/organization/org.go
  models/organization/team_repo.go
  models/organization/team_repo_test.go
  models/perm/access/repo_permission.go
  models/perm/access/repo_permission_test.go
  options/locale/locale_en-US.ini
  routers/web/org/teams.go
  routers/web/repo/setting/protected_branch.go
  routers/web/repo/setting/protected_tag.go
  services/convert/convert.go
  services/issue/assignee.go
  services/pull/reviewer.go
  templates/repo/settings/collaboration.tmpl
  tests/integration/org_test.go
Labels: modifies/translation, modifies/go

Ignore force pushes for changed files
  services/gitdiff/gitdiff.go
Labels: modifies/go

fix
  modules/lfstransfer/backend/util.go
  services/context/private.go
Labels: modifies/go

Prevent similar problems in the future
  services/gitdiff/gitdiff.go
Labels: modifies/go

Fix team permissions (#34827) (#34836)
  models/git/protected_branch.go
  models/organization/org.go
  models/organization/team_repo.go
  models/organization/team_repo_test.go
  models/perm/access/repo_permission.go
  models/perm/access/repo_permission_test.go
  options/locale/locale_en-US.ini
  routers/web/org/teams.go
  routers/web/repo/setting/protected_branch.go
  routers/web/repo/setting/protected_tag.go
  services/convert/convert.go
  services/issue/assignee.go
  services/pull/reviewer.go
  templates/repo/settings/collaboration.tmpl
  tests/integration/org_test.go
Labels: modifies/translation, modifies/go

Update services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff.go
Labels: modifies/go

Remove unused variable HUGO_VERSION
  Makefile
Labels: modifies/internal

Ignore force pushes for changed files in a PR review (#34837)
  services/gitdiff/gitdiff.go
Labels: modifies/go

Fix job status aggregation logic (#34823) (#34835)
  models/actions/run_job.go
  models/actions/run_job_status_test.go
Labels: modifies/go

Fix SSH LFS timeout (#34838)
  modules/lfstransfer/backend/util.go
  services/context/private.go
Labels: modifies/go

Fix SSH LFS timeout (#34838)
  modules/lfstransfer/backend/util.go
  services/context/private.go
Labels: modifies/go

Ignore force pushes for changed files in a PR review (#34837)
  services/gitdiff/gitdiff.go
Labels: modifies/go

Fix SSH LFS timeout (#34838) (#34842)
  modules/lfstransfer/backend/util.go
  services/context/private.go
Labels: modifies/go

Update `uint8-to-base64`
  package-lock.json
  package.json
  web_src/js/globals.d.ts
Labels: modifies/dependencies, modifies/frontend

Ignore force pushes for changed files in a PR review (#34837) (#34843)
  services/gitdiff/gitdiff.go
Labels: modifies/go

Remove unused variable HUGO_VERSION (#34840)
  Makefile
Labels: modifies/internal

Fix wrong updated time when syncing repository
  modules/repository/branch.go
Labels: modifies/go

improvements
  modules/repository/branch.go
Labels: modifies/go

Update go tool dependencies
  Makefile
Labels: modifies/internal

add editorconfig-checker
  Makefile
Labels: modifies/internal

pin editorconfig-checker at v3
  Makefile
Labels: modifies/internal

Unify gap in issue sidebar labels-list
  templates/repo/issue/sidebar/label_list.tmpl
Labels: none

scope nolint directives for deprecated fields and functions
  models/asymkey/ssh_key_parse.go
  modules/markup/common/footnote.go
  routers/api/v1/repo/branch.go
Labels: modifies/api, modifies/go

scope nolint directives for export stutters
  models/issues/issue_search.go
  models/perm/access/repo_permission.go
  models/project/project.go
  models/repo/transfer.go
  modules/commitstatus/commit_status.go
  routers/install/install.go
Labels: modifies/go
