Repository go-gitea/gitea, pull requests merged in 2018-06, with the labels that each got.

#4089 add simple descriptions for file API responses
  public/swagger.v1.json
  routers/api/v1/repo/file.go
Labels: kind/api, kind/docs, lgtm/done

#4096 Add make command to validate swagger file
  Makefile
Labels: kind/enhancement, lgtm/done

#4097 swagger: add 'required: true' for params in URL
  public/swagger.v1.json
  routers/api/v1/org/org.go
  routers/api/v1/user/watch.go
Labels: kind/bug, kind/docs, lgtm/done

#4095 Update gitgraph.js to fix "Cannot read property color of undefined"
  public/vendor/VERSIONS
  public/vendor/plugins/gitgraph/gitgraph.js
Labels: kind/bug, lgtm/done

#4100 Remove dupelicate link
  templates/base/head.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#4101 Add how-to for enabling HTTPS
  docs/content/doc/usage/https-support.md
Labels: kind/docs, lgtm/done

#3729 Add tag check to release draft creation
  modules/auth/repo_form.go
  modules/validation/binding.go
Labels: kind/bug, lgtm/done

#4113 Removed unnecessary line referencing LFS struct
  modules/setting/setting.go
Labels: lgtm/done

#4112 Update comparison.en-us.md with RhodeCode Community edition
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done

#4075 update git vendor (#4059)
  models/git_diff.go
  vendor/code.gitea.io/git/Gopkg.lock
  vendor/code.gitea.io/git/Gopkg.toml
  vendor/code.gitea.io/git/MAINTAINERS
  vendor/code.gitea.io/git/error.go
  vendor/code.gitea.io/git/parse.go
  vendor/code.gitea.io/git/repo_blame.go
  vendor/code.gitea.io/git/repo_commit.go
  vendor/code.gitea.io/git/sha1.go
  vendor/code.gitea.io/git/tree.go
  vendor/code.gitea.io/git/tree_entry.go
  vendor/vendor.json
Labels: kind/bug, lgtm/done

#4115 Add 1.4.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4122 Minor 'Installation with Docker' docs page fix
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#4123 Add pronunciation to README.md
  README.md
Labels: kind/docs, lgtm/done

#4124 1.4.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4121 More detailed documentation on how to set up from binary
  contrib/init/centos/gitea
  contrib/init/debian/gitea
  contrib/init/freebsd/gitea
  contrib/init/gentoo/gitea
  contrib/init/openbsd/gitea
  contrib/init/suse/gitea
  contrib/systemd/gitea.service
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#4132 [docs] update debian package information
  docs/content/doc/installation/from-package.en-us.md
Labels: kind/docs, lgtm/done

#4135 Fix link in HTTPS doc
  docs/content/doc/usage/https-support.md
Labels: kind/docs, lgtm/done

#4151 Fix typo
  templates/admin/auth/edit.tmpl
Labels: kind/bug, lgtm/done

#4164 Show only needed values in database configuration section depending on type
  options/locale/locale_en-US.ini
  templates/admin/config.tmpl
Labels: kind/ui, lgtm/done

#4174 Improve logging for e-mail and OpenID already in use errors
  models/error.go
Labels: kind/docs, lgtm/done

#4145 Improve backup document and add zh-cn backup document
  docs/content/doc/usage/backup-and-restore.en-us.md
  docs/content/doc/usage/backup-and-restore.zh-cn.md
Labels: kind/docs, lgtm/done

#4128 Move Screenshots to Bottom
  README.md
Labels: kind/docs, lgtm/done

#4187 Add security advice to contrib guide
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#4165 Update backup and restore doc usage
  docs/content/doc/usage/backup-and-restore.en-us.md
Labels: kind/docs, lgtm/done

#4130 Only show "You cannot fork a repository you own" when needed.
  templates/repo/header.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#4184 Add config path as an optionial flag when changing pass via CLI
  cmd/admin.go
  docs/content/doc/usage/command-line.md
Labels: kind/enhancement, lgtm/done

#4203 undo part of #3142 because processes don't use the util.Timestamp
  templates/admin/monitor.tmpl
Labels: kind/bug, lgtm/done

#4192 HTML-escape plain-text READMEs in previews
  routers/repo/view.go
Labels: backport/v1.4, kind/bug, kind/security, lgtm/done

#4208 undo #3142 because processes don't use the util.Timestamp (#4203)
  templates/admin/monitor.tmpl
Labels: kind/bug, lgtm/done

#4213 Fixed spelling + clarity
  options/locale/locale_en-US.ini
Labels: kind/translation, lgtm/done

#4216 Fix delete comment bug
  models/issue_comment.go
Labels: backport/v1.4, kind/bug, lgtm/done

#4222 Fixed drone command in readme
  integrations/README.md
Labels: kind/docs, kind/testing, lgtm/done

#4228 fix delete comment bug (#4216)
  models/issue_comment.go
Labels: kind/bug, lgtm/done

#4195 Improve wiki content width.
  public/css/index.css
  public/less/_markdown.less
Labels: kind/bug, kind/ui, lgtm/done

#4220 Fix swagger errors
  .drone.yml
  public/swagger.v1.json
  routers/api/v1/misc/markdown.go
  routers/api/v1/org/hook.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/milestone.go
  routers/api/v1/repo/repo.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  routers/api/v1/user/app.go
  routers/api/v1/user/follower.go
Labels: kind/build, kind/docs, lgtm/done

#4207 Fix bug when deleting a release
  models/release.go
Labels: kind/bug, lgtm/done

#4232 Delete reactions added to issues and comments when deleting repository
  models/repo.go
Labels: kind/bug, lgtm/done

#4237 Delete reactions added to issues and comments when deleting repository (#4232)
  models/repo.go
Labels: kind/bug, lgtm/done

#4236 Fix swagger security part
  public/swagger.v1.json
  routers/api/v1/api.go
Labels: kind/api, kind/bug, kind/docs, lgtm/done

#4209 fix not respecting landing page setting
  integrations/setting_test.go
  modules/context/auth.go
  routers/home.go
Labels: kind/bug, lgtm/done

#4239 fix CreateIssueCommentOption reference
  public/swagger.v1.json
  routers/api/v1/repo/issue_comment.go
Labels: kind/docs, lgtm/done

#4091 Fix #4090 by escaping filename page/img link (without path) for short link
  modules/markup/html.go
  modules/markup/html_test.go
Labels: backport/v1.4, kind/bug, lgtm/done

#4251 Fix #4060 by showing second line of commit
  modules/templates/helper.go
Labels: backport/v1.4, kind/bug, lgtm/done

#4254 backport(#4091): Fix #4090 by escaping filename page/img link (without path) for short link
  modules/markup/html.go
  modules/markup/markdown/markdown_test.go
Labels: kind/bug, lgtm/done

#4263 Fix code tab link when viewing tags (#3908)
  templates/repo/header.tmpl
Labels: kind/bug, lgtm/done

#4264 Reorganized feature comparison
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done

#4256 Fix #4255 - missing close tags in U2F
  custom/conf/app.ini.sample
Labels: kind/docs, lgtm/done

#4214 [backport v1.4] HTML-escape plain-text READMEs (#4192)
  routers/repo/view.go
Labels: kind/bug, kind/security, lgtm/done

#4271 Fix milestone appliance and permission checks
  routers/api/v1/repo/issue.go
Labels: kind/bug, lgtm/done

#4201 Fix not removed watches on unallowed repositories
  models/issue_watch.go
  models/migrations/migrations.go
  models/migrations/v67.go
  models/org_team.go
  models/repo.go
  models/repo_collaboration.go
Labels: kind/bug, lgtm/done

#4275 Change parsing of postgresql settings
  models/models.go
  models/models_test.go
Labels: kind/bug, lgtm/done

#4281 Updated drone config to use the "next" git plugin
  .drone.yml
Labels: kind/build, lgtm/done

#4285 Fix webhook type conflation.
  routers/repo/webhook.go
  routers/routes/routes.go
Labels: backport/v1.4, kind/bug, lgtm/done

#4258 Fix topics addition (Another solution) (#4031)
  models/migrations/migrations.go
  models/migrations/v68.go
  models/topic.go
  models/topic_test.go
  options/locale/locale_en-US.ini
  public/js/index.js
  routers/repo/topic.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#4289 Fix webhook type conflation. (#4285)
  routers/repo/webhook.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#4034 hide issues from org private repos w/o team assignment
  integrations/api_repo_test.go
  models/access_test.go
  models/fixtures/repository.yml
  models/fixtures/team.yml
  models/fixtures/team_repo.yml
  models/fixtures/team_unit.yml
  models/fixtures/user.yml
  models/migrations/migrations.go
  models/migrations/v38.go
  models/migrations/v69.go
  models/models.go
  models/notification.go
  models/org.go
  models/org_team.go
  models/org_test.go
  models/repo.go
  models/repo_list_test.go
  models/repo_watch.go
  models/user.go
  models/user_test.go
  routers/org/teams.go
  routers/user/home.go
  routers/user/home_test.go
  templates/org/team/new.tmpl
Labels: kind/bug, lgtm/done

#4296 Remove call to update certs
  docker/etc/s6/gitea/setup
Labels: kind/bug, kind/deployment, lgtm/done

#4301 Add details about USER_UID and USER_GID environment variables
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#4188 Add gpg-sign step to drone
  .drone.yml
Labels: kind/build, kind/deployment, lgtm/done

#4304 Fix exclude files .sha265 to .sha256
  .drone.yml
Labels: kind/bug, kind/build, lgtm/done

#4306 Create api-usage doc page
  docs/content/doc/advanced/api-usage.en-us.md
Labels: kind/docs, lgtm/done

#4312 Fix open redirect vulnerability on login screen
  modules/util/util.go
  modules/util/util_test.go
  routers/user/auth.go
Labels: kind/security, lgtm/done

#4320 Backport #4312 to v1.4
  modules/util/util.go
  modules/util/util_test.go
  routers/user/auth.go
Labels: kind/security, lgtm/done

#4321 add 1.4.3 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4323 Backport 1.4.3 changelog to master branch
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4330 Add scope to Gitlab oauth request
  modules/auth/oauth2/oauth2.go
Labels: kind/bug, lgtm/done
