Repository go-gitea/gitea, pull requests merged in 2018-08, with the labels that each got.

#4578 Fix typo IsPullReuqestBroken -> IsPullRequestBroken
  routers/repo/pull.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/refactor, lgtm/done

#4581 fix panic issue on update avatar email (#4580)
  routers/user/setting/profile.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4590 fix panic issue on update avatar email (#4580)
  routers/user/setting/profile.go
Labels: kind/bug, lgtm/done

#3964 api: repos/search: add parameters to control the sort order
  routers/api/v1/repo/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#4594 Fix bugs when too many IN variables
  models/issue_list.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4597 fix bugs when too many IN variables (#4594)
  models/issue_list.go
Labels: kind/bug, lgtm/done

#3748 Pull request review/approval and comment on code
  custom/conf/app.ini.sample
  docs/content/doc/features/comparison.en-us.md
  models/error.go
  models/fixtures/comment.yml
  models/fixtures/review.yml
  models/git_diff.go
  models/git_diff_test.go
  models/issue_comment.go
  models/issue_comment_test.go
  models/migrations/migrations.go
  models/migrations/v72.go
  models/models.go
  models/pull.go
  models/review.go
  models/review_test.go
  modules/auth/repo_form.go
  modules/setting/setting.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/js/index.js
  public/less/_base.less
  public/less/_repository.less
  public/less/_review.less
  public/less/index.less
  routers/repo/issue.go
  routers/repo/pull.go
  routers/repo/pull_review.go
  routers/routes/routes.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/comment_form_datahandler.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/diff/new_comment.tmpl
  templates/repo/diff/new_review.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/feature, lgtm/done

#4616 Fix integer constant overflows in tests
  models/unit_tests.go
Labels: kind/bug, kind/testing, lgtm/done

#4533 Don't fail silently if trying to add a collaborator twice
  options/locale/locale_en-US.ini
  routers/repo/setting.go
  routers/repo/settings_test.go
Labels: kind/bug, lgtm/done

#4535 An inactive user shouldn't be able to be added as a collaborator
  options/locale/locale_en-US.ini
  routers/api/v1/repo/collaborators.go
  routers/repo/setting.go
  routers/repo/settings_test.go
Labels: kind/bug, lgtm/done

#4632 prevent empty review comment
  modules/auth/repo_form.go
  modules/auth/repo_form_test.go
  options/locale/locale_en-US.ini
  routers/repo/pull_review.go
Labels: kind/bug, kind/ui, lgtm/done

#4628 Fix starring icon after semantic ui update
  templates/repo/header.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#4560 cmd/serve: pprof cpu and memory profile dumps to disk
  cmd/serv.go
  custom/conf/app.ini.sample
  modules/pprof/pprof.go
  modules/setting/setting.go
Labels: lgtm/done

#4607 Push whitelist now doesn't apply to branch deletion (#4601)
  models/branches.go
  modules/context/repo.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4636 Show review comment box only on a pull request page
  templates/repo/diff/box.tmpl
Labels: kind/ui, lgtm/done

#4638 Fix custom templates being ignored
  modules/templates/static.go
Labels: kind/bug, lgtm/done

#4639 Remove link to GitHub issues in 404 template
  templates/status/404.tmpl
Labels: backport/done, backport/v1.5, kind/ui, lgtm/done

#4645 Site admin could create repos even MAX_CREATION_LIMIT=0
  models/repo.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4650 Site admin could create repos even MAX_CREATION_LIMIT=0 (#4645)
  models/repo.go
Labels: kind/bug, lgtm/done

#4622 Fix Split-View line adjustment
  templates/repo/diff/box.tmpl
Labels: kind/bug, lgtm/done

#4662 1.5.0 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4661 Add 1.5.0 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4654 Add gitea/issues link to 500 page
  templates/status/500.tmpl
Labels: kind/ui, lgtm/done

#4615 log user in after a successful sign up
  options/locale/locale_en-US.ini
  routers/user/auth.go
Labels: kind/enhancement, kind/ui, lgtm/done

#4670 Update gitea version in install-from-binary docs
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#4673 Enable swagger validation back as issue with it has been fixed upstream
  .drone.yml
Labels: kind/build, lgtm/done

#4668 Use updated docs link on install page
  routers/install.go
Labels: kind/docs, lgtm/done

#4674 Fix dark theme diff box header backround color
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/ui, lgtm/done

#4680 Hide org/create menu item in Dashboard if user has no rights (#4678)
  templates/user/dashboard/navbar.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#4685 Add vendor to user reserved words and format words list according alphabet
  models/user.go
Labels: kind/misc, lgtm/done

#4529 Disable merging a WIP Pull request
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/usage/pull-request.en-us.md
  integrations/api_pull_test.go
  integrations/pull_merge_test.go
  models/pull.go
  models/pull_test.go
  modules/setting/defaults.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  public/js/index.js
  routers/api/v1/repo/pull.go
  routers/repo/issue.go
  routers/repo/pull.go
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/feature, lgtm/done

#4683 Add whitespace handling to PR-comparsion
  models/git_diff.go
  options/locale/locale_en-US.ini
  routers/repo/middlewares.go
  routers/repo/pull.go
  routers/routes/routes.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/whitespace_dropdown.tmpl
Labels: kind/enhancement, lgtm/done

#4706 Make cookies HttpOnly and obey COOKIE_SECURE flag
  routers/routes/routes.go
  routers/user/auth.go
  routers/user/auth_openid.go
  routers/user/setting/profile.go
Labels: backport/done, backport/v1.5, kind/security, lgtm/done

#4707 Backport of Make cookies HttpOnly and obey COOKIE_SECURE flag (#4706)
  routers/routes/routes.go
  routers/user/auth.go
  routers/user/auth_openid.go
  routers/user/setting/profile.go
Labels: kind/security, lgtm/done

#4710 Improve URL validation for external wiki and external issues
  modules/validation/binding.go
  modules/validation/helpers.go
  modules/validation/helpers_test.go
  options/locale/locale_en-US.ini
  routers/repo/setting.go
Labels: backport/v1.5, kind/security, lgtm/done

#4717 Fix incorrect caption of webhook setting (#4701)
  options/locale/locale_en-US.ini
Labels: backport/v1.5, kind/bug, kind/translation, lgtm/done

#4718 Backport of Fix incorrect caption of webhook setting (#4701)
  options/locale/locale_en-US.ini
Labels: kind/bug, kind/translation, lgtm/done

#4722 Remove UsePrivilegeSeparation from the Docker sshd_config, see #2876
  docker/etc/ssh/sshd_config
Labels: kind/deployment, lgtm/done

#4583 Fix failure on creating pull request with assignees (#4419)
  models/issue.go
  models/issue_assignees.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4727 Backport of Fix failure on creating pull request with assignees (#4583)
  models/issue.go
  models/issue_assignees.go
Labels: kind/bug, lgtm/done

#4731 Add whitespace between ch characters and en characters.
  README_ZH.md
Labels: kind/docs, lgtm/done

#4746 Display error when adding a user to a team twice
  options/locale/locale_en-US.ini
  routers/org/teams.go
Labels: kind/ui, lgtm/done

#4709 Allow WIP marker to contains < or >
  templates/repo/issue/new_form.tmpl
Labels: kind/bug, lgtm/done

#4729 User shouldn't be able to approve or reject his/her own PR
  options/locale/locale_en-US.ini
  routers/repo/pull_review.go
  templates/repo/diff/new_review.tmpl
  templates/repo/pulls/files.tmpl
Labels: kind/bug, lgtm/done

#4189 add letsencrypt to Gitea
  Gopkg.lock
  Gopkg.toml
  cmd/web.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/usage/https-support.md
  modules/setting/setting.go
  vendor/golang.org/x/crypto/acme/acme.go
  vendor/golang.org/x/crypto/acme/autocert/autocert.go
  vendor/golang.org/x/crypto/acme/autocert/cache.go
  vendor/golang.org/x/crypto/acme/autocert/listener.go
  vendor/golang.org/x/crypto/acme/autocert/renewal.go
  vendor/golang.org/x/crypto/acme/jws.go
  vendor/golang.org/x/crypto/acme/types.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/internal/chacha20/xor.go
  vendor/golang.org/x/crypto/poly1305/poly1305.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_arm.go
  vendor/golang.org/x/crypto/poly1305/sum_arm.s
  vendor/golang.org/x/crypto/poly1305/sum_ref.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
Labels: kind/feature, lgtm/done

#4719 Fixed bug where team with admin privelege type doesn't get any unit
  routers/org/teams.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4759 Backport : Fixed bug where team with admin privelege type doesn't get any unit
  routers/org/teams.go
Labels: kind/bug, lgtm/done

#4720 Make sure to reset commit count in the cache on mirror syncing
  models/repo_mirror.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4777 Add myself to maintainers
  MAINTAINERS
Labels: lgtm/done

#4642 MySQL TLS
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/models.go
Labels: kind/enhancement, lgtm/done

#4775 API /admin/users/{username} missing parameter
  Gopkg.lock
  routers/api/v1/admin/user.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/user.go
Labels: kind/api, lgtm/done

#4664 Don't disclose emails of all users when sending out emails
  models/issue_mail.go
Labels: kind/security, lgtm/done

#4780 Disable 'May Import Local Repository' when is disabled by setting (Is…
  modules/templates/helper.go
  templates/admin/user/edit.tmpl
Labels: kind/ui, lgtm/done

#4784 Don't disclose emails of all users when sending out emails
  models/issue_mail.go
Labels: kind/security, lgtm/done

#4618 Update en-us and fr-fr versions of the "Upgrade from Gogs" doc
  docs/content/doc/upgrade/from-gogs.en-us.md
  docs/content/doc/upgrade/from-gogs.fr-fr.md
Labels: kind/docs, kind/translation, lgtm/done

#4800 Backport: Fix missing release title in webhook (#4783)
  models/release.go
Labels: kind/bug, lgtm/done

#4801 Add Orzech to translator list
  options/locale/TRANSLATORS
Labels: lgtm/done

#4802 Locale for Edit and Remove due date issue
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/ui, lgtm/done

#4812 Update legacy branch and tag URLs in dashboard to new format
  options/locale/locale_en-US.ini
Labels: kind/enhancement, lgtm/done

#4819 Upgrade images in .drone.yml to more recent versions
  .drone.yml
  modules/markup/html.go
  modules/templates/helper.go
Labels: kind/build, lgtm/done

#4818 update image used for build-without-gcc step
  .drone.yml
Labels: kind/build, lgtm/done

#4643 Make reverse proxy auth optional
  routers/repo/http.go
Labels: kind/enhancement, lgtm/done
