Repository go-gitea/gitea, pull requests merged in 2018-07, with the labels that each got.

#4345 Add myself as a maintainer
  MAINTAINERS
Labels: lgtm/done

#4349 Update TRANSLATORS
  options/locale/TRANSLATORS
Labels: kind/docs, lgtm/done

#4353 Limit uploaded avatar image-size to 4096x3072 by default
  custom/conf/app.ini.sample
  models/user.go
  modules/setting/setting.go
Labels: kind/enhancement, kind/security, lgtm/done

#4324 Add changelog for 1.5.0-RC1
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4161 Dep upgrade mysql lib
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/go-sql-driver/mysql/AUTHORS
  vendor/github.com/go-sql-driver/mysql/appengine.go
  vendor/github.com/go-sql-driver/mysql/auth.go
  vendor/github.com/go-sql-driver/mysql/buffer.go
  vendor/github.com/go-sql-driver/mysql/collations.go
  vendor/github.com/go-sql-driver/mysql/connection.go
  vendor/github.com/go-sql-driver/mysql/connection_go18.go
  vendor/github.com/go-sql-driver/mysql/const.go
  vendor/github.com/go-sql-driver/mysql/driver.go
  vendor/github.com/go-sql-driver/mysql/dsn.go
  vendor/github.com/go-sql-driver/mysql/errors.go
  vendor/github.com/go-sql-driver/mysql/fields.go
  vendor/github.com/go-sql-driver/mysql/infile.go
  vendor/github.com/go-sql-driver/mysql/packets.go
  vendor/github.com/go-sql-driver/mysql/rows.go
  vendor/github.com/go-sql-driver/mysql/statement.go
  vendor/github.com/go-sql-driver/mysql/transaction.go
  vendor/github.com/go-sql-driver/mysql/utils.go
  vendor/github.com/go-sql-driver/mysql/utils_go17.go
  vendor/github.com/go-sql-driver/mysql/utils_go18.go
Labels: kind/bug, kind/build, lgtm/done

#4287 Increase default TOTP secret size to 320 bits
  routers/user/setting/security_twofa.go
Labels: kind/enhancement, lgtm/done

#4355 #4354 Fix translation
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#4343 Update notification icon
  templates/base/head.tmpl
Labels: kind/ui, lgtm/done

#4328 Add `noreferrer` to rel='noopener` for <a> tags
  models/repo.go
  options/locale/locale_en-US.ini
  templates/base/footer.tmpl
  templates/home.tmpl
  templates/mail/auth/activate.tmpl
  templates/mail/auth/activate_email.tmpl
  templates/mail/auth/register_notify.tmpl
  templates/mail/auth/reset_passwd.tmpl
  templates/org/home.tmpl
  templates/repo/commit_status.tmpl
  templates/repo/header.tmpl
  templates/repo/issue/labels.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/release/list.tmpl
  templates/repo/user_cards.tmpl
  templates/user/profile.tmpl
Labels: kind/enhancement, kind/security, lgtm/done

#4284 Keep preseeded database password
  routers/install.go
Labels: kind/enhancement, lgtm/done

#2181 Add missing path in the Docker app.ini template
  Dockerfile
  docker/etc/templates/app.ini
Labels: kind/enhancement, lgtm/done

#4080 Fix typos in i18n variable names.
  options/locale/locale_en-US.ini
  templates/repo/create.tmpl
  templates/repo/migrate.tmpl
  templates/repo/pulls/fork.tmpl
  templates/repo/settings/options.tmpl
Labels: kind/refactor, lgtm/done

#4363 fix repository last updated time update when delete a user who watched the repo
  models/user.go
Labels: kind/enhancement, lgtm/done

#4366 Check that repositories can only be migrated to own user or organizations
  integrations/api_repo_test.go
  routers/api/v1/repo/repo.go
Labels: changelog, kind/api, kind/security, lgtm/done

#4370 Check that repositories can only be migrated to own user or organizations (#4366)
  integrations/api_repo_test.go
  routers/api/v1/repo/repo.go
Labels: changelog, kind/bug, kind/security, lgtm/done

#4368 Allow administrator to create repository for any organization
  integrations/api_repo_test.go
  routers/api/v1/repo/repo.go
Labels: changelog, kind/enhancement, lgtm/done

#4369 Add default merge options when creating new repository
  models/repo.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4044 Add Recaptcha functionality to Gitea
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/auth/user_form.go
  modules/auth/user_form_auth_openid.go
  modules/recaptcha/recaptcha.go
  modules/setting/setting.go
  public/css/index.css
  public/less/_form.less
  routers/user/auth.go
  routers/user/auth_openid.go
  templates/base/footer.tmpl
  templates/user/auth/signup_inner.tmpl
  templates/user/auth/signup_openid_register.tmpl
Labels: changelog, kind/feature, lgtm/done

#4371 fix repository last updated time update when delete a user who watchedthe repo (#4363)
  models/user.go
Labels: kind/enhancement, lgtm/done

#4341 Fixes repo membership check in API
  routers/api/v1/org/member.go
Labels: backport/v1.5, kind/api, kind/bug, lgtm/done

#4373 Add default merge options when adding new repository (#4369)
  models/repo.go
Labels: kind/bug, lgtm/done

#4280 Don't display buttons if there are no system notifications
  templates/admin/notice.tmpl
Labels: kind/ui, lgtm/done

#4261 Implemented hover text showing user FullName
  models/action.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#4379 Backport "Fixes repo membership check in API" to release/v1.5
  routers/api/v1/org/member.go
Labels: kind/api, kind/bug, lgtm/done

#4377 Replace src with raw to fix image paths
  modules/markup/markdown/markdown.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4381 GPG verification docs
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#4383 Add git timeout settings docs
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: kind/docs, lgtm/done

#4386 Backport "Replace src with raw to fix image paths" to "release/1.5" (#4377)
  modules/markup/markdown/markdown.go
Labels: kind/bug, lgtm/done

#4235 Add ability to delete a token
  Gopkg.lock
  integrations/api_token_test.go
  integrations/integration_test.go
  public/swagger.v1.json
  routers/api/v1/api.go
  routers/api/v1/user/app.go
  vendor/code.gitea.io/sdk/gitea/user_app.go
Labels: kind/api, kind/enhancement, lgtm/done

#4397 Added question for Gitea hosted Gitea
  README.md
Labels: lgtm/done

#4406 update TRANSLATORS
  options/locale/TRANSLATORS
Labels: kind/docs, lgtm/done

#4423 Disable swagger validation while it is not fixed in upstream
  .drone.yml
Labels: kind/build, lgtm/done

#4420 Replaced docker docs with netlify deployment
  .drone.yml
  docs/Dockerfile
  docs/config.yaml
  docs/docker/caddy.conf
  docs/static/.gitkeep
  docs/static/_headers
  docs/static/_redirects
Labels: kind/build, kind/docs, lgtm/done

#4415 Update npm dependencies, regenerate CSS
  package-lock.json
  package.json
  public/css/index.css
Labels: kind/build, lgtm/done

#4427 Use correct site id for netlify
  .drone.yml
Labels: lgtm/done

#4380 Fix drone git@next plugin Gitea version display when building tag
  Makefile
Labels: backport/v1.5, kind/build, lgtm/done

#4432 Final CSP header fix for documentation
  docs/static/_headers
Labels: kind/docs, lgtm/done

#4431 Disable swagger validation while it is not fixed in upstream (#4423)
  .drone.yml
Labels: kind/build, lgtm/done

#4421 Fix query parameter name comment in issue API
  public/swagger.v1.json
  routers/api/v1/repo/issue_comment.go
Labels: kind/docs, lgtm/done

#4430 Fix drone git@next plugin Gitea version display when building tag (#4380)
  Makefile
Labels: kind/build, lgtm/done

#4440 Fix column droping for MSSQL that need new transaction for that
  models/migrations/v64.go
  models/migrations/v69.go
Labels: backport/v1.5, kind/bug, lgtm/done, priority/critical

#4442 Locale for button Edit on protected branch
  options/locale/locale_en-US.ini
  templates/repo/settings/branches.tmpl
Labels: kind/ui, lgtm/done

#4443 Clean up arc-green theme
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/ui, lgtm/done

#4316 Added front-end topics validation
  public/js/index.js
  public/vendor/VERSIONS
  public/vendor/librejs.html
  public/vendor/plugins/semantic/semantic.min.css
  public/vendor/plugins/semantic/semantic.min.js
  public/vendor/plugins/semantic/themes/default/assets/fonts/brand-icons.eot
  public/vendor/plugins/semantic/themes/default/assets/fonts/brand-icons.svg
  public/vendor/plugins/semantic/themes/default/assets/fonts/brand-icons.ttf
  public/vendor/plugins/semantic/themes/default/assets/fonts/brand-icons.woff
  public/vendor/plugins/semantic/themes/default/assets/fonts/brand-icons.woff2
  public/vendor/plugins/semantic/themes/default/assets/fonts/icons.eot
  public/vendor/plugins/semantic/themes/default/assets/fonts/icons.svg
  public/vendor/plugins/semantic/themes/default/assets/fonts/icons.ttf
  public/vendor/plugins/semantic/themes/default/assets/fonts/icons.woff
  public/vendor/plugins/semantic/themes/default/assets/fonts/icons.woff2
  public/vendor/plugins/semantic/themes/default/assets/fonts/outline-icons.eot
  public/vendor/plugins/semantic/themes/default/assets/fonts/outline-icons.svg
  public/vendor/plugins/semantic/themes/default/assets/fonts/outline-icons.ttf
  public/vendor/plugins/semantic/themes/default/assets/fonts/outline-icons.woff
  public/vendor/plugins/semantic/themes/default/assets/fonts/outline-icons.woff2
  public/vendor/plugins/semantic/themes/material/assets/fonts/icons.eot
  public/vendor/plugins/semantic/themes/material/assets/fonts/icons.svg
  public/vendor/plugins/semantic/themes/material/assets/fonts/icons.ttf
  public/vendor/plugins/semantic/themes/material/assets/fonts/icons.woff
  public/vendor/plugins/semantic/themes/material/assets/fonts/icons.woff2
  templates/repo/home.tmpl
Labels: kind/ui, lgtm/done

#3890 Issue due date api
  options/locale/locale_en-US.ini
  public/css/index.css
  public/js/index.js
  public/less/_repository.less
  public/swagger.v1.json
  routers/api/v1/api.go
  routers/api/v1/repo/issue.go
  routers/api/v1/swagger/issue.go
  routers/api/v1/swagger/options.go
  routers/repo/issue.go
  routers/routes/routes.go
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/api, lgtm/done

#4446 Add BSDmakefile to prevent errors when `make` is called under FreeBSD
  BSDmakefile
Labels: kind/build, lgtm/done

#2531 Added dependencies for issues (#2196)
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/action.go
  models/error.go
  models/issue.go
  models/issue_comment.go
  models/issue_dependency.go
  models/issue_dependency_test.go
  models/migrations/migrations.go
  models/migrations/v70.go
  models/models.go
  models/repo.go
  models/repo_unit.go
  modules/auth/repo_form.go
  modules/context/repo.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  public/js/index.js
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
  routers/repo/issue.go
  routers/repo/issue_dependency.go
  routers/repo/pull.go
  routers/repo/setting.go
  routers/routes/routes.go
  templates/admin/config.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/settings/options.tmpl
Labels: kind/feature, lgtm/done

#4460 relative URLs for LibreJS page
  public/vendor/librejs.html
Labels: kind/bug, lgtm/done

#4461 Add valid for lfs oid
  modules/lfs/server.go
Labels: backport/v1.5, kind/enhancement, lgtm/done

#4458 Redirect to correct page after using scratch token
  routers/user/auth.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4472 backport: Redirect to correct page after using scratch token
  routers/user/auth.go
Labels: kind/bug, lgtm/done

#4473 Update xorm to latest version and fix correct `user` table referencing in sql
  Gopkg.lock
  Gopkg.toml
  models/issue.go
  models/issue_list.go
  models/issue_watch.go
  models/org.go
  models/repo.go
  models/repo_watch.go
  models/user.go
  vendor/github.com/go-xorm/builder/builder.go
  vendor/github.com/go-xorm/builder/builder_insert.go
  vendor/github.com/go-xorm/builder/builder_select.go
  vendor/github.com/go-xorm/builder/cond.go
  vendor/github.com/go-xorm/builder/cond_compare.go
  vendor/github.com/go-xorm/builder/cond_eq.go
  vendor/github.com/go-xorm/builder/cond_like.go
  vendor/github.com/go-xorm/builder/cond_neq.go
  vendor/github.com/go-xorm/builder/cond_not.go
  vendor/github.com/go-xorm/builder/strings_builder.go
  vendor/github.com/go-xorm/core/column.go
  vendor/github.com/go-xorm/core/db.go
  vendor/github.com/go-xorm/core/dialect.go
  vendor/github.com/go-xorm/core/filter.go
  vendor/github.com/go-xorm/core/index.go
  vendor/github.com/go-xorm/core/rows.go
  vendor/github.com/go-xorm/core/table.go
  vendor/github.com/go-xorm/core/type.go
  vendor/github.com/go-xorm/xorm/dialect_mysql.go
  vendor/github.com/go-xorm/xorm/dialect_postgres.go
  vendor/github.com/go-xorm/xorm/engine.go
  vendor/github.com/go-xorm/xorm/engine_cond.go
  vendor/github.com/go-xorm/xorm/engine_table.go
  vendor/github.com/go-xorm/xorm/error.go
  vendor/github.com/go-xorm/xorm/helpers.go
  vendor/github.com/go-xorm/xorm/interface.go
  vendor/github.com/go-xorm/xorm/rows.go
  vendor/github.com/go-xorm/xorm/session.go
  vendor/github.com/go-xorm/xorm/session_cols.go
  vendor/github.com/go-xorm/xorm/session_delete.go
  vendor/github.com/go-xorm/xorm/session_exist.go
  vendor/github.com/go-xorm/xorm/session_find.go
  vendor/github.com/go-xorm/xorm/session_get.go
  vendor/github.com/go-xorm/xorm/session_insert.go
  vendor/github.com/go-xorm/xorm/session_query.go
  vendor/github.com/go-xorm/xorm/session_schema.go
  vendor/github.com/go-xorm/xorm/session_tx.go
  vendor/github.com/go-xorm/xorm/session_update.go
  vendor/github.com/go-xorm/xorm/statement.go
  vendor/github.com/go-xorm/xorm/xorm.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4477 add valid for lfs oid (#4461)
  modules/lfs/server.go
Labels: kind/enhancement, lgtm/done

#4481 Improve English translation for Gitea 1.5 features
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#4483 Update xorm to latest version and fix correct `user` table referencing in sql (#4473)
  Gopkg.lock
  Gopkg.toml
  models/issue.go
  models/issue_list.go
  models/issue_watch.go
  models/org.go
  models/repo.go
  models/repo_watch.go
  models/user.go
  vendor/github.com/go-xorm/builder/builder.go
  vendor/github.com/go-xorm/builder/builder_insert.go
  vendor/github.com/go-xorm/builder/builder_select.go
  vendor/github.com/go-xorm/builder/cond.go
  vendor/github.com/go-xorm/builder/cond_compare.go
  vendor/github.com/go-xorm/builder/cond_eq.go
  vendor/github.com/go-xorm/builder/cond_like.go
  vendor/github.com/go-xorm/builder/cond_neq.go
  vendor/github.com/go-xorm/builder/cond_not.go
  vendor/github.com/go-xorm/builder/strings_builder.go
  vendor/github.com/go-xorm/core/column.go
  vendor/github.com/go-xorm/core/db.go
  vendor/github.com/go-xorm/core/dialect.go
  vendor/github.com/go-xorm/core/filter.go
  vendor/github.com/go-xorm/core/index.go
  vendor/github.com/go-xorm/core/rows.go
  vendor/github.com/go-xorm/core/table.go
  vendor/github.com/go-xorm/core/type.go
  vendor/github.com/go-xorm/xorm/dialect_mysql.go
  vendor/github.com/go-xorm/xorm/dialect_postgres.go
  vendor/github.com/go-xorm/xorm/engine.go
  vendor/github.com/go-xorm/xorm/engine_cond.go
  vendor/github.com/go-xorm/xorm/engine_table.go
  vendor/github.com/go-xorm/xorm/error.go
  vendor/github.com/go-xorm/xorm/helpers.go
  vendor/github.com/go-xorm/xorm/interface.go
  vendor/github.com/go-xorm/xorm/rows.go
  vendor/github.com/go-xorm/xorm/session.go
  vendor/github.com/go-xorm/xorm/session_cols.go
  vendor/github.com/go-xorm/xorm/session_delete.go
  vendor/github.com/go-xorm/xorm/session_exist.go
  vendor/github.com/go-xorm/xorm/session_find.go
  vendor/github.com/go-xorm/xorm/session_get.go
  vendor/github.com/go-xorm/xorm/session_insert.go
  vendor/github.com/go-xorm/xorm/session_query.go
  vendor/github.com/go-xorm/xorm/session_schema.go
  vendor/github.com/go-xorm/xorm/session_tx.go
  vendor/github.com/go-xorm/xorm/session_update.go
  vendor/github.com/go-xorm/xorm/statement.go
  vendor/github.com/go-xorm/xorm/xorm.go
Labels: kind/bug, lgtm/done

#4105 Add csv file render support defaultly
  main.go
  modules/markup/csv/csv.go
  modules/markup/csv/csv_test.go
Labels: kind/feature, lgtm/done

#4485 Prevent html entity escaping (#4471)
  templates/repo/branch/list.tmpl
  templates/repo/issue/view_content.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#4488 Add 1.5.0-rc2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#4487 Accept 'Data:' in commit graph
  models/graph.go
  models/graph_test.go
Labels: kind/bug, lgtm/done

#4495 Fix migration from older releases
  models/migrations/v39.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4498 Make max commits in graph configurable
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/graph.go
  modules/setting/setting.go
Labels: kind/enhancement, kind/ui, lgtm/done

#4452 Add shortcut to save wiki page
  public/js/index.js
  templates/repo/wiki/new.tmpl
Labels: kind/enhancement, lgtm/done

#4512 Respect email privacy option in user search via API
  routers/api/v1/user/user.go
Labels: kind/api, kind/breaking, kind/bug, lgtm/done

#4510 add flash message after an account has been successfully activated
  options/locale/locale_en-US.ini
  routers/user/auth.go
Labels: kind/ui, lgtm/done

#4517 Fix doc typo
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done

#4516 env var GITEA_PUSHER_EMAIL
  models/update.go
  routers/repo/http.go
Labels: kind/enhancement, lgtm/done

#4522 Fix out-of-transaction query in removeOrgUser (#4521)
  models/org.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4331 Switch plaintext scratch tokens to use hash instead
  models/migrations/migrations.go
  models/migrations/v71.go
  models/twofactor.go
  routers/user/auth.go
  routers/user/setting/security_twofa.go
Labels: kind/enhancement, kind/security, lgtm/done

#4524 Backport "Fix out-of-transaction query in removeOrgUser (#4521)" to release/v1.5
  models/org.go
Labels: lgtm/done

#4525 Fix incorrect MergeWhitelistTeamIDs check in CanUserMerge function (#4519)
  models/branches.go
Labels: backport/v1.5, kind/bug, lgtm/done

#4526 Backport for "Fix incorrect MergeWhitelistTeamIDs check in CanUserMerge function" to v1.5 branch
  models/branches.go
Labels: kind/bug, lgtm/done

#3572 Swagger.v1.json template
  Makefile
  custom/conf/app.ini.sample
  docs/.gitignore
  modules/context/context.go
  modules/setting/setting.go
  modules/templates/dynamic.go
  modules/templates/static.go
  routers/api/v1/api.go
  routers/api/v1/misc/swagger.go
  routers/routes/routes.go
  routers/swagger_json.go
  templates/base/footer.tmpl
  templates/swagger/ui.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/breaking, kind/bug, kind/docs, lgtm/done

#4551 Update jQuery to v1.12.4
  public/vendor/VERSIONS
  public/vendor/librejs.html
  public/vendor/plugins/jquery/jquery.min.js
Labels: kind/refactor, kind/ui, lgtm/done

#4500 Add documentation on how to update Gitea to new version
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done
