Repository go-gitea/gitea, pull requests merged in 2018-10, with the labels that each got.

#4999 Upgrade gopkg.in/testfixtures.v2
  Gopkg.lock
  vendor/gopkg.in/testfixtures.v2/deprecated.go
  vendor/gopkg.in/testfixtures.v2/errors.go
  vendor/gopkg.in/testfixtures.v2/generate.go
  vendor/gopkg.in/testfixtures.v2/helper.go
  vendor/gopkg.in/testfixtures.v2/json.go
  vendor/gopkg.in/testfixtures.v2/mysql.go
  vendor/gopkg.in/testfixtures.v2/oracle.go
  vendor/gopkg.in/testfixtures.v2/postgresql.go
  vendor/gopkg.in/testfixtures.v2/sqlite.go
  vendor/gopkg.in/testfixtures.v2/sqlserver.go
  vendor/gopkg.in/testfixtures.v2/testfixtures.go
  vendor/gopkg.in/testfixtures.v2/time.go
Labels: kind/bug, lgtm/done

#5004 README: update make command to build full release
  README.md
Labels: kind/docs, lgtm/done

#5007 Add missing envionment vars for DB with Docker
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#5015 Fix a typo in app.ini.sample
  custom/conf/app.ini.sample
Labels: lgtm/done

#5017 Hide outdated comments in file view
  models/fixtures/comment.yml
  models/issue_comment.go
Labels: kind/bug, lgtm/done

#5021 Fix missing AppSubUrl in few more templates (fixup)
  templates/repo/home.tmpl
  templates/user/auth/u2f.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#5030 Backport: Remove links from topics in edit mode
  templates/repo/home.tmpl
Labels: kind/bug, lgtm/done

#5038 Fix adding review comment in split view
  templates/repo/diff/box.tmpl
Labels: kind/bug, lgtm/done

#5052 1.5.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5053 Backport 1.5.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5054 Add HOWTO for releasing Gitea
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#5061 Fixed spelling typos in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#5079 Fix golint to new URL
  Makefile
Labels: kind/build, lgtm/done, priority/critical

#5078 Fix dep for actual goth version used in dep lock file
  Gopkg.toml
Labels: kind/docs, lgtm/done

#5076 fix release creation via API
  models/release.go
  models/release_test.go
Labels: kind/api, kind/bug, lgtm/done

#5091 Update release process docs to include tag vX.Y.0-dev on master branch
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#5095 Add change log for 1.6.0-rc1
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5086 ZH-CN translation of Usage part
  docs/content/doc/usage.zh-cn.md
  docs/content/doc/usage/backup-and-restore.zh-cn.md
  docs/content/doc/usage/issue-pull-request-templates.zh-cn.md
  docs/content/doc/usage/pull-request.zh-cn.md
  docs/content/doc/usage/reverse-proxies.en-us.md
  docs/content/doc/usage/reverse-proxies.zh-cn.md
Labels: kind/docs, kind/translation, lgtm/done

#5098 add myself to maintainers
  MAINTAINERS
Labels: lgtm/done

#5049 CN translation of docs part
  docs/README_ZH.md
Labels: kind/docs, kind/translation, lgtm/done

#5097 Backport: Fix regex to support optional end line of old section in diff hunk
  models/git_diff.go
Labels: kind/bug, lgtm/done

#5096 Fix regex to support optional end line of old section in diff hunk
  models/git_diff.go
Labels: backport/v1.6, kind/bug, lgtm/done

#4939 feat(topic): search keyword by splitting provided values by ,
  models/repo_list.go
  models/repo_list_test.go
Labels: kind/feature, lgtm/done

#5101 Add myself to maintainers
  MAINTAINERS
Labels: lgtm/done

#5099 Use fingerprint in place of id for signing key
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#5093 refactor: err != nil check, just return error instead
  cmd/admin.go
  models/migrations/v68.go
Labels: kind/refactor, lgtm/done

#5089 ZH-CN translation of Installation part
  docs/content/doc/installation/run-as-service-in-ubuntu.zh-cn.md
Labels: kind/docs, kind/translation, lgtm/done

#4930 Use native go method to get current user rather than environment variable
  modules/user/user.go
  modules/user/user_test.go
Labels: kind/enhancement, lgtm/done

#5048 Use APP_NAME on home page
  templates/home.tmpl
Labels: kind/ui, lgtm/done

#4876 Add support for search by uid
  models/user.go
  routers/api/v1/user/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#5102 Fix home page template regression
  templates/home.tmpl
Labels: kind/bug, kind/regression, lgtm/done

#5119 Make switch more clear
  models/review.go
Labels: kind/refactor, lgtm/done

#5118 Fix deadlock when sqlite
  models/repo.go
  models/wiki.go
Labels: kind/bug, lgtm/done

#5121 Remove duplicated if bodies
  models/user.go
Labels: kind/enhancement, kind/refactor, lgtm/done

#5122 Use type switch
  modules/base/tool.go
  modules/base/tool_test.go
Labels: kind/enhancement, kind/refactor, lgtm/done

#4716 Give user a link to create PR after push
  cmd/hook.go
  modules/private/repository.go
  routers/private/internal.go
  routers/private/repository.go
Labels: changelog, kind/feature, lgtm/done

#5129 Add LFS timeout issue to troubleshooting doc
  docs/content/doc/help/troubleshooting.en-us.md
Labels: kind/docs, lgtm/done

#5128 fix fading menu in arc-green theme
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/ui, lgtm/done

#5125 Retry test-fixtures loading in case of transaction rollback
  models/test_fixtures.go
Labels: kind/testing, lgtm/done

#4955 Add must-change-password flag to cli for creating a user
  cmd/admin.go
Labels: kind/enhancement, lgtm/done

#4845 Fix Swagger JSON autogeneration issues.
  routers/api/v1/admin/org.go
  routers/api/v1/admin/repo.go
  routers/api/v1/admin/user.go
  routers/api/v1/org/hook.go
  routers/api/v1/org/member.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_label.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/key.go
  routers/api/v1/repo/label.go
  routers/api/v1/repo/milestone.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/release_attachment.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/app.go
  routers/api/v1/user/gpg_key.go
  routers/api/v1/user/key.go
  routers/api/v1/user/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#5134 Increase the retry limit to 20 times and the interval to 200ms
  models/test_fixtures.go
Labels: kind/testing, lgtm/done

#5137 Fix SQL quoting
  models/user_openid.go
Labels: kind/bug, lgtm/done

#5104 Add comment replies
  modules/auth/repo_form.go
  routers/repo/pull_review.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: backport/v1.6, kind/bug, kind/enhancement, kind/ui, lgtm/done

#5131 User action heatmap
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/unit_tests.go
  models/user_heatmap.go
  models/user_heatmap_test.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_base.less
  public/less/_user.less
  public/vendor/VERSIONS
  public/vendor/librejs.html
  public/vendor/plugins/calendar-heatmap/calendar-heatmap.css
  public/vendor/plugins/calendar-heatmap/calendar-heatmap.js
  public/vendor/plugins/d3/d3.v4.min.js
  public/vendor/plugins/moment/moment.min.js
  routers/api/v1/api.go
  routers/api/v1/swagger/user.go
  routers/api/v1/user/user.go
  routers/user/home.go
  routers/user/profile.go
  templates/base/footer.tmpl
  templates/base/head.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/dashboard/dashboard.tmpl
  templates/user/profile.tmpl
Labels: changelog, kind/feature, kind/ui, lgtm/done

#5144 Update build tags for sqlite_unlock notify
  .drone.yml
  Dockerfile
  Makefile
  contrib/ide/vscode/launch.json
  contrib/ide/vscode/tasks.json
  docker/Makefile
  snap/snapcraft.yaml
Labels: kind/bug, kind/testing, lgtm/done

#5147 Add comment replies
  modules/auth/repo_form.go
  routers/repo/pull_review.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: lgtm/done

#5146 Update outdated Go toolchain version for .drone.yml
  .drone.yml
Labels: kind/testing, lgtm/done

#5145 Update the docs for sqlite_unlock_notify
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/installation/from-source.fr-fr.md
  docs/content/doc/installation/from-source.zh-cn.md
  docs/content/doc/installation/from-source.zh-tw.md
Labels: kind/docs, lgtm/done

#5162 Update vendor/github.com/mattn/go-sqlite3
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_unlock_notify.go
Labels: kind/build, lgtm/done

#5154 Fix JSON result of empty array in heatmap data array
  models/user_heatmap.go
  models/user_heatmap_test.go
Labels: kind/api, kind/bug, lgtm/done

#5165 Set heatmap color range configurable
  custom/conf/app.ini.sample
  modules/setting/setting.go
  modules/templates/helper.go
  templates/base/footer.tmpl
Labels: kind/ui, lgtm/done

#5167 Revert #5146
  .drone.yml
Labels: kind/build, lgtm/done

#5178 Disable sqlite test
  .drone.yml
Labels: kind/testing, lgtm/done

#5176 Fix sqlite lock
  models/notification.go
  models/org_team.go
  models/repo.go
Labels: kind/bug, lgtm/done

#5177 Update go-macaron/session to latest mast to fix RCE-bug
  Gopkg.lock
  vendor/github.com/go-macaron/session/file.go
  vendor/github.com/go-macaron/session/session.go
Labels: backport/v1.5, backport/v1.6, kind/security, lgtm/done

#5179 Fix sqlite lock (#5176)
  models/notification.go
  models/org_team.go
  models/repo.go
Labels: kind/bug, lgtm/done

#5190 Fix race on updatesize
  models/repo.go
  models/status.go
Labels: kind/bug, lgtm/done

#5194 Update TRANSLATORS
  options/locale/TRANSLATORS
Labels: kind/docs, kind/translation, lgtm/done

#5169 Update x/net lib
  Gopkg.lock
  Gopkg.toml
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/html/atom/gen.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/const.go
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/entity.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
Labels: kind/misc, lgtm/done

#5184 fix sqlite lock
  models/issue.go
  models/issue_dependency.go
  models/repo.go
Labels: kind/bug, lgtm/done

#5203 Update with-docker.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#3824 Fix to 3819 - Filtering issues by tags on main screen issues
  routers/user/home.go
  templates/user/dashboard/issues.tmpl
Labels: backport/v1.6, kind/bug, lgtm/done

#5199 fix: Add secret to all webhook's payload where it has been missing
  Gopkg.lock
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/issue.go
  vendor/code.gitea.io/sdk/gitea/repo.go
  vendor/code.gitea.io/sdk/gitea/repo_key.go
  vendor/code.gitea.io/sdk/gitea/user_key.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5166 Fix showing pull request link when delete a branch
  cmd/hook.go
Labels: kind/bug, lgtm/done

#5006 UX of link account (Step 1)
  options/locale/locale_en-US.ini
  routers/user/auth.go
  templates/user/auth/link_account.tmpl
  templates/user/auth/signin_inner.tmpl
  templates/user/auth/signup_inner.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#5174 Kill testing processes if the test takes too long
  .drone.yml
Labels: kind/testing, lgtm/done

#5214 Fix sqlite and mssql lock
  models/org.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5218 fix sqlite and mssql lock (#5214)
  models/org.go
Labels: kind/bug, lgtm/done

#5219 fix to 3819 - Backport
  routers/user/home.go
  templates/user/dashboard/issues.tmpl
Labels: lgtm/done

#5168 Fix emojis not showing in commit messages
  public/js/index.js
  templates/repo/diff/page.tmpl
Labels: kind/enhancement, lgtm/done

#5215 Fix race on updatesize (#5190)
  models/repo.go
  models/status.go
Labels: kind/bug, lgtm/done

#5221 Serve audio files using HTML5 audio tag
  modules/base/tool.go
  options/locale/locale_en-US.ini
  routers/repo/view.go
  templates/repo/view_file.tmpl
Labels: kind/enhancement, lgtm/done

#5195 Update macaron session
  Gopkg.lock
  vendor/github.com/go-macaron/session/file.go
  vendor/github.com/go-macaron/session/session.go
Labels: kind/security, lgtm/done

#4886 Make gitea serv use api/internal
  cmd/serv.go
  modules/private/branch.go
  modules/private/internal.go
  modules/private/key.go
  routers/private/internal.go
  routers/private/key.go
Labels: kind/enhancement, lgtm/done

#5225 Remove unused db init on commands serv, update, hooks
  cmd/hook.go
Labels: kind/refactor, lgtm/done

#5224 Fix data race on migrate repository
  models/repo.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5201 Pass link prefixes to external markup parsers
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/markup/external/external.go
Labels: kind/enhancement, lgtm/done

#5186 Add AutoHead functionality.
  routers/routes/routes.go
Labels: kind/enhancement, lgtm/done

#5208 fix: Add secret to all webhook's payload where it has been missing
  Gopkg.lock
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/issue.go
  vendor/code.gitea.io/sdk/gitea/repo.go
  vendor/code.gitea.io/sdk/gitea/repo_key.go
  vendor/code.gitea.io/sdk/gitea/user_key.go
Labels: kind/api, kind/bug, lgtm/done

#5064 only chown directories during docker setup if necessary. Fix #4425
  docker/etc/s6/gitea/setup
Labels: kind/deployment, lgtm/done

#5023 Generate random password
  cmd/admin.go
Labels: changelog, kind/enhancement, lgtm/done

#5136 This commit will reduce join star, repo_topic, topic tables on repo search, so that fix extra columns problem on mssql
  models/repo_list.go
  models/repo_list_test.go
Labels: backport/v1.6, kind/bug, lgtm/done

#4675 Fix markdown image with link
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
Labels: kind/enhancement, lgtm/done

#5094 Fix issue where ecdsa and other key types are not synced from LDAP (#5092)
  integrations/auth_ldap_test.go
  models/user.go
Labels: kind/enhancement, lgtm/done

#5228 Add changelog for 1.5.3 release (#5227)
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5227 Add changelog for 1.5.3 release
  CHANGELOG.md
Labels: backport/v1.5, backport/v1.6, kind/docs, lgtm/done

#4954 Add command for migrating database
  cmd/migrate.go
  main.go
Labels: kind/feature, lgtm/done

#5232 fix compatibility heatmap with mysql 8
  models/user_heatmap.go
Labels: kind/bug, lgtm/done
