Repository go-gitea/gitea, pull requests merged in 2018-03, with the labels that each got.

#3606 Add admin dashboard option to run health checks
  models/repo.go
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  templates/admin/dashboard.tmpl
Labels: kind/enhancement, lgtm/done

#3613 Fix incorrect 'Erase Wiki Data' string identifier.
  templates/repo/settings/options.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#3610 Changelog for release 1.4.0-rc2
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#3594 fix: Add feed for organization
  models/action_test.go
  models/repo_watch.go
Labels: kind/bug, lgtm/done

#3621 Don't write to log NoCommitterAccount
  models/gpg_key.go
Labels: kind/misc, lgtm/done

#3616 Use Segoe UI for Latin characters before falling back to YaHei
  public/css/index.css
  public/less/_base.less
Labels: kind/enhancement, kind/ui, lgtm/done

#3615 Log attachment blocked events
  routers/repo/attachment.go
Labels: kind/misc, lgtm/done

#3560 Fix issue with broken inter-wiki links #3506
  modules/markup/html.go
  modules/markup/html_test.go
Labels: backport/v1.4, kind/bug, lgtm/done

#3478 Add Attachment API
  models/attachment.go
  models/attachment_test.go
  models/release.go
  package.json
  public/swagger.v1.json
  routers/api/v1/api.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/release_attachment.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/attachment.go
  vendor/code.gitea.io/sdk/gitea/gitea.go
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/issue.go
  vendor/code.gitea.io/sdk/gitea/issue_comment.go
  vendor/code.gitea.io/sdk/gitea/issue_label.go
  vendor/code.gitea.io/sdk/gitea/issue_milestone.go
  vendor/code.gitea.io/sdk/gitea/issue_tracked_time.go
  vendor/code.gitea.io/sdk/gitea/org.go
  vendor/code.gitea.io/sdk/gitea/org_team.go
  vendor/code.gitea.io/sdk/gitea/pull.go
  vendor/code.gitea.io/sdk/gitea/release.go
  vendor/code.gitea.io/sdk/gitea/repo.go
  vendor/code.gitea.io/sdk/gitea/repo_key.go
  vendor/code.gitea.io/sdk/gitea/status.go
  vendor/code.gitea.io/sdk/gitea/user.go
  vendor/code.gitea.io/sdk/gitea/user_gpgkey.go
  vendor/code.gitea.io/sdk/gitea/user_search.go
  vendor/vendor.json
Labels: kind/api, kind/feature, lgtm/done

#3629 Add string to confirm wiki data erasure
  options/locale/locale_en-US.ini
  templates/repo/settings/options.tmpl
Labels: kind/ui, lgtm/done

#3632 Fix wiki inter-links with spaces (#3560)
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#3619 Make columns in split view of the same width
  public/css/index.css
  public/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#3638 Fix column removal in MSSQL
  models/migrations/migrations.go
  models/migrations/v56.go
Labels: backport/v1.4, kind/bug, lgtm/done

#3640 Fix column removal in MSSQL (#3638)
  models/migrations/migrations.go
  models/migrations/v56.go
Labels: kind/bug, lgtm/done

#3612 Added issue search via api
  public/swagger.v1.json
  routers/api/v1/repo/issue.go
Labels: kind/api, kind/feature, lgtm/done

#3649 Fix MySQL and PostgreSQL column drop SQL
  models/migrations/migrations.go
Labels: backport/v1.4, kind/bug, lgtm/done, priority/critical

#3647 Add separate string for the 'Create Team' button.
  options/locale/locale_en-US.ini
  templates/org/team/new.tmpl
Labels: lgtm/done

#3651 Fix MySQL and PostgreSQL column drop SQL (#3649)
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done, priority/critical

#2927 Docker multi-stage
  .dockerignore
  Dockerfile
  docker/Makefile
Labels: kind/build, lgtm/done

#3661 Update markbates/goth libary to fix OAuth2 support
  vendor/github.com/markbates/goth/gothic/gothic.go
  vendor/github.com/markbates/goth/providers/dropbox/dropbox.go
  vendor/vendor.json
Labels: backport/v1.4, kind/bug, lgtm/done

#3662 Add label descriptions
  models/issue_label.go
  models/migrations/migrations.go
  models/migrations/v58.go
  modules/auth/repo_form.go
  options/label/Default
  options/locale/locale_en-US.ini
  public/css/index.css
  public/js/index.js
  public/less/_repository.less
  routers/repo/issue_label.go
  templates/repo/issue/labels.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/user/dashboard/issues.tmpl
Labels: changelog, kind/feature, lgtm/done

#3663 Update markbates/goth libary to fix OAuth2 support (#3661)
  vendor/github.com/markbates/goth/gothic/gothic.go
  vendor/github.com/markbates/goth/providers/dropbox/dropbox.go
  vendor/vendor.json
Labels: kind/bug, lgtm/done

#3674 Refactor and simplify redirect to url
  modules/context/context.go
  routers/repo/repo.go
  routers/user/auth.go
  routers/user/auth_openid.go
  routers/user/profile.go
Labels: backport/v1.4, kind/refactor, lgtm/done

#3676 Refactor and simplify redirect to url (#3674)
  modules/context/context.go
  routers/repo/repo.go
  routers/user/auth.go
  routers/user/auth_openid.go
  routers/user/profile.go
Labels: kind/refactor, lgtm/done

#3664 Global code search support
  models/repo.go
  models/repo_list.go
  modules/indexer/repo.go
  modules/search/search.go
  options/locale/locale_en-US.ini
  routers/home.go
  routers/repo/search.go
  routers/routes/routes.go
  templates/explore/code.tmpl
  templates/explore/navbar.tmpl
Labels: changelog, kind/feature, lgtm/done

#3680 Add myself as a maintainer
  MAINTAINERS
Labels: kind/docs, lgtm/done

#3679 Changelog for 1.4.0-rc3
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#3684 Codesearch message fix
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#3691 Escape branch name in dropdown menu
  templates/repo/branch_dropdown.tmpl
Labels: backport/done, backport/v1.4, kind/bug, lgtm/done

#3692 Backport: Escape branch name in dropdown menu
  templates/repo/branch_dropdown.tmpl
Labels: kind/bug, lgtm/done

#3693 Improve release page UI
  models/attachment.go
  templates/repo/release/list.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#3699 add your_repositories to types
  routers/repo/issue.go
Labels: kind/bug, kind/ui, lgtm/done

#3694 Change title to existing locale entry for protected branch settings
  routers/repo/setting_protected_branch.go
Labels: kind/translation, lgtm/done

#3707 Don't warn users about *every* dirty form
  public/js/index.js
  templates/admin/base/search.tmpl
  templates/admin/config.tmpl
  templates/explore/code.tmpl
  templates/explore/search.tmpl
  templates/org/settings/delete.tmpl
  templates/repo/commits_table.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/search.tmpl
  templates/repo/search.tmpl
  templates/user/auth/activate.tmpl
  templates/user/auth/forgot_passwd.tmpl
  templates/user/auth/reset_passwd.tmpl
  templates/user/settings/applications.tmpl
  templates/user/settings/delete.tmpl
Labels: kind/ui, lgtm/done

#3714 Changelog for release 1.4.0
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#3689 Add protected branch whitelists for merging
  models/branches.go
  models/migrations/migrations.go
  models/migrations/v59.go
  models/pull.go
  modules/auth/repo_form.go
  options/locale/locale_en-US.ini
  routers/repo/setting_protected_branch.go
  templates/repo/settings/protected_branch.tmpl
Labels: kind/feature, lgtm/done

#3708 Run update-ca-certificates to enable self-signed certs
  docker/etc/s6/gitea/setup
Labels: kind/deployment, lgtm/done

#3715 Set default branchname on first push
  models/action.go
Labels: backport/v1.4, kind/bug, lgtm/done

#3723 Backport: Set default branchname on first push
  models/action.go
Labels: kind/bug, lgtm/done

#3607 Add repository setting to enable/disable health checks
  models/migrations/migrations.go
  models/migrations/v60.go
  models/repo.go
  modules/auth/repo_form.go
  options/locale/locale_en-US.ini
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: kind/feature, lgtm/done

#3721 Correctly check http git access rights for reverse proxy authorized users
  routers/repo/http.go
Labels: backport/v1.4, kind/security, lgtm/done

#3736 refactor: import order.
  routers/api/v1/repo/branch.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/fork.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_label.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/key.go
  routers/api/v1/repo/label.go
  routers/api/v1/repo/milestone.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/release_attachment.go
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/star.go
  routers/api/v1/repo/status.go
  routers/api/v1/repo/subscriber.go
Labels: kind/refactor, lgtm/done

#3740 fix go vet error
  models/git_diff_test.go
  routers/repo/issue_label_test.go
Labels: kind/testing, lgtm/done

#3726 Add config option to enable or disable log executed SQL
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  models/models.go
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#3744 fix go vet error (#3740)
  models/git_diff_test.go
  routers/repo/issue_label_test.go
Labels: kind/testing, lgtm/done

#3734 Add Size column to attachment
  models/attachment.go
  models/migrations/migrations.go
  models/migrations/v61.go
  templates/repo/release/list.tmpl
Labels: kind/enhancement, lgtm/done
