Repository go-gitea/gitea, pull requests merged in 2018-12, with the labels that each got.

#5348 Removing Labels via EditPullRequest API
  routers/api/v1/repo/pull.go
Labels: kind/api, kind/bug, lgtm/done

#5445 [backport]word-break the WebHook url to prevent a ui-break
  templates/repo/settings/webhook/list.tmpl
Labels: kind/bug, lgtm/done

#5443 admin should be able to delete repos via the API even if he is not a member of the organization
  routers/api/v1/repo/repo.go
Labels: backport/v1.6, kind/api, kind/bug, lgtm/done

#5447 Admin should be able to delete repos via the API even if he is not a member of the organization (#5443)
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#5449 ensure that the `closed_at` is set for closed issues
  models/issue.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5450 [backport] ensure that the `closed_at` is set for closed
  models/issue.go
Labels: kind/bug, lgtm/done

#5467 improve the git-scm url's in docs and sample.ini
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: lgtm/done

#5481 Allow link verification for services like Mastodon
  templates/user/profile.tmpl
Labels: kind/enhancement, lgtm/done

#5495 fix topic name length on database (#5493)
  models/migrations/v68.go
  models/topic.go
Labels: kind/bug, lgtm/done

#5494 add tests for api user orgs
  integrations/api_user_orgs_test.go
  routers/api/v1/org/org.go
Labels: kind/enhancement, kind/testing, lgtm/done

#5457 Improve team members and repositories settings UI
  options/locale/locale_en-US.ini
  routers/org/teams.go
  templates/org/team/members.tmpl
  templates/org/team/navbar.tmpl
  templates/org/team/repositories.tmpl
  templates/org/team/sidebar.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#5500 Add 1.6.1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5507 backport 1.6.1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5504 Fix empty wiki
  routers/repo/wiki.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5506 fix forgot deletion of notification when delete repository
  models/repo.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5508 Fix empty wiki (#5504)
  routers/repo/wiki.go
Labels: kind/bug, lgtm/done

#5502 fix code review on mssql
  models/review.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5511 Fixing MSSQL timestamp type
  models/user_heatmap.go
Labels: kind/bug, lgtm/done

#5509 fix undeleted content when deleting user
  models/ssh_key.go
  models/user.go
Labels: kind/bug, lgtm/done

#5520 add git protocol v2 support via SSH on Docker image
  docker/etc/ssh/sshd_config
Labels: kind/enhancement, lgtm/done

#5515 fix adding reaction fail for read permission user
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#5527 Backport #5525 Fix the Let's Encrypt handler
  cmd/web.go
Labels: lgtm/done

#5503 fix clone wiki failed via ssh
  cmd/serv.go
  modules/private/wiki.go
  routers/private/internal.go
  routers/private/wiki.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5523 fix permission check on api create org
  routers/api/v1/org/org.go
Labels: lgtm/done

#5521 fix approvals limitation
  models/branches.go
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#4282 Added test environment for mssql
  .drone.yml
  .gitignore
  Gopkg.lock
  Gopkg.toml
  Makefile
  integrations/integration_test.go
  integrations/mssql.ini.tmpl
  models/models.go
  vendor/github.com/go-xorm/xorm/context_cache.go
  vendor/github.com/go-xorm/xorm/dialect_mssql.go
  vendor/github.com/go-xorm/xorm/dialect_mysql.go
  vendor/github.com/go-xorm/xorm/dialect_sqlite3.go
  vendor/github.com/go-xorm/xorm/engine.go
  vendor/github.com/go-xorm/xorm/engine_group.go
  vendor/github.com/go-xorm/xorm/engine_maxlife.go
  vendor/github.com/go-xorm/xorm/interface.go
  vendor/github.com/go-xorm/xorm/session.go
  vendor/github.com/go-xorm/xorm/session_delete.go
  vendor/github.com/go-xorm/xorm/session_find.go
  vendor/github.com/go-xorm/xorm/session_get.go
  vendor/github.com/go-xorm/xorm/session_insert.go
  vendor/github.com/go-xorm/xorm/session_query.go
  vendor/github.com/go-xorm/xorm/session_raw.go
  vendor/github.com/go-xorm/xorm/session_update.go
  vendor/github.com/go-xorm/xorm/statement.go
  vendor/github.com/go-xorm/xorm/transaction.go
  vendor/github.com/go-xorm/xorm/xorm.go
Labels: kind/testing, lgtm/done

#5522 fix detect force push failure on deletion of protected branches
  cmd/hook.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5531 fix detect force push failure on deletion of protected branches (#5522)
  cmd/hook.go
Labels: kind/bug, lgtm/done

#5516 fix bug when a read perm user to edit his issue
  templates/base/footer.tmpl
Labels: backport/v1.6, kind/bug, lgtm/done

#5534 fix bug when a read perm user to edit his issue (#5516)
  templates/base/footer.tmpl
Labels: kind/bug, lgtm/done

#5537 Remove a double slash in the HTTPS redirection when Let's Encrypt is enabled
  cmd/web.go
Labels: lgtm/done

#5539 Backport #5537 Remove a double slash in the HTTPS redirect with Let's Encrypt
  cmd/web.go
Labels: kind/bug, lgtm/done

#4977 Improve performance of dashboard
  models/action.go
  models/issue.go
  models/issue_assignees.go
  models/issue_assignees_test.go
  models/issue_comment.go
  models/issue_comment_list.go
  models/issue_dependency_test.go
  models/issue_mail.go
  models/issue_stopwatch.go
  models/issue_tracked_time.go
  models/mail.go
  models/pull.go
  models/update.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/pull.go
  routers/repo/issue.go
  routers/repo/pull.go
  routers/user/home.go
Labels: kind/enhancement, lgtm/done

#5556 Fix makefile generate buildstep
  Makefile
Labels: kind/bug, kind/build, lgtm/done

#5555 Fix nil pointer base branch bug
  models/pull.go
Labels: kind/bug, lgtm/done

#5554 Support reverse proxy providing email
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/auth/auth.go
  modules/setting/setting.go
  routers/admin/admin.go
Labels: kind/enhancement, lgtm/done

#5501 Fix lfs version check warning log when using ssh protocol
  cmd/hook.go
  cmd/serv.go
  integrations/integration_test.go
  modules/setting/setting.go
  routers/init.go
Labels: backport/v1.6, kind/bug, lgtm/need 2

#5563 fix indexer reindex bug when gitea restart
  modules/indexer/issue.go
  modules/indexer/repo.go
Labels: backport/v1.6, kind/bug, lgtm/done

#5562 fix table name typo on SQL
  models/migrations/v75.go
Labels: kind/bug, lgtm/done

#5564 fix indexer reindex bug when gitea restart (#5563)
  modules/indexer/issue.go
  modules/indexer/repo.go
Labels: kind/bug, lgtm/done

#5243 Create stale bot config
  .github/stale.yml
Labels: kind/misc, lgtm/done

#5571 fix bug on upload file name
  routers/repo/editor.go
  routers/repo/editor_test.go
Labels: kind/bug, lgtm/done

#5570 SECURITY: Fix #5565 by htmlEncoding titles in issues and milestones
  public/js/index.js
Labels: kind/security, lgtm/done

#5575 Backport #5570 - Immediate fix to htmlEncode user added text
  public/js/index.js
Labels: kind/bug, kind/security, lgtm/done

#5567 Changelog for 1.6.2
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5574 Fix type mismatch of format string
  integrations/benchmarks_test.go
Labels: kind/bug, lgtm/done

#5576 backport 1.6.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5112 Fix translation errors in doc advanced part (zh-cn)
  docs/content/doc/advanced/customizing-gitea.zh-cn.md
Labels: kind/docs, kind/translation, lgtm/done

#5586 drone/mssql: use golang 1.11
  .drone.yml
Labels: kind/testing, lgtm/done

#5589 Gitlab does have discord integration now
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done

#5598 Typo in routers/api/v1/org/org.go fixed.
  routers/api/v1/org/org.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/docs, lgtm/done

#5599 Remove MTecknology from MAINTAINERS
  MAINTAINERS
Labels: lgtm/done

#4980 make sure argsSet verifies string isn't empty too
  cmd/cmd.go
Labels: kind/enhancement, lgtm/done

#5587 fix nil pointer when adding a due date
  models/issue_comment.go
Labels: kind/bug, lgtm/done

#5601 Delete organization endpoint added
  routers/api/v1/api.go
  routers/api/v1/org/org.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#5055 LDAP via simple auth separate bind user and search base
  modules/auth/ldap/ldap.go
  public/js/index.js
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/ldap.tmpl
Labels: kind/bug, lgtm/done

#5027 Webhook for Pull Request approval/rejection
  models/review.go
  models/webhook.go
  models/webhook_dingtalk.go
  models/webhook_discord.go
  models/webhook_slack.go
  options/locale/locale_en-US.ini
Labels: kind/feature, lgtm/done

#5608 Fix wrong text getting saved on editing second comment on an issue.
  public/js/index.js
  templates/repo/diff/box.tmpl
  templates/repo/issue/view_content.tmpl
Labels: kind/bug, lgtm/done

#5615 Fix wrong text getting saved on editing second comment on an issue (#5608)
  public/js/index.js
  templates/repo/diff/box.tmpl
  templates/repo/issue/view_content.tmpl
Labels: kind/bug, lgtm/done

#5609 mirror: Delete tags in mirror which are removed for original repo.
  models/release.go
  models/release_test.go
Labels: kind/bug, lgtm/done
