Repository go-gitea/gitea, pull requests merged in 2019-01, with the labels that each got.

#5568 Issue is not overdue when it is on the same date #5566
  routers/api/v1/repo/issue.go
  routers/repo/milestone.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#5617 branch: Trigger update when deleting branch via UI.
  routers/repo/branch.go
Labels: kind/bug, lgtm/done

#5620 Update owners & Year in contributing
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#5619 Update @jonasfranz's username
  MAINTAINERS
Labels: kind/docs, lgtm/done

#5624 Fix bug on modifying sshd username
  docker/usr/bin/entrypoint
Labels: kind/bug, lgtm/done

#5616 Add changelog for 1.7.0-rc1
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5626 Documentation: Clarity for HTTPS setups
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/usage/https-support.md
Labels: kind/docs, lgtm/done

#5631 SECURITY: prevent DeleteFilePost doing arbitrary deletion
  routers/repo/editor.go
Labels: backport/v1.6, backport/v1.7, kind/security, lgtm/done

#5635 SECURITY: prevent DeleteFilePost doing arbitrary deletion
  routers/repo/editor.go
Labels: lgtm/done

#5636 Add changelog for 1.6.3 and 1.7.0-rc2
  CHANGELOG.md
Labels: changelog, kind/docs, lgtm/done

#5637 Add changelog for 1.6.3
  CHANGELOG.md
Labels: lgtm/done

#5638 Add changelog for 1.6.3 and 1.7.0-rc2
  CHANGELOG.md
Labels: lgtm/done

#5640 Fix sqlite deadlock when assigning to a PR
  models/issue.go
  models/issue_assignees.go
  models/issue_mail.go
  models/issue_user.go
  models/org.go
  models/repo_watch.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5642 Fix sqlite deadlock when assigning to a PR (#5640) (Backport to v1.7)
  models/issue.go
  models/issue_assignees.go
  models/issue_mail.go
  models/issue_user.go
  models/org.go
  models/repo_watch.go
Labels: kind/bug, lgtm/done

#5019 Add docs on passing SSH through to container
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#5290 migrate database if app.ini found
  docker/usr/bin/entrypoint
Labels: kind/deployment, lgtm/done

#5643 Don't close issues via commits on non-default branch. (Backport PR #5622 to v1.7)
  models/action.go
  models/action_test.go
Labels: kind/bug, lgtm/done

#5650 fix commit page showing status for current default branch (#5649)
  routers/repo/commit.go
Labels: backport/v1.7, kind/bug, kind/ui, lgtm/done

#5653 Backport #5650: fix commit page showing status for current default branch (#5649)
  routers/repo/commit.go
Labels: kind/bug, kind/ui, lgtm/done

#5654 Display branch name in delete branch confirmation modal.
  public/js/index.js
  templates/admin/repo/list.tmpl
  templates/repo/branch/list.tmpl
Labels: kind/ui, lgtm/done

#5655 Backport #5647: Only count users own actions for heatmap contributions (#5647)
  models/user_heatmap.go
Labels: kind/bug, lgtm/done

#1707 Added URL mapping for Release attachments like on github.com
  models/attachment.go
  models/release.go
  routers/repo/repo.go
  routers/routes/routes.go
  templates/repo/release/list.tmpl
Labels: kind/feature, lgtm/done

#5665 Translate home template to Czech
  templates/home.tmpl
Labels: lgtm/done

#5668 Allow for user specific themes
  cmd/admin.go
  custom/conf/app.ini.sample
  models/migrations/migrations.go
  models/migrations/v77.go
  models/user.go
  modules/auth/user_form.go
  modules/setting/defaults.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/routes/routes.go
  routers/user/setting/account.go
  templates/base/head.tmpl
  templates/pwa/serviceworker_js.tmpl
  templates/user/settings/account.tmpl
Labels: changelog, kind/ui, lgtm/done

#5675 Document command line flags
  docs/content/doc/usage/command-line.md
Labels: kind/docs, lgtm/done

#5671 fix public will not be reused as public key after deleting as deploy key
  models/ssh_key.go
Labels: backport/v1.6, backport/v1.7, kind/bug, lgtm/done

#5669 When redirecting, clean the path
  modules/public/public.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5680 Update xorm to fix issue #5659 and #5651
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/go-xorm/xorm/dialect_postgres.go
  vendor/github.com/go-xorm/xorm/engine.go
Labels: kind/build, lgtm/done

#5679 When redirecting, clean the path (#5669) (Backport to v1.7)
  modules/public/public.go
Labels: kind/bug, lgtm/done

#5685 fix public will not be reused as public key after deleting as deploy key (#5671)
  models/ssh_key.go
Labels: kind/bug, lgtm/done

#5684 fix public will not be reused as public key after deleting as deploy key (#5671)
  models/ssh_key.go
Labels: kind/bug, lgtm/done

#5692 Backport #5680
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/go-xorm/xorm/dialect_postgres.go
  vendor/github.com/go-xorm/xorm/engine.go
Labels: kind/bug, kind/build, lgtm/done

#5661 Add docs about database migration
  docs/content/doc/upgrade/from-gogs.en-us.md
  docs/content/doc/upgrade/from-gogs.fr-fr.md
Labels: kind/docs, lgtm/done

#5707 Keep file permissions during database migration
  docker/usr/bin/entrypoint
Labels: kind/bug, lgtm/done

#5682 fix migration for user defined themes
  models/migrations/v77.go
Labels: kind/bug, lgtm/done

#5703 When redirecting clean the path to avoid redirecting to //www.othersite.com (#5669) (Backport v1.6)
  modules/public/public.go
Labels: lgtm/done

#5706 fix: use correct value for "MSpan Structures Obtained" #4742
  templates/admin/dashboard.tmpl
Labels: backport/v1.6, backport/v1.7, kind/bug, lgtm/done

#5712 Do not display the raw OpenID error in the UI #5705 (Backport v1.7)
  routers/user/auth_openid.go
Labels: lgtm/done

#5715 Backport v1.6: fix: use correct value for "MSpan Structures Obtained" #4742 (#5706)
  templates/admin/dashboard.tmpl
Labels: lgtm/done

#5716 Backport v1.7: fix: use correct value for "MSpan Structures Obtained" #4742 (#5706)
  templates/admin/dashboard.tmpl
Labels: lgtm/done

#5110 Refactor mail notification
  models/issue.go
  models/issue_comment.go
  models/pull.go
  modules/notification/base/notifier.go
  modules/notification/base/null.go
  modules/notification/mail/mail.go
  modules/notification/notification.go
  modules/notification/ui/ui.go
Labels: kind/refactor, lgtm/done

#4476 Discord Oauth2 support
  Gopkg.lock
  models/oauth2.go
  modules/auth/oauth2/oauth2.go
  options/locale/locale_en-US.ini
  public/img/auth/discord.png
  templates/admin/auth/new.tmpl
  vendor/github.com/markbates/goth/gothic/gothic.go
  vendor/github.com/markbates/goth/providers/discord/discord.go
  vendor/github.com/markbates/goth/providers/discord/session.go
  vendor/github.com/markbates/goth/providers/facebook/facebook.go
Labels: kind/feature, lgtm/done

#5695 Add flag to skip repository dumping
  cmd/dump.go
  docs/content/doc/usage/command-line.md
Labels: kind/enhancement, lgtm/done

#5691 Prioritize "readme.md"
  modules/markup/markup.go
  modules/markup/markup_test.go
  routers/repo/view.go
Labels: kind/enhancement, lgtm/done

#5719 Support CORS headers to git smart http protocol
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
  routers/repo/http.go
Labels: kind/enhancement, lgtm/done

#5658 Don't list an issue on its own dependency list UI.
  public/js/index.js
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, lgtm/done

#5739 Add 1.6.4 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5740 Add proper CORS preflight origin validation
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#5741 backport 1.6.4 changelog to 1.7 branch
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5734 Update windows-service.en-us.md
  docs/content/doc/installation/windows-service.en-us.md
Labels: kind/docs, lgtm/done

#5742 backport 1.6.4 to HEAD
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5735 Add Default Pull Request Title
  routers/repo/pull.go
Labels: kind/enhancement, lgtm/done

#5382 api: Add missing GET teams endpoints
  Gopkg.lock
  models/org.go
  models/org_team.go
  models/org_team_test.go
  routers/api/v1/api.go
  routers/api/v1/org/team.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/org_team.go
  vendor/code.gitea.io/sdk/gitea/release.go
Labels: kind/api, lgtm/done

#5748 Upgrade go-sql-driver/mysql to fix invalid connection error
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/go-sql-driver/mysql/AUTHORS
  vendor/github.com/go-sql-driver/mysql/auth.go
  vendor/github.com/go-sql-driver/mysql/buffer.go
  vendor/github.com/go-sql-driver/mysql/connection.go
  vendor/github.com/go-sql-driver/mysql/connection_go18.go
  vendor/github.com/go-sql-driver/mysql/driver.go
  vendor/github.com/go-sql-driver/mysql/dsn.go
  vendor/github.com/go-sql-driver/mysql/packets.go
  vendor/github.com/go-sql-driver/mysql/utils.go
  vendor/github.com/go-sql-driver/mysql/utils_go17.go
  vendor/github.com/go-sql-driver/mysql/utils_go18.go
Labels: kind/bug, lgtm/done

#5111 Refactor notification for indexer
  models/issue.go
  models/issue_comment.go
  models/issue_indexer.go
  models/pull.go
  modules/notification/indexer/indexer.go
  modules/notification/notification.go
  routers/api/v1/repo/issue_comment.go
  routers/repo/issue.go
Labels: kind/refactor, lgtm/done

#5752 update docs to include THEMES config value
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/usage/https-support.md
Labels: kind/docs, lgtm/done

#5714 Refactor repo.isBare to repo.isEmpty #5629
  integrations/empty_repo_test.go
  models/action.go
  models/fixtures/repository.yml
  models/migrations/migrations.go
  models/migrations/v78.go
  models/repo.go
  modules/context/api.go
  modules/context/repo.go
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_en-US.ini
  options/locale/locale_es-ES.ini
  options/locale/locale_fr-FR.ini
  options/locale/locale_hu-HU.ini
  options/locale/locale_id-ID.ini
  options/locale/locale_it-IT.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_ko-KR.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_nl-NL.ini
  options/locale/locale_pl-PL.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_sv-SE.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_uk-UA.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-HK.ini
  options/locale/locale_zh-TW.ini
  routers/api/v1/repo/file.go
  routers/repo/pull.go
  routers/repo/repo.go
  routers/repo/view.go
  routers/routes/routes.go
  templates/repo/empty.tmpl
  templates/repo/header.tmpl
  templates/repo/settings/branches.tmpl
  templates/repo/settings/navbar.tmpl
  templates/repo/sub_menu.tmpl
Labels: kind/refactor, lgtm/done

#5730 Disable auto-migrate in docker container
  docker/usr/bin/entrypoint
Labels: kind/bug, kind/deployment, lgtm/done

#5756 1.7.0-rc3 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5758 backport 1.7.0-rc3 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5762 Fix migration bug
  models/migrations/v78.go
Labels: kind/bug, lgtm/done

#5770 [bot/stale] Force the PR close time to 60 days
  .github/stale.yml
Labels: lgtm/done

#5769 fix wrong assumption where a user is always said to have unassigned (her)himself
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, lgtm/done

#5771 ldap: Adjust log settings when a user is not found.
  modules/auth/ldap/ldap.go
Labels: kind/enhancement, lgtm/done

#5764 Moved defaults in defaults.go to setting.go
  modules/setting/defaults.go
  modules/setting/setting.go
Labels: kind/refactor, lgtm/done

#5738 Make db connect more robust
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
  routers/init.go
Labels: kind/enhancement, lgtm/done

#5776 Fix the v78 migration script
  models/migrations/v78.go
Labels: kind/bug, lgtm/done

#5777 Change systemd service file to more correctly match Debian & Centos #4391
  contrib/systemd/gitea.service
Labels: kind/docs, lgtm/done

#5780 Make db connect more robust
  routers/init.go
Labels: lgtm/done

#5791 fix migration 78 error mssql
  models/migrations/v78.go
Labels: kind/bug, lgtm/done

#5785 Disallow empty titles
  cmd/cmd.go
  modules/util/util.go
  modules/util/util_test.go
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  routers/repo/pull.go
  routers/repo/wiki.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5794 Disallow empty titles (#5785)
  cmd/cmd.go
  modules/util/util.go
  modules/util/util_test.go
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  routers/repo/pull.go
  routers/repo/wiki.go
Labels: kind/bug, lgtm/done

#4401 Allow markdown table to scroll
  public/css/index.css
  public/less/_markdown.less
Labels: kind/ui, lgtm/done

#5802 1.7.0 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5804 backport 1.7.0 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5786 Add the ability to use multiple labels as filters
  models/issue.go
  models/issue_label.go
  models/issue_test.go
  public/css/index.css
  public/less/_repository.less
  routers/repo/issue.go
  routers/routes/routes.go
  routers/user/home.go
  templates/repo/issue/list.tmpl
Labels: changelog, kind/enhancement, lgtm/done

#5722 Pooled and buffered gzip implementation
  integrations/lfs_getobject_test.go
  integrations/sqlite.ini
  models/lfs.go
  modules/gzip/gzip.go
  modules/gzip/gzip_test.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#5009 Feature: Archive repos
  models/repo.go
  modules/auth/repo_form.go
  modules/context/repo.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_base.less
  routers/repo/http.go
  routers/repo/release.go
  routers/repo/setting.go
  routers/repo/view.go
  routers/repo/wiki.go
  routers/routes/routes.go
  templates/explore/repo_list.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/empty.tmpl
  templates/repo/header.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/labels.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/view.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/settings/branches.tmpl
  templates/repo/settings/options.tmpl
  templates/user/dashboard/dashboard.tmpl
Labels: changelog, kind/feature, lgtm/done

#5811 Adapt documentation to renamed ENABLE_SWAGGER option
  docs/content/doc/advanced/api-usage.en-us.md
  docs/content/doc/advanced/api-usage.zh-cn.md
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#5820 Fix TLS errors when using acme/autocert for local connections
  modules/private/internal.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5823 Remove tidb reference from docs
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/installation/from-source.fr-fr.md
  docs/content/doc/installation/from-source.zh-cn.md
  docs/content/doc/installation/from-source.zh-tw.md
Labels: kind/docs, lgtm/done

#5825 Make sure .git/info is created before generating .git/info/sparse-che…
  models/pull.go
Labels: kind/bug, lgtm/done

#5819 Request for public keys only if LDAP attribute is set (#5816)
  Gopkg.lock
  modules/auth/ldap/ldap.go
  vendor/gopkg.in/ldap.v2/LICENSE
  vendor/gopkg.in/ldap.v2/atomic_value.go
  vendor/gopkg.in/ldap.v2/atomic_value_go13.go
  vendor/gopkg.in/ldap.v2/conn.go
  vendor/gopkg.in/ldap.v2/control.go
  vendor/gopkg.in/ldap.v2/debug.go
  vendor/gopkg.in/ldap.v2/dn.go
  vendor/gopkg.in/ldap.v2/error.go
  vendor/gopkg.in/ldap.v2/filter.go
  vendor/gopkg.in/ldap.v2/ldap.go
  vendor/gopkg.in/ldap.v2/passwdmodify.go
Labels: kind/bug, lgtm/done

#5821 Fix topics saving internal error and disable for archived repos
  routers/routes/routes.go
  templates/repo/home.tmpl
Labels: kind/bug, lgtm/done

#5774 Ensure valid git author names passed in signatures
  integrations/api_user_orgs_test.go
  integrations/user_test.go
  models/fixtures/user.yml
  models/issue_reaction_test.go
  models/user.go
  models/user_test.go
Labels: kind/bug, lgtm/done

#5830 Include Go toolchain to --version
  main.go
Labels: backport/done, backport/v1.7, kind/misc, lgtm/done

#5832 Backport #5830 : Include Go toolchain to --version
  main.go
Labels: kind/misc, lgtm/done

#5834 Added docs for the tree api
  routers/api/v1/repo/tree.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: backport/v1.7, kind/docs, lgtm/done

#5835 [Backport] Added docs for the tree api
  routers/api/v1/repo/tree.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#5831 improve the releases api paging
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/setting.go
  routers/api/v1/repo/release.go
Labels: kind/breaking, kind/enhancement, lgtm/done

#5841 update swagger for release API pagination
  routers/api/v1/repo/release.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#5840 Fix delete correct temp directory (#5839)
  models/pull.go
Labels: kind/bug, lgtm/done

#5839 Fix delete correct temp directory
  models/pull.go
Labels: backport/done, backport/v1.7, kind/bug, lgtm/done

#5853 Move input fields to add members to a team and repos to a team
  templates/org/team/members.tmpl
  templates/org/team/repositories.tmpl
Labels: kind/ui, lgtm/done

#5849 Fix failing migration v67
  models/migrations/v67.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5858 Rename reject to 'request changes'
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#5862 Fix an error while adding a dependency via UI.
  models/issue_comment.go
  models/issue_dependency_test.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5869 Fix wording of #5858 issue.review.reject string
  options/locale/locale_en-US.ini
Labels: lgtm/done

#5836 Revert #3711 overwrite on #2167
  integrations/repo_test.go
  templates/repo/home.tmpl
Labels: kind/ui, lgtm/done

#5876 Fix an error while adding a dependency via UI. (Backport PR #5862)
  models/issue_comment.go
  models/issue_dependency_test.go
Labels: lgtm/done

#5872 API: Fix null pointer on not logged in attempt to Sudo
  routers/api/v1/api.go
Labels: backport/v1.7, kind/api, kind/bug, lgtm/done

#5879 Fix "pulls.blocked_by_approvals" text
  options/locale/locale_en-US.ini
Labels: lgtm/done

#5851 New Issue ?body= query
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  routers/repo/issue.go
  templates/repo/issue/comment_tab.tmpl
Labels: kind/enhancement, lgtm/done

#5881 Fix wrong URL to download link.
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#5773 Add migration test
  .drone.yml
  Makefile
  integrations/migration-test/gitea-v1.5.3.mysql.sql.gz
  integrations/migration-test/gitea-v1.5.3.postgres.sql.gz
  integrations/migration-test/gitea-v1.5.3.sqlite3.sql.gz
  integrations/migration-test/gitea-v1.6.4.mysql.sql.gz
  integrations/migration-test/gitea-v1.6.4.postgres.sql.gz
  integrations/migration-test/gitea-v1.6.4.sqlite3.sql.gz
  integrations/migration-test/gitea-v1.7.0.mysql.sql.gz
  integrations/migration-test/gitea-v1.7.0.postgres.sql.gz
  integrations/migration-test/gitea-v1.7.0.sqlite3.sql.gz
  integrations/migration-test/migration_test.go
Labels: kind/build, lgtm/done

#5885 When creating new repository fsck option should be enabled (#5817)
  models/repo.go
Labels: kind/bug, lgtm/done

#5895 Ensure repo is loaded in mailer (Completely fix #5891)
  models/issue_mail.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5894 Prevent nil dereference in mailIssueCommentToParticipants (#5891, #5895)
  models/issue_mail.go
Labels: kind/bug, lgtm/done

#5877 fix compare button on upstream repo leading to 404
  templates/repo/home.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#5889 UI: Correct footer height if screen-width is to small (fixes #5878)
  public/css/index.css
  public/less/_base.less
  public/less/_home.less
Labels: kind/bug, kind/ui, lgtm/done

#5900 if a repo does not exist, show a 404 not a 500
  routers/user/home.go
Labels: kind/bug, lgtm/done

#5870 Fix new release creation API to allow empty target
  Gopkg.lock
  integrations/api_releases_test.go
  routers/api/v1/repo/release.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/gitea.go
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/release.go
  vendor/code.gitea.io/sdk/gitea/repo_commit.go
  vendor/code.gitea.io/sdk/gitea/repo_tag.go
  vendor/github.com/go-macaron/gzip/LICENSE
  vendor/github.com/go-macaron/gzip/gzip.go
Labels: kind/bug, lgtm/done

#5901 respect value of REQUIRE_SIGNIN_VIEW
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#5886 Don't discard the value of DISABLE_REGULAR_ORG_CREATION
  models/user.go
  models/user_test.go
Labels: kind/bug, lgtm/done

#5883 don't allow pull requests to be created on an archived repository
  routers/api/v1/api.go
  routers/routes/routes.go
  templates/repo/home.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#5905 Fix go-get URL generation
  models/repo.go
  modules/context/context.go
  modules/context/repo.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5906 Only allow local login if password is non-empty
  models/login_source.go
  modules/lfs/server.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5908 Reject empty passwords (#5906)
  models/login_source.go
  modules/lfs/server.go
Labels: kind/bug, lgtm/done

#5902 Provide better panic handling
  modules/context/context.go
  modules/context/panic.go
  routers/routes/routes.go
  templates/status/500.tmpl
Labels: kind/bug, kind/refactor, lgtm/done

#5903 Recover panic in orgmode.Render if bad orgfile (#4982)
  modules/markup/orgmode/orgmode.go
Labels: kind/bug, lgtm/done

#5913 Fix bug when read public repo lfs file
  modules/lfs/server.go
Labels: kind/bug, lgtm/done

#5912 Fix bug when read public repo lfs file
  modules/lfs/server.go
Labels: kind/bug, lgtm/done

#5915 respect value of REQUIRE_SIGNIN_VIEW (Backport of #5901)
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#5910 Disable redirect for i18n
  routers/routes/routes.go
Labels: backport/v1.7, kind/breaking, kind/bug, kind/refactor, lgtm/done

#5914 fix compare button on upstream repo leading to 404 (Backport of #5877)
  templates/repo/home.tmpl
Labels: kind/bug, lgtm/done

#5916 Disable redirect for i18n (#5910)
  routers/routes/routes.go
Labels: kind/breaking, kind/bug, lgtm/done

#5918 1.7.1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5919 backport 1.7.1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done
