Repository go-gitea/gitea, pull requests merged in 2019-04, with the labels that each got.

#6474 support custom file name in `gitea dump` command
  cmd/dump.go
  docs/content/doc/usage/command-line.md
Labels: kind/enhancement, lgtm/done

#6473 Fix #6468 - Uses space match and adds newline for all sed flavors
  Makefile
  templates/swagger/v1_json.tmpl
Labels: kind/build, lgtm/done

#6477 Fix repo sub_menu font color in arc-green
  templates/repo/sub_menu.tmpl
Labels: kind/ui, lgtm/done

#6482 fix bug when user login and want to resend register confirmation email
  models/login_source.go
  routers/routes/routes.go
Labels: backport/v1.7, backport/v1.8, kind/bug, lgtm/done

#6486 fix bug when user login and want to resend register confirmation email (#6482)
  models/login_source.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#6492 Add X-Auto-Response-Suppress header to outgoing messages
  modules/mailer/mailer.go
Labels: lgtm/done

#6487 fix bug when user login and want to resend register confirmation email (#6482)
  models/login_source.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#6485 add make version on gitea version
  Makefile
  main.go
Labels: kind/build, lgtm/done

#6481 fix upload attachments
  models/attachment.go
  models/attachment_test.go
  models/migrations/migrations.go
  models/migrations/v83.go
  routers/api/v1/repo/release_attachment.go
  routers/repo/attachment.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#6465 Show last commit status in pull request lists
  integrations/pull_status_test.go
  models/pull.go
  routers/repo/issue.go
  routers/user/home.go
  templates/repo/issue/list.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/enhancement, lgtm/done

#6504 [docker] drop the bits argument when generating an ed25519 key
  docker/etc/s6/openssh/setup
Labels: kind/misc, lgtm/done

#6495 Make distinction between DisplayName and Username in email templates
  models/mail.go
  templates/mail/auth/activate.tmpl
  templates/mail/auth/activate_email.tmpl
  templates/mail/auth/register_notify.tmpl
  templates/mail/auth/reset_passwd.tmpl
Labels: kind/enhancement, lgtm/done

#6498 Some logging documentation
  docs/content/doc/advanced/logging-documentation.en-us.md
Labels: kind/docs, lgtm/done

#6348 docs: document setup with read-only config
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/docs, lgtm/done

#6500 Add a new Make target for running single integration test
  Makefile
Labels: kind/build, kind/testing, lgtm/done

#6516 Include custom configuration file in dump
  cmd/dump.go
  docs/content/doc/usage/backup-and-restore.en-us.md
Labels: kind/feature, lgtm/done

#6521 Enable emoji in Hugo
  docs/config.yaml
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#6512 Properly escape release attachment URL
  templates/repo/release/list.tmpl
Labels: backport/v1.8, kind/bug, lgtm/done

#6523 Properly escape release attachment URL (#6512)
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done

#6526 Improve SHA1 link detection
  modules/markup/html.go
  modules/markup/html_internal_test.go
Labels: kind/enhancement, lgtm/done

#6518 UI: Use regular line-height on frontpage entries
  public/css/index.css
  public/less/_dashboard.less
Labels: kind/ui, lgtm/done

#6513 Quieter Integration Tests
  docs/content/doc/advanced/logging-documentation.en-us.md
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/integration_test.go
  integrations/migration-test/migration_test.go
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini
  integrations/testlogger.go
  modules/log/base.go
  modules/log/colors.go
  modules/log/conn.go
  modules/log/console.go
  modules/log/file.go
  modules/log/file_test.go
  modules/log/flags.go
  modules/log/smtp.go
  modules/log/writer.go
  modules/log/writer_test.go
  modules/setting/log.go
  modules/setting/setting.go
Labels: kind/build, kind/testing, lgtm/done

#6522 Use stricter boundaries for auto-link detection
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
Labels: kind/enhancement, lgtm/done

#6525 Fixes #6446 - Sort team members and team's repositories
  models/org_team.go
Labels: kind/enhancement, lgtm/done

#6483 Cleaned permission checks for API -> site admin can now do anything
  modules/context/context.go
  routers/api/v1/api.go
Labels: kind/enhancement, lgtm/done

#6497 Delete local branch when repo branch is deleted
  models/repo_branch.go
  routers/repo/branch.go
Labels: kind/bug, lgtm/done

#6532 Fixes pagination width on mobile view (#5711)
  public/css/index.css
  public/less/_base.less
  templates/base/paginate.tmpl
Labels: kind/ui, lgtm/done

#6218 Issue indexer queue redis support
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  go.mod
  go.sum
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/queue_redis.go
  modules/setting/indexer.go
  vendor/github.com/go-redis/redis/.gitignore
  vendor/github.com/go-redis/redis/.travis.yml
  vendor/github.com/go-redis/redis/CHANGELOG.md
  vendor/github.com/go-redis/redis/LICENSE
  vendor/github.com/go-redis/redis/Makefile
  vendor/github.com/go-redis/redis/README.md
  vendor/github.com/go-redis/redis/cluster.go
  vendor/github.com/go-redis/redis/cluster_commands.go
  vendor/github.com/go-redis/redis/command.go
  vendor/github.com/go-redis/redis/commands.go
  vendor/github.com/go-redis/redis/doc.go
  vendor/github.com/go-redis/redis/internal/consistenthash/consistenthash.go
  vendor/github.com/go-redis/redis/internal/error.go
  vendor/github.com/go-redis/redis/internal/hashtag/hashtag.go
  vendor/github.com/go-redis/redis/internal/internal.go
  vendor/github.com/go-redis/redis/internal/log.go
  vendor/github.com/go-redis/redis/internal/once.go
  vendor/github.com/go-redis/redis/internal/pool/conn.go
  vendor/github.com/go-redis/redis/internal/pool/pool.go
  vendor/github.com/go-redis/redis/internal/pool/pool_single.go
  vendor/github.com/go-redis/redis/internal/pool/pool_sticky.go
  vendor/github.com/go-redis/redis/internal/proto/reader.go
  vendor/github.com/go-redis/redis/internal/proto/scan.go
  vendor/github.com/go-redis/redis/internal/proto/writer.go
  vendor/github.com/go-redis/redis/internal/util.go
  vendor/github.com/go-redis/redis/internal/util/safe.go
  vendor/github.com/go-redis/redis/internal/util/strconv.go
  vendor/github.com/go-redis/redis/internal/util/unsafe.go
  vendor/github.com/go-redis/redis/iterator.go
  vendor/github.com/go-redis/redis/options.go
  vendor/github.com/go-redis/redis/pipeline.go
  vendor/github.com/go-redis/redis/pubsub.go
  vendor/github.com/go-redis/redis/redis.go
  vendor/github.com/go-redis/redis/result.go
  vendor/github.com/go-redis/redis/ring.go
  vendor/github.com/go-redis/redis/script.go
  vendor/github.com/go-redis/redis/sentinel.go
  vendor/github.com/go-redis/redis/tx.go
  vendor/github.com/go-redis/redis/universal.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#5846 Added docker example for backup
  docs/content/doc/usage/backup-and-restore.en-us.md
Labels: kind/docs, lgtm/done, reviewed/confirmed

#6546 Render SHA1 links as code blocks
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
Labels: lgtm/done

#6550 Context.ServerError and NotFound should log from their caller
  modules/context/context.go
Labels: kind/testing, lgtm/done

#6554 Apply for maintainers
  MAINTAINERS
Labels: lgtm/done

#6555 Prevent server 500 on compare branches with no common history
  modules/git/repo_pull.go
  options/locale/locale_en-US.ini
  templates/repo/commits_table.tmpl
  templates/repo/pulls/compare.tmpl
Labels: backport/v1.8, kind/bug, lgtm/done

#6515 Fixes #6514 - New Pull Request on files and pulls pages the same
  templates/repo/issue/list.tmpl
Labels: kind/enhancement, lgtm/done

#6569 Docs: Backup&Restore: fixed rendering + minor fixes
  docs/content/doc/usage/backup-and-restore.en-us.md
Labels: kind/docs, lgtm/done

#6572 Integration PR for #6541
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: kind/proposal, lgtm/done

#6556 Fix race in integration testlogger
  integrations/integration_test.go
  integrations/testlogger.go
Labels: kind/build, kind/testing, lgtm/done

#6553 Minor CSS cleanup for the navbar
  public/css/index.css
  public/less/_base.less
Labels: kind/ui, lgtm/done

#6558 Prevent server 500 on compare branches with no common history (#6555)
  Gopkg.lock
  options/locale/locale_en-US.ini
  templates/repo/commits_table.tmpl
  templates/repo/pulls/compare.tmpl
  vendor/code.gitea.io/git/hook.go
  vendor/code.gitea.io/git/repo_pull.go
Labels: kind/bug, lgtm/done

#6583 Fix new repo dropdown alignment
  public/css/index.css
  public/less/_base.less
Labels: lgtm/done

#6581 fix mail notification when close/reopen issue
  models/issue_mail.go
  modules/notification/mail/mail.go
Labels: kind/enhancement, lgtm/done

#6585 Fix new repo alignment (#6583)
  public/css/index.css
  public/less/_base.less
Labels: kind/ui, lgtm/done

#6579 fix bug user search API pagesize didn't obey ExplorePagingNum
  routers/api/v1/user/user.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6586 fix bug user search API pagesize didn't obey ExplorePagingNum (#6579)
  routers/api/v1/user/user.go
Labels: kind/bug, lgtm/done

#6479 Support search operators for commits search
  integrations/api_repo_test.go
  integrations/gitea-repositories-meta/user2/commits_search_test.git/HEAD
  integrations/gitea-repositories-meta/user2/commits_search_test.git/config
  integrations/gitea-repositories-meta/user2/commits_search_test.git/description
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/applypatch-msg.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/commit-msg.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/post-update.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/pre-applypatch.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/pre-commit.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/pre-push.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/pre-rebase.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/prepare-commit-msg.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/hooks/update.sample
  integrations/gitea-repositories-meta/user2/commits_search_test.git/info/exclude
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/0a/8499a22ad32a80beda9d75efe15f9f94582468
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/0c/cf1fcd4d1717c22de0707619a5577ea0acebf0
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/3e/a192a6466793d4b7cd8641801ca0c6bec3979c
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/3f/6594f108842b7c50772510e53ce113d3583c4a
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/58/e97d1a24fb9e1599d8a467ec409430f3d3569e
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/67/68c1fc1d9448422f05cc84267d94ee62085fe8
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/6e/8eabd9a7f8d6acd2a1219facfd37415564b144
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/85/f46d747a68adf79cc01e2c25ba6a56932d298d
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/8d/dd8d1ad1fdc21ab629e906711fa9bc27aa1c52
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/95/fd0c4138480e4b3913e7cf71a90623fb926fe8
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/98/00fe78cabf4fe774fcf376f97fa2a0ed06987b
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/9f/cdb7d53bdef786d2e5577948a0c0d4b321fe5a
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/c2/0caf78b5f9dd2d0d183876c5cd0e761c13f7f8
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/c5/2ba74685f5c8c593efbbb38f62fe024110adef
  integrations/gitea-repositories-meta/user2/commits_search_test.git/objects/d6/ae8023a10ff446b6a4e7f441554834008e99c3
  integrations/gitea-repositories-meta/user2/commits_search_test.git/packed-refs
  integrations/gitea-repositories-meta/user2/commits_search_test.git/refs/heads/master
  integrations/repo_commits_search_test.go
  models/fixtures/repo_unit.yml
  models/fixtures/repository.yml
  models/fixtures/user.yml
  models/repo_list_test.go
  modules/git/commit.go
  modules/git/repo_commit.go
  options/locale/locale_en-US.ini
  routers/repo/commit.go
  templates/repo/commits_table.tmpl
Labels: changelog, kind/enhancement, lgtm/done

#6273 Improve issue autolinks
  models/repo.go
  models/repo_test.go
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/markdown/markdown_test.go
  routers/api/v1/api.go
  routers/api/v1/misc/markdown.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/wiki/new.tmpl
Labels: kind/enhancement, lgtm/done

#6584 Add option to disable refresh token invalidation
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/oauth_test.go
  modules/auth/user_form.go
  modules/setting/setting.go
  routers/user/oauth.go
Labels: kind/enhancement, lgtm/done

#6587 Add option to disable refresh token invalidation (#6584)
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/oauth_test.go
  modules/auth/user_form.go
  modules/setting/setting.go
  routers/user/oauth.go
Labels: kind/enhancement, lgtm/done

#6588 fix mail notification when close/reopen issue (#6581)
  models/issue_mail.go
  modules/notification/mail/mail.go
Labels: kind/enhancement, lgtm/done

#6591 [API] Change commit summary to full message
  routers/api/v1/repo/commits.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6592 Change summary to full message (#6591)
  routers/api/v1/repo/commits.go
Labels: kind/bug, lgtm/done

#6593 Correctly adjust mirror url
  models/repo.go
  models/repo_mirror.go
  options/locale/locale_en-US.ini
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: backport/v1.7, backport/v1.8, lgtm/done

#6594 Correctly adjust mirror url (#6593)
  models/repo.go
  models/repo_mirror.go
  options/locale/locale_en-US.ini
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done

#6595 Correctly adjust mirror url (#6593)
  .drone.yml
  Gopkg.lock
  models/repo.go
  models/repo_mirror.go
  options/locale/locale_en-US.ini
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
  vendor/github.com/mvdan/xurls/LICENSE
  vendor/github.com/mvdan/xurls/schemes.go
  vendor/github.com/mvdan/xurls/tlds.go
  vendor/github.com/mvdan/xurls/tlds_pseudo.go
  vendor/github.com/mvdan/xurls/xurls.go
Labels: kind/bug, lgtm/done

#6596 1.7.6 changelog
  CHANGELOG.md
Labels: lgtm/done

#6524 FAQ
  docs/content/doc/help/faq.en-us.md
  docs/content/doc/help/seek-help.en-us.md
  docs/content/doc/help/troubleshooting.en-us.md
Labels: kind/docs, lgtm/done

#6597 1.8.0-rc3 changelog & 1.7.6 changelog backport
  CHANGELOG.md
Labels: lgtm/done

#6598 backport 1.8.0-rc3 & 1.7.6 changelog
  CHANGELOG.md
Labels: lgtm/done

#6604 Add oauth2 documentation
  docs/content/doc/advanced/api-usage.en-us.md
  docs/content/doc/advanced/oauth2-provider.md
  docs/static/authorize.png
Labels: kind/docs, lgtm/done

#6609 Fix cross-compile builds
  Makefile
Labels: backport/v1.8, kind/bug, kind/build, lgtm/done

#6610 add .gpg url (match github behaviour)
  integrations/user_test.go
  models/error.go
  models/fixtures/gpg_key_import.yml
  models/gpg_key.go
  models/migrations/migrations.go
  models/migrations/v84.go
  models/models.go
  models/user.go
  routers/user/home.go
  routers/user/profile.go
Labels: kind/enhancement, lgtm/done

#6612 fix Open Graph og:image link
  templates/base/head.tmpl
Labels: kind/bug, lgtm/done

#6615 Fix cross-compile builds (#6609)
  Makefile
Labels: kind/bug, kind/build, lgtm/done

#6617 remove bash requirement in makefile
  Makefile
Labels: kind/bug, kind/build, lgtm/done

#6619 Remove extra slash from twitter card
  templates/base/head.tmpl
Labels: kind/bug, lgtm/done

#6627 Add json tags for oauth2 form
  integrations/oauth_test.go
  modules/auth/user_form.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6629 Return a UserList from /api/v1/admin/users
  integrations/api_admin_test.go
  routers/api/v1/admin/user.go
  routers/api/v1/convert/convert.go
  routers/api/v1/user/user.go
Labels: backport/v1.8, kind/api, kind/bug, lgtm/done

#6639 Update UI for topics labels on projects
  public/css/index.css
  public/js/index.js
  public/less/_explore.less
  templates/explore/repo_list.tmpl
  templates/repo/home.tmpl
Labels: lgtm/done

#6640 upgrade version of lib/pq to v1.1.0
  go.mod
  go.sum
  vendor/github.com/lib/pq/.travis.sh
  vendor/github.com/lib/pq/.travis.yml
  vendor/github.com/lib/pq/README.md
  vendor/github.com/lib/pq/conn.go
  vendor/github.com/lib/pq/conn_go18.go
  vendor/github.com/lib/pq/connector.go
  vendor/github.com/lib/pq/doc.go
  vendor/github.com/lib/pq/scram/scram.go
  vendor/github.com/lib/pq/ssl.go
  vendor/github.com/lib/pq/ssl_go1.7.go
  vendor/github.com/lib/pq/ssl_renegotiation.go
  vendor/modules.txt
Labels: kind/bug, kind/enhancement, lgtm/done

#6641 Add json tags for oauth2 form (#6627)
  integrations/oauth_test.go
  modules/auth/user_form.go
Labels: kind/bug, lgtm/done

#6637 Fix forking an empty repository
  models/repo.go
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#6642 Return a UserList from /api/v1/admin/users (#6629)
  integrations/api_admin_test.go
  routers/api/v1/admin/user.go
  routers/api/v1/convert/convert.go
  routers/api/v1/user/user.go
Labels: kind/api, kind/bug, lgtm/done

#6643 Fix wrong GPG expire date
  models/gpg_key.go
  models/gpg_key_test.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6644 [backport] Fix wrong GPG expire date (#6643)
  models/gpg_key.go
  models/gpg_key_test.go
Labels: kind/bug, lgtm/done

#6645 Use ctx.metas for SHA hash links
  modules/markup/html.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
Labels: kind/bug, lgtm/done

#6650 Add title attributes to all items in the repo list viewer (#6258)
  templates/repo/view_list.tmpl
Labels: kind/ui, lgtm/done

#6651 Fix dropdown icon padding
  public/css/index.css
  public/less/_form.less
Labels: backport/v1.8, kind/ui, lgtm/done

#6654 Fix dropdown icon padding (#6651)
  public/css/index.css
  public/less/_form.less
Labels: kind/ui, lgtm/done

#6653 [backport] Fix forking an empty repository (#6637)
  models/repo.go
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#6656 Fix #6655 - Don't EscapePound .Link as it is already escaped
  templates/repo/issue/new_form.tmpl
Labels: backport/v1.8, kind/bug, lgtm/done

#6660 Fixes #6659 - Swagger schemes selection default to page's protocol
  templates/swagger/ui.tmpl
Labels: kind/api, kind/bug, kind/ui, lgtm/done

#6658 update highlight.js to 9.15.6
  public/vendor/VERSIONS
  public/vendor/librejs.html
  public/vendor/plugins/highlight/highlight.pack.js
Labels: kind/bug, kind/ui, lgtm/done

#6657 Properly escape on the redirect from the web editor
  routers/repo/editor.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6529 [docker] simplify the log handling of sshd
  docker/etc/s6/openssh/run
  docker/etc/s6/syslogd/finish
  docker/etc/s6/syslogd/run
  docker/etc/s6/syslogd/setup
Labels: kind/enhancement, lgtm/done

#6662 Bump gopkg.in/src-d/go-git.v4 from 4.8.0 to 4.10.0
  go.mod
  go.sum
  vendor/gopkg.in/src-d/go-git.v4/config/config.go
  vendor/gopkg.in/src-d/go-git.v4/internal/url/url.go
  vendor/gopkg.in/src-d/go-git.v4/options.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/packfile/common.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/packfile/fsobject.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/packfile/packfile.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/packfile/parser.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/packfile/scanner.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commit_walker.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commit_walker_file.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/revlist/revlist.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/storer/object.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/storer/reference.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/transport/common.go
  vendor/gopkg.in/src-d/go-git.v4/remote.go
  vendor/gopkg.in/src-d/go-git.v4/repository.go
  vendor/gopkg.in/src-d/go-git.v4/storage/filesystem/dotgit/dotgit.go
  vendor/gopkg.in/src-d/go-git.v4/storage/filesystem/dotgit/dotgit_setref.go
  vendor/gopkg.in/src-d/go-git.v4/storage/filesystem/dotgit/dotgit_setref_norwfs.go
  vendor/gopkg.in/src-d/go-git.v4/storage/filesystem/object.go
  vendor/gopkg.in/src-d/go-git.v4/storage/filesystem/storage.go
  vendor/gopkg.in/src-d/go-git.v4/storage/memory/storage.go
  vendor/gopkg.in/src-d/go-git.v4/storage/storer.go
  vendor/gopkg.in/src-d/go-git.v4/utils/merkletrie/noder/path.go
  vendor/gopkg.in/src-d/go-git.v4/worktree.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#6663 Bump github.com/stretchr/testify from 1.2.2 to 1.3.0
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#6605 Add SUBJECT_PREFIX mailer config option
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/mailer/mailer.go
  modules/setting/mailer.go
Labels: kind/feature, lgtm/done

#6436 Add API for manipulating Git hooks
  go.mod
  go.sum
  integrations/api_repo_git_hook_test.go
  integrations/api_repo_test.go
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/HEAD
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/config
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/description
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/applypatch-msg.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/commit-msg.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/post-receive
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/post-receive.d/gitea
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/post-update.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/pre-applypatch.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/pre-commit.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/pre-push.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/pre-rebase.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/pre-receive
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/pre-receive.d/gitea
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/pre-receive.d/pre-receive
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/prepare-commit-msg.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/update
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/update.d/gitea
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/hooks/update.sample
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/info/exclude
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/info/refs
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/objects/2a/2f1d4670728a2e10049e345bd7a276468beab6
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/objects/4b/4851ad51df6a7d9f25c979345979eaeb5b349f
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/objects/65/f1bf27bc3bf70f64657658635e66094edbcb4d
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/objects/info/packs
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/refs/heads/DefaultBranch
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/refs/heads/develop
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/refs/heads/feature/1
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/refs/heads/master
  integrations/gitea-repositories-meta/user2/git_hooks_test.git/refs/tags/v1.1
  models/fixtures/repo_unit.yml
  models/fixtures/repository.yml
  models/fixtures/user.yml
  models/repo_list_test.go
  modules/context/api.go
  routers/api/v1/api.go
  routers/api/v1/convert/convert.go
  routers/api/v1/repo/git_hook.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/git_hook.go
  vendor/code.gitea.io/sdk/gitea/gitea.go
  vendor/modules.txt
Labels: kind/api, kind/feature, lgtm/done

#6625 OAuth2 Grant UI
  models/oauth2_application.go
  models/oauth2_application_test.go
  options/locale/locale_en-US.ini
  routers/routes/routes.go
  routers/user/setting/applications.go
  routers/user/setting/oauth2.go
  templates/user/settings/applications.tmpl
  templates/user/settings/grants_oauth2.tmpl
Labels: kind/feature, lgtm/done

#6575 Pre-calculate the absolute path of git
  modules/git/command.go
  modules/git/git.go
Labels: kind/refactor, lgtm/done

#6647 Add more title attributes on shortened names
  templates/repo/create.tmpl
  templates/repo/home.tmpl
  templates/repo/migrate.tmpl
  templates/repo/pulls/fork.tmpl
  templates/user/dashboard/navbar.tmpl
Labels: kind/ui, lgtm/done

#6314 Fixes 4762 - Content API for Creating, Updating, Deleting Files
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  integrations/api_repo_file_content_test.go
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_delete_test.go
  integrations/api_repo_file_helpers.go
  integrations/api_repo_file_update_test.go
  integrations/api_repo_git_blobs_test.go
  integrations/api_repo_git_trees_test.go
  integrations/integration_test.go
  integrations/migration-test/migration_test.go
  models/error.go
  models/unit_tests.go
  modules/auth/repo_form.go
  modules/base/tool.go
  modules/context/repo.go
  modules/git/blob.go
  modules/git/commit.go
  modules/git/repo_commit.go
  modules/repofiles/blob.go
  modules/repofiles/blob_test.go
  modules/repofiles/content.go
  modules/repofiles/content_test.go
  modules/repofiles/delete.go
  modules/repofiles/delete_test.go
  modules/repofiles/diff.go
  modules/repofiles/diff_test.go
  modules/repofiles/file.go
  modules/repofiles/file_test.go
  modules/repofiles/repofiles.go
  modules/repofiles/repofiles_test.go
  modules/repofiles/temp_repo.go
  modules/repofiles/tree.go
  modules/repofiles/tree_test.go
  modules/repofiles/update.go
  modules/repofiles/update_test.go
  modules/repofiles/upload.go
  modules/repofiles/verification.go
  modules/setting/setting.go
  modules/uploader/delete.go
  modules/uploader/update.go
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/blob.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/tree.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  routers/repo/editor.go
  routers/repo/editor_test.go
  templates/repo/editor/commit_form.tmpl
  templates/repo/editor/delete.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#6667 Properly escape on the redirect from the web editor (#6657)
  routers/repo/editor.go
Labels: kind/bug, lgtm/done

#6666 Don't EscapePound .Link it's already escaped (#6656)
  templates/repo/issue/new_form.tmpl
Labels: kind/bug, lgtm/done

#5305 Comments list performance optimization
  models/issue.go
  models/issue_comment.go
  models/issue_comment_list.go
  routers/api/v1/repo/issue_comment.go
Labels: kind/bug, kind/refactor, lgtm/done

#5042 UX + Security current user password reset
  models/mail.go
  options/locale/locale_en-US.ini
  routers/routes/routes.go
  routers/user/auth.go
  templates/mail/auth/register_notify.tmpl
  templates/mail/auth/reset_passwd.tmpl
  templates/user/auth/reset_passwd.tmpl
Labels: kind/enhancement, lgtm/done

#4227 Telegram webhook
  models/webhook.go
  models/webhook_telegram.go
  models/webhook_test.go
  modules/auth/repo_form.go
  modules/setting/webhook.go
  options/locale/locale_en-US.ini
  public/img/telegram.png
  routers/repo/webhook.go
  routers/routes/routes.go
  templates/org/settings/hook_new.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/repo/settings/webhook/new.tmpl
  templates/repo/settings/webhook/telegram.tmpl
Labels: changelog, kind/feature, lgtm/done

#6674 API OTP Context
  modules/auth/auth.go
  modules/context/api.go
  modules/context/auth.go
  routers/api/v1/api.go
Labels: backport/v1.8, kind/refactor, lgtm/done

#6478 Improve listing performance by using go-git
  go.mod
  integrations/api_repo_git_blobs_test.go
  models/error.go
  models/pull.go
  models/repo_branch.go
  modules/context/repo.go
  modules/git/blob.go
  modules/git/blob_test.go
  modules/git/commit.go
  modules/git/commit_info.go
  modules/git/commit_info_test.go
  modules/git/error.go
  modules/git/parse.go
  modules/git/parse_test.go
  modules/git/repo.go
  modules/git/repo_blob.go
  modules/git/repo_blob_test.go
  modules/git/repo_branch.go
  modules/git/repo_commit.go
  modules/git/repo_tag.go
  modules/git/repo_tree.go
  modules/git/sha1.go
  modules/git/signature.go
  modules/git/tree.go
  modules/git/tree_blob.go
  modules/git/tree_entry.go
  modules/git/tree_entry_test.go
  modules/repofiles/blob_test.go
  modules/repofiles/content.go
  modules/repofiles/temp_repo.go
  modules/repofiles/tree.go
  modules/repofiles/tree_test.go
  modules/repofiles/update.go
  routers/api/v1/convert/convert.go
  routers/api/v1/repo/branch.go
  routers/repo/commit.go
  routers/repo/editor.go
  routers/repo/issue.go
  routers/repo/setting_protected_branch.go
  routers/repo/view.go
  routers/repo/wiki.go
  routers/repo/wiki_test.go
  templates/repo/diff/page.tmpl
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#6676 backport - API OTP Context (#6674)
  modules/auth/auth.go
  modules/context/api.go
  modules/context/auth.go
  routers/api/v1/api.go
Labels: kind/refactor, lgtm/done

#6632 Add support for MS Teams webhooks
  docs/content/doc/features/comparison.en-us.md
  models/webhook.go
  models/webhook_msteams.go
  modules/auth/repo_form.go
  modules/setting/webhook.go
  options/locale/locale_en-US.ini
  public/img/msteams.png
  routers/repo/webhook.go
  routers/routes/routes.go
  templates/admin/hook_new.tmpl
  templates/org/settings/hook_new.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/repo/settings/webhook/msteams.tmpl
  templates/repo/settings/webhook/new.tmpl
Labels: kind/feature, lgtm/done

#5721 Add option to blame files
  models/git_blame.go
  models/git_blame_test.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_repository.less
  routers/repo/blame.go
  routers/routes/routes.go
  templates/repo/blame.tmpl
  templates/repo/home.tmpl
  templates/repo/view_file.tmpl
Labels: kind/feature, lgtm/done

#6533 Unifies pagination template usage (#6531)
  modules/context/api.go
  modules/context/pagination.go
  routers/admin/notice.go
  routers/home.go
  routers/repo/commit.go
  routers/repo/issue.go
  routers/repo/milestone.go
  routers/repo/release.go
  routers/repo/search.go
  routers/repo/view.go
  routers/user/home.go
  routers/user/notification.go
  routers/user/profile.go
  templates/admin/notice.tmpl
  templates/admin/repo/list.tmpl
  templates/base/paginate.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/user_cards.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/refactor, lgtm/done

#6677 Prevent creating empty sessions
  Makefile
  integrations/create_no_session_test.go
  modules/session/virtual.go
  modules/setting/session.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6685 Fix partial reversion of #6657 caused by #6314
  routers/repo/editor.go
Labels: kind/bug, kind/regression, lgtm/done

#6690 Prevent creating empty sessions (#6677)
  Makefile
  integrations/create_no_session_test.go
  modules/session/virtual.go
  modules/setting/session.go
Labels: kind/bug, lgtm/done

#6692 Unfortunately MemProvider Init does not actually Init properly
  modules/session/memory.go
  modules/session/virtual.go
Labels: backport/v1.8, kind/bug, kind/regression, lgtm/done

#6693 Unfortunately MemProvider Init does not actually Init properly (#6692)
  modules/session/memory.go
  modules/session/virtual.go
Labels: kind/bug, kind/regression, lgtm/done

#6678 1.8.0 Changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6601 Show "delete branch" button on closed pull requests (#6570)
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  routers/repo/pull.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/enhancement, lgtm/done

#6697 Backport 1.8.0 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6686 Fix one performance/correctness regression in #6478 found on Rails repository.
  modules/git/commit_info.go
Labels: kind/enhancement, lgtm/done

#6618 Trace Logging on Permission Denied & ColorFormat
  docs/content/doc/advanced/logging-documentation.en-us.md
  models/access.go
  models/org_team.go
  models/repo.go
  models/repo_permission.go
  models/unit.go
  models/user.go
  modules/context/permission.go
  modules/log/colors.go
  modules/log/logger.go
  routers/api/v1/api.go
  routers/api/v1/repo/pull.go
  routers/repo/issue.go
  routers/repo/issue_watch.go
  routers/repo/pull.go
  routers/repo/wiki.go
  routers/user/home.go
Labels: kind/enhancement, lgtm/done

#6719 Disable web preview for telegram webhook
  models/webhook_telegram.go
Labels: kind/enhancement, lgtm/done

#6723 [API] Load issue attributes when editing an issue
  routers/api/v1/repo/issue.go
Labels: backport/v1.8, kind/api, kind/bug, lgtm/done

#6725 [API] Load issue attributes when editing an issue (#6723)
  routers/api/v1/repo/issue.go
Labels: kind/api, kind/bug, lgtm/done

#6706 Reorder file actions
  templates/repo/view_file.tmpl
Labels: kind/ui, lgtm/done

#6714 fix team members API
  integrations/api_team_test.go
  routers/api/v1/api.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6729 Fix team members API (#6714)
  integrations/api_team_test.go
  routers/api/v1/api.go
Labels: kind/bug, lgtm/done

#6737 fix admin template error
  templates/admin/notice.tmpl
Labels: kind/bug, lgtm/done

#6731 Add tests for Org API
  integrations/api_org_test.go
Labels: kind/testing, lgtm/done

#6736 Drop is_bare IDX only when it exists for MySQL and MariaDB
  models/migrations/v78.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6741 Fix bug when sort repos on org home page login with non-admin
  integrations/org_test.go
  models/org.go
  routers/user/home.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6744 Drop is_bare IDX only when it exists for MySQL and MariaDB (#6736)
  models/migrations/v78.go
Labels: kind/bug, lgtm/done

#6742 Add FAQ for version downloads
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done

#6739 Stricter domain name pattern in email regex
  modules/markup/html.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done

#6746 Fix: Sort repos on org home page with non-admin login (#6741)
  integrations/org_test.go
  models/org.go
  routers/user/home.go
Labels: kind/bug, lgtm/done

#6688 Handle redirects for git clone commands
  modules/context/repo.go
  routers/repo/http.go
Labels: kind/enhancement, lgtm/done

#6749 fix new team 500
  models/unit.go
  templates/org/team/new.tmpl
Labels: backport/v1.8, kind/bug, lgtm/done

#6751 fix missing return
  routers/user/oauth.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6756 fix missing return (#6751)
  routers/user/oauth.go
Labels: kind/bug, lgtm/done

#6747 OAuth2 token can be used in basic auth
  modules/auth/auth.go
  routers/repo/http.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6761 OAuth2 token can be used in basic auth (#6747)
  modules/auth/auth.go
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#6754 fix pulls broken when fork repository deleted
  models/error.go
  models/pull.go
  routers/repo/issue.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6727 UI: Detect and restore encoding and BOM in content
  modules/base/tool.go
  modules/repofiles/update.go
  modules/templates/helper.go
Labels: backport/v1.8, kind/bug, kind/ui, lgtm/done

#6766 LDAP: ignore already existing public keys after ldap sync
  models/error.go
  models/user.go
Labels: kind/bug, lgtm/done

#6768 Stricter domain name pattern in email regex
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#6780 Fix team edit API panic
  integrations/api_team_test.go
  routers/api/v1/org/team.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6765 UI: Detect and restore encoding and BOM in content (#6727)
  modules/base/tool.go
  modules/templates/helper.go
  modules/uploader/update.go
Labels: kind/bug, kind/feature, kind/ui, lgtm/done

#6696 README WordPress the code is overflowing #6679
  public/css/index.css
  public/less/_repository.less
Labels: kind/ui, lgtm/done

#6785 Fix team edit API panic
  integrations/api_team_test.go
  routers/api/v1/org/team.go
Labels: kind/api, kind/bug, lgtm/done

#6779 Set user search base field optional in LDAP (simple auth) edit page
  docs/content/doc/features/authentication.en-us.md
  modules/auth/ldap/README.md
  templates/admin/auth/edit.tmpl
Labels: backport/v1.8, kind/bug, lgtm/done

#6789 Set user search base field optional in LDAP (simple auth) edit page
  docs/content/doc/features/authentication.en-us.md
  modules/auth/ldap/README.md
  templates/admin/auth/edit.tmpl
Labels: kind/bug, lgtm/done

#6790 Restore IsWindows variable assignment (#6722)
  modules/setting/setting.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6788 Service worker js is a missing comma
  templates/pwa/serviceworker_js.tmpl
Labels: backport/v1.8, kind/bug, lgtm/done

#6781 Minor CSS cleanup for the navbar (#6553)
  public/css/index.css
  public/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#6795 Service worker js is a missing comma (#6788)
  templates/pwa/serviceworker_js.tmpl
Labels: kind/bug, lgtm/done

#6631 Make CustomPath, CustomConf and AppWorkPath configurable at build
  Makefile
  cmd/admin.go
  cmd/dump.go
  cmd/hook.go
  cmd/keys.go
  cmd/migrate.go
  cmd/serv.go
  cmd/web.go
  contrib/pr/checkout.go
  docker/Makefile
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/usage/command-line.en-us.md
  integrations/integration_test.go
  main.go
  models/ssh_key_test.go
  modules/setting/setting.go
Labels: kind/build, lgtm/done

#6760 UI: Tweak tab text and icon colors
  public/css/index.css
  public/less/_base.less
Labels: kind/ui, lgtm/done

#6802 Show scrollbar only when needed
  public/css/index.css
  public/less/_repository.less
Labels: backport/v1.8, kind/bug, kind/ui, lgtm/done
