Repository go-gitea/gitea, pull requests merged in 2019-10, with the labels that each got.

#8108 API endpoint for searching teams.
  integrations/api_team_test.go
  models/org_team.go
  public/js/index.js
  routers/api/v1/api.go
  routers/api/v1/org/team.go
  templates/repo/settings/collaboration.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#7486 Move mirror to a standalone package from models
  go.sum
  models/repo.go
  models/repo_mirror.go
  modules/cron/cron.go
  modules/templates/helper.go
  routers/api/v1/repo/repo.go
  routers/init.go
  routers/repo/setting.go
  services/mirror/mirror.go
  services/mirror/mirror_test.go
  services/release/release_test.go
  templates/repo/header.tmpl
  templates/repo/settings/options.tmpl
Labels: kind/refactor, lgtm/done

#8339 Backport of commit status fixes in PR #8316 and PR #8321 to v1.9
  models/pull.go
  templates/repo/issue/list.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/bug, lgtm/done

#8345 typo fix
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#8317 Update to github.com/lafriks/xormstore@v1.3.0
  go.mod
  go.sum
  vendor/github.com/denisenkom/go-mssqldb/README.md
  vendor/github.com/denisenkom/go-mssqldb/appveyor.yml
  vendor/github.com/denisenkom/go-mssqldb/buf.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy.go
  vendor/github.com/denisenkom/go-mssqldb/conn_str.go
  vendor/github.com/denisenkom/go-mssqldb/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/go.mod
  vendor/github.com/denisenkom/go-mssqldb/go.sum
  vendor/github.com/denisenkom/go-mssqldb/internal/decimal/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19.go
  vendor/github.com/denisenkom/go-mssqldb/net.go
  vendor/github.com/denisenkom/go-mssqldb/tds.go
  vendor/github.com/denisenkom/go-mssqldb/types.go
  vendor/github.com/denisenkom/go-mssqldb/uniqueidentifier.go
  vendor/github.com/golang-sql/civil/CONTRIBUTING.md
  vendor/github.com/golang-sql/civil/LICENSE
  vendor/github.com/golang-sql/civil/README.md
  vendor/github.com/golang-sql/civil/civil.go
  vendor/github.com/lafriks/xormstore/go.mod
  vendor/github.com/lafriks/xormstore/go.sum
  vendor/golang.org/x/crypto/acme/acme.go
  vendor/golang.org/x/crypto/acme/autocert/autocert.go
  vendor/golang.org/x/crypto/acme/http.go
  vendor/golang.org/x/crypto/acme/jws.go
  vendor/golang.org/x/crypto/acme/rfc8555.go
  vendor/golang.org/x/crypto/acme/types.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/google.golang.org/appengine/internal/net.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#8344 [arc-green] white on hover for active menu items
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/ui, lgtm/done

#7756 Api: advanced settings for repository (external wiki, issue tracker etc.)
  integrations/api_repo_edit_test.go
  models/repo.go
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#8334 Change general form binding to gogs form
  routers/repo/webhook.go
  routers/routes/routes.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8358 Fix a comment typo
  routers/repo/wiki.go
Labels: lgtm/done

#8354 Upgrade xorm to v0.7.9 to fix some bugs
  go.mod
  go.sum
  vendor/github.com/go-xorm/xorm/.drone.yml
  vendor/github.com/go-xorm/xorm/dialect_mssql.go
  vendor/github.com/go-xorm/xorm/dialect_mysql.go
  vendor/github.com/go-xorm/xorm/dialect_postgres.go
  vendor/github.com/go-xorm/xorm/dialect_sqlite3.go
  vendor/github.com/go-xorm/xorm/engine.go
  vendor/github.com/go-xorm/xorm/session_schema.go
  vendor/github.com/go-xorm/xorm/statement.go
  vendor/github.com/go-xorm/xorm/tag.go
  vendor/github.com/go-xorm/xorm/test_mssql.sh
  vendor/github.com/lafriks/xormstore/go.mod
  vendor/github.com/lafriks/xormstore/go.sum
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#8307 Transaction-aware retry create issue to cope with duplicate keys
  models/error.go
  models/issue.go
  models/pull.go
Labels: kind/enhancement, lgtm/done

#8347 Fix column name ambiguity in GetUserIssueStats()
  models/issue.go
  models/issue_test.go
Labels: kind/bug, lgtm/done

#8361 Fix lfs locks
  integrations/api_repo_lfs_locks_test.go
Labels: kind/testing, lgtm/done

#8357 readd .markdown class to all markup renderers
  public/css/index.css
  public/less/_repository.less
  templates/repo/view_file.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#8370 Cleanup https support code snippet
  docs/content/doc/usage/https-support.md
Labels: lgtm/done

#8359 Make issues page left menu 100% width and add reponame as title attribute
  public/css/index.css
  public/less/_dashboard.less
  templates/user/dashboard/issues.tmpl
Labels: kind/ui, lgtm/done

#8378 Add buildbot CI
  docs/content/doc/advanced/ci-cd.en-us.md
Labels: kind/docs, lgtm/done

#8289 Bugfix for image compare and minor improvements to image compare
  modules/git/commit.go
  routers/repo/commit.go
  routers/repo/compare.go
  routers/repo/pull.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/image_diff.tmpl
Labels: kind/bug, lgtm/done

#8375 Fix editor commit to new branch if PR disabled
  options/locale/locale_en-US.ini
  routers/repo/editor.go
  templates/repo/editor/commit_form.tmpl
Labels: kind/bug, lgtm/done

#8331 Add extra user information when migrating release
  models/migrations/migrations.go
  models/migrations/v98.go
  models/release.go
  modules/migrations/base/release.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  templates/repo/release/list.tmpl
Labels: kind/enhancement, lgtm/done

#8385 Doc config file should not be readable by others
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#8389 fix version-validation (because of 1.12 -> 1.13 switch)
  go.mod
  go.sum
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#8391 Doc added instructions for Git LFS support
  docs/content/doc/usage/git-lfs-support.md
Labels: kind/docs, lgtm/done

#8377 Add unix socket help
  contrib/systemd/gitea.service
Labels: kind/docs, lgtm/done

#8398 Backport: allow users with explicit read access to give approvals
  models/branches.go
  models/repo.go
  routers/repo/setting_protected_branch.go
Labels: kind/bug, lgtm/done

#8221 Fix milestone num_issues
  models/issue.go
  models/issue_milestone.go
  models/issue_milestone_test.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8401 [Backport] Fix editor commit to new branch if PR disabled (#8375)
  options/locale/locale_en-US.ini
  routers/repo/editor.go
  templates/repo/editor/commit_form.tmpl
Labels: kind/bug, lgtm/done

#8400 [Backport] Fix milestone num_issues (#8221)
  models/issue.go
  models/issue_milestone.go
  models/issue_milestone_test.go
Labels: kind/bug, lgtm/done

#8404 [Backport] feat: highlight issue references (#8101)
  models/action.go
  models/action_test.go
  modules/markup/html.go
  modules/markup/html_internal_test.go
Labels: kind/bug, lgtm/done

#8402 [Backport] Change general form binding to gogs form (#8334)
  routers/repo/webhook.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#8403 [Backport] Fix bug when migrating a private repository #7917
  modules/migrations/gitea.go
Labels: kind/bug, lgtm/done

#8396 add file line count info on UI
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_repository.less
  routers/repo/view.go
  templates/repo/view_file.tmpl
Labels: kind/ui, lgtm/done

#8393 Reduce utf8 test sensibility
  modules/charset/charset_test.go
Labels: kind/testing, lgtm/done

#8414 Update golangci to v1.19.1
  Makefile
Labels: lgtm/done

#8399 Fix backers badge
  README.md
  README_ZH.md
Labels: kind/docs, lgtm/done

#8411 Update milestone issues numbers when save milestone and other code improvements
  models/issue_milestone.go
Labels: kind/enhancement, lgtm/done

#8416 Singular form for files that has only one line
  options/locale/locale_en-US.ini
  templates/repo/view_file.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#8417 add 6543 to maintainers
  MAINTAINERS
Labels: lgtm/done

#8409 Fix issues/pr list broken when there are many repositories
  models/issue.go
  models/issue_test.go
  models/user.go
  models/user_test.go
  routers/user/home.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8418 [Backport] Fix issues/pr list broken when there are many repositories (#8409)
  models/issue.go
  models/issue_test.go
  models/user.go
  models/user_test.go
  routers/user/home.go
Labels: kind/bug, lgtm/done, status/blocked

#8422 Changelog for v1.9.4
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#8427 Revert "Fix issues/pr list broken when there are many repositories"
  models/issue.go
  models/issue_test.go
  models/user.go
  models/user_test.go
  routers/user/home.go
Labels: kind/bug, lgtm/done

#8382 Allow users with explicit read access to give approvals
  models/branches.go
  models/repo.go
  routers/repo/setting_protected_branch.go
Labels: backport/done, backport/v1.9, kind/bug, lgtm/done

#8429 Update strk.kbt.io/projects/go/libravatar to latest
  go.mod
  go.sum
  vendor/modules.txt
  vendor/strk.kbt.io/projects/go/libravatar/Makefile
  vendor/strk.kbt.io/projects/go/libravatar/README.md
  vendor/strk.kbt.io/projects/go/libravatar/libravatar.go
Labels: kind/bug, lgtm/done

#8432 Update golangci to v1.20
  .golangci.yml
  Makefile
Labels: kind/lint, lgtm/done

#8433 Changelog for v1.9.4 (#8422)
  CHANGELOG.md
Labels: lgtm/done

#8435 Fix migration v96 to keep issue attachments
  models/migrations/v96.go
Labels: kind/bug, lgtm/done, priority/critical

#8438 Fix template bug on mirror repository setting page
  modules/templates/helper.go
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done

#8408 Check for either escaped or unescaped wiki filenames
  routers/repo/wiki.go
Labels: kind/bug, lgtm/done

#8388 Doc updated list of supported webhooks and added example
  docs/content/doc/features/webhooks.en-us.md
Labels: kind/docs, lgtm/done

#8384 Doc recommend to use reverse proxy if Apache/nginx is also running on…
  docs/content/doc/usage/https-support.md
Labels: kind/docs, lgtm/done

#8447 [README] add crowdin badge
  README.md
  README_ZH.md
Labels: kind/docs, lgtm/done

#8452 DOCS: add mention of swagger api reference
  docs/content/doc/advanced/api-usage.en-us.md
Labels: lgtm/done

#8451 Add myself to TRANSLATORS file
  options/locale/TRANSLATORS
Labels: lgtm/done

#8395 Ignore mentions for users with no access
  models/issue.go
  models/issue_test.go
  models/org_team.go
  services/mailer/mail_comment.go
  services/mailer/mail_issue.go
Labels: kind/security, lgtm/done

#8454 Ensure Request Body Readers are closed in LFS server
  modules/lfs/locks.go
  modules/lfs/server.go
Labels: kind/bug, lgtm/done

#8455 LFS files are relative to LFS content path, ensure that when deleting they are made relative to this
  models/repo.go
Labels: kind/bug, lgtm/done

#8456 Move change issue title from models to issue service package
  integrations/api_pull_test.go
  models/issue.go
  models/issue_lock.go
  models/issue_test.go
  routers/repo/issue.go
  services/issue/issue.go
Labels: kind/refactor, lgtm/done

#8458 Ensure that LFS files are relative to the LFS content path (#8455)
  models/repo.go
Labels: lgtm/done

#8459 Ensure Request Body Readers are closed in LFS server (#8454)
  modules/lfs/locks.go
  modules/lfs/server.go
Labels: kind/bug, lgtm/done

#8352 Add home template italian translation
  templates/home.tmpl
Labels: kind/translation, lgtm/done

#8468 Latvian translation for home page
  templates/home.tmpl
Labels: kind/translation, lgtm/done

#7775 Restore functionality for early gits
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/lfs_getobject_test.go
  models/repo.go
  modules/git/repo_branch.go
  modules/git/repo_tree.go
  modules/process/manager.go
  modules/repofiles/temp_repo.go
  modules/repofiles/update.go
  modules/repofiles/upload.go
  services/mirror/mirror.go
  services/pull/merge.go
Labels: backport/v1.9, kind/bug, kind/regression, lgtm/done

#8471 Add check for empty set when dropping indexes during migration
  models/migrations/migrations.go
Labels: backport/v1.9, lgtm/done

#8475 Backport: Add check for empty set when dropping indexes during migration
  models/migrations/migrations.go
Labels: lgtm/done

#8477 Fix #8453 by making openssh listen on SSH_LISTEN_PORT not SSH_PORT
  docker/root/etc/s6/openssh/setup
  docker/root/etc/templates/sshd_config
Labels: kind/bug, lgtm/done

#8476 Restore functionality for early gits (#7775)
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/lfs_getobject_test.go
  models/repo.go
  models/repo_mirror.go
  modules/git/repo_branch.go
  modules/git/repo_tree.go
  modules/process/manager.go
  modules/pull/merge.go
  modules/repofiles/temp_repo.go
  modules/repofiles/update.go
  modules/repofiles/upload.go
Labels: kind/bug, lgtm/done

#6200 Move migrating repository from frontend to backend
  .gitignore
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  models/fixtures/repository.yml
  models/migrations/migrations.go
  models/migrations/v99.go
  models/models.go
  models/repo.go
  models/task.go
  modules/context/repo.go
  modules/migrations/base/options.go
  modules/migrations/gitea.go
  modules/migrations/gitea_test.go
  modules/migrations/github.go
  modules/migrations/migrate.go
  modules/setting/setting.go
  modules/setting/task.go
  modules/structs/repo.go
  modules/structs/task.go
  modules/task/migrate.go
  modules/task/queue.go
  modules/task/queue_channel.go
  modules/task/queue_redis.go
  modules/task/task.go
  options/locale/locale_en-US.ini
  public/img/loading.png
  public/js/index.js
  routers/api/v1/repo/repo.go
  routers/init.go
  routers/private/serv.go
  routers/repo/repo.go
  routers/repo/view.go
  routers/routes/routes.go
  services/mirror/mirror_test.go
  templates/repo/header.tmpl
  templates/repo/migrating.tmpl
Labels: kind/enhancement, lgtm/done

#8486 Fixes #8369: Create .ssh dir as necessary
  models/ssh_key.go
Labels: backport/v1.9, kind/bug, kind/regression, lgtm/done

#8484 Backport: Ignore mentions for users with no access (#8395)
  models/issue.go
  models/issue_comment.go
  models/issue_mail.go
  models/issue_test.go
  models/org_team.go
Labels: kind/security, lgtm/done

#8485 IsBranchExist: return false if provided name is empty
  modules/git/repo_branch.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8492 IsBranchExist: return false if provided name is empty (#8485)
  modules/git/repo_branch.go
Labels: kind/bug, lgtm/done

#8489 Fixes #8369: Create .ssh dir as necessary (#8486)
  models/ssh_key.go
Labels: kind/bug, kind/regression, lgtm/done

#8487 Update seek-help.en-us.md
  docs/content/doc/help/seek-help.en-us.md
Labels: kind/docs, lgtm/done

#8488 Update seek-help.zh-cn.md
  docs/content/doc/help/seek-help.zh-cn.md
Labels: kind/docs, lgtm/done

#8261 Rewrite reference processing code in preparation for opening/closing from comment references
  integrations/issue_test.go
  models/action.go
  models/action_test.go
  models/issue_comment.go
  models/issue_xref.go
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/mdstripper/mdstripper.go
  modules/markup/mdstripper/mdstripper_test.go
  modules/markup/sanitizer.go
  modules/references/references.go
  modules/references/references_test.go
  public/css/index.css
  public/less/_repository.less
  services/mailer/mail_comment.go
  services/mailer/mail_issue.go
Labels: kind/bug, kind/enhancement, kind/refactor, lgtm/done

#8495 vendor: update mvdan.cc/xurls/v2 to v2.1.0
  go.mod
  go.sum
  vendor/modules.txt
  vendor/mvdan.cc/xurls/v2/.travis.yml
  vendor/mvdan.cc/xurls/v2/README.md
  vendor/mvdan.cc/xurls/v2/go.mod
  vendor/mvdan.cc/xurls/v2/schemes.go
  vendor/mvdan.cc/xurls/v2/tlds.go
  vendor/mvdan.cc/xurls/v2/xurls.go
Labels: lgtm/done

#7751 Update migrated repositories' issues/comments/prs poster id if user has a github external user saved
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  models/external_login_user.go
  models/issue.go
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v100.go
  models/release.go
  models/repo.go
  modules/cron/cron.go
  modules/migrations/base/downloader.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/migrate.go
  modules/migrations/update.go
  modules/setting/cron.go
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  routers/user/auth.go
  services/externalaccount/user.go
Labels: kind/enhancement, lgtm/done

#8504 Fix bug on FindExternalUsersByProvider
  models/external_login_user.go
Labels: kind/bug, lgtm/done

#6230 Password Complexity Checks
  cmd/admin.go
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/password/password.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/admin/users.go
  routers/api/v1/admin/user.go
  routers/user/auth.go
  routers/user/setting/account.go
  routers/user/setting/account_test.go
Labels: kind/feature, lgtm/done

#8509 Add nofollow to sign in links
  templates/base/head_navbar.tmpl
  templates/repo/header.tmpl
  templates/user/auth/signin_navbar.tmpl
Labels: kind/enhancement, lgtm/done

#8506 Fix errors in create org UI regarding team access permission.
  modules/auth/org.go
  routers/org/org.go
  templates/org/create.tmpl
Labels: kind/bug, lgtm/done

#8510 Changelog for 1.10.0-RC1
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#8360 Add pagination to commit graph page
  models/graph.go
  models/graph_test.go
  routers/repo/commit.go
  templates/repo/graph.tmpl
Labels: kind/enhancement, lgtm/done

#8442 Make static resouces web browser cache time customized on app.ini
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/setting.go
  routers/routes/routes.go
Labels: kind/enhancement, lgtm/done

#8449 [Branch View] Add Included TAG
  options/locale/locale_en-US.ini
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/enhancement, lgtm/done

#8481 Recalculate repository access only for specific user
  models/access.go
  models/org_team.go
  models/repo_collaboration.go
Labels: kind/enhancement, lgtm/done

#8496 Support inline rendering of CUSTOM_URL_SCHEMES
  modules/markup/html.go
  modules/markup/html_test.go
  modules/markup/markup.go
  modules/markup/sanitizer.go
Labels: kind/enhancement, lgtm/done

#8497 Update config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#8324 Move AddTestPullRequestTask to pull service package from models
  models/pull.go
  modules/repofiles/update.go
  routers/repo/pull.go
  services/pull/merge.go
  services/pull/pull.go
Labels: kind/refactor, lgtm/done

#8326 Move clearlabels from models to issue service
  models/issue.go
  modules/notification/notification.go
  modules/notification/webhook/webhook.go
  routers/api/v1/repo/issue_label.go
  routers/repo/issue_label.go
  services/issue/label.go
Labels: kind/refactor, lgtm/done

#8498 Update app.ini.sample
  custom/conf/app.ini.sample
Labels: kind/docs, lgtm/done

#8470 [UI] Pull Request Download diff Button
  docs/content/doc/features/comparison.en-us.md
  options/locale/locale_en-US.ini
  templates/repo/diff/box.tmpl
  templates/repo/diff/options_dropdown.tmpl
Labels: kind/enhancement, lgtm/done

#8426 Enable Uploading/Removing Attachments When Editing an Issue/Comment
  models/issue.go
  models/issue_comment.go
  modules/util/compare.go
  public/js/index.js
  routers/repo/attachment.go
  routers/repo/issue.go
  routers/routes/routes.go
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/attachments.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/enhancement, lgtm/done

#7274 Restore Graceful Restarting & Socket Activation
  cmd/web.go
  cmd/web_graceful.go
  cmd/web_windows.go
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  go.mod
  go.sum
  models/repo_indexer.go
  modules/graceful/cleanup.go
  modules/graceful/net.go
  modules/graceful/restart.go
  modules/graceful/server.go
  modules/graceful/server_hooks.go
  modules/graceful/server_http.go
  modules/graceful/server_signals.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/repo.go
  modules/setting/indexer.go
  modules/setting/log.go
  modules/setting/setting.go
  modules/ssh/ssh.go
  modules/ssh/ssh_graceful.go
  modules/ssh/ssh_windows.go
  routers/init.go
  routers/install.go
  vendor/github.com/facebookgo/clock/LICENSE
  vendor/github.com/facebookgo/clock/README.md
  vendor/github.com/facebookgo/clock/clock.go
  vendor/github.com/facebookgo/grace/gracehttp/http.go
  vendor/github.com/facebookgo/grace/gracenet/net.go
  vendor/github.com/facebookgo/httpdown/.travis.yml
  vendor/github.com/facebookgo/httpdown/httpdown.go
  vendor/github.com/facebookgo/httpdown/license
  vendor/github.com/facebookgo/httpdown/patents
  vendor/github.com/facebookgo/httpdown/readme.md
  vendor/github.com/facebookgo/stats/.travis.yml
  vendor/github.com/facebookgo/stats/aggregation.go
  vendor/github.com/facebookgo/stats/counter.go
  vendor/github.com/facebookgo/stats/license
  vendor/github.com/facebookgo/stats/patents
  vendor/github.com/facebookgo/stats/readme.md
  vendor/github.com/facebookgo/stats/stats.go
  vendor/github.com/facebookgo/stats/stopper.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#8500 upgrade gopkg.in/ini.v1
  go.mod
  go.sum
  modules/setting/setting.go
  vendor/gopkg.in/ini.v1/README.md
  vendor/gopkg.in/ini.v1/data_source.go
  vendor/gopkg.in/ini.v1/deprecated.go
  vendor/gopkg.in/ini.v1/file.go
  vendor/gopkg.in/ini.v1/helper.go
  vendor/gopkg.in/ini.v1/ini.go
  vendor/gopkg.in/ini.v1/key.go
  vendor/gopkg.in/ini.v1/struct.go
  vendor/modules.txt
Labels: dependencies, lgtm/done

#8501 upgrade gopkg.in/editorconfig/editorconfig-core-go.v1
  go.mod
  go.sum
  modules/context/repo.go
  modules/templates/helper.go
  routers/api/v1/repo/file.go
  vendor/github.com/editorconfig/editorconfig-core-go/v2/.editorconfig
  vendor/github.com/editorconfig/editorconfig-core-go/v2/.gitattributes
  vendor/github.com/editorconfig/editorconfig-core-go/v2/.gitignore
  vendor/github.com/editorconfig/editorconfig-core-go/v2/.gitmodules
  vendor/github.com/editorconfig/editorconfig-core-go/v2/.travis.yml
  vendor/github.com/editorconfig/editorconfig-core-go/v2/CHANGELOG.md
  vendor/github.com/editorconfig/editorconfig-core-go/v2/CMakeLists.txt
  vendor/github.com/editorconfig/editorconfig-core-go/v2/LICENSE
  vendor/github.com/editorconfig/editorconfig-core-go/v2/Makefile
  vendor/github.com/editorconfig/editorconfig-core-go/v2/README.md
  vendor/github.com/editorconfig/editorconfig-core-go/v2/editorconfig.go
  vendor/github.com/editorconfig/editorconfig-core-go/v2/fnmatch.go
  vendor/github.com/editorconfig/editorconfig-core-go/v2/go.mod
  vendor/github.com/editorconfig/editorconfig-core-go/v2/go.sum
  vendor/gopkg.in/editorconfig/editorconfig-core-go.v1/.gitattributes
  vendor/gopkg.in/editorconfig/editorconfig-core-go.v1/.travis.yml
  vendor/gopkg.in/editorconfig/editorconfig-core-go.v1/Makefile
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#8524 Fix password complexity regex for special characters (backport for v1.10.0)
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/password/password.go
  modules/password/password_test.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/admin/users_test.go
  routers/user/setting/account.go
  routers/user/setting/account_test.go
Labels: kind/bug, lgtm/done

#8525 Fix password complexity regex for special characters (on master)
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/password/password.go
  modules/password/password_test.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/admin/users_test.go
  routers/user/setting/account.go
  routers/user/setting/account_test.go
Labels: backport/done, backport/v1.10, kind/bug, lgtm/done

#8527 Add missed close in ServeBlobLFS
  routers/repo/download.go
Labels: backport/v1.10, backport/v1.9, kind/bug, lgtm/done

#8531 Update the provided gitea.service to mention socket activation
  contrib/systemd/gitea.service
Labels: kind/docs, lgtm/done

#8526 fix migrate mirror 500 bug
  models/repo.go
Labels: backport/v1.10, kind/bug, lgtm/done

#8530 Fix migrate mirror 500 bug (#8526)
  models/repo.go
Labels: kind/bug, lgtm/done

#8518 Move sync mirror actions to mirror service package
  models/action.go
  services/mirror/mirror.go
  services/mirror/sync.go
Labels: kind/refactor, lgtm/done

#8520 Doc added how to setup email
  docs/content/doc/usage/email-setup.md
Labels: kind/docs, lgtm/done

#8539 Ensure that GitRepo is set on Empty repositories
  modules/context/repo.go
Labels: backport/v1.10, kind/bug, lgtm/done

#7631 Sign merges, CRUD, Wiki and Repository initialisation with gpg key
  Makefile
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/signing.en-us.md
  integrations/api_helper_for_declarative_test.go
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_update_test.go
  integrations/gpg_git_test.go
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/repofiles_delete_test.go
  integrations/repofiles_update_test.go
  integrations/sqlite.ini
  models/gpg_key.go
  models/repo.go
  models/repo_sign.go
  models/wiki.go
  modules/git/commit.go
  modules/git/repo.go
  modules/git/repo_gpg.go
  modules/git/repo_tree.go
  modules/git/utils.go
  modules/repofiles/file_test.go
  modules/repofiles/temp_repo.go
  modules/repofiles/verification.go
  modules/setting/repository.go
  modules/structs/hook.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_base.less
  public/less/_repository.less
  routers/api/v1/api.go
  routers/api/v1/convert/convert.go
  routers/api/v1/misc/signing.go
  services/pull/merge.go
  templates/repo/commit_page.tmpl
  templates/repo/commits_table.tmpl
  templates/swagger/v1_json.tmpl
Labels: changelog, kind/feature, lgtm/done

#8537 Restrict modules/graceful to non-windows build and shim IsChild
  modules/graceful/cleanup.go
  modules/graceful/graceful_windows.go
  modules/graceful/net.go
  modules/graceful/restart.go
  modules/graceful/server.go
  modules/graceful/server_hooks.go
  modules/graceful/server_http.go
  modules/graceful/server_signals.go
Labels: kind/build, lgtm/done

#8541 Ensure that GitRepo is set on Empty repositories (#8539)
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#8532 Allow committing / adding empty files using the web ui (#8420)
  modules/auth/repo_form.go
  options/locale/locale_en-US.ini
  public/js/index.js
  templates/repo/editor/edit.tmpl
Labels: kind/enhancement, lgtm/done

#8542 Add missed close in ServeBlobLFS (#8527)
  routers/repo/download.go
Labels: kind/bug, lgtm/done

#8550 fix: ignored error
  routers/api/v1/repo/file.go
Labels: lgtm/done

#8551 Allow externalID to be UUID
  models/external_login_user.go
  models/issue.go
  models/issue_comment.go
  models/release.go
  modules/migrations/update.go
  services/externalaccount/user.go
Labels: backport/v1.10, kind/bug, lgtm/done

#8567 Fix building from source docs to ref AppWorkPath
  docs/content/doc/installation/from-source.en-us.md
Labels: kind/docs, lgtm/done

#8570 Implement/Fix PR review webhooks
  models/webhook_discord.go
  routers/repo/pull_review.go
  services/pull/review.go
Labels: kind/enhancement, lgtm/done

#8564 Fix bug on pull requests when transfer head repository
  models/fixtures/pull_request.yml
  models/migrations/migrations.go
  models/migrations/v102.go
  models/pull.go
  models/pull_test.go
  models/user.go
  modules/migrations/gitea.go
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
  services/pull/merge.go
Labels: backport/done, backport/v1.10, kind/bug, lgtm/done

#8516 Remove arrows on numeric inputs
  public/css/index.css
  public/less/_form.less
Labels: kind/enhancement, kind/ui, lgtm/done

#8583 Improve webhooks
  models/webhook_dingtalk.go
  models/webhook_discord.go
  models/webhook_msteams.go
  modules/structs/hook.go
  services/comments/comments.go
  services/pull/review.go
Labels: kind/enhancement, lgtm/done

#8585 Allow more than 255 characters for tokens in external_login_user tabl…
  models/external_login_user.go
  models/migrations/migrations.go
  models/migrations/v101.go
Labels: lgtm/done

#8569 Fix bug pull request files will be broken if head repo was transfered to another user or orgnization
  models/fixtures/pull_request.yml
  models/migrations/migrations.go
  models/migrations/v102.go
  models/pull.go
  models/pull_test.go
  models/user.go
  modules/migrations/gitea.go
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#8562 Fix template error on account page
  routers/user/setting/account.go
Labels: backport/v1.10, kind/bug, lgtm/done

#8553 Move issue label operations to issue service package
  models/issue.go
  models/issue_test.go
  routers/api/v1/repo/issue_label.go
  routers/repo/issue_label.go
  services/issue/label.go
  services/issue/label_test.go
  services/issue/main_test.go
Labels: kind/refactor, lgtm/done

#8586 Add setting to disable BASIC authentication
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/auth/auth.go
  modules/setting/service.go
Labels: kind/feature, lgtm/done

#8587 Fix #8582 by handling empty repos
  modules/repofiles/content.go
  modules/repofiles/content_test.go
Labels: backport/v1.10, backport/v1.9, kind/bug, lgtm/done

#8593 [Backport] Fix #8582 by handling empty repos (#8587)
  modules/repofiles/content.go
  modules/repofiles/content_test.go
Labels: kind/bug, lgtm/done

#8594 [Backport] Fix #8582 by handling empty repos (#8587)
  modules/repofiles/content.go
  modules/repofiles/content_test.go
Labels: kind/bug, lgtm/done

#8592 Display Gitea logo in Readme
  README.md
Labels: kind/docs, lgtm/done

#8549 Improve german translation of homepage
  templates/home.tmpl
Labels: kind/translation, lgtm/done

#8596 move startpage/homepage translation to crowdin
  options/locale/locale_en-US.ini
  templates/home.tmpl
Labels: kind/translation, lgtm/done

#8599 webhook: set Content-Type for application/x-www-form-urlencoded
  models/webhook.go
Labels: backport/v1.10, kind/bug, lgtm/done

#8600 webhook: set Content-Type for application/x-www-form-urlencoded
  models/webhook.go
Labels: kind/bug, lgtm/done

#8601 Basic Design guidelines (describing different parts of the code)
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#8604 Ensure default gpg settings not nil and found commits have reference to repo
  models/gpg_key.go
  modules/git/commit_info.go
Labels: kind/bug, lgtm/done

#8300 Allows external rendering of other filetypes 2
  routers/repo/view.go
Labels: kind/enhancement, lgtm/done

#8581 Fix 5532 diff stats
  public/css/index.css
  public/less/_repository.less
  templates/repo/diff/box.tmpl
Labels: backport/v1.10, kind/bug, kind/ui, lgtm/done

#8483 Allow Protected Branches to Whitelist Deploy Keys
  cmd/hook.go
  cmd/serv.go
  models/branches.go
  models/migrations/migrations.go
  models/migrations/v103.go
  models/update.go
  modules/auth/repo_form.go
  modules/private/hook.go
  options/locale/locale_en-US.ini
  routers/private/hook.go
  routers/repo/http.go
  routers/repo/setting_protected_branch.go
  templates/repo/settings/protected_branch.tmpl
Labels: kind/breaking, kind/feature, lgtm/done

#8611 [Backport] Ensure that diff stats can scroll independently of the diff (#8581)
  public/css/index.css
  public/less/_repository.less
  templates/repo/diff/box.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#8609 Prevent removal of non-empty emoji panel following selection of duplicate
  public/js/index.js
Labels: backport/v1.10, kind/bug, kind/ui, lgtm/done

#8608 Add id references on all issue events to allow internal linking
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/ui, lgtm/done

#8615 Update heatmap fixtures to restore tests
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/user_heatmap_test.go
Labels: backport/v1.10, backport/v1.9, kind/testing, lgtm/done

#8616 Update heatmap fixtures to restore tests (#8615)
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/user_heatmap_test.go
Labels: kind/testing, lgtm/done

#8617 Update heatmap fixtures to restore tests (#8615)
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/user_heatmap_test.go
Labels: kind/testing, lgtm/done

#8528 Expose db.SetMaxOpenConns and allow non MySQL dbs to set conn pool params
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/models.go
  modules/setting/database.go
Labels: backport/v1.10, kind/feature, lgtm/done

#8614 Prevent .code-view from overriding font on icon fonts
  public/css/index.css
  public/less/_base.less
Labels: backport/v1.10, kind/ui, lgtm/done

#8623 Backport: Prevent removal of non-empty emoji panel following selection of duplicate (#8609)
  public/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#8612 Correct some outdated statements in the contributing guidelines
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#8618 Expose db.SetMaxOpenConns and allow all dbs to set conn pool params (#8528)
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/models.go
  modules/setting/database.go
Labels: kind/bug, lgtm/done

#8627 Backport: Prevent .code-view from overriding font on icon fonts (#8614)
  public/css/index.css
  public/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#8624 Backport: Allow externalID to be UUID (#8551)
  models/external_login_user.go
  models/issue.go
  models/issue_comment.go
  models/release.go
  modules/migrations/update.go
  services/externalaccount/user.go
Labels: kind/bug, lgtm/done

#8622 Fix template error on account page (#8562)
  routers/user/setting/account.go
Labels: kind/bug, lgtm/done
