Repository go-gitea/gitea, pull requests merged in 2019-02, with the labels that each got.

#5880 support reviews on a deleted file path
  models/issue_comment.go
Labels: kind/bug, lgtm/done

#5932 UI: Better support for long repo names
  templates/repo/header.tmpl
  templates/user/dashboard/feeds.tmpl
Labels: kind/ui, lgtm/done

#5927 UI: Fix wrapping long code lines
  public/css/index.css
  public/less/_base.less
  public/less/_repository.less
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/ui, lgtm/done

#5938 fix log output
  models/branches.go
Labels: kind/bug, lgtm/done

#5843 Add single commit API support
  Gopkg.lock
  integrations/api_repo_git_commits_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/commits.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/git/commit.go
  vendor/code.gitea.io/git/repo_commit.go
  vendor/code.gitea.io/git/submodule.go
  vendor/code.gitea.io/git/tree.go
Labels: kind/api, lgtm/done

#5940 Remove all CommitStatus when a repo is deleted
  models/repo.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5941 Remove all CommitStatus when a repo is deleted (#5940)
  models/repo.go
Labels: kind/bug, lgtm/done

#5887 In gitea serv switch off console logger to fix #5866
  cmd/serv.go
Labels: kind/bug, lgtm/done

#5935 Set PusherName and PusherID to owner on deploy key to fix pushing with deploy keys
  cmd/serv.go
  integrations/deploy_key_push_test.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5944 Fix notifications on pushing with deploy keys by setting hook environment variables (#5935)
  cmd/serv.go
  integrations/deploy_key_push_test.go
Labels: kind/bug, lgtm/done

#5947 handle milestone events for issues and PR
  models/webhook_slack.go
Labels: kind/enhancement, lgtm/done

#5943 Silence console logger in gitea serv (#5887)
  cmd/serv.go
Labels: kind/bug, lgtm/done

#5948 show user who created the repository instead of the organisation in action feed
  models/repo.go
Labels: lgtm/done

#5939 Fix ssh deploy and user key constraints (#1357)
  cmd/serv.go
  integrations/api_helper_for_declarative_test.go
  integrations/deploy_key_push_test.go
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/ssh_key_test.go
  models/repo.go
  models/ssh_key.go
  modules/private/key.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/key.go
  routers/private/internal.go
  routers/private/key.go
  routers/repo/setting.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5929 Issue 5924 fix compare button
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
  templates/repo/home.tmpl
Labels: kind/ui, lgtm/done

#5955 Handle milestone events for issues and PR ( Backport of 5947)
  models/webhook_slack.go
Labels: kind/bug, lgtm/done

#5956 show user who created the repository instead of the organisation in action feed (Backport of #5948)
  models/repo.go
Labels: kind/bug, lgtm/done

#5946 Add label names as filter in issue search api
  models/issue_label.go
  models/issue_label_test.go
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#5966 Fix ssh deploy and user key constraints (#1357) (#5939)
  cmd/serv.go
  integrations/api_helper_for_declarative_test.go
  integrations/deploy_key_push_test.go
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/ssh_key_test.go
  models/repo.go
  models/ssh_key.go
  modules/private/key.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/key.go
  routers/private/internal.go
  routers/private/key.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#4327 Automatically clear stopwatch on merging a PR
  models/action.go
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  routers/repo/issue_stopwatch.go
  routers/repo/pull.go
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/enhancement, lgtm/done

#5951 Pull request conflict files detection
  models/pull.go
  options/locale/locale_en-US.ini
  routers/repo/pull.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/feature, lgtm/done

#5971 UI: Fixes for repo topic editor
  public/js/index.js
  templates/repo/home.tmpl
Labels: kind/ui, lgtm/done

#5950 Display the branch name in the commit view
  Gopkg.lock
  templates/repo/diff/page.tmpl
  vendor/code.gitea.io/git/commit.go
  vendor/code.gitea.io/git/repo_commit.go
Labels: kind/enhancement, lgtm/done

#5945 UI: Repo header tweaks
  .editorconfig
  public/css/index.css
  public/js/index.js
  public/less/_base.less
  public/less/_repository.less
  templates/repo/header.tmpl
  templates/repo/home.tmpl
Labels: kind/ui, lgtm/done

#5909 Upgrade alpine to 3.9
  Dockerfile
Labels: kind/build, lgtm/done

#5814 Fix serving of raw wiki files other than .md
  Gopkg.lock
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/objects/0c/f15c3f66ec8384480ed9c3cf87c9e97fbb0ec3
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/objects/32/5dc4f8e9344e6668f21536a69d5f1d4ed53ca3
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/objects/71/911bf48766c7181518c1070911019fbb00b1fc
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/objects/72/fc6251cc648e914c10009d31431fa2e38b9a20
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/objects/7c/d7c8fa852973c72c66eb120a6677c54a8697f7
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/objects/c1/0d10b7e655b3dab1f53176db57c8219a5488d6
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/objects/f5/05ec9b5c7a45a10259c1dda7f18434e5d55940
  integrations/gitea-repositories-meta/user2/repo1.wiki.git/refs/heads/master
  models/wiki.go
  routers/api/v1/misc/markdown_test.go
  routers/repo/wiki.go
  routers/repo/wiki_test.go
  vendor/gopkg.in/macaron.v1/context.go
  vendor/gopkg.in/macaron.v1/macaron.go
  vendor/gopkg.in/macaron.v1/response_writer.go
  vendor/gopkg.in/macaron.v1/router.go
Labels: kind/bug, lgtm/done

#5667 Allow Macaron to be set to log through to gitea.log
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/log/log.go
  modules/setting/setting.go
  routers/routes/routes.go
Labels: kind/breaking, kind/enhancement, lgtm/done

#5974 UI: Dashboard tweaks
  public/css/index.css
  public/less/_base.less
  templates/user/dashboard/dashboard.tmpl
Labels: kind/ui, lgtm/done

#5973 Admin config page mailertype setting option update
  templates/admin/config.tmpl
Labels: kind/bug, lgtm/done

#5838 Feature - Pagination for git tree API
  Gopkg.lock
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/setting.go
  routers/api/v1/repo/tree.go
  routers/api/v1/repo/tree_test.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/repo_tree.go
Labels: kind/enhancement, lgtm/done

#5987 Support n as a line highlight prefix
  public/js/index.js
Labels: kind/ui, lgtm/done

#5984 Fix empty ssh key importing in ldap
  models/user.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5970 Expose issue stopwatch toggling via API
  routers/api/v1/api.go
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#5989 fix bug when deleting a linked account will removed all
  routers/user/setting/security.go
Labels: backport/v1.7, kind/bug, lgtm/done

#5990 fix bug when deleting a linked account will removed all (#5989)
  routers/user/setting/security.go
Labels: kind/bug, lgtm/done

#5976 use native golang SSH library but ssh-keygen when enable built-in SSH server to remove dependent on that command lines
  integrations/git_helper_for_declarative_test.go
  modules/ssh/ssh.go
Labels: kind/enhancement, lgtm/done

#5850 Add API to list tags
  Gopkg.lock
  integrations/api_repo_tags_test.go
  models/repo_tag.go
  routers/api/v1/api.go
  routers/api/v1/convert/convert.go
  routers/api/v1/repo/tag.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/git/repo_tag.go
Labels: kind/api, kind/enhancement, lgtm/done

#5994 Update U2F Section of app.ini.sample
  custom/conf/app.ini.sample
Labels: kind/docs, lgtm/done

#5995 UI: Fix repo header issues
  public/css/index.css
  public/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#5998 UI: Make navbar full width
  public/css/index.css
  public/less/_base.less
Labels: lgtm/done

#6000 Enhance closed PR and Issue status in the list
  options/locale/locale_en-US.ini
  templates/repo/issue/list.tmpl
Labels: lgtm/done

#5996 Fix #5799 - swagger for mergePullRequest
  modules/auth/repo_form.go
  routers/api/v1/repo/pull.go
  routers/api/v1/swagger/options.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done

#5986 Feature - #3031 - search for org repos
  models/org.go
  routers/user/home.go
  templates/explore/repo_search.tmpl
  templates/org/home.tmpl
Labels: kind/enhancement, lgtm/done

#6002 UI: Fix header menu misalignment
  templates/base/head_navbar.tmpl
Labels: kind/ui, lgtm/done

#6010 Update the version of less
  package-lock.json
  package.json
Labels: kind/build, lgtm/done

#6006 Fix metrics auth token detection
  routers/metrics.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6009 Fix empty ssh key importing in ldap (#5984)
  models/user.go
Labels: kind/bug, lgtm/done

#6016 Swagger: Remove spaces in MergePullRequestOption enum
  modules/auth/repo_form.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, lgtm/done

#6018 Disable git fsck for mirrored repos by default
  models/repo.go
Labels: kind/enhancement, lgtm/done

#6017 Fix metrics auth token detection (#6006)
  routers/metrics.go
Labels: kind/bug, lgtm/done

#6013 UI: Make dashboard navbar and footer full-width
  public/css/index.css
  public/less/_base.less
  public/less/_dashboard.less
  templates/user/dashboard/navbar.tmpl
Labels: kind/ui, lgtm/done

#6015 add default time out for git operations
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#6014 Split setting.go as multiple files
  modules/setting/cache.go
  modules/setting/log.go
  modules/setting/mailer.go
  modules/setting/service.go
  modules/setting/session.go
  modules/setting/setting.go
  modules/setting/webhook.go
Labels: kind/refactor, lgtm/done

#6026 Default create repository on organisation on its dashboard
  templates/user/dashboard/dashboard.tmpl
Labels: backport/v1.7, kind/bug, kind/ui, lgtm/done

#5992 Add option to close issues via commit on a non master branch
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/action.go
  models/action_test.go
  models/fixtures/issue.yml
  models/fixtures/repository.yml
  models/issue_test.go
  models/migrations/migrations.go
  models/migrations/v79.go
  models/repo.go
  modules/auth/repo_form.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: kind/enhancement, lgtm/done

#6032 update default value of `--must-change-password` cli flag
  docs/content/doc/usage/command-line.md
Labels: kind/docs, lgtm/done

#6033 After deleting a repo on admin panel, UI should remember the last sort type
  routers/admin/repos.go
  templates/admin/repo/list.tmpl
Labels: kind/bug, lgtm/done

#6029 Add autoprefixer to css build
  .editorconfig
  Makefile
  package-lock.json
  package.json
  public/css/index.css
  public/less/_base.less
  public/less/_form.less
  public/less/_repository.less
Labels: kind/build, lgtm/done

#6035 Run benchmark at tag to track performances
  .drone.yml
  Makefile
Labels: kind/testing, lgtm/done

#3807 add the Owner Name to differentiate when merging
  routers/repo/pull.go
  templates/repo/pulls/compare.tmpl
Labels: kind/ui, lgtm/done

#5725 In basic auth check for tokens before call UserSignIn
  modules/auth/auth.go
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#5702 Refactor editor upload, update and delete to use git plumbing and add LFS support
  models/lfs.go
  models/repo_branch.go
  models/repo_editor.go
  models/upload.go
  modules/uploader/delete.go
  modules/uploader/diff.go
  modules/uploader/repo.go
  modules/uploader/update.go
  modules/uploader/upload.go
  routers/repo/editor.go
  routers/repo/editor_test.go
Labels: changelog, kind/bug, kind/enhancement, kind/refactor, lgtm/done

#5787 Allow markdown files to read from the LFS
  integrations/download_test.go
  integrations/git_test.go
  integrations/integration_test.go
  modules/lfs/pointers.go
  modules/markup/markdown/markdown.go
  options/locale/locale_en-US.ini
  routers/repo/download.go
  routers/repo/view.go
  routers/routes/routes.go
Labels: kind/enhancement, lgtm/done

#6019 Update and expand information about building Gitea
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
  docs/content/doc/installation/from-source.en-us.md
Labels: kind/docs, lgtm/done

#6048 Create repository on organisation by default on its dashboard (#6026)
  templates/user/dashboard/dashboard.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#6041 Fix panic: template: repo/issue/list:210: unexpected "=" in operand
  models/issue.go
  templates/repo/issue/list.tmpl
Labels: kind/bug, lgtm/done

#6053 API: make sure labels are actually returned
  routers/api/v1/repo/issue_label.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6059 Make sure labels are actually returned (#6053)
  routers/api/v1/repo/issue_label.go
Labels: kind/api, kind/bug, lgtm/done

#6070 Switch to more recent build of xgo
  .drone.yml
Labels: backport/v1.7, kind/build, lgtm/done

#6072 Switch to more recent build of xgo (#6070)
  .drone.yml
Labels: kind/build, lgtm/done

#6079 1.7.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6074 Revert "Fix wrapping long code lines in UI"
  public/css/index.css
  public/less/_base.less
  public/less/_repository.less
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, lgtm/done

#6083 In basic auth check for tokens before call UserSignIn (#5725)
  modules/auth/auth.go
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#6084 Changelog for release v1.7.2
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6082 Backport 1.7.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6067 add doc/features/comparison zh-cn translation
  docs/content/doc/features/comparison.zh-cn.md
Labels: kind/docs, lgtm/done

#6063 Allow labels to contain emoji
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_emojify.less
  routers/repo/issue_label.go
  templates/base/footer.tmpl
  templates/repo/issue/labels.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/enhancement, lgtm/done

#6097 Recover panic in orgmode.Render if bad orgfile (#4982) (#5903)
  modules/markup/orgmode/orgmode.go
Labels: kind/bug, lgtm/done

#6098 Issue 5924 fix compare button (#5929)
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
  templates/repo/home.tmpl
Labels: kind/bug, kind/regression, lgtm/done

#5965 modules/context/auth.go: fix redirect loop
  modules/context/auth.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6101 modules/context/auth.go: fix redirect loop (Backport #5965)
  modules/context/auth.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6102 Remove use MakeAssigneeList in webhooks to fix deadlock
  models/webhook_dingtalk.go
  models/webhook_discord.go
  models/webhook_slack.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6104 Fix deadlock in webhook PullRequest (#6102)
  models/webhook_dingtalk.go
  models/webhook_discord.go
  models/webhook_slack.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6105 Move to ldap.v3 to fix #5928
  Gopkg.lock
  Gopkg.toml
  modules/auth/ldap/ldap.go
  vendor/gopkg.in/ldap.v2/atomic_value.go
  vendor/gopkg.in/ldap.v2/atomic_value_go13.go
  vendor/gopkg.in/ldap.v2/error.go
  vendor/gopkg.in/ldap.v3/LICENSE
  vendor/gopkg.in/ldap.v3/add.go
  vendor/gopkg.in/ldap.v3/bind.go
  vendor/gopkg.in/ldap.v3/client.go
  vendor/gopkg.in/ldap.v3/compare.go
  vendor/gopkg.in/ldap.v3/conn.go
  vendor/gopkg.in/ldap.v3/control.go
  vendor/gopkg.in/ldap.v3/debug.go
  vendor/gopkg.in/ldap.v3/del.go
  vendor/gopkg.in/ldap.v3/dn.go
  vendor/gopkg.in/ldap.v3/doc.go
  vendor/gopkg.in/ldap.v3/error.go
  vendor/gopkg.in/ldap.v3/filter.go
  vendor/gopkg.in/ldap.v3/ldap.go
  vendor/gopkg.in/ldap.v3/moddn.go
  vendor/gopkg.in/ldap.v3/modify.go
  vendor/gopkg.in/ldap.v3/passwdmodify.go
  vendor/gopkg.in/ldap.v3/search.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6107 Move to ldap.v3 to fix #5928 (#6105)
  Gopkg.lock
  Gopkg.toml
  modules/auth/ldap/ldap.go
  vendor/gopkg.in/ldap.v2/atomic_value.go
  vendor/gopkg.in/ldap.v2/atomic_value_go13.go
  vendor/gopkg.in/ldap.v2/error.go
  vendor/gopkg.in/ldap.v3/LICENSE
  vendor/gopkg.in/ldap.v3/add.go
  vendor/gopkg.in/ldap.v3/bind.go
  vendor/gopkg.in/ldap.v3/client.go
  vendor/gopkg.in/ldap.v3/compare.go
  vendor/gopkg.in/ldap.v3/conn.go
  vendor/gopkg.in/ldap.v3/control.go
  vendor/gopkg.in/ldap.v3/debug.go
  vendor/gopkg.in/ldap.v3/del.go
  vendor/gopkg.in/ldap.v3/dn.go
  vendor/gopkg.in/ldap.v3/doc.go
  vendor/gopkg.in/ldap.v3/error.go
  vendor/gopkg.in/ldap.v3/filter.go
  vendor/gopkg.in/ldap.v3/ldap.go
  vendor/gopkg.in/ldap.v3/moddn.go
  vendor/gopkg.in/ldap.v3/modify.go
  vendor/gopkg.in/ldap.v3/passwdmodify.go
  vendor/gopkg.in/ldap.v3/search.go
Labels: backport/v1.7, kind/bug, lgtm/done

#1763 Feature allow private organization
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/migrations/migrations.go
  models/org.go
  models/org_test.go
  models/repo_list.go
  models/user.go
  modules/auth/org.go
  modules/setting/service.go
  modules/structs/org_type.go
  options/locale/locale_en-US.ini
  routers/api/v1/org/org.go
  routers/api/v1/repo/repo.go
  routers/home.go
  routers/org/org.go
  routers/org/setting.go
  routers/repo/view.go
  routers/user/home.go
  routers/user/profile.go
  templates/admin/config.tmpl
  templates/admin/org/list.tmpl
  templates/admin/repo/list.tmpl
  templates/explore/organizations.tmpl
  templates/explore/repo_list.tmpl
  templates/org/create.tmpl
  templates/org/settings/options.tmpl
  templates/user/profile.tmpl
Labels: changelog, kind/feature, kind/proposal, lgtm/done

#5073 Implement "conversation lock" for issue comments
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/features/comparison.en-us.md
  models/issue.go
  models/issue_comment.go
  models/issue_lock.go
  models/migrations/migrations.go
  models/migrations/v80.go
  modules/auth/repo_form.go
  modules/auth/repo_form_test.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/issue_comment.go
  routers/repo/issue.go
  routers/repo/issue_lock.go
  routers/routes/routes.go
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
Labels: changelog, kind/feature, lgtm/done

#6112 Show private organization for admin, fix #6111
  routers/admin/orgs.go
Labels: kind/bug, lgtm/done

#6106 fix bug prohibit login not applied on dashboard
  integrations/release_test.go
  integrations/repo_test.go
  models/error.go
  models/login_source.go
  modules/context/auth.go
  routers/home.go
  routers/user/auth.go
Labels: backport/v1.7, kind/bug, lgtm/done

#4599 dashboard: sort Repositories widget by most recently updated (issue #3963)
  public/js/index.js
Labels: kind/enhancement, lgtm/done

#6115 Fix prohibit login check on authorization (#6106)
  integrations/release_test.go
  models/error.go
  models/login_source.go
  modules/context/auth.go
  routers/home.go
  routers/user/auth.go
Labels: kind/bug, lgtm/done

#4981 Show email if the authenticated user owns the profile page being requested for
  integrations/setting_test.go
  models/fixtures/user.yml
  routers/user/profile.go
  templates/user/profile.tmpl
Labels: kind/enhancement, lgtm/done

#5363 Refactor issue indexer
  Gopkg.lock
  models/issue.go
  models/issue_comment.go
  models/issue_indexer.go
  models/issue_list.go
  models/models.go
  models/unit_tests.go
  modules/indexer/issues/bleve.go
  modules/indexer/issues/bleve_test.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/queue.go
  modules/indexer/issues/queue_channel.go
  modules/indexer/issues/queue_disk.go
  modules/notification/indexer/indexer.go
  modules/setting/indexer.go
  modules/setting/setting.go
  routers/api/v1/repo/issue.go
  routers/init.go
  routers/repo/issue.go
  vendor/github.com/lunny/levelqueue/LICENSE
  vendor/github.com/lunny/levelqueue/error.go
  vendor/github.com/lunny/levelqueue/queue.go
Labels: kind/bug, kind/refactor, lgtm/done

#6121 remove unused file
  modules/indexer/issue.go
Labels: kind/refactor, lgtm/need 1

#6122 Load Issue attributes for API call
  routers/api/v1/repo/issue.go
Labels: kind/bug, lgtm/done

#6123 Apply for maintainers
  MAINTAINERS
Labels: kind/docs, lgtm/done

#6117 Fix heatmap and repository menu display in Internet Explorer 9+
  public/js/index.js
  public/vendor/librejs.html
  public/vendor/plugins/es6-promise/es6-promise.auto.min.js
  public/vendor/plugins/vue/vue.min.js
  templates/base/footer.tmpl
Labels: backport/v1.7, kind/bug, lgtm/done

#5980 Minor UI tweaks
  integrations/pull_create_test.go
  modules/context/context.go
  modules/context/repo.go
  public/css/index.css
  public/css/theme-arc-green.css
  public/js/index.js
  public/less/_repository.less
  public/less/themes/arc-green.less
  routers/repo/issue.go
  routers/user/auth.go
  templates/repo/create.tmpl
  templates/repo/header.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/list.tmpl
  templates/status/404.tmpl
Labels: kind/ui, lgtm/done

#6137 Fix heatmap and repository menu display in Internet Explorer 9+ (#6117)
  public/js/index.js
  public/vendor/librejs.html
  public/vendor/plugins/es6-promise/es6-promise.auto.min.js
  public/vendor/plugins/vue/vue.min.js
  templates/base/footer.tmpl
Labels: kind/bug, lgtm/done

#6103 Makefile changes for Windows and easier development
  CONTRIBUTING.md
  Makefile
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
Labels: kind/build, lgtm/done

#6131 refactor issue indexer, add some testing and fix a bug
  .gitignore
  models/issue.go
  models/issue_indexer.go
  models/unit_tests.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/queue_disk.go
  modules/notification/indexer/indexer.go
  routers/api/v1/repo/issue.go
  routers/init.go
  routers/repo/issue.go
Labels: kind/bug, kind/refactor, kind/testing, lgtm/done

#6144 Add more tests and docs for issue indexer, add db indexer type for searching from database
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  models/issue.go
  models/issue_test.go
  modules/indexer/issues/db.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/queue.go
  modules/indexer/issues/queue_channel.go
  modules/indexer/issues/queue_disk.go
  modules/setting/indexer.go
Labels: kind/docs, kind/refactor, kind/testing, lgtm/done

#6143 Fix admin list user/org API
  models/user.go
  routers/api/v1/user/user.go
Labels: kind/api, kind/bug, lgtm/done

#6099 Allow display of LFS stored Readme.md on directory page (#6073)
  routers/repo/view.go
Labels: kind/bug, kind/ui, lgtm/done

#6142 Make repo creation for API similar to UI
  routers/api/v1/repo/repo.go
Labels: kind/bug, lgtm/done

#6119 fix bug when update owner team then visit team's repo return 404
  models/repo_permission.go
  models/repo_permission_test.go
  routers/org/teams.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6156 fix bug user could change private repository to public when force private enabled.
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: backport/v1.7, kind/bug, lgtm/done

#6159 feat(docker): speed up docker build.
  .drone.yml
Labels: kind/deployment, lgtm/done

#6166 fix bug when update owner team then visit team's repo return 404 (#6119)
  models/repo_permission.go
  models/repo_permission_test.go
  routers/org/teams.go
Labels: kind/bug, lgtm/done

#6165 fix bug user could change private repository to public when force private enabled. (#6156)
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done

#6167 feat(makefile): coverage profile with multiple packages
  Makefile
Labels: kind/enhancement, kind/testing, lgtm/done

#6173 fix bug when set indexer as db and add tests
  modules/indexer/issues/bleve_test.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
Labels: kind/bug, kind/testing, lgtm/done

#6139 UI: Make document body a flexbox
  Makefile
  public/css/index.css
  public/less/_admin.less
  public/less/_base.less
  public/less/_dashboard.less
  public/less/_explore.less
  public/less/_home.less
  public/less/_install.less
  public/less/_organization.less
  public/less/_repository.less
  public/less/_user.less
Labels: kind/bug, kind/ui, lgtm/done

#6177 UI: Fix scrollbar always present on page body
  public/css/index.css
  public/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#6178 Increase Username and Orgname MaxSize 35 -> 40
  Gopkg.lock
  modules/auth/admin.go
  modules/auth/org.go
  modules/auth/user_form.go
  modules/auth/user_form_auth_openid.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/gitea.go
  vendor/code.gitea.io/sdk/gitea/issue.go
Labels: kind/enhancement, lgtm/done

#6185 Load Issue attributes for API call (#6122)
  routers/api/v1/repo/issue.go
Labels: kind/bug, lgtm/done

#6188 fix bug when migrate repository 500 when repo is existed
  routers/api/v1/repo/repo.go
  routers/repo/repo.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6186 Use go 1.12 for tests and deprecate go 1.9
  .drone.yml
Labels: kind/build, lgtm/done

#6197 fix bug when migrate repository 500 when repo is existed (#6188)
  routers/api/v1/repo/repo.go
  routers/repo/repo.go
Labels: kind/bug, lgtm/done

#6198 Change sqlite DB path default to data directory
  models/models.go
Labels: kind/breaking, kind/refactor, lgtm/done

#6196 UI: Style tweaks to issue selection
  public/css/index.css
  public/less/_repository.less
Labels: kind/ui, lgtm/done

#6193 Adds MustChangePassword to user create/edit API
  Gopkg.lock
  routers/api/v1/admin/user.go
  vendor/code.gitea.io/sdk/gitea/admin_user.go
Labels: kind/api, kind/breaking, lgtm/done

#6202 Add Changelog for 1.7.3
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6207 Backport Changelog for 1.7.3 (#6202)
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6208 Add "ghost" and "notifications" to list of reserved user names.
  models/user.go
Labels: kind/breaking, kind/bug, lgtm/done

#6211 Create a repo redirect when transferring ownership (#6210)
  modules/context/repo.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#6214 fix display dashboard even if require to change password
  modules/context/auth.go
  routers/home.go
Labels: backport/v1.7, kind/bug, lgtm/done

#6215 fix display dashboard even if require to change password (#6214)
  modules/context/auth.go
  routers/home.go
Labels: kind/bug, lgtm/done

#6176 Doc updates for customization and installation.
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#6171 Modify linkRegex to require http|https
  modules/markup/html.go
  modules/markup/html_test.go
Labels: backport/v1.7, kind/bug, kind/enhancement, lgtm/done

#6194 UI: Fix issue update race condition
  public/js/index.js
  public/vendor/librejs.html
  public/vendor/plugins/es6-promise/es6-promise.auto.min.js
  public/vendor/plugins/promise-polyfill/polyfill.min.js
  templates/base/footer.tmpl
  templates/base/head.tmpl
Labels: kind/bug, kind/ui, lgtm/done
