Repository go-gitea/gitea, pull requests merged in 2019-09, with the labels that each got.

#8053 backport:[1.9] - Run CORS handler first for /api routes (#7967)
  routers/api/v1/api.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#8046 Add strike to old header on comment
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#8057 Make CI work
  go.mod
  go.sum
  integrations/pull_create_test.go
  vendor/golang.org/x/sys/unix/affinity_linux.go
  vendor/golang.org/x/sys/unix/ioctl.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_aix.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_freebsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_netbsd.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: kind/build, lgtm/done

#8051 Update JS dependencies
  package-lock.json
  package.json
Labels: kind/build, lgtm/done

#8025 Add tooltip for the visibility checkbox in /repo/create
  options/locale/locale_en-US.ini
  templates/repo/create.tmpl
Labels: kind/ui, lgtm/done

#8018 Make encoding tests independent of LOCALE settings
  modules/charset/charset_test.go
Labels: kind/testing, lgtm/done

#7400 Search Commits via Commit Hash
  integrations/repo_commits_search_test.go
  modules/git/repo_commit.go
Labels: kind/enhancement, lgtm/done

#8061 Add change title notification for issues
  routers/repo/issue.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8064 Backport #8061 - Add change title notification for issues
  routers/repo/issue.go
Labels: lgtm/done

#8062 Add merged commit id on pull view when it's merged
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/enhancement, lgtm/done

#8066 Avoid ambiguity of branch/directory names for the git-diff-tree command
  modules/pull/merge.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7963 Add API endpoint for accessing repo topics
  integrations/api_repo_topic_test.go
  models/fixtures/repo_topic.yml
  models/fixtures/topic.yml
  models/topic.go
  models/topic_test.go
  modules/structs/repo_topic.go
  public/js/index.js
  routers/api/v1/api.go
  routers/api/v1/convert/convert.go
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/topic.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  routers/repo/topic.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#8071 Bugfix/deformed emoji in commit message (backport 1.9)
  public/css/index.css
  public/less/_repository.less
Labels: lgtm/done

#8047 Fixes deformed emoji in pull request reviews
  public/css/index.css
  public/less/_repository.less
Labels: backport/v1.9, kind/ui, lgtm/done

#8070 Avoid ambiguity of branch/directory names for the git-diff-tree command
  modules/pull/merge.go
Labels: kind/bug, lgtm/done

#8074 Strict name matching for Repository.GetTagID()
  go.mod
  go.sum
  modules/git/repo_tag.go
  modules/git/repo_tag_test.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#8082 Backport: Strict name matching for Repository.GetTagID()
  modules/git/repo_tag.go
  modules/git/repo_tag_test.go
Labels: kind/bug, lgtm/done

#8091 Fix broken link
  docs/content/doc/advanced/ci-cd.en-us.md
Labels: kind/docs, lgtm/done

#8097 Display description of 'make this repo private' as help text, not as tooltip
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_en-US.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_zh-CN.ini
  templates/repo/create.tmpl
Labels: kind/ui, lgtm/done

#8094 Make AllowedUsers configurable in sshd_config
  docker/root/etc/templates/sshd_config
  docker/root/usr/bin/entrypoint
Labels: backport/v1.9, kind/bug, kind/regression, lgtm/done

#8104 Added AppVeyor to the list of CI/CD working with Gitea
  docs/content/doc/advanced/ci-cd.en-us.md
Labels: kind/docs, lgtm/done

#8101 feat: highlight issue references with :
  models/action.go
  models/action_test.go
  modules/markup/html.go
  modules/markup/html_internal_test.go
Labels: kind/bug, lgtm/done

#7889 Move git diff codes from models to services/gitdiff
  models/issue_comment.go
  models/models.go
  modules/repofiles/diff.go
  modules/repofiles/diff_test.go
  modules/repofiles/temp_repo.go
  modules/templates/helper.go
  routers/repo/commit.go
  routers/repo/compare.go
  routers/repo/pull.go
  routers/repo/pull_review.go
  services/comments/comments.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  services/gitdiff/main_test.go
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/refactor, lgtm/done

#8112 Fix Go 1.13 private repository go get issue
  modules/context/context.go
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#8100 Fix Go 1.13 private repository go get issue
  modules/context/context.go
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#8117 Changelog for v1.9.3
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#8118 Changelog for 1.9.3
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#8114 1148: Take up the full width when viewing the diff in split view.
  templates/repo/pulls/files.tmpl
Labels: kind/ui, lgtm/done

#8121 Add reviewers as participants
  models/issue.go
  routers/repo/issue.go
Labels: backport/done, backport/v1.9, kind/bug, lgtm/done

#6061 Add option to initialize repository with labels
  models/error.go
  models/issue_label.go
  models/repo.go
  modules/auth/repo_form.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/repo.go
  routers/repo/issue_label.go
  routers/repo/repo.go
  templates/repo/create.tmpl
  templates/swagger/v1_json.tmpl
Labels: changelog, kind/feature, lgtm/done

#7791 Implement webhook branch filter
  go.mod
  go.sum
  models/fixtures/webhook.yml
  models/webhook.go
  models/webhook_test.go
  modules/auth/auth.go
  modules/auth/repo_form.go
  modules/structs/hook.go
  modules/validation/binding.go
  modules/validation/binding_test.go
  modules/validation/glob_pattern_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/utils/hook.go
  routers/repo/webhook.go
  templates/repo/settings/webhook/settings.tmpl
  templates/swagger/v1_json.tmpl
  vendor/github.com/gobwas/glob/.gitignore
  vendor/github.com/gobwas/glob/.travis.yml
  vendor/github.com/gobwas/glob/LICENSE
  vendor/github.com/gobwas/glob/bench.sh
  vendor/github.com/gobwas/glob/compiler/compiler.go
  vendor/github.com/gobwas/glob/glob.go
  vendor/github.com/gobwas/glob/match/any.go
  vendor/github.com/gobwas/glob/match/any_of.go
  vendor/github.com/gobwas/glob/match/btree.go
  vendor/github.com/gobwas/glob/match/contains.go
  vendor/github.com/gobwas/glob/match/every_of.go
  vendor/github.com/gobwas/glob/match/list.go
  vendor/github.com/gobwas/glob/match/match.go
  vendor/github.com/gobwas/glob/match/max.go
  vendor/github.com/gobwas/glob/match/min.go
  vendor/github.com/gobwas/glob/match/nothing.go
  vendor/github.com/gobwas/glob/match/prefix.go
  vendor/github.com/gobwas/glob/match/prefix_any.go
  vendor/github.com/gobwas/glob/match/prefix_suffix.go
  vendor/github.com/gobwas/glob/match/range.go
  vendor/github.com/gobwas/glob/match/row.go
  vendor/github.com/gobwas/glob/match/segments.go
  vendor/github.com/gobwas/glob/match/single.go
  vendor/github.com/gobwas/glob/match/suffix.go
  vendor/github.com/gobwas/glob/match/suffix_any.go
  vendor/github.com/gobwas/glob/match/super.go
  vendor/github.com/gobwas/glob/match/text.go
  vendor/github.com/gobwas/glob/readme.md
  vendor/github.com/gobwas/glob/syntax/ast/ast.go
  vendor/github.com/gobwas/glob/syntax/ast/parser.go
  vendor/github.com/gobwas/glob/syntax/lexer/lexer.go
  vendor/github.com/gobwas/glob/syntax/lexer/token.go
  vendor/github.com/gobwas/glob/syntax/syntax.go
  vendor/github.com/gobwas/glob/util/runes/runes.go
  vendor/github.com/gobwas/glob/util/strings/strings.go
  vendor/modules.txt
Labels: changelog, kind/enhancement, lgtm/done

#8116 Fix webhooks to use proxy from environment
  models/webhook.go
Labels: kind/enhancement, lgtm/done

#8006 Make link last commit massages in repository home page and commit tables
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/templates/helper.go
  public/css/index.css
  public/less/_repository.less
  templates/repo/commits_table.tmpl
  templates/repo/view_list.tmpl
Labels: kind/enhancement, lgtm/done

#8148 Add Weblate integration to docs
  docs/content/doc/advanced/third-party-tools.en-us.md
Labels: kind/docs, lgtm/done

#7767 Restrict repository indexing by glob match
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/repo-indexer.en-us.md
  integrations/api_repo_test.go
  integrations/gitea-repositories-meta/user2/glob.git/HEAD
  integrations/gitea-repositories-meta/user2/glob.git/config
  integrations/gitea-repositories-meta/user2/glob.git/description
  integrations/gitea-repositories-meta/user2/glob.git/hooks/applypatch-msg.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/commit-msg.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/fsmonitor-watchman.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/post-update.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/pre-applypatch.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/pre-commit.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/pre-push.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/pre-rebase.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/pre-receive.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/prepare-commit-msg.sample
  integrations/gitea-repositories-meta/user2/glob.git/hooks/update.sample
  integrations/gitea-repositories-meta/user2/glob.git/info/exclude
  integrations/gitea-repositories-meta/user2/glob.git/objects/48/06cb9df135782b818c968c2fadbd2c150d23d6
  integrations/gitea-repositories-meta/user2/glob.git/objects/59/fee614e09d1f1cd1e15e4b2a7e9c8873a81498
  integrations/gitea-repositories-meta/user2/glob.git/objects/7c/8ac2f8d82a1eb5f6aaece6629ff11015f91eb4
  integrations/gitea-repositories-meta/user2/glob.git/objects/8e/592e636d27ac144f92f7fe8c33631cbdea594d
  integrations/gitea-repositories-meta/user2/glob.git/objects/95/aff026f99a9ab76fbd01decb63dd3dbc03e498
  integrations/gitea-repositories-meta/user2/glob.git/objects/ae/d1ffed24cc3cf9b80490795e893cae4bddd684
  integrations/gitea-repositories-meta/user2/glob.git/objects/bf/d6a6583f9a9ac59bd726c1df26c64a89427ede
  integrations/gitea-repositories-meta/user2/glob.git/objects/c8/eb3b6c767ccb68411d0a1f6c769be69fb4d95a
  integrations/gitea-repositories-meta/user2/glob.git/objects/de/6be43fe8eb19ca3f4e934cb8b9a9a0b20fe865
  integrations/gitea-repositories-meta/user2/glob.git/objects/ef/6b814b610d8e7717aa0f71fbe5842bcf814697
  integrations/gitea-repositories-meta/user2/glob.git/refs/heads/master
  integrations/repo_search_test.go
  models/fixtures/repo_unit.yml
  models/fixtures/repository.yml
  models/fixtures/user.yml
  models/repo_indexer.go
  models/repo_list_test.go
  modules/setting/indexer.go
  modules/setting/indexer_test.go
Labels: kind/enhancement, lgtm/done

#8153 Fix downloads url
  docs/content/doc/upgrade/from-gogs.en-us.md
Labels: kind/docs, lgtm/done

#8026 Fix reading git notes from nested trees
  modules/git/notes.go
  modules/git/notes_test.go
  modules/git/tests/repos/repo3_notes/COMMIT_EDITMSG
  modules/git/tests/repos/repo3_notes/HEAD
  modules/git/tests/repos/repo3_notes/config
  modules/git/tests/repos/repo3_notes/description
  modules/git/tests/repos/repo3_notes/index
  modules/git/tests/repos/repo3_notes/logs/HEAD
  modules/git/tests/repos/repo3_notes/logs/refs/heads/master
  modules/git/tests/repos/repo3_notes/objects/29/7128d6553180486c780e2f747cb6d0014bf1f6
  modules/git/tests/repos/repo3_notes/objects/2f/7e2ea1e905c14c8a98e7ce47b395592834b9ef
  modules/git/tests/repos/repo3_notes/objects/3e/668dbfac39cbc80a9ff9c61eb565d944453ba4
  modules/git/tests/repos/repo3_notes/objects/42/716fdb6f261867472899d785123e6ecaa5ca02
  modules/git/tests/repos/repo3_notes/objects/56/a6051ca2b02b04ef92d5150c9ef600403cb1de
  modules/git/tests/repos/repo3_notes/objects/61/6c62e75fce60d806f4afe993211705a00a2544
  modules/git/tests/repos/repo3_notes/objects/65/4c8b6b63c08bf37f638d3f521626b7fbbd4d37
  modules/git/tests/repos/repo3_notes/objects/ba/0a96fa63532d6c5087ecef070b0250ed72fa47
  modules/git/tests/repos/repo3_notes/objects/c9/34d51cee361fdee21a3f3bb1a285f5ea9bc225
  modules/git/tests/repos/repo3_notes/objects/d8/263ee9860594d2806b0dfd1bfd17528b0ba2a4
  modules/git/tests/repos/repo3_notes/objects/f3/6ad903e408cb8f4ed90bda02e3a1fd2fab7907
  modules/git/tests/repos/repo3_notes/objects/fe/c9fe57e9864fe537f02f825e377c4a8a65ad2e
  modules/git/tests/repos/repo3_notes/refs/heads/master
  modules/git/tests/repos/repo3_notes/refs/notes/commits
Labels: backport/v1.9, kind/bug, lgtm/done

#8175 [fix #7384] make show private icon when repo avatar set (#8144)
  public/css/index.css
  public/less/_repository.less
  templates/repo/header.tmpl
Labels: kind/ui, lgtm/done

#8177 Git min requirements
  docs/content/page/index.en-us.md
Labels: kind/docs, lgtm/done

#7885 migrate gplus to google oauth2 provider
  go.mod
  models/oauth2.go
  modules/auth/oauth2/oauth2.go
  public/img/auth/google.png
  public/img/auth/google_plus.png
  templates/admin/auth/new.tmpl
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/github.com/markbates/goth/providers/google/endpoint.go
  vendor/github.com/markbates/goth/providers/google/endpoint_legacy.go
  vendor/github.com/markbates/goth/providers/google/google.go
  vendor/github.com/markbates/goth/providers/google/session.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/jwt.go
  vendor/golang.org/x/oauth2/google/sdk.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/jwt/jwt.go
  vendor/google.golang.org/appengine/.travis.yml
  vendor/google.golang.org/appengine/CONTRIBUTING.md
  vendor/google.golang.org/appengine/README.md
  vendor/google.golang.org/appengine/appengine.go
  vendor/google.golang.org/appengine/appengine_vm.go
  vendor/google.golang.org/appengine/errors.go
  vendor/google.golang.org/appengine/go.mod
  vendor/google.golang.org/appengine/go.sum
  vendor/google.golang.org/appengine/identity.go
  vendor/google.golang.org/appengine/internal/app_identity/app_identity_service.pb.go
  vendor/google.golang.org/appengine/internal/app_identity/app_identity_service.proto
  vendor/google.golang.org/appengine/internal/modules/modules_service.pb.go
  vendor/google.golang.org/appengine/internal/modules/modules_service.proto
  vendor/google.golang.org/appengine/namespace.go
  vendor/google.golang.org/appengine/timeout.go
  vendor/google.golang.org/appengine/travis_install.sh
  vendor/google.golang.org/appengine/travis_test.sh
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#8181 Include git-hook regeneration in restore documentation
  docs/content/doc/usage/backup-and-restore.en-us.md
Labels: kind/docs, lgtm/done

#8172 Fix team user api
  integrations/api_team_user_test.go
  routers/api/v1/org/team.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7539 Move create release from models to a standalone package
  models/release.go
  models/repo_mirror.go
  routers/api/v1/repo/release.go
  routers/repo/release.go
  services/release/release.go
  services/release/release_test.go
Labels: kind/refactor, lgtm/done

#8189 [backport/v1.9] Fix reading git notes from nested trees
  modules/git/notes.go
  modules/git/notes_test.go
  modules/git/tests/repos/repo3_notes/COMMIT_EDITMSG
  modules/git/tests/repos/repo3_notes/HEAD
  modules/git/tests/repos/repo3_notes/config
  modules/git/tests/repos/repo3_notes/description
  modules/git/tests/repos/repo3_notes/index
  modules/git/tests/repos/repo3_notes/logs/HEAD
  modules/git/tests/repos/repo3_notes/logs/refs/heads/master
  modules/git/tests/repos/repo3_notes/objects/29/7128d6553180486c780e2f747cb6d0014bf1f6
  modules/git/tests/repos/repo3_notes/objects/2f/7e2ea1e905c14c8a98e7ce47b395592834b9ef
  modules/git/tests/repos/repo3_notes/objects/3e/668dbfac39cbc80a9ff9c61eb565d944453ba4
  modules/git/tests/repos/repo3_notes/objects/42/716fdb6f261867472899d785123e6ecaa5ca02
  modules/git/tests/repos/repo3_notes/objects/56/a6051ca2b02b04ef92d5150c9ef600403cb1de
  modules/git/tests/repos/repo3_notes/objects/61/6c62e75fce60d806f4afe993211705a00a2544
  modules/git/tests/repos/repo3_notes/objects/65/4c8b6b63c08bf37f638d3f521626b7fbbd4d37
  modules/git/tests/repos/repo3_notes/objects/ba/0a96fa63532d6c5087ecef070b0250ed72fa47
  modules/git/tests/repos/repo3_notes/objects/c9/34d51cee361fdee21a3f3bb1a285f5ea9bc225
  modules/git/tests/repos/repo3_notes/objects/d8/263ee9860594d2806b0dfd1bfd17528b0ba2a4
  modules/git/tests/repos/repo3_notes/objects/f3/6ad903e408cb8f4ed90bda02e3a1fd2fab7907
  modules/git/tests/repos/repo3_notes/objects/fe/c9fe57e9864fe537f02f825e377c4a8a65ad2e
  modules/git/tests/repos/repo3_notes/refs/heads/master
  modules/git/tests/repos/repo3_notes/refs/notes/commits
Labels: kind/bug, lgtm/done

#8031 [ssh] fix the config specification in the authorized_keys template
  models/ssh_key.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8193 [backport/v1.9] ssh: fix the config specification in the authorized_keys template
  models/ssh_key.go
Labels: kind/bug, lgtm/done

#8161 Fix pull merge 500 error caused by git-fetch breaking behaviors
  modules/pull/merge.go
Labels: backport/v1.9, kind/bug, lgtm/done

#6784 Adds side-by-side diff for images
  modules/git/commit.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_base.less
  public/less/_repository.less
  routers/repo/commit.go
  routers/repo/compare.go
  routers/repo/pull.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/image_diff.tmpl
Labels: changelog, kind/feature, lgtm/done

#8194 Fix pull merge 500 error caused by git-fetch breaking behaviors
  modules/pull/merge.go
Labels: kind/bug, lgtm/done

#8188 Fix team user api (#8172)
  integrations/api_team_user_test.go
  routers/api/v1/org/team.go
Labels: kind/bug, lgtm/done

#8198 faq: mention EMAIL_DOMAIN_WHITELIST on allowing email domains
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done

#8204 Fix data race
  integrations/testlogger.go
  modules/log/log.go
  modules/log/log_test.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8206 Fix data race
  integrations/testlogger.go
  modules/log/log.go
  modules/log/log_test.go
Labels: kind/bug, lgtm/done

#8191 Remove legacy handling of drone token
  routers/api/v1/user/app.go
Labels: changelog, kind/breaking, kind/refactor, lgtm/done

#8203 Disable max height property of comment textarea
  public/css/index.css
  public/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#8209 MS Teams webhook misses commit messages
  models/webhook_msteams.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8213 Move some milestone functions to a standalone package
  models/issue_milestone.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
  routers/repo/issue.go
  services/milestone/milestone.go
Labels: kind/refactor, lgtm/done

#7481 Refuse merge until all required status checks success
  go.mod
  models/branches.go
  models/commit_status.go
  models/migrations/migrations.go
  models/migrations/v94.go
  models/pull.go
  modules/auth/repo_form.go
  modules/pull/commit_status.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
  routers/repo/setting_protected_branch.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/pulls/status.tmpl
  templates/repo/settings/protected_branch.tmpl
Labels: kind/enhancement, lgtm/done

#8201 Add 'Mentioning you' group to /issues page
  models/issue.go
  routers/user/home.go
  templates/user/dashboard/issues.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#8222 Update cache item_ttl docs
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: kind/docs, lgtm/done

#8225 MS Teams webhook misses commit messages (backport v1.9)
  models/webhook_msteams.go
Labels: kind/bug, lgtm/done

#8234 Fix release API URL generation
  models/release.go
Labels: backport/v1.9, kind/api, kind/bug, lgtm/done

#8235 README: add License shield
  README.md
  README_ZH.md
Labels: kind/docs, lgtm/done

#8238 Allow registration when button is hidden
  routers/user/auth.go
Labels: kind/bug, lgtm/done

#8237 Allow registration when button is hidden
  routers/user/auth.go
Labels: backport/done, backport/v1.9, kind/bug, lgtm/done

#8239 Fix release API URL generation
  models/release.go
Labels: kind/api, kind/bug, lgtm/done

#8137 Reference issues from pull requests and other issues
  integrations/issue_test.go
  models/issue.go
  models/issue_comment.go
  models/issue_xref.go
  models/migrations/migrations.go
  models/migrations/v95.go
  models/repo.go
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/enhancement, lgtm/done

#8246 Change link on issue milestone
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/enhancement, lgtm/done

#8249 Remove unnecessary backslash in Gitea customization docs
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done

#8192 Fix utf8 tests
  modules/charset/charset.go
  modules/charset/charset_test.go
Labels: kind/testing, lgtm/done

#6068 Delete releases attachments if release is deleted
  models/migrations/migrations.go
  models/migrations/v80.go
  models/migrations/v96.go
  models/release.go
Labels: kind/enhancement, lgtm/done, reviewed/confirmed

#8045 Add teams to repo on collaboration page.
  models/error.go
  models/fixtures/repository.yml
  models/fixtures/team.yml
  models/fixtures/user.yml
  models/migrations/migrations.go
  models/migrations/v97.go
  models/org.go
  models/org_team.go
  models/org_test.go
  models/repo_collaboration.go
  models/repo_collaboration_test.go
  models/user.go
  models/user_test.go
  models/userlist.go
  modules/auth/org.go
  modules/structs/org.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/js/index.js
  public/less/_repository.less
  routers/api/v1/convert/convert.go
  routers/api/v1/org/org.go
  routers/org/setting.go
  routers/repo/setting.go
  routers/repo/settings_test.go
  routers/routes/routes.go
  templates/org/create.tmpl
  templates/org/settings/options.tmpl
  templates/repo/settings/collaboration.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#8265 Do only show teams access for organization repositories on collaboration setting page
  modules/context/repo.go
  templates/repo/settings/collaboration.tmpl
Labels: kind/bug, lgtm/done

#7200 Move all mail related codes from models to services/mailer
  models/context.go
  models/error.go
  models/issue.go
  models/issue_comment.go
  models/issue_user.go
  models/issue_user_test.go
  modules/notification/mail/mail.go
  routers/admin/admin.go
  routers/admin/users.go
  routers/api/v1/admin/user.go
  routers/init.go
  routers/repo/setting.go
  routers/routes/routes.go
  routers/user/auth.go
  routers/user/auth_openid.go
  routers/user/setting/account.go
  services/mailer/mail.go
  services/mailer/mail_comment.go
  services/mailer/mail_issue.go
  services/mailer/mail_test.go
  services/mailer/mailer.go
  services/mailer/main_test.go
Labels: kind/refactor, lgtm/done

#8253 Fix assets key on release webhook
  services/release/release.go
Labels: backport/v1.9, kind/bug, lgtm/done

#8267 Fix label count
  go.mod
  go.sum
  models/issue.go
  models/issue_label.go
  models/issue_label_test.go
  vendor/github.com/go-xorm/xorm/.drone.yml
  vendor/github.com/go-xorm/xorm/dialect_postgres.go
  vendor/github.com/go-xorm/xorm/engine.go
  vendor/github.com/go-xorm/xorm/go.mod
  vendor/github.com/go-xorm/xorm/go.sum
  vendor/github.com/go-xorm/xorm/interface.go
  vendor/github.com/go-xorm/xorm/session_cols.go
  vendor/github.com/go-xorm/xorm/session_insert.go
  vendor/github.com/go-xorm/xorm/session_update.go
  vendor/github.com/go-xorm/xorm/statement.go
  vendor/github.com/go-xorm/xorm/statement_args.go
  vendor/github.com/go-xorm/xorm/statement_columnmap.go
  vendor/github.com/go-xorm/xorm/statement_exprparam.go
  vendor/github.com/go-xorm/xorm/statement_quote.go
  vendor/github.com/go-xorm/xorm/test_mssql.sh
  vendor/modules.txt
  vendor/xorm.io/builder/.drone.yml
  vendor/xorm.io/builder/README.md
  vendor/xorm.io/builder/builder.go
  vendor/xorm.io/builder/builder_insert.go
  vendor/xorm.io/builder/builder_join.go
  vendor/xorm.io/builder/builder_select.go
  vendor/xorm.io/builder/builder_update.go
  vendor/xorm.io/builder/cond.go
  vendor/xorm.io/builder/cond_eq.go
  vendor/xorm.io/builder/cond_expr.go
  vendor/xorm.io/builder/cond_neq.go
  vendor/xorm.io/builder/doc.go
  vendor/xorm.io/builder/error.go
  vendor/xorm.io/builder/go.mod
  vendor/xorm.io/builder/sql.go
  vendor/xorm.io/builder/string_builder.go
  vendor/xorm.io/builder/writer.go
Labels: kind/bug, lgtm/done

#8263 Test more reserved usernames
  integrations/user_test.go
  models/user.go
Labels: kind/bug, kind/testing, lgtm/done

#8212 Move create issue comment to comments package
  models/issue_comment.go
  routers/api/v1/repo/issue_comment.go
  routers/repo/issue.go
  services/comments/comments.go
Labels: kind/refactor, lgtm/done

#8275 Update hacking-on-gitea.en-us.md - misspelled command
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#8281 Fix nil object access in some conditions when parsing cross references
  models/issue_xref.go
Labels: kind/bug, lgtm/done

#8276 Improve integration tests
  Makefile
  integrations/README.md
  integrations/README_ZH.md
  integrations/integration_test.go
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
Labels: kind/testing, lgtm/done

#8286 Update xorm
  go.mod
  go.sum
  vendor/github.com/go-xorm/xorm/dialect_mssql.go
  vendor/github.com/go-xorm/xorm/session_insert.go
  vendor/github.com/go-xorm/xorm/statement_args.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#8283 Fix assets on release webhook
  models/release.go
Labels: kind/bug, lgtm/done

#8262 [docs] Docker build - ZeroMQ dependency for Jupyter
  docs/content/doc/advanced/external-renderers.en-us.md
Labels: kind/docs, lgtm/done

#8292 Added myself to translators list
  options/locale/TRANSLATORS
Labels: lgtm/done

#8290 Fix API for edit and delete release attachment
  routers/api/v1/repo/release_attachment.go
Labels: kind/bug, lgtm/done

#8245 Alwaywas return local url for users avatar
  models/action_test.go
  models/user.go
  routers/routes/routes.go
  routers/user/avatar.go
Labels: kind/enhancement, lgtm/done

#8218 Extract actions on new pull request from models to pulls service and move code.gitea.io/gitea/modules/pull to code.gitea.io/gitea/services/pull
  models/pull.go
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
  routers/repo/pull_review.go
  services/pull/commit_status.go
  services/pull/lfs.go
  services/pull/merge.go
  services/pull/pull.go
  services/pull/review.go
Labels: kind/refactor, lgtm/done

#8285 Fix API for edit and delete release attachment
  routers/api/v1/repo/release_attachment.go
Labels: backport/done, backport/v1.9, kind/bug, lgtm/done

#8309 Upgrade xorm to latest to fix insert issue bug
  go.mod
  go.sum
  models/issue_test.go
  vendor/github.com/go-xorm/xorm/.drone.yml
  vendor/github.com/go-xorm/xorm/go.mod
  vendor/github.com/go-xorm/xorm/go.sum
  vendor/github.com/go-xorm/xorm/statement_args.go
  vendor/github.com/go-xorm/xorm/statement_exprparam.go
  vendor/modules.txt
  vendor/xorm.io/core/.drone.yml
  vendor/xorm.io/core/filter.go
  vendor/xorm.io/core/go.mod
  vendor/xorm.io/core/go.sum
  vendor/xorm.io/core/type.go
Labels: kind/bug, lgtm/done

#8314 Add 'make revive' to instructions for checking code
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#8319 Fix repo_admin_change_team_access always checked in org settings
  routers/org/setting.go
  templates/org/settings/options.tmpl
Labels: kind/bug, lgtm/done

#8316 Show correct commit status in PR list
  models/pull.go
  templates/repo/issue/list.tmpl
Labels: backport/v1.9, kind/bug, lgtm/done

#8318 Require overall success if no context is given for status check
  options/locale/locale_en-US.ini
  services/pull/commit_status.go
Labels: kind/enhancement, lgtm/done

#8321 Fix pull request commit status in user dashboard list
  templates/user/dashboard/issues.tmpl
Labels: backport/v1.9, kind/bug, lgtm/done

#8217 Extract actions on new issue from models to services
  models/issue.go
  routers/api/v1/repo/issue.go
  routers/repo/issue.go
  services/issue/issue.go
Labels: kind/refactor, lgtm/done

#8219 Extract actions on deletereleasebyid from models to release service
  models/attachment.go
  models/release.go
  routers/api/v1/repo/release.go
  routers/repo/release.go
  services/release/release.go
  services/release/release_test.go
Labels: kind/refactor, lgtm/done
