Repository go-gitea/gitea, pull requests merged in 2019-05, with the labels that each got.

#6815 update github.com/mcuadros/go-version to v0.0.0-20190308113854-92cdf37c5b75
  go.mod
  go.sum
  vendor/github.com/mcuadros/go-version/compare.go
  vendor/github.com/mcuadros/go-version/group.go
  vendor/modules.txt
Labels: kind/build, lgtm/done

#6694 Improve issue reference on commit
  models/action.go
  models/action_test.go
Labels: kind/enhancement, lgtm/done

#6822 Change verbose flag in dump command to avoid colliding with global version flag
  cmd/dump.go
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/bug, lgtm/done

#6826 Rename LFS_JWT_SECRET cli option to include OAUTH2 as well
  cmd/generate.go
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/enhancement, lgtm/done

#6824 When mirroring we should set the remote to mirror
  models/repo_mirror.go
Labels: backport/v1.8, kind/bug, kind/regression, lgtm/done

#6820 Allow Recaptcha service url to be configured
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/recaptcha/recaptcha.go
  modules/setting/service.go
  modules/templates/helper.go
  routers/user/auth.go
  routers/user/auth_openid.go
  templates/base/footer.tmpl
Labels: kind/enhancement, lgtm/done

#6834 When mirroring we should set the remote to mirror (#6824)
  models/repo_mirror.go
Labels: kind/bug, kind/regression, lgtm/done

#6833 Fix double-generation of scratch token (#6832)
  models/twofactor.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6835 Backport: Fix double-generation of scratch token (#6833)
  models/twofactor.go
Labels: kind/bug, lgtm/done

#6836 Added tags pull step to drone config to show correct version hashes i…
  .drone.yml
Labels: backport/v1.8, lgtm/done

#6816 Fix #6813: Allow git.GetTree to take both commit and tree names
  modules/git/repo_tree.go
  modules/git/tree.go
  modules/git/tree_entry.go
  modules/repofiles/tree.go
Labels: kind/bug, lgtm/done

#6839 Added tags pull step to drone config to show correct version hashes (#6836)
  .drone.yml
Labels: kind/bug, lgtm/done

#6838 Update github.com/urfave/cli to version 1.2.0
  go.mod
  go.sum
  vendor/github.com/urfave/cli/.flake8
  vendor/github.com/urfave/cli/.travis.yml
  vendor/github.com/urfave/cli/CHANGELOG.md
  vendor/github.com/urfave/cli/README.md
  vendor/github.com/urfave/cli/app.go
  vendor/github.com/urfave/cli/appveyor.yml
  vendor/github.com/urfave/cli/cli.go
  vendor/github.com/urfave/cli/command.go
  vendor/github.com/urfave/cli/context.go
  vendor/github.com/urfave/cli/errors.go
  vendor/github.com/urfave/cli/flag.go
  vendor/github.com/urfave/cli/generate-flag-types
  vendor/github.com/urfave/cli/help.go
  vendor/modules.txt
Labels: kind/refactor, lgtm/done

#4724 Git statistics in Activity tab
  models/repo_activity.go
  modules/git/repo_stats.go
  modules/git/repo_stats_test.go
  options/locale/locale_en-US.ini
  routers/repo/activity.go
  routers/routes/routes.go
  templates/repo/activity.tmpl
Labels: changelog, kind/enhancement, lgtm/done, reviewed/confirmed

#6724 Hash App token
  go.mod
  go.sum
  integrations/api_token_test.go
  models/error.go
  models/fixtures/access_token.yml
  models/migrations/migrations.go
  models/migrations/v85.go
  models/token.go
  models/token_test.go
  modules/base/tool.go
  modules/base/tool_test.go
  routers/api/v1/user/app.go
  routers/user/setting/applications.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/user_app.go
  vendor/modules.txt
Labels: kind/breaking, kind/enhancement, lgtm/done

#6848 Improve localization of git activity stats
  options/locale/locale_en-US.ini
  templates/repo/activity.tmpl
Labels: kind/ui, lgtm/done

#6847 Generate access token in admin cli
  cmd/admin.go
Labels: kind/enhancement, lgtm/done

#6846 Add french specific rule for translating plural texts
  modules/templates/helper.go
Labels: kind/translation, lgtm/done

#6850 docs(*): fix codecov bad links in README_ZH
  README_ZH.md
Labels: kind/docs, lgtm/done

#6851 Fix v85.go
  models/migrations/v85.go
Labels: kind/bug, lgtm/done

#6695 Number of commits ahead/behind in branch overview
  modules/git/repo.go
  modules/repofiles/commit.go
  modules/templates/helper.go
  public/css/index.css
  public/less/_repository.less
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/feature, lgtm/done

#6771 Add GET requests to webhook
  models/migrations/migrations.go
  models/migrations/v86.go
  models/webhook.go
  modules/auth/repo_form.go
  options/locale/locale_en-US.ini
  public/js/index.js
  routers/repo/webhook.go
  templates/repo/settings/webhook/gitea.tmpl
Labels: kind/enhancement, lgtm/done

#6823 Fix the v78 migration "Drop is_bare" on MSSQL #6707
  models/migrations/v78.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6842 Don't post process commit summary in templates
  templates/repo/commits_table.tmpl
  templates/repo/view_list.tmpl
Labels: kind/bug, lgtm/done

#6852 Add mssql migration tests (needs #6823)
  integrations/migration-test/gitea-v1.5.3.mssql.sql.gz
  integrations/migration-test/gitea-v1.6.4.mssql.sql.gz
  integrations/migration-test/gitea-v1.7.0.mssql.sql.gz
  integrations/migration-test/migration_test.go
  models/migrations/migrations.go
Labels: kind/testing, lgtm/done

#6854 Fix v78 migration (#6823)
  models/migrations/v78.go
Labels: kind/bug, lgtm/done

#6507 [docker] drop the docker Makefile from the image
  Dockerfile
  docker/root/etc/nsswitch.conf
  docker/root/etc/profile.d/gitea.sh
  docker/root/etc/s6/.s6-svscan/finish
  docker/root/etc/s6/gitea/finish
  docker/root/etc/s6/gitea/run
  docker/root/etc/s6/gitea/setup
  docker/root/etc/s6/openssh/finish
  docker/root/etc/s6/openssh/run
  docker/root/etc/s6/openssh/setup
  docker/root/etc/ssh/sshd_config
  docker/root/etc/templates/app.ini
  docker/root/usr/bin/entrypoint
Labels: kind/build, lgtm/done

#6856 Fix 500 when reviewer is deleted with integration tests
  integrations/pull_review_test.go
  models/fixtures/comment.yml
  models/fixtures/review.yml
  models/issue_comment.go
  routers/repo/issue.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6860 Fix 500 when reviewer is deleted with integration tests (#6856)
  integrations/pull_review_test.go
  models/fixtures/comment.yml
  models/fixtures/review.yml
  models/issue_comment.go
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#6861 Fix config ui error about cache ttl
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  templates/admin/config.tmpl
Labels: backport/v1.8, kind/ui, lgtm/done

#6865 Fix config ui error about cache ttl (#6861)
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  templates/admin/config.tmpl
Labels: kind/ui, lgtm/done

#6867 Refactor table width to have more info shown in file list
  integrations/repo_test.go
  public/css/index.css
  public/less/_repository.less
  templates/repo/view_list.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#6868 Don't post process commit summary in templates
  templates/repo/commits_table.tmpl
  templates/repo/view_list.tmpl
Labels: kind/bug, lgtm/done

#6862 Enforce osusergo build tag for releases
  Makefile
Labels: kind/bug, lgtm/done

#6869 Enforce osusergo build tag for releases (backport #6862)
  Makefile
Labels: kind/bug, lgtm/done

#6872 Add documentation for OTP/2FA header in API for basic auth
  docs/content/doc/advanced/api-usage.en-us.md
Labels: kind/docs, lgtm/done

#6874 Change the color of issues/pulls list, merged is purple and closed is red
  templates/repo/issue/list.tmpl
Labels: kind/ui, lgtm/done

#6710 Show full name if DEFAULT_SHOW_FULL_NAME setting enabled
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/action.go
  models/user.go
  modules/setting/setting.go
  modules/templates/helper.go
  templates/repo/diff/comments.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_title.tmpl
  templates/user/dashboard/feeds.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/ui, lgtm/done

#6877 1.8.1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6878 1.8.1 changelog (#6877)
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6882 Fixes #6881 - API users search fix
  integrations/api_admin_test.go
  integrations/api_user_search_test.go
  routers/api/v1/admin/user.go
  routers/api/v1/user/user.go
Labels: backport/v1.8, kind/api, kind/bug, lgtm/done

#6885 Backport of Fix for #6881 - API users search fix
  integrations/api_admin_test.go
  integrations/api_user_search_test.go
  routers/api/v1/admin/user.go
  routers/api/v1/user/user.go
Labels: kind/api, kind/bug, lgtm/done

#6894 Use AppURL for Oauth user link
  routers/user/oauth.go
Labels: backport/v1.8, kind/bug, kind/ui, lgtm/done

#6825 internal/ssh: ignore env command totally
  modules/ssh/ssh.go
Labels: kind/refactor, lgtm/done

#6901 Escape the commit message on issues update and title in telegram hook
  models/action.go
  models/webhook_telegram.go
Labels: backport/v1.8, kind/refactor, lgtm/done

#6902 Escape the commit message on issues update (#6901)
  models/action.go
Labels: kind/bug, lgtm/done

#6903 update sdk to latest
  go.mod
  go.sum
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/org.go
  vendor/code.gitea.io/sdk/gitea/org_type.go
  vendor/code.gitea.io/sdk/gitea/repo_commit.go
  vendor/code.gitea.io/sdk/gitea/user_app.go
  vendor/modules.txt
Labels: kind/refactor, lgtm/done

#6906 improve description of branch protection (fix #6886)
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#6904 Fix logging documentation
  docs/content/doc/advanced/logging-documentation.en-us.md
  modules/setting/log.go
Labels: kind/docs, kind/refactor, lgtm/done

#6672 Remove local clones & make hooks run on merge/edit/upload
  contrib/pr/checkout.go
  integrations/api_repo_file_content_test.go
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_delete_test.go
  integrations/api_repo_file_update_test.go
  integrations/editor_test.go
  integrations/integration_test.go
  integrations/pull_create_test.go
  integrations/pull_merge_test.go
  integrations/pull_status_test.go
  integrations/repo_activity_test.go
  integrations/repo_branch_test.go
  integrations/repofiles_delete_test.go
  integrations/repofiles_update_test.go
  models/helper_directory.go
  models/helper_environment.go
  models/pull.go
  models/repo.go
  models/repo_branch.go
  models/repo_test.go
  models/user.go
  models/wiki.go
  models/wiki_test.go
  modules/git/command.go
  modules/git/repo.go
  modules/git/repo_branch.go
  modules/git/repo_index.go
  modules/git/repo_object.go
  modules/git/repo_tree.go
  modules/repofiles/temp_repo.go
  modules/repofiles/update_test.go
  modules/setting/repository.go
  routers/repo/branch.go
Labels: kind/enhancement, kind/refactor, lgtm/done

#6909 fix syntax highlight in blame view #6895
  routers/repo/blame.go
Labels: kind/bug, lgtm/done

#6913 Fix input size for dependency select
  public/css/index.css
  public/less/_repository.less
  templates/repo/issue/view_content/sidebar.tmpl
Labels: backport/v1.8, kind/bug, kind/ui, lgtm/done

#6912 Change drone token name to let users know to use oauth2
  routers/api/v1/user/app.go
Labels: kind/bug, lgtm/done

#6925 Use AppURL for Oauth user link (#6894)
  routers/user/oauth.go
Labels: kind/bug, kind/ui, lgtm/done

#6775 Use modules/git for git commands
  models/pull.go
Labels: kind/refactor, lgtm/done

#6921 Clean less files
  public/css/index.css
  public/css/theme-arc-green.css
  public/less/_admin.less
  public/less/_base.less
  public/less/_dashboard.less
  public/less/_editor.less
  public/less/_explore.less
  public/less/_form.less
  public/less/_home.less
  public/less/_install.less
  public/less/_markdown.less
  public/less/_organization.less
  public/less/_repository.less
  public/less/_review.less
  public/less/_tribute.less
  public/less/_user.less
  public/less/themes/arc-green.less
Labels: kind/ui, lgtm/done

#6919 Use single line per selector & don't strip license comments
  Makefile
  public/css/index.css
  public/css/theme-arc-green.css
Labels: kind/build, lgtm/done

#6911 Style orgs list in user profile
  public/css/index.css
  public/less/_user.less
  templates/user/profile.tmpl
Labels: kind/ui, lgtm/done

#6608 [docker] support for custom GITEA_CUSTOM env var
  docker/root/etc/profile.d/gitea.sh
  docker/root/etc/s6/gitea/setup
Labels: kind/enhancement, lgtm/done

#6931 Remove macaron dependent on models/mail.go
  models/mail.go
Labels: kind/refactor, lgtm/done

#6935 Rotate serv.log, http.log and hook logs and stop stacktracing in these
  modules/log/log.go
Labels: kind/bug, lgtm/done

#6936 Add less linter via npx
  .lesshintrc.json
  Makefile
  package-lock.json
  package.json
  public/css/index.css
  public/css/theme-arc-green.css
  public/less/_admin.less
  public/less/_base.less
  public/less/_dashboard.less
  public/less/_editor.less
  public/less/_explore.less
  public/less/_form.less
  public/less/_home.less
  public/less/_markdown.less
  public/less/_organization.less
  public/less/_repository.less
  public/less/_review.less
  public/less/_tribute.less
  public/less/themes/_base.less
  public/less/themes/arc-green.less
Labels: kind/refactor, lgtm/done

#6933 Remove macaron dependent on modules/log
  modules/log/colors_router.go
  modules/log/router.go
  routers/routes/routes.go
Labels: kind/refactor, lgtm/done

#6915 Fix plain text overflow line wrap
  public/css/index.css
  public/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#6944 Move xorm logger bridge from log to models so that log module could be a standalone package
  models/log.go
  models/models.go
  modules/setting/log.go
Labels: kind/refactor, lgtm/done

#6940 Remove macaron dependent on models
  models/login_source.go
  models/mail.go
Labels: kind/refactor, lgtm/done

#6758 Ignore non-standard refs in git push
  cmd/hook.go
Labels: kind/enhancement, lgtm/done

#6922 Add work path CLI option
  contrib/pr/checkout.go
  docs/content/doc/usage/command-line.en-us.md
  integrations/integration_test.go
  main.go
  models/ssh_key_test.go
  modules/setting/setting.go
Labels: kind/deployment, kind/docs, kind/feature, lgtm/done

#6914 Fix code overflow
  public/css/index.css
  public/less/_admin.less
  templates/admin/config.tmpl
Labels: kind/ui, lgtm/done

#6941 Refactor models.NewRepoContext to extract git related codes to modules/git
  models/repo.go
  modules/git/git.go
  modules/setting/git.go
  modules/setting/setting.go
  routers/admin/admin.go
  routers/init.go
Labels: kind/refactor, lgtm/done

#6953 Webhook Logs show proper HTTP Method, and allow change HTTP method in form
  models/webhook.go
  routers/api/v1/utils/hook.go
  routers/repo/webhook.go
  templates/repo/settings/webhook/history.tmpl
Labels: kind/bug, lgtm/done

#6897 SearchRepositoryByName improvements and unification
  integrations/api_repo_test.go
  models/repo_list.go
  models/repo_list_test.go
  routers/api/v1/repo/repo.go
  routers/user/home.go
  routers/user/profile.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#6949 Stop colorizing log files by default
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/logging-documentation.en-us.md
  modules/setting/log.go
Labels: kind/bug, lgtm/done

#6952 add make targets for js and css, add js linter
  .drone.yml
  .eslintrc
  CONTRIBUTING.md
  Makefile
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
  package-lock.json
  package.json
  public/js/draw.js
  public/js/index.js
Labels: kind/build, kind/ui, lgtm/done

#6965 Allow collaborators to view repo owned by private org
  integrations/org_test.go
  models/fixtures/collaboration.yml
  models/repo_permission.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6969 remove and disable package-lock
  .gitignore
  .npmrc
  package-lock.json
  package.json
Labels: kind/build, lgtm/done

#6968 Allow collaborators to view repo owned by private org (#6965)
  integrations/org_test.go
  models/fixtures/collaboration.yml
  models/repo_permission.go
Labels: kind/bug, lgtm/done

#6963 Stop running hooks on pr merge
  models/helper_environment.go
Labels: kind/bug, lgtm/done

#6973 Fix index produces problem when issues/pulls deleted
  models/issue.go
  models/repo.go
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
Labels: kind/bug, lgtm/done

#6980 Fix U2F for Chrome >= 74
  models/u2f.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6982 fix u2f registrationlist ToRegistrations() method (#6980)
  models/u2f.go
Labels: kind/bug, lgtm/done

#7000 Fix missing repo description when migrating
  modules/migrations/migrate.go
Labels: kind/bug, lgtm/done

#6976 Make webhook http connections resuable
  models/webhook.go
Labels: kind/enhancement, lgtm/done

#7002 SearchRepositoryByName improvements and unification (#6897)
  integrations/api_repo_test.go
  models/repo_list.go
  models/repo_list_test.go
  routers/api/v1/repo/repo.go
  routers/user/home.go
  routers/user/profile.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#7004 Fix TestSearchRepo by waiting till indexing is done
  integrations/repo_search_test.go
Labels: kind/testing, lgtm/done

#6996 Do not attempt to return blob on submodule
  modules/git/tree_blob.go
Labels: kind/bug, lgtm/done

#7011 Fix documentation on Oauth2.Enable flag
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#7012 Change UpdateRepoIndex api to include watchers
  integrations/repo_search_test.go
  models/repo_indexer.go
Labels: kind/refactor, lgtm/done

#6983 Added Note about arm7 version to doc
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#6992 Add support of utf8mb4 for mysql
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  models/models.go
  modules/auth/user_form.go
  options/locale/locale_en-US.ini
  public/js/index.js
  routers/install.go
  templates/install.tmpl
Labels: kind/enhancement, lgtm/done

#6984 Show git-notes
  modules/git/notes.go
  modules/git/notes_test.go
  modules/git/repo_ref_test.go
  modules/git/tests/repos/repo1_bare/objects/28/345b214c5967bd9cdd98cc7f88f2f1ac574e02
  modules/git/tests/repos/repo1_bare/objects/a4/79ead1abb694ffca26f67b09c8313b12fa2a13
  modules/git/tests/repos/repo1_bare/objects/ca/6b5ddf303169a72d2a2971acde4f6eea194e5c
  modules/git/tests/repos/repo1_bare/refs/notes/commits
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_repository.less
  routers/repo/commit.go
  templates/repo/diff/page.tmpl
Labels: kind/feature, lgtm/done

#7017 FIX issue #6542
  models/user.go
  models/user_test.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7015 Fix content download and /verify LFS handler expecting wrong content-type
  modules/lfs/server.go
Labels: kind/bug, lgtm/done

#7034 Fix default for allowing new organization creation for new users (#7017)
  models/user.go
  models/user_test.go
Labels: kind/bug, lgtm/done

#7037 Disable arm7 builds
  Makefile
Labels: backport/v1.8, kind/bug, lgtm/done

#7025 Improve handling of non-square avatars
  go.mod
  go.sum
  models/user.go
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  modules/avatar/testdata/avatar.jpeg
  modules/avatar/testdata/avatar.png
  vendor/github.com/oliamb/cutter/.gitignore
  vendor/github.com/oliamb/cutter/.travis.yml
  vendor/github.com/oliamb/cutter/LICENSE
  vendor/github.com/oliamb/cutter/README.md
  vendor/github.com/oliamb/cutter/cutter.go
  vendor/modules.txt
Labels: kind/enhancement, kind/ui, lgtm/done

#7024 Bugfix: Align comment label and actions to the right
  public/css/index.css
  public/less/_repository.less
  templates/repo/diff/comments.tmpl
Labels: kind/ui, lgtm/done

#7038 Fix wrong init dependency on markup extensions
  cmd/web.go
  contrib/pr/checkout.go
  modules/markup/markup.go
  routers/init.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7042 Disable arm7 builds (#7037)
  Makefile
Labels: kind/bug, lgtm/done

#7040 Avoid bad database state after failed migration
  modules/migrations/gitea.go
Labels: kind/bug, lgtm/done

#7020 Timeout test commands without complicated tricks
  .drone.yml
Labels: kind/build, lgtm/done

#7046 Update config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#7047 When git version >= 2.18, git command could run with git wire protocol version 2 param if enabled
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/git.go
Labels: kind/enhancement, lgtm/done

#7051 Fix possbile mysql invalid connnection error
  models/models.go
Labels: kind/bug, lgtm/done

#7055 Revert "Bugfix: Align comment label and actions to the right"
  public/css/index.css
  public/less/_repository.less
  templates/repo/diff/comments.tmpl
Labels: kind/bug, lgtm/done

#7048 Fix charset was not saved after installation finished
  routers/install.go
Labels: kind/bug, lgtm/done

#6923 Add FHS-compliant-script
  contrib/fhs-compliant-script/gitea
Labels: kind/package, lgtm/done

#6634 fix issuer of OTP URI should be URI-encoded.
  routers/user/setting/security_twofa.go
Labels: kind/bug, lgtm/done

#7059 "It's all in GitHub" isn't true anymore, update the home template
  templates/home.tmpl
Labels: lgtm/done

#7041 Handle insecure and ports in go get
  modules/context/context.go
  modules/context/repo.go
  modules/util/url.go
  modules/util/util_test.go
Labels: kind/bug, lgtm/done

#7060 Install page - Handle invalid administrator username better
  options/locale/locale_en-US.ini
  routers/install.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7063 Install page - Handle invalid administrator username better (#7060)
  options/locale/locale_en-US.ini
  routers/install.go
Labels: kind/bug, lgtm/done

#7064 chore: change issue mail title.
  models/issue_mail.go
Labels: kind/enhancement, lgtm/done

#6999 Fix LFS Locks over SSH
  integrations/git_test.go
  modules/lfs/locks.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#4940 refactor: append, build variable and type switch
  integrations/links_test.go
  models/issue_assignees_test.go
  models/migrations/v64.go
  models/user.go
  modules/base/tool.go
  modules/base/tool_test.go
  modules/templates/helper.go
  routers/user/auth_openid.go
Labels: kind/refactor, lgtm/done

#7065 Handle early git version's lack of get-url
  models/repo_mirror.go
Labels: backport/v1.8, kind/regression, lgtm/done

#7071 Fix possible mysql invalid connnection error (#7051)
  models/models.go
Labels: kind/bug, lgtm/done

#7076 Handle early git version's lack of get-url (#7065)
  models/repo_mirror.go
Labels: kind/regression, lgtm/done

#7074 Fix wrong init dependency on markup extensions (#7038)
  cmd/web.go
  contrib/pr/checkout.go
  modules/markup/markup.go
  routers/init.go
Labels: kind/bug, lgtm/done

#7079 1.8.2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6986 Repository avatars
  custom/conf/app.ini.sample
  docker/root/etc/templates/app.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/migrations/migrations.go
  models/migrations/v87.go
  models/repo.go
  models/repo_test.go
  modules/setting/setting.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_explore.less
  routers/repo/setting.go
  routers/routes/routes.go
  routers/user/setting/profile.go
  templates/explore/repo_list.tmpl
  templates/repo/header.tmpl
  templates/repo/settings/options.tmpl
  templates/swagger/v1_json.tmpl
Labels: changelog, kind/feature, lgtm/done

#7006 Fixes #5960 - Adds API Endpoint for Repo Edit
  integrations/api_repo_edit_test.go
  integrations/api_repo_file_delete_test.go
  models/org.go
  models/repo.go
  models/unit.go
  modules/structs/repo.go
  routers/api/v1/api.go
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/repo_test.go
  routers/api/v1/swagger/options.go
  templates/swagger/v1_json.tmpl
Labels: changelog, kind/api, lgtm/done

#7088 1.8.2 changelog (#7079)
  CHANGELOG.md
Labels: lgtm/done

#7028 Fixes #7023 - API Org Visibility
  integrations/api_admin_org_test.go
  integrations/api_org_test.go
  integrations/api_user_orgs_test.go
  modules/structs/org.go
  modules/structs/org_type.go
  modules/structs/repo_file.go
  routers/api/v1/admin/org.go
  routers/api/v1/convert/convert.go
  routers/api/v1/org/org.go
  routers/api/v1/repo/file.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#7049 improve github downloader on migrations
  modules/migrations/base/downloader.go
  modules/migrations/git.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/migrate.go
Labels: kind/refactor, lgtm/done

#7044 Fix Erlang and Elixir highlight mappings
  modules/highlight/highlight.go
Labels: kind/ui, lgtm/done

#7089 Validate External Tracker URL Format
  modules/validation/helpers.go
  modules/validation/helpers_test.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#7086 Refactor and improve git test
  integrations/api_helper_for_declarative_test.go
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
Labels: kind/testing, lgtm/done

#7096 Update go git from v4.10.0 to v4.11.0
  go.mod
  go.sum
  vendor/gopkg.in/src-d/go-git.v4/.travis.yml
  vendor/gopkg.in/src-d/go-git.v4/options.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/cache/object_lru.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commit.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commit_walker_bfs.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/patch.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/tree.go
  vendor/gopkg.in/src-d/go-git.v4/remote.go
  vendor/gopkg.in/src-d/go-git.v4/repository.go
  vendor/gopkg.in/src-d/go-git.v4/utils/diff/diff.go
  vendor/gopkg.in/src-d/go-git.v4/worktree.go
  vendor/gopkg.in/src-d/go-git.v4/worktree_status.go
  vendor/modules.txt
Labels: kind/build, lgtm/done
