Repository go-gitea/gitea, pull requests merged in 2019-03, with the labels that each got.

#6221 Update to docs README
  docs/README.md
Labels: lgtm/done

#6220 add service desk to comparison
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done

#6216 Fix renames over redirects
  models/repo.go
Labels: kind/bug, lgtm/done

#6227 Add create issue via email comparison
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done

#6231 add isAdmin to user API response
  Gopkg.lock
  models/user.go
  models/user_test.go
  routers/api/v1/user/user.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/user.go
Labels: kind/bug, lgtm/done

#6232 Override xorm type mapping for U2F counter
  models/migrations/migrations.go
  models/migrations/v81.go
  models/u2f.go
  models/u2f_test.go
Labels: kind/bug, lgtm/done

#6233 Prevent double-close of issues
  models/issue.go
Labels: kind/bug, lgtm/done

#5988 Make organization dropdown scrollable when using mouse wheel
  public/css/index.css
  public/less/_base.less
  templates/user/dashboard/navbar.tmpl
Labels: backport/v1.7, kind/bug, lgtm/done

#6244 Add ability to sort issues by due date (#6206)
  models/issue.go
  options/locale/locale_en-US.ini
  templates/repo/issue/list.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/enhancement, lgtm/done

#6246 Fix #5580 : Make organization dropdown scrollable when using mouse wh…
  public/css/index.css
  public/less/_base.less
  templates/user/dashboard/navbar.tmpl
Labels: kind/bug, lgtm/done

#6235 Fix #6234 : Check organization visibility before everything else
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#6223 Fix fork button
  public/css/index.css
  public/less/_repository.less
  templates/repo/header.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#6257 Remove visitLinksForShortLinks features
  modules/markup/html.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done

#6261 Replace linkRegex with xurls library
  Gopkg.lock
  Gopkg.toml
  modules/markup/html.go
  modules/markup/html_test.go
  vendor/github.com/mvdan/xurls/LICENSE
  vendor/github.com/mvdan/xurls/schemes.go
  vendor/github.com/mvdan/xurls/tlds.go
  vendor/github.com/mvdan/xurls/tlds_pseudo.go
  vendor/github.com/mvdan/xurls/xurls.go
Labels: kind/bug, lgtm/done

#6272 Add robots.txt as reserved username
  models/user.go
Labels: kind/bug, lgtm/done

#6021 [Contrib] Checkout a PR
  Makefile
  contrib/pr/checkout.go
Labels: kind/build, lgtm/done

#5378 Integrate OAuth2 Provider
  Gopkg.lock
  cmd/generate.go
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/oauth_test.go
  models/error.go
  models/fixtures/oauth2_application.yml
  models/fixtures/oauth2_authorization_code.yml
  models/fixtures/oauth2_grant.yml
  models/models.go
  models/oauth2_application.go
  models/oauth2_application_test.go
  models/user.go
  modules/auth/auth.go
  modules/auth/user_form.go
  modules/generate/generate.go
  modules/secret/secret.go
  modules/secret/secret_test.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_base.less
  routers/install.go
  routers/routes/routes.go
  routers/user/oauth.go
  routers/user/setting/applications.go
  routers/user/setting/oauth2.go
  templates/user/auth/grant.tmpl
  templates/user/auth/grant_error.tmpl
  templates/user/settings/applications.tmpl
  templates/user/settings/applications_oauth2.tmpl
  templates/user/settings/applications_oauth2_edit.tmpl
  vendor/golang.org/x/crypto/bcrypt/base64.go
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/golang.org/x/crypto/blowfish/block.go
  vendor/golang.org/x/crypto/blowfish/cipher.go
  vendor/golang.org/x/crypto/blowfish/const.go
Labels: changelog, kind/feature, lgtm/done

#6282 Third party docs
  docs/content/doc/advanced/third-party-tools.en-us.md
Labels: kind/docs, lgtm/done

#6281 Add security note to issue template
  .github/issue_template.md
Labels: kind/docs, lgtm/done

#6285 Use golang 1.12 to build in dockerfile
  Dockerfile
Labels: kind/build, lgtm/done

#6247 Add unit types to repo action URL to correctly show 404 when archived
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#6291 Add regenerate secret feature for oauth2
  routers/routes/routes.go
  routers/user/setting/oauth2.go
  templates/user/settings/applications_oauth2_edit.tmpl
Labels: kind/feature, lgtm/done

#6275 Copyedit docs
  docs/content/doc/advanced/api-usage.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/advanced/external-renderers.en-us.md
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
  docs/content/doc/advanced/specific-variables.en-us.md
  docs/content/doc/features/authentication.en-us.md
  docs/content/doc/features/comparison.en-us.md
  docs/content/doc/features/webhooks.en-us.md
  docs/content/doc/help/seek-help.en-us.md
  docs/content/doc/help/troubleshooting.en-us.md
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-package.en-us.md
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/installation/run-as-service-in-ubuntu.en-us.md
  docs/content/doc/installation/windows-service.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/upgrade/from-gogs.en-us.md
  docs/content/doc/usage/fail2ban-setup.md
  docs/content/doc/usage/https-support.md
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  docs/content/doc/usage/pull-request.en-us.md
  docs/content/doc/usage/reverse-proxies.en-us.md
  docs/content/page/index.en-us.md
  models/action.go
  models/issue_assignees.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
Labels: kind/docs, lgtm/done

#6299 Remove util.RemoveAll as no longer needed
  models/admin.go
  modules/util/remove.go
  modules/util/remove_windows.go
Labels: kind/refactor, lgtm/done

#6293 Add support for client basic auth for exchanging access tokens
  integrations/oauth_test.go
  routers/user/oauth.go
Labels: kind/enhancement, lgtm/done

#6224 update git vendor to fix wrong release commit id and add migrations
  Gopkg.lock
  models/migrations/migrations.go
  models/migrations/v82.go
  models/repo_branch.go
  routers/repo/view.go
  vendor/code.gitea.io/git/cache.go
  vendor/code.gitea.io/git/commit_info.go
  vendor/code.gitea.io/git/repo_commit.go
  vendor/code.gitea.io/git/repo_tag.go
Labels: kind/bug, lgtm/done

#6301 Add Gitea Extension for Visual Studio to third party tools list
  docs/content/doc/advanced/third-party-tools.en-us.md
Labels: kind/docs, lgtm/done

#6286 Updates vendor/code.gitea.io/git
  Gopkg.lock
  vendor/code.gitea.io/git/repo_commit.go
Labels: kind/bug, lgtm/done

#6304 Use url.PathEscape to escape the branchname
  modules/private/branch.go
  modules/private/internal.go
Labels: kind/bug, lgtm/done

#6306 Fix reported issue in repo description
  models/repo.go
  modules/markup/html.go
Labels: backport/v1.7, lgtm/done

#6308 Fix reported issue in repo description (#6306)
  models/repo.go
  modules/markup/html.go
Labels: lgtm/done

#6300 update git vendor to fix wrong release commit id and add migrations （#6224）
  Gopkg.lock
  models/repo_branch.go
  routers/repo/view.go
  vendor/code.gitea.io/git/cache.go
  vendor/code.gitea.io/git/commit.go
  vendor/code.gitea.io/git/commit_info.go
  vendor/code.gitea.io/git/repo_commit.go
  vendor/code.gitea.io/git/repo_tag.go
  vendor/code.gitea.io/git/submodule.go
  vendor/code.gitea.io/git/tree.go
Labels: kind/bug, lgtm/done

#6313 [Contrib] Use correct remote on Windows
  contrib/pr/checkout.go
Labels: kind/bug, lgtm/done

#6316 Proposed changelog for 1.7.4
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6317 1.7.4 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#5812 Add InternalTokenURI to load/save InteralToken from an external file
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#6323 Fix ParsePatch function to work with quoted diff --git strings
  models/git_diff.go
  models/git_diff_test.go
Labels: kind/bug, lgtm/done

#6332 Fix ParsePatch function to work with quoted diff --git strings (#6323)
  models/git_diff.go
  models/git_diff_test.go
Labels: kind/bug, lgtm/done

#6330 Return 409 when creating repo if it already exists.
  integrations/api_repo_test.go
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#6328 Add same changes from issues page to milestone->issues page
  routers/repo/milestone.go
  routers/routes/routes.go
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
Labels: kind/bug, lgtm/done

#6322 [PR Contrib] Add way to force checkout
  contrib/pr/checkout.go
Labels: kind/build, lgtm/done

#6339 use updated reference of xgo in makefile
  Makefile
Labels: kind/build, lgtm/done

#6340 Request to join the maintainers
  MAINTAINERS
Labels: lgtm/done

#6154 split setting.go to multiple files
  modules/setting/cron.go
  modules/setting/git.go
  modules/setting/markup.go
  modules/setting/repository.go
  modules/setting/setting.go
Labels: kind/refactor, lgtm/done

#6338 More specific declaration of search disk space
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#5234 Add test environment for Mysql8
  .drone.yml
  .gitignore
  Makefile
  integrations/mysql8.ini.tmpl
Labels: kind/testing, lgtm/done, reviewed/confirmed

#6305 fix testing instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/docs, kind/testing, lgtm/done

#6007 Add lang specific font stacks for CJK
  modules/context/context.go
  public/css/index.css
  public/less/_base.less
  public/less/_dashboard.less
  public/less/_editor.less
  public/less/_form.less
  public/less/_home.less
  public/less/_markdown.less
  public/less/_repository.less
  public/less/_review.less
  public/vendor/assets/lato-fonts/lato-bold.eot
  public/vendor/assets/lato-fonts/lato-bold.woff
  public/vendor/assets/lato-fonts/lato-bold.woff2
  public/vendor/assets/lato-fonts/lato-bolditalic.eot
  public/vendor/assets/lato-fonts/lato-bolditalic.woff
  public/vendor/assets/lato-fonts/lato-bolditalic.woff2
  public/vendor/assets/lato-fonts/lato-italic.eot
  public/vendor/assets/lato-fonts/lato-italic.woff
  public/vendor/assets/lato-fonts/lato-italic.woff2
  public/vendor/assets/lato-fonts/lato-regular.eot
  public/vendor/assets/lato-fonts/lato-regular.woff
  public/vendor/assets/lato-fonts/lato-regular.woff2
  templates/base/footer_content.tmpl
  templates/base/head.tmpl
Labels: kind/ui, lgtm/done

#6353 Fix headline
  docs/content/doc/usage/https-support.md
Labels: kind/docs, lgtm/done

#6334 Clean up various use of escape/unescape functions for URL generation
  cmd/hook.go
  integrations/internal_test.go
  models/repo.go
  modules/context/auth.go
  modules/context/context.go
  modules/context/repo.go
  modules/private/branch.go
  modules/util/url.go
  modules/util/util.go
  routers/home.go
  routers/private/repository.go
  routers/repo/pull.go
Labels: kind/bug, kind/enhancement, lgtm/done

#6363 1.8.0-rc1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6343 Include repo name in page title tag
  templates/base/head.tmpl
Labels: kind/enhancement, lgtm/done

#6113 Add bio field for user
  models/user.go
  modules/auth/user_form.go
  options/locale/locale_en-US.ini
  routers/user/setting/profile.go
  templates/user/profile.tmpl
  templates/user/settings/profile.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#6258 Add title attributes to all items in the repo list viewer
  templates/repo/view_list.tmpl
Labels: kind/ui, lgtm/done

#6080 Make the version within makefile overwriteable
  Makefile
Labels: kind/enhancement, lgtm/done

#6077 Updates to API 404 responses
  modules/context/api.go
  routers/api/v1/admin/user.go
  routers/api/v1/api.go
  routers/api/v1/org/hook.go
  routers/api/v1/org/member.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/branch.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/git_ref.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_label.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/key.go
  routers/api/v1/repo/label.go
  routers/api/v1/repo/milestone.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/release_attachment.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/app.go
  routers/api/v1/user/follower.go
  routers/api/v1/user/gpg_key.go
  routers/api/v1/user/key.go
  routers/api/v1/user/star.go
  routers/api/v1/user/user.go
  routers/api/v1/user/watch.go
  routers/api/v1/utils/hook.go
Labels: kind/enhancement, lgtm/done

#4299 Implement Default Webhooks
  models/repo.go
  models/webhook.go
  options/locale/locale_en-US.ini
  routers/admin/hooks.go
  routers/org/setting.go
  routers/repo/webhook.go
  routers/routes/routes.go
  templates/admin/hook_new.tmpl
  templates/admin/hooks.tmpl
  templates/admin/nav.tmpl
  templates/admin/navbar.tmpl
  templates/repo/settings/webhook/dingtalk.tmpl
  templates/repo/settings/webhook/discord.tmpl
  templates/repo/settings/webhook/gitea.tmpl
  templates/repo/settings/webhook/gogs.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/repo/settings/webhook/settings.tmpl
  templates/repo/settings/webhook/slack.tmpl
Labels: kind/feature, lgtm/done

#6365 Disable benchmarking during tag events on DroneIO
  .drone.yml
Labels: backport/v1.8, kind/bug, lgtm/done

#6366 Disable benchmarking during tag events on DroneIO (#6365)
  .drone.yml
Labels: kind/bug, lgtm/done

#6372 fix bug manifest.json will not request with cookie so that session will created every request
  templates/base/head.tmpl
Labels: backport/v1.7, backport/v1.8, kind/bug, lgtm/done

#6379 api: Make sure units of a team are returned
  models/org_team.go
  routers/api/v1/org/team.go
Labels: backport/v1.8, kind/api, kind/bug, lgtm/done

#6378 Include more variables on admin/config page
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  templates/admin/config.tmpl
Labels: kind/ui, lgtm/done

#6381 make sure units of a team are returned (#6379)
  models/org_team.go
  routers/api/v1/org/team.go
Labels: kind/api, kind/bug, lgtm/done

#6324 Show locale string on timestamp
  public/js/index.js
Labels: kind/enhancement, lgtm/done

#6382 fix bug manifest.json will not request with cookie so that session will created every request (#6372)
  templates/base/head.tmpl
Labels: kind/bug, lgtm/done

#6383 fix bug manifest.json will not request with cookie so that session will created every request (#6372)
  templates/base/head.tmpl
Labels: kind/bug, lgtm/done

#6387 fix migrations 82 to ignore unsynced tags between database and git data and missing is_archived on repository table
  models/migrations/v82.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6394 fix dump table name error and add some test for dump database
  models/models.go
  models/models_sqlite.go
  models/models_test.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6399 Don't Unescape redirect_to cookie value
  routers/user/auth.go
  routers/user/auth_openid.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6401 Don't Unescape redirect_to cookie value (#6399)
  routers/user/auth.go
  routers/user/auth_openid.go
Labels: kind/bug, lgtm/done

#6403 fix migrations 82 to ignore unsynced tags between database and git data and missing is_archived on repository table (#6387)
  models/migrations/v82.go
Labels: kind/bug, lgtm/done

#6402 fix dump table name error and add some test for dump database (#6394)
  models/models.go
  models/models_sqlite.go
  models/models_test.go
Labels: kind/bug, lgtm/done

#6362 Markdown: enable some more extensions
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
  routers/api/v1/misc/markdown_test.go
Labels: kind/enhancement, lgtm/done

#6336 improve zh-cn comparison docs
  docs/content/doc/features/comparison.zh-cn.md
Labels: kind/docs, lgtm/done

#6406 Updates SDK dep
  Gopkg.lock
  routers/api/v1/repo/commits.go
  templates/swagger/v1_json.tmpl
  vendor/code.gitea.io/sdk/gitea/git_blob.go
  vendor/code.gitea.io/sdk/gitea/repo_commit.go
  vendor/code.gitea.io/sdk/gitea/repo_file.go
Labels: kind/enhancement, lgtm/done

#6419 Fixed unitTypeCode not being used in accessLevelUnit
  models/repo_permission.go
Labels: kind/bug, lgtm/done

#6423 Fixed unitTypeCode not being used in accessLevelUnit (Backport from #6419)
  models/repo_permission.go
Labels: lgtm/done

#6422 Fixed unitTypeCode not being used in accessLevelUnit (Backport from #6419)
  models/repo_permission.go
Labels: lgtm/done

#6427 optimize all images in public/img
  Makefile
  public/img/auth/dropbox.png
  public/img/auth/facebook.png
  public/img/auth/google_plus.png
  public/img/auth/openid_connect.png
  public/img/auth/twitter.png
  public/img/avatar_default.png
  public/img/favicon.ico
  public/img/favicon.png
  public/img/gitea-192.png
  public/img/gitea-512.png
  public/img/gitea-lg.png
  public/img/gitea-sm.png
  public/img/openid-16x16.png
  public/img/slack.png
Labels: kind/enhancement, kind/ui, lgtm/done

#6414 routers/repo/setting: display correct error for invalid mirror interval
  routers/repo/setting.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6428 Add signatures to webhooks
  models/webhook.go
Labels: kind/enhancement, lgtm/done

#6429 routers/repo/setting: display correct error for invalid mirror interval
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#6432 Fix Hook & HookList in Swagger
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: backport/v1.8, kind/bug, lgtm/done

#6437 Clean up ref name rules
  integrations/repo_branch_test.go
  modules/validation/binding.go
  modules/validation/refname_test.go
  routers/repo/branch.go
Labels: backport/v1.7, backport/v1.8, kind/bug, lgtm/done

#6439 Clean up ref name rules (#6437)
  integrations/repo_branch_test.go
  modules/validation/binding.go
  modules/validation/refname_test.go
  routers/repo/branch.go
Labels: kind/bug, lgtm/done

#6440 Fix Hook & HookList in Swagger (#6432)
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done

#6445 Change order that PostProcess Processors are run
  modules/markup/html.go
  modules/markup/html_test.go
Labels: backport/v1.8, kind/bug, lgtm/done

#6444 Changelog 1.7.5
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6447 Change order that PostProcess Processors are run (#6445)
  modules/markup/html.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done

#6448 Changelog 1.7.5 (#6444)
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6451 Changelog 1.8.0 rc2
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6453 Changelogs 1.7.5 & 1.8.0-rc2
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#6410 Make "Ghost" not link to 404 page
  models/issue.go
  options/locale/locale_en-US.ini
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/user/dashboard/feeds.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/enhancement, lgtm/done

#6455 Hacky fix for alignment of the create-organization dialog
  templates/org/create.tmpl
Labels: backport/v1.8, kind/bug, kind/ui, lgtm/done

#6462 Hacky fix for alignment of the create-organization dialog (#6455)
  templates/org/create.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#6466 fix typos in docs command-line examples
  docs/content/doc/usage/command-line.md
Labels: kind/docs, lgtm/done

#6471 Fix link to Hacking on Gitea on From-Source doc page
  docs/content/doc/installation/from-source.en-us.md
Labels: kind/docs, lgtm/done

#6467 fix: avoid multi-clicks in oauth2 login
  public/js/index.js
  templates/user/auth/signin_inner.tmpl
Labels: kind/bug, lgtm/done
