Repository go-gitea/gitea, pull requests merged in 2019-07, with the labels that each got.

#6961 #6946 Run hooks on merge/edit and cope with protected branches
  cmd/hook.go
  cmd/serv.go
  models/branches.go
  models/helper_environment.go
  models/pull.go
  modules/private/hook.go
  modules/pull/merge.go
  routers/private/hook.go
Labels: kind/bug, lgtm/done

#7333 Fix 7255 - wrap long texts on user profile info
  public/css/index.css
  public/less/_base.less
  templates/user/profile.tmpl
Labels: kind/ui, lgtm/done

#7335 fix pull view ui merge section
  integrations/pull_merge_test.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#7336 fix updated drone file
  .drone.yml
Labels: kind/deployment, lgtm/done

#6849 Make dropTableColumns drop columns on sqlite and constraints on all
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done

#7337 Fix bug conflict between SyncReleasesWithTags and InsertReleases
  models/release_test.go
  models/repo.go
  modules/migrations/base/uploader.go
  modules/migrations/gitea.go
  modules/migrations/migrate.go
Labels: kind/bug, lgtm/done

#7314 Use commit graph files for listing pages
  modules/git/commit_info.go
  modules/git/notes.go
  modules/git/repo_commitgraph.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/commitgraph/commitgraph.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/commitgraph/doc.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/commitgraph/encoder.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/commitgraph/file.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/format/commitgraph/memory.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commitgraph/commitnode.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commitgraph/commitnode_graph.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commitgraph/commitnode_object.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commitgraph/commitnode_walker_ctime.go
  vendor/gopkg.in/src-d/go-git.v4/plumbing/object/commitgraph/doc.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#7343 Display Github support button
  .github/FUNDING.yml
Labels: lgtm/done

#7344 update npm dependencies and various tweaks
  package-lock.json
  package.json
  public/css/index.css
  public/js/index.js
Labels: lgtm/done

#7346 Fix api route
  routers/api/v1/api.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7347 Fix api route (#7346)
  routers/api/v1/api.go
Labels: kind/bug, lgtm/done

#7351 update contributing to use recent version of drone cli
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#7363 routers/user: ensure that decryption of cookie actually suceeds
  routers/user/auth.go
Labels: lgtm/done

#7364 routers: do not leak secrets via timing side channel
  routers/metrics.go
  routers/repo/pull.go
Labels: kind/bug, lgtm/done

#7353 Detect migrating batch size
  models/models.go
  modules/migrations/base/uploader.go
  modules/migrations/gitea.go
  modules/migrations/migrate.go
Labels: kind/enhancement, lgtm/done

#6606 Make captcha and password optional for external accounts
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/auth/user_form.go
  modules/setting/service.go
  routers/user/auth.go
  routers/user/auth_openid.go
  templates/user/auth/signin_inner.tmpl
  templates/user/auth/signup_inner.tmpl
Labels: kind/enhancement, lgtm/done

#7366 Fix mirror repository webhooks
  models/action.go
Labels: kind/bug, lgtm/done

#7368 Fix typo in PR migration check
  modules/migrations/migrate.go
Labels: kind/bug, lgtm/done

#7355 ui - cut timeline length with last element on issue view
  public/css/index.css
  public/css/theme-arc-green.css
  public/less/_repository.less
  public/less/themes/arc-green.less
  templates/repo/issue/view_content.tmpl
Labels: kind/ui, lgtm/done

#7354 ui - issue view - fix icon position
  public/css/index.css
  public/css/theme-arc-green.css
  public/less/_repository.less
  public/less/themes/arc-green.less
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/ui, lgtm/done

#7367 1.9.0-RC1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#7250 switch to use gliderlabs/ssh for builtin server
  go.mod
  go.sum
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/repo_test.go
  integrations/sqlite.ini
  modules/ssh/ssh.go
  vendor/github.com/anmitsu/go-shlex/.gitignore
  vendor/github.com/anmitsu/go-shlex/LICENSE
  vendor/github.com/anmitsu/go-shlex/README.md
  vendor/github.com/anmitsu/go-shlex/shlex.go
  vendor/github.com/gliderlabs/ssh/LICENSE
  vendor/github.com/gliderlabs/ssh/README.md
  vendor/github.com/gliderlabs/ssh/agent.go
  vendor/github.com/gliderlabs/ssh/circle.yml
  vendor/github.com/gliderlabs/ssh/conn.go
  vendor/github.com/gliderlabs/ssh/context.go
  vendor/github.com/gliderlabs/ssh/doc.go
  vendor/github.com/gliderlabs/ssh/options.go
  vendor/github.com/gliderlabs/ssh/server.go
  vendor/github.com/gliderlabs/ssh/session.go
  vendor/github.com/gliderlabs/ssh/ssh.go
  vendor/github.com/gliderlabs/ssh/tcpip.go
  vendor/github.com/gliderlabs/ssh/util.go
  vendor/github.com/gliderlabs/ssh/wrap.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_386.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_arm.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_386.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_arm.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_arm64.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#7286 Implement the ability to change the ssh port to match what is in the gitea config
  docker/root/etc/s6/openssh/setup
  docker/root/etc/templates/sshd_config
Labels: kind/deployment, lgtm/done

#7309 Refactor filetype is not allowed errors
  modules/upload/filetype.go
  routers/api/v1/repo/release_attachment.go
  routers/repo/attachment.go
  routers/repo/editor.go
  routers/repo/issue.go
Labels: kind/refactor, lgtm/done

#7340 Use vendors when go generate
  .drone.yml
  Makefile
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
  docs/content/doc/installation/from-source.en-us.md
Labels: kind/build, lgtm/need 2

#7269 dark theme scrollbars
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/ui, lgtm/done

#7243 wiki - editor - add buttons 'inline code', 'empty checkbox', 'checked checkbox'
  public/js/index.js
Labels: kind/ui, lgtm/done

#6023 Add additional password hash algorithms
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/login_source.go
  models/user.go
  models/user_test.go
  modules/setting/setting.go
  vendor/golang.org/x/crypto/argon2/argon2.go
  vendor/golang.org/x/crypto/argon2/blake2b.go
  vendor/golang.org/x/crypto/argon2/blamka_amd64.go
  vendor/golang.org/x/crypto/argon2/blamka_amd64.s
  vendor/golang.org/x/crypto/argon2/blamka_generic.go
  vendor/golang.org/x/crypto/argon2/blamka_ref.go
  vendor/golang.org/x/crypto/blake2b/blake2b.go
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.go
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2b_amd64.go
  vendor/golang.org/x/crypto/blake2b/blake2b_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2b_generic.go
  vendor/golang.org/x/crypto/blake2b/blake2b_ref.go
  vendor/golang.org/x/crypto/blake2b/blake2x.go
  vendor/golang.org/x/crypto/blake2b/register.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/modules.txt
Labels: kind/feature, lgtm/done, reviewed/confirmed

#6772 Support git.PATH entry in app.ini
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/git/git.go
  modules/setting/git.go
Labels: kind/enhancement, lgtm/done

#7352 Display original author and URL information when showing migrated issues/comments
  models/issue.go
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v89.go
  models/repo.go
  modules/migrations/base/comment.go
  modules/migrations/base/issue.go
  modules/migrations/base/options.go
  modules/migrations/base/pullrequest.go
  modules/migrations/base/repo.go
  modules/migrations/gitea.go
  modules/migrations/gitea_test.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/migrate.go
  modules/structs/issue.go
  modules/structs/issue_comment.go
  modules/structs/repo.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_base.less
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_title.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/enhancement, lgtm/done

#6705 only return head: null if source branch was deleted
  models/pull.go
  models/pull_test.go
Labels: kind/bug, lgtm/done

#7369 wiki - page revisions list
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_markdown.less
  routers/repo/wiki.go
  routers/routes/routes.go
  templates/repo/wiki/revision.tmpl
  templates/repo/wiki/view.tmpl
Labels: changelog, kind/enhancement, lgtm/done

#7375 Fix migration tests since #7 fixed
  modules/migrations/github_test.go
Labels: kind/testing, lgtm/done

#7381 Fix migration tests since #7 fixed (#7375)
  modules/migrations/github_test.go
Labels: kind/testing, lgtm/done

#7380 fix post parameter - on issue list - unset assignee
  public/js/index.js
Labels: backport/v1.9, kind/bug, lgtm/done

#7383 backport of #7380 - fix post parameter - on issue list - unset assignee
  public/js/index.js
Labels: kind/bug, lgtm/done

#7385 add missing template variable on organisation settings
  routers/org/setting.go
Labels: backport/done, backport/v1.9, kind/bug, lgtm/done

#7386 backport of #7385 - add missing template variable on organisation settings
  routers/org/setting.go
Labels: kind/bug, lgtm/done

#7345 ui fixes - compare view and archieved repo issues
  templates/repo/diff/compare.tmpl
  templates/repo/header.tmpl
  templates/repo/issue/view_content.tmpl
Labels: kind/ui, lgtm/done

#7388 Fetch refs for successful testing for tag
  .drone.yml
Labels: backport/v1.9, kind/bug, kind/testing, lgtm/done

#7376 only return head: null if source branch was deleted (#6705)
  models/pull.go
  models/pull_test.go
Labels: kind/bug, lgtm/done

#7394 Fix vendor
  go.mod
  go.sum
  vendor/modules.txt
Labels: backport/v1.9, kind/build, lgtm/done

#7396 Fix vendor (#7394)
  go.mod
  go.sum
  vendor/modules.txt
Labels: kind/build, lgtm/done

#7407 Upgrade macaron/captcha to fix random error problem
  go.mod
  go.sum
  vendor/github.com/go-macaron/captcha/.travis.yml
  vendor/github.com/go-macaron/captcha/captcha.go
  vendor/github.com/go-macaron/captcha/image.go
  vendor/modules.txt
Labels: backport/v1.9, kind/bug, lgtm/done

#7419 Add section about customizing mail
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done

#7391 wiki history improvements
  modules/git/repo_commit.go
  public/css/index.css
  public/less/_markdown.less
  routers/repo/wiki.go
  templates/repo/wiki/revision.tmpl
Labels: kind/ui, lgtm/done

#7426 Only show "New Pull Request" button if repo allows pulls
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: backport/v1.9, kind/bug, kind/ui, lgtm/done

#7432 Only show "New Pull Request" button if repo allows pulls (#7426)
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#7425 jQuery 3
  public/vendor/VERSIONS
  public/vendor/librejs.html
  public/vendor/plugins/jquery-migrate/jquery-migrate.min.js
  public/vendor/plugins/jquery/jquery.min.js
  templates/base/footer.tmpl
  templates/pwa/serviceworker_js.tmpl
Labels: kind/refactor, lgtm/done

#7409 Add notification placeholder
  routers/api/v1/repo/repo.go
  routers/repo/repo.go
Labels: kind/enhancement, lgtm/done

#6288 Support setting cookie domain
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  go.mod
  go.sum
  modules/setting/session.go
  modules/setting/setting.go
  routers/routes/routes.go
  routers/user/auth.go
  routers/user/setting/profile.go
  vendor/github.com/go-macaron/csrf/.travis.yml
  vendor/github.com/go-macaron/csrf/csrf.go
  vendor/github.com/go-macaron/csrf/xsrf.go
  vendor/github.com/go-macaron/i18n/.travis.yml
  vendor/github.com/go-macaron/i18n/i18n.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done, reviewed/confirmed

#7442 backport #7425 - jquery 3
  public/vendor/VERSIONS
  public/vendor/librejs.html
  public/vendor/plugins/jquery-migrate/jquery-migrate.min.js
  public/vendor/plugins/jquery/jquery.min.js
  templates/base/footer.tmpl
  templates/pwa/serviceworker_js.tmpl
Labels: kind/bug, lgtm/done

#7435 Diff: Fix indentation on unhighlighted code
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: backport/v1.9, kind/bug, lgtm/done

#7443 Backport #7435
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, lgtm/done

#7393 create class for inline positioned lists
  public/css/index.css
  public/less/_base.less
  templates/org/create.tmpl
Labels: backport/v1.9, kind/bug, kind/ui, lgtm/done

#7439 backport of #7393 - create class for inline positioned lists
  public/css/index.css
  public/less/_base.less
  templates/org/create.tmpl
Labels: lgtm/done

#7320 fix/define autochecked checkboxes on issue list in firefox
  public/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#7445 fix Dropzone.js integration
  public/js/index.js
Labels: backport/v1.9, kind/bug, lgtm/done

#7448 Fix Dropzone.js integration (#7445)
  public/js/index.js
Labels: kind/bug, lgtm/done

#7450 Fix an issue with some pages throwing 'not defined' js exceptions
  public/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#7453 Backport: Fix an issue with some pages throwing 'not defined' js exceptions (#7450)
  public/js/index.js
Labels: kind/bug, lgtm/done

#7458 cmd/serv: actually exit after fatal errors
  cmd/serv.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7460 cmd/serv: actually exit after fatal errors
  cmd/serv.go
Labels: kind/bug, lgtm/done

#7463 Only create branches for opened pull requestes when migrating from github
  modules/migrations/gitea.go
Labels: kind/enhancement, lgtm/done

#7465 Add Issue link to feature compare "reject unsigned"
  docs/content/doc/features/comparison.en-us.md
Labels: lgtm/done

#7444 Fix regex for issues in commit messages
  models/action.go
  models/action_test.go
Labels: lgtm/done

#7462 update js dependencies
  package-lock.json
  package.json
Labels: dependencies, lgtm/done

#7466 Fix regex for issues in commit messages (#7444)
  models/action.go
  models/action_test.go
Labels: kind/bug, lgtm/done

#7467 1.9.0-rc2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#7452 fix misprint
  templates/home.tmpl
Labels: kind/translation, kind/ui, lgtm/done

#7370 Move status table to cron package
  go.mod
  go.sum
  models/branches.go
  models/repo.go
  models/repo_mirror.go
  models/user.go
  modules/cron/cron.go
  vendor/github.com/gogits/cron/parser.go
  vendor/github.com/gogs/cron/.gitignore
  vendor/github.com/gogs/cron/.travis.yml
  vendor/github.com/gogs/cron/LICENSE
  vendor/github.com/gogs/cron/README.md
  vendor/github.com/gogs/cron/constantdelay.go
  vendor/github.com/gogs/cron/cron.go
  vendor/github.com/gogs/cron/doc.go
  vendor/github.com/gogs/cron/parser.go
  vendor/github.com/gogs/cron/spec.go
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/go.mod
  vendor/golang.org/x/oauth2/go.sum
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Labels: kind/refactor, lgtm/done

#7464 convert all js var to let/const
  .eslintrc
  public/js/draw.js
  public/js/index.js
Labels: kind/refactor, lgtm/done

#7482 Fixes #7475 - Settings pages giving UnitType error message
  routers/routes/routes.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7483 Backport for #7475 - settings error
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#7237 Remove settting dependency on modules/session
  modules/setting/cache.go
  modules/setting/session.go
  modules/setting/setting.go
  routers/routes/routes.go
Labels: kind/refactor, lgtm/done

#7496 drone/release-version: remove translations deps
  .drone.yml
Labels: lgtm/done

#7480 drone/docker: Use a more standard format
  .drone.yml
Labels: backport/v1.9, kind/build, lgtm/done

#7494 Fix missing queue type on app.ini.sample
  custom/conf/app.ini.sample
Labels: kind/docs, lgtm/done

#7493 Update User.NumRepos atomically in createRepository
  models/repo.go
Labels: kind/bug, lgtm/done

#7478 Fixes #7474 - Handles all redirects for Web UI File CRUD
  options/locale/locale_en-US.ini
  public/js/index.js
  routers/repo/editor.go
  routers/repo/editor_test.go
  templates/repo/editor/commit_form.tmpl
Labels: kind/bug, lgtm/done

#7505 Fix backer badge
  README.md
Labels: kind/docs, lgtm/done

#7461 Add Extra Info to Branches Page
  public/css/index.css
  public/less/_explore.less
  templates/repo/branch/list.tmpl
Labels: kind/ui, lgtm/done

#7397 Update CONTRIBUTING.md with information about DCO
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#7507 v1.9 Backport for #7478 - Fix for bad error if Deleting a file has problems
  options/locale/locale_en-US.ini
  public/js/index.js
  routers/repo/editor.go
  routers/repo/editor_test.go
  templates/repo/editor/commit_form.tmpl
Labels: kind/bug, lgtm/done

#7506 Fixes for README_ZH
  README_ZH.md
Labels: lgtm/done

#7504 Backport drone fix from #7480 and #7496
  .drone.yml
Labels: kind/build, lgtm/done

#7511 remove duplicated webhook trigger
  modules/pull/merge.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7516 Remove duplicated webhook trigger (#7511)
  modules/pull/merge.go
Labels: kind/bug, lgtm/done

#7519 Make default branch name link to default branch
  templates/repo/branch/list.tmpl
Labels: kind/enhancement, lgtm/done

#7517 Added total count of contributions to heatmap
  public/css/index.css
  public/js/index.js
  public/less/_base.less
Labels: kind/enhancement, lgtm/done

#7513 Fix markdown invoke sequence
  modules/markup/markdown/markdown.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7518 Fix repository's pull request count error
  models/issue.go
  models/issue_comment.go
  models/repo.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7524 Fix repository's pull request count error (#7518)
  models/issue.go
  models/issue_comment.go
  models/repo.go
Labels: kind/bug, lgtm/done

#7541 Requesting to Join Maintainers
  MAINTAINERS
Labels: lgtm/done

#7540 Specify using AllowEncodedSlashes and nocanon for httpd
  docs/content/doc/usage/reverse-proxies.en-us.md
  docs/content/doc/usage/reverse-proxies.zh-cn.md
Labels: kind/docs, lgtm/done

#7553 Fixed ineffectual assignments in tests
  integrations/api_repo_edit_test.go
  integrations/api_team_test.go
  models/access_test.go
Labels: kind/refactor, lgtm/done

#7556 Un-lambda base.FileSize
  modules/templates/helper.go
Labels: kind/refactor, lgtm/done

#7555 Fixed ineffectual assignments
  models/git_diff.go
  routers/user/setting/security_twofa.go
Labels: kind/refactor, lgtm/done

#7560 Fix markdown invoke sequence (#7513)
  modules/markup/markdown/markdown.go
Labels: kind/bug, lgtm/done

#7521 Fix empty commits now showing in repo overview
  modules/git/commit_info.go
  modules/git/commit_info_test.go
  modules/git/repo_stats_test.go
  modules/git/tests/repos/repo1_bare/logs/HEAD
  modules/git/tests/repos/repo1_bare/logs/refs/heads/master
  modules/git/tests/repos/repo1_bare/objects/fe/af4ba6bc635fec442f46ddd4512416ec43c2c2
  modules/git/tests/repos/repo1_bare/refs/heads/master
Labels: kind/bug, lgtm/done

#7563 Backport #7521
  modules/git/commit_info.go
  modules/git/commit_info_test.go
  modules/git/repo_stats_test.go
  modules/git/tests/repos/repo1_bare/logs/HEAD
  modules/git/tests/repos/repo1_bare/logs/refs/heads/master
  modules/git/tests/repos/repo1_bare/objects/fe/af4ba6bc635fec442f46ddd4512416ec43c2c2
  modules/git/tests/repos/repo1_bare/refs/heads/master
Labels: kind/bug, lgtm/done

#7565 Fixes #7564 - Malformed URLs in API git/commits response
  routers/api/v1/repo/commits.go
Labels: lgtm/done

#7567 Backport for v1.9 - Fixes #7564 - Malformed URLs in API git/commits response (#7565)
  routers/api/v1/repo/commits.go
Labels: kind/bug, lgtm/done

#7562 Fix file header overflow in file and blame views
  templates/repo/blame.tmpl
  templates/repo/view_file.tmpl
Labels: kind/ui, lgtm/done

#7579 Backport #7562
  templates/repo/blame.tmpl
  templates/repo/view_file.tmpl
Labels: lgtm/done

#7522 Improve SSH key parser to handle newlines in keys
  models/ssh_key.go
  models/ssh_key_test.go
Labels: kind/bug, lgtm/done

#7587 Fix mistake in arc-green.less split-diff css code.
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: backport/v1.9, kind/bug, kind/ui, lgtm/done

#7586 Handle ErrUserProhibitLogin in http git
  routers/repo/http.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7557 Removed unnecessary conversions
  integrations/version_test.go
  models/action.go
  models/repo_permission.go
  modules/context/panic.go
  modules/git/commit_info.go
  modules/git/notes.go
  modules/git/parse.go
  modules/git/repo_blame.go
  modules/git/repo_blob.go
  modules/git/repo_commit.go
  modules/git/repo_ref.go
  modules/git/repo_tree.go
  modules/git/tree.go
  modules/git/tree_blob.go
  modules/lfs/locks.go
  modules/log/colors.go
  modules/log/level.go
  modules/log/writer.go
  modules/markup/html.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  modules/pull/lfs.go
  modules/repofiles/update.go
  routers/org/setting.go
Labels: kind/refactor, lgtm/done

#7554 Added missing error checks in tests
  models/release_test.go
  models/repo_test.go
  modules/git/repo_commit_test.go
  modules/git/repo_stats_test.go
Labels: kind/refactor, lgtm/done

#7589 Fix mistake in arc-green.less split-diff css code (#7587)
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/bug, kind/ui, lgtm/done

#7591 use 403 instead of 401 for ErrUserProhibitLogin
  routers/repo/http.go
Labels: backport/v1.9, kind/refactor, lgtm/done

#7590 Handle ErrUserProhibitLogin in http git (#7586, #7591)
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#7485 Move models.PushUpdate to repofiles.PushUpdate
  models/release.go
  models/update.go
  modules/repofiles/update.go
Labels: kind/refactor, lgtm/done

#7585 Add some information to the API Token header
  routers/api/v1/api.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#7571 drone/docker: prepare multi-arch release + provide arm64 image
  .drone.yml
  docker/manifest.tmpl
Labels: kind/build, lgtm/done

#7141 Fix #7136: Add paging and extend API GetCommitStatuses
  models/commit_status.go
  models/commit_status_test.go
  routers/api/v1/repo/status.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#7615 Fix panic on push at #7611
  models/branches.go
  modules/pull/merge.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7600 Make PKCS8, PEM and SSH2 keys work
  models/ssh_key.go
  models/ssh_key_test.go
Labels: kind/bug, lgtm/done

#7618 Fix panic on push at #7611 (#7615)
  models/branches.go
  modules/pull/merge.go
Labels: kind/bug, lgtm/done

#7580 Fix bug create/edit wiki pages when code master branch protected
  models/helper_environment.go
  models/wiki.go
  modules/pull/merge.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7617 Fix syntax highlight initialization
  public/js/index.js
Labels: kind/bug, kind/regression, kind/ui, lgtm/done

#7602 [Branch View] icons to buttons
  options/locale/locale_en-US.ini
  templates/repo/branch/list.tmpl
Labels: kind/ui, lgtm/done

#7623 Fix bug create/edit wiki pages when code master branch protected (#7580)
  models/helper_environment.go
  models/wiki.go
  modules/pull/merge.go
Labels: kind/bug, lgtm/done

#7613 Update to latest mssqldriver
  go.mod
  go.sum
  integrations/migration-test/migration_test.go
  vendor/cloud.google.com/go/AUTHORS
  vendor/cloud.google.com/go/CONTRIBUTORS
  vendor/cloud.google.com/go/LICENSE
  vendor/cloud.google.com/go/civil/civil.go
  vendor/github.com/denisenkom/go-mssqldb/README.md
  vendor/github.com/denisenkom/go-mssqldb/appveyor.yml
  vendor/github.com/denisenkom/go-mssqldb/buf.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy_sql.go
  vendor/github.com/denisenkom/go-mssqldb/convert.go
  vendor/github.com/denisenkom/go-mssqldb/doc.go
  vendor/github.com/denisenkom/go-mssqldb/go.mod
  vendor/github.com/denisenkom/go-mssqldb/go.sum
  vendor/github.com/denisenkom/go-mssqldb/internal/querytext/parser.go
  vendor/github.com/denisenkom/go-mssqldb/mssql.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go110.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go18.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19pre.go
  vendor/github.com/denisenkom/go-mssqldb/net.go
  vendor/github.com/denisenkom/go-mssqldb/ntlm.go
  vendor/github.com/denisenkom/go-mssqldb/rpc.go
  vendor/github.com/denisenkom/go-mssqldb/tds.go
  vendor/github.com/denisenkom/go-mssqldb/token.go
  vendor/github.com/denisenkom/go-mssqldb/tran.go
  vendor/github.com/denisenkom/go-mssqldb/tvp_go19.go
  vendor/github.com/denisenkom/go-mssqldb/types.go
  vendor/modules.txt
Labels: kind/build, lgtm/done

#7626 Backport #7617
  public/js/index.js
Labels: lgtm/done

#7622 [Branch View] Delete Table Header
  templates/repo/branch/list.tmpl
Labels: kind/ui, lgtm/done

#7637 reserve .well-known username
  models/user.go
Labels: backport/v1.9, lgtm/done

#7638 reserve .well-known username
  models/user.go
Labels: lgtm/done

#7634 Fix regression in reverse proxy documentation
  docs/content/doc/usage/reverse-proxies.en-us.md
  docs/content/doc/usage/reverse-proxies.zh-cn.md
Labels: kind/docs, lgtm/done

#7640 fix wrong email when use gitea as OAuth2 provider
  models/user.go
  routers/api/v1/admin/user.go
  routers/api/v1/convert/convert.go
  routers/api/v1/org/member.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/star.go
  routers/api/v1/repo/subscriber.go
  routers/api/v1/user/follower.go
  routers/api/v1/user/key.go
  routers/api/v1/user/user.go
Labels: kind/api, kind/enhancement, lgtm/done

#7624 [Branch View] Protection Symbole (delete dublicate)
  templates/repo/branch/list.tmpl
Labels: kind/ui, lgtm/done

#7647 fix wrong email when use gitea as OAuth2 provider (#7640)
  models/user.go
  routers/api/v1/admin/user.go
  routers/api/v1/convert/convert.go
  routers/api/v1/org/member.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/star.go
  routers/api/v1/repo/subscriber.go
  routers/api/v1/user/follower.go
  routers/api/v1/user/key.go
  routers/api/v1/user/user.go
Labels: kind/enhancement, lgtm/done

#7604 [Branch View] add download button
  options/locale/locale_en-US.ini
  public/css/index.css
  public/less/_explore.less
  templates/repo/branch/list.tmpl
Labels: kind/enhancement, lgtm/done

#7652 Change length of some repository's columns
  models/migrations/migrations.go
  models/migrations/v90.go
  models/repo.go
Labels: backport/v1.9, kind/enhancement, lgtm/done

#7655 change length of some repository's columns (#7652)
  models/repo.go
Labels: kind/enhancement, lgtm/done

#7654 integration tests: Use t.Helper()
  integrations/html_helper.go
  integrations/integration_test.go
Labels: kind/testing, lgtm/done

#7658 hide delete/restore button on archived repos
  templates/repo/branch/list.tmpl
Labels: backport/v1.9, kind/bug, lgtm/done

#7656 css: use flex to fix floating paginate
  public/css/index.css
  public/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#7662 css: use flex to fix floating paginate (Backport #7656)
  public/css/index.css
  public/less/_repository.less
Labels: kind/bug, lgtm/done

#7665 Fix bug on migrating milestone from github
  modules/migrations/gitea.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7666 Fix bug on migrating milestone from github (#7665)
  modules/migrations/gitea.go
Labels: kind/bug, lgtm/done

#7660 hide delete/restore button on archived repos [backport]
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done

#7610 SetDefaultBranch on pushing to empty repository
  models/action.go
Labels: kind/feature, lgtm/done

#7645 Move commit repo action from models to repofiles package
  models/action.go
  models/action_test.go
  models/unit_tests.go
  modules/repofiles/action.go
  modules/repofiles/action_test.go
  modules/repofiles/update.go
Labels: kind/refactor, lgtm/done

#7668 Show protection symbol if needed on default branch (#7660)
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done

#7674 sugestion to use range .Branches
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done

#7675 Move add to hook queue for created repo to outside xorm session.
  models/repo.go
Labels: backport/v1.9, kind/bug, lgtm/done

#7682 Move add to hook queue for created repo to outside xorm session.
  models/repo.go
Labels: kind/bug, lgtm/done

#7683 Upgrade macaron/captcha to fix random error problem (#7407)
  go.mod
  go.sum
  vendor/github.com/go-macaron/captcha/.travis.yml
  vendor/github.com/go-macaron/captcha/captcha.go
  vendor/github.com/go-macaron/captcha/image.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done
