Repository go-gitea/gitea, pull requests merged in 2019-06, with the labels that each got.

#6993 Move serv hook functionality & drop GitLogger
  cmd/hook.go
  cmd/serv.go
  docs/content/doc/advanced/logging-documentation.en-us.md
  integrations/internal_test.go
  models/helper_environment.go
  modules/log/log.go
  modules/pprof/pprof.go
  modules/private/branch.go
  modules/private/hook.go
  modules/private/internal.go
  modules/private/key.go
  modules/private/push_update.go
  modules/private/repository.go
  modules/private/serv.go
  modules/private/wiki.go
  routers/init.go
  routers/private/branch.go
  routers/private/hook.go
  routers/private/internal.go
  routers/private/key.go
  routers/private/push_update.go
  routers/private/repository.go
  routers/private/serv.go
  routers/private/wiki.go
  routers/repo/http.go
Labels: kind/refactor, lgtm/done

#7087 Repository avatar fallback configuration
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/repo.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  public/img/repo_default.png
  routers/admin/admin.go
  templates/admin/dashboard.tmpl
  templates/explore/repo_list.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#7080 Use vfsgen instead of go-bindata
  Makefile
  go.mod
  go.sum
  main.go
  modules/options/main.go
  modules/options/options.go
  modules/options/static.go
  modules/public/main.go
  modules/public/public.go
  modules/public/static.go
  modules/templates/main.go
  modules/templates/static.go
  modules/templates/templates.go
  snap/snapcraft.yaml
  vendor/github.com/elazarl/go-bindata-assetfs/LICENSE
  vendor/github.com/elazarl/go-bindata-assetfs/README.md
  vendor/github.com/elazarl/go-bindata-assetfs/assetfs.go
  vendor/github.com/elazarl/go-bindata-assetfs/doc.go
  vendor/github.com/go-macaron/bindata/.travis.yml
  vendor/github.com/go-macaron/bindata/LICENSE
  vendor/github.com/go-macaron/bindata/README.md
  vendor/github.com/go-macaron/bindata/bindata.go
  vendor/github.com/shurcooL/httpfs/LICENSE
  vendor/github.com/shurcooL/httpfs/vfsutil/file.go
  vendor/github.com/shurcooL/httpfs/vfsutil/vfsutil.go
  vendor/github.com/shurcooL/httpfs/vfsutil/walk.go
  vendor/github.com/shurcooL/vfsgen/.travis.yml
  vendor/github.com/shurcooL/vfsgen/CONTRIBUTING.md
  vendor/github.com/shurcooL/vfsgen/LICENSE
  vendor/github.com/shurcooL/vfsgen/README.md
  vendor/github.com/shurcooL/vfsgen/commentwriter.go
  vendor/github.com/shurcooL/vfsgen/doc.go
  vendor/github.com/shurcooL/vfsgen/generator.go
  vendor/github.com/shurcooL/vfsgen/options.go
  vendor/github.com/shurcooL/vfsgen/stringwriter.go
  vendor/modules.txt
Labels: kind/build, lgtm/done

#7112 Avoid arbitrary format strings upon calling fail() function
  cmd/serv.go
Labels: kind/bug, lgtm/done

#7100 Refactor submodule URL parsing
  modules/git/submodule.go
  modules/git/submodule_test.go
Labels: kind/enhancement, lgtm/done

#6260 Migration Tweaks
  public/js/index.js
Labels: kind/enhancement, lgtm/done

#7125 Enable Rust highlighting
  modules/highlight/highlight.go
Labels: kind/ui, lgtm/done

#7120 Exclude pull_request from fetch-tags step, fixes #7108
  .drone.yml
Labels: kind/testing, lgtm/done

#7130 minor fixes in en-US locale
  options/locale/locale_en-US.ini
Labels: lgtm/done

#7132 add docs for #6847
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/docs, lgtm/done

#7131 Add state param to milestone listing API
  models/fixtures/milestone.yml
  models/fixtures/repository.yml
  models/issue_milestone.go
  models/issue_milestone_test.go
  modules/structs/issue.go
  routers/api/v1/repo/milestone.go
  routers/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#7133 Detect noreply email address as user
  models/user.go
Labels: kind/bug, lgtm/done

#6991 Compare branches, commits and tags with each other
  models/pull.go
  modules/git/repo_commit.go
  modules/git/repo_compare.go
  modules/git/repo_compare_test.go
  public/css/index.css
  public/js/index.js
  public/less/_repository.less
  routers/api/v1/repo/pull.go
  routers/repo/commit.go
  routers/repo/compare.go
  routers/repo/pull.go
  routers/routes/routes.go
  templates/repo/commit_page.tmpl
  templates/repo/commits_table.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/diff/page.tmpl
  templates/repo/pulls/compare.tmpl
Labels: kind/feature, lgtm/done

#7156 fix GCArgs load from ini
  modules/setting/git.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7144 Add command to convert mysql database from utf8 to utf8mb4
  cmd/convert.go
  main.go
  models/convert.go
Labels: kind/feature, lgtm/done

#7138 Fixes #2738 - Adds the /git/tags API endpoint
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_update_test.go
  integrations/api_repo_git_tags_test.go
  integrations/api_repo_tags_test.go
  models/repo_tag.go
  modules/git/repo_ref.go
  modules/git/repo_tag.go
  modules/git/repo_tag_test.go
  modules/git/tag.go
  modules/structs/repo_tag.go
  routers/api/v1/api.go
  routers/api/v1/convert/convert.go
  routers/api/v1/repo/git_ref.go
  routers/api/v1/repo/tag.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done

#7157 Fix GCArgs load from ini (#7156)
  modules/setting/git.go
Labels: kind/bug, lgtm/done

#7163 Allow archived repos to be (un)starred and (un)watched
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#6763 Move PushUpdate dependency from models to repofiles
  models/update.go
  modules/repofiles/delete.go
  modules/repofiles/update.go
  modules/repofiles/upload.go
  routers/private/hook.go
  routers/private/push_update.go
  routers/repo/branch.go
Labels: kind/refactor, lgtm/done

#7168 archived repos can be starred and watched (#7163)
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#7169 If milestone id is zero don't get it from database
  routers/repo/issue.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7127 Make modules/structs as a separate go mod
  modules/structs/attachment.go
  modules/structs/go.mod
Labels: kind/build, lgtm/done

#7174 if milestone id is zero don't get it from database
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#7175 Revert "Make modules/structs as a separate go mod"
  modules/structs/attachment.go
  modules/structs/go.mod
Labels: kind/bug, lgtm/done

#7167 Fix pusher name via ssh push
  cmd/serv.go
Labels: kind/bug, lgtm/done

#7165 Various fixes for issue mail notifications
  models/issue_comment.go
  models/issue_mail.go
  modules/notification/mail/mail.go
Labels: kind/bug, lgtm/done

#7171 Fixes diff on merged pull requests
  models/pull.go
  modules/git/repo_compare.go
  routers/repo/pull.go
Labels: kind/bug, lgtm/done

#7166 Fix database lock when use random repository fallback image
  models/repo.go
Labels: kind/bug, lgtm/done

#7185 Add error for fork already existing
  models/error.go
  models/repo.go
  models/repo_test.go
Labels: lgtm/done

#7186 API error cleanup
  integrations/api_repo_file_content_test.go
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_delete_test.go
  integrations/api_repo_file_update_test.go
  modules/base/base.go
  modules/context/api.go
  modules/setting/setting.go
Labels: kind/bug, lgtm/done

#7192 fix drone build bug
  Makefile
  public/less/_repository.less
  routers/user/oauth.go
Labels: kind/bug, kind/lint, lgtm/done

#7195 Detect noreply email address as user (#7133)
  models/user.go
Labels: kind/bug, lgtm/done

#7190 UI: Fix overflow issues in repo
  Makefile
  public/css/index.css
  public/less/_repository.less
  templates/repo/commit_status.tmpl
  templates/repo/commits_table.tmpl
  templates/repo/view_list.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#7207 Allow colon between fixing word and issue
  models/action.go
  models/action_test.go
Labels: kind/bug, lgtm/done

#7211 Fix duplicated file on pull request conflicted files
  models/pull.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7214 Fix duplicated file on pull request conflicted files (#7211)
  models/pull.go
Labels: kind/bug, lgtm/done

#7213 Only warn on errors in deleting LFS orphaned files during repo deletion
  models/admin.go
  models/repo.go
Labels: kind/bug, lgtm/done

#7215 Disable same user check for internal SSH
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#7196 Add LastLogin to the User API
  models/user.go
  modules/structs/user.go
  routers/api/v1/convert/convert.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#7128 Use go method to calculate ssh key fingerprint
  models/ssh_key.go
  models/ssh_key_test.go
Labels: kind/refactor, lgtm/done

#7159 Add missing description of label on API
  models/issue_label.go
  modules/structs/issue_label.go
  routers/api/v1/repo/label.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#7220 Show lfs config on admin panel
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  templates/admin/config.tmpl
Labels: kind/enhancement, lgtm/done

#7223 Fix LFS Locks over SSH (#6999)
  integrations/git_test.go
  modules/lfs/locks.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#7230 Changelog 1.8.3
  CHANGELOG.md
Labels: lgtm/done

#7229 Enable tls-alpn-01: Use certmanager provided TLSConfig for LetsEncrypt
  cmd/web.go
Labels: kind/feature, lgtm/done

#6681 Add CLI commands to manage LDAP authentication source
  cmd/admin.go
  cmd/admin_auth_ldap.go
  cmd/admin_auth_ldap_test.go
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/feature, lgtm/done

#7231 Changelog 1.8.3 (#7230)
  CHANGELOG.md
Labels: lgtm/done

#7234 Add docs for `INTERNAL_TOKEN_URI`
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#7233 docs: Fix a broken relref link
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#7240 Update css
  public/css/index.css
Labels: kind/bug, lgtm/done

#7226 Fix migration panic when Head.User is not exist
  modules/migrations/github.go
Labels: kind/bug, lgtm/done

#7245 add self to MAINTAINERS
  MAINTAINERS
Labels: lgtm/done

#7244 fix hljs unintenionally highlighting commit links
  modules/markup/html.go
  modules/markup/html_internal_test.go
Labels: kind/bug, lgtm/done

#7246 add 'npm' and 'npm-update' make targets and lockfile
  .drone.yml
  .gitignore
  .npmrc
  Makefile
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
  package-lock.json
  package.json
Labels: lgtm/done

#7236 Only check and config git on web subcommand but not others
  cmd/serv.go
  modules/git/git.go
  modules/git/git_test.go
  routers/init.go
Labels: kind/bug, lgtm/done

#7258 Add .fa icon margin like .octicon
  public/css/index.css
  public/less/_user.less
Labels: kind/bug, kind/ui, lgtm/done

#7267 [backport #7258] add .fa margin like .octicon
  public/css/index.css
  public/less/_user.less
Labels: lgtm/done

#7256 Alpine 3.10
  .drone.yml
  Dockerfile
Labels: kind/build, lgtm/done

#7275 Fix Submodule dection in subdir
  modules/git/commit_info.go
Labels: backport/v1.8, kind/bug, lgtm/done

#7260 Dark theme markdown fixes
  public/css/theme-arc-green.css
  public/js/index.js
  public/less/themes/arc-green.less
Labels: kind/ui, lgtm/done

#7082 Fix #732: Add LFS objects to base repository on merging
  integrations/api_helper_for_declarative_test.go
  integrations/git_test.go
  models/pull.go
  modules/pull/lfs.go
  modules/pull/merge.go
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
Labels: kind/bug, lgtm/done

#7281 [docker] Add LFS_START_SERVER option to control git-lfs support
  docker/root/etc/s6/gitea/setup
  docker/root/etc/templates/app.ini
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/enhancement, lgtm/done

#7279 Make diff line-marker non-selectable
  models/git_diff.go
  models/git_diff_test.go
  public/css/index.css
  public/less/_repository.less
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, lgtm/done

#7298 Fix API link header
  modules/context/api.go
  modules/context/api_test.go
Labels: kind/bug, lgtm/done

#7300 Shadow the password on cache and session config on admin panel
  routers/admin/admin.go
  routers/admin/admin_test.go
Labels: kind/security, lgtm/done

#6864 Monitor all git commands; move blame to git package and replace git as a variable
  contrib/pr/checkout.go
  models/git_diff.go
  models/pull.go
  models/release.go
  models/repo.go
  models/repo_mirror.go
  models/update.go
  modules/git/blame.go
  modules/git/blame_test.go
  modules/git/command.go
  modules/git/repo.go
  modules/git/repo_test.go
  modules/git/tests/repos/repo2_empty/HEAD
  modules/git/tests/repos/repo2_empty/config
  modules/git/tests/repos/repo2_empty/description
  modules/git/tests/repos/repo2_empty/hooks/applypatch-msg.sample
  modules/git/tests/repos/repo2_empty/hooks/commit-msg.sample
  modules/git/tests/repos/repo2_empty/hooks/fsmonitor-watchman.sample
  modules/git/tests/repos/repo2_empty/hooks/post-update.sample
  modules/git/tests/repos/repo2_empty/hooks/pre-applypatch.sample
  modules/git/tests/repos/repo2_empty/hooks/pre-commit.sample
  modules/git/tests/repos/repo2_empty/hooks/pre-push.sample
  modules/git/tests/repos/repo2_empty/hooks/pre-rebase.sample
  modules/git/tests/repos/repo2_empty/hooks/pre-receive.sample
  modules/git/tests/repos/repo2_empty/hooks/prepare-commit-msg.sample
  modules/git/tests/repos/repo2_empty/hooks/update.sample
  modules/git/tests/repos/repo2_empty/info/exclude
  modules/git/tests/repos/repo2_empty/objects/info/.gitkeep
  modules/git/tests/repos/repo2_empty/objects/pack/.gitkeep
  modules/git/tests/repos/repo2_empty/refs/heads/.gitkeep
  modules/git/tests/repos/repo2_empty/refs/tags/.gitkeep
  modules/repofiles/temp_repo.go
  routers/repo/blame.go
  routers/repo/http.go
Labels: kind/enhancement, kind/refactor, lgtm/done

#7288 fix extra newlines when copying from diff in Firefox
  models/git_diff.go
  public/css/index.css
  public/css/theme-arc-green.css
  public/js/index.js
  public/less/_base.less
  public/less/_repository.less
  public/less/themes/arc-green.less
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, kind/build, lgtm/done

#7305 replace lesshint with stylelint
  .lesshintrc.json
  .stylelintrc
  Makefile
  package-lock.json
  package.json
  public/css/index.css
  public/css/theme-arc-green.css
  public/less/_form.less
  public/less/_markdown.less
  public/less/_repository.less
  public/less/_user.less
  public/less/themes/arc-green.less
Labels: kind/build, lgtm/done

#6990 Show Pull Request button or status of latest PR in branch list
  models/pull.go
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/feature, lgtm/done

#7317 gitea own dark codemirror theme
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/bug, kind/ui, lgtm/done

#7319 Dark theme fixes
  public/css/theme-arc-green.css
  public/less/themes/arc-green.less
Labels: kind/bug, kind/ui, lgtm/done

#7326 Fix 7303 - remove unnessesary buttons on archived repos
  options/locale/locale_en-US.ini
  templates/repo/diff/compare.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#7321 Fixes #7238 - Annotated tag commit ID incorrect
  modules/git/repo_tag.go
  routers/api/v1/convert/convert.go
Labels: kind/bug, lgtm/done

#7313 Add git command line commitgraph support global default true when git version >= 2.18
  modules/git/git.go
Labels: kind/enhancement, lgtm/done

#7050 Use batch insert on migrating repository to make the process faster
  models/migrate.go
  modules/migrations/base/comment.go
  modules/migrations/base/uploader.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/migrate.go
Labels: kind/refactor, lgtm/done

#7324 Fixes #7152 - Allow create/update/delete message to be empty, use default message
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_delete_test.go
  integrations/api_repo_file_update_test.go
  integrations/repofiles_delete_test.go
  modules/repofiles/delete.go
  modules/structs/repo_file.go
  routers/api/v1/repo/file.go
Labels: kind/bug, lgtm/done

#7301 Fixes #7292 - API File Contents bug
  integrations/api_repo_file_content_test.go
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_update_test.go
  integrations/api_repo_get_contents_list_test.go
  integrations/api_repo_get_contents_test.go
  integrations/repofiles_update_test.go
  modules/git/blob.go
  modules/git/repo_object.go
  modules/repofiles/content.go
  modules/repofiles/content_test.go
  modules/repofiles/file.go
  modules/repofiles/file_test.go
  modules/structs/repo_file.go
  routers/api/v1/api.go
  routers/api/v1/repo/file.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#7306 Update mssql driver to last working version 20180314172330-6a30f4e59a44
  go.mod
  go.sum
  vendor/github.com/denisenkom/go-mssqldb/README.md
  vendor/github.com/denisenkom/go-mssqldb/appveyor.yml
  vendor/github.com/denisenkom/go-mssqldb/buf.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy_sql.go
  vendor/github.com/denisenkom/go-mssqldb/collation.go
  vendor/github.com/denisenkom/go-mssqldb/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/doc.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/charset.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/collation.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1250.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1251.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1252.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1253.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1254.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1255.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1256.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1257.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp1258.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp437.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp850.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp874.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp932.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp936.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp949.go
  vendor/github.com/denisenkom/go-mssqldb/internal/cp/cp950.go
  vendor/github.com/denisenkom/go-mssqldb/log.go
  vendor/github.com/denisenkom/go-mssqldb/mssql.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go1.3.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go1.3pre.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go18.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19pre.go
  vendor/github.com/denisenkom/go-mssqldb/net.go
  vendor/github.com/denisenkom/go-mssqldb/ntlm.go
  vendor/github.com/denisenkom/go-mssqldb/parser.go
  vendor/github.com/denisenkom/go-mssqldb/sspi_windows.go
  vendor/github.com/denisenkom/go-mssqldb/tds.go
  vendor/github.com/denisenkom/go-mssqldb/token.go
  vendor/github.com/denisenkom/go-mssqldb/token_string.go
  vendor/github.com/denisenkom/go-mssqldb/tran.go
  vendor/github.com/denisenkom/go-mssqldb/types.go
  vendor/github.com/denisenkom/go-mssqldb/uniqueidentifier.go
  vendor/modules.txt
Labels: kind/build, lgtm/done

#6845 Add commit statuses reports on pull request view
  integrations/gitea-repositories-meta/user13/repo11.git/objects/0a/bcb056019adb8336cf9db3ad9d9cf80cd4b141
  integrations/gitea-repositories-meta/user13/repo11.git/objects/75/d1afd00e111c8dbd9e3d96a27b431ac5ae6d74
  integrations/gitea-repositories-meta/user13/repo11.git/objects/ed/447543e0c85d628b91f7f466f4921908f4c5ea
  integrations/gitea-repositories-meta/user13/repo11.git/refs/heads/branch2
  integrations/pull_merge_test.go
  models/commit_status.go
  models/commit_status_test.go
  models/fixtures/issue.yml
  models/fixtures/pull_request.yml
  models/fixtures/repository.yml
  models/migrations/migrations.go
  models/migrations/v87.go
  models/migrations/v88.go
  modules/repofiles/commit_status.go
  options/locale/locale_en-US.ini
  public/css/index.css
  public/css/theme-arc-green.css
  public/less/_repository.less
  public/less/themes/arc-green.less
  routers/api/v1/repo/status.go
  routers/repo/pull.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/pulls/status.tmpl
Labels: kind/feature, lgtm/done

#7325 fix topic bar to allow prefixes
  public/js/index.js
Labels: kind/bug, lgtm/done

#7332 1.8.3 release in the install by binary
  docs/content/doc/installation/from-binary.en-us.md
Labels: lgtm/done

#6602 chore: update drone format to 1.0
  .drone.yml
Labels: kind/build, lgtm/done
