Repository go-gitea/gitea, pull requests merged in 2020-01, with the labels that each got.

#9571 Fix for a wrong URL in activity page of repository.
  templates/repo/activity.tmpl
Labels: kind/enhancement, lgtm/done

#9572 Fix mirror pushed commit actions
  services/mirror/mirror.go
Labels: kind/regression, lgtm/done

#9573 Add blue box-shadow to blue buttons in normal theme
  web_src/less/_base.less
Labels: kind/bug, lgtm/done

#9554 [UI] swagger UI: hide iretating search field
  templates/swagger/ui.tmpl
Labels: kind/api, kind/security, kind/ui, lgtm/done

#9539 Fix #9189 - API Allow only specific Colums to be updated on Issue
  integrations/api_issue_test.go
  models/fixtures/issue.yml
  models/fixtures/milestone.yml
  models/fixtures/repository.yml
  models/issue.go
  models/user.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
Labels: backport/v1.10, kind/bug, lgtm/done

#9563 [Backport] Fix bug when migrate from API (#8631)
  integrations/api_repo_test.go
  models/repo.go
  modules/task/migrate.go
  routers/api/v1/repo/repo.go
Labels: kind/bug, lgtm/done

#9582 [BugFix] Dont trigger notification twice on issue assignee change
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#9574 Don't auto-init SimpleMDE for review textarea
  templates/repo/diff/box.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#9580 [Backport] [API] Allow only specific Colums to be updated on Issue (#9539)
  integrations/api_issue_test.go
  models/fixtures/issue.yml
  models/fixtures/milestone.yml
  models/fixtures/repository.yml
  models/issue.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
Labels: kind/bug, lgtm/done

#9583 make sure Poster is loaded
  models/issue.go
Labels: lgtm/done

#9585 Changelog for 1.10.2
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#9586 [Frontport] Changelog for 1.10.2
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#9588 Update version in docs to 1.10.2
  docs/config.yaml
Labels: kind/docs, lgtm/done

#9548 [API] dont reqToken on GetReactions (fix #9543)
  routers/api/v1/api.go
  routers/api/v1/repo/issue_reaction.go
Labels: kind/enhancement, lgtm/done

#9596 Some more e-mail notification fixes
  modules/notification/mail/mail.go
  services/mailer/mail.go
  templates/mail/issue/assigned.tmpl
  templates/mail/issue/default.tmpl
  templates/mail/notify/collaborator.tmpl
Labels: kind/enhancement, lgtm/done

#9592 Add branch protection option to block merge on requested changes.
  models/branches.go
  models/migrations/migrations.go
  models/migrations/v117.go
  modules/auth/repo_form.go
  options/locale/locale_en-US.ini
  routers/private/hook.go
  routers/repo/issue.go
  routers/repo/setting_protected_branch.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/settings/protected_branch.tmpl
Labels: kind/enhancement, lgtm/done

#9576 Add footer extra links template
  docs/content/doc/advanced/customizing-gitea.en-us.md
  templates/base/footer_content.tmpl
  templates/custom/extra_links_footer.tmpl
Labels: kind/enhancement, lgtm/done

#9591 Fix error logged when repos qs is empty
  routers/user/home.go
Labels: kind/bug, lgtm/done

#9587 [Docs] Add guide on howto develop API
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#9600 Add translatable Powered by Gitea text in footer
  options/locale/locale_en-US.ini
  templates/base/footer_content.tmpl
Labels: kind/misc, lgtm/done

#9601 Webhooks should only show sender if it makes sense
  modules/webhook/dingtalk.go
  modules/webhook/discord.go
  modules/webhook/general.go
  modules/webhook/msteams.go
  modules/webhook/slack.go
  modules/webhook/slack_test.go
  modules/webhook/telegram.go
Labels: lgtm/done

#9340 Only serve attachments when linked to issue/release and if accessible by user
  integrations/attachement_test.go
  integrations/attachment_test.go
  models/attachment.go
  models/attachment_test.go
  models/fixtures/attachment.yml
  models/fixtures/release.yml
  models/fixtures/repo_unit.yml
  routers/repo/attachment.go
  routers/routes/routes.go
  routers/user/home_test.go
Labels: kind/security, lgtm/done

#9603 Fix access issues on milestone and issue overview pages.
  models/repo_permission.go
  models/user.go
  routers/user/home.go
Labels: kind/bug, lgtm/done

#9606 Fix create repo bugs
  routers/repo/repo.go
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#9607 Re-implement semantic label images
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#9608 [Vendor Update] gitea.com/macaron to 1.4.0
  go.mod
  go.sum
  vendor/gitea.com/macaron/macaron/go.mod
  vendor/gitea.com/macaron/macaron/go.sum
  vendor/gitea.com/macaron/macaron/macaron.go
  vendor/gopkg.in/ini.v1/.travis.yml
  vendor/gopkg.in/ini.v1/README.md
  vendor/gopkg.in/ini.v1/ini.go
  vendor/gopkg.in/ini.v1/key.go
  vendor/gopkg.in/ini.v1/parser.go
  vendor/gopkg.in/ini.v1/struct.go
  vendor/modules.txt
Labels: kind/build, lgtm/done

#9604 [Docs] introduce "make help"
  Makefile
Labels: kind/docs, lgtm/done

#9609 [BugFix] Hide public repos owned by private orgs
  models/repo_list.go
  models/repo_list_test.go
  routers/home.go
Labels: kind/bug, lgtm/done

#9612 Add some padding to the shadowed comment box
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#9616 [Backport] [BugFix] Hide public repos owned by private orgs (#9609)
  models/repo_list.go
  models/repo_list_test.go
  routers/home.go
Labels: kind/bug, lgtm/done

#9617 [Docs] Fix swagger description of reaction API
  routers/api/v1/repo/issue_reaction.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#9622 Add a /user/login landing page option
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/setting_test.go
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#9566 Doc added how to block search engine indexation of repository
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/advanced/search-engines-indexation.en-us.md
Labels: kind/docs, lgtm/done

#9363 Graceful Queues: Issue Indexing and Tasks
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/issue_test.go
  modules/indexer/issues/db.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/queue.go
  modules/indexer/issues/queue_channel.go
  modules/indexer/issues/queue_disk.go
  modules/indexer/issues/queue_redis.go
  modules/queue/manager.go
  modules/queue/queue.go
  modules/queue/queue_channel.go
  modules/queue/queue_channel_test.go
  modules/queue/queue_disk.go
  modules/queue/queue_disk_channel.go
  modules/queue/queue_disk_channel_test.go
  modules/queue/queue_disk_test.go
  modules/queue/queue_redis.go
  modules/queue/queue_test.go
  modules/queue/queue_wrapped.go
  modules/queue/setting.go
  modules/queue/workerpool.go
  modules/setting/queue.go
  modules/setting/setting.go
  modules/setting/task.go
  modules/task/queue.go
  modules/task/queue_channel.go
  modules/task/queue_redis.go
  modules/task/task.go
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  routers/routes/routes.go
  templates/admin/monitor.tmpl
  templates/admin/queue.tmpl
Labels: kind/feature, lgtm/done

#9631 Remove stray fmt.Printf in services/pull/patch.go
  services/pull/patch.go
Labels: kind/bug, lgtm/done

#9634 Fix Issue Unsubscription
  models/issue_watch.go
  models/issue_watch_test.go
Labels: kind/bug, lgtm/done

#9614 Branches not at ref commit ID should not be listed as Merged
  integrations/gitea-repositories-meta/user2/repo1.git/objects/00/750edc07d6415dcc07ae0351e9397b0222b7ba
  integrations/gitea-repositories-meta/user2/repo1.git/objects/4a/357436d925b5c974181ff12a994538ddc5a269
  integrations/gitea-repositories-meta/user2/repo1.git/objects/dc/7a8ba127fee870dd683310ce660dfe59333a1b
  integrations/gitea-repositories-meta/user2/repo1.git/refs/pull/3/head
  models/pull.go
  routers/repo/branch.go
  routers/repo/issue.go
  routers/repo/pull.go
  templates/repo/branch/list.tmpl
  templates/repo/issue/view_content/pull.tmpl
Labels: backport/v1.10, kind/bug, lgtm/done

#9355 Move wiki related funtions from models to services/wiki
  models/wiki.go
  models/wiki_test.go
  routers/private/serv.go
  routers/repo/wiki.go
  routers/repo/wiki_test.go
  services/wiki/wiki.go
  services/wiki/wiki_test.go
Labels: kind/refactor, lgtm/done

#9628 Fix #9530: admin auth list make readable and admin auth delete bug fix
  cmd/admin.go
Labels: kind/bug, lgtm/done

#9640 Repository teams access - disable remove button when have access to all
  templates/repo/settings/collaboration.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#9639 Branches not at ref commit ID should not be listed as Merged (#9614)
  integrations/gitea-repositories-meta/user2/repo1.git/objects/00/750edc07d6415dcc07ae0351e9397b0222b7ba
  integrations/gitea-repositories-meta/user2/repo1.git/objects/4a/357436d925b5c974181ff12a994538ddc5a269
  integrations/gitea-repositories-meta/user2/repo1.git/objects/dc/7a8ba127fee870dd683310ce660dfe59333a1b
  integrations/gitea-repositories-meta/user2/repo1.git/refs/pull/3/head
  models/pull.go
  routers/repo/branch.go
  routers/repo/issue.go
  routers/repo/pull.go
  templates/repo/branch/list.tmpl
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/bug, lgtm/done

#9636 Changelog for 1.11.0-RC1
  CHANGELOG.md
Labels: kind/docs, lgtm/done, lgtm/need 1

#9644 Update date for new year
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#9645 Plural form for changelog
  .changelog.yml
Labels: kind/docs, lgtm/done

#9494 [API] add comments endpoint for single comment
  integrations/api_comment_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/issue_comment.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#9649 [Docs] Grammar Edit on Enabling HTTPS Using Reverse Proxy
  docs/content/doc/usage/https-support.md
Labels: kind/docs, lgtm/done

#9635 Improve PR info in default merge message
  models/pull.go
Labels: kind/enhancement, lgtm/done

#9651 fix #9648 | use filepath.IsAbs instead of path.IsAbs
  modules/setting/queue.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9652 fix #9648 | use filepath.IsAbs instead of path.IsAbs (#9651)
  modules/setting/queue.go
Labels: kind/bug, lgtm/done

#9633 [Docs] Linux Service Edit
  docs/content/doc/installation/run-as-service-in-ubuntu.en-us.md
Labels: kind/docs, lgtm/done

#9653 Add PR review webhook to Telegram
  modules/webhook/telegram.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9655 Add PR review webhook to Telegram (#9653)
  modules/webhook/telegram.go
Labels: kind/bug, lgtm/done

#9373 [API] times Add filters
  integrations/api_issue_tracked_time_test.go
  models/issue_tracked_time.go
  routers/api/v1/api.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/utils/utils.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#9654 Add HTML URL to API Issues
  models/issue.go
  modules/structs/issue.go
  modules/webhook/dingtalk.go
  modules/webhook/discord.go
  modules/webhook/msteams.go
  modules/webhook/slack.go
  templates/swagger/v1_json.tmpl
Labels: backport/v1.11, kind/bug, lgtm/done

#9532 Mark PR reviews as stale at push and allow to dismiss stale approvals
  models/branches.go
  models/migrations/migrations.go
  models/migrations/v118.go
  models/review.go
  modules/auth/repo_form.go
  modules/git/repo_compare.go
  modules/repofiles/update.go
  options/locale/locale_en-US.ini
  routers/repo/pull.go
  routers/repo/pull_review.go
  routers/repo/setting_protected_branch.go
  services/pull/merge.go
  services/pull/pull.go
  services/pull/review.go
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/new_review.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/settings/protected_branch.tmpl
Labels: changelog, kind/feature, lgtm/done

#9661 Add HTML URL to API Issues (#9654)
  models/issue.go
  modules/structs/issue.go
  modules/webhook/dingtalk.go
  modules/webhook/discord.go
  modules/webhook/msteams.go
  modules/webhook/slack.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done

#9660 Fix nil reference in repo generation
  models/repo_generate.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9488 [API] Add notification endpoint
  integrations/api_notification_test.go
  models/fixtures/notification.yml
  models/issue.go
  models/issue_comment.go
  models/notification.go
  models/notification_test.go
  modules/structs/notifications.go
  routers/api/v1/admin/user.go
  routers/api/v1/api.go
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/threads.go
  routers/api/v1/notify/user.go
  routers/api/v1/repo/pull.go
  routers/api/v1/swagger/notify.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#9556 [API] orgEditTeam make Fields optional
  integrations/api_team_test.go
  models/org_team.go
  modules/structs/org_team.go
  routers/api/v1/org/team.go
Labels: kind/enhancement, lgtm/done

#9623 chore(PR): Add Reviewed-on in commit message
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/enhancement, lgtm/done

#9186 [API] creat org repo call same as github
  routers/api/v1/api.go
  routers/api/v1/repo/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#9666 Fix nil reference in repo generation (#9660)
  models/repo_generate.go
Labels: kind/bug, lgtm/done

#9669 eliminate horizontal scroll caused by footer
  web_src/less/_base.less
Labels: backport/v1.11, kind/ui, lgtm/done

#9668 remove google font call
  public/vendor/plugins/fomantic/semantic.css
  public/vendor/plugins/fomantic/semantic.min.css
Labels: backport/v1.11, kind/bug, kind/ui, lgtm/done

#9678 Prevent redirect to Host
  modules/context/context.go
Labels: backport/v1.10, backport/v1.11, lgtm/done

#9679 Prevent redirect to Host (#9678)
  modules/context/context.go
Labels: lgtm/done

#9680 Prevent redirect to Host (#9678)
  modules/context/context.go
Labels: lgtm/done

#9681 remove google font call (#9668)
  public/vendor/plugins/fomantic/semantic.css
  public/vendor/plugins/fomantic/semantic.min.css
Labels: kind/bug, lgtm/done

#9675 Move Errored PRs out of StatusChecking
  models/pull.go
  services/pull/check.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9674 eliminate horizontal scroll caused by footer (#9669)
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#9688 Fix lint on pr.UpdateCols
  models/pull_test.go
  services/pull/check.go
Labels: kind/build, lgtm/done

#9664 Move pull request api convert to convert package
  models/pull.go
  models/pull_test.go
  modules/convert/main_test.go
  modules/convert/pull.go
  modules/convert/pull_test.go
  modules/notification/webhook/webhook.go
  routers/api/v1/repo/pull.go
Labels: kind/refactor, lgtm/done

#9370 Move push commits from models to modules/repository
  models/action.go
  models/action_test.go
  models/update.go
  models/update_test.go
  modules/notification/action/action.go
  modules/notification/base/notifier.go
  modules/notification/base/null.go
  modules/notification/indexer/indexer.go
  modules/notification/notification.go
  modules/notification/webhook/webhook.go
  modules/repofiles/action.go
  modules/repofiles/action_test.go
  modules/repofiles/update.go
  modules/repository/commits.go
  modules/repository/commits_test.go
  modules/repository/main_test.go
  modules/repository/repo.go
  modules/templates/helper.go
  services/mirror/mirror.go
  services/release/release.go
Labels: kind/refactor, lgtm/done

#9676 update js dependencies
  package-lock.json
  package.json
Labels: kind/refactor, lgtm/done

#9693 Fix wrong original git service type on a migrated repository
  models/migrations/migrations.go
  models/migrations/v119.go
  models/repo.go
  models/task.go
  modules/migrations/gitea.go
  routers/api/v1/repo/repo.go
  routers/repo/repo.go
Labels: kind/bug, lgtm/done

#9694 Remove un-needed script import since #9554
  templates/swagger/ui.tmpl
Labels: kind/refactor, lgtm/done, skip-changelog

#9671 Load milestone in API PR list
  models/issue.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9670 Remove deprecation comment for CreateOrgRepo
  routers/api/v1/repo/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#9696 Don't attempt to close issue if already closed
  modules/repofiles/action.go
  services/pull/merge.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9665 Move tracked time api convert to convert package
  models/issue_tracked_time.go
  modules/convert/issue.go
  routers/api/v1/repo/issue_tracked_time.go
Labels: kind/refactor, lgtm/done

#9700 Load milestone in API PR list (#9671)
  models/issue.go
Labels: kind/api, lgtm/done

#9699 Backport: Don't attempt to close issue if already closed (#9696)
  modules/repofiles/action.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#9611 Allow repo admin to merge PR regardless of review status
  models/branches.go
  models/pull.go
  models/repo_permission.go
  modules/auth/repo_form.go
  modules/convert/convert.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/private/hook.go
  routers/repo/issue.go
  routers/repo/pull.go
  services/pull/merge.go
  templates/repo/issue/view_content/pull.tmpl
  templates/swagger/v1_json.tmpl
Labels: changelog, kind/enhancement, lgtm/done

#9682 Never allow an empty password to validate
  models/user.go
Labels: backport/v1.10, backport/v1.11, kind/regression, lgtm/done

#9684 Never allow an empty password to validate (#9682)
  models/user.go
Labels: kind/regression, lgtm/done

#9703 Fix cache problem on dashboard (#9358)
  routers/user/home.go
Labels: kind/bug, lgtm/done

#9095 Add a new command doctor to check if some wrong configurations on gitea instance
  cmd/doctor.go
  docs/content/doc/usage/command-line.en-us.md
  main.go
Labels: changelog, kind/feature, lgtm/done

#9683 Never allow an empty password to validate (#9682)
  models/user.go
Labels: kind/regression, lgtm/done

#9704 Hide credentials when submitting migration (#9102)
  routers/api/v1/repo/repo.go
Labels: kind/bug, lgtm/done

#9705 Remove q.lock.Unlock() in setInternal to prevent panic
  modules/queue/queue_wrapped.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9706 Remove q.lock.Unlock() in setInternal to prevent panic (#9705)
  modules/queue/queue_wrapped.go
Labels: kind/bug, lgtm/done

#9709 Remove unused lock
  modules/queue/queue_disk_channel.go
  modules/queue/queue_wrapped.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9710 Remove unused lock
  modules/queue/queue_disk_channel.go
  modules/queue/queue_wrapped.go
Labels: kind/bug, lgtm/done

#9711 golangci-lint 1.22.2
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#9713 silence fomantic error regarding tabs
  web_src/js/index.js
Labels: backport/v1.11, kind/bug, kind/ui, lgtm/done

#9718 silence fomantic error regarding tabs (#9713)
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#9698 [BugFix] [API] ​/repos​/issues​/search
  integrations/api_issue_test.go
  routers/api/v1/repo/issue.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9641 Make hook status printing configurable with delay
  cmd/hook.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/git.go
Labels: backport/v1.11, kind/enhancement, lgtm/done

#9717 Add owner_name column for table repository for maintaince reason
  models/action.go
  models/fixtures/repository.yml
  models/helper_environment.go
  models/migrations/migrations.go
  models/migrations/v120.go
  models/pull.go
  models/repo.go
  models/repo_generate.go
  models/repo_indexer.go
  models/repo_permission.go
  models/repo_test.go
  models/wiki.go
  modules/context/repo.go
  routers/admin/repos.go
  routers/repo/compare.go
  services/mailer/mail.go
  services/pull/patch.go
  services/pull/pull.go
Labels: kind/refactor, lgtm/done

#9724 [BugFix] [API] ​/repos​/issues​/search (#9698)
  integrations/api_issue_test.go
  routers/api/v1/repo/issue.go
Labels: lgtm/done

#9489 Move create/fork repository from models to modules/repository
  models/issue_label.go
  models/org_team_test.go
  models/repo.go
  models/repo_generate.go
  models/repo_test.go
  models/task.go
  modules/migrations/gitea.go
  modules/repofiles/update.go
  modules/repository/create.go
  modules/repository/create_test.go
  modules/repository/fork.go
  modules/repository/fork_test.go
  modules/repository/generate.go
  modules/repository/init.go
  modules/repository/repo.go
  modules/task/task.go
  routers/api/v1/repo/repo.go
  routers/repo/issue_label.go
  services/mirror/mirror.go
  services/mirror/mirror_test.go
  services/repository/generate.go
  services/repository/repository.go
Labels: kind/refactor, lgtm/done

#9560 [API] add GET /orgs endpoint
  integrations/api_org_test.go
  models/user.go
  routers/admin/orgs.go
  routers/api/v1/admin/org.go
  routers/api/v1/api.go
  routers/api/v1/org/org.go
  routers/home.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#9729 remove deprecated targets from Makefile
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#9725 Make hook status printing configurable with delay (#9641)
  cmd/hook.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/git.go
Labels: kind/bug, lgtm/done

#9726 Move Errored PRs out of StatusChecking (#9675)
  models/pull.go
  services/pull/check.go
Labels: kind/bug, lgtm/done

#9735 fix webpack polyfills
  webpack.config.js
Labels: backport/v1.11, kind/build, lgtm/done

#9737 ci: use docker image for golangci-lint
  .drone.yml
Labels: kind/build, lgtm/need 1, skip-changelog

#9738 fix webpack polyfills (#9735)
  webpack.config.js
Labels: kind/build, lgtm/done

#9736 add package-lock=true in .npmrc
  .npmrc
Labels: kind/misc, lgtm/done, skip-changelog

#9702 Send tag create and push webhook when release created on UI (#8671)
  services/release/release.go
Labels: kind/bug, lgtm/done

#9719 ci: re-ordering Drone CI for optimizing time
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#9742 ci: go back to golangci-lint 1.20.0
  Makefile
Labels: lgtm/done

#9685 [API] Add "before" query to ListIssueComments and ListRepoIssueComments
  integrations/api_comment_test.go
  models/fixtures/comment.yml
  models/issue_comment.go
  routers/api/v1/repo/issue_comment.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#6274 Restricted users
  docs/content/doc/help/faq.en-us.md
  models/access.go
  models/access_test.go
  models/action.go
  models/action_test.go
  models/fixtures/access.yml
  models/fixtures/collaboration.yml
  models/fixtures/org_user.yml
  models/fixtures/team.yml
  models/fixtures/team_user.yml
  models/fixtures/user.yml
  models/lfs.go
  models/migrations/migrations.go
  models/migrations/v121.go
  models/org.go
  models/repo_list.go
  models/repo_permission.go
  models/user.go
  models/user_heatmap_test.go
  models/user_test.go
  modules/auth/admin.go
  options/locale/locale_en-US.ini
  routers/admin/users.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/repo.go
  routers/home.go
  routers/org/home.go
  routers/user/home.go
  routers/user/profile.go
  templates/admin/user/edit.tmpl
  templates/admin/user/list.tmpl
Labels: changelog, kind/feature, lgtm/done, reviewed/confirmed

#9753 Add test for git + git lfs on Makefile
  Makefile
Labels: kind/testing, lgtm/done

#9627 Move newbranch to standalone package
  integrations/api_repo_get_contents_list_test.go
  integrations/api_repo_get_contents_test.go
  models/repo_branch.go
  modules/convert/pull.go
  modules/repofiles/delete.go
  modules/repofiles/update.go
  modules/repository/branch.go
  routers/api/v1/repo/branch.go
  routers/repo/branch.go
  routers/repo/editor.go
  services/mirror/mirror.go
Labels: kind/refactor, lgtm/done

#9744 Fix missing updated time on migrated issues and comments
  modules/migrations/base/comment.go
  modules/migrations/base/issue.go
  modules/migrations/base/pullrequest.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/github_test.go
Labels: backport/v1.11, kind/bug, lgtm/done, skip-changelog

#9720 ci: use new mssql image
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#9513 Add Privacy Policy and Terms of Service Page
  contrib/legal/privacy.html.sample
  contrib/legal/tos.html.sample
  docs/content/doc/advanced/adding-legal-pages.en-us.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, kind/feature, lgtm/done

#9595 [API] add endpoint to check notifications [Extend #9488]
  integrations/api_notification_test.go
  models/issue.go
  models/issue_comment.go
  models/notification.go
  modules/structs/notifications.go
  routers/api/v1/api.go
  routers/api/v1/notify/notifications.go
  routers/api/v1/swagger/notify.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#9764 Fix missing updated time on migrated issues and comments (#9744)
  modules/migrations/base/comment.go
  modules/migrations/base/issue.go
  modules/migrations/base/pullrequest.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/github_test.go
Labels: kind/bug, lgtm/done

#9714 move swagger-ui to webpack/npm and update it to 3.24.3
  Makefile
  package-lock.json
  package.json
  public/vendor/assets/swagger-ui/favicon-16x16.png
  public/vendor/assets/swagger-ui/favicon-32x32.png
  public/vendor/assets/swagger-ui/index.html
  public/vendor/assets/swagger-ui/oauth2-redirect.html
  public/vendor/assets/swagger-ui/swagger-ui-bundle.js
  public/vendor/assets/swagger-ui/swagger-ui-bundle.js.map
  public/vendor/assets/swagger-ui/swagger-ui-standalone-preset.js
  public/vendor/assets/swagger-ui/swagger-ui-standalone-preset.js.map
  public/vendor/assets/swagger-ui/swagger-ui.css
  public/vendor/assets/swagger-ui/swagger-ui.css.map
  public/vendor/assets/swagger-ui/swagger-ui.js
  public/vendor/assets/swagger-ui/swagger-ui.js.map
  templates/pwa/serviceworker_js.tmpl
  templates/swagger/ui.tmpl
  web_src/js/swagger.js
  webpack.config.js
Labels: kind/build, lgtm/done

#9757 Fix SimpleMDE quote reply
  web_src/js/index.js
Labels: backport/v1.11, kind/bug, lgtm/done

#9770 Fix milestones page
  templates/user/dashboard/milestones.tmpl
Labels: backport/done, backport/v1.11, kind/bug, kind/ui, lgtm/done

#9771 Fix milestones page (#9770)
  templates/user/dashboard/milestones.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#9769 When deleting to a new branch we should expect ErrBranchNotExist
  modules/repofiles/delete.go
Labels: backport/v1.11, kind/bug, lgtm/done

#9775 DeleteRepoFile incorrectly handles Delete to new branch (#9769)
  modules/repofiles/delete.go
Labels: kind/bug, lgtm/done

#9762 ci: run notify on arm64
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#9768 Fix SimpleMDE quote reply (#9757)
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#9754 Move RepoWorkingPool to services/repository package
  models/repo.go
  services/repository/transfer.go
Labels: kind/refactor, lgtm/done, skip-changelog

#9747 ci: move some integration tests on arm64
  .drone.yml
Labels: kind/build, lgtm/done

#9776 use arm drone agent for docs
  .drone.yml
Labels: kind/build, kind/docs, lgtm/done

#9773 Backport Locales [2020-01-14]
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_en-US.ini
  options/locale/locale_es-ES.ini
  options/locale/locale_fa-IR.ini
  options/locale/locale_fr-FR.ini
  options/locale/locale_id-ID.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_pl-PL.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_uk-UA.ini
  options/locale/locale_zh-CN.ini
Labels: kind/misc, lgtm/done

#9708 Add require signed commit for protected branch
  models/branches.go
  models/error.go
  models/migrations/migrations.go
  models/migrations/v122.go
  models/pull.go
  models/pull_sign.go
  models/repo_sign.go
  modules/auth/repo_form.go
  modules/context/repo.go
  modules/git/command.go
  modules/git/commit.go
  modules/git/commit_reader.go
  modules/repofiles/delete.go
  modules/repofiles/temp_repo.go
  modules/repofiles/update.go
  modules/repository/init.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/private/hook.go
  routers/repo/editor.go
  routers/repo/issue.go
  routers/repo/setting_protected_branch.go
  services/pull/merge.go
  services/pull/patch.go
  services/wiki/wiki.go
  templates/repo/editor/commit_form.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/settings/protected_branch.tmpl
  web_src/less/_repository.less
Labels: changelog, kind/feature, lgtm/done

#9731 err_admin_name_pattern_not_allowed String Clarification
  options/locale/locale_en-US.ini
Labels: kind/bug, kind/translation, lgtm/done

#9599 Migrate reactions when migrating repository from github
  models/external_login_user.go
  models/issue.go
  models/issue_comment.go
  models/issue_reaction.go
  models/issue_reaction_test.go
  models/migrate.go
  models/migrations/migrations.go
  models/migrations/v123.go
  models/user.go
  modules/migrations/base/comment.go
  modules/migrations/base/issue.go
  modules/migrations/base/pullrequest.go
  modules/migrations/base/reaction.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  routers/api/v1/repo/issue_reaction.go
  routers/repo/issue.go
Labels: kind/enhancement, lgtm/done

#9767 Fix add team on collaborator page when same name as organization
  routers/repo/setting.go
Labels: backport/v1.10, backport/v1.11, kind/bug, lgtm/done

#9778 Fix add team on collaborator page when same name as organization
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#9780 Fix (#9761) Korean locales
  options/locale/locale_ko-KR.ini
Labels: kind/translation, lgtm/done

#9781 Fix missing msteam webhook on organization
  routers/routes/routes.go
Labels: backport/v1.10, backport/v1.11, kind/bug, lgtm/done

#9790 Fix missing unlock in uniquequeue
  modules/sync/unique_queue.go
Labels: backport/v1.11, kind/bug, kind/regression, lgtm/done

#9788 Fix signing info on PR view if not logged in
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#9791 Fix missing unlock in uniquequeue (#9790)
  modules/sync/unique_queue.go
Labels: kind/bug, kind/regression, lgtm/done

#9783 Fix add team on collaborator page when same name as organization
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#9734 update supported browsers and add a few more
  package.json
Labels: kind/build, lgtm/done

#9772 Fix push-to-create
  routers/repo/http.go
Labels: backport/v1.11, kind/bug, lgtm/done, skip-changelog

#9794 Fix missing msteam webhook on organization (#9781)
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#9795 Fix missing msteam webhook on organization (#9781)
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#9797 Fix push-to-create (#9772)
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#9782 Update go-org to 0.1.9
  go.mod
  go.sum
  vendor/github.com/niklasfasching/go-org/org/document.go
  vendor/github.com/niklasfasching/go-org/org/html_writer.go
  vendor/github.com/niklasfasching/go-org/org/list.go
  vendor/github.com/niklasfasching/go-org/org/org_writer.go
  vendor/github.com/niklasfasching/go-org/org/paragraph.go
  vendor/modules.txt
Labels: kind/build, lgtm/done, skip-changelog
