Repository go-gitea/gitea, pull requests merged in 2020-12, with the labels that each got.

#13768 Flip RUN_MODE detection in router
  routers/init.go
Labels: kind/misc, lgtm/done, skip-changelog

#13767 Set RUN_MODE prod by default (#13765)
  custom/conf/app.example.ini
  docker/root/etc/s6/gitea/setup
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  routers/init.go
Labels: kind/refactor, lgtm/done, skip-changelog, status/blocked

#13776 Add Allow-/Block-List for Migrate & Mirrors (#13610)
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  integrations/api_repo_test.go
  models/error.go
  modules/matchlist/matchlist.go
  modules/migrations/migrate.go
  modules/migrations/migrate_test.go
  modules/setting/migrations.go
  routers/api/v1/repo/migrate.go
  routers/init.go
Labels: kind/feature, kind/migration, kind/security, lgtm/done

#13781 set git-core paths in snap (#13711)
  snap/snapcraft.yaml
Labels: kind/package, lgtm/done, skip-changelog

#13777 Swap swagger-ui with swagger-ui-dist
  package-lock.json
  package.json
  web_src/js/standalone/swagger.js
Labels: dependencies, kind/refactor, lgtm/done

#13782 1.13.0 Changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#12264 Refactor doctor
  cmd/doctor.go
  modules/doctor/authorizedkeys.go
  modules/doctor/dbconsistency.go
  modules/doctor/dbversion.go
  modules/doctor/doctor.go
  modules/doctor/mergebase.go
  modules/doctor/misc.go
  modules/doctor/paths.go
Labels: kind/refactor, lgtm/done

#13783 Move notification APIFormat
  models/notification.go
  modules/convert/notification.go
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/threads.go
  routers/api/v1/notify/user.go
Labels: kind/refactor, lgtm/done

#13789 Update Gitea Version & Fix Migration Comments
  docs/config.yaml
  models/migrations/migrations.go
Labels: kind/docs, lgtm/done, skip-changelog

#13790 frontport 1.13.0 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#13792 Migrations: Use Process Manager to create own Context
  integrations/git_helper_for_declarative_test.go
  modules/git/git.go
  modules/git/repo.go
  modules/migrations/gitea_uploader.go
  modules/repository/repo.go
  modules/task/migrate.go
  services/mirror/mirror_test.go
Labels: backport/done, backport/v1.13, kind/enhancement, lgtm/done

#13793 Migrations: Use Process Manager to create own Context (#13792)
  integrations/git_helper_for_declarative_test.go
  modules/git/git.go
  modules/git/repo.go
  modules/migrations/gitea_uploader.go
  modules/repository/repo.go
  modules/task/migrate.go
  services/mirror/mirror_test.go
Labels: kind/enhancement, lgtm/done

#13787 Move Repo APIFormat to convert package
  models/repo.go
  modules/convert/notification.go
  modules/convert/pull.go
  modules/convert/pull_test.go
  modules/convert/repository.go
  modules/notification/webhook/webhook.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/fork.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/key.go
  routers/api/v1/repo/migrate.go
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/status.go
  routers/api/v1/repo/transfer.go
  routers/api/v1/user/repo.go
  routers/api/v1/user/star.go
  routers/api/v1/user/watch.go
  routers/repo/webhook.go
Labels: kind/refactor, lgtm/done

#13732 Update docker ssh passthrough docs
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#13796 When reinitialising DBConfig reset the database use flags
  modules/setting/database.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13803 Reduce make verbosity
  Makefile
Labels: kind/misc, lgtm/done

#13811 When reinitialising DBConfig reset the database use flags (#13796)
  modules/setting/database.go
Labels: kind/bug, lgtm/done

#13695 Clickable links in pull request (and issue) titles
  modules/markup/html.go
  modules/templates/helper.go
  templates/repo/issue/view_title.tmpl
Labels: kind/ui, lgtm/done

#13809 Expose default theme in meta and API
  modules/structs/settings.go
  routers/api/v1/settings/settings.go
  templates/base/head.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/ui, lgtm/done

#13808 Move LFSLock APIFormat into convert package
  models/lfs_lock.go
  modules/convert/convert.go
  modules/lfs/locks.go
Labels: kind/refactor, lgtm/done

#13774 Reply button is not removed when deleting a code review comment
  templates/repo/diff/box.tmpl
  templates/repo/diff/conversation.tmpl
  templates/repo/diff/section_unified.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#13769 Fix various CSS issues
  templates/repo/view_file.tmpl
  web_src/less/_base.less
Labels: kind/ui, lgtm/done, skip-changelog

#13820 Make sure email recipients can see issue
  services/mailer/mail_issue.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13824 Reply button is not removed when deleting a code review comment
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#13827 Make sure email recipients can see issue (#13820)
  services/mailer/mail_issue.go
Labels: kind/bug, lgtm/done

#13833 Fix avatar template error
  templates/repo/shabox_badge.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#13834 Update font stack to bootstrap's latest
  web_src/less/_base.less
Labels: backport/v1.13, kind/bug, lgtm/done

#13837 Update font stack to bootstrap's latest (#13834)
  web_src/less/_base.less
Labels: kind/bug, lgtm/done

#13839 Fix crash in short link processor
  modules/markup/html.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13841 Fix crash in short link processor (#13839)
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#13755 User Settings: Ignore empty language codes & validate
  integrations/privateactivity_test.go
  integrations/user_test.go
  integrations/xss_test.go
  modules/auth/user_form.go
  options/locale/locale_en-US.ini
  routers/user/setting/profile.go
Labels: kind/enhancement, lgtm/done

#13835 fixed and updated FAQ table of contents links
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done

#13828 Style and template tweaks
  templates/explore/code.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/add_reaction.tmpl
  templates/repo/issue/view_content/context_menu.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/search.tmpl
  templates/repo/settings/lfs.tmpl
  templates/shared/searchbottom.tmpl
  templates/status/404.tmpl
  templates/status/500.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/less/_base.less
  web_src/less/_chroma.less
  web_src/less/_dashboard.less
  web_src/less/_editor.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13856 [Docs] fix typos and reference to structs package
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#13751 Improve migrate page and add card CSS
  build/generate-svg.js
  public/img/svg/gitea-gitea.svg
  templates/repo/migrate/migrate.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
  web_src/svg/gitea-gitea.svg
Labels: kind/refactor, kind/ui, lgtm/done

#13854 Font weight tweaks
  web_src/less/_admin.less
  web_src/less/_base.less
  web_src/less/_chroma.less
  web_src/less/_repository.less
  web_src/less/_user.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13855 Fix branch/tag notifications in mirror sync
  services/mirror/mirror.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13864 Add link to shop in docs
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#13863 Fix mermaid chart size
  web_src/less/markdown/mermaid.less
Labels: backport/done, backport/v1.13, kind/bug, kind/ui, lgtm/need 2

#13865 Fix mermaid chart size
  web_src/less/markdown/mermaid.less
Labels: kind/bug, kind/ui, lgtm/done

#13862 Fix branch/tag notifications in mirror sync (#13855)
  services/mirror/mirror.go
Labels: kind/bug, lgtm/done, lgtm/need 1

#13871 README: Add more contents to the "further information" section.
  README.md
Labels: kind/docs, lgtm/need 1

#13885 issue #12450: return original URL in `original_url` JSON field
  modules/convert/repository.go
Labels: backport/v1.13, kind/api, kind/bug, lgtm/done

#13887 Add cloudron to img-src CSP
  docs/static/_headers
Labels: kind/docs, lgtm/done, skip-changelog

#13892 Add wildcard for cloudron CSP
  docs/content/doc/installation/from-package.en-us.md
  docs/static/_headers
Labels: kind/docs, lgtm/done, skip-changelog

#13882 fix 'dst refspec error' when merge a pr
  services/pull/merge.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13381 Refactor push update
  modules/notification/action/action.go
  services/repository/push.go
  services/repository/push_test.go
Labels: kind/refactor, lgtm/done

#13893 Fix issue participants
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#13895 Self-host cloudron image for docs
  docs/content/doc/installation/from-package.en-us.md
  docs/static/_headers
  docs/static/cloudron.svg
Labels: kind/docs, lgtm/done

#13891 Repo avatar fixes
  modules/templates/helper.go
  templates/explore/repo_list.tmpl
  templates/repo/header.tmpl
  templates/repo/icon.tmpl
  web_src/less/_base.less
  web_src/less/_explore.less
  web_src/less/_repository.less
Labels: kind/bug, kind/refactor, kind/ui, lgtm/done

#13890 Added Table of Contents to long documentation pages
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/advanced/logging-documentation.en-us.md
  docs/content/doc/advanced/mail-templates-us.md
  docs/content/doc/developers/api-usage.en-us.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  docs/content/doc/features/authentication.en-us.md
  docs/content/doc/help/faq.en-us.md
  docs/content/doc/installation/database-preparation.en-us.md
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-package.en-us.md
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/installation/with-docker.fr-fr.md
  docs/content/doc/installation/with-docker.zh-cn.md
  docs/content/doc/installation/with-docker.zh-tw.md
  docs/content/doc/usage/command-line.en-us.md
  docs/content/doc/usage/linked-references.en-us.md
  docs/content/doc/usage/reverse-proxies.en-us.md
Labels: kind/docs, lgtm/done

#13886 [API] return original URL of Repositories (#13885)
  models/repo.go
Labels: kind/api, kind/bug, lgtm/done

#13830 Fix Quote Reply button on review diff
  web_src/js/index.js
Labels: backport/v1.13, kind/bug, lgtm/done

#13664 Move webhook type from int to string
  .golangci.yml
  models/migrations/migrations.go
  models/migrations/v161.go
  models/webhook.go
  models/webhook_test.go
  modules/convert/convert.go
  modules/notification/webhook/webhook.go
  routers/api/v1/repo/hook.go
  routers/api/v1/utils/hook.go
  routers/init.go
  routers/repo/webhook.go
  services/webhook/deliver.go
  services/webhook/deliver_test.go
  services/webhook/dingtalk.go
  services/webhook/dingtalk_test.go
  services/webhook/discord.go
  services/webhook/feishu.go
  services/webhook/general.go
  services/webhook/general_test.go
  services/webhook/main_test.go
  services/webhook/matrix.go
  services/webhook/matrix_test.go
  services/webhook/msteams.go
  services/webhook/payloader.go
  services/webhook/slack.go
  services/webhook/slack_test.go
  services/webhook/telegram.go
  services/webhook/telegram_test.go
  services/webhook/webhook.go
  services/webhook/webhook_test.go
Labels: kind/refactor, lgtm/done

#13896 Fix Pull Merge when tag with same name as base branch exist (#13882)
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#13150 Log IP on SSH authentication failure for Built-in SSH server
  docs/content/doc/usage/fail2ban-setup.en-us.md
  modules/ssh/ssh.go
  routers/private/serv.go
  routers/repo/http.go
Labels: kind/enhancement, kind/security, lgtm/done

#13903 log error when login failed
  routers/user/auth.go
Labels: kind/misc, lgtm/done

#13906 Allow 20 characters for "View [organization]" button
  templates/user/dashboard/navbar.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#13898 Fix Quote Reply button on review diff (#13830)
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#13900 [Docu] Fix Location of Comments in migrations.go
  models/migrations/migrations.go
Labels: kind/docs, lgtm/done, skip-changelog

#13853 Fix frontpage newsfeed commit avatars, remove img-* classes
  models/avatar.go
  modules/repository/commits.go
  modules/repository/commits_test.go
  modules/templates/helper.go
  templates/admin/hook_new.tmpl
  templates/org/settings/hook_new.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/repo/settings/webhook/new.tmpl
  templates/repo/view_list.tmpl
  templates/user/dashboard/feeds.tmpl
  web_src/less/_base.less
  web_src/less/helpers.less
Labels: kind/bug, kind/refactor, lgtm/done, skip-changelog

#13908 Don't show dashboard links for globally disabled repo units
  templates/user/dashboard/navbar.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#13909 Fix action avatar loading
  models/action.go
  modules/templates/helper.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, lgtm/done

#13894 Markdown: Enable wrapping in code blocks and a color tweak
  web_src/less/_base.less
  web_src/less/_markdown.less
Labels: kind/enhancement, kind/ui, lgtm/done

#13915 Add Karl Heinz Marbaise as maintainer for tea
  MAINTAINERS
Labels: lgtm/done

#13913 log error when login failed (#13903)
  routers/user/auth.go
Labels: kind/misc, lgtm/done, skip-changelog

#13911 Fix broken migration on webhook
  models/migrations/migrations.go
  models/migrations/v162.go
  models/repo_generate.go
  models/webhook.go
  modules/convert/convert.go
  routers/api/v1/utils/hook.go
  routers/repo/webhook.go
  services/webhook/webhook.go
Labels: kind/bug, lgtm/done, skip-changelog

#13860 Replace more icons with SVG, repo search tweaks
  integrations/auth_ldap_test.go
  public/img/svg/gitea-double-chevron-left.svg
  public/img/svg/gitea-double-chevron-right.svg
  templates/admin/auth/list.tmpl
  templates/admin/config.tmpl
  templates/admin/emails/list.tmpl
  templates/admin/monitor.tmpl
  templates/admin/notice.tmpl
  templates/admin/org/list.tmpl
  templates/admin/queue.tmpl
  templates/admin/repo/list.tmpl
  templates/admin/repo/unadopted.tmpl
  templates/admin/user/list.tmpl
  templates/base/paginate.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/branch_dropdown.tmpl
  templates/repo/diff/new_review.tmpl
  templates/repo/issue/branch_selector_field.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/settings/lfs_pointers.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/user/dashboard/repolist.tmpl
  templates/user/settings/applications.tmpl
  templates/user/settings/applications_oauth2.tmpl
  templates/user/settings/grants_oauth2.tmpl
  templates/user/settings/repos.tmpl
  web_src/js/index.js
  web_src/less/_base.less
  web_src/svg/gitea-double-chevron-left.svg
  web_src/svg/gitea-double-chevron-right.svg
Labels: kind/refactor, kind/ui, lgtm/done, skip-changelog

#13840 Add pull request manually merge instruction
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/pull.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/js/index.js
  web_src/less/_base.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, lgtm/done

#13919 Move diff split code into own template file
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_split.tmpl
Labels: kind/ui, lgtm/done

#13924 Fix avatar template error on repo collaborator page
  modules/templates/helper.go
Labels: kind/bug, lgtm/done, skip-changelog

#13921 Remove JS globals related to timetracking and due date
  integrations/timetracking_test.go
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/js/index.js
Labels: kind/refactor, lgtm/done, skip-changelog

#13818 Added 2 fuzzers
  Makefile
  tools/fuzz.go
Labels: kind/testing, lgtm/done

#13932 Better vertical align of buttons in headers
  web_src/less/_base.less
Labels: kind/refactor, lgtm/done, skip-changelog

#13928 chore: use octicon-mirror for feeds display
  modules/templates/helper.go
Labels: kind/ui, lgtm/done

#13938 Fix feishu webhook caused by API changed
  modules/webhook/feishu.go
Labels: kind/bug, kind/upstream-related, lgtm/done

#13937 Fix bug for webhook and feishu caused by API changed.
  models/webhook.go
  services/webhook/feishu.go
  services/webhook/webhook.go
Labels: backport/done, backport/v1.13, kind/bug, lgtm/done, skip-changelog

#13934 Reorganize Chroma styles
  web_src/less/_base.less
  web_src/less/_chroma.less
  web_src/less/chroma/base.less
  web_src/less/chroma/dark.less
  web_src/less/chroma/light.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/refactor, lgtm/done, skip-changelog

#13945 Ensure that pusher is not nil preventing panic in push
  services/repository/push.go
Labels: kind/bug, lgtm/done, skip-changelog

#13948 Update HEAD to match defaultBranch in template generation
  modules/repository/generate.go
  modules/repository/init.go
Labels: kind/bug, lgtm/done

#13953 Report permissions denied in internal SSH
  modules/ssh/ssh.go
Labels: backport/v1.13, kind/feature, lgtm/done

#13954 Diff stat improvements
  options/locale/locale_en-US.ini
  templates/repo/diff/box.tmpl
  templates/repo/diff/stats.tmpl
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#13950 Enforce setting HEAD in wiki to master
  services/wiki/wiki.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13959 Fix missing username on dashboard context switch navbar
  templates/user/dashboard/navbar.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#13960 Possible fix the webhook API creation
  routers/api/v1/utils/hook.go
  services/webhook/webhook.go
Labels: kind/bug, lgtm/done, skip-changelog

#13961 Enforce setting HEAD in wiki to master (#13950)
  services/wiki/wiki.go
Labels: kind/bug, lgtm/done

#13966 Whenever the password is updated ensure that the hash algorithm is too
  cmd/admin.go
  routers/user/auth.go
  routers/user/setting/account.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13967 Whenever the password is updated ensure that the hash algorithm is too (#13966)
  cmd/admin.go
  routers/user/auth.go
  routers/user/setting/account.go
Labels: kind/bug, lgtm/done

#13952 Markdown task list improvements
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
  web_src/less/_markdown.less
Labels: kind/enhancement, kind/ui, lgtm/done

#13970 Removes dangling < on emails/list.tmpl
  templates/admin/emails/list.tmpl
Labels: lgtm/done

#13946 [API] Add Ref to Issue
  modules/convert/issue.go
  modules/migrations/base/issue.go
  modules/migrations/gitea_uploader.go
  modules/structs/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, kind/migration, lgtm/done

#13826 add thumbnail preview section to issue attachments
  routers/repo/issue.go
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/attachments.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#13957 Do not display org avatar near icon for internal repos
  templates/repo/icon.tmpl
Labels: kind/ui, lgtm/done

#13978 Add emoji in label to project boards
  templates/repo/projects/view.tmpl
Labels: backport/v1.13, kind/ui, lgtm/done, theme/kanban

#13982 Ensure template renderer is available before storage handler (#13164)
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#13981 Trim the branch prefix from action.GetBranch
  models/action.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13986 Trim the branch prefix from action.GetBranch (#13981)
  models/action.go
Labels: kind/bug, lgtm/done

#13956 Hide command line instructions when merge form is visible
  templates/repo/issue/view_content/pull.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#13988 Fix markdown checkboxes on Blink
  web_src/less/_base.less
  web_src/less/_markdown.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#13962 Standardise logging of failed authentication attempts in internal SSH
  docs/content/doc/usage/fail2ban-setup.en-us.md
  modules/ssh/ssh.go
Labels: kind/docs, kind/enhancement, lgtm/done

#13992 [API] Add ref to create/edit issue options & deprecated assignee
  modules/structs/issue.go
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#13997 add @noerw to maintainers
  MAINTAINERS
Labels: lgtm/done

#13991 Store repository data in data path if not previously set
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/help/faq.en-us.md
  modules/setting/repository.go
  snap/snapcraft.yaml
Labels: kind/breaking, kind/package, kind/refactor, lgtm/done

#14002 Fix incorrect review comment diffs
  services/pull/review.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14011 Fix incorrect review comment diffs (#14002)
  services/pull/review.go
Labels: kind/bug, lgtm/done

#13999 Send push event when tag is created or deleted
  services/repository/push.go
Labels: kind/bug, lgtm/done, skip-changelog

#14015 Send webhook when tag is removed via Web UI
  services/release/release.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14019 Send webhook when tag is removed via Web UI (#14015)
  services/release/release.go
Labels: kind/enhancement, lgtm/done

#14001 Fix webhook list styling
  templates/repo/settings/webhook/list.tmpl
  web_src/less/_admin.less
Labels: kind/ui, lgtm/done

#14020 Add FAQ link to Issue template
  .github/issue_template.md
Labels: kind/docs, lgtm/done, skip-changelog

#14021 Add emoji in label to project boards (#13978)
  templates/repo/projects/view.tmpl
Labels: kind/ui, lgtm/done, theme/kanban

#13994 HotFix: Hide private partisipation in Orgs
  models/user.go
  routers/api/v1/org/org.go
  routers/api/v1/utils/utils.go
Labels: backport/v1.13, kind/api, kind/bug, lgtm/done

#14035 docs(docker): fix diff format.
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#14005 fix label of --id in admin delete user
  cmd/admin.go
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/bug, lgtm/done

#14006 Always wait for the cmd to finish
  modules/git/command.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14004 Cause NotifyMigrateRepository to emit a repo create webhook
  modules/notification/webhook/webhook.go
Labels: lgtm/done, theme/webhook

#14028 Dropdown triangle fixes
  web_src/less/_base.less
  web_src/less/_review.less
Labels: kind/bug, kind/ui, lgtm/done

#13922 Diff and code review refactors and improvements
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/refactor, lgtm/done, skip-changelog

#14029 Don't use simpleMDE editor on mobile devices for 1.13
  web_src/js/index.js
  web_src/js/utils.js
Labels: kind/bug, lgtm/done

#14008 Dashboard search tweaks
  templates/user/dashboard/repolist.tmpl
  web_src/less/_dashboard.less
  web_src/less/helpers.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#14039 Always wait for the cmd to finish (#14006)
  modules/git/command.go
Labels: kind/bug, lgtm/done

#14040 Fix bug in commit verification introduced in #13673
  modules/git/commit_reader.go
Labels: kind/bug, lgtm/done, skip-changelog

#14031 Hide private partisipation in Orgs (#13994)
  models/user.go
  routers/api/v1/org/org.go
  routers/api/v1/utils/utils.go
Labels: kind/api, kind/bug, lgtm/done

#13680 Clean up SVG
  assets/logo.svg
  build/generate-images.js
  public/img/apple-touch-icon.png
  public/img/avatar_default.png
  public/img/favicon.png
  public/img/favicon.svg
  public/img/gitea-192.png
  public/img/gitea-512.png
  public/img/gitea-lg.png
  public/img/gitea-sm.png
  public/img/svg/gitea-gitea.svg
Labels: kind/enhancement, kind/ui, lgtm/done, skip-changelog

#14044 Makefile cleanup
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#14046 Fix panic in BasicAuthDecode
  modules/base/tool.go
  modules/base/tool_test.go
Labels: kind/bug, lgtm/done

#14026 [Refactor] CombinedStatus and CommitStatus related functions & structs
  integrations/pull_status_test.go
  integrations/repo_commits_test.go
  models/commit_status.go
  modules/convert/convert.go
  modules/convert/status.go
  modules/gitgraph/graph_models.go
  modules/structs/commit_status.go
  modules/structs/status.go
  routers/api/v1/repo/status.go
  routers/api/v1/swagger/repo.go
  routers/repo/blame.go
  routers/repo/commit.go
  routers/repo/pull.go
  routers/repo/view.go
  services/pull/commit_status.go
  services/pull/pull.go
  templates/swagger/v1_json.tmpl
Labels: backport/done, backport/v1.13, kind/api, kind/bug, kind/docs, kind/refactor, lgtm/done

#14042 Add whiteline after label on Signing Verification Settings
  templates/repo/settings/options.tmpl
Labels: kind/ui, lgtm/done

#13975 Show status check for merged PRs
  routers/repo/pull.go
  services/pull/pull.go
  templates/repo/pulls/status.tmpl
Labels: kind/ui, lgtm/done, theme/pr

#14047 [API] GetCombinedCommitStatusByRef always return json & swagger doc fixes
  routers/api/v1/repo/status.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, lgtm/done

#14048 Fix panic in BasicAuthDecode (#14046)
  modules/base/tool.go
  modules/base/tool_test.go
Labels: kind/bug, lgtm/done

#13989 Accept multiple SSH keys in single LDAP SSHPublicKey attribute
  integrations/auth_ldap_test.go
  models/user.go
  models/user_test.go
Labels: kind/bug, lgtm/done

#13974 gitea png to logo
  Makefile
  build/generate-images.js
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  public/img/gitea.svg
  public/img/logo-192.png
  public/img/logo-512.png
  public/img/logo-lg.png
  public/img/logo-safari.svg
  public/img/logo-sm.png
  public/img/logo.svg
  snap/snapcraft.yaml
  templates/admin/hook_new.tmpl
  templates/base/head.tmpl
  templates/base/head_navbar.tmpl
  templates/home.tmpl
  templates/org/settings/hook_new.tmpl
  templates/pwa/manifest_json.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/repo/settings/webhook/new.tmpl
Labels: kind/breaking, kind/refactor, lgtm/done

#14056 Fix integrations test error with space in CURDIR path
  Makefile
Labels: kind/bug, kind/build, lgtm/done

#14041 Fix merge button dropdown triangle alignment
  templates/repo/issue/view_content/pull.tmpl
  web_src/less/_base.less
Labels: kind/ui, lgtm/done, skip-changelog

#14058 Refactor get tag to remove unnecessary steps
  modules/git/repo_tag.go
Labels: kind/bug, kind/refactor, lgtm/done

#14064 Fix feed push tag
  models/action.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#13083 Manually approve new registration
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
  modules/setting/service.go
  routers/user/auth.go
Labels: kind/enhancement, lgtm/done

#13977 Show dropdown with all statuses for commit
  integrations/repo_commits_test.go
  models/commit_status.go
  routers/repo/blame.go
  routers/repo/commit.go
  routers/repo/issue.go
  routers/repo/view.go
  routers/user/home.go
  services/pull/pull.go
  templates/repo/commit_page.tmpl
  templates/repo/commit_status.tmpl
  templates/repo/commit_statuses.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/view_list.tmpl
  templates/shared/issuelist.tmpl
  web_src/js/index.js
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#14067 dep: update crypto
  go.mod
  go.sum
  vendor/golang.org/x/crypto/acme/acme.go
  vendor/golang.org/x/crypto/acme/jws.go
  vendor/golang.org/x/crypto/acme/rfc8555.go
  vendor/golang.org/x/crypto/acme/types.go
  vendor/golang.org/x/crypto/argon2/blamka_amd64.go
  vendor/golang.org/x/crypto/argon2/blamka_amd64.s
  vendor/golang.org/x/crypto/argon2/blamka_ref.go
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.go
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2b_amd64.go
  vendor/golang.org/x/crypto/blake2b/blake2b_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2b_ref.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing_purego.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Labels: backport/v1.13, dependencies, lgtm/done, skip-changelog

#14050 Search and Diff CSS enhancements
  templates/explore/code.tmpl
  templates/explore/repo_list.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/image_diff.tmpl
  templates/repo/diff/stats.tmpl
  templates/repo/search.tmpl
  templates/repo/sub_menu.tmpl
  templates/shared/searchbottom.tmpl
  web_src/less/_base.less
  web_src/less/_explore.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/refactor, kind/ui, lgtm/done, skip-changelog

#14073 Add repo name label again on dashboard issue / pulls page
  templates/shared/issuelist.tmpl
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog

#14078 dep: update crypto (#14067)
  go.mod
  go.sum
  vendor/golang.org/x/crypto/acme/acme.go
  vendor/golang.org/x/crypto/acme/jws.go
  vendor/golang.org/x/crypto/acme/rfc8555.go
  vendor/golang.org/x/crypto/acme/types.go
  vendor/golang.org/x/crypto/argon2/blamka_amd64.go
  vendor/golang.org/x/crypto/argon2/blamka_amd64.s
  vendor/golang.org/x/crypto/argon2/blamka_ref.go
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.go
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2b_amd64.go
  vendor/golang.org/x/crypto/blake2b/blake2b_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2b_ref.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing_purego.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Labels: dependencies, lgtm/done, skip-changelog

#14082 Locale: say another issue instead of this issue
  options/locale/locale_en-US.ini
Labels: kind/translation, lgtm/done

#14085 Present repository name as {{name}}#{{index}} instead of label on dashboard issuelist
  templates/shared/issuelist.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#14087 Expose translation of previously hardcoded string
  options/locale/locale_en-US.ini
  templates/repo/create.tmpl
Labels: kind/translation, lgtm/done, skip-changelog

#13114 Added option to disable migrations
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/api_settings_test.go
  modules/context/context.go
  modules/cron/tasks_basic.go
  modules/setting/repository.go
  modules/structs/settings.go
  routers/admin/users.go
  routers/api/v1/repo/migrate.go
  routers/api/v1/settings/settings.go
  routers/repo/migrate.go
  templates/admin/user/edit.tmpl
  templates/base/head_navbar.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#13198 Add mentionable teams to tributeValues and change team mention rules to gh's style
  models/issue.go
  models/issue_test.go
  modules/markup/html.go
  modules/references/references.go
  modules/references/references_test.go
  routers/repo/issue.go
  routers/repo/pull.go
  templates/base/head.tmpl
Labels: kind/enhancement, lgtm/done

#13071 Use the headline comment of pull-request as the squash commit's message
  routers/repo/pull.go
  services/pull/pull.go
Labels: kind/enhancement, lgtm/done

#14045 Add Test for Fix #14040
  modules/git/commit_test.go
Labels: kind/testing, lgtm/done, skip-changelog
