Repository go-gitea/gitea, pull requests merged in 2020-02, with the labels that each got.

#10088 [BugFix] Pull.apiFormat(): Only try to get HeadBranch if HeadRepo exist (#10029)
  models/pull.go
Labels: lgtm/done

#10093 Fix IsErrPullClosed
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#10092 Fix branch page pull request title and link error
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: backport/v1.10, backport/v1.11, kind/bug, lgtm/done

#10083 enable babel-loader cache
  Makefile
  webpack.config.js
Labels: kind/build, lgtm/done

#10097 Fix branch page pull request title and link error (#10092)
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done

#10099 Add button to revert SimpleMDE to plain textarea
  web_src/js/index.js
Labels: backport/v1.11, kind/bug, kind/feature, lgtm/done

#10098 Fix branch page pull request title and link error (#10092)
  routers/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done

#10091 Accept punctuation after simple+cross repository issue references
  modules/references/references.go
  modules/references/references_test.go
Labels: kind/bug, kind/feature, lgtm/done

#10070 remove VERSIONS file
  public/vendor/VERSIONS
Labels: kind/refactor, lgtm/done, skip-changelog

#10069 Cache last commit to accelerate the repository directory page visit
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  integrations/repo_test.go
  modules/cache/cache.go
  modules/cache/last_commit.go
  modules/git/cache.go
  modules/git/commit_info.go
  modules/setting/cache.go
  routers/repo/view.go
Labels: kind/feature, lgtm/done

#10032 Use a file as make evidence for fomantic instead of a directory
  .gitignore
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#10102 Add button to revert SimpleMDE to plain textarea (#10099)
  web_src/js/index.js
Labels: kind/bug, kind/feature, lgtm/done

#10101 Fix broken FlushAll
  modules/queue/manager.go
Labels: kind/bug, lgtm/done, skip-changelog

#9982 Implement "embedded" command to extract static resources
  cmd/embedded.go
  cmd/embedded_stub.go
  docs/content/doc/advanced/cmd-embedded.en-us.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
  main.go
  modules/options/static.go
  modules/public/static.go
  modules/templates/static.go
Labels: kind/feature, lgtm/done

#10100 Check if go exists before generating the GOPATH
  Makefile
Labels: lgtm/done, skip-changelog

#10104 Add warning when using relative path to app.ini
  modules/setting/setting.go
Labels: kind/misc, lgtm/done

#10105 Improve push update options
  .golangci.yml
  modules/repofiles/action.go
  modules/repofiles/action_test.go
  modules/repofiles/update.go
  routers/private/hook.go
Labels: kind/refactor, lgtm/done, skip-changelog

#10096 Update aria-fixed semantic-dropdown to fomantic master
  web_src/js/semanticDropdown.js
Labels: kind/ui, lgtm/done

#9856 Add Unique Queue infrastructure and move TestPullRequests to this
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  go.mod
  go.sum
  modules/queue/bytefifo.go
  modules/queue/queue.go
  modules/queue/queue_bytefifo.go
  modules/queue/queue_channel.go
  modules/queue/queue_disk.go
  modules/queue/queue_disk_channel.go
  modules/queue/queue_disk_test.go
  modules/queue/queue_redis.go
  modules/queue/setting.go
  modules/queue/unique_queue.go
  modules/queue/unique_queue_channel.go
  modules/queue/unique_queue_disk.go
  modules/queue/unique_queue_disk_channel.go
  modules/queue/unique_queue_redis.go
  modules/queue/unique_queue_wrapped.go
  modules/setting/queue.go
  routers/init.go
  services/pull/check.go
  services/pull/check_test.go
  vendor/gitea.com/lunny/levelqueue/.gitignore
  vendor/gitea.com/lunny/levelqueue/README.md
  vendor/gitea.com/lunny/levelqueue/error.go
  vendor/gitea.com/lunny/levelqueue/queue.go
  vendor/gitea.com/lunny/levelqueue/set.go
  vendor/gitea.com/lunny/levelqueue/uniquequeue.go
  vendor/modules.txt
Labels: kind/feature, lgtm/done

#10114 Fix issues/pulls dashboard paging error
  routers/user/home.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10115 Fix issues/pulls dashboard paging error (#10114)
  routers/user/home.go
Labels: kind/bug, lgtm/done

#10106 Move PushUpdateAddDeleteTags to repository module from models
  models/helper_environment.go
  models/release.go
  models/update.go
  models/user.go
  modules/repofiles/update.go
  modules/repository/update.go
  routers/repo/repo.go
  services/release/release.go
Labels: kind/refactor, lgtm/done

#10125 Prevent DeleteUser API abuse
  routers/api/v1/admin/user.go
  routers/org/setting.go
Labels: backport/v1.11, kind/api, lgtm/done

#10128 Prevent DeleteUser API abuse (#10125)
  routers/api/v1/admin/user.go
  routers/org/setting.go
Labels: lgtm/done

#10124 Show download count info in release list
  go.mod
  go.sum
  modules/base/tool.go
  modules/base/tool_test.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  templates/repo/release/list.tmpl
  vendor/github.com/dustin/go-humanize/.travis.yml
  vendor/github.com/dustin/go-humanize/LICENSE
  vendor/github.com/dustin/go-humanize/README.markdown
  vendor/github.com/dustin/go-humanize/big.go
  vendor/github.com/dustin/go-humanize/bigbytes.go
  vendor/github.com/dustin/go-humanize/bytes.go
  vendor/github.com/dustin/go-humanize/comma.go
  vendor/github.com/dustin/go-humanize/commaf.go
  vendor/github.com/dustin/go-humanize/ftoa.go
  vendor/github.com/dustin/go-humanize/humanize.go
  vendor/github.com/dustin/go-humanize/number.go
  vendor/github.com/dustin/go-humanize/ordinals.go
  vendor/github.com/dustin/go-humanize/si.go
  vendor/github.com/dustin/go-humanize/times.go
  vendor/modules.txt
  web_src/less/_repository.less
Labels: kind/enhancement, lgtm/done

#10130 Show if a PR has conflicting files on the PR lists
  options/locale/locale_en-US.ini
  templates/repo/issue/list.tmpl
  templates/user/dashboard/issues.tmpl
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#10126 [API] expose RepoOwner on Issue response
  models/issue.go
  modules/structs/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#10134 Ensure DeleteUser is not allowed to Delete Orgs and visa versa
  models/org.go
  models/org_test.go
  models/user.go
  models/user_test.go
Labels: kind/bug, lgtm/done

#10145 Fix push-create SSH bugs
  cmd/serv.go
  integrations/git_test.go
  routers/private/serv.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10151 Fix push-create SSH bugs (#10145)
  cmd/serv.go
  integrations/git_test.go
  routers/private/serv.go
Labels: kind/bug, lgtm/done

#10155 update JS dependencies
  package-lock.json
  package.json
Labels: kind/refactor, lgtm/done, skip-changelog

#10158 Fix PR link in issues dashboard
  templates/user/dashboard/issues.tmpl
Labels: backport/v1.11, kind/bug, lgtm/done

#10159 Allow emoji on review head comments
  templates/repo/issue/view_content/comments.tmpl
Labels: backport/v1.11, kind/bug, lgtm/done, skip-changelog

#10165 make: improve make pr
  Makefile
Labels: kind/misc, kind/testing, lgtm/done, skip-changelog

#10173 Backport: Fix issue/pull link (#10158)
  templates/user/dashboard/issues.tmpl
Labels: kind/bug, lgtm/done

#10167 Fix topics dropdown
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#10170 Prevent double waitgroup decrement
  modules/graceful/server.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10169 Fix commit view
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#10177 Tweak locale to respect singular conflicting file message in PR list
  options/locale/locale_en-US.ini
  templates/repo/issue/list.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/ui, lgtm/done

#10168 Reorganize frontend files and tooling
  .eslintignore
  .eslintrc
  .stylelintrc
  Makefile
  web_src/js/features/gitGraph.js
  web_src/js/index.js
  web_src/js/standalone/swagger.js
  web_src/js/vendor/gitGraph.js
  web_src/js/vendor/semanticDropdown.js
  web_src/less/index.less
  web_src/less/vendor/gitGraph.css
  webpack.config.js
Labels: kind/refactor, lgtm/done

#10175 Backport: Prevent double waitgroup decrement (#10170)
  modules/graceful/server.go
Labels: kind/bug, lgtm/done

#10180 Fix code-expansion arc-green theme bug
  web_src/less/themes/theme-arc-green.less
Labels: kind/bug, kind/ui, lgtm/done

#10182 modules/log: remove noop written variables
  modules/log/conn_test.go
Labels: kind/misc, kind/testing, lgtm/done, skip-changelog

#10174 Backport: Allow emoji on review head comments (#10159)
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#10183 move clipboard.js to npm/webpack
  .eslintrc
  package-lock.json
  package.json
  public/vendor/librejs.html
  public/vendor/plugins/clipboard/LICENSE
  public/vendor/plugins/clipboard/clipboard.min.js
  templates/base/footer.tmpl
  templates/pwa/serviceworker_js.tmpl
  web_src/js/features/clipboard.js
  web_src/js/index.js
Labels: kind/ui, lgtm/done, skip-changelog

#10185 Fix code-expansion arc-green theme bug (#10180)
  web_src/less/themes/arc-green.less
Labels: kind/bug, kind/ui, lgtm/done

#10178 Improve make PR (force build and help message)
  Makefile
  contrib/pr/checkout.go
Labels: kind/misc, lgtm/done, skip-changelog

#10166 Allow emoji on popup label
  web_src/js/features/contextPopup.js
Labels: kind/ui, lgtm/done

#10150 Fix invalid repo urls after change username
  models/user.go
Labels: kind/bug, lgtm/done, skip-changelog

#10129 [API] Fix inconsistent label color format
  integrations/api_issue_label_test.go
  models/issue_label.go
  models/issue_label_test.go
  models/user.go
  modules/repository/create.go
  modules/structs/issue_label.go
  routers/api/v1/repo/label.go
  routers/repo/issue_label.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#10202 Fix followers and following tabs in profile
  routers/routes/routes.go
  routers/user/profile.go
  templates/repo/user_cards.tmpl
  templates/user/meta/followers.tmpl
  templates/user/meta/header.tmpl
  templates/user/profile.tmpl
Labels: kind/breaking, kind/bug, lgtm/done

#10203 Fix followers and following tabs in profile (#10202)
  routers/routes/routes.go
  routers/user/profile.go
  templates/repo/user_cards.tmpl
  templates/user/meta/followers.tmpl
  templates/user/meta/header.tmpl
  templates/user/profile.tmpl
Labels: kind/breaking, kind/bug, lgtm/done

#10201 [API] let admin check org membership on other users
  routers/api/v1/org/member.go
Labels: kind/bug, lgtm/done

#10132 Only check for conflicts/merging if the PR has not been merged in the interim
  integrations/pull_merge_test.go
  models/pull.go
  services/pull/check.go
  services/pull/check_test.go
  services/pull/merge.go
  services/pull/update.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10197 Only show conflicted files if not merged
  templates/repo/issue/list.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#10204 Changelog 1.11.0
  .changelog.yml
  CHANGELOG.md
  docs/config.yaml
Labels: changelog, kind/docs, lgtm/done, skip-changelog

#10206 Only check for conflicts/merging if the PR has not been merged in the interim (#10132)
  integrations/pull_merge_test.go
  models/pull.go
  services/pull/check.go
  services/pull/check_test.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#10211 Changelog 1.11.0 (#10204)
  .changelog.yml
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#10214 Improve 404 error message
  options/locale/locale_en-US.ini
  templates/status/404.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#10225 Fix commit between two commits calculation if there is only last commit
  modules/git/repo_commit.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10226 Fix commit between two commits calculation if there is only last commit (#10225)
  modules/git/repo_commit.go
Labels: kind/bug, lgtm/done

#10224 Restore graceful restart on SIGHUP
  modules/graceful/manager_unix.go
Labels: kind/bug, lgtm/done, skip-changelog

#10216 Limit label list height on edit issue page
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#10234 update vendor keybase/go-crypto
  go.mod
  go.sum
  vendor/github.com/keybase/go-crypto/cast5/cast5.go
  vendor/github.com/keybase/go-crypto/curve25519/const_amd64.h
  vendor/github.com/keybase/go-crypto/curve25519/const_amd64.s
  vendor/github.com/keybase/go-crypto/curve25519/cswap_amd64.s
  vendor/github.com/keybase/go-crypto/curve25519/curve25519.go
  vendor/github.com/keybase/go-crypto/curve25519/curve_impl.go
  vendor/github.com/keybase/go-crypto/curve25519/doc.go
  vendor/github.com/keybase/go-crypto/curve25519/freeze_amd64.s
  vendor/github.com/keybase/go-crypto/curve25519/ladderstep_amd64.s
  vendor/github.com/keybase/go-crypto/curve25519/mul_amd64.s
  vendor/github.com/keybase/go-crypto/curve25519/square_amd64.s
  vendor/github.com/keybase/go-crypto/ed25519/ed25519.go
  vendor/github.com/keybase/go-crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/github.com/keybase/go-crypto/openpgp/armor/armor.go
  vendor/github.com/keybase/go-crypto/openpgp/ecdh/ecdh.go
  vendor/github.com/keybase/go-crypto/openpgp/errors/errors.go
  vendor/github.com/keybase/go-crypto/openpgp/keys.go
  vendor/github.com/keybase/go-crypto/openpgp/packet/encrypted_key.go
  vendor/github.com/keybase/go-crypto/openpgp/packet/packet.go
  vendor/github.com/keybase/go-crypto/openpgp/packet/private_key.go
  vendor/github.com/keybase/go-crypto/openpgp/packet/public_key.go
  vendor/github.com/keybase/go-crypto/openpgp/packet/public_key_v3.go
  vendor/github.com/keybase/go-crypto/openpgp/packet/signature.go
  vendor/github.com/keybase/go-crypto/openpgp/packet/symmetric_key_encrypted.go
  vendor/github.com/keybase/go-crypto/openpgp/read.go
  vendor/github.com/keybase/go-crypto/openpgp/write.go
  vendor/modules.txt
Labels: kind/refactor, lgtm/done

#10219 add TAGS variable prereq on make targets that use it
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#10239 Fix issue sidebar menus having an infinite height
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/less/_repository.less
Labels: backport/v1.11, kind/ui, lgtm/done

#10241 fix filter label emoji width
  web_src/less/_repository.less
Labels: backport/v1.11, kind/bug, kind/ui, lgtm/done

#10240 Backport - Fix issue sidebar menus having an infinite height
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#10243 Stop hanging issue indexer initialisation from preventing shutdown
  modules/indexer/issues/indexer.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10244 Fix filter label emoji width (#10241)
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#10242 Fix label menu text on miletone issues
  templates/repo/issue/milestone_issues.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#10237 SVG Octicon fixes
  .eslintrc
  templates/base/head.tmpl
  templates/repo/issue/view_title.tmpl
  web_src/js/features/contextPopup.js
  web_src/js/index.js
  web_src/js/utils.js
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#10235 fix margin on attached segments with headers
  web_src/less/_base.less
Labels: kind/ui, lgtm/done, skip-changelog

#10229 Add feishu webhook support
  models/webhook.go
  modules/auth/repo_form.go
  modules/setting/webhook.go
  modules/structs/hook.go
  modules/webhook/feishu.go
  modules/webhook/webhook.go
  options/locale/locale_en-US.ini
  public/img/feishu.png
  routers/repo/webhook.go
  routers/routes/routes.go
  templates/admin/hook_new.tmpl
  templates/org/settings/hook_new.tmpl
  templates/repo/settings/webhook/feishu.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/repo/settings/webhook/new.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done

#10248 Fix queue pop error and stat empty repository error
  modules/indexer/stats/db.go
  modules/queue/queue_redis.go
  modules/queue/unique_queue_redis.go
Labels: kind/bug, lgtm/done, skip-changelog

#10249 Stop hanging issue indexer initialisation from preventing shutdown (#10243)
  modules/indexer/issues/indexer.go
Labels: kind/bug, lgtm/done

#10255 Add note about which version embedded tool is implemented
  docs/content/doc/advanced/cmd-embedded.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#9311 Add API branch protection endpoint
  integrations/api_branch_test.go
  models/org_team.go
  models/user.go
  modules/convert/convert.go
  modules/structs/repo_branch.go
  routers/api/v1/api.go
  routers/api/v1/repo/branch.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#10227 Fix reply on code review
  templates/repo/diff/comment_form.tmpl
  web_src/js/index.js
Labels: backport/v1.11, kind/bug, lgtm/done

#10257 Fix reply on code review
  templates/repo/diff/comment_form.tmpl
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#10263 Update discord link in docs
  docs/config.yaml
Labels: kind/docs, lgtm/done

#10261 Fix reply on code review
  public/js/index.js
  templates/repo/diff/comment_form.tmpl
Labels: kind/bug, lgtm/done

#10251 Index code and stats only for non-empty repositories
  models/fixtures/repository.yml
  models/repo_indexer.go
  models/repo_language_stats.go
  modules/indexer/stats/queue.go
Labels: kind/enhancement, lgtm/done

#10247 Fix "access" fixtures and tests
  integrations/api_repo_test.go
  models/access_test.go
  models/fixture_access_test.go
  models/fixtures/access.yml
  models/fixtures/collaboration.yml
  models/fixtures/repo_unit.yml
Labels: kind/testing, lgtm/done

#10277 Move fixture generation to contrib and add test
  contrib/fixtures/fixture_generation.go
  models/fixture_access_test.go
  models/fixture_generation.go
  models/fixture_test.go
  models/unit_tests.go
Labels: kind/testing, lgtm/done

#10176 Divide GetIssueStats query in smaller chunks
  models/issue.go
  models/models.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10282 Divide GetIssueStats query in smaller chunks (#10176)
  models/issue.go
  models/models.go
Labels: kind/bug, lgtm/done

#10283 Fix Workerpool deadlock
  modules/queue/queue_channel_test.go
  modules/queue/workerpool.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10284 Fix Workerpool deadlock (#10283)
  modules/queue/queue_channel_test.go
  modules/queue/workerpool.go
Labels: kind/bug, lgtm/done

#10285 Repo name added to automatically generated commit message when merging (#9997)
  models/pull.go
Labels: kind/bug, kind/ui, lgtm/done

#10270 Update Static Resources Documentation
  docs/content/doc/usage/reverse-proxies.en-us.md
Labels: kind/docs, lgtm/done

#10281 Notification: queue ui.go notification-service
  modules/notification/ui/ui.go
Labels: kind/enhancement, lgtm/done

#10292 Blacklist manifest.json & milestones user
  models/user.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10293 Blacklist manifest.json & milestones user (#10292)
  models/user.go
Labels: kind/bug, lgtm/done

#10296 make/pr: enforce vendor for run
  contrib/pr/checkout.go
Labels: kind/misc, lgtm/done

#10295 make: add release-sources
  Makefile
Labels: backport/done, backport/v1.11, kind/package, lgtm/done

#10298 make: add release-sources #10295
  Makefile
Labels: kind/package, lgtm/done, skip-changelog

#10297 ui: improve mobile review-box sizing
  web_src/less/_review.less
Labels: kind/ui, lgtm/done

#10294 v1.10.4 Changelog
  .drone.yml
  CHANGELOG.md
Labels: lgtm/done, skip-changelog

#10302 fix: set explicit POSTGRES_PASSWORD for pgsql on drone CI
  .drone.yml
Labels: backport/done, backport/v1.11, kind/misc, lgtm/done, skip-changelog

#10305 v1.10.4 Changelog (#10294)
  CHANGELOG.md
Labels: lgtm/done, skip-changelog

#10306 v1.10.4 Changelog (#10294)
  CHANGELOG.md
Labels: lgtm/done, skip-changelog

#10303 fix: set explicit POSTGRES_PASSWORD for pgsql on drone CI #10302
  .drone.yml
Labels: kind/misc, lgtm/done, skip-changelog

#10286 Create Changelog for v1.11.1 release
  CHANGELOG.md
Labels: lgtm/done, skip-changelog

#10291 Don't manually replace whitespace during render
  modules/markup/markdown/goldmark.go
  modules/markup/markup.go
Labels: kind/bug, lgtm/done

#10301 Truncate long commit message header
  templates/repo/commit_page.tmpl
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
Labels: backport/v1.11, kind/bug, lgtm/done

#10315 Don't manually replace whitespace during render (#10291)
  modules/markup/markdown/goldmark.go
  modules/markup/markup.go
Labels: kind/bug, lgtm/done

#10317 Set the initial commit status to Success otherwise it will always be Pending
  services/pull/commit_status.go
Labels: backport/v1.11, kind/bug, lgtm/done, priority/critical

#10318 Set the initial commit status to Success otherwise it will always be Pending (#10317)
  services/pull/commit_status.go
Labels: kind/bug, lgtm/done, priority/critical

#10321 Create Changelog for v1.11.1 release (#10286)
  CHANGELOG.md
Labels: lgtm/done, skip-changelog

#10320 Inject SVG sprite via ajax
  modules/templates/helper.go
  templates/pwa/serviceworker_js.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#10310 Fix migration information update bug when linked github account
  models/issue.go
  models/migrate.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10324 Fix cron.repo_health_check schedule example in config cheat sheet
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#10328 Fix JS and Vue SVG
  templates/user/dashboard/dashboard.tmpl
  web_src/js/utils.js
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#10319 Truncate long commit message header (#10301)
  templates/repo/commit_page.tmpl
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done

#10331 Fix notification
  modules/notification/ui/ui.go
Labels: kind/bug, lgtm/done, skip-changelog

#10330 Do docker releases for pushes to release branches
  .drone.yml
Labels: backport/v1.11, kind/build, lgtm/done, skip-changelog

#10341 Fix protected branch status check settings
  web_src/js/index.js
Labels: backport/v1.11, kind/bug, lgtm/done

#10342 Prevent nil pointer in GetPullRequestCommitStatusState
  services/pull/commit_status.go
Labels: backport/v1.11, kind/bug, lgtm/done, priority/critical

#10343 Fix status check enable (#10341)
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#10344 Prevent nil pointer in GetPullRequestCommitStatusState (#10342)
  services/pull/commit_status.go
Labels: kind/bug, lgtm/done

#10345 Revert "Do docker releases for pushes to release branches"
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#9826 [Docs] Database Preparation
  docs/content/doc/installation/database-preparation.en-us.md
Labels: kind/docs, lgtm/done

#10348 Set max-width on review-box comment box
  web_src/less/_review.less
Labels: backport/v1.11, kind/bug, kind/ui, lgtm/done

#10346 Reading pull attachments should depend on read UnitTypePullRequests
  models/attachment.go
  models/attachment_test.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10353 Set max-width on review-box comment box (#10348)
  web_src/less/_review.less
Labels: kind/bug, lgtm/done

#10349 Re-order GPG signing docs and fix code blocks
  docs/content/doc/advanced/signing.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#10354 Reading pull attachments should depend on read UnitTypePullRequests (#10346)
  models/attachment.go
  models/attachment_test.go
Labels: kind/bug, lgtm/done

#10350 remove release-dirs make target
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#10358 Change loading animation frame order
  public/img/loading.png
Labels: kind/proposal, kind/ui, lgtm/done, skip-changelog

#10370 fix typo of english content page
  docs/content/page/index.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#10372 optimize public/img/loading.png
  public/img/loading.png
Labels: kind/ui, lgtm/done, skip-changelog

#10364 Fix wrong num closed issues on repository when close issue via commit
  integrations/api_issue_test.go
  models/issue.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10380 Fix wrong num closed issues on repository when close issue via commit… (#10364)
  integrations/api_issue_test.go
  models/issue.go
Labels: kind/bug, lgtm/done

#10256 Add detected file language to code search
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/repo-indexer.en-us.md
  modules/analyze/code_langauge.go
  modules/git/repo_language_stats.go
  modules/indexer/code/bleve.go
  modules/indexer/code/bleve_test.go
  modules/indexer/code/indexer.go
  modules/indexer/code/search.go
  modules/indexer/code/wrapped.go
  modules/setting/indexer.go
  options/locale/locale_en-US.ini
  routers/home.go
  routers/repo/search.go
  templates/explore/code.tmpl
  templates/repo/search.tmpl
  vendor/github.com/blevesearch/bleve/analysis/analyzer/keyword/keyword.go
  vendor/github.com/blevesearch/bleve/analysis/tokenizer/single/single.go
  vendor/modules.txt
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: changelog, kind/enhancement, lgtm/done

#10382 fix input[type=file] on dark theme
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#10386 More Octicon fixes
  templates/explore/repo_list.tmpl
  templates/org/home.tmpl
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#10397 Ensure only own addresses are updated
  models/user.go
  models/user_mail.go
Labels: backport/v1.11, kind/security, lgtm/done

#10399 Ensure only own addresses are updated (#10397)
  models/user.go
  models/user_mail.go
Labels: kind/security, lgtm/done

#10403 Prevent panic on merge to PR
  integrations/git_test.go
  services/pull/pull.go
Labels: backport/v1.11, kind/bug, lgtm/done

#10408 Prevent panic on merge to PR (#10403)
  integrations/git_test.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#10361 Render READMEs in docs/ .gitea or .github from root
  integrations/sqlite.ini
  modules/git/error.go
  modules/git/tree_entry.go
  options/locale/locale_en-US.ini
  routers/repo/view.go
  templates/repo/view_file.tmpl
  web_src/less/_repository.less
Labels: kind/feature, lgtm/done

#10325 Add frontend/backend make targets, fix source release
  .gitignore
  Makefile
  README.md
  docs/content/doc/installation/from-source.en-us.md
Labels: backport/v1.11, kind/build, lgtm/done

#10414 Backport: Add frontend/backend make targets, fix source release (#10325)
  .gitignore
  Makefile
  README.md
  docs/content/doc/installation/from-source.en-us.md
Labels: kind/build, lgtm/done

#10373 Handle push rejection message in Merge & Web Editor
  models/error.go
  modules/repofiles/temp_repo.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/repo/editor.go
  routers/repo/pull.go
  routers/utils/utils.go
  services/pull/merge.go
Labels: backport/v1.11, kind/bug, kind/feature, lgtm/done

#10406 Fix profile page CSS
  web_src/less/_user.less
Labels: kind/bug, kind/ui, lgtm/done

#10400 [Docs] Update Integrations README
  integrations/README.md
Labels: kind/docs, lgtm/done

#10416 Various dark theme fixes
  web_src/less/_editor.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#10245 Support NODE_ENV in webpack
  webpack.config.js
Labels: kind/build, lgtm/done, skip-changelog

#10402 Prevent Firefox from using apple-touch-icon
  .gitignore
  custom/conf/app.ini.sample
  routers/routes/routes.go
  templates/base/head.tmpl
Labels: kind/ui, lgtm/done
