Repository go-gitea/gitea, pull requests merged in 2020-10, with the labels that each got.

#12991 Prevent empty div when editing comment (#12404)
  routers/repo/issue.go
  templates/repo/issue/view_content/attachments.tmpl
Labels: kind/bug, lgtm/done

#12993 Refactor use TrimSuffix instead of TrimRight
  cmd/web.go
  models/user.go
  modules/setting/setting.go
Labels: kind/refactor, lgtm/done, skip-changelog

#12988 Copy missing things from app.example.ini to Cheat Sheet
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  options/locale/locale_en-US.ini
Labels: kind/docs, lgtm/done

#12990 allow U2F with default settings for gitea in subpath
  modules/setting/setting.go
Labels: backport/v1.12, kind/bug, lgtm/done

#13001 allow U2F with default settings for gitea in subpath (#12990)
  modules/setting/setting.go
Labels: kind/bug, lgtm/done

#13002 Changelog 1.12.5
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#13003 Changelog 1.12.5 (#13002)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#13005 latest version is 1.12.5
  docs/config.yaml
Labels: lgtm/done

#13008 Fix repository create/delete event webhooks
  modules/notification/webhook/webhook.go
  services/repository/repository.go
Labels: kind/bug, lgtm/done

#13006 Fix 500 on README in submodule
  modules/git/tree_blob.go
Labels: backport/v1.12, kind/bug, lgtm/done

#13011 Remove code-view class from diff view
  templates/repo/diff/box.tmpl
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#13016 Fix 500 on README in submodule (#13006)
  modules/git/tree_blob.go
Labels: kind/bug, lgtm/done

#13009 Fix the color of PR comment hyperlinks.
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#13019 Update comparison for GitLab CE
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done

#12989 Fix formatting of branches ahead-behind on narrow windows
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#12594 hCaptcha Support
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  go.mod
  go.sum
  modules/auth/user_form.go
  modules/auth/user_form_auth_openid.go
  modules/hcaptcha/hcaptcha.go
  modules/recaptcha/recaptcha.go
  modules/setting/service.go
  modules/setting/setting.go
  routers/user/auth.go
  routers/user/auth_openid.go
  templates/base/footer.tmpl
  templates/user/auth/signup_inner.tmpl
  templates/user/auth/signup_openid_register.tmpl
  vendor/go.jolheiser.com/hcaptcha/.gitignore
  vendor/go.jolheiser.com/hcaptcha/LICENSE
  vendor/go.jolheiser.com/hcaptcha/Makefile
  vendor/go.jolheiser.com/hcaptcha/README.md
  vendor/go.jolheiser.com/hcaptcha/error.go
  vendor/go.jolheiser.com/hcaptcha/go.mod
  vendor/go.jolheiser.com/hcaptcha/hcaptcha.go
  vendor/go.jolheiser.com/hcaptcha/response.go
  vendor/modules.txt
  web_src/less/_form.less
Labels: kind/enhancement, lgtm/done

#13025 Avoid setting the CONN_STR in queues unless it is meant to be set
  modules/setting/queue.go
  modules/setting/task.go
Labels: kind/bug, lgtm/done

#13024 CSS tweaks to warning/error segments and misc fixes
  templates/org/settings/delete.tmpl
  templates/repo/settings/options.tmpl
  templates/user/settings/account.tmpl
  web_src/less/_base.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#12994 Return sample message for login error in api context
  modules/context/auth.go
Labels: kind/api, kind/enhancement, lgtm/done

#13027 [Backport] Fix repository create/delete event webhooks (#13008)
  modules/notification/webhook/webhook.go
  services/repository/repository.go
Labels: kind/bug, lgtm/done

#13030 updated docs with caveat for authorized_keys
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#13026 [#13004] Add Timestamp to Tag list API
  modules/convert/git_commit.go
  modules/convert/git_commit_test.go
  modules/structs/repo_commit.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#12465 Attachments: Add extension support, allow all types for releases
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/attachment_test.go
  models/twofactor.go
  modules/secret/secret.go
  modules/secret/secret_test.go
  modules/setting/attachment.go
  modules/setting/repository.go
  modules/upload/filetype.go
  modules/upload/filetype_test.go
  modules/upload/upload.go
  modules/upload/upload_test.go
  routers/api/v1/repo/release_attachment.go
  routers/repo/attachment.go
  routers/repo/compare.go
  routers/repo/editor.go
  routers/repo/issue.go
  routers/repo/pull.go
  routers/repo/release.go
  routers/routes/routes.go
  templates/repo/editor/upload.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/release/new.tmpl
  templates/repo/upload.tmpl
  web_src/js/index.js
Labels: kind/breaking, kind/feature, lgtm/done

#13007 (Re)Load issue labels when changing them
  models/issue.go
  models/issue_label.go
Labels: kind/bug, lgtm/done

#13039 Fix Issue & Pull Request comment headers on mobile
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done

#13035 Fix Pull Request merge buttons on mobile
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#13041 Fix error create comment on outdated file
  services/pull/review.go
Labels: backport/v1.12, kind/bug, lgtm/done

#13040 Adding visual cue for "Limited" & "Private" organizations.
  options/locale/locale_en-US.ini
  templates/org/header.tmpl
  templates/org/home.tmpl
  templates/user/dashboard/navbar.tmpl
  web_src/less/_dashboard.less
  web_src/less/_organization.less
Labels: kind/ui, lgtm/done

#13042 Fix error create comment on outdated file (#13041)
  services/pull/review.go
Labels: kind/bug, lgtm/done

#13050 [Docs] Update GitNex Link
  docs/content/doc/advanced/third-party-tools.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#13049 fix: case typo
  routers/api/v1/settings/settings.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#13046 Add GitTouch to mobile tools list
  docs/content/doc/advanced/third-party-tools.en-us.md
Labels: kind/docs, lgtm/done

#13058 Mitigate Security vulnerability in the git hook feature
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  options/locale/locale_en-US.ini
Labels: kind/breaking, lgtm/done

#13064 Disable Git Hooks by default
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
  modules/setting/setting.go
Labels: lgtm/done, skip-changelog

#13032 Gitea serv, hooks, manager and the like should always display Fatals
  cmd/serv.go
Labels: kind/enhancement, lgtm/done

#13069 Avoid setting the CONN_STR in issue indexer queue unless it is meant to be set
  modules/setting/indexer.go
Labels: kind/bug, lgtm/done, priority/critical, skip-changelog

#13074 fix a small nit
  modules/setting/git.go
Labels: kind/misc, lgtm/done, skip-changelog

#13072 Hide sync ssh keys button on admin dashboard if ssh disabled or builtin-ssh enabled
  routers/admin/admin.go
  templates/admin/dashboard.tmpl
Labels: kind/misc, lgtm/done

#10109 Cache last commit when pushing for big repository
  modules/git/commit_info.go
  modules/git/notes.go
  modules/repository/cache.go
  services/repository/push.go
Labels: kind/enhancement, lgtm/done, reviewed/confirmed

#13077 Improve Docker container name
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#13081 Fix line break for MS teams webhook
  modules/webhook/msteams.go
Labels: kind/bug, lgtm/done

#13056 Disable DSA ssh keys by default
  custom/conf/app.example.ini
  docker/root/etc/templates/sshd_config
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/api_admin_test.go
  integrations/api_keys_test.go
  models/ssh_key_test.go
  modules/setting/setting.go
  routers/repo/settings_test.go
Labels: kind/breaking, kind/package, lgtm/done

#13078 Set appropriate `autocomplete` attributes on password fields
  templates/admin/auth/source/ldap.tmpl
  templates/admin/user/edit.tmpl
  templates/admin/user/new.tmpl
  templates/install.tmpl
  templates/org/settings/delete.tmpl
  templates/repo/settings/options.tmpl
  templates/user/auth/change_passwd_inner.tmpl
  templates/user/auth/reset_passwd.tmpl
  templates/user/auth/signin_inner.tmpl
  templates/user/auth/signup_inner.tmpl
  templates/user/settings/account.tmpl
Labels: kind/ui, lgtm/done

#13088 Change default log configuration
  docker/root/etc/templates/app.ini
  docs/content/doc/advanced/logging-documentation.en-us.md
  routers/install.go
Labels: kind/deployment, kind/docs, lgtm/done

#13093 Fix deadlock when deleting team user
  models/repo_permission.go
Labels: kind/bug, lgtm/done, priority/critical

#13092 Fix deadlock when deleting team user
  models/repo_permission.go
Labels: backport/done, backport/v1.12, kind/bug, lgtm/done, priority/critical

#13036 Fix attachments list in edit comment
  modules/upload/upload.go
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/attachments.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/upload.tmpl
  web_src/js/index.js
Labels: backport/v1.12, kind/bug, lgtm/done

#12281 Add ssh certificate support
  cmd/serv.go
  custom/conf/app.example.ini
  docker/root/etc/templates/sshd_config
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/ssh_key.go
  models/user.go
  modules/cron/tasks_extended.go
  modules/setting/setting.go
  modules/ssh/ssh.go
  options/locale/locale_en-US.ini
  routers/private/serv.go
  routers/user/setting/keys.go
  templates/admin/dashboard.tmpl
  templates/user/settings/keys.tmpl
  templates/user/settings/keys_principal.tmpl
Labels: kind/feature, lgtm/done

#13096 Log the underlying panic in runMigrateTask
  modules/task/migrate.go
Labels: backport/done, backport/v1.12, kind/bug, lgtm/done

#13098 Log the underlying panic in runMigrateTask (#13096)
  modules/task/migrate.go
Labels: kind/bug, lgtm/done

#13102 Update golangci-lint to version 1.31.0
  .golangci.yml
  Makefile
  main.go
  models/migrations/migrations.go
  modules/git/hook.go
  modules/log/stack.go
  modules/markup/html.go
  modules/markup/html_test.go
  modules/repository/check.go
  modules/setting/repository.go
  modules/setting/setting.go
  modules/structs/hook.go
  modules/upload/upload.go
  modules/util/sanitize.go
  modules/webhook/slack.go
  routers/install.go
  routers/repo/download.go
  routers/repo/editor.go
  routers/repo/http.go
  routers/repo/view.go
  routers/user/setting/security_twofa.go
  routers/utils/utils.go
  services/wiki/wiki.go
Labels: kind/bug, kind/build, lgtm/done

#13100 Migration Tool: Backport GitLab Label Color Normalizer (#12793)
  modules/migrations/gitlab.go
Labels: kind/bug, lgtm/done

#13103 Refactor NewGitlabDownloader
  modules/migrations/gitlab.go
Labels: kind/refactor, lgtm/done, skip-changelog

#13097 Fix attachments list in edit comment (#13036)
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/attachments.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#13101 Backport Migration Option AuthToken
  modules/migrations/gitea.go
  modules/migrations/gitea_test.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/migrations/migrate.go
  modules/structs/repo.go
Labels: kind/bug, lgtm/done

#13109 Update minio image version
  .drone.yml
Labels: kind/testing, lgtm/done

#13112 Improve error feedback for duplicate deploy keys
  models/error.go
  routers/api/v1/repo/key.go
  routers/repo/setting.go
Labels: kind/enhancement, lgtm/done

#13108 Prohibit automatic downgrades
  models/migrations/migrations.go
Labels: backport/done, backport/v1.12, kind/bug, lgtm/done

#13111 [Backport] Prohibit automatic downgrades (#13108)
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done

#13116 Fix args in tasks.json
  contrib/ide/vscode/tasks.json
Labels: kind/docs, lgtm/done

#12039 Add team support for review request
  models/error.go
  models/fixtures/review.yml
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v153.go
  models/repo.go
  models/repo_test.go
  models/review.go
  models/review_test.go
  routers/repo/issue.go
  services/issue/assignee.go
  services/pull/review.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/bug, kind/feature, lgtm/done

#13118 Return 404 not 500 from API if team does not exist
  routers/api/v1/api.go
Labels: backport/v1.12, kind/api, kind/bug, lgtm/done

#13119 Return 404 not 500 from API if team does not exist (#13118)
  routers/api/v1/api.go
Labels: kind/api, kind/bug, lgtm/done

#13124 Save TimeStamps for Star, Label, Follow, Watch and Collaboration to Database
  models/issue_label.go
  models/issue_label_test.go
  models/migrations/migrations.go
  models/migrations/v154.go
  models/repo_collaboration.go
  models/repo_watch.go
  models/star.go
  models/user_follow.go
Labels: kind/enhancement, lgtm/done

#13115 [API] If User is Admin, show 500 error message on PROD mode too
  models/migrations/migrations.go
  modules/context/api.go
Labels: kind/api, kind/enhancement, lgtm/done

#12978 Provide self-registering storage system
  cmd/migrate_storage.go
  models/unit_tests.go
  modules/setting/attachment.go
  modules/setting/lfs.go
  modules/setting/setting.go
  modules/setting/storage.go
  modules/storage/helper.go
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
Labels: kind/refactor, lgtm/done

#13125 Add API Section to Changelog
  .changelog.yml
Labels: kind/docs, kind/proposal, lgtm/done, skip-changelog

#12078 [Enhancement] Allow admin to merge pr with protected file changes
  models/branches.go
  models/migrations/migrations.go
  models/migrations/v155.go
  models/pull.go
  modules/repofiles/update.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/branch.go
  routers/api/v1/repo/pull.go
  routers/private/hook.go
  routers/repo/issue.go
  routers/repo/pull.go
  routers/repo/setting_protected_branch.go
  services/gitdiff/gitdiff.go
  services/pull/check.go
  services/pull/merge.go
  services/pull/patch.go
  services/pull/pull.go
  templates/repo/diff/box.tmpl
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/enhancement, lgtm/done

#13136 Finally fix diff names
  modules/repofiles/temp_repo.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: backport/v1.12, kind/bug, lgtm/done

#13140 Fix punctuation in trust model description
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done, skip-changelog

#13139 Finally fix diff names (#13136)
  modules/repofiles/temp_repo.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done

#13127 Show original author's reviews on pull summary box
  models/review.go
  routers/repo/issue.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, lgtm/done

#12516 Avatars and Repo avatars support storing in minio
  cmd/migrate_storage.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  integrations/mysql.ini.tmpl
  models/migrations/v115.go
  models/org.go
  models/repo.go
  models/repo_avatar.go
  models/repo_generate.go
  models/unit_tests.go
  models/user.go
  models/user_avatar.go
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  modules/setting/database.go
  modules/setting/picture.go
  modules/setting/setting.go
  modules/storage/storage.go
  routers/repo/setting.go
  routers/routes/routes.go
  routers/user/setting/profile.go
Labels: kind/feature, lgtm/done

#13143 Add HostCertificate lines to sshd_config
  docker/root/etc/templates/sshd_config
Labels: kind/enhancement, lgtm/done

#13142 Changelog v1.13.0-RC1
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#13144 Add back only missing translation for Latvian language
  options/locale/locale_de-DE.ini
  options/locale/locale_lv-LV.ini
Labels: kind/translation, lgtm/done, skip-changelog

#13145 Clean up mysql service in drone
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#13147 Use GO variable in go-check target (#13146)
  Makefile
Labels: kind/bug, lgtm/done

#13148 Show outdated comments in pull request
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_repository.less
Labels: backport/v1.13, kind/enhancement, lgtm/done

#13158 Enhance config cheat sheet on passwd quoting
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: lgtm/done

#13156 Fix Italian language file parsing error
  options/locale/locale_it-IT.ini
Labels: kind/bug, kind/translation, lgtm/done

#13165 Update external-renderers.en-us.md
  docs/content/doc/advanced/external-renderers.en-us.md
Labels: kind/docs, lgtm/done

#12976 Slightly simplify the queue settings code to help reduce the risk of problems
  modules/queue/helper.go
  modules/queue/setting.go
  modules/setting/queue.go
Labels: kind/refactor, lgtm/done

#13160 Change order of possible-owner organizations to alphabetical
  models/org.go
Labels: kind/enhancement, lgtm/done

#13162 Show outdated comments in pull request (#13148)
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_repository.less
Labels: kind/enhancement, lgtm/done

#10492 Improve users management through the CLI (#6001)
  cmd/admin.go
  docs/content/doc/usage/command-line.en-us.md
  models/user.go
Labels: kind/breaking, kind/enhancement, lgtm/done

#13164 Prevent panic on error whilst getting storage
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
  routers/routes/routes.go
Labels: backport/v1.13, kind/enhancement, lgtm/done

#13169 [Vendor] Update go-version to v1.2.4
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-version/README.md
  vendor/github.com/hashicorp/go-version/go.mod
  vendor/github.com/hashicorp/go-version/version.go
  vendor/modules.txt
Labels: backport/v1.13, kind/bug, lgtm/done

#13172 Update go-version v1.2.3 -> v1.2.4 (#13169)
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-version/README.md
  vendor/github.com/hashicorp/go-version/go.mod
  vendor/github.com/hashicorp/go-version/version.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#13154 Fix diff skipping lines
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: backport/v1.12, backport/v1.13, kind/bug, lgtm/done

#13155 Fix diff skipping lines
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done

#12856 [Refactor] Move APIFormat functions into convert package
  integrations/api_comment_test.go
  integrations/api_issue_reaction_test.go
  models/attachment.go
  models/commit_status.go
  models/issue_comment.go
  models/release.go
  models/repo.go
  models/user.go
  models/user_test.go
  models/userlist.go
  modules/convert/convert.go
  modules/convert/git_commit.go
  modules/convert/issue.go
  modules/convert/issue_comment.go
  modules/convert/pull.go
  modules/convert/release.go
  modules/convert/user.go
  modules/convert/user_test.go
  modules/notification/webhook/webhook.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_reaction.go
  routers/api/v1/repo/issue_subscription.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/release_attachment.go
  routers/api/v1/repo/release_tags.go
  routers/api/v1/repo/status.go
  routers/repo/issue.go
  routers/repo/webhook.go
Labels: kind/refactor, lgtm/done

#13187 IsErrNotValidReviewRequest should check if ErrNotValidReviewRequest not ErrReviewNotExist
  models/error.go
Labels: kind/bug, lgtm/done

#13188 Remove not relevant option from issue template
  .github/issue_template.md
Labels: lgtm/done, skip-changelog

#13178 When handling errors in storageHandler check underlying error
  modules/storage/minio.go
  routers/routes/routes.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13194 Add git command error directory on log
  routers/repo/http.go
Labels: lgtm/done

#13193 When handling errors in storageHandler check underlying error (#13178)
  modules/storage/minio.go
  routers/routes/routes.go
Labels: kind/enhancement, lgtm/done

#13200 Fix broken link to v1.130-rc1 tag in changelog
  CHANGELOG.md
Labels: backport/v1.13, kind/docs, lgtm/done

#13201 Apply to become a maintainer
  MAINTAINERS
Labels: lgtm/done

#13202 Fix broken link to v1.130-rc1 tag in changelog (#13200)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#13191 Fix error in diff html rendering
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: backport/v1.13, kind/bug, lgtm/done, skip-changelog

#13205 Fix size and clickable area on file table back link
  web_src/less/_repository.less
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#13207 Fix size and clickable area on file table back link (#13205)
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#13212 Align `SSH_AUTHORIZED_KEYS_BACKUP` var with the value in `app.ini`
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#13204 Use CSS Variables for fonts, remove postcss-loader
  docs/content/doc/advanced/customizing-gitea.en-us.md
  package-lock.json
  package.json
  web_src/less/_base.less
  web_src/less/_dashboard.less
  web_src/less/_editor.less
  web_src/less/_form.less
  web_src/less/_repository.less
  web_src/less/_review.less
  webpack.config.js
Labels: kind/refactor, kind/ui, lgtm/done

#13195 Move install pages out of main macaron routes
  cmd/web.go
  cmd/web_graceful.go
  modules/context/auth.go
  modules/graceful/manager.go
  modules/graceful/server.go
  routers/init.go
  routers/install.go
  routers/routes/routes.go
  templates/install.tmpl
  templates/post-install.tmpl
Labels: kind/enhancement, lgtm/done

#13213 Show stale label for stale code comment which is marked as resolved
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/ui, lgtm/done

#13214 Various arc-green fixes
  web_src/less/themes/theme-arc-green.less
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#13215 Various arc-green fixes (#13214)
  web_src/less/themes/theme-arc-green.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#13218 When the git ref is unable to be found return broken pr
  routers/repo/pull.go
Labels: backport/v1.13, kind/bug, lgtm/done

#11355 Add review request api
  integrations/api_issue_test.go
  integrations/api_pull_review_test.go
  integrations/gitea-repositories-meta/user3/repo3.git/objects/d2/2b4d4daa5be07329fcef6ed458f00cf3392da0
  integrations/gitea-repositories-meta/user3/repo3.git/objects/ec/f0db3c1ec806522de4b491fb9a3c7457398c61
  integrations/gitea-repositories-meta/user3/repo3.git/objects/ee/16d127df463aa491e08958120f2108b02468df
  integrations/gitea-repositories-meta/user3/repo3.git/refs/heads/test_branch
  models/error.go
  models/fixtures/issue.yml
  models/fixtures/pull_request.yml
  models/fixtures/repository.yml
  models/fixtures/review.yml
  models/review.go
  modules/convert/convert.go
  modules/convert/pull_review.go
  modules/structs/pull_review.go
  routers/api/v1/api.go
  routers/api/v1/repo/pull_review.go
  routers/api/v1/swagger/options.go
  routers/repo/issue.go
  services/issue/assignee.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#13224 Update heatmap fixtures to restore tests
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/user_heatmap_test.go
Labels: backport/done, backport/v1.12, backport/v1.13, kind/testing, lgtm/done, skip-changelog

#13225 Update heatmap fixtures to restore tests (#13224)
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/user_heatmap_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#13226 Update heatmap fixtures to restore tests (#13224)
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/user_heatmap_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#13221 Return the full rejection message and errors in flash errors
  options/locale/locale_en-US.ini
  routers/repo/branch.go
  routers/repo/editor.go
  routers/repo/pull.go
  routers/repo/repo.go
  routers/utils/utils.go
  templates/base/alert.tmpl
  templates/base/alert_details.tmpl
  web_src/less/_base.less
Labels: kind/enhancement, lgtm/done

#13222 Update some JS dependencies
  .eslintrc
  package-lock.json
  package.json
  web_src/js/features/emoji.js
  web_src/js/index.js
  web_src/js/utils.js
Labels: kind/refactor, lgtm/done, skip-changelog

#13234 go-version constraints ignore pre-releases
  modules/git/commit.go
  modules/git/git.go
  modules/git/repo_attribute.go
  modules/git/repo_commit.go
  modules/git/repo_tree.go
  modules/repofiles/temp_repo.go
  modules/repository/init.go
  modules/setting/git.go
  modules/setting/lfs.go
  routers/repo/lfs.go
  services/mirror/mirror.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#13235 add more clarification to the issue-template.md
  .github/issue_template.md
Labels: kind/docs, lgtm/done

#13237 Return the full rejection message and errors in flash errors (#13221)
  options/locale/locale_en-US.ini
  routers/repo/branch.go
  routers/repo/editor.go
  routers/repo/pull.go
  routers/repo/repo.go
  routers/utils/utils.go
  templates/base/alert.tmpl
  templates/base/alert_details.tmpl
  web_src/less/_base.less
Labels: kind/enhancement, lgtm/done

#13240 fix message key
  routers/repo/pull.go
Labels: kind/bug, kind/translation, lgtm/done, skip-changelog

#13245 Replace footer and modal icons with SVG
  templates/admin/auth/edit.tmpl
  templates/admin/repo/list.tmpl
  templates/admin/user/edit.tmpl
  templates/base/delete_modal_actions.tmpl
  templates/base/footer_content.tmpl
  templates/org/settings/delete.tmpl
  templates/org/team/new.tmpl
  templates/org/team/repositories.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/issue/labels/edit_delete_label.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/release/new.tmpl
  templates/repo/settings/collaboration.tmpl
  templates/repo/settings/deploy_keys.tmpl
  templates/repo/settings/webhook/delete_modal.tmpl
  templates/repo/wiki/view.tmpl
  templates/user/settings/account.tmpl
  templates/user/settings/applications.tmpl
  templates/user/settings/applications_oauth2.tmpl
  templates/user/settings/applications_oauth2_edit.tmpl
  templates/user/settings/keys_gpg.tmpl
  templates/user/settings/keys_principal.tmpl
  templates/user/settings/keys_ssh.tmpl
  templates/user/settings/repos.tmpl
  templates/user/settings/security_accountlinks.tmpl
  templates/user/settings/security_openid.tmpl
  templates/user/settings/security_twofa.tmpl
  templates/user/settings/security_u2f.tmpl
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#13239 Add better error checking for inline html diff code
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: backport/v1.13, lgtm/done

#13249 Fix initial commit page & binary munching problem
  services/gitdiff/gitdiff.go
Labels: backport/v1.12, backport/v1.13, kind/bug, lgtm/done

#13181 Update outdated label to use Fomantic UI style
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/ui, lgtm/done

#6025 Enhance release list
  models/migrations/migrations.go
  models/migrations/v156.go
  routers/repo/release.go
  services/release/release.go
  templates/repo/release/list.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/confirmed

#13208 Dockerfile: Support socat use cases
  Dockerfile
Labels: kind/enhancement, kind/package, lgtm/done

#13251 Add better error checking for inline html diff code
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#13247 More arc-green fixes
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#13180 Inform user of how disable SSH feature when installing using Docker
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#13229 Migrations: Gitea should not fail just because of no apiConfig return
  modules/migrations/gitea_downloader.go
Labels: backport/v1.13, kind/bug, lgtm/done, skip-changelog

#13258 Fix initial commit page & binary munching problem (#13249)
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done

#13259 Fix initial commit page & binary munching problem (#13249)
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done

#13254 Keep database transactions not too big
  models/migrations/v156.go
Labels: kind/bug, lgtm/done

#13266 add sdk links to docs
  docs/content/doc/advanced/api-usage.en-us.md
Labels: kind/docs, lgtm/done

#13256 Clarify app.example.ini documentation
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#13267 Fix arc theme label backgrounds
  web_src/less/themes/theme-arc-green.less
Labels: kind/bug, lgtm/done, skip-changelog

#13253 More arc-green fixes (#13247)
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#13276 Remove PAM from auth dropdown when unavailable
  modules/auth/pam/pam.go
  modules/auth/pam/pam_stub.go
  routers/admin/auths.go
Labels: backport/v1.13, kind/enhancement, lgtm/done

#13273 Migrations: Gitea should not fail just because of no apiConfig return (#13229)
  modules/migrations/gitea_downloader.go
Labels: kind/bug, kind/migration, lgtm/done, skip-changelog

#13275 Refactor docs
  docs/content/doc/advanced/ci-cd.en-us.md
  docs/content/doc/advanced/environment-variables.en-us.md
  docs/content/doc/advanced/environment-variables.zh-cn.md
  docs/content/doc/advanced/make.en-us.md
  docs/content/doc/advanced/migrations.en-us.md
  docs/content/doc/advanced/third-party-tools.en-us.md
  docs/content/doc/developers.en-us.md
  docs/content/doc/developers/api-usage.en-us.md
  docs/content/doc/developers/api-usage.zh-cn.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  docs/content/doc/developers/integrations.en-us.md
  docs/content/doc/developers/migrations.en-us.md
  docs/content/doc/developers/oauth2-provider.md
  docs/content/doc/help/faq.en-us.md
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-source.en-us.md
  docs/static/_redirects
Labels: kind/docs, lgtm/done

#13281 Remove PAM from auth dropdown when unavailable (#13276)
  modules/auth/pam/pam.go
  modules/auth/pam/pam_stub.go
  routers/admin/auths.go
Labels: kind/enhancement, lgtm/done

#13233 Avatar autogeneration fixed
  models/user.go
  models/user_avatar.go
  routers/user/setting/profile.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13105 #13091 - add new mirror button
  routers/org/home.go
  routers/repo/migrate.go
  templates/org/home.tmpl
  templates/repo/migrate/migrate.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#13246 Store task errors following migrations and display them
  models/task.go
  modules/task/migrate.go
  public/img/failed.png
  routers/repo/repo.go
  routers/routes/routes.go
  routers/user/task.go
  templates/repo/migrate/migrating.tmpl
  web_src/js/index.js
Labels: backport/v1.13, kind/bug, lgtm/done

#13284 Rearrange the order of the merged by etc. in locale
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#13287 Store task errors following migrations and display them (#13246)
  models/task.go
  modules/task/migrate.go
  public/img/failed.png
  routers/repo/repo.go
  routers/routes/routes.go
  routers/user/task.go
  templates/repo/migrate/migrating.tmpl
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#13289 Don't show "0" labels on repo tabs
  templates/repo/header.tmpl
Labels: kind/ui, lgtm/done

#13285 Ensure topics added using the API are added to the repository
  models/migrations/migrations.go
  models/migrations/v157.go
  models/topic.go
Labels: kind/bug, lgtm/done

#13292 Fix PR/Issue titles on mobile
  templates/repo/issue/view_title.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#13290 Remove duplicated repository.upload on cheat-sheet docs
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done
