Repository go-gitea/gitea, pull requests merged in 2020-09, with the labels that each got.

#12677 Fixes cli error for Asciidoctor
  docs/content/doc/advanced/external-renderers.en-us.md
Labels: kind/docs, lgtm/done

#12660 Remove duplicate logic in initListSubmits
  routers/repo/issue.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/js/index.js
Labels: kind/refactor, lgtm/done

#12669 Ensure that all migration requests are cancellable
  modules/migrations/base/downloader.go
  modules/migrations/gitea_test.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/migrations/migrate.go
Labels: kind/bug, lgtm/done

#12654 Set avatar image dimensions
  templates/user/profile.tmpl
Labels: kind/ui, lgtm/done

#12685 Escape failed highlighted files
  modules/highlight/highlight.go
Labels: kind/bug, lgtm/done

#12686 When reading expired sessions - expire them
  go.mod
  go.sum
  modules/session/memory.go
  modules/session/virtual.go
  vendor/gitea.com/macaron/session/file.go
  vendor/gitea.com/macaron/session/memory.go
  vendor/gitea.com/macaron/session/mysql/mysql.go
  vendor/gitea.com/macaron/session/postgres/postgres.go
  vendor/modules.txt
Labels: backport/v1.12, kind/bug, lgtm/done

#12689 Set TLS minimum version to 1.2
  modules/graceful/server.go
Labels: kind/security, lgtm/done

#12690 When reading expired sessions - expire them (#12686)
  go.mod
  go.sum
  modules/session/memory.go
  modules/session/virtual.go
  vendor/gitea.com/macaron/session/file.go
  vendor/gitea.com/macaron/session/memory.go
  vendor/gitea.com/macaron/session/mysql/mysql.go
  vendor/gitea.com/macaron/session/postgres/postgres.go
  vendor/modules.txt
Labels: kind/bug, kind/security, lgtm/done

#12652 [Backport] Make default StaticRootPath compile time settable (#12371)
  docs/content/doc/installation/from-source.en-us.md
  modules/setting/setting.go
Labels: lgtm/done

#12694 Upgrade xorm to v1.0.4
  go.mod
  go.sum
  vendor/modules.txt
  vendor/xorm.io/xorm/.drone.yml
  vendor/xorm.io/xorm/README.md
  vendor/xorm.io/xorm/dialects/mysql.go
  vendor/xorm.io/xorm/internal/utils/strings.go
  vendor/xorm.io/xorm/session.go
  vendor/xorm.io/xorm/session_tx.go
Labels: kind/build, lgtm/done, skip-changelog

#12212 Avoid sending "0 new commits" webhooks
  modules/webhook/webhook.go
  modules/webhook/webhook_test.go
Labels: kind/bug, lgtm/done

#12695 Migrations: Gitlab Add Reactions Support for Issues & MergeRequests
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
Labels: kind/enhancement, lgtm/done

#12692 [Backport] Fix comment broken issue ref dependence (#12651)
  models/issue.go
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#12698 Remove GOPATH set up on hacking
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#12688 Use argon as default password hash algorithm
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/fixtures/user.yml
  models/user.go
  models/user_test.go
  modules/setting/setting.go
Labels: kind/security, lgtm/done

#12687 Changelog for 1.12.4 release
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#12702 Update JS dependencies
  .eslintrc
  package-lock.json
  package.json
  public/img/svg/octicon-arrow-switch.svg
  public/img/svg/octicon-circle.svg
  public/img/svg/octicon-file-badge.svg
  public/img/svg/octicon-octoface.svg
  public/img/svg/octicon-triangle-down.svg
  public/img/svg/octicon-x-circle-fill.svg
  public/img/svg/octicon-x-circle.svg
Labels: dependencies, lgtm/done, skip-changelog

#12651 [BugFix] Fix comment broken issue ref dependence
  models/issue.go
  models/migrations/migrations.go
  models/migrations/v148.go
  routers/repo/issue.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12709 Changelog for 1.12.4 release (#12687)
  CHANGELOG.md
  docs/config.yaml
Labels: lgtm/done

#12708 [Backport] Fix go1.15 lint error in modules/public/public.go (#12707)
  modules/public/public.go
Labels: kind/lint, lgtm/done

#12707 Fix go1.15 lint error in modules/public/public.go
  modules/public/public.go
Labels: backport/done, backport/v1.12, kind/lint, lgtm/done

#12700 Add github api token option to generate-license & generate-gitignore
  build/generate-gitignores.go
  build/generate-licenses.go
Labels: lgtm/done

#12220 Add spent time to referenced issue in commit message
  docs/content/doc/usage/linked-references.en-us.md
  modules/references/references.go
  modules/references/references_test.go
  modules/repofiles/action.go
Labels: changelog, kind/feature, lgtm/done

#12713 UI: Inform user what meaning hourglass on reviews has
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#12715 Test ignore migration rate limitation error
  integrations/api_repo_test.go
Labels: kind/bug, kind/testing, lgtm/done, skip-changelog

#12714 API: Expose its limitation settings
  integrations/api_issue_reaction_test.go
  integrations/api_settings_test.go
  modules/structs/settings.go
  routers/api/v1/api.go
  routers/api/v1/settings/settings.go
  routers/api/v1/swagger/settings.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#12717 Bump min required golang to 1.13
  .drone.yml
  Makefile
  README.md
  docs/config.yaml
Labels: kind/build, lgtm/done

#12718 Only use async pre-empt hack if go < 1.15
  modules/git/command.go
Labels: kind/feature, lgtm/done

#12721 Add details re: Kanban to comparison docs
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#12636 Add 'make watch'
  Makefile
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
  tools/watch.sh
Labels: kind/build, lgtm/done

#12310 Refactor webhook payload convertion
  modules/webhook/dingtalk.go
  modules/webhook/dingtalk_test.go
  modules/webhook/discord.go
  modules/webhook/feishu.go
  modules/webhook/matrix.go
  modules/webhook/matrix_test.go
  modules/webhook/msteams.go
  modules/webhook/payloader.go
  modules/webhook/slack.go
  modules/webhook/slack_test.go
  modules/webhook/telegram.go
  modules/webhook/telegram_test.go
Labels: kind/refactor, lgtm/done

#12725 Use pre-built hugo binary in release step
  Makefile
Labels: kind/build, kind/docs, lgtm/done, skip-changelog

#12514 Expose Attachment Settings in the API
  integrations/api_settings_test.go
  modules/structs/settings.go
  routers/api/v1/api.go
  routers/api/v1/settings/settings.go
  routers/api/v1/swagger/settings.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#12458 additional data for type StopWatch in swagger api
  models/issue_stopwatch.go
  modules/structs/issue_stopwatch.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#12728 Update to go-org 1.3.2
  go.mod
  go.sum
  modules/markup/orgmode/orgmode_test.go
  vendor/github.com/dlclark/regexp2/.travis.yml
  vendor/github.com/dlclark/regexp2/regexp.go
  vendor/github.com/dlclark/regexp2/syntax/parser.go
  vendor/github.com/niklasfasching/go-org/org/block.go
  vendor/github.com/niklasfasching/go-org/org/document.go
  vendor/github.com/niklasfasching/go-org/org/headline.go
  vendor/github.com/niklasfasching/go-org/org/html_writer.go
  vendor/github.com/niklasfasching/go-org/org/inline.go
  vendor/github.com/niklasfasching/go-org/org/keyword.go
  vendor/github.com/niklasfasching/go-org/org/org_writer.go
  vendor/github.com/niklasfasching/go-org/org/table.go
  vendor/github.com/niklasfasching/go-org/org/writer.go
  vendor/golang.org/x/net/publicsuffix/table.go
  vendor/modules.txt
Labels: dependencies, lgtm/done

#12719 [Vendor] Switch go-version lib
  go.mod
  go.sum
  modules/git/command.go
  modules/git/commit.go
  modules/git/git.go
  modules/git/repo_attribute.go
  modules/git/repo_commit.go
  modules/git/repo_tag.go
  modules/git/repo_tree.go
  modules/repofiles/temp_repo.go
  modules/repository/init.go
  modules/setting/git.go
  modules/setting/setting.go
  routers/admin/admin.go
  routers/repo/lfs.go
  services/mirror/mirror.go
  services/pull/merge.go
  vendor/github.com/hashicorp/go-version/LICENSE
  vendor/github.com/hashicorp/go-version/README.md
  vendor/github.com/hashicorp/go-version/constraint.go
  vendor/github.com/hashicorp/go-version/go.mod
  vendor/github.com/hashicorp/go-version/version.go
  vendor/github.com/hashicorp/go-version/version_collection.go
  vendor/github.com/mcuadros/go-version/.gitignore
  vendor/github.com/mcuadros/go-version/.travis.yml
  vendor/github.com/mcuadros/go-version/LICENSE
  vendor/github.com/mcuadros/go-version/README.md
  vendor/github.com/mcuadros/go-version/compare.go
  vendor/github.com/mcuadros/go-version/constraint.go
  vendor/github.com/mcuadros/go-version/doc.go
  vendor/github.com/mcuadros/go-version/group.go
  vendor/github.com/mcuadros/go-version/normalize.go
  vendor/github.com/mcuadros/go-version/sort.go
  vendor/github.com/mcuadros/go-version/stability.go
  vendor/modules.txt
Labels: dependencies, kind/refactor, lgtm/done

#12662 Add Created & Updated to Milestone
  models/issue_milestone.go
  models/migrations/migrations.go
  models/migrations/v149.go
  modules/convert/issue.go
  modules/convert/issue_test.go
  modules/structs/issue_milestone.go
  options/locale/locale_en-US.ini
  templates/repo/issue/milestones.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, kind/ui, lgtm/done

#11726 refactor repo_stats to use os.pipe
  modules/git/command.go
  modules/git/repo_stats.go
Labels: kind/refactor, lgtm/done, reviewed/confirmed

#12734 Possibly fix race in queue tests
  modules/queue/queue_disk_channel_test.go
  modules/queue/queue_disk_test.go
Labels: kind/bug, kind/testing, lgtm/done

#12735 [Vendor] Fix Version Compare Lib
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-version/go.mod
  vendor/github.com/hashicorp/go-version/version.go
  vendor/modules.txt
Labels: dependencies, kind/bug, lgtm/done, skip-changelog

#12730 Implemet Cache for Stopwatches.APIFormat()
  models/issue_stopwatch.go
Labels: kind/api, kind/refactor, lgtm/done, skip-changelog

#12736 Fix bug on migration 111
  models/migrations/v111.go
Labels: backport/v1.12, kind/bug, lgtm/done, skip-changelog

#12738 Fix bug of migraition v111
  models/migrations/v111.go
Labels: kind/bug, lgtm/done, skip-changelog

#12742 ui: Show git-pull-request icon for closed pull request
  templates/repo/branch/list.tmpl
  templates/repo/issue/view_title.tmpl
Labels: kind/ui, lgtm/done

#12701 [Vendor] Update xanzy/go-gitlab v0.31.0 => v0.37.0
  go.mod
  go.sum
  modules/migrations/gitlab.go
  vendor/github.com/hashicorp/go-retryablehttp/.travis.yml
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/github.com/hashicorp/go-retryablehttp/roundtripper.go
  vendor/github.com/xanzy/go-gitlab/README.md
  vendor/github.com/xanzy/go-gitlab/branches.go
  vendor/github.com/xanzy/go-gitlab/client_options.go
  vendor/github.com/xanzy/go-gitlab/commits.go
  vendor/github.com/xanzy/go-gitlab/deployments.go
  vendor/github.com/xanzy/go-gitlab/epic_issues.go
  vendor/github.com/xanzy/go-gitlab/epics.go
  vendor/github.com/xanzy/go-gitlab/event_webhook_types.go
  vendor/github.com/xanzy/go-gitlab/gitlab.go
  vendor/github.com/xanzy/go-gitlab/group_clusters.go
  vendor/github.com/xanzy/go-gitlab/group_labels.go
  vendor/github.com/xanzy/go-gitlab/group_members.go
  vendor/github.com/xanzy/go-gitlab/group_milestones.go
  vendor/github.com/xanzy/go-gitlab/groups.go
  vendor/github.com/xanzy/go-gitlab/instance_clusters.go
  vendor/github.com/xanzy/go-gitlab/instance_variables.go
  vendor/github.com/xanzy/go-gitlab/issues.go
  vendor/github.com/xanzy/go-gitlab/issues_statistics.go
  vendor/github.com/xanzy/go-gitlab/labels.go
  vendor/github.com/xanzy/go-gitlab/license.go
  vendor/github.com/xanzy/go-gitlab/merge_requests.go
  vendor/github.com/xanzy/go-gitlab/milestones.go
  vendor/github.com/xanzy/go-gitlab/pipeline_schedules.go
  vendor/github.com/xanzy/go-gitlab/pipelines.go
  vendor/github.com/xanzy/go-gitlab/project_mirror.go
  vendor/github.com/xanzy/go-gitlab/project_snippets.go
  vendor/github.com/xanzy/go-gitlab/projects.go
  vendor/github.com/xanzy/go-gitlab/protected_branches.go
  vendor/github.com/xanzy/go-gitlab/repository_files.go
  vendor/github.com/xanzy/go-gitlab/runners.go
  vendor/github.com/xanzy/go-gitlab/services.go
  vendor/github.com/xanzy/go-gitlab/tags.go
  vendor/github.com/xanzy/go-gitlab/types.go
  vendor/github.com/xanzy/go-gitlab/users.go
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/tools/internal/analysisinternal/analysis.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/modules.txt
Labels: dependencies, lgtm/need 1, skip-changelog

#12743 [API] Add better Swagger description and a example for GetArchive
  routers/api/v1/repo/file.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/docs, lgtm/done, skip-changelog

#12744 Fix editor.commit_empty_file_text locale string
  options/locale/locale_en-US.ini
Labels: kind/bug, lgtm/done

#12745 Fix Avatar Resize (resize algo NearestNeighbor -> Bilinear)
  go.mod
  go.sum
  modules/avatar/avatar.go
  vendor/github.com/nfnt/resize/.travis.yml
  vendor/github.com/nfnt/resize/README.md
  vendor/github.com/nfnt/resize/resize.go
  vendor/github.com/nfnt/resize/ycc.go
  vendor/modules.txt
Labels: backport/v1.12, kind/bug, lgtm/done

#12746 [BugFix] Create Repository Respect AlternateDefaultBranch
  modules/repository/create.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12750 [Backport] Fix Avatar Resize (resize algo NearestNeighbor -> Bilinear) (#12745)
  go.mod
  go.sum
  modules/avatar/avatar.go
  vendor/github.com/nfnt/resize/.travis.yml
  vendor/github.com/nfnt/resize/README.md
  vendor/github.com/nfnt/resize/resize.go
  vendor/github.com/nfnt/resize/ycc.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#12407 Add command to recreate tables
  cmd/doctor.go
  docs/content/doc/usage/command-line.en-us.md
  integrations/migration-test/migration_test.go
  models/migrations/migrations.go
  models/models.go
Labels: kind/feature, lgtm/done

#12752 Set setting.AppURL as GITEA_ROOT_URL environment variable during pushes
  cmd/serv.go
  models/helper_environment.go
  routers/repo/http.go
Labels: kind/feature, lgtm/done

#12760 gitea dump: include version & Check InstallLock
  cmd/dump.go
  models/models.go
  models/models_test.go
Labels: backport/v1.12, kind/enhancement, lgtm/done

#12753 Compare SSH_DOMAIN when parsing submodule URLs
  modules/git/submodule.go
  modules/git/submodule_test.go
  routers/repo/view.go
  templates/repo/view_list.tmpl
Labels: kind/bug, lgtm/done

#12762 gitea dump: include version & Check InstallLock (#12760)
  cmd/dump.go
  models/models.go
  models/models_test.go
Labels: kind/enhancement, lgtm/done

#12761 Removing k8s contrib file
  contrib/k8s/gitea.yml
Labels: lgtm/done

#12518 LFS support to be stored on minio
  cmd/migrate_storage.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  integrations/lfs_getobject_test.go
  integrations/mysql.ini.tmpl
  models/lfs.go
  models/unit_tests.go
  modules/lfs/content_store.go
  modules/lfs/pointers.go
  modules/lfs/server.go
  modules/repofiles/update.go
  modules/repofiles/upload.go
  modules/setting/lfs.go
  modules/setting/setting.go
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
  routers/repo/lfs.go
Labels: kind/enhancement, lgtm/done

#9080 Change/remove a branch of an open issue
  models/issue.go
  modules/notification/base/notifier.go
  modules/notification/base/null.go
  modules/notification/indexer/indexer.go
  modules/notification/notification.go
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  routers/routes/routes.go
  services/issue/issue.go
  templates/repo/issue/branch_selector_field.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done, reviewed/confirmed

#12635 File header tweaks, add CSS helpers
  .stylelintrc
  modules/templates/helper.go
  templates/repo/view_file.tmpl
  web_src/less/_repository.less
  web_src/less/helpers.less
  web_src/less/index.less
Labels: kind/ui, lgtm/done, skip-changelog

#12765 Upgrade xorm to v1.0.5
  go.mod
  go.sum
  vendor/modules.txt
  vendor/xorm.io/xorm/CHANGELOG.md
  vendor/xorm.io/xorm/Makefile
  vendor/xorm.io/xorm/dialects/mssql.go
  vendor/xorm.io/xorm/dialects/postgres.go
  vendor/xorm.io/xorm/internal/statements/update.go
  vendor/xorm.io/xorm/internal/statements/values.go
  vendor/xorm.io/xorm/schemas/quote.go
Labels: dependencies, lgtm/done

#12716 Check passwords against HaveIBeenPwned
  cmd/admin.go
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  go.mod
  go.sum
  modules/password/password.go
  modules/password/pwn.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/admin/users.go
  routers/api/v1/admin/user.go
  routers/user/auth.go
  routers/user/setting/account.go
  vendor/go.jolheiser.com/pwn/.gitignore
  vendor/go.jolheiser.com/pwn/LICENSE
  vendor/go.jolheiser.com/pwn/Makefile
  vendor/go.jolheiser.com/pwn/README.md
  vendor/go.jolheiser.com/pwn/error.go
  vendor/go.jolheiser.com/pwn/go.mod
  vendor/go.jolheiser.com/pwn/password.go
  vendor/go.jolheiser.com/pwn/pwn.go
  vendor/modules.txt
Labels: kind/feature, lgtm/done

#12771 Fix yet another bug with diff file names
  modules/templates/helper.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done

#12780 Add MySQL FAQ section
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done

#12776 Fix yet another bug with diff file names (#12771)
  modules/templates/helper.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done

#12697 Add a migrate service type switch page
  integrations/repo_migrate_test.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-git.svg
  public/img/svg/gitea-github.svg
  public/img/svg/gitea-gitlab.svg
  routers/repo/migrate.go
  routers/repo/repo.go
  routers/repo/view.go
  templates/repo/migrate/git.tmpl
  templates/repo/migrate/github.tmpl
  templates/repo/migrate/gitlab.tmpl
  templates/repo/migrate/migrate.tmpl
  templates/repo/migrate/migrating.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/js/features/migration.js
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
  web_src/svg/gitea-git.svg
  web_src/svg/gitea-github.svg
  web_src/svg/gitea-gitlab.svg
Labels: changelog, kind/enhancement, lgtm/done

#12775 Fix "only mail on mention" bug
  models/user.go
  models/user_test.go
  services/mailer/mail_issue.go
  services/mailer/mail_release.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12785 Set language via AJAX
  templates/base/footer_content.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#12782 Update JS dependencies
  package-lock.json
  package.json
  semantic.json
  webpack.config.js
Labels: dependencies, lgtm/done

#12790 Return error when creating gitlabdownloader failed
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
Labels: lgtm/done

#12789 Fix "only mail on mention" bug (#12775)
  models/user.go
  models/user_test.go
  services/mailer/mail_issue.go
Labels: kind/bug, lgtm/done

#12793 GitLab Migration: Normalize Labels Color
  modules/migrations/gitlab.go
Labels: kind/bug, lgtm/done

#12792 Add placeholder text for bio profile text form
  options/locale/locale_en-US.ini
  templates/user/settings/profile.tmpl
Labels: kind/ui, lgtm/done

#10869 Add check for LDAP group membership
  modules/auth/auth_form.go
  modules/auth/ldap/README.md
  modules/auth/ldap/ldap.go
  options/locale/locale_en-US.ini
  routers/admin/auths.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/ldap.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#12797 Fix readme format
  README.md
Labels: kind/docs, lgtm/done, skip-changelog

#11668 ui: change commentTag style
  models/issue.go
  routers/repo/issue.go
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/ui, lgtm/done, reviewed/confirmed

#12639 Add Primary Key to Topic and RepoTopic tables
  models/migrations/migrations.go
  models/migrations/v150.go
  models/topic.go
Labels: kind/breaking, kind/bug, lgtm/done

#12806 Update gitea.com/macaron/i18n
  go.mod
  go.sum
  vendor/gitea.com/macaron/i18n/.gitignore
  vendor/gitea.com/macaron/i18n/go.mod
  vendor/gitea.com/macaron/i18n/go.sum
  vendor/gitea.com/macaron/i18n/i18n.go
  vendor/github.com/unknwon/i18n/README.md
  vendor/github.com/unknwon/i18n/codecov.yml
  vendor/github.com/unknwon/i18n/i18n.go
  vendor/gopkg.in/ini.v1/file.go
  vendor/gopkg.in/ini.v1/ini.go
  vendor/modules.txt
Labels: dependencies, lgtm/done

#12672 [API] Migration: Change ServiceType String
  integrations/api_repo_test.go
  models/task.go
  modules/auth/repo_form.go
  modules/convert/utils.go
  modules/migrations/base/options.go
  modules/migrations/gitea.go
  modules/migrations/gitea_test.go
  modules/repository/repo.go
  modules/structs/repo.go
  modules/task/migrate.go
  routers/api/v1/api.go
  routers/api/v1/repo/migrate.go
  routers/api/v1/swagger/options.go
  routers/repo/migrate.go
  services/mirror/mirror_test.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/refactor, lgtm/done

#12809 Remove double escape on labels addition in comments
  templates/repo/issue/view_content/comments.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#12810 Remove double escape on labels addition in comments (#12809)
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, lgtm/done

#12803 Set opengraph attributes on org pages
  routers/org/home.go
Labels: kind/bug, lgtm/done

#12804 Whilst changing the character set to utf8mb4 we should set ROW_FORMAT=dynamic too
  models/convert.go
Labels: kind/bug, lgtm/done

#12634 Add postgres schema to the search_path on database connection
  integrations/integration_test.go
  models/models.go
Labels: kind/feature, lgtm/done

#12807 Disable watch and star if not signed in
  options/locale/locale_en-US.ini
  templates/repo/header.tmpl
Labels: kind/bug, lgtm/done

#12808 Show PR settings on empty repos
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done

#10133 Move all push update operations to a queue
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
  modules/repofiles/action.go
  modules/repofiles/action_test.go
  modules/repofiles/update.go
  routers/api/v1/repo/branch.go
  routers/init.go
  routers/private/hook.go
  routers/repo/branch.go
  routers/repo/pull.go
  services/repository/push.go
  services/repository/push_test.go
  services/repository/repository.go
Labels: kind/enhancement, lgtm/done, reviewed/confirmed

#11450 Issue templates directory
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  modules/context/repo.go
  modules/markup/markdown/meta.go
  modules/structs/issue.go
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/repo.go
  routers/api/v1/swagger/issue.go
  routers/repo/compare.go
  routers/repo/issue.go
  routers/repo/milestone.go
  routers/routes/routes.go
  templates/repo/issue/choose.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view.tmpl
  templates/swagger/v1_json.tmpl
Labels: changelog, kind/feature, lgtm/done

#12821 Translate two small lables on commit statuse list
  options/locale/locale_en-US.ini
  templates/repo/pulls/status.tmpl
Labels: kind/translation, lgtm/done

#12811 Fix bug on elastic search
  modules/indexer/code/elastic_search.go
  modules/indexer/code/elastic_search_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#12805 Don't replace underscores in auto-generated IDs in goldmark
  modules/markup/common/footnote.go
Labels: kind/breaking, kind/bug, kind/ui, lgtm/done

#12817 Fix markdown meta parsing
  modules/markup/markdown/meta.go
  modules/markup/markdown/meta_test.go
Labels: kind/bug, lgtm/done

#12830 fix: use Base36 for all code indexers
  modules/indexer/code/bleve.go
  modules/indexer/code/indexer.go
Labels: kind/bug, lgtm/done

#12649 [API] Milestone endpoints accept names too
  integrations/api_issue_milestone_test.go
  routers/api/v1/repo/milestone.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/breaking, lgtm/done

#12834 Fix git open close bug
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#12837 Fix background of signed-commits on arc-green of timeline commits
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#12841 Fix external renderers example
  docs/content/doc/advanced/external-renderers.en-us.md
Labels: kind/docs, lgtm/done

#12839 Stop cloning unnecessarily on PR update
  services/pull/pull.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12838 Fix notifications page links
  routers/user/notification.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12852 Stop cloning unnecessarily on PR update (#12839)
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#12843 On Migration respect old DefaultBranch
  modules/migrations/base/repo.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/repository/repo.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12858 On Migration respect old DefaultBranch (#12843)
  modules/migrations/base/repo.go
  modules/migrations/gitea.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/repository/repo.go
Labels: kind/bug, lgtm/done

#12853 Fix notifications page links (#12838)
  routers/user/notification.go
Labels: kind/bug, lgtm/done

#12860 Don't keep running SetEngine in migration_test
  integrations/migration-test/migration_test.go
Labels: kind/build, lgtm/done, skip-changelog

#12862 Fix anonymous GL migration
  modules/migrations/gitlab.go
Labels: kind/bug, lgtm/done

#12857 Fix line selection on blame view
  web_src/js/index.js
  web_src/less/_base.less
Labels: kind/bug, lgtm/done, skip-changelog

#12784 Add migration for password algorithm change
  Makefile
  models/migrations/migrations.go
  models/migrations/v151.go
Labels: kind/bug, lgtm/done

#12848 Fix [API] [Bug] CreateRepo missing information
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#12850 Escape more things that are passed through str2html (#12622)
  routers/user/oauth.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/settings/protected_branch.tmpl
  templates/user/auth/activate.tmpl
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, lgtm/done

#12854 Simplify CheckUnitUser logic
  models/notification.go
  models/repo.go
  routers/home.go
  routers/repo/repo.go
Labels: kind/refactor, lgtm/done

#12824 Add ui style for "Open a blank issue" button
  options/locale/locale_en-US.ini
  templates/repo/issue/choose.tmpl
Labels: kind/ui, lgtm/done

#12822 Use a simple format for the big number on ui
  modules/base/tool.go
  modules/base/tool_test.go
  modules/templates/helper.go
  templates/repo/header.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/enhancement, lgtm/done

#12868 Fix migration v111
  models/migrations/v111.go
  models/review.go
Labels: kind/bug, lgtm/done

#12864 Support slashes in release tags
  routers/repo/release.go
  routers/routes/routes.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12882 Support slashes in release tags (#12864)
  routers/repo/release.go
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#12855 [API] Convert User expose ID each time
  integrations/api_pull_review_test.go
  integrations/api_user_search_test.go
  modules/convert/convert.go
  modules/convert/user.go
Labels: backport/v1.12, kind/api, kind/bug, lgtm/done

#12844 Ensure db is closed in migration test
  integrations/migration-test/migration_test.go
Labels: kind/bug, lgtm/done

#12867 Fix [API] CreateRepo missing information (#12848)
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#12881 Add size limit for content of comment on action ui
  modules/notification/action/action.go
Labels: kind/bug, kind/ui, lgtm/done

#12884 Fix pgsql migration test (#12844)
  integrations/migration-test/migration_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#12890 Add size limit for content of comment on action ui (#12881)
  modules/notification/action/action.go
Labels: kind/bug, lgtm/done

#12729 Refactor: move Commit To APIFormat Code & Lot of StopWatch related things
  integrations/api_issue_stopwatch_test.go
  models/issue_stopwatch.go
  modules/convert/convert.go
  modules/convert/git_commit.go
  modules/convert/issue.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/issue_stopwatch.go
Labels: kind/api, kind/refactor, lgtm/done

#12859 Switch to absolute latest pq driver
  go.mod
  go.sum
  vendor/github.com/lib/pq/.travis.yml
  vendor/github.com/lib/pq/README.md
  vendor/github.com/lib/pq/conn.go
  vendor/github.com/lib/pq/connector.go
  vendor/github.com/lib/pq/copy.go
  vendor/github.com/lib/pq/doc.go
  vendor/modules.txt
Labels: dependencies, lgtm/done, skip-changelog

#12883 Convert User expose ID each time (#12855)
  integrations/api_pull_review_test.go
  integrations/api_user_search_test.go
  modules/convert/convert.go
Labels: kind/api, kind/bug, lgtm/done

#12892 Fix panic when adding long comment
  modules/notification/action/action.go
Labels: backport/v1.12, kind/bug, lgtm/done, skip-changelog

#12894 Fix panic when adding long comment (#12892)
  modules/notification/action/action.go
Labels: kind/bug, lgtm/done

#11712 Add configurable Trust Models
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/gpg_key.go
  models/migrations/migrations.go
  models/migrations/v152.go
  models/pull_sign.go
  models/repo.go
  models/repo_sign.go
  modules/auth/repo_form.go
  modules/context/repo.go
  modules/git/repo_tree.go
  modules/repofiles/delete.go
  modules/repofiles/temp_repo.go
  modules/repofiles/update.go
  modules/repository/create.go
  modules/repository/generate.go
  modules/repository/init.go
  modules/setting/repository.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/repo.go
  routers/repo/issue.go
  routers/repo/repo.go
  routers/repo/setting.go
  services/pull/merge.go
  services/wiki/wiki.go
  templates/repo/create.tmpl
  templates/repo/settings/options.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#12885 Add the checkbox quick button to the comment tool bar also
  web_src/js/index.js
Labels: kind/ui, lgtm/done

#12900 Update only the repository columns that need updating
  services/repository/push.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12907 Not using "ctx.ServerError" in api
  routers/api/v1/misc/signing.go
  routers/api/v1/org/label.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/fork.go
  routers/api/v1/repo/label.go
  routers/api/v1/repo/milestone.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/pull_review.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#12910 Fix ListUserOrgs API
  routers/api/v1/org/org.go
Labels: kind/api, kind/bug, lgtm/done

#12901 [API] NotificationSubject show Issue/Pull State
  models/notification.go
  modules/structs/notifications.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#12912 Update only the repository columns that need updating (#12900)
  modules/repofiles/action.go
Labels: kind/bug, lgtm/done

#12915 Fix ListUserOrgs API (#12910)
  routers/api/v1/org/org.go
Labels: kind/bug, lgtm/done

#12863 Support GH enterprise
  modules/migrations/gitea_test.go
  modules/migrations/github.go
  modules/migrations/github_test.go
Labels: kind/enhancement, lgtm/done

#12918 Disable migration items when mirror is selected
  web_src/js/features/migration.js
Labels: kind/ui, lgtm/done

#12928 Fix handling of migration errors
  modules/auth/repo_form.go
  routers/repo/migrate.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#12924 Add missing </div>
  templates/repo/create.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#12940 Open transaction when adding Avatar email-hash pairs to the DB (#12577)
  models/avatar.go
Labels: kind/bug, lgtm/done

#12933 API: GetReleaseByID return 404 if not found
  routers/api/v1/repo/release.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, lgtm/done

#12275 Fixed count of filtered issues when api request.
  models/issue.go
  routers/api/v1/repo/issue.go
Labels: kind/api, kind/bug, lgtm/done

#12920 Adopt repositories 2
  custom/conf/app.example.ini
  models/error.go
  models/repo.go
  models/repo_list.go
  models/user.go
  modules/git/repo_branch.go
  modules/repository/adopt.go
  modules/repository/create.go
  modules/repository/fork.go
  modules/repository/generate.go
  modules/repository/init.go
  modules/setting/repository.go
  options/locale/locale_en-US.ini
  routers/admin/repos.go
  routers/api/v1/admin/adopt.go
  routers/api/v1/api.go
  routers/api/v1/repo/migrate.go
  routers/repo/migrate.go
  routers/repo/repo.go
  routers/repo/setting.go
  routers/routes/routes.go
  routers/user/setting/adopt.go
  routers/user/setting/profile.go
  services/repository/generate.go
  services/repository/repository.go
  templates/admin/repo/list.tmpl
  templates/admin/repo/unadopted.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/settings/repos.tmpl
  web_src/less/_admin.less
  web_src/less/_user.less
Labels: kind/feature, lgtm/done

#12942 Add IsTemplate option in create repo ui and api
  integrations/api_helper_for_declarative_test.go
  models/repo.go
  modules/auth/repo_form.go
  modules/repository/create.go
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  routers/repo/repo.go
  templates/repo/create.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/ui, lgtm/done

#12939 Allow extended config on cron settings
  modules/setting/cron.go
  modules/setting/cron_test.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12943 Allow extended config on cron settings (#12939)
  modules/setting/cron.go
  modules/setting/cron_test.go
Labels: kind/bug, lgtm/done

#12931 [Docs] Add all chooseable cron config options to 'app.example.ini'
  custom/conf/app.example.ini
Labels: kind/docs, lgtm/done, skip-changelog

#12932 API: Get release by tags endpoint
  integrations/api_releases_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/release_tags.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#12946 Proposals for cheat-sheet docs
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#12898 [Docs] Database Preparation: Add a step for binding IP address for listening on remote database
  docs/content/doc/installation/database-preparation.en-us.md
Labels: kind/docs, lgtm/done

#12947 Update GitHub docs links for SSH & GPG
  templates/user/settings/keys_gpg.tmpl
  templates/user/settings/keys_ssh.tmpl
Labels: kind/docs, lgtm/done

#12936 Add config option to make create-on-push repositories public by default
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/repository.go
  services/repository/repository.go
Labels: kind/enhancement, lgtm/done
