Repository go-gitea/gitea, pull requests merged in 2020-08, with the labels that each got.

#12387 Fix incorrect error logging in Stats indexer and OAuth2
  modules/auth/sso/oauth2.go
  modules/indexer/stats/queue.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12405 Fix milestone links
  templates/repo/issue/list.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/bug, lgtm/done

#12402 Add TOTP header to Swagger Documentation
  routers/api/v1/api.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/docs, lgtm/done

#12401 Split up monaco's language chunks
  webpack.config.js
Labels: kind/refactor, lgtm/done

#12420 fix a small nit
  routers/repo/pull.go
Labels: kind/refactor, lgtm/done

#12422 Fix incorrect error logging in Stats indexer and OAuth2 (#12387)
  modules/auth/sso/oauth2.go
  modules/indexer/stats/queue.go
Labels: kind/bug, lgtm/done

#12396 Increase size of the language column in language_stat
  models/migrations/migrations.go
  models/migrations/v145.go
  models/repo_language_stats.go
Labels: kind/bug, lgtm/done

#12427 Need RepoID in the languagestat field
  models/migrations/v145.go
Labels: kind/bug, lgtm/need 1, skip-changelog

#12358 Add loading spinners and mermaid error handling
  modules/markup/markdown/markdown.go
  modules/markup/sanitizer.go
  templates/repo/editor/edit.tmpl
  web_src/js/markdown/content.js
  web_src/js/markdown/mermaid.js
  web_src/less/_markdown.less
  web_src/less/features/animations.less
  web_src/less/index.less
  web_src/less/markdown/mermaid.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#12419 [API] Add update pr headBranch api
  integrations/pull_update_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/pull.go
  routers/repo/pull.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#12404 Prevent empty div when editing comment
  routers/repo/issue.go
  templates/repo/issue/view_content/attachments.tmpl
Labels: kind/bug, lgtm/done

#12425 Match GH with Commit page
  templates/repo/commit_page.tmpl
Labels: kind/ui, lgtm/done

#12415 UserProfile Page: Render Description
  routers/user/profile.go
  templates/user/profile.tmpl
Labels: kind/feature, lgtm/done

#12431 Match GH with Commit page (#12425)
  templates/repo/commit_page.tmpl
Labels: kind/ui, lgtm/done

#12436 Fix correct upstream remote HTTPS URL
  contrib/pr/checkout.go
Labels: kind/bug, kind/misc, lgtm/done, skip-changelog

#12438 Mirror System Notice reports are too frequent
  modules/cron/setting.go
  modules/cron/tasks.go
  modules/cron/tasks_basic.go
Labels: kind/bug, lgtm/done

#12428 Collapse Swagger UI tags by default
  web_src/js/standalone/swagger.js
Labels: kind/ui, lgtm/done

#12433 In issue comments, put issue participants also in completion list when hitting @
  templates/base/head.tmpl
Labels: kind/ui, lgtm/done

#12439 Remove librejs header in <head>
  templates/base/head.tmpl
Labels: kind/refactor, lgtm/need 1, skip-changelog

#12437 Add SVG favicon
  build/generate-images.js
  public/img/favicon.svg
  templates/base/head.tmpl
Labels: changelog, kind/ui, lgtm/done

#12333 Render the git graph on the server
  .stylelintrc
  modules/gitgraph/graph.go
  modules/gitgraph/graph_models.go
  modules/gitgraph/graph_test.go
  modules/gitgraph/parser.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  public/img/svg/material-invert-colors.svg
  public/img/svg/material-palette.svg
  routers/repo/commit.go
  templates/repo/graph.tmpl
  web_src/js/features/gitgraph.js
  web_src/less/_repository.less
  web_src/less/features/gitgraph.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
  web_src/less/vendor/gitGraph.css
  web_src/svg/material-invert-colors.svg
  web_src/svg/material-palette.svg
Labels: kind/ui, lgtm/done

#12381 Actually fix image diff padding/border
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#12395 Use transaction in V102 migration
  models/migrations/migrations.go
  models/migrations/v102.go
Labels: kind/bug, lgtm/done

#12399 Detect full references to issues and pulls in commit messages
  modules/markup/mdstripper/mdstripper.go
  modules/references/references.go
  modules/repofiles/action_test.go
Labels: kind/enhancement, lgtm/done

#12434 Do not show arrows on comment diffs on pull comment pages
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#12455 Improved diff syntax highlighting fix
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#12371 Make default StaticRootPath compile time settable
  docs/content/doc/installation/from-source.en-us.md
  modules/setting/setting.go
Labels: kind/build, lgtm/done

#12462 Prevent redirect back to /user/events
  modules/context/auth.go
Labels: kind/bug, kind/ui, lgtm/done

#12445 Fix Migration 145 on MSSQL if varchar is changed to nvarchar
  models/migrations/v145.go
Labels: kind/bug, lgtm/done

#12468 use community codecov drone plugin
  .drone.yml
Labels: kind/testing, lgtm/done

#12452 Add placeholder text for send testing email button in admin/config
  options/locale/locale_en-US.ini
  templates/admin/config.tmpl
Labels: kind/ui, lgtm/done

#12467 Add more tests for diff highlighting
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/testing, lgtm/done

#12469 Make dashboard newsfeed list length a configurable item
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/action.go
  modules/setting/setting.go
Labels: kind/ui, lgtm/done

#12447 Re-attempt to delete temporary upload if the file is locked by another process
  build/generate-gitignores.go
  build/generate-licenses.go
  cmd/doctor.go
  cmd/dump.go
  contrib/pr/checkout.go
  integrations/api_repo_test.go
  integrations/create_no_session_test.go
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/gpg_git_test.go
  integrations/integration_test.go
  integrations/migration-test/migration_test.go
  integrations/ssh_key_test.go
  models/admin.go
  models/attachment.go
  models/helper_directory.go
  models/migrations/v112.go
  models/migrations/v115.go
  models/migrations/v96.go
  models/org.go
  models/repo.go
  models/ssh_key.go
  models/unit_tests.go
  models/upload.go
  models/user.go
  modules/git/commit_info_test.go
  modules/git/hook.go
  modules/git/repo_compare_test.go
  modules/git/repo_tag_test.go
  modules/graceful/net_unix.go
  modules/indexer/code/bleve.go
  modules/indexer/code/bleve_test.go
  modules/indexer/issues/bleve.go
  modules/indexer/issues/bleve_test.go
  modules/indexer/issues/indexer_test.go
  modules/lfs/content_store.go
  modules/log/file.go
  modules/log/file_test.go
  modules/markup/external/external.go
  modules/queue/queue_disk_channel_test.go
  modules/queue/queue_disk_test.go
  modules/repository/create.go
  modules/repository/generate.go
  modules/repository/hooks.go
  modules/repository/init.go
  modules/repository/repo.go
  modules/util/remove.go
  modules/util/sanitize.go
  modules/util/url.go
  modules/util/util_test.go
  routers/repo/http.go
  routers/repo/lfs.go
  routers/repo/settings_test.go
  routers/user/auth.go
  routers/utils/utils.go
  routers/utils/utils_test.go
  services/pull/check.go
  services/pull/patch.go
  services/pull/pull.go
  services/release/release.go
Labels: kind/bug, lgtm/done

#12474 Update JS dependencies
  package-lock.json
  package.json
  webpack.config.js
Labels: kind/misc, lgtm/done, skip-changelog

#12476 Fix ignored login on compare
  routers/routes/routes.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12478 Fix ignored login on compare (#12476)
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#12477 Do not add prefix on http/https submodule links
  modules/git/submodule.go
  modules/git/submodule_test.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12475 go1.15
  .drone.yml
  Dockerfile
  Makefile
  docs/config.yaml
  modules/git/command.go
  modules/public/public.go
Labels: kind/build, lgtm/done

#12473 UI: Update commit signature view
  models/gpg_key.go
Labels: kind/ui, lgtm/done

#12479 Do not add prefix on http/https submodule links (#12477)
  modules/git/submodule.go
  modules/git/submodule_test.go
Labels: kind/bug, lgtm/done

#12481 [Vendor] update golang.org/x/crypto
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/modules.txt
Labels: dependencies, lgtm/done, skip-changelog

#12446 Add Access-Control-Expose-Headers
  modules/context/context.go
  modules/lfs/server.go
  routers/api/v1/admin/org.go
  routers/api/v1/admin/user.go
  routers/api/v1/org/org.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/status.go
  routers/api/v1/user/repo.go
  routers/api/v1/user/user.go
  routers/repo/download.go
Labels: kind/feature, lgtm/done

#12489 Build windows using golang 1.14
  Makefile
Labels: changelog, kind/bug, kind/build, lgtm/done, skip-changelog

#12282 Update gitea-vet to v0.2.1
  Makefile
  build.go
  go.mod
  go.sum
  vendor/code.gitea.io/gitea-vet/.changelog.yml
  vendor/code.gitea.io/gitea-vet/.drone.yml
  vendor/code.gitea.io/gitea-vet/.gitignore
  vendor/code.gitea.io/gitea-vet/.golangci.yml
  vendor/code.gitea.io/gitea-vet/CHANGELOG.md
  vendor/code.gitea.io/gitea-vet/LICENSE
  vendor/code.gitea.io/gitea-vet/Makefile
  vendor/code.gitea.io/gitea-vet/README.md
  vendor/code.gitea.io/gitea-vet/checks/imports.go
  vendor/code.gitea.io/gitea-vet/checks/license.go
  vendor/code.gitea.io/gitea-vet/checks/migrations.go
  vendor/code.gitea.io/gitea-vet/go.mod
  vendor/code.gitea.io/gitea-vet/go.sum
  vendor/code.gitea.io/gitea-vet/main.go
  vendor/gitea.com/jolheiser/gitea-vet/Makefile
  vendor/gitea.com/jolheiser/gitea-vet/README.md
  vendor/golang.org/x/tools/go/analysis/analysis.go
  vendor/golang.org/x/tools/go/analysis/doc.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/flags.go
  vendor/golang.org/x/tools/go/internal/packagesdriver/sizes.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/golist_overlay.go
  vendor/golang.org/x/tools/go/packages/loadmode_string.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/imports/forward.go
  vendor/golang.org/x/tools/internal/analysisinternal/analysis.go
  vendor/golang.org/x/tools/internal/event/core/event.go
  vendor/golang.org/x/tools/internal/event/core/export.go
  vendor/golang.org/x/tools/internal/event/core/fast.go
  vendor/golang.org/x/tools/internal/event/doc.go
  vendor/golang.org/x/tools/internal/event/event.go
  vendor/golang.org/x/tools/internal/event/keys/keys.go
  vendor/golang.org/x/tools/internal/event/keys/standard.go
  vendor/golang.org/x/tools/internal/event/label/label.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/gocommand/vendor.go
  vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/imports.go
  vendor/golang.org/x/tools/internal/imports/mod.go
  vendor/golang.org/x/tools/internal/imports/sortimports.go
  vendor/golang.org/x/tools/internal/imports/zstdlib.go
  vendor/golang.org/x/tools/internal/lsp/fuzzy/input.go
  vendor/golang.org/x/tools/internal/lsp/fuzzy/matcher.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/modules.txt
Labels: kind/lint, lgtm/done

#12485 Make the default PID file compile-time settable
  cmd/web.go
  contrib/init/debian/gitea
  contrib/init/gentoo/gitea
  contrib/init/suse/gitea
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/usage/command-line.en-us.md
  modules/setting/setting.go
Labels: kind/build, lgtm/done

#12486 Keys should not verify revoked email addresses
  models/gpg_key.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12497 Fix bug preventing transfer to private organization
  models/migrations/v111.go
  models/org.go
  models/user.go
  routers/api/v1/repo/transfer.go
  routers/repo/setting.go
  templates/user/profile.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#12352 Add 'checks' Make and CI tasks
  .drone.yml
  Makefile
Labels: kind/build, lgtm/done

#12501 Fix bug preventing transfer to private organization (#12497)
  models/org.go
  models/user.go
  routers/api/v1/repo/transfer.go
  routers/repo/setting.go
  templates/user/profile.tmpl
Labels: kind/bug, lgtm/done

#12507 Add & Correct Translation for Team-Settings (Projects)
  options/locale/locale_en-US.ini
Labels: kind/translation, lgtm/done, skip-changelog

#12495 Keys should not verify revoked email addresses (#12486)
  models/gpg_key.go
Labels: kind/bug, lgtm/done

#12509 Fix 'make help'
  Makefile
Labels: kind/translation, lgtm/done, skip-changelog

#12499 Milestone Issue/Pull List: Add octicons type
  templates/repo/issue/milestone_issues.tmpl
Labels: kind/ui, lgtm/done

#12500 change PIDFile default from /var/run/gitea.pid to /run/gitea.pid
  docs/content/doc/installation/from-source.en-us.md
  modules/setting/setting.go
Labels: kind/breaking, kind/misc, lgtm/done

#12521 Remove hardcoded ES indexername
  modules/indexer/issues/indexer.go
Labels: backport/v1.12, kind/bug, lgtm/done, skip-changelog

#12526 Remove hardcoded ES indexername (#12521)
  modules/indexer/issues/indexer.go
Labels: kind/bug, lgtm/done

#12536 Add security policy to repo
  SECURITY.md
Labels: kind/docs, lgtm/done, skip-changelog

#12537 Set z-index for sticky diff box lower
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#12528 Report error if API merge is not allowed
  routers/api/v1/repo/pull.go
Labels: kind/enhancement, lgtm/done

#12515 Show 2FA info on Admin Pannel: Users List
  options/locale/locale_en-US.ini
  routers/home.go
  templates/admin/user/list.tmpl
  templates/org/member/members.tmpl
Labels: kind/ui, lgtm/done

#12535 Default empty merger list to those with write permissions
  models/branches.go
  modules/convert/convert.go
  services/pull/merge.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12542 fix typos
  routers/private/hook.go
  routers/private/serv.go
  routers/repo/compare.go
  services/gitdiff/gitdiff.go
Labels: lgtm/done

#12533 Add placeholder text for "Add SSH/GPG Key" forms
  options/locale/locale_en-US.ini
  templates/user/settings/keys_gpg.tmpl
  templates/user/settings/keys_ssh.tmpl
Labels: kind/docs, kind/translation, lgtm/done, skip-changelog

#12545 fix typos
  custom/conf/app.example.ini
  modules/git/hook.go
Labels: kind/translation, lgtm/done, skip-changelog

#12242 Support Force-update in Mirror and improve Tracing in mirror
  services/mirror/mirror.go
Labels: kind/bug, lgtm/done

#12550 Prevent NPE on commenting on lines with invalidated comments (#12549)
  services/pull/review.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, lgtm/done, priority/critical

#12549 Prevent NPE on commenting on lines with invalidated comments (with migration)
  models/migrations/migrations.go
  models/migrations/v147.go
  services/pull/review.go
Labels: backport/v1.12, kind/bug, lgtm/done, priority/critical

#12553 Increase clickable area on files table links
  integrations/repo_test.go
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#12581 Fix signing.wont_sign.%!s(<nil>) if Require Signing commits but not signed in.
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/bug, lgtm/done

#12576 Reaction picker display improvements
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#12572 Change tab width for go,tmpl,html to 2
  .editorconfig
Labels: kind/misc, lgtm/done

#12567 Fix emoji replacements, make emoji images consistent
  modules/markup/html.go
  modules/markup/html_test.go
  modules/templates/helper.go
  templates/repo/issue/view_content/comments.tmpl
  web_src/js/features/emoji.js
Labels: kind/ui, lgtm/done

#12421 Add cron running API
  models/list_options.go
  modules/structs/cron.go
  routers/api/v1/admin/cron.go
  routers/api/v1/api.go
  routers/api/v1/swagger/cron.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#12586 OpenGraph: use repo avatar if exist
  models/repo.go
  templates/base/head.tmpl
Labels: kind/ui, lgtm/done

#12589 go1.15 on windows
  .drone.yml
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#12591 Update JWT docs in example config
  custom/conf/app.example.ini
Labels: kind/docs, lgtm/done, skip-changelog

#12593 go1.15 on windows (#12589)
  Makefile
Labels: kind/bug, lgtm/done

#12577 Open transaction when adding Avatar email-hash pairs to the DB
  models/avatar.go
Labels: kind/bug, lgtm/done

#12597 update to latest golangci-lint (v1.30.0)
  Makefile
Labels: dependencies, kind/lint, lgtm/done, skip-changelog

#12602 Reindent Less to 2-space
  .editorconfig
  .stylelintrc
  web_src/less/_admin.less
  web_src/less/_base.less
  web_src/less/_chroma.less
  web_src/less/_dashboard.less
  web_src/less/_editor.less
  web_src/less/_explore.less
  web_src/less/_form.less
  web_src/less/_home.less
  web_src/less/_install.less
  web_src/less/_markdown.less
  web_src/less/_organization.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/_svg.less
  web_src/less/_tribute.less
  web_src/less/_user.less
  web_src/less/features/animations.less
  web_src/less/features/gitgraph.less
  web_src/less/markdown/mermaid.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/misc, lgtm/done

#12605 Mark Cache with ini tag
  modules/setting/cache.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12610 Fix rendering of Email in forgot_password.tmpl
  templates/user/auth/forgot_passwd.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#12612 Escape Email in forgot_password.tmpl (#12610)
  templates/user/auth/forgot_passwd.tmpl
Labels: kind/bug, lgtm/done

#12603 Fix file table overflows
  integrations/repo_test.go
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
  web_src/less/helpers.less
  web_src/less/index.less
Labels: kind/ui, lgtm/done, skip-changelog

#12611 Mark Cache with ini tag (#12605)
  modules/setting/cache.go
Labels: kind/bug, lgtm/done

#12601 Add link to home page on swagger ui
  options/locale/locale_en-US.ini
  templates/swagger/ui.tmpl
Labels: kind/ui, lgtm/done

#12616 Extract Swagger CSS to its own file
  templates/swagger/ui.tmpl
  web_src/less/standalone/swagger.less
  webpack.config.js
Labels: kind/build, lgtm/done

#12617 Fix ellipsis in files table
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, skip-changelog

#12619 Git migration UX
  modules/auth/repo_form.go
  modules/migrations/base/downloader.go
  modules/migrations/base/release.go
  modules/migrations/base/uploader.go
  modules/migrations/git.go
  modules/migrations/gitea.go
  modules/migrations/gitea_test.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/migrations/migrate.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  routers/repo/repo.go
  templates/repo/migrate.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/features/migration.js
  web_src/js/index.js
  web_src/less/_form.less
Labels: kind/enhancement, kind/ui, lgtm/done

#12596 Macaron 1.5
  go.mod
  go.sum
  modules/test/context_tests.go
  vendor/gitea.com/macaron/gzip/.drone.yml
  vendor/gitea.com/macaron/gzip/go.mod
  vendor/gitea.com/macaron/gzip/go.sum
  vendor/gitea.com/macaron/gzip/gzip.go
  vendor/gitea.com/macaron/macaron/.drone.yml
  vendor/gitea.com/macaron/macaron/README.md
  vendor/gitea.com/macaron/macaron/context.go
  vendor/gitea.com/macaron/macaron/recovery.go
  vendor/gitea.com/macaron/macaron/render.go
  vendor/gitea.com/macaron/macaron/response_writer.go
  vendor/gitea.com/macaron/macaron/return_handler.go
  vendor/gitea.com/macaron/macaron/static.go
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/fse/bitreader.go
  vendor/github.com/klauspost/compress/fse/bytereader.go
  vendor/github.com/klauspost/compress/fse/fse.go
  vendor/github.com/klauspost/compress/gzip/gzip.go
  vendor/github.com/klauspost/compress/huff0/README.md
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/bytereader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/enc_params.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder.go
  vendor/github.com/klauspost/compress/zstd/history.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/snappy.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/gopkg.in/ini.v1/file.go
  vendor/gopkg.in/ini.v1/ini.go
  vendor/gopkg.in/ini.v1/parser.go
  vendor/gopkg.in/ini.v1/section.go
  vendor/gopkg.in/ini.v1/struct.go
  vendor/modules.txt
Labels: dependencies, lgtm/done, skip-changelog, status/wip

#12622 Escape more things that are passed through str2html
  routers/user/oauth.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/settings/protected_branch.tmpl
  templates/user/auth/activate.tmpl
  templates/user/dashboard/feeds.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#12555 Set context for running CreateArchive to that of the request
  modules/git/commit_archive.go
  routers/repo/repo.go
Labels: kind/bug, lgtm/done

#12366 [API] Delete Token accept names too
  integrations/api_token_test.go
  models/token.go
  models/token_test.go
  routers/api/v1/user/app.go
  routers/user/setting/applications.go
  routers/user/setting/security.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/breaking, lgtm/done

#12628 Fix message when deleting last owner from an organization
  options/locale/locale_en-US.ini
Labels: kind/bug, lgtm/done

#12623 Apply #12576 to top right reaction picker
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#12624 Use shellquote to unpack arguments to gitea serv
  cmd/serv.go
Labels: kind/bug, lgtm/done

#12522 Avoid unnecessary system-ui expansion
  web_src/less/_base.less
  webpack.config.js
Labels: kind/build, kind/ui, lgtm/done

#12632 Dark theme for line numbers in blame view
  web_src/less/themes/theme-arc-green.less
Labels: kind/bug, kind/ui, lgtm/done

#12609 Update eslint config
  .eslintrc
Labels: kind/build, lgtm/done

#12642 fix documentation for REFRESH_TOKEN_EXPIRATION_TIME
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#12644 Do not disable commit changes button on repost
  routers/repo/editor.go
  templates/repo/editor/edit.tmpl
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#12646 Rename models.ProtectedBranchRepoID/PRID to models.EnvRepoID/PRID and ensure EnvPusherEmail is set
  cmd/hook.go
  cmd/serv.go
  models/branches.go
  models/helper_environment.go
  modules/private/serv.go
  routers/private/serv.go
  routers/repo/http.go
Labels: kind/refactor, lgtm/done

#10273 Support elastic search for code search
  .drone.yml
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/indexer/code/bleve.go
  modules/indexer/code/bleve_test.go
  modules/indexer/code/elastic_search.go
  modules/indexer/code/elastic_search_test.go
  modules/indexer/code/indexer.go
  modules/indexer/code/indexer_test.go
  modules/indexer/code/queue.go
  modules/indexer/code/wrapped.go
  modules/setting/indexer.go
  templates/explore/code.tmpl
Labels: kind/feature, lgtm/done

#12648 Escape provider name in oauth2 provider redirect
  modules/auth/oauth2/oauth2.go
Labels: backport/done, backport/v1.12, kind/bug, lgtm/done

#12650 Escape provider name in oauth2 provider redirect (#12648)
  modules/auth/oauth2/oauth2.go
Labels: kind/bug, lgtm/done

#12668 Ensure RepoPath is lowercased in gitea serv
  cmd/serv.go
Labels: kind/bug, lgtm/done
