Repository go-gitea/gitea, pull requests merged in 2020-07, with the labels that each got.

#12102 Ensure BlameReaders close at end of request
  modules/git/blame.go
  modules/git/blame_test.go
  routers/repo/blame.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12103 Ensure BlameReaders close at end of request (#12102)
  modules/git/blame.go
  modules/git/blame_test.go
  routers/repo/blame.go
Labels: kind/bug, lgtm/done

#12111 Improve arc-green code colors
  web_src/less/_chroma.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#12112 Fix missing gitgraph css import
  webpack.config.js
Labels: kind/bug, lgtm/done, skip-changelog

#12109 Fix merge section in dark theme (#12086)
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#12105 Fix gitgraph branch continues after merge (#12044)
  web_src/js/vendor/gitgraph.js
Labels: kind/bug, lgtm/done

#12104 Set the base url when migrating from Gitlab using access token or username without password (#11852)
  modules/migrations/gitlab.go
Labels: kind/bug, lgtm/done

#11858 Provide option to unlink a fork
  models/repo.go
  options/locale/locale_en-US.ini
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
  web_src/less/_repository.less
Labels: kind/feature, lgtm/done

#12057 Fix repo API listing stability
  routers/api/v1/user/repo.go
Labels: kind/bug, lgtm/done

#12089 Fix ui bug in wiki commit page
  modules/templates/helper.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12125 Fix ui bug in wiki commit page (#12089)
  modules/templates/helper.go
Labels: kind/bug, kind/ui, lgtm/done

#12095 Move EventSource to SharedWorker
  .eslintrc
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/eventsource/manager_run.go
  modules/templates/helper.go
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/notification.js
  web_src/js/index.js
  webpack.config.js
Labels: backport/v1.12, kind/bug, lgtm/done

#12122 templates/repo/empty.tmpl : fix repo setup instructions
  templates/repo/empty.tmpl
Labels: backport/v1.12, kind/docs, kind/ui, lgtm/done

#12129 Bugfix for shared event source
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/notification.js
Labels: backport/v1.12, kind/bug, lgtm/done, priority/critical, skip-changelog

#12138 Re-fix #12095 again
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/notification.js
Labels: backport/v1.12, kind/bug, lgtm/done, priority/critical, skip-changelog

#12130 Move EventSource to SharedWorker (#12095)
  .eslintrc
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/eventsource/manager_run.go
  modules/templates/helper.go
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/notification.js
  web_src/js/index.js
  webpack.config.js
Labels: kind/bug, lgtm/done

#12137 Rewrite GitGraph.js
  web_src/js/features/gitgraph.js
  web_src/js/vendor/gitgraph.js
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done

#12139 Remove spurious logging of " Delete all repository archives" at startup
  routers/init.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12145 Enable a few more eslint rules
  .eslintrc
Labels: lgtm/done

#12147 Fix repository setup instructions when default branch is not master (#12122)
  templates/repo/empty.tmpl
Labels: kind/bug, lgtm/done

#12135 Properly set HEAD when a repo is created with a non-master default branch
  modules/repository/init.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12148 Remove spurious logging (#12139)
  routers/init.go
Labels: kind/bug, lgtm/done

#12144 Ensure tabs wrap correctly on user profile page
  web_src/less/_user.less
Labels: kind/ui, lgtm/done

#12153 Multiple small admin dashboard fixes
  modules/auth/admin.go
  modules/queue/setting.go
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  templates/admin/dashboard.tmpl
  templates/admin/monitor.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#12156 Multiple small admin dashboard fixes (#12153)
  modules/auth/admin.go
  modules/queue/setting.go
  options/locale/locale_en-US.ini
  routers/admin/admin.go
  templates/admin/monitor.tmpl
Labels: kind/bug, lgtm/done

#12151 Use hash of repo path, ref and entrypath as cache key
  modules/cache/last_commit.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11777 Pause, Resume, Release&Reopen, Add and Remove Logging from command line
  cmd/manager.go
  docs/content/doc/advanced/logging-documentation.en-us.md
  docs/content/doc/usage/command-line.en-us.md
  integrations/testlogger.go
  modules/graceful/manager_unix.go
  modules/log/conn.go
  modules/log/console.go
  modules/log/event.go
  modules/log/file.go
  modules/log/log.go
  modules/log/smtp.go
  modules/private/manager.go
  modules/setting/log.go
  modules/setting/setting.go
  routers/admin/admin.go
  routers/private/internal.go
  routers/private/manager.go
Labels: kind/feature, lgtm/done

#12053 Update the wiki repository remote origin while update the mirror repository's Clone From URL
  modules/repository/repo.go
  services/mirror/mirror.go
Labels: kind/enhancement, lgtm/done

#12161 Fix failing to cache last commit with key being to long (#12151)
  modules/cache/last_commit.go
Labels: kind/bug, lgtm/done

#12159 models: break out of loops
  models/repo_sign.go
Labels: kind/bug, kind/refactor, lgtm/done

#12163 fix a spelling error
  modules/setting/database.go
Labels: kind/docs, lgtm/done, skip-changelog

#12155 Ensure Subkeys are verified
  models/gpg_key.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12167 Fix U2F button icon
  templates/user/settings/security_u2f.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#12168 Ensure Subkeys are verified (#12155)
  models/gpg_key.go
Labels: kind/bug, lgtm/done

#12174 Adjust margin-top for repo header label
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11954 Decrease the num_stars when deleting a repo
  cmd/doctor.go
  models/migrations/migrations.go
  models/migrations/v143.go
  models/repo.go
  models/repo_test.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12150 Trim to 255 runes instead of bytes
  models/repo.go
Labels: kind/bug, lgtm/done

#12180 Remove newline when highlighting random chunks of code
  go.mod
  modules/highlight/highlight.go
Labels: kind/bug, lgtm/done, skip-changelog

#12170 Enable cloning via Git Wire Protocol v2 over HTTP
  routers/repo/http.go
Labels: kind/enhancement, lgtm/done

#12181 Update JS dependencies
  .eslintrc
  package-lock.json
  package.json
Labels: dependencies, lgtm/done, skip-changelog

#12182 Properly set HEAD when a repo is created with a non-master default branch (#12135)
  modules/repository/init.go
Labels: kind/bug, lgtm/done

#12186 Regression: Gitea commits API again returns commit summaries, not full messages
  routers/api/v1/repo/commits.go
Labels: lgtm/done

#12187 Gitea commits API again returns commit summaries, not full messages (#12186)
  routers/api/v1/repo/commits.go
Labels: kind/bug, kind/regression, lgtm/done

#12191 Make copy/paste work for source code
  modules/highlight/highlight.go
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/home.tmpl
  templates/repo/view_file.tmpl
  web_src/less/_base.less
Labels: kind/bug, lgtm/done, skip-changelog

#12188 Decrease the num_stars when deleting a repo (#11954)
  cmd/doctor.go
  models/repo.go
  models/repo_test.go
Labels: kind/bug, lgtm/done

#12200 Default to showing closed Issues/PR list when there are only closed issues/PRs
  routers/repo/issue.go
Labels: kind/enhancement, lgtm/done

#12205 Ensure syntax highlighting is the same inside diffs
  modules/highlight/highlight.go
  services/gitdiff/gitdiff.go
Labels: kind/enhancement, lgtm/done

#12214 Changelog for v1.12.2
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#12216 Frontport Changelog of v1.12.2
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done

#12210 Upgrade xorm to v1.0.3
  go.mod
  go.sum
  vendor/github.com/PuerkitoBio/goquery/.travis.yml
  vendor/github.com/PuerkitoBio/goquery/README.md
  vendor/github.com/PuerkitoBio/goquery/go.mod
  vendor/github.com/PuerkitoBio/goquery/go.sum
  vendor/github.com/andybalholm/cascadia/README.md
  vendor/github.com/andybalholm/cascadia/parser.go
  vendor/github.com/andybalholm/cascadia/selector.go
  vendor/github.com/andybalholm/cascadia/specificity.go
  vendor/github.com/go-sql-driver/mysql/.travis.yml
  vendor/github.com/go-sql-driver/mysql/AUTHORS
  vendor/github.com/go-sql-driver/mysql/CHANGELOG.md
  vendor/github.com/go-sql-driver/mysql/CONTRIBUTING.md
  vendor/github.com/go-sql-driver/mysql/README.md
  vendor/github.com/go-sql-driver/mysql/auth.go
  vendor/github.com/go-sql-driver/mysql/buffer.go
  vendor/github.com/go-sql-driver/mysql/collations.go
  vendor/github.com/go-sql-driver/mysql/conncheck.go
  vendor/github.com/go-sql-driver/mysql/conncheck_dummy.go
  vendor/github.com/go-sql-driver/mysql/connection.go
  vendor/github.com/go-sql-driver/mysql/connection_go18.go
  vendor/github.com/go-sql-driver/mysql/connector.go
  vendor/github.com/go-sql-driver/mysql/driver.go
  vendor/github.com/go-sql-driver/mysql/dsn.go
  vendor/github.com/go-sql-driver/mysql/go.mod
  vendor/github.com/go-sql-driver/mysql/nulltime.go
  vendor/github.com/go-sql-driver/mysql/nulltime_go113.go
  vendor/github.com/go-sql-driver/mysql/nulltime_legacy.go
  vendor/github.com/go-sql-driver/mysql/packets.go
  vendor/github.com/go-sql-driver/mysql/rows.go
  vendor/github.com/go-sql-driver/mysql/statement.go
  vendor/github.com/go-sql-driver/mysql/utils.go
  vendor/github.com/go-sql-driver/mysql/utils_go17.go
  vendor/github.com/go-sql-driver/mysql/utils_go18.go
  vendor/google.golang.org/appengine/cloudsql/cloudsql.go
  vendor/google.golang.org/appengine/cloudsql/cloudsql_classic.go
  vendor/google.golang.org/appengine/cloudsql/cloudsql_vm.go
  vendor/modules.txt
  vendor/xorm.io/xorm/CHANGELOG.md
  vendor/xorm.io/xorm/README.md
  vendor/xorm.io/xorm/README_CN.md
  vendor/xorm.io/xorm/core/tx.go
  vendor/xorm.io/xorm/dialects/mssql.go
  vendor/xorm.io/xorm/dialects/sqlite3.go
  vendor/xorm.io/xorm/engine.go
  vendor/xorm.io/xorm/go.mod
  vendor/xorm.io/xorm/go.sum
  vendor/xorm.io/xorm/session_update.go
Labels: dependencies, lgtm/done

#12164 Extend Notifications API and return pinned notifications by default
  integrations/api_notification_test.go
  integrations/eventsource_test.go
  models/notification.go
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/threads.go
  routers/api/v1/notify/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#10533 When starting new stopwatch stop previous if it is still running
  models/issue_stopwatch.go
Labels: kind/enhancement, lgtm/done

#12223 Syntax highlight expanded code blobs
  routers/repo/compare.go
Labels: kind/bug, lgtm/done, skip-changelog

#12228 Fix repolist icons
  templates/user/dashboard/repolist.tmpl
  web_src/js/index.js
  web_src/js/svg.js
Labels: kind/bug, lgtm/done, skip-changelog

#12231 models: fix xorm variable clobber
  models/models.go
  routers/install.go
Labels: kind/refactor, lgtm/done

#12222 Replace code fold icons with octicons
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
  web_src/js/index.js
  web_src/js/svg.js
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#12241 Fix filepath basename on Windows for SVG bindata
  modules/svg/discover_bindata.go
  modules/svg/discover_nobindata.go
Labels: kind/bug, lgtm/done, skip-changelog

#12232 Extend Notifications API and return pinned notifications by default (#12164)
  integrations/api_notification_test.go
  integrations/eventsource_test.go
  models/notification.go
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/threads.go
  routers/api/v1/notify/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, lgtm/done

#12243 release docs as an archive
  Makefile
  docs/Makefile
Labels: kind/docs, lgtm/done

#12247 Use correct make target for building static assets
  docs/content/doc/usage/reverse-proxies.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#12248 Show drone status for master branch in README
  README.md
Labels: kind/docs, lgtm/done

#12250 fix: add type=text for user_name (password manager)
  templates/admin/user/new.tmpl
  templates/user/auth/finalize_openid.tmpl
  templates/user/auth/signin_inner.tmpl
  templates/user/auth/signup_inner.tmpl
  templates/user/auth/signup_openid_connect.tmpl
  templates/user/auth/signup_openid_register.tmpl
Labels: kind/ui, lgtm/done

#12253 Release docs as archive
  Makefile
Labels: kind/bug, kind/build, lgtm/done, skip-changelog

#12238 Fix Syntax highlight for token change in added/deleted code
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#12256 [ui] Link to pr list page on sidebar when view pr
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#12263 [ui] Link to pr list page on sidebar when view pr (#12256)
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#9930 [Docs] Logging Configuration - Use `logrotate` Instead
  docs/content/doc/advanced/logging-documentation.en-us.md
Labels: kind/docs, lgtm/done

#12142 Ensure that git commit tree continues properly over the page
  modules/gitgraph/graph.go
Labels: kind/bug, lgtm/done

#12266 Set NoAutoTime when updating is_archived
  models/repo.go
Labels: kind/bug, lgtm/done

#12052 Add logic to build stable and edge builds for gitea snap
  snap/snapcraft.yaml
Labels: kind/build, lgtm/done

#12271 prefer NoError/Error over Nil/NotNil
  integrations/repofiles_delete_test.go
  integrations/repofiles_update_test.go
  modules/repofiles/blob_test.go
  modules/repofiles/content_test.go
  modules/repofiles/diff_test.go
  modules/repofiles/file_test.go
  modules/repofiles/tree_test.go
  modules/webhook/dingtalk_test.go
  modules/webhook/matrix_test.go
  modules/webhook/slack_test.go
  modules/webhook/telegram_test.go
Labels: kind/refactor, kind/testing, lgtm/need 1, skip-changelog

#12269 Support use nvarchar for all varchar columns when using mssql
  go.mod
  go.sum
  models/models.go
  vendor/modules.txt
  vendor/xorm.io/xorm/.drone.yml
  vendor/xorm.io/xorm/Makefile
  vendor/xorm.io/xorm/dialects/mssql.go
  vendor/xorm.io/xorm/go.sum
  vendor/xorm.io/xorm/interface.go
  vendor/xorm.io/xorm/log/logger_context.go
  vendor/xorm.io/xorm/session.go
Labels: kind/enhancement, lgtm/done

#12289 merge docker makefile into main one
  Makefile
  docker/Makefile
  docker/README.md
Labels: kind/refactor, lgtm/done, skip-changelog

#12203 Clarify documentation of SKIP_VERIFY
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#12286 Migrations (v82,v96,v99,v136) remove dependencys
  models/migrations/v136.go
  models/migrations/v82.go
  models/migrations/v96.go
  models/migrations/v99.go
Labels: kind/refactor, lgtm/done, skip-changelog

#12294 Fix double-indirection bug in logging IDs
  modules/log/colors.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12202 Auto-init repo on license, .gitignore select
  web_src/js/index.js
Labels: kind/ui, lgtm/done

#12299 Fix input box value access on repo create
  web_src/js/index.js
Labels: kind/bug, lgtm/done, skip-changelog

#12308 Fix double-indirection bug in logging IDs (#12294)
  modules/log/colors.go
Labels: kind/bug, lgtm/done

#12300 Use a small size repo for migrate test
  integrations/api_repo_test.go
  integrations/repo_migrate_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#12311 Remove unused svg and improve 'make svg-check'
  Makefile
  web_src/svg/gitea-settings.svg
Labels: kind/build, lgtm/done, skip-changelog

#12317 Reduce emoji size
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, skip-changelog

#12320 Fix emoji detection in certain cases
  modules/emoji/emoji.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#12327 Backport emoji fixes to 1.12
  modules/emoji/emoji.go
  modules/markup/html_test.go
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: lgtm/done

#12316 Rework 'make generate-images'
  .eslintrc
  Makefile
  assets/logo.svg
  build/generate-images.js
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
  public/img/apple-touch-icon.png
  public/img/avatar_default.png
  public/img/favicon.ico
  public/img/favicon.png
  public/img/gitea-192.png
  public/img/gitea-512.png
  public/img/gitea-lg.png
  public/img/gitea-sm.png
Labels: kind/refactor, lgtm/done

#12328 Show 404 page when release not found
  routers/repo/release.go
Labels: backport/v1.12, lgtm/done

#12321 Fix ipv6 parsing
  cmd/web.go
  models/repo.go
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#11646 Refactor: Remove Dependencies from Migration v111
  models/migrations/v111.go
Labels: kind/refactor, lgtm/done

#12332 Show 404 page when release not found (#12328)
  routers/repo/release.go
Labels: kind/bug, lgtm/done

#12335 Use url.Parse to parse hostname
  modules/setting/setting.go
Labels: kind/bug, lgtm/done, skip-changelog

#12229 Disable search box autofocus
  templates/repo/issue/search.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/ui, lgtm/done

#12322 Update vendored .gitattributes
  .gitattributes
Labels: kind/misc, lgtm/done

#12334 Add mermaid JS renderer
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/page/index.en-us.md
  package-lock.json
  package.json
  web_src/js/index.js
  web_src/js/markdown/content.js
  web_src/js/markdown/mermaid.js
  web_src/js/utils.js
  web_src/less/_markdown.less
  web_src/less/themes/theme-arc-green.less
Labels: changelog, kind/feature, lgtm/done

#12337 update chroma to v0.8.0
  go.mod
  go.sum
  vendor/github.com/alecthomas/chroma/.golangci.yml
  vendor/github.com/alecthomas/chroma/.travis.yml
  vendor/github.com/alecthomas/chroma/lexers/b/bash.go
  vendor/github.com/alecthomas/chroma/lexers/c/caddyfile.go
  vendor/github.com/alecthomas/chroma/lexers/circular/php.go
  vendor/github.com/alecthomas/chroma/lexers/circular/phtml.go
  vendor/github.com/alecthomas/chroma/lexers/g/go.go
  vendor/github.com/alecthomas/chroma/lexers/h/http.go
  vendor/github.com/alecthomas/chroma/lexers/i/ini.go
  vendor/github.com/alecthomas/chroma/lexers/lexers.go
  vendor/github.com/alecthomas/chroma/lexers/p/pony.go
  vendor/github.com/alecthomas/chroma/lexers/t/toml.go
  vendor/github.com/alecthomas/chroma/lexers/t/typescript.go
  vendor/github.com/alecthomas/chroma/lexers/y/yaml.go
  vendor/github.com/alecthomas/chroma/lexers/z/zig.go
  vendor/github.com/alecthomas/chroma/regexp.go
  vendor/modules.txt
Labels: kind/bug, kind/ui, lgtm/done

#12330 Add 'watch-backend'
  .air.conf
  .gitignore
  Makefile
  docs/content/doc/advanced/hacking-on-gitea.en-us.md
Labels: kind/build, lgtm/done

#12319 Detect version of sed in Makefile
  Makefile
Labels: kind/build, lgtm/done

#12295 Update JS deps and linting config
  .eslintrc
  Makefile
  package-lock.json
  package.json
  webpack.config.js
Labels: dependencies, lgtm/done, skip-changelog

#12336 Add name filter to API for GetMilestoneList
  integrations/api_issue_milestone_test.go
  models/issue_milestone.go
  models/issue_milestone_test.go
  modules/migrations/gitea_test.go
  routers/api/v1/repo/milestone.go
  routers/repo/issue.go
  routers/repo/milestone.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, kind/refactor, lgtm/done

#12347 Only use --exclude on name-rev with git >= 2.13
  modules/git/commit.go
Labels: kind/bug, lgtm/done

#12346 Remove padding/border-radius on image diffs
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#12343 Fixes #12341: Release date should only be set to current time if draft or tag created
  services/release/release.go
  services/release/release_test.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12351 Backport to v1.12 for #12341 - Release date fix
  services/release/release.go
  services/release/release_test.go
Labels: kind/bug, lgtm/done

#12356 Changelog v1.12.3
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#12357 Changelog v1.12.3 (#12356)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#12369 Fixed typo in README.md
  docker/README.md
Labels: kind/docs, lgtm/done, skip-changelog

#12326 Fix clone panel in wiki position not always align right
  templates/repo/wiki/view.tmpl
Labels: kind/ui, lgtm/done

#12370 Git 2.28 no longer permits diff with ... on unrelated branches
  modules/git/commit.go
  modules/git/repo_commit.go
  modules/git/repo_compare.go
  routers/private/hook.go
Labels: kind/bug, lgtm/done

#12364 Git 2.28 no longer permits diff with ... on unrelated branches
  modules/git/commit.go
  modules/git/repo_commit.go
  modules/git/repo_compare.go
  routers/private/hook.go
  services/gitdiff/gitdiff.go
Labels: backport/v1.12, kind/bug, lgtm/done

#12305 Move jquery-minicolors to npm/webpack
  .gitignore
  Makefile
  package-lock.json
  package.json
  public/vendor/plugins/jquery.minicolors/LICENSE
  public/vendor/plugins/jquery.minicolors/jquery.minicolors.css
  public/vendor/plugins/jquery.minicolors/jquery.minicolors.min.js
  public/vendor/plugins/jquery.minicolors/jquery.minicolors.png
  routers/org/setting.go
  routers/repo/issue_label.go
  templates/base/footer.tmpl
  templates/base/head.tmpl
  web_src/js/features/colorpicker.js
  web_src/js/index.js
  webpack.config.js
Labels: kind/refactor, kind/ui, lgtm/done

#12324 Add action feed for new release
  models/action.go
  models/repo_watch.go
  modules/notification/action/action.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/release.go
  routers/repo/release.go
  services/release/release.go
  services/release/release_test.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, kind/enhancement, lgtm/done

#12373 Render emoji's of Commit message on feed-page
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, lgtm/done

#12377 Vendor update: github.com/yuin/goldmark v1.2.1
  go.mod
  go.sum
  vendor/github.com/yuin/goldmark/README.md
  vendor/github.com/yuin/goldmark/extension/table.go
  vendor/github.com/yuin/goldmark/extension/typographer.go
  vendor/github.com/yuin/goldmark/parser/delimiter.go
  vendor/github.com/yuin/goldmark/renderer/html/html.go
  vendor/github.com/yuin/goldmark/util/util.go
  vendor/modules.txt
Labels: dependencies, lgtm/done

#12378 Add note to README about make parallelism
  README.md
Labels: lgtm/done

#12348 Don't use legacy method to send Matrix Webhook
  models/migrations/migrations.go
  models/migrations/v144.go
  modules/webhook/deliver.go
  modules/webhook/matrix.go
  modules/webhook/matrix_test.go
  routers/repo/webhook.go
Labels: kind/refactor, lgtm/done

#12384 Various arc-green fixes
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#12383 Improve HTML escaping helper
  package-lock.json
  package.json
  web_src/js/index.js
Labels: backport/v1.12, kind/bug, lgtm/done

#12386 models: break out of loop
  models/pull_sign.go
Labels: backport/v1.12, kind/bug, lgtm/done
