Repository go-gitea/gitea, pull requests merged in 2020-11, with the labels that each got.

#13368 Skip appending authorized_keys file if asked not to
  models/ssh_key.go
Labels: kind/misc, lgtm/done, skip-changelog

#10154 docker: rootless image
  .drone.yml
  Dockerfile.rootless
  docker/manifest.rootless.tmpl
  docker/rootless/etc/templates/app.ini
  docker/rootless/usr/local/bin/docker-entrypoint.sh
  docker/rootless/usr/local/bin/docker-setup.sh
  docs/content/doc/installation/with-docker-rootless.en-us.md
Labels: kind/deployment, kind/package, lgtm/done, reviewed/confirmed

#13380 Fix typo
  modules/notification/action/action.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13382 Fix typo (#13380)
  modules/notification/action/action.go
Labels: kind/bug, lgtm/done

#13383 Set auto-tag to false on rootless manifest
  .drone.yml
Labels: kind/bug, lgtm/done, skip-changelog

#13379 Storage configuration support `[storage]` (#13314)
  integrations/integration_test.go
  integrations/lfs_getobject_test.go
  integrations/mysql.ini.tmpl
  modules/lfs/content_store.go
  modules/lfs/server.go
  modules/setting/storage.go
Labels: kind/bug, kind/enhancement, lgtm/done

#13378 Misc UI fixes, add secondary color
  templates/repo/blame.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/commits_table.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/release/list.tmpl
  templates/repo/view_file.tmpl
  web_src/less/_admin.less
  web_src/less/_base.less
  web_src/less/_editor.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13388 Docker/rootless: Remove specific indexer path
  docker/rootless/etc/templates/app.ini
Labels: kind/package, lgtm/done, skip-changelog

#13390 Fix reactions on code comments
  models/issue_comment.go
  templates/repo/diff/comments.tmpl
Labels: backport/v1.13, kind/bug, lgtm/done

#13401 Fix reactions on code comments (#13390)
  models/issue_comment.go
  templates/repo/diff/comments.tmpl
Labels: kind/bug, lgtm/done

#13389 Fix 'add code comment' button being invisible all the time
  web_src/js/index.js
  web_src/less/_review.less
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#13354 Refactor image paste code
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#13386 fix docker rootless manifest
  .drone.yml
  docker/manifest.rootless.tmpl
Labels: kind/package, lgtm/done, skip-changelog

#13402 Fix 'add code comment' button being invisible all the time (#13389)
  web_src/js/index.js
  web_src/less/_review.less
Labels: kind/bug, kind/ui, lgtm/done

#12096 Add the tag list page to the release page
  integrations/release_test.go
  models/release.go
  options/locale/locale_en-US.ini
  routers/repo/release.go
  routers/routes/routes.go
  services/release/release.go
  templates/repo/release/list.tmpl
  templates/repo/sub_menu.tmpl
  web_src/less/_repository.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#13407 [Vendor] update mvdan.cc/xurls v2.1.0 -> v2.2.0
  go.mod
  go.sum
  vendor/modules.txt
  vendor/mvdan.cc/xurls/v2/README.md
  vendor/mvdan.cc/xurls/v2/go.mod
  vendor/mvdan.cc/xurls/v2/go.sum
  vendor/mvdan.cc/xurls/v2/schemes.go
  vendor/mvdan.cc/xurls/v2/tlds.go
  vendor/mvdan.cc/xurls/v2/xurls.go
Labels: backport/done, backport/v1.12, dependencies, kind/bug, lgtm/done

#13408 [Vendor] update mvdan.cc/xurls v2.1.0 -> v2.2.0 (#13407)
  go.mod
  go.sum
  vendor/modules.txt
  vendor/mvdan.cc/xurls/v2/README.md
  vendor/mvdan.cc/xurls/v2/go.mod
  vendor/mvdan.cc/xurls/v2/go.sum
  vendor/mvdan.cc/xurls/v2/schemes.go
  vendor/mvdan.cc/xurls/v2/tlds.go
  vendor/mvdan.cc/xurls/v2/xurls.go
Labels: dependencies, kind/bug, lgtm/done

#13411 Fixed git args duplication
  modules/setting/git.go
Labels: kind/bug, lgtm/done

#13410 Fix bug on release publisherid migrations
  models/migrations/v156.go
Labels: kind/bug, lgtm/done

#13415 Fix whitespace rendering in diff
  routers/repo/blame.go
  templates/repo/blame.tmpl
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/settings/webhook/history.tmpl
  templates/repo/view_file.tmpl
  templates/repo/wiki/revision.tmpl
  templates/user/profile.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/helpers.less
Labels: kind/bug, kind/ui, lgtm/done

#13417 Add missing full names when DEFAULT_SHOW_FULL_NAME is enabled
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/protected_branch.tmpl
Labels: backport/v1.13, lgtm/done

#13424 Add missing full names when DEFAULT_SHOW_FULL_NAME is enabled
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/protected_branch.tmpl
Labels: kind/ui, lgtm/done

#13217 Replies to outdated code comments should also be outdated
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v158.go
  services/pull/review.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13425 Alternative fix for HTML diff entity split
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: backport/v1.13, lgtm/done

#13418 Various style tweaks
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_unified.tmpl
  web_src/less/_base.less
  web_src/less/_review.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#13428 Tags cleanup
  modules/context/repo.go
  options/locale/locale_en-US.ini
  templates/repo/sub_menu.tmpl
Labels: kind/ui, lgtm/done

#13427 Alternative fix for HTML diff entity split (#13425)
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#13434 Rework focused comment styling
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#13433 Replies to outdated code comments should also be outdated (#13217)
  models/issue_comment.go
  services/pull/review.go
Labels: kind/bug, lgtm/done

#13439 Revert "Replies to outdated code comments should also be outdated"
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v158.go
  services/pull/review.go
Labels: lgtm/done

#13438 use registry mirror for docker-in-docker
  .drone.yml
Labels: backport/v1.12, backport/v1.13, kind/package, lgtm/done, skip-changelog

#13435 Override fomantic monospace fonts and set size
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#13445 use registry mirror for docker-in-docker (#13438)
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#13446 use registry mirror for docker-in-docker (#13438)
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#13429 Add docs command
  cmd/docs.go
  main.go
Labels: kind/docs, kind/enhancement, lgtm/done

#13441 updateSize when create a repo with init commit
  models/repo.go
Labels: kind/refactor, lgtm/done

#13453 Fix monospace font size for .mono CSS class
  web_src/less/helpers.less
Labels: kind/ui, lgtm/done, skip-changelog

#13447 Add Vue linting
  .eslintrc
  Makefile
  package-lock.json
  package.json
  web_src/js/components/ActivityHeatmap.vue
  web_src/js/components/ActivityTopAuthors.vue
  web_src/js/index.js
Labels: kind/refactor, lgtm/done, skip-changelog

#13455 Update JS dependencies
  package-lock.json
  package.json
Labels: dependencies, lgtm/done, skip-changelog

#11296 [RFC] Make archival asynchronous
  integrations/api_repo_test.go
  integrations/gitea-repositories-meta/user27/repo49.git/HEAD
  integrations/gitea-repositories-meta/user27/repo49.git/config
  integrations/gitea-repositories-meta/user27/repo49.git/description
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/applypatch-msg.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/commit-msg.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/fsmonitor-watchman.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/post-receive
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/post-receive.d/gitea
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/post-update.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/pre-applypatch.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/pre-commit.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/pre-push.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/pre-rebase.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/pre-receive
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/pre-receive.d/gitea
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/pre-receive.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/prepare-commit-msg.sample
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/update
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/update.d/gitea
  integrations/gitea-repositories-meta/user27/repo49.git/hooks/update.sample
  integrations/gitea-repositories-meta/user27/repo49.git/info/exclude
  integrations/gitea-repositories-meta/user27/repo49.git/info/refs
  integrations/gitea-repositories-meta/user27/repo49.git/objects/47/34b1f84a367fa1b81c31aa4234a5bad11cafa3
  integrations/gitea-repositories-meta/user27/repo49.git/objects/4d/31f3a12656368a8d9180f431d40d0fc408be2d
  integrations/gitea-repositories-meta/user27/repo49.git/objects/51/f84af231345367fd5d61ceb89efb3b6d757061
  integrations/gitea-repositories-meta/user27/repo49.git/objects/79/3aa682b06ae032641abf70c5dfeade28c07c52
  integrations/gitea-repositories-meta/user27/repo49.git/objects/aa/cbdfe9e1c4b47f60abe81849045fa4e96f1d75
  integrations/gitea-repositories-meta/user27/repo49.git/objects/dd/392e939ea4936b2459219c9c9a1f25547ccaeb
  integrations/gitea-repositories-meta/user27/repo49.git/objects/f2/8eeca3df7614fd4f10c1030f13feb418ef3c6f
  integrations/gitea-repositories-meta/user27/repo49.git/objects/info/packs
  integrations/gitea-repositories-meta/user27/repo49.git/refs/heads/master
  models/fixtures/repository.yml
  models/fixtures/user.yml
  models/repo_list_test.go
  routers/repo/repo.go
  routers/routes/routes.go
  services/archiver/archiver.go
  services/archiver/archiver_test.go
  templates/repo/branch/list.tmpl
  templates/repo/home.tmpl
  templates/repo/release/list.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done, reviewed/confirmed

#13443 Frontpage and Heatmap CSS tweaks
  web_src/js/components/ActivityHeatmap.vue
  web_src/less/_base.less
  web_src/less/_dashboard.less
  web_src/less/features/heatmap.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13457 Fix double border introduced by #13434
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, skip-changelog

#13463 Fix colors and triangles in issues
  web_src/less/_base.less
  web_src/less/_form.less
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#12766 Multiple GitGraph improvements: Exclude PR heads, Add branch/PR links, Show only certain branches,
  modules/context/pagination.go
  modules/context/repo.go
  modules/git/commit.go
  modules/git/ref.go
  modules/git/repo.go
  modules/git/repo_commit.go
  modules/gitgraph/graph.go
  modules/gitgraph/graph_models.go
  modules/gitgraph/graph_test.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  routers/repo/commit.go
  templates/repo/graph.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/graph/div.tmpl
  templates/repo/graph/svgcontainer.tmpl
  web_src/js/features/gitgraph.js
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/features/gitgraph.less
  web_src/less/themes/theme-arc-green.less
Labels: changelog, kind/enhancement, lgtm/done

#13465 Override fonts using Fomantic config
  web_src/fomantic/_site/globals/site.variables
  web_src/fomantic/build/semantic.css
  web_src/less/_base.less
Labels: kind/refactor, lgtm/done, skip-changelog

#13468 Fix mysql test again
  integrations/api_helper_for_declarative_test.go
Labels: kind/testing, lgtm/done

#13469 Add note about installation on kubernetes to docs
  docs/content/doc/installation/on-kubernetes.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#13471 Make TestCreateBranch and TestRepoCommitsSearch less noisy
  integrations/repo_branch_test.go
  integrations/repo_commits_search_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#13474 docs(comparison): GitHub Actions
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#13448 Comments on review should have the same sha
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v158.go
  services/pull/review.go
Labels: kind/bug, lgtm/done

#13473 Change search and filter icons to SVG
  templates/base/head_navbar.tmpl
  templates/repo/branch_dropdown.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/issue/branch_selector_field.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/search.tmpl
  templates/repo/wiki/view.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/less/helpers.less
Labels: kind/ui, lgtm/done

#13486 Fix panic bug in handling multiple references in commit
  modules/references/references.go
  modules/references/references_test.go
Labels: backport/done, backport/v1.13, kind/bug, lgtm/done, priority/critical

#13482 Fix broken .comment > .content caused by #13457
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done, skip-changelog

#13470 Prevent panic on git blame by limiting lines to 4096 bytes at most
  modules/git/blame.go
Labels: backport/done, backport/v1.12, backport/v1.13, kind/bug, lgtm/done

#13487 Fix panic bug in handling multiple references in commit (#13486)
  modules/references/references.go
  modules/references/references_test.go
Labels: kind/bug, lgtm/done, priority/critical

#13490 2nd attempt at re-request APIMergePullRequest (#13468)
  integrations/api_helper_for_declarative_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#13437 Added title and action buttons to Project view page
  routers/repo/projects.go
  templates/repo/projects/list.tmpl
  templates/repo/projects/view.tmpl
Labels: kind/enhancement, lgtm/done

#13492 Prevent panic on git blame by limiting lines to 4096 bytes at most (#13470)
  modules/git/blame.go
Labels: kind/bug, lgtm/done

#13491 Prevent panic on git blame by limiting lines to 4096 bytes at most (#13470)
  modules/git/blame.go
Labels: kind/bug, lgtm/done

#13497 Some improvements for v156
  models/migrations/v156.go
Labels: lgtm/done, performance/speed

#13458 Fix tooltips and issue dependency styles
  .stylelintrc
  templates/admin/user/edit.tmpl
  templates/repo/commits_table.tmpl
  templates/repo/create.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/release/list.tmpl
  templates/repo/view_file.tmpl
  web_src/less/_base.less
  web_src/less/_markdown.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/features/animations.less
  web_src/less/helpers.less
  web_src/less/standalone/swagger.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13333 Switch from SimpleMDE to EasyMDE
  package-lock.json
  package.json
  public/vendor/plugins/simplemde/LICENSE
  public/vendor/plugins/simplemde/simplemde.min.css
  public/vendor/plugins/simplemde/simplemde.min.js
  templates/base/footer.tmpl
  templates/base/head.tmpl
  web_src/js/easymde.js
  web_src/less/_editor.less
  web_src/less/themes/theme-arc-green.less
  webpack.config.js
Labels: kind/ui, lgtm/done

#13500 Make heatmap shades linear
  web_src/js/components/ActivityHeatmap.vue
Labels: kind/ui, lgtm/done, skip-changelog

#13503 1.13.0-rc2 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#13504 fix: issue tracker link redirection
  templates/repo/graph/commits.tmpl
Labels: lgtm/done

#13505 Include OriginalAuthor in Reaction constraint
  models/issue_reaction.go
  models/migrations/migrations.go
  models/migrations/v159.go
Labels: kind/bug, lgtm/done

#13507 Migration not fail on notmigrated reactions
  modules/migrations/gitea_downloader.go
Labels: kind/bug, lgtm/done, skip-changelog

#13521 Disallow urlencoded new lines in git protocol paths if there is a port
  modules/auth/repo_form.go
Labels: backport/v1.12, backport/v1.13, kind/bug, lgtm/done

#13524 Disallow urlencoded new lines in git protocol paths if there is a port (#13521)
  modules/auth/repo_form.go
Labels: kind/bug, lgtm/done

#13525 Disallow urlencoded new lines in git protocol paths if there is a port (#13521)
  modules/auth/repo_form.go
Labels: kind/bug, lgtm/done

#13526 Lazy-load issue reviewers and assignees avatars
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/ui, lgtm/done

#13501 Form styling adjustments
  templates/user/dashboard/repolist.tmpl
  web_src/less/_base.less
  web_src/less/_dashboard.less
  web_src/less/_form.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13527 Prevent git operations for inactive users
  routers/private/serv.go
  routers/repo/http.go
Labels: backport/v1.12, backport/v1.13, kind/bug, kind/security, lgtm/done

#13536 Prevent git operations for inactive users (#13527)
  routers/private/serv.go
  routers/repo/http.go
Labels: kind/bug, kind/security, lgtm/done

#13534 Various style fixes
  templates/admin/notice.tmpl
  web_src/less/_admin.less
  web_src/less/_base.less
  web_src/less/_explore.less
  web_src/less/_repository.less
  web_src/less/_user.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13537 Prevent git operations for inactive users (#13527)
  routers/private/serv.go
  routers/repo/http.go
Labels: kind/bug, kind/security, lgtm/done

#7420 Introduce go chi web framework as frontend of macaron, so that we can move routes from macaron to chi step by step
  .golangci.yml
  cmd/web.go
  contrib/pr/checkout.go
  go.mod
  go.sum
  integrations/create_no_session_test.go
  integrations/git_helper_for_declarative_test.go
  integrations/integration_test.go
  integrations/oauth_test.go
  modules/public/dynamic.go
  modules/public/public.go
  modules/public/static.go
  routers/routes/chi.go
  routers/routes/macaron.go
  vendor/github.com/go-chi/chi/.gitignore
  vendor/github.com/go-chi/chi/.travis.yml
  vendor/github.com/go-chi/chi/CHANGELOG.md
  vendor/github.com/go-chi/chi/CONTRIBUTING.md
  vendor/github.com/go-chi/chi/LICENSE
  vendor/github.com/go-chi/chi/README.md
  vendor/github.com/go-chi/chi/chain.go
  vendor/github.com/go-chi/chi/chi.go
  vendor/github.com/go-chi/chi/context.go
  vendor/github.com/go-chi/chi/go.mod
  vendor/github.com/go-chi/chi/middleware/basic_auth.go
  vendor/github.com/go-chi/chi/middleware/compress.go
  vendor/github.com/go-chi/chi/middleware/content_charset.go
  vendor/github.com/go-chi/chi/middleware/content_encoding.go
  vendor/github.com/go-chi/chi/middleware/content_type.go
  vendor/github.com/go-chi/chi/middleware/get_head.go
  vendor/github.com/go-chi/chi/middleware/heartbeat.go
  vendor/github.com/go-chi/chi/middleware/logger.go
  vendor/github.com/go-chi/chi/middleware/middleware.go
  vendor/github.com/go-chi/chi/middleware/nocache.go
  vendor/github.com/go-chi/chi/middleware/profiler.go
  vendor/github.com/go-chi/chi/middleware/realip.go
  vendor/github.com/go-chi/chi/middleware/recoverer.go
  vendor/github.com/go-chi/chi/middleware/request_id.go
  vendor/github.com/go-chi/chi/middleware/route_headers.go
  vendor/github.com/go-chi/chi/middleware/strip.go
  vendor/github.com/go-chi/chi/middleware/terminal.go
  vendor/github.com/go-chi/chi/middleware/throttle.go
  vendor/github.com/go-chi/chi/middleware/timeout.go
  vendor/github.com/go-chi/chi/middleware/url_format.go
  vendor/github.com/go-chi/chi/middleware/value.go
  vendor/github.com/go-chi/chi/middleware/wrap_writer.go
  vendor/github.com/go-chi/chi/mux.go
  vendor/github.com/go-chi/chi/tree.go
  vendor/modules.txt
Labels: kind/refactor, lgtm/done, reviewed/confirmed

#13544 Reindent manifest.json
  templates/pwa/manifest_json.tmpl
Labels: kind/refactor, lgtm/done, skip-changelog

#13542 Fix blame line alignment
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#13523 Proper signature validation in webhook example
  docs/content/doc/features/webhooks.en-us.md
Labels: kind/docs, lgtm/done

#13538 Add missed sync branch/tag webhook
  modules/notification/webhook/webhook.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13533 Make heatmap colors more distinct
  web_src/js/components/ActivityHeatmap.vue
Labels: kind/ui, lgtm/done

#13522 Use existing analyzer module for language detection for highlighting
  modules/highlight/highlight.go
Labels: backport/v1.13, kind/ui, lgtm/done

#13551 Use existing analyzer module for language detection for highlighting (#13522)
  modules/highlight/highlight.go
Labels: lgtm/done

#13553 Fix issue label spacing and hover
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13547 unify layout between auth pages
  templates/user/auth/link_account.tmpl
  templates/user/auth/signin.tmpl
  templates/user/auth/signup.tmpl
  templates/user/auth/signup_inner.tmpl
  web_src/less/_form.less
  web_src/less/_home.less
Labels: kind/ui, lgtm/done, skip-changelog

#13556 Add missed sync branch/tag webhook (#13538)
  modules/notification/webhook/webhook.go
Labels: kind/refactor, lgtm/done

#13550 missing quotes in default value slice
  modules/setting/repository.go
Labels: backport/v1.13, kind/bug, lgtm/done

#13552 Use monaco for the git hook editor
  routers/repo/setting.go
  templates/repo/editor/edit.tmpl
  templates/repo/settings/githook_edit.tmpl
  templates/repo/settings/githooks.tmpl
  web_src/js/features/codeeditor.js
  web_src/js/index.js
  web_src/less/_editor.less
Labels: kind/enhancement, kind/refactor, lgtm/done

#13557 missing quotes in default value slice (#13550)
  modules/setting/repository.go
Labels: kind/bug, lgtm/done

#13559 API: Fix GetQueryBeforeSince
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/user.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/utils/utils.go
Labels: backport/done, backport/v1.12, backport/v1.13, kind/api, kind/bug, lgtm/done

#13511 [API] Only Return Json
  modules/context/api.go
  modules/context/repo.go
  routers/api/v1/api.go
  routers/api/v1/repo/branch.go
  templates/swagger/v1_json.tmpl
Labels: backport/v1.12, backport/v1.13, kind/api, kind/bug, kind/refactor, lgtm/done

#13475 Add email validity check
  integrations/api_admin_test.go
  integrations/signup_test.go
  models/error.go
  models/user.go
  models/user_mail.go
  models/user_test.go
  options/locale/locale_en-US.ini
  routers/admin/users.go
  routers/admin/users_test.go
  routers/api/v1/admin/user.go
  routers/api/v1/user/email.go
  routers/user/auth.go
  routers/user/setting/account.go
Labels: kind/enhancement, lgtm/done

#13549 Add markdown support in organization description
  routers/org/home.go
  templates/org/home.tmpl
Labels: kind/breaking, kind/ui, lgtm/done

#13564 [API] Only Return Json (#13511)
  modules/context/api.go
  modules/context/repo.go
  routers/api/v1/api.go
  routers/api/v1/repo/branch.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, lgtm/done

#13565 [API] Only Return Json (#13511)
  modules/context/api.go
  modules/context/repo.go
  routers/api/v1/api.go
  routers/api/v1/repo/branch.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, lgtm/done

#13570 Fix issue label rendering
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, skip-changelog

#13560 API: Fix GetQueryBeforeSince (#13559)
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/user.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/utils/utils.go
Labels: kind/api, kind/bug, lgtm/done

#13571 Enable syntax highlighting for *.tmpl on GitHub
  .gitattributes
Labels: lgtm/done, skip-changelog

#13567 CSS color variables, less bold font weight and more
  integrations/pull_merge_test.go
  integrations/pull_status_test.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  web_src/fomantic/_site/globals/site.variables
  web_src/fomantic/build/semantic.css
  web_src/less/_admin.less
  web_src/less/_base.less
  web_src/less/_chroma.less
  web_src/less/_dashboard.less
  web_src/less/_home.less
  web_src/less/_markdown.less
  web_src/less/_organization.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/_tribute.less
  web_src/less/_user.less
  web_src/less/features/heatmap.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13579 Render diff stats server-side
  modules/templates/helper.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/stats.tmpl
  web_src/js/index.js
Labels: kind/refactor, kind/ui, lgtm/done, skip-changelog

#13576 Add tab-size support for Firefox
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, skip-changelog

#13578 When building rootless docker image move chown&chmod to build stage
  Dockerfile.rootless
Labels: kind/build, lgtm/done, skip-changelog

#13152 Changelog for v1.12.6
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#13555 Use mount but not register for chi routes
  cmd/web.go
  contrib/pr/checkout.go
  integrations/create_no_session_test.go
  integrations/integration_test.go
  routers/install.go
  routers/routes/chi.go
Labels: kind/refactor, lgtm/done

#13554 Fix comment triangles and tweak inline comment margins
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13563 Migration: Gitlab: Support Subdirectory
  modules/migrations/gitlab.go
Labels: backport/v1.13, kind/bug, kind/migration, lgtm/done

#13595 Fix Fomatic Build
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#13596 Fix Fomatic Build
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#13593 Fix Fomatic Build
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#13584 Change markdown font weight to 600
  web_src/less/_markdown.less
Labels: kind/ui, lgtm/done, skip-changelog

#13590 Fix label display on new issues
  routers/repo/compare.go
  templates/repo/issue/labels/label.tmpl
  templates/repo/issue/labels/labels_sidebar.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done, skip-changelog

#13546 fix media query edge case
  web_src/less/_admin.less
  web_src/less/_base.less
  web_src/less/_dashboard.less
  web_src/less/_form.less
  web_src/less/_home.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/_user.less
  web_src/less/features/heatmap.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
  web_src/less/variables.less
Labels: kind/ui, lgtm/done, skip-changelog

#13591 Migration: Gitlab: Support Subdirectory (#13563)
  modules/migrations/gitlab.go
Labels: kind/bug, kind/migration, lgtm/done, skip-changelog

#13601 Move metrics from macaron to chi
  routers/metrics.go
  routers/routes/chi.go
  routers/routes/macaron.go
Labels: kind/refactor, lgtm/done

#13569 HTTP cache rework and enable caching for storage assets
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  main.go
  modules/httpcache/httpcache.go
  modules/public/public.go
  modules/setting/setting.go
  routers/routes/chi.go
  routers/routes/macaron.go
Labels: kind/enhancement, lgtm/done, performance/speed

#13607 Docs: Installation from package
  docs/content/doc/installation/from-package.en-us.md
Labels: kind/docs, lgtm/done

#13612 Fix a bug when check if owner is active
  routers/private/serv.go
  routers/repo/http.go
Labels: backport/done, backport/v1.12, backport/v1.13, kind/bug, lgtm/done

#13613 Fix a bug when check if owner is active
  routers/private/serv.go
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#13614 Fix a bug when check if owner is active
  routers/private/serv.go
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#13624 Config lock bot
  .github/lock.yml
Labels: lgtm/done, skip-changelog

#13623 Remove fetch request from heatmap
  routers/user/home.go
  routers/user/profile.go
  templates/base/head.tmpl
  templates/user/dashboard/dashboard.tmpl
  templates/user/heatmap.tmpl
  templates/user/profile.tmpl
  web_src/js/components/ActivityHeatmap.vue
  web_src/js/features/heatmap.js
  web_src/js/features/userheatmap.js
  web_src/js/index.js
  web_src/less/features/heatmap.less
Labels: kind/enhancement, lgtm/done

#13561 API: Fix GetQueryBeforeSince (#13559)
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/user.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/utils/utils.go
Labels: kind/api, kind/bug, lgtm/done

#13629 finaly fix gitlab migration with subdir
  modules/migrations/gitlab.go
Labels: backport/v1.13, kind/bug, kind/migration, lgtm/done, skip-changelog

#13633 finaly fix gitlab migration with subdir (#13629)
  modules/migrations/gitlab.go
Labels: kind/bug, kind/migration, lgtm/done, skip-changelog

#13644 specific version in docker compose
  docs/config.yaml
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#13647 Fixes #13641 - Filtering in Pull Request kept all the time.
  routers/repo/issue.go
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
Labels: backport/v1.13, kind/bug, lgtm/done

#13651 Fix issue/pull request list assignee filter (#13647)
  routers/repo/issue.go
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
Labels: kind/bug, lgtm/done

#13646 finaly fix gitlab migration with subdir 2.0
  modules/migrations/gitlab.go
Labels: backport/v1.13, kind/bug, kind/migration, lgtm/done, skip-changelog

#13562 API: Admin EditUser: Make FullName, Email, Website & Location optional
  integrations/api_admin_test.go
  modules/structs/admin_user.go
  routers/api/v1/admin/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#13627 skip email validation on empty string
  models/user.go
  models/user_mail.go
Labels: kind/bug, kind/refactor, lgtm/done, skip-changelog

#13619 Refactor combine label comments with tests
  routers/repo/issue.go
  routers/repo/issue_test.go
Labels: kind/refactor, lgtm/done

#13548 Improve strings
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done, skip-changelog

#13662 Handle incomplete diff files properly
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: backport/done, backport/v1.12, backport/v1.13, kind/bug, lgtm/done

#13669 Handle incomplete diff files properly (#13662)
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done

#13670 Don't render dropdown when only 1 merge style is available
  models/repo_unit.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/ui, lgtm/done

#13668 Handle incomplete diff files properly (#13662)
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#13666 Validate email before inserting/updating (#13475)
  integrations/api_admin_test.go
  integrations/signup_test.go
  models/error.go
  models/user.go
  models/user_mail.go
  models/user_test.go
  options/locale/locale_en-US.ini
  routers/admin/users.go
  routers/admin/users_test.go
  routers/api/v1/admin/user.go
  routers/api/v1/user/email.go
  routers/user/auth.go
  routers/user/setting/account.go
Labels: kind/enhancement, lgtm/done

#13676 Send error message when CSRF token is missing
  modules/context/api.go
Labels: kind/api, lgtm/done

#13672 Fix pull request commit list item positions
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, skip-changelog

#13678 finaly fix gitlab migration with subdir 2.0 (#13646)
  modules/migrations/gitlab.go
Labels: kind/bug, kind/migration, lgtm/done, skip-changelog

#13514 [API] Add more filters to issues search
  integrations/api_issue_test.go
  models/issue.go
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#13645 Fix heatmap rendering in Chrome and Safari
  web_src/less/features/heatmap.less
Labels: kind/bug, lgtm/done, skip-changelog

#13693 CSS table fixes
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#13692 CSS table fixes
  templates/repo/wiki/pages.tmpl
  web_src/less/_base.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13594 Issue and Pulls lists rework
  modules/templates/helper.go
  modules/util/util.go
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/shared/issuelist.tmpl
  templates/user/dashboard/issues.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/helpers.less
  web_src/less/index.less
  web_src/less/shared/issuelist.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/refactor, kind/ui, lgtm/done

#13686 Support shortened commit SHAs in URLs
  modules/context/repo.go
Labels: kind/enhancement, lgtm/done

#13696 Use chronological commit order in default squash message
  services/pull/pull.go
Labels: kind/enhancement, lgtm/done

#13609 CSS navbar and color tweaks
  templates/admin/navbar.tmpl
  templates/repo/editor/commit_form.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/settings/navbar.tmpl
  templates/user/auth/link_account.tmpl
  templates/user/auth/signin_navbar.tmpl
  templates/user/auth/signup_openid_navbar.tmpl
  templates/user/profile.tmpl
  templates/user/settings/navbar.tmpl
  web_src/less/_admin.less
  web_src/less/_base.less
  web_src/less/_dashboard.less
  web_src/less/_explore.less
  web_src/less/_organization.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/_user.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#13626 Prevent clone protocol button flash on page load
  templates/repo/home.tmpl
  web_src/js/index.js
  web_src/less/helpers.less
Labels: kind/ui, lgtm/done
