Repository go-gitea/gitea, pull requests merged in 2020-06, with the labels that each got.

#11718 Handle expected errors in FileCreate & FileUpdate API (#11643)
  integrations/api_repo_file_create_test.go
  integrations/api_repo_file_update_test.go
  routers/api/v1/repo/file.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#11708 Issue/Pull expose IsLocked Property on API
  modules/convert/issue.go
  modules/convert/pull.go
  modules/structs/issue.go
  modules/structs/pull.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#11487 log slow tests
  integrations/README.md
  integrations/integration_test.go
  integrations/testlogger.go
Labels: kind/testing, lgtm/done

#11678 Update emoji dataset with skin tone variants
  assets/emoji.json
  build/generate-emoji.go
  modules/emoji/emoji.go
  modules/emoji/emoji_data.go
Labels: kind/ui, lgtm/done

#11690 Change language statistics to save size instead of percentage (#11681)
  models/migrations/migrations.go
  models/migrations/v140.go
  models/repo_language_stats.go
  modules/git/repo_language_stats.go
  modules/indexer/stats/indexer_test.go
Labels: kind/enhancement, lgtm/done

#11714 Properly truncate system notices
  templates/admin/notice.tmpl
  web_src/js/index.js
  web_src/less/_admin.less
Labels: backport/v1.12, kind/bug, lgtm/done

#11621 Fix chardet test and add ordering option
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/charset/charset.go
  modules/charset/charset_test.go
  modules/setting/repository.go
Labels: kind/bug, kind/feature, kind/testing, lgtm/done

#11742 Properly truncate system notices (#11714)
  templates/admin/notice.tmpl
  web_src/js/index.js
  web_src/less/_admin.less
Labels: kind/bug, lgtm/done

#11702 Show full GPG commit status on PR commit history
  templates/repo/commits_list.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/shabox_badge.tmpl
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
Labels: kind/enhancement, lgtm/done

#11740 Allow site admin to disable mirrors
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/repository.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/migrate.go
  routers/repo/repo.go
  templates/repo/migrate.tmpl
Labels: kind/enhancement, lgtm/done

#10057 [Contrib] Change License Link to Full CC0 Legalcode (PP and TOS)
  contrib/legal/privacy.html.sample
  contrib/legal/tos.html.sample
Labels: kind/docs, lgtm/done

#11729 Add missing templates for Matrix system webhooks
  templates/admin/hook_new.tmpl
  templates/org/settings/hook_new.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#11715 Fix styling for commiter on diff view
  options/locale/locale_en-US.ini
  templates/repo/commit_page.tmpl
  web_src/less/_repository.less
Labels: backport/v1.12, kind/ui, lgtm/done

#11721 bug: fix wrong poster message for code comment on Pull view
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/ui, lgtm/done

#11626 Update from-package.zh-tw.md
  docs/content/doc/installation/from-package.zh-tw.md
Labels: kind/docs, lgtm/done, skip-changelog

#11744 Fix styling for commiter on diff view (#11715)
  options/locale/locale_en-US.ini
  templates/repo/commit_page.tmpl
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#11616 Fix message wrapping on PR commit list
  templates/repo/commits_list_small.tmpl
Labels: kind/ui, lgtm/done

#11739 export monaco editor on window.codeEditors
  web_src/js/features/codeeditor.js
Labels: kind/enhancement, lgtm/done

#11713 Fix verification of subkeys of default gpg key
  integrations/private-testing.key
  models/gpg_key.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11747 Fix verification of subkeys of default gpg key (#11713)
  integrations/private-testing.key
  models/gpg_key.go
Labels: kind/bug, lgtm/done

#11641 [API] on 500 error only show message if gitea in dev mode
  modules/context/api.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11746 Don't put integration test data outside of test folder
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
Labels: kind/testing, lgtm/done

#11720 Alpine 3.12
  .drone.yml
  Dockerfile
Labels: kind/build, kind/refactor, lgtm/done

#11736 Update fomantic-ui to 2.8.5
  Makefile
  package-lock.json
  package.json
  semantic.json
  web_src/fomantic/css.js
Labels: kind/refactor, kind/ui, lgtm/done

#11753 [API] on 500 error only show message if gitea in dev mode (#11641)
  modules/context/api.go
Labels: kind/bug, lgtm/done

#11579 Include query in sign in redirect
  modules/context/context.go
  templates/base/head_navbar.tmpl
Labels: kind/bug, lgtm/done

#11735 [API] Expose allowed Reactions
  integrations/api_issue_reaction_test.go
  routers/api/v1/api.go
  routers/api/v1/misc/settings.go
  routers/api/v1/swagger/misc.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#11757 API: Return error when Mirrors globaly disabled and like to create one
  routers/api/v1/repo/migrate.go
Labels: kind/api, lgtm/done

#11760 Fix bug with globally disabling mirror
  routers/api/v1/misc/settings.go
  routers/api/v1/repo/migrate.go
Labels: kind/refactor, lgtm/done, skip-changelog

#11763 Update emoji dataset with skin tone variants (#11678)
  assets/emoji.json
  build/generate-emoji.go
  modules/emoji/emoji.go
  modules/emoji/emoji_data.go
Labels: kind/ui, lgtm/done

#11568 European Portuguese translation
  custom/conf/app.ini.sample
  docs/config.yaml
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
  options/locale/TRANSLATORS
Labels: backport/v1.12, kind/translation, lgtm/done

#11671 Fix to allow comment poster to edit or delete his own comments
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/context_menu.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#11751 Provide diff and patch API endpoints
  modules/context/api.go
  routers/api/v1/api.go
  routers/api/v1/repo/pull.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#11529 Add internal-repo octicon for public repos of private org
  models/repo.go
  modules/structs/repo.go
  templates/explore/repo_list.tmpl
  templates/repo/header.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/js/index.js
Labels: kind/ui, lgtm/done

#11773 Fix typo
  modules/auth/user_form.go
  modules/auth/user_form_auth_openid.go
Labels: kind/docs, lgtm/done, skip-changelog

#11752 Add compare link to releases
  options/locale/locale_en-US.ini
  templates/repo/release/list.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#11353 Add hide activity option
  integrations/privateactivity_test.go
  models/action.go
  models/migrations/migrations.go
  models/migrations/v141.go
  models/user.go
  models/user_heatmap.go
  modules/auth/user_form.go
  options/locale/locale_en-US.ini
  routers/user/home.go
  routers/user/profile.go
  routers/user/setting/profile.go
  templates/user/profile.tmpl
  templates/user/settings/profile.tmpl
Labels: kind/ui, lgtm/done

#11697 Fix timezone on issue deadline
  modules/timeutil/timestamp.go
  routers/api/v1/repo/issue.go
  templates/repo/issue/view_content/sidebar.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#11696 Increase maximum SQLite variables count to 32766
  Makefile
  models/issue.go
Labels: backport/v1.12, kind/build, lgtm/done

#11781 Remove unnecessary parentheses in wiki/view template
  templates/repo/wiki/view.tmpl
Labels: kind/bug, lgtm/done

#11780 1.11.6 is latest version
  docs/config.yaml
Labels: kind/docs, lgtm/done

#11778 European Portuguese translation (#11568)
  custom/conf/app.ini.sample
  docs/config.yaml
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
  options/locale/TRANSLATORS
Labels: kind/translation, lgtm/done

#11784 Fix timezone on issue deadline (#11697)
  modules/timeutil/timestamp.go
  routers/api/v1/repo/issue.go
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, lgtm/done

#11749 Initialize SimpleMDE when making a code comment
  web_src/js/index.js
  web_src/less/_review.less
Labels: backport/v1.12, kind/ui, lgtm/done

#11689 Fix align issues and decrease avatar size on PR timeline
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11782 Fix missing CGO_EXTRA_FLAGS build arg for docker
  Dockerfile
  docker/Makefile
Labels: kind/build, lgtm/done

#11774 Fix to allow comment poster to edit or delete his own comments (#11671)
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/context_menu.tmpl
Labels: kind/bug, lgtm/done

#11785 Initialize SimpleMDE when making a code comment (#11749)
  web_src/js/index.js
  web_src/less/_review.less
Labels: kind/bug, kind/ui, lgtm/done

#11717 Fix visibility of forked public repos from private orgs
  models/repo.go
  modules/repository/fork.go
  routers/org/setting.go
  routers/repo/pull.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#11783 Increase maximum SQLite variables count to 32766 (#11696)
  Dockerfile
  Makefile
  docker/Makefile
  models/issue.go
Labels: kind/enhancement, lgtm/done

#11737 Add language statistics API endpoint
  integrations/api_repo_languages_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/language.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#11789 Fix doer of rename repo
  routers/repo/setting.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11794 Fix doer of rename repo (#11789)
  routers/repo/setting.go
Labels: lgtm/done

#11791 In File Create/Update API return 404 if Branch does not exist
  routers/api/v1/repo/file.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11767 Work around fomantic 2.8.5 bugs
  templates/repo/issue/view_content/pull.tmpl
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#11666 Add option to API to update PullRequest base branch
  integrations/api_pull_test.go
  modules/structs/pull.go
  routers/api/v1/repo/pull.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#11795 In File Create/Update API return 404 if Branch does not exist (#11791)
  routers/api/v1/repo/file.go
Labels: kind/bug, lgtm/done

#11796 Add option to API to update PullRequest base branch (#11666)
  integrations/api_pull_test.go
  modules/structs/pull.go
  routers/api/v1/repo/pull.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#11798 Make tabular menu styling consistent for arc-green (#11570)
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#11799 Changelog v1.12.0-rc2
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#11724 Ensure rejected push to refs/pull/index/head fails nicely
  routers/repo/pull.go
  services/pull/pull.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11809 Ensure rejected push to refs/pull/index/head fails nicely (#11724)
  routers/repo/pull.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#11812 FIX Test: give gitea time to calculate language stats
  integrations/api_repo_languages_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#11805 Honor DEFAULT_PAGING_NUM for API
  integrations/api_repo_test.go
  integrations/release_test.go
  modules/convert/utils.go
  routers/api/v1/repo/topic.go
  routers/repo/release.go
Labels: backport/v1.12, kind/api, kind/bug, lgtm/done

#11806 Remove page size limit comment from swagger
  routers/api/v1/admin/org.go
  routers/api/v1/admin/user.go
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/user.go
  routers/api/v1/org/hook.go
  routers/api/v1/org/label.go
  routers/api/v1/org/member.go
  routers/api/v1/org/org.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/fork.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_reaction.go
  routers/api/v1/repo/issue_stopwatch.go
  routers/api/v1/repo/issue_subscription.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/key.go
  routers/api/v1/repo/label.go
  routers/api/v1/repo/milestone.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/pull_review.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/star.go
  routers/api/v1/repo/status.go
  routers/api/v1/repo/subscriber.go
  routers/api/v1/repo/topic.go
  routers/api/v1/repo/tree.go
  routers/api/v1/user/app.go
  routers/api/v1/user/follower.go
  routers/api/v1/user/gpg_key.go
  routers/api/v1/user/key.go
  routers/api/v1/user/repo.go
  routers/api/v1/user/star.go
  routers/api/v1/user/user.go
  routers/api/v1/user/watch.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#11801 Use crispEdges rendering for octicon-internal-repo
  web_src/less/_svg.less
Labels: kind/ui, lgtm/done

#11741 [Workaround] doctor xorm.Count nil on sqlite error
  cmd/doctor.go
  models/consistency.go
Labels: kind/bug, lgtm/done

#11813 Honor DEFAULT_PAGING_NUM for API (#11805)
  integrations/api_repo_test.go
  integrations/release_test.go
  modules/convert/utils.go
  routers/api/v1/repo/topic.go
  routers/repo/release.go
Labels: kind/api, kind/bug, lgtm/done

#11821 Fix reply octicon
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
Labels: backport/v1.12, kind/bug, kind/ui, lgtm/done

#11822 Fix reply octicon (#11821)
  templates/repo/view_list.tmpl
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#11811 Refactor: Remove Dependencys from Migration v112-v119
  models/migrations/v112.go
  models/migrations/v116.go
  models/migrations/v119.go
Labels: kind/refactor, lgtm/done

#11615 rework eslint config
  .eslintrc
  package-lock.json
  package.json
  templates/repo/issue/new_form.tmpl
  web_src/js/features/clipboard.js
  web_src/js/features/codeeditor.js
  web_src/js/features/highlight.worker.js
  web_src/js/index.js
Labels: kind/refactor, lgtm/done

#11745 API allow to create closed milestones
  integrations/api_issue_milestone_test.go
  modules/structs/issue_milestone.go
  routers/api/v1/repo/milestone.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done

#11847 Don't consider tag refs as valid for branch name
  modules/git/commit.go
Labels: kind/bug, lgtm/done

#11842 Update JS dependencies
  package-lock.json
  package.json
Labels: dependencies, lgtm/done, skip-changelog

#11852 Set the base url when migrating from Gitlab using access token or username without password
  modules/migrations/gitlab.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11850 Prevent panic on empty HOST for mysql
  modules/setting/database.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11856 Prevent panic on empty HOST for mysql (#11850)
  modules/setting/database.go
Labels: kind/bug, lgtm/done

#11857 cloudron: update link to demo
  docs/content/doc/installation/from-package.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#11846 Show exact tag for commit on diff view
  modules/git/commit.go
  routers/repo/commit.go
  templates/repo/commit_page.tmpl
Labels: kind/feature, lgtm/done

#11853 Add migration to set IsArchived false if it is null
  cmd/doctor.go
  models/consistency.go
  models/migrations/migrations.go
  models/migrations/v142.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11841 Improve label edit buttons labels
  options/locale/locale_en-US.ini
  templates/repo/issue/labels/edit_delete_label.tmpl
Labels: kind/ui, lgtm/done

#11859 Add doctor check to set IsArchived false if it is null (partial #11853)
  cmd/doctor.go
  models/consistency.go
Labels: kind/bug, lgtm/done

#11849 Fix commit search in all branches
  modules/git/repo_commit.go
Labels: kind/bug, lgtm/done

#11843 Handle more pathological branch and tag names
  integrations/branches_test.go
  modules/git/repo_commit.go
  modules/repository/branch.go
  routers/repo/branch.go
  routers/repo/compare.go
  routers/repo/pull.go
  services/pull/pull.go
  services/pull/temp_repo.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11840 Fix search form button overlap
  templates/repo/issue/search.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#11862 Fix nil pointer in default issue mail template
  templates/mail/issue/default.tmpl
Labels: backport/v1.12, kind/bug, lgtm/done

#11810 Add automatic JS license generation
  integrations/links_test.go
  options/locale/locale_en-US.ini
  package-lock.json
  package.json
  public/vendor/librejs.html
  templates/base/footer_content.tmpl
  templates/base/head.tmpl
  webpack.config.js
Labels: kind/docs, lgtm/done

#11864 Fix search form button overlap (#11840)
  templates/repo/issue/search.tmpl
  templates/user/dashboard/issues.tmpl
Labels: kind/ui, lgtm/done

#11863 Handle more pathological branch and tag names (#11843)
  integrations/branches_test.go
  modules/git/repo_commit.go
  modules/repository/branch.go
  routers/repo/branch.go
  routers/repo/compare.go
  routers/repo/pull.go
  services/pull/temp_repo.go
Labels: kind/bug, lgtm/done

#11870 Fix 500 error on repos with no tags
  modules/git/commit.go
Labels: kind/bug, lgtm/done

#11873 Fix repo internal icon when avatar is present
  templates/repo/header.tmpl
  templates/repo/header_icon.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#11871 Disable all typographic replacements in markdown renderer
  modules/markup/html_test.go
  modules/markup/markdown/markdown.go
Labels: kind/enhancement, kind/ui, lgtm/done

#11827 Rework api/user/repos for pagination
  models/repo.go
  models/user.go
  routers/api/v1/user/repo.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11877 Rework api/user/repos for pagination (#11827)
  models/repo.go
  models/user.go
  routers/api/v1/user/repo.go
Labels: kind/bug, lgtm/done

#11761 ui: Show update branch item in merge box when it's necessary
  templates/repo/issue/view_content/pull.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11876 Only write to global gitconfig if necessary
  modules/git/git.go
  modules/process/manager.go
Labels: kind/enhancement, lgtm/done

#11882 Invalidate comments when file is shortened
  models/issue_comment.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11879 Better align items using flex within review request box
  templates/repo/issue/view_content/pull.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11880 Vertically align review icons on repository sidebar
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11884 Invalidate comments when file is shortened (#11882)
  models/issue_comment.go
Labels: kind/bug, lgtm/done

#11885 Rework blame template and styling
  routers/repo/blame.go
  templates/repo/blame.tmpl
  templates/repo/home.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11881 Fix icon alignment for show/hide outdated link on resolved conversation
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11902 Fix verification of subkeys of default gpg key (#11713)
  integrations/private-testing.key
  models/gpg_key.go
Labels: kind/bug, lgtm/done

#11900 Upgrade xorm to v1.0.2
  go.mod
  go.sum
  models/context.go
  vendor/modules.txt
  vendor/xorm.io/xorm/.drone.yml
  vendor/xorm.io/xorm/.gitignore
  vendor/xorm.io/xorm/Makefile
  vendor/xorm.io/xorm/README.md
  vendor/xorm.io/xorm/contexts/hook.go
  vendor/xorm.io/xorm/convert.go
  vendor/xorm.io/xorm/core/db.go
  vendor/xorm.io/xorm/core/stmt.go
  vendor/xorm.io/xorm/core/tx.go
  vendor/xorm.io/xorm/dialects/dialect.go
  vendor/xorm.io/xorm/dialects/mssql.go
  vendor/xorm.io/xorm/dialects/mysql.go
  vendor/xorm.io/xorm/dialects/oracle.go
  vendor/xorm.io/xorm/dialects/postgres.go
  vendor/xorm.io/xorm/dialects/sqlite3.go
  vendor/xorm.io/xorm/doc.go
  vendor/xorm.io/xorm/engine.go
  vendor/xorm.io/xorm/engine_group.go
  vendor/xorm.io/xorm/engine_group_policy.go
  vendor/xorm.io/xorm/error.go
  vendor/xorm.io/xorm/interface.go
  vendor/xorm.io/xorm/internal/statements/insert.go
  vendor/xorm.io/xorm/internal/statements/pk.go
  vendor/xorm.io/xorm/internal/statements/statement.go
  vendor/xorm.io/xorm/internal/statements/statement_args.go
  vendor/xorm.io/xorm/internal/statements/update.go
  vendor/xorm.io/xorm/internal/statements/values.go
  vendor/xorm.io/xorm/log/logger_context.go
  vendor/xorm.io/xorm/names/mapper.go
  vendor/xorm.io/xorm/processors.go
  vendor/xorm.io/xorm/schemas/column.go
  vendor/xorm.io/xorm/schemas/table.go
  vendor/xorm.io/xorm/session.go
  vendor/xorm.io/xorm/session_delete.go
  vendor/xorm.io/xorm/session_find.go
  vendor/xorm.io/xorm/session_get.go
  vendor/xorm.io/xorm/session_insert.go
  vendor/xorm.io/xorm/tags/parser.go
  vendor/xorm.io/xorm/xorm.go
Labels: dependencies, lgtm/done

#11887 Make repository size unclickable on repo summary bar
  templates/repo/sub_menu.tmpl
Labels: kind/ui, lgtm/done

#11905 upgrade pq to v1.7.0
  go.mod
  go.sum
  vendor/github.com/lib/pq/.travis.yml
  vendor/github.com/lib/pq/CONTRIBUTING.md
  vendor/github.com/lib/pq/README.md
  vendor/github.com/lib/pq/conn.go
  vendor/github.com/lib/pq/conn_go18.go
  vendor/github.com/lib/pq/connector.go
  vendor/github.com/lib/pq/copy.go
  vendor/github.com/lib/pq/doc.go
  vendor/github.com/lib/pq/encode.go
  vendor/github.com/lib/pq/go.mod
  vendor/github.com/lib/pq/krb.go
  vendor/github.com/lib/pq/notice.go
  vendor/github.com/lib/pq/notify.go
  vendor/github.com/lib/pq/scram/scram.go
  vendor/github.com/lib/pq/user_posix.go
  vendor/modules.txt
Labels: dependencies, lgtm/done

#11907 Fix __webpack_public_path__ for 1.11
  web_src/js/publicPath.js
Labels: kind/bug, lgtm/done

#11910 UI: Fix wrong closing tag
  templates/repo/sub_menu.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#11912 Update CommitsAhead CommitsBehind on Pull BaseBranch Change
  services/pull/pull.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11915 Update CommitsAhead CommitsBehind on Pull BaseBranch Change too (#11912)
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#11919 Fix double divider on issue sidebar
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/ui, lgtm/done

#11925 Use ID or Where to instead directly use Get when load object from database
  models/attachment.go
  models/branches.go
  models/issue_label.go
  models/login_source.go
  models/twofactor.go
  models/upload.go
  models/user.go
  models/user_mail.go
  models/user_openid.go
Labels: backport/v1.11, backport/v1.12, kind/enhancement, lgtm/done

#11934 Use ID or Where to instead directly use Get when load object from database (#11925)
  models/attachment.go
  models/branches.go
  models/issue_label.go
  models/login_source.go
  models/twofactor.go
  models/upload.go
  models/user.go
  models/user_mail.go
  models/user_openid.go
Labels: kind/bug, lgtm/done

#11935 Use ID or Where to instead directly use Get when load object from database (#11925)
  models/attachment.go
  models/branches.go
  models/issue_label.go
  models/login_source.go
  models/twofactor.go
  models/upload.go
  models/user.go
  models/user_mail.go
  models/user_openid.go
Labels: kind/bug, lgtm/done

#11918 Global default branch setting
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/repository/init.go
  modules/setting/repository.go
  routers/repo/repo.go
  templates/repo/create.tmpl
  templates/repo/empty.tmpl
Labels: backport/v1.12, kind/enhancement, lgtm/done

#11937 Global default branch setting (#11918)
  custom/conf/app.ini.sample
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/repository/init.go
  modules/setting/repository.go
  routers/repo/repo.go
  templates/repo/create.tmpl
  templates/repo/empty.tmpl
Labels: kind/enhancement, lgtm/done

#11932 Align show/hide outdated button on code review block
  web_src/less/_review.less
Labels: backport/v1.12, kind/ui, lgtm/done

#11933 Update Fomantic-UI to 2.8.6 and remove old workarounds
  package-lock.json
  package.json
  semantic.json
  templates/repo/issue/view_content/pull.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#11926 Rename custom/conf/app.ini.sample to custom/conf/app.example.ini for better syntax light on editor
  .gitignore
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/advanced/customizing-gitea.zh-cn.md
  docs/content/doc/features/authentication.en-us.md
  docs/content/page/index.en-us.md
  docs/content/page/index.fr-fr.md
Labels: kind/refactor, lgtm/done

#11943 Use google/uuid to instead satori/go.uuid
  go.mod
  go.sum
  models/attachment.go
  models/oauth2_application.go
  models/token.go
  models/upload.go
  models/webhook.go
  modules/auth/oauth2/oauth2.go
  modules/auth/sso/reverseproxy.go
  modules/auth/sso/sspi_windows.go
  modules/migrations/gitea.go
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/CONTRIBUTORS
  vendor/github.com/google/uuid/LICENSE
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/dce.go
  vendor/github.com/google/uuid/doc.go
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/sql.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/util.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version1.go
  vendor/github.com/google/uuid/version4.go
  vendor/github.com/satori/go.uuid/.travis.yml
  vendor/github.com/satori/go.uuid/LICENSE
  vendor/github.com/satori/go.uuid/README.md
  vendor/github.com/satori/go.uuid/codec.go
  vendor/github.com/satori/go.uuid/generator.go
  vendor/github.com/satori/go.uuid/sql.go
  vendor/github.com/satori/go.uuid/uuid.go
  vendor/modules.txt
Labels: backport/v1.12, dependencies, kind/bug, lgtm/done

#11944 Align show/hide outdated button on code review block (#11932)
  web_src/less/_review.less
Labels: kind/ui, lgtm/done

#11946 Use google/uuid to instead satori/go.uuid (#11943)
  go.mod
  go.sum
  models/attachment.go
  models/oauth2_application.go
  models/token.go
  models/upload.go
  models/webhook.go
  modules/auth/oauth2/oauth2.go
  modules/auth/sso/reverseproxy.go
  modules/auth/sso/sspi_windows.go
  modules/migrations/gitea.go
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/CONTRIBUTORS
  vendor/github.com/google/uuid/LICENSE
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/dce.go
  vendor/github.com/google/uuid/doc.go
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/sql.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/util.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version1.go
  vendor/github.com/google/uuid/version4.go
  vendor/github.com/satori/go.uuid/.travis.yml
  vendor/github.com/satori/go.uuid/LICENSE
  vendor/github.com/satori/go.uuid/README.md
  vendor/github.com/satori/go.uuid/codec.go
  vendor/github.com/satori/go.uuid/generator.go
  vendor/github.com/satori/go.uuid/sql.go
  vendor/github.com/satori/go.uuid/uuid.go
  vendor/modules.txt
Labels: dependencies, lgtm/done

#11916 Fix commenting on non-utf8 encoded files
  integrations/api_pull_review_test.go
  integrations/gitea-repositories-meta/user2/repo1.git/objects/5f/22f7d0d95d614d25a5b68592adb345a4b5c7fd
  integrations/gitea-repositories-meta/user2/repo1.git/objects/90/dcd07da077d1e7cd6032b52d1f79ae2b5f19b2
  integrations/gitea-repositories-meta/user2/repo1.git/objects/dd/59742c0f6672911f2b64cba5711ac00593ed32
  integrations/gitea-repositories-meta/user2/repo1.git/refs/pull/3/head
  models/issue_comment.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11950 [Backport] Fix commenting on non-utf8 encoded files (#11916)
  integrations/api_pull_review_test.go
  integrations/gitea-repositories-meta/user2/repo1.git/objects/5f/22f7d0d95d614d25a5b68592adb345a4b5c7fd
  integrations/gitea-repositories-meta/user2/repo1.git/objects/90/dcd07da077d1e7cd6032b52d1f79ae2b5f19b2
  integrations/gitea-repositories-meta/user2/repo1.git/objects/dd/59742c0f6672911f2b64cba5711ac00593ed32
  integrations/gitea-repositories-meta/user2/repo1.git/refs/pull/3/head
  models/issue_comment.go
Labels: kind/bug, lgtm/done

#11938 recommend bindata for building
  docs/content/doc/installation/from-source.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#11953 Changelog v1.11.7
  CHANGELOG.md
Labels: lgtm/done

#11955 Changelog v1.11.7 (#11953)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#11956 Changelog v1.11.7 (#11953)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#11927 Changelog v1.12.0
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#11957 Changelog v1.12.0 (#11927)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#11893 Fix scrollable header on dropdowns
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#11962 Update docs to specify utf8mb4 default
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: kind/docs, lgtm/done, skip-changelog

#11964 1.12.0 is latest stable version
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#11961 Really fix __webpack_public_path__ for 1.11
  web_src/js/publicPath.js
Labels: kind/bug, lgtm/done

#11965 Fix scrollable header on dropdowns (#11893)
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#11960 Use only first line of commit when creating referenced comment
  modules/repofiles/action.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/ui, lgtm/done

#11971 For language detection do not try to analyze big files by content
  modules/git/repo_language_stats.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11975 For language detection do not try to analyze big files by content (#11971)
  modules/git/repo_language_stats.go
Labels: kind/bug, lgtm/done

#11974 Use enry language type to detect special languages
  modules/git/repo_language_stats.go
Labels: kind/enhancement, lgtm/done

#11992 Add serviceworker.js to KnownPublicEntries
  models/user.go
  modules/public/public.go
Labels: backport/v1.12, kind/bug, lgtm/done

#11994 Add serviceworker.js to KnownPublicEntries (#11992)
  models/user.go
  modules/public/public.go
Labels: kind/bug, lgtm/done

#11993 Add public/img/svg to WEBPACK_DEST_ENTRIES
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#11996 Handle multiple merges in gitgraph.js
  templates/repo/graph.tmpl
  web_src/js/vendor/gitgraph.js
Labels: backport/v1.12, kind/bug, lgtm/done

#11145 Add pagination headers on endpoints that support total count from database
  routers/api/v1/admin/org.go
  routers/api/v1/admin/user.go
  routers/api/v1/org/member.go
  routers/api/v1/org/org.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/status.go
  routers/api/v1/user/user.go
Labels: kind/api, lgtm/done

#12000 Handle multiple merges in gitgraph.js (#11996)
  templates/repo/graph.tmpl
  web_src/js/vendor/gitgraph.js
Labels: kind/bug, lgtm/done

#12004 Changelog for 1.11.8
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#12006 Changelog for v1.12.1
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#11999 Adds a TODOs Badge to the README
  README.md
Labels: kind/docs, lgtm/done

#11890 Use octicons for all repo header buttons
  templates/repo/header.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done
