Repository go-gitea/gitea, pull requests merged in 2021-06, with the labels that each got.

#16039 Add missing SameSite settings for the i_like_gitea cookie (#16037)
  routers/api/v1/api.go
  routers/routes/install.go
  routers/routes/web.go
Labels: kind/bug, lgtm/done

#16009 Make sshd_config more flexible regarding connections
  docker/root/etc/templates/sshd_config
Labels: kind/enhancement, lgtm/done

#16021 update ``.raw-content`` when edit issue/comment content
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#16043 fix language switch for install page
  routers/install.go
  routers/routes/install.go
Labels: kind/bug, lgtm/done

#16046 Fix bug due to missing MaxStartups and MaxSessions
  docker/root/etc/s6/openssh/setup
  docker/root/etc/templates/sshd_config
Labels: kind/bug, lgtm/done, priority/critical, skip-changelog, theme/docker

#16045 Fix case change in ownernames
  models/repo.go
  routers/org/setting.go
  routers/user/setting/profile.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15261 Use `true` for RACE_ENABLED
  Makefile
Labels: kind/refactor, kind/testing, lgtm/done

#16050 Fix case change in ownernames (#16045)
  models/repo.go
  routers/org/setting.go
  routers/user/setting/profile.go
Labels: kind/bug, lgtm/done

#16057 Fix unknown translation key
  templates/repo/diff/comment_form.tmpl
Labels: kind/regression, lgtm/done

#16066 Copy git data from disk when restore repository
  modules/migrations/gitea_uploader.go
  modules/migrations/migrate.go
  modules/migrations/restore.go
Labels: kind/bug, lgtm/done

#14867 Add Image Diff for SVG files
  modules/avatar/avatar.go
  modules/base/tool.go
  modules/base/tool_test.go
  modules/git/blob.go
  modules/git/commit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
  modules/typesniffer/typesniffer.go
  modules/typesniffer/typesniffer_test.go
  routers/repo/compare.go
  routers/repo/download.go
  routers/repo/editor.go
  routers/repo/lfs.go
  routers/repo/setting.go
  routers/repo/view.go
  routers/user/setting/profile.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/image_diff.tmpl
  web_src/js/features/imagediff.js
Labels: kind/feature, kind/refactor, lgtm/done

#16064 Fix typo and add TODO notice
  templates/base/head_navbar.tmpl
Labels: kind/bug, lgtm/done

#16072 Fix panic
  modules/queue/unique_queue_disk_channel.go
Labels: kind/bug, lgtm/done

#16077 Change default TMPDIR path in rootless containers
  Dockerfile.rootless
Labels: lgtm/done

#15523 Rewrite of the LFS server
  integrations/api_repo_lfs_locks_test.go
  integrations/api_repo_lfs_test.go
  integrations/lfs_getobject_test.go
  modules/lfs/shared.go
  routers/routes/web.go
  services/lfs/locks.go
  services/lfs/server.go
Labels: kind/refactor, lgtm/done

#16082 git migration: don't prompt interactively for clone credentials (#15902)
  modules/git/command.go
Labels: kind/bug, kind/migration, lgtm/done

#16081 [API] Fix overly strict edit pr permissions (#15900)
  routers/api/v1/api.go
Labels: kind/api, kind/bug, lgtm/done

#16091 Fix regression of renderer
  modules/markup/renderer.go
  modules/setting/markup.go
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog

#16032 Make commit info cancelable
  modules/git/commit_info_gogit.go
  modules/git/commit_info_nogogit.go
  modules/git/commit_info_test.go
  modules/git/last_commit_cache_gogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/git/notes_gogit.go
  modules/git/notes_nogogit.go
  modules/git/notes_test.go
  modules/repository/cache.go
  routers/repo/commit.go
  routers/repo/view.go
  services/repository/push.go
Labels: kind/refactor, lgtm/done

#16089 Refactor assert statements in tests
  integrations/api_admin_test.go
  integrations/api_gpg_keys_test.go
  integrations/api_issue_test.go
  integrations/api_notification_test.go
  integrations/api_oauth2_apps_test.go
  integrations/api_org_test.go
  integrations/api_pull_review_test.go
  integrations/api_repo_tags_test.go
  integrations/api_repo_teams_test.go
  integrations/api_repo_topic_test.go
  integrations/api_team_test.go
  integrations/org_test.go
  integrations/repo_commits_test.go
  integrations/repo_test.go
  models/attachment_test.go
  models/issue_stopwatch_test.go
  models/issue_watch_test.go
  models/issue_xref_test.go
  models/oauth2_application_test.go
  models/org_test.go
  models/repo_generate_test.go
  models/repo_test.go
  models/topic_test.go
  models/user_heatmap_test.go
  models/user_mail_test.go
  models/user_openid_test.go
  models/user_test.go
  modules/auth/pam/pam_test.go
  modules/base/tool_test.go
  modules/git/parse_nogogit_test.go
  modules/git/repo_commit_test.go
  modules/git/tree_entry_test.go
  modules/indexer/code/indexer_test.go
  modules/lfs/http_client_test.go
  modules/lfs/pointer_test.go
  modules/log/console_test.go
  modules/log/file_test.go
  modules/log/log_test.go
  modules/log/smtp_test.go
  modules/log/writer_test.go
  modules/markup/markdown/meta_test.go
  modules/migrations/gitea_downloader_test.go
  modules/migrations/gitea_uploader_test.go
  modules/migrations/github_test.go
  modules/migrations/gitlab_test.go
  modules/migrations/gogs_test.go
  modules/password/password_test.go
  modules/queue/queue_channel_test.go
  modules/repository/commits_test.go
  modules/repository/create_test.go
  routers/repo/wiki_test.go
  routers/user/home_test.go
  services/archiver/archiver_test.go
  services/gitdiff/csv_test.go
  services/issue/assignee_test.go
  services/release/release_test.go
Labels: kind/refactor, lgtm/done

#16067 Merge all deleteBranch as one function and also fix bug when delete branch don't close related PRs
  routers/api/v1/repo/branch.go
  routers/repo/branch.go
  routers/repo/pull.go
  services/repository/branch.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16097 Merge all deleteBranch as one function and also fix bug when delete branch don't close related PRs (#16067)
  routers/api/v1/repo/branch.go
  routers/repo/branch.go
  routers/repo/pull.go
  services/repository/branch.go
Labels: lgtm/done

#16098 Fix data URI scramble
  modules/markup/html.go
  modules/markup/html_test.go
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15956 Always store primary email address into email_address table and also the state
  integrations/api_gpg_keys_test.go
  integrations/api_user_email_test.go
  models/error.go
  models/fixtures/email_address.yml
  models/gpg_key.go
  models/migrations/migrations.go
  models/migrations/v181.go
  models/migrations/v181_test.go
  models/user.go
  models/user_mail.go
  models/user_mail_test.go
Labels: kind/enhancement, lgtm/done

#16094 Fix `doctor --run check-db-consistency --fix` with label fix
  models/consistency.go
Labels: kind/bug, lgtm/done

#16047 Remove spurious AppSubUrl in serviceworker request.
  web_src/js/features/serviceworker.js
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog

#16117 Fix http path bug
  integrations/git_smart_http_test.go
  routers/web/repo/http.go
  routers/web/repo/http_test.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16120 Fix http path bug (#16117)
  integrations/git_smart_http_test.go
  routers/repo/http.go
  routers/repo/http_test.go
Labels: kind/bug, lgtm/done

#16118 Fix data URI scramble (#16098)
  modules/markup/html.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done

#16086 Add sso.Group, context.Auth, context.APIAuth to allow auth special routes
  modules/auth/sso/session.go
  modules/auth/sso/user.go
  modules/context/api.go
  modules/context/context.go
  routers/api/v1/api.go
  routers/init.go
  routers/web/base.go
  routers/web/user/oauth.go
  routers/web/web.go
  services/auth/auth.go
  services/auth/auth_test.go
  services/auth/basic.go
  services/auth/group.go
  services/auth/interface.go
  services/auth/oauth2.go
  services/auth/placeholder.go
  services/auth/reverseproxy.go
  services/auth/session.go
  services/auth/sspi_windows.go
Labels: kind/enhancement, lgtm/done

#16080 Remove unnecessary goroutine
  services/pull/check.go
Labels: kind/refactor, lgtm/done

#16119 Fix bug on getIssueIDsByRepoID
  models/issue.go
  models/issue_test.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16124 Fix bug on getIssueIDsByRepoID (#16119)
  models/issue.go
  models/issue_test.go
Labels: kind/bug, lgtm/done

#16126 Remove utf8 option from installation page
  templates/install.tmpl
Labels: lgtm/done

#16128 Fix language switch for install page (#16043)
  routers/install.go
  routers/routes/install.go
Labels: kind/bug, lgtm/done

#16068 Set self-adjusting deadline for connection writing
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/graceful/server.go
  modules/setting/setting.go
  modules/ssh/ssh_graceful.go
Labels: backport/done, backport/v1.14, kind/bug, lgtm/done

#16123 Set self-adjusting deadline for connection writing (#16068)
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/graceful/server.go
  modules/setting/setting.go
  modules/ssh/ssh_graceful.go
Labels: kind/bug, lgtm/done

#16136 Removable media support
  snap/snapcraft.yaml
Labels: kind/package, lgtm/done

#16138 Backport of "removable media support"
  snap/snapcraft.yaml
Labels: kind/package, lgtm/done

#16137 small refactor for retry downloader
  modules/migrations/base/retry_downloader.go
Labels: kind/refactor, lgtm/done, skip-changelog

#15599 Add a new table issue_index to store the max issue index so that issue could be deleted with no duplicated index
  models/fixtures/issue.yml
  models/fixtures/issue_index.yml
  models/index.go
  models/index_test.go
  models/issue.go
  models/issue_test.go
  models/issue_xref_test.go
  models/migrations/migrations.go
  models/migrations/v182.go
  models/migrations/v182_test.go
  models/models.go
  models/pull.go
  models/repo.go
  models/unit_tests.go
Labels: kind/enhancement, lgtm/done

#15240 Fixed sanitize errors
  services/mirror/mirror.go
Labels: kind/refactor, lgtm/done

#16141 Add OpenID claims "profile" and "email".
  models/oauth2_application.go
  routers/web/user/oauth.go
  templates/user/auth/oidc_wellknown.tmpl
Labels: kind/enhancement, lgtm/done

#16099 Improve performance of dashboard list orgs
  models/org.go
  routers/web/user/home.go
Labels: lgtm/done, performance/speed

#15157 Add push to remote mirror repository
  docs/content/doc/advanced/repo-mirror.en-us.md
  integrations/mirror_pull_test.go
  integrations/mirror_push_test.go
  models/migrations/migrations.go
  models/migrations/v180.go
  models/migrations/v183.go
  models/models.go
  models/repo.go
  models/repo_mirror.go
  models/repo_pushmirror.go
  models/repo_pushmirror_test.go
  models/task.go
  modules/context/repo.go
  modules/git/remote.go
  modules/git/repo.go
  modules/lfs/client.go
  modules/lfs/client_test.go
  modules/lfs/filesystem_client.go
  modules/lfs/http_client.go
  modules/lfs/http_client_test.go
  modules/lfs/shared.go
  modules/lfs/transferadapter.go
  modules/lfs/transferadapter_test.go
  modules/repository/repo.go
  modules/task/migrate.go
  modules/task/task.go
  modules/templates/helper.go
  modules/util/sanitize.go
  modules/util/sanitize_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/migrate.go
  routers/web/repo/migrate.go
  routers/web/repo/setting.go
  services/forms/repo_form.go
  services/mirror/mirror.go
  services/mirror/mirror_pull.go
  services/mirror/mirror_push.go
  templates/repo/header.tmpl
  templates/repo/settings/options.tmpl
Labels: kind/feature, lgtm/done

#16142 Fix private repo permission problem
  options/locale/locale_en-US.ini
  services/repository/transfer.go
  services/repository/transfer_test.go
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done

#16151 v180 migration should be standalone
  models/migrations/v180.go
Labels: kind/bug, lgtm/done

#16148 Fix issue with checkbox checking and unicode
  web_src/js/markup/tasklist.js
Labels: kind/bug, lgtm/done

#16075 Add attachments for PR reviews
  models/issue_comment.go
  models/review.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
  services/forms/repo_form.go
  services/pull/review.go
  templates/repo/diff/new_review.tmpl
  templates/repo/editor/upload.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/release/new.tmpl
  templates/repo/upload.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#16003 Make command in authorized keys a template
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/ssh_key.go
  modules/setting/setting.go
Labels: kind/feature, lgtm/done

#14551 Use milestone deadline when sorting issues
  models/issue.go
Labels: kind/enhancement, lgtm/done

#16162 Update MAINTAINERS
  MAINTAINERS
Labels: lgtm/done

#16164 Only check access tokens if they are likely to be tokens
  models/token.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16163 issue-keyword class is being incorrectly stripped off spans
  modules/markup/sanitizer.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16171 Only check access tokens if they are likely to be tokens (#16164)
  models/token.go
Labels: kind/bug, lgtm/done

#16172 issue-keyword class is being incorrectly stripped off spans (#16163)
  modules/markup/sanitizer.go
Labels: kind/bug, lgtm/done

#16177 Add subject-type filter to list notification API endpoints
  models/notification.go
  routers/api/v1/notify/notifications.go
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#16179 Fix spelling of function name
  templates/repo/diff/comment_form.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#15076 Add Status Updates whilst Gitea migrations are occurring
  models/migrations/migrations.go
  models/migrations/v184.go
  models/task.go
  modules/migrations/base/messenger.go
  modules/migrations/dump.go
  modules/migrations/gitea_uploader_test.go
  modules/migrations/migrate.go
  modules/task/migrate.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/migrate.go
  routers/web/user/task.go
  templates/repo/migrate/migrating.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#16030 Fix missing discard in repo_language_stats
  modules/git/repo_language_stats_nogogit.go
Labels: kind/bug, lgtm/done, skip-changelog

#16001 Clean-up the settings hierarchy for issue_indexer queue
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/indexer.go
  modules/setting/queue.go
Labels: kind/breaking, lgtm/done

#16174 [API] ListIssues add more filters
  integrations/api_issue_test.go
  models/fixtures/issue_user.yml
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#15943 Ensure settings for Service and Mailer are read on the install page
  modules/setting/setting.go
  routers/install/setting.go
Labels: kind/bug, kind/regression, lgtm/done

#16173 [API] Issue Search Add filter for MilestoneNames
  integrations/api_issue_test.go
  models/issue.go
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#16167 [API] User expose counters
  modules/convert/user.go
  modules/structs/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#16175 [API] ListReleases add filter for draft and pre-releases
  integrations/api_releases_test.go
  integrations/api_repo_test.go
  integrations/release_test.go
  models/fixtures/release.yml
  models/release.go
  modules/context/context.go
  modules/context/form.go
  routers/api/v1/repo/release.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#16155 Run processors on whole of text
  modules/emoji/emoji.go
  modules/markup/html.go
  modules/markup/html_test.go
Labels: backport/v1.14, kind/bug, lgtm/done, performance/speed

#16168 [API] expose repo.GetReviewers() & repo.GetAssignees()
  integrations/api_repo_test.go
  modules/convert/user.go
  routers/api/v1/api.go
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/user.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/user/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#16165 [API] Add repoCreateTag
  integrations/api_repo_tags_test.go
  modules/convert/convert.go
  modules/structs/repo_tag.go
  routers/api/v1/api.go
  routers/api/v1/repo/tag.go
  routers/api/v1/swagger/options.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#16185 Run processors on whole of text (#16155)
  modules/emoji/emoji.go
  modules/markup/html.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done, performance/speed

#16187 Encrypt migration credentials at rest (#15895)
  models/task.go
  modules/migrations/base/options.go
  modules/task/task.go
Labels: kind/security, lgtm/done, theme/migration

#16010 Add asymmetric JWT signing
  cmd/generate.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/developers/oauth2-provider.md
  models/oauth2.go
  models/oauth2_application.go
  modules/auth/oauth2/jwtsigningkey.go
  modules/generate/generate.go
  modules/setting/lfs.go
  modules/setting/setting.go
  routers/install/install.go
  routers/web/user/oauth.go
  routers/web/web.go
  templates/user/auth/oidc_wellknown.tmpl
Labels: kind/feature, lgtm/done

#16184 Fix some API bugs
  integrations/api_repo_test.go
  modules/convert/repository.go
  modules/structs/org.go
  routers/api/v1/org/org.go
  routers/api/v1/utils/utils.go
Labels: backport/v1.14, kind/api, kind/bug, lgtm/done

#16190 Fix some API bugs (#16184)
  integrations/api_repo_test.go
  modules/convert/repository.go
  modules/structs/org.go
  routers/api/v1/org/org.go
  routers/api/v1/utils/utils.go
Labels: kind/api, kind/bug, lgtm/done

#16189 Fix TestAPIRepoTransfer
  integrations/api_repo_test.go
Labels: kind/bug, kind/testing, lgtm/done, skip-changelog

#16131 Changelog v1.14.3
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#16196 Changelog v1.14.3 (#16131)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#14032 Remove User.GetOrganizations()
  integrations/org_count_test.go
  models/user.go
  templates/user/dashboard/repolist.tmpl
Labels: kind/bug, kind/refactor, lgtm/done

#16134 Reintroduce squash merge default comment as a config setting
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/repository.go
  services/pull/pull.go
Labels: kind/enhancement, lgtm/done

#16059 Use git log name-status in get last commit
  go.mod
  go.sum
  modules/git/batch_reader.go
  modules/git/commit_info_nogogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/git/log_name_status.go
  modules/git/notes_nogogit.go
  modules/git/pipeline/lfs_nogogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
  vendor/github.com/djherbis/buffer/.travis.yml
  vendor/github.com/djherbis/buffer/LICENSE.txt
  vendor/github.com/djherbis/buffer/README.md
  vendor/github.com/djherbis/buffer/buffer.go
  vendor/github.com/djherbis/buffer/discard.go
  vendor/github.com/djherbis/buffer/file.go
  vendor/github.com/djherbis/buffer/go.mod
  vendor/github.com/djherbis/buffer/limio/limit.go
  vendor/github.com/djherbis/buffer/list.go
  vendor/github.com/djherbis/buffer/list_at.go
  vendor/github.com/djherbis/buffer/mem.go
  vendor/github.com/djherbis/buffer/multi.go
  vendor/github.com/djherbis/buffer/partition.go
  vendor/github.com/djherbis/buffer/partition_at.go
  vendor/github.com/djherbis/buffer/pool.go
  vendor/github.com/djherbis/buffer/pool_at.go
  vendor/github.com/djherbis/buffer/ring.go
  vendor/github.com/djherbis/buffer/spill.go
  vendor/github.com/djherbis/buffer/swap.go
  vendor/github.com/djherbis/buffer/wrapio/limitwrap.go
  vendor/github.com/djherbis/buffer/wrapio/wrap.go
  vendor/github.com/djherbis/nio/v3/.travis.yml
  vendor/github.com/djherbis/nio/v3/LICENSE.txt
  vendor/github.com/djherbis/nio/v3/README.md
  vendor/github.com/djherbis/nio/v3/go.mod
  vendor/github.com/djherbis/nio/v3/go.sum
  vendor/github.com/djherbis/nio/v3/nio.go
  vendor/github.com/djherbis/nio/v3/sync.go
  vendor/modules.txt
Labels: lgtm/done, performance/bigrepo, performance/speed

#16101 More efficiently parse shas for shaPostProcessor
  modules/git/repo_branch_gogit.go
  modules/git/repo_branch_nogogit.go
  modules/markup/html.go
  modules/markup/renderer.go
  routers/web/org/home.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/repo/projects.go
  routers/web/repo/release.go
  routers/web/repo/view.go
  routers/web/user/profile.go
Labels: kind/bug, lgtm/done, performance/speed

#16214 Add tests for all webhooks
  services/webhook/dingtalk.go
  services/webhook/dingtalk_test.go
  services/webhook/discord.go
  services/webhook/discord_test.go
  services/webhook/feishu.go
  services/webhook/feishu_test.go
  services/webhook/general.go
  services/webhook/general_test.go
  services/webhook/matrix_test.go
  services/webhook/msteams.go
  services/webhook/msteams_test.go
  services/webhook/slack.go
  services/webhook/slack_test.go
  services/webhook/telegram.go
  services/webhook/telegram_test.go
Labels: kind/refactor, kind/testing, lgtm/done

#16198 reqOrgMembership calls need to be preceded by reqToken
  integrations/api_team_test.go
  routers/api/v1/api.go
Labels: backport/v1.14, kind/api, kind/bug, lgtm/done

#16219 reqOrgMembership calls need to be preceded by reqToken (#16198)
  integrations/api_team_test.go
  routers/api/v1/api.go
Labels: kind/bug, lgtm/done

#16220 Update documentation for Implicit TLS
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#16183 Fix milestone counters on new issue
  models/consistency.go
  models/issue.go
  models/issue_milestone.go
  models/issue_milestone_test.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16223 Use html.Parse rather than html.ParseFragment
  modules/markup/html.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16224 Fix milestone counters on new issue (#16183)
  models/consistency.go
  models/issue.go
  models/issue_milestone.go
  models/issue_milestone_test.go
Labels: kind/bug, lgtm/done

#16225 Use html.Parse rather than html.ParseFragment (#16223)
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#16230 Fix "Copy Link" for pull requests
  templates/repo/issue/view_content/context_menu.tmpl
Labels: lgtm/done

#14663 Improve notifications for WIP draft PR's
  models/action.go
  models/notification.go
  models/pull.go
  modules/notification/mail/mail.go
  modules/notification/ui/ui.go
  services/mailer/mail.go
  services/mailer/mail_issue.go
  templates/mail/issue/default.tmpl
Labels: kind/feature, lgtm/done

#16232 Run compliance on amd64 infra
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#16200 Localize Email Templates
  options/locale/locale_en-US.ini
  services/mailer/mail.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  templates/mail/auth/activate.tmpl
  templates/mail/auth/activate_email.tmpl
  templates/mail/auth/register_notify.tmpl
  templates/mail/auth/reset_passwd.tmpl
  templates/mail/issue/assigned.tmpl
  templates/mail/issue/default.tmpl
  templates/mail/notify/collaborator.tmpl
  templates/mail/notify/repo_transfer.tmpl
  templates/mail/release.tmpl
Labels: kind/enhancement, kind/translation, lgtm/done

#16227 Fix mkdir jwt - permission denied
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
Labels: kind/bug, lgtm/done

#16234 Fix Nits
  options/locale/locale_en-US.ini
  templates/mail/issue/default.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#15947 Small refactoring of modules/private
  cmd/hook.go
  models/branches.go
  modules/private/hook.go
  modules/private/serv.go
  routers/private/hook.go
  routers/private/key.go
  routers/private/mail.go
  routers/private/manager.go
  routers/private/manager_windows.go
  routers/private/restore_repo.go
  routers/private/serv.go
  routers/web/repo/issue.go
  services/repository/branch.go
Labels: kind/refactor, lgtm/done

#16236 Add docs for windows env vars
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#16169 [API] GET / SET User Settings
  modules/convert/user.go
  modules/structs/user.go
  routers/api/v1/api.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/user.go
  routers/api/v1/user/settings.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#14222 Add code block highlight to orgmode back
  modules/markup/orgmode/orgmode.go
Labels: kind/regression, lgtm/done

#16040 Fix 500 Error with branch and tag sharing the same name
  modules/git/error.go
  modules/git/repo.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#16166 [API] Add repoGetTag
  integrations/api_repo_tags_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/tag.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#16110 Add sanitizer rules per renderer
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/external-renderers.en-us.md
  modules/markup/csv/csv.go
  modules/markup/external/external.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown.go
  modules/markup/orgmode/orgmode.go
  modules/markup/renderer.go
  modules/markup/sanitizer.go
  modules/setting/markup.go
Labels: kind/enhancement, lgtm/done

#14723 Rework repository archive
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  integrations/gitea-repositories-meta/user27/repo49.git/refs/heads/test/archive
  models/fixtures/repo_archiver.yml
  models/migrations/migrations.go
  models/migrations/v181.go
  models/migrations/v185.go
  models/models.go
  models/repo.go
  models/repo_archiver.go
  models/unit_tests.go
  modules/context/context.go
  modules/doctor/checkOldArchives.go
  modules/git/repo_archive.go
  modules/setting/repository.go
  modules/setting/storage.go
  modules/storage/storage.go
  routers/api/v1/repo/file.go
  routers/common/repo.go
  routers/init.go
  routers/web/repo/repo.go
  routers/web/web.go
  services/archiver/archiver.go
  services/archiver/archiver_test.go
Labels: kind/refactor, lgtm/done

#16238 Don't WARN log UserNotExist errors on ExternalUserLogin failure
  models/login_source.go
Labels: kind/bug, lgtm/done

#16231 Do not show No match found for tribute
  web_src/js/features/tribute.js
Labels: kind/bug, kind/ui, lgtm/done

#16240 Replace ARCCache with TwoQueueCache to avoid patent issue
  modules/highlight/highlight.go
Labels: kind/enhancement, lgtm/done

#16229 API: Allow COMMENT reviews to not specify a body
  integrations/api_pull_review_test.go
  routers/api/v1/repo/pull_review.go
Labels: kind/api, lgtm/done

#16246 fix documentation for IIS reverse proxy configuration
  docs/content/doc/usage/reverse-proxies.en-us.md
Labels: lgtm/done

#15629 Add tag protection
  cmd/hook.go
  docs/content/doc/advanced/protected-tags.en-us.md
  integrations/mirror_pull_test.go
  integrations/repo_tag_test.go
  models/error.go
  models/migrations/migrations.go
  models/migrations/v186.go
  models/models.go
  models/protected_tag.go
  models/protected_tag_test.go
  models/repo.go
  modules/validation/binding.go
  modules/validation/binding_test.go
  modules/validation/regex_pattern_test.go
  modules/web/middleware/binding.go
  options/locale/locale_en-US.ini
  routers/private/hook.go
  routers/web/repo/release.go
  routers/web/repo/setting.go
  routers/web/repo/tag.go
  routers/web/web.go
  services/forms/repo_tag_form.go
  services/release/release.go
  services/release/release_test.go
  templates/repo/settings/nav.tmpl
  templates/repo/settings/navbar.tmpl
  templates/repo/settings/tags.tmpl
Labels: kind/feature, lgtm/done

#16243 Use gitea logging module for git module
  modules/git/batch_reader.go
  modules/git/blob_nogogit.go
  modules/git/command.go
  modules/git/commit_info_nogogit.go
  modules/git/diff.go
  modules/git/git.go
  modules/git/git_test.go
  modules/git/hook.go
  modules/git/last_commit_cache.go
  modules/git/last_commit_cache_gogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/git/parse_nogogit.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/repo_tag.go
  routers/init.go
  services/gitdiff/gitdiff_test.go
Labels: kind/refactor, lgtm/done

#15252 Fix heatmap activity
  integrations/api_user_heatmap_test.go
  models/fixtures/action.yml
  models/user_heatmap.go
  models/user_heatmap_test.go
  web_src/js/features/heatmap.js
Labels: kind/bug, lgtm/done

#16087 Prevent webhook action buttons from shifting
  templates/repo/settings/webhook/base_list.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15980 Append to existing trailers in generated squash commit message
  services/pull/pull.go
  services/pull/pull_test.go
Labels: kind/enhancement, lgtm/done

#16249 Fuzzer finds an NPE due to incorrect URLPrefix
  tools/fuzz.go
Labels: kind/bug, lgtm/done

#14749 Added support for gopher URLs.
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/service.go
  modules/validation/binding.go
  modules/validation/helpers.go
  services/forms/user_form.go
Labels: lgtm/done

#16251 Improve efficiency in FindRenderizableReferenceNumeric and getReferences
  modules/references/references.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15117 Add better errors for disabled account recovery
  options/locale/locale_en-US.ini
  routers/web/user/auth.go
  templates/user/auth/forgot_passwd.tmpl
Labels: kind/docs, lgtm/done

#16255 Improve efficiency in FindRenderizableReferenceNumeric and getReference (#16251)
  modules/references/references.go
Labels: kind/bug, lgtm/done

#16254 Fixed issues not updated by commits
  services/repository/push.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15241 Let package git depend on setting but not opposite
  contrib/pr/checkout.go
  integrations/git_test.go
  integrations/integration_test.go
  integrations/lfs_getobject_test.go
  integrations/migration-test/migration_test.go
  models/migrations/migrations_test.go
  modules/git/command.go
  modules/git/git.go
  modules/git/lfs.go
  modules/git/repo_commit.go
  modules/setting/git.go
  modules/setting/lfs.go
  routers/api/v1/repo/commits.go
  routers/init.go
  routers/web/repo/branch.go
  routers/web/repo/commit.go
  routers/web/repo/wiki.go
Labels: kind/refactor, lgtm/done

#16261 Fixed issues not updated by commits (#16254)
  services/repository/push.go
Labels: kind/bug, lgtm/done

#16258 Limit stdout tracelog to actual stdout
  modules/git/command.go
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog

#16069 Add Visible modes function from Organisation to Users too
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/api_user_search_test.go
  models/fixtures/user.yml
  models/org.go
  models/org_test.go
  models/repo.go
  models/repo_permission.go
  models/user.go
  modules/convert/user.go
  modules/convert/user_test.go
  modules/setting/service.go
  modules/structs/admin_user.go
  modules/structs/user.go
  options/locale/locale_en-US.ini
  routers/api/v1/admin/user.go
  routers/api/v1/org/org.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/helper.go
  routers/api/v1/user/user.go
  routers/web/admin/orgs.go
  routers/web/admin/users.go
  routers/web/admin/users_test.go
  routers/web/org/home.go
  routers/web/user/profile.go
  routers/web/user/setting/profile.go
  services/forms/admin.go
  services/forms/user_form.go
  templates/admin/user/edit.tmpl
  templates/admin/user/new.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/settings/profile.tmpl
Labels: kind/enhancement, lgtm/done

#16260 Add --quiet and --verbose to gitea web to control initial logging
  cmd/convert.go
  cmd/dump_repo.go
  cmd/migrate.go
  cmd/migrate_storage.go
  cmd/web.go
  docs/content/doc/usage/command-line.en-us.md
  modules/setting/setting.go
  routers/init.go
  routers/install/setting.go
Labels: kind/enhancement, lgtm/done

#16266 Make app.ini permissions more restrictive
  modules/setting/setting.go
Labels: kind/security, lgtm/done

#16269 Add scroll-margin-top to account for sticky header
  web_src/js/index.js
  web_src/less/_review.less
Labels: kind/ui, lgtm/done

#16272 review comments: break-word for long file names
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/ui, lgtm/done

#16274 Add jpraet to MAINTAINERS
  MAINTAINERS
Labels: lgtm/done, skip-changelog

#16271 Make allowed Visiblity modes configurable for Users
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/user.go
  models/user_test.go
  modules/setting/service.go
  routers/web/admin/users.go
  routers/web/admin/users_test.go
  routers/web/user/setting/profile.go
  templates/admin/user/edit.tmpl
  templates/admin/user/new.tmpl
  templates/user/settings/profile.tmpl
Labels: kind/enhancement, lgtm/done

#16176 Refactor Webhook + Add X-Hub-Signature
  models/migrations/migrations.go
  models/migrations/v187.go
  models/webhook.go
  models/webhook_test.go
  modules/structs/hook.go
  routers/api/v1/utils/hook.go
  routers/web/repo/webhook.go
  services/webhook/deliver.go
  services/webhook/dingtalk.go
  services/webhook/discord.go
  services/webhook/feishu.go
  services/webhook/matrix.go
  services/webhook/matrix_test.go
  services/webhook/msteams.go
  services/webhook/slack.go
  services/webhook/telegram.go
  services/webhook/webhook.go
  templates/repo/settings/webhook/history.tmpl
Labels: kind/breaking, kind/feature, kind/refactor, lgtm/done

#16273 Add previous/next buttons to review comments
  templates/repo/diff/conversation.tmpl
  web_src/js/index.js
Labels: kind/enhancement, kind/ui, lgtm/done

#16268 Handle misencoding of login_source cfg in mssql
  models/login_source.go
  models/repo_unit.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16275 Handle misencoding of login_source cfg in mssql (#16268)
  models/login_source.go
  models/repo_unit.go
Labels: kind/bug, lgtm/done

#16276 [API] Convert Commit for api respect author
  modules/convert/git_commit.go
Labels: backport/v1.14, kind/api, kind/bug, lgtm/done

#16259 Link to previous blames in file blame page
  options/locale/locale_en-US.ini
  routers/web/repo/blame.go
  templates/repo/blame.tmpl
  web_src/js/index.js
  web_src/less/_base.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/feature, lgtm/done

#16277 Fix API to use author for commits instead of committer (#16276)
  modules/convert/git_commit.go
Labels: kind/bug, lgtm/done

#15064 Counterwork seemingly unclickable repo button labels
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#16278 Upgrade Gliderlabs SSH to 0.3.3 and add FailedConnectionCallback
  go.mod
  go.sum
  modules/ssh/ssh.go
  vendor/github.com/gliderlabs/ssh/circle.yml
  vendor/github.com/gliderlabs/ssh/context.go
  vendor/github.com/gliderlabs/ssh/go.mod
  vendor/github.com/gliderlabs/ssh/go.sum
  vendor/github.com/gliderlabs/ssh/server.go
  vendor/github.com/gliderlabs/ssh/session.go
  vendor/github.com/gliderlabs/ssh/ssh.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_386.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_arm.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_dragonfly_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_386.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_arm.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_386.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_arm.go
  vendor/golang.org/x/sys/unix/ztypes_netbsd_arm64.go
  vendor/modules.txt
Labels: kind/enhancement, lgtm/done

#16284 Fix previous/next review comment button size
  templates/repo/diff/conversation.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#16286 Update fail2ban documentation
  docs/content/doc/usage/fail2ban-setup.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#16282 Implemented head_commit for webhooks
  modules/notification/webhook/webhook.go
  modules/repository/commits.go
  modules/repository/commits_test.go
  routers/api/v1/repo/hook.go
  routers/web/repo/webhook.go
  services/repository/push.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/enhancement, lgtm/done

#16004 Add custom emoji support
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/markup/html.go
  modules/markup/html_test.go
  modules/setting/setting.go
  modules/structs/settings.go
  modules/templates/helper.go
  routers/api/v1/settings/settings.go
  templates/base/head.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/features/emoji.js
Labels: kind/bug, kind/enhancement, lgtm/done

#16297 Add Vultr and DO Marketplace links
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/installation/from-package.en-us.md
  docs/content/doc/installation/on-cloud-provider.md
Labels: kind/docs, lgtm/done

#16298 Fix panic in recursive cache
  modules/git/last_commit_cache_nogogit.go
Labels: kind/bug, lgtm/done, skip-changelog

#16291 just add some unit tests
  models/convert.go
  routers/install/routes_test.go
  routers/utils/utils_test.go
Labels: kind/testing, lgtm/done

#16303 Fix list_options GetStartEnd
  models/list_options.go
Labels: backport/v1.14, kind/bug, lgtm/done

#16305 Fix list_options GetStartEnd (#16303)
  models/list_options.go
Labels: kind/bug, lgtm/done

#16070 Make the github migration less rate limit waiting to get comment per page from repository but not per issue
  modules/migrations/base/downloader.go
  modules/migrations/base/null_downloader.go
  modules/migrations/base/retry_downloader.go
  modules/migrations/gitea_downloader.go
  modules/migrations/gitea_downloader_test.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/migrations/gogs.go
  modules/migrations/gogs_test.go
  modules/migrations/migrate.go
  modules/migrations/restore.go
Labels: kind/enhancement, lgtm/done

#16313 Escape reference to `user` table in models.SearchEmails
  models/user_mail.go
Labels: kind/bug, kind/regression, lgtm/done

#16283 Fix webhook commits wrong hash on HEAD reset
  modules/git/repo_commit.go
  modules/git/repo_commit_test.go
  modules/git/tests/repos/repo4_commitsbetween/HEAD
  modules/git/tests/repos/repo4_commitsbetween/config
  modules/git/tests/repos/repo4_commitsbetween/logs/HEAD
  modules/git/tests/repos/repo4_commitsbetween/logs/refs/heads/main
  modules/git/tests/repos/repo4_commitsbetween/objects/27/734c860ab19650d48e71f9f12d9bd194ed82ea
  modules/git/tests/repos/repo4_commitsbetween/objects/56/a6051ca2b02b04ef92d5150c9ef600403cb1de
  modules/git/tests/repos/repo4_commitsbetween/objects/78/a445db1eac62fe15e624e1137965969addf344
  modules/git/tests/repos/repo4_commitsbetween/objects/a7/8e5638b66ccfe7e1b4689d3d5684e42c97d7ca
  modules/git/tests/repos/repo4_commitsbetween/objects/ad/74ceca1b8fde10c7d933bd2e56d347dddb4ab5
  modules/git/tests/repos/repo4_commitsbetween/objects/b5/d8dd0ddd9d8d752bb47b5f781f09f478316098
  modules/git/tests/repos/repo4_commitsbetween/objects/d8/263ee9860594d2806b0dfd1bfd17528b0ba2a4
  modules/git/tests/repos/repo4_commitsbetween/objects/e2/3cc6a008501f1491b0480cedaef160e41cf684
  modules/git/tests/repos/repo4_commitsbetween/objects/fd/c1b615bdcff0f0658b216df0c9209e5ecb7c78
  modules/git/tests/repos/repo4_commitsbetween/refs/heads/main
Labels: kind/bug, lgtm/done
