Repository go-gitea/gitea, pull requests merged in 2021-05, with the labels that each got.

#15685 Fixed several activation bugs (#15473)
  routers/routes/web.go
  routers/user/auth.go
  templates/user/auth/activate.tmpl
Labels: kind/bug, lgtm/done

#15675 Add Location, Website and Biography to API
  modules/convert/user.go
  modules/structs/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#15650 Unify integration test configs
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
Labels: kind/testing, lgtm/done, skip-changelog

#15688 add cron job to delete old actions from database
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/action.go
  modules/cron/tasks_extended.go
  options/locale/locale_en-US.ini
Labels: kind/feature, lgtm/done

#15572 Markdown CSS tweaks
  web_src/less/_markdown.less
Labels: kind/ui, lgtm/done

#15672 Move tooltip down to allow selection of Remove File on error
  web_src/less/features/dropzone.less
Labels: kind/bug, kind/ui, lgtm/done

#15455 Performance improvement for last commit cache and show-ref
  modules/git/commit_info_nogogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/git/repo_commit_nogogit.go
Labels: backport/v1.14, lgtm/done, performance/speed

#15697 Fix DB session cleanup
  models/session.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15696 Only use boost workers for leveldb shadow queues
  modules/queue/queue_disk_channel.go
  modules/queue/unique_queue_disk_channel.go
  modules/queue/workerpool.go
Labels: kind/enhancement, lgtm/done

#15700 Fix DB session cleanup (#15697)
  models/session.go
Labels: kind/bug, lgtm/done

#15690 Addition to #15675
  modules/structs/admin_user.go
  modules/structs/org.go
  modules/structs/user.go
  routers/api/v1/admin/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, lgtm/done, skip-changelog

#15699 Improve Light Chroma style
  web_src/less/chroma/light.less
Labels: kind/enhancement, kind/ui, lgtm/done

#15701 Performance improvement for last commit cache and show-ref (#15455)
  modules/git/commit_info_nogogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/git/repo_commit_nogogit.go
Labels: lgtm/done, performance/speed

#15703 Prevent race in TestChannelQueue_Batch
  modules/queue/queue_channel_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#15698 Fix setting redis db path
  modules/nosql/manager_redis.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15666 Implement delete release attachments and update release attachments' name (#14130)
  models/attachment.go
  models/attachment_test.go
  models/release.go
  routers/api/v1/repo/release.go
  routers/repo/release.go
  services/release/release.go
  services/release/release_test.go
  templates/repo/release/list.tmpl
  templates/repo/release/new.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/enhancement, lgtm/done

#15695 Add compare tag dropdown to releases page
  options/locale/locale_en-US.ini
  routers/repo/release.go
  templates/repo/branch_dropdown.tmpl
  templates/repo/commits.tmpl
  templates/repo/home.tmpl
  templates/repo/release/list.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#15708 Fix setting redis db path (#15698)
  modules/nosql/manager_redis.go
Labels: kind/bug, lgtm/done

#15714 Move tooltip down to allow selection of Remove File on error (#15672)
  web_src/less/features/dropzone.less
Labels: kind/bug, lgtm/done

#15716 Only log Error on getLastCommitStatus error to let pull list still be visible
  services/pull/pull.go
Labels: backport/done, backport/v1.14, kind/bug, lgtm/done

#15715 Only log Error on getLastCommitStatus error to let pull list still be visible (#15716)
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#15611 Display specific message if diff is not displayed because of too long line
  options/locale/locale_en-US.ini
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
Labels: kind/ui, lgtm/done

#15713 Fix webkit calendar icon color on arc-green
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#15631 update branch in CI and docs
  .drone.yml
  Makefile
  README.md
  README_ZH.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  docs/content/doc/developers/migrations.en-us.md
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/upgrade/from-gogs.en-us.md
Labels: kind/docs, kind/misc, lgtm/done, skip-changelog

#15301 Use route rather than use thus reducing the number of stack frames
  modules/context/context.go
  routers/api/v1/api.go
  routers/routes/web.go
Labels: kind/refactor, lgtm/done

#15729 MySQL 5 FAQ
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#15728 Fix webkit calendar icon color on arc-green (#15713)
  web_src/less/themes/theme-arc-green.less
Labels: lgtm/done

#15731 Fix broken avatars since #15301
  integrations/user_avatar_test.go
  routers/routes/web.go
Labels: kind/bug, kind/regression, lgtm/done

#15734 Commit Graph: Pull-Requests should not link to issues
  templates/repo/graph/commits.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15483 Issue list alignment tweaks
  templates/shared/issuelist.tmpl
  web_src/less/shared/issuelist.less
Labels: backport/v1.14, kind/ui, lgtm/done

#15651 Add caret styling CSS
  web_src/less/_base.less
  web_src/less/_editor.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#15737 Fix close button change on delete in simplemde area
  web_src/js/index.js
Labels: backport/v1.14, kind/bug, kind/ui, lgtm/done

#15653 Defer closing the gitrepo until the end of the wrapped context functions
  modules/context/repo.go
  modules/web/route.go
Labels: backport/v1.14, kind/bug, lgtm/done, performance/speed

#15137 fix some ui bug about draft release
  integrations/release_test.go
  models/fixtures/release.yml
  modules/context/repo.go
  routers/repo/release.go
  routers/routes/web.go
  templates/repo/branch_dropdown.tmpl
  templates/repo/release/list.tmpl
Labels: backport/v1.14, kind/bug, kind/ui, lgtm/done

#15740 reverse #15734 partial and comment
  templates/repo/graph/commits.tmpl
Labels: kind/regression, lgtm/done, skip-changelog

#15721 Feature/oauth userinfo
  routers/routes/web.go
  routers/user/oauth.go
  templates/user/auth/oidc_wellknown.tmpl
Labels: kind/enhancement, lgtm/done

#15745 fix some ui bug about draft release (#15137)
  integrations/release_test.go
  models/fixtures/release.yml
  modules/context/repo.go
  routers/repo/release.go
  routers/routes/web.go
  templates/repo/release/list.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15747 Fix close button change on delete in simplemde area (#15737)
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#15753 Fix setting version table in dump
  models/models.go
  models/models_test.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15757 Fix bug where repositories appear unadopted
  modules/repository/adopt.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15754 Improve logo customization docs
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done

#15735 Use a generic markup class to display externally rendered files and diffs
  docs/content/doc/advanced/external-renderers.en-us.md
  templates/org/home.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/empty.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/release/list.tmpl
  templates/repo/release/new.tmpl
  templates/repo/settings/lfs_file.tmpl
  templates/repo/view_file.tmpl
  templates/repo/wiki/view.tmpl
  templates/user/profile.tmpl
  web_src/js/index.js
  web_src/js/markup/anchors.js
  web_src/js/markup/content.js
  web_src/js/markup/mermaid.js
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/features/animations.less
  web_src/less/index.less
  web_src/less/markup/content.less
  web_src/less/markup/mermaid.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/ui, lgtm/done

#15749 Drop back to use IsAnInteractiveSession for SVC
  .golangci.yml
  modules/graceful/manager_windows.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15761 not show `ref-in-new-issue` pop when issue was disabled
  templates/repo/view_file.tmpl
  web_src/js/index.js
Labels: backport/v1.14, kind/bug, kind/ui, lgtm/done

#15759 Fix setting version table in dump (#15753)
  models/models.go
  models/models_test.go
Labels: kind/bug, lgtm/done

#15751 Set GIT_DIR correctly if it is not set
  modules/repository/hooks.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15765 not show `ref-in-new-issue` pop when issue was disabled (#15761)
  templates/repo/view_file.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#15768 OAuth2 login: Set account link to "login" as default behavior
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/oauth2_client.go
Labels: kind/enhancement, lgtm/done

#15767 Fix bug where repositories appear unadopted (#15757)
  modules/repository/adopt.go
Labels: kind/bug, lgtm/done

#15770 Fix URL of gitea emoji
  modules/markup/html.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#15762 Drop back to use IsAnInteractiveSession for SVC (#15749)
  .golangci.yml
  modules/graceful/manager_windows.go
Labels: kind/bug, lgtm/done

#15746 Defer closing the gitrepo until the end of the wrapped context functions (#15653)
  modules/context/repo.go
  modules/web/route.go
Labels: kind/bug, lgtm/done, performance/speed

#15769 Set GIT_DIR correctly if it is not set (#15751)
  modules/repository/hooks.go
Labels: kind/bug, lgtm/done

#15774 Use pulls in commit graph unless pulls are disabled
  templates/repo/graph/commits.tmpl
Labels: backport/done, backport/v1.14, kind/bug, kind/ui, lgtm/done

#15775 Use pulls in commit graph unless pulls are disabled (#15734 & #15740 & #15774)
  templates/repo/graph/commits.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15756 Use esbuild to minify CSS
  package-lock.json
  package.json
  webpack.config.js
Labels: kind/build, lgtm/done

#15723 Add selecting tags on the compare page
  integrations/compare_test.go
  options/locale/locale_en-US.ini
  routers/repo/compare.go
  templates/repo/diff/compare.tmpl
  web_src/js/index.js
Labels: kind/feature, kind/ui, lgtm/done

#15780 Make let target "clean-all" remove node_modules folder too
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#15789 [API] make change repo settings work on empty repos (#15778)
  integrations/api_repo_edit_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#15779 Rename StaticUrlPrefix to AssetUrlPrefix
  modules/templates/helper.go
  templates/admin/hook_new.tmpl
  templates/base/footer.tmpl
  templates/base/footer_content.tmpl
  templates/base/head.tmpl
  templates/base/head_navbar.tmpl
  templates/home.tmpl
  templates/install.tmpl
  templates/org/settings/hook_new.tmpl
  templates/post-install.tmpl
  templates/repo/migrate/migrating.tmpl
  templates/repo/settings/webhook/base_list.tmpl
  templates/repo/settings/webhook/new.tmpl
  templates/repo/view_file.tmpl
  templates/status/404.tmpl
  templates/status/500.tmpl
  templates/swagger/ui.tmpl
  web_src/js/features/emoji.js
  web_src/js/features/serviceworker.js
  web_src/js/index.js
  web_src/js/publicpath.js
Labels: kind/breaking, kind/refactor, lgtm/done

#15722 Code comments improvements
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/conversation.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/js/index.js
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/_review.less
Labels: kind/ui, lgtm/done

#15724 Exponential Backoff for ByteFIFO
  modules/queue/queue_bytefifo.go
Labels: backport/v1.14, lgtm/done, performance/cpu

#15793 Exponential Backoff for ByteFIFO (#15724)
  modules/queue/queue_bytefifo.go
Labels: kind/enhancement, lgtm/done, performance/cpu

#15773 Display conflict-free merge messages for pull requests
  models/pull.go
  models/pull_test.go
Labels: backport/v1.14, kind/enhancement, lgtm/done

#15796 Display conflict-free merge messages for pull requests (#15773)
  models/pull.go
  models/pull_test.go
Labels: kind/enhancement, lgtm/done

#15797 Ensure that ctx.Written is checked after issues(...) calls
  routers/repo/issue.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15794 Changelog v1.14.2
  CHANGELOG.md
Labels: frontport/main, kind/docs, lgtm/done, skip-changelog

#15799 Changelog v1.14.2 (#15794)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#15802 Fixed individual markdown tests
  modules/markup/markdown/markdown_test.go
Labels: kind/testing, lgtm/done

#15795 Allow only internal registration
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/service.go
  options/locale/locale_en-US.ini
  routers/user/auth.go
  routers/user/auth_openid.go
  templates/admin/config.tmpl
  templates/user/auth/link_account.tmpl
  templates/user/auth/signup_openid_navbar.tmpl
Labels: kind/enhancement, lgtm/done

#15801 Tests should use test files
  modules/git/repo_test.go
Labels: backport/v1.14, kind/bug, kind/testing, lgtm/done

#15803 Add trace logging to SSO methods
  modules/auth/sso/basic.go
  modules/auth/sso/oauth2.go
  modules/auth/sso/reverseproxy.go
  modules/auth/sso/sso.go
  modules/auth/sso/sspi_windows.go
Labels: kind/deployment, lgtm/done

#15806 Tests should use test files (#15801)
  modules/git/repo_test.go
Labels: kind/bug, kind/testing, lgtm/done, skip-changelog

#15772 Respect default merge message syntax when parsing item references
  modules/references/references.go
  modules/references/references_test.go
Labels: kind/enhancement, lgtm/done

#15805 Fix incorrect asset URL
  modules/templates/helper.go
  routers/routes/web.go
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog

#15807 Comment out app.example.ini
  custom/conf/app.example.ini
Labels: kind/docs, lgtm/done

#15642 Return go-get info on subdirs
  integrations/goget_test.go
  routers/routes/goget.go
  routers/routes/web.go
Labels: backport/v1.14, kind/bug, kind/regression, lgtm/done

#15667 On open repository open common cat file batch and batch-check
  modules/context/repo.go
  modules/git/batch_reader.go
  modules/git/blob_nogogit.go
  modules/git/blob_test.go
  modules/git/commit_info_nogogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/git/notes_nogogit.go
  modules/git/parse_nogogit.go
  modules/git/pipeline/lfs_nogogit.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_blob_nogogit.go
  modules/git/repo_blob_test.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_commit.go
  modules/git/repo_commit_gogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/repo_tag_nogogit.go
  modules/git/repo_tree_nogogit.go
  modules/git/tree_blob_nogogit.go
  modules/git/tree_entry.go
  modules/git/tree_entry_nogogit.go
  modules/git/tree_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
  routers/repo/download.go
Labels: kind/feature, lgtm/done, performance/speed

#15741 Use single shared random string generation function
  models/migrations/v71.go
  models/migrations/v85.go
  models/token.go
  models/twofactor.go
  models/user.go
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  modules/context/secret.go
  modules/generate/generate.go
  modules/generate/generate_test.go
  modules/secret/secret.go
  modules/secret/secret_test.go
  modules/util/util.go
  modules/util/util_test.go
  routers/user/auth_openid.go
Labels: kind/refactor, kind/security, lgtm/done

#15790 Move restore repo to internal router and invoke from command to avoid open the same db file or queues files
  cmd/restore_repo.go
  modules/migrations/dump.go
  modules/private/restore_repo.go
  routers/private/internal.go
  routers/private/restore_repo.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15816 Move restore repo to internal router and invoke from command to avoid open the same db file or queues files (#15790)
  cmd/restore_repo.go
  modules/migrations/dump.go
  modules/private/restore_repo.go
  routers/private/internal.go
  routers/private/restore_repo.go
Labels: kind/bug, lgtm/done

#15821 Fix goth user infer bug
  routers/user/auth.go
Labels: kind/bug, lgtm/done

#15812 add note about ``cron.SCHEDULE`` format in document
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: kind/docs, lgtm/done

#15819 don't record error when request a non-exist user
  routers/repo/http.go
Labels: kind/enhancement, lgtm/done

#15813 Add missing error to Doctor log
  modules/doctor/dbversion.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15133 Add mimetype mapping settings
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/mime_type_map.go
  modules/setting/setting.go
  routers/repo/download.go
Labels: kind/enhancement, lgtm/done

#15809 Set autocomplete off on branches selector
  templates/repo/branch_dropdown.tmpl
Labels: backport/v1.14, kind/bug, kind/ui, lgtm/done

#15820 don't record error when loading ref comment but ref comment id is zero
  models/issue_xref.go
Labels: kind/enhancement, lgtm/done

#15363 Repo branch page: label size, PR ref, new PR button alignment
  templates/repo/branch/list.tmpl
Labels: backport/done, backport/v1.14, kind/ui, lgtm/done

#15833 Set autocomplete off on branches selector (#15809)
  templates/repo/branch_dropdown.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15818 Fix individual tests (addition to #15802)
  models/avatar_test.go
  models/gpg_key_test.go
  models/issue_assignees_test.go
  models/user_test.go
  modules/convert/user_test.go
  services/wiki/wiki_test.go
Labels: kind/testing, lgtm/done

#15835 Tagger can be empty, as can Commit and Author - tolerate this
  models/migrations/v156.go
  modules/git/commit_reader.go
  modules/git/tag.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15836 Reaction improvements
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#15830 Update README.md | Add translation section
  README.md
  README_ZH.md
Labels: kind/docs, lgtm/done

#15845 Upgrade unrolled/render to v1.1.1
  go.mod
  go.sum
  vendor/github.com/unrolled/render/render.go
  vendor/modules.txt
Labels: backport/v1.14, dependencies, kind/bug, lgtm/done

#15840 Queue manager FlushAll can loop rapidly - add delay (#15733)
  modules/queue/manager.go
Labels: kind/bug, kind/build, kind/testing, lgtm/done

#15834 Unregister non-matching serviceworkers
  models/user.go
  web_src/js/features/serviceworker.js
  web_src/js/publicpath.js
  web_src/js/utils.js
  web_src/js/utils.test.js
Labels: kind/bug, kind/ui, lgtm/done

#15847 change s3 bucket name
  .drone.yml
Labels: backport/v1.14, kind/package, lgtm/done, skip-changelog

#15839 Tagger can be empty, as can Commit and Author - tolerate this (#15835)
  models/migrations/v156.go
  modules/git/commit_reader.go
  modules/git/tag.go
Labels: kind/bug, lgtm/done

#15846 Upgrade unrolled/render to v1.1.1 (#15845)
  go.mod
  go.sum
  vendor/github.com/unrolled/render/render.go
  vendor/modules.txt
Labels: dependencies, kind/bug, lgtm/done

#15758 Fix bound address/port for caddy's certmagic library
  cmd/web_letsencrypt.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15848 Fix bound address/port for caddy's certmagic library (#15758)
  cmd/web_letsencrypt.go
Labels: kind/bug, lgtm/done

#15828 fix truncate utf8 string
  modules/base/tool.go
  modules/base/tool_test.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15808 Allow custom highlight mapping beyond file extensions
  modules/highlight/highlight.go
Labels: kind/ui, lgtm/done

#15849 Only offer hostcertificates if they exist
  docker/root/etc/s6/openssh/setup
  docker/root/etc/templates/sshd_config
Labels: backport/v1.14, kind/deployment, lgtm/done, theme/docker

#15854 fix truncate utf8 string (#15828)
  modules/base/tool.go
  modules/base/tool_test.go
Labels: kind/bug, lgtm/done

#15804 Update JS dependencies, use Node 16
  .drone.yml
  .eslintrc
  .gitignore
  package-lock.json
  package.json
Labels: dependencies, lgtm/done

#15853 Only offer hostcertificates if they exist (#15849)
  docker/root/etc/s6/openssh/setup
  docker/root/etc/templates/sshd_config
Labels: kind/deployment, lgtm/done, theme/docker

#15825 Restore PAM user autocreation functionality
  models/login_source.go
  options/locale/locale_en-US.ini
  routers/admin/auths.go
  services/forms/auth_form.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/new.tmpl
Labels: backport/v1.14, kind/bug, lgtm/done

#15861 Only write config in environment-to-ini if there are changes
  contrib/environment-to-ini/environment-to-ini.go
Labels: backport/v1.14, kind/deployment, lgtm/done, theme/docker

#15852 Add information on how to rotate logging from outside container
  docs/content/doc/advanced/logging-documentation.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#15555 Supplementary the document of reverse proxy for IIS
  docs/content/doc/usage/reverse-proxies.en-us.md
Labels: kind/docs, lgtm/done

#15860 Add jest rootDir and test-frontend dependency
  Makefile
  jest.config.js
Labels: kind/testing, lgtm/done, skip-changelog

#15862 Stop calling WriteHeader in Write
  modules/context/response.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15831 Add timeout to writing to responses
  modules/graceful/server.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15856 Fix LFS commit finder not working
  modules/git/batch_reader.go
  modules/git/commit_info_nogogit.go
  modules/git/pipeline/lfs_nogogit.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15873 Stop calling WriteHeader in Write (#15862)
  modules/context/response.go
Labels: kind/bug, lgtm/done

#15859 Fix bound address/port for caddy's certmagic library
  cmd/web_letsencrypt.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15874 Backport Fix LFS commit finder not working (#15856)
  modules/git/batch_reader.go
  modules/git/commit_info_nogogit.go
  modules/git/pipeline/lfs_nogogit.go
Labels: kind/bug, lgtm/done

#15872 Add timeout to writing to responses (#15831)
  modules/graceful/server.go
Labels: kind/bug, lgtm/done

#15869 Upgrade xorm to v1.1.0
  go.mod
  go.sum
  vendor/modules.txt
  vendor/xorm.io/xorm/.drone.yml
  vendor/xorm.io/xorm/.gitignore
  vendor/xorm.io/xorm/.revive.toml
  vendor/xorm.io/xorm/CHANGELOG.md
  vendor/xorm.io/xorm/Makefile
  vendor/xorm.io/xorm/caches/encode.go
  vendor/xorm.io/xorm/caches/leveldb.go
  vendor/xorm.io/xorm/caches/manager.go
  vendor/xorm.io/xorm/contexts/hook.go
  vendor/xorm.io/xorm/core/db.go
  vendor/xorm.io/xorm/core/rows.go
  vendor/xorm.io/xorm/core/scan.go
  vendor/xorm.io/xorm/core/stmt.go
  vendor/xorm.io/xorm/core/tx.go
  vendor/xorm.io/xorm/dialects/dialect.go
  vendor/xorm.io/xorm/dialects/driver.go
  vendor/xorm.io/xorm/dialects/filter.go
  vendor/xorm.io/xorm/dialects/mssql.go
  vendor/xorm.io/xorm/dialects/mysql.go
  vendor/xorm.io/xorm/dialects/postgres.go
  vendor/xorm.io/xorm/dialects/sqlite3.go
  vendor/xorm.io/xorm/dialects/time.go
  vendor/xorm.io/xorm/engine.go
  vendor/xorm.io/xorm/engine_group.go
  vendor/xorm.io/xorm/go.mod
  vendor/xorm.io/xorm/go.sum
  vendor/xorm.io/xorm/interface.go
  vendor/xorm.io/xorm/internal/json/json.go
  vendor/xorm.io/xorm/internal/statements/cache.go
  vendor/xorm.io/xorm/internal/statements/expr_param.go
  vendor/xorm.io/xorm/internal/statements/query.go
  vendor/xorm.io/xorm/internal/statements/statement.go
  vendor/xorm.io/xorm/internal/statements/statement_args.go
  vendor/xorm.io/xorm/internal/utils/name.go
  vendor/xorm.io/xorm/internal/utils/reflect.go
  vendor/xorm.io/xorm/internal/utils/sql.go
  vendor/xorm.io/xorm/internal/utils/strings.go
  vendor/xorm.io/xorm/internal/utils/zero.go
  vendor/xorm.io/xorm/names/mapper.go
  vendor/xorm.io/xorm/names/table_name.go
  vendor/xorm.io/xorm/schemas/column.go
  vendor/xorm.io/xorm/schemas/index.go
  vendor/xorm.io/xorm/schemas/pk.go
  vendor/xorm.io/xorm/schemas/quote.go
  vendor/xorm.io/xorm/schemas/table.go
  vendor/xorm.io/xorm/schemas/type.go
  vendor/xorm.io/xorm/session.go
  vendor/xorm.io/xorm/session_convert.go
  vendor/xorm.io/xorm/session_get.go
  vendor/xorm.io/xorm/session_schema.go
  vendor/xorm.io/xorm/session_tx.go
  vendor/xorm.io/xorm/tags/parser.go
Labels: dependencies, lgtm/done

#15876 Close the gitrepo when deleting the repository
  modules/migrations/gitea_uploader.go
  routers/admin/repos.go
  routers/api/v1/repo/repo.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#15863 Fix blame row height alignment
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#15880 Fix error message when saving generated LOCAL_ROOT_URL config
  cmd/web.go
Labels: lgtm/done

#15871 Return go-get info on subdirs (#15642)
  integrations/goget_test.go
  routers/routes/goget.go
  routers/routes/web.go
Labels: kind/bug, lgtm/done

#15868 Only write config in environment-to-ini if there are changes (#15861)
  contrib/environment-to-ini/environment-to-ini.go
Labels: kind/deployment, lgtm/done, theme/docker

#15882 Fix error message when saving generated LOCAL_ROOT_URL config (#15880)
  cmd/web.go
Labels: kind/bug, lgtm/done

#15693 Multiple Queue improvements: LevelDB Wait on empty, shutdown empty shadow level queue, reduce goroutines etc
  modules/graceful/context.go
  modules/graceful/manager.go
  modules/graceful/manager_unix.go
  modules/graceful/manager_windows.go
  modules/indexer/code/indexer.go
  modules/indexer/issues/indexer.go
  modules/queue/bytefifo.go
  modules/queue/manager.go
  modules/queue/queue.go
  modules/queue/queue_bytefifo.go
  modules/queue/queue_channel.go
  modules/queue/queue_channel_test.go
  modules/queue/queue_disk.go
  modules/queue/queue_disk_channel.go
  modules/queue/queue_disk_channel_test.go
  modules/queue/queue_disk_test.go
  modules/queue/queue_redis.go
  modules/queue/queue_wrapped.go
  modules/queue/unique_queue_channel.go
  modules/queue/unique_queue_disk.go
  modules/queue/unique_queue_disk_channel.go
  modules/queue/unique_queue_redis.go
  modules/queue/workerpool.go
  services/pull/check_test.go
Labels: lgtm/done, performance/cpu

#15303 Prevent double-login for Git HTTP and LFS and simplify login
  integrations/api_repo_lfs_locks_test.go
  modules/auth/sso/basic.go
  modules/auth/sso/sso.go
  modules/auth/sso/sso_test.go
  modules/context/context.go
  routers/private/internal.go
  routers/repo/http.go
  routers/routes/base.go
  services/lfs/locks.go
  services/lfs/server.go
Labels: kind/bug, kind/refactor, lgtm/done, performance/memory, performance/speed

#15883 Fix blame row height alignment (#15863)
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#15878 Fix bound address/port for caddy's certmagic library (see #15848) (#15859)
  cmd/web_letsencrypt.go
Labels: kind/bug, lgtm/done, skip-changelog

#15885 Upgrade xorm to v1.1.0 (#15869)
  go.mod
  go.sum
  vendor/modules.txt
  vendor/xorm.io/xorm/.drone.yml
  vendor/xorm.io/xorm/.gitignore
  vendor/xorm.io/xorm/.revive.toml
  vendor/xorm.io/xorm/CHANGELOG.md
  vendor/xorm.io/xorm/Makefile
  vendor/xorm.io/xorm/caches/encode.go
  vendor/xorm.io/xorm/caches/leveldb.go
  vendor/xorm.io/xorm/caches/manager.go
  vendor/xorm.io/xorm/contexts/hook.go
  vendor/xorm.io/xorm/core/db.go
  vendor/xorm.io/xorm/core/rows.go
  vendor/xorm.io/xorm/core/scan.go
  vendor/xorm.io/xorm/core/stmt.go
  vendor/xorm.io/xorm/core/tx.go
  vendor/xorm.io/xorm/dialects/dialect.go
  vendor/xorm.io/xorm/dialects/driver.go
  vendor/xorm.io/xorm/dialects/filter.go
  vendor/xorm.io/xorm/dialects/mssql.go
  vendor/xorm.io/xorm/dialects/mysql.go
  vendor/xorm.io/xorm/dialects/postgres.go
  vendor/xorm.io/xorm/dialects/sqlite3.go
  vendor/xorm.io/xorm/dialects/time.go
  vendor/xorm.io/xorm/engine.go
  vendor/xorm.io/xorm/engine_group.go
  vendor/xorm.io/xorm/go.mod
  vendor/xorm.io/xorm/go.sum
  vendor/xorm.io/xorm/interface.go
  vendor/xorm.io/xorm/internal/json/json.go
  vendor/xorm.io/xorm/internal/statements/cache.go
  vendor/xorm.io/xorm/internal/statements/expr_param.go
  vendor/xorm.io/xorm/internal/statements/query.go
  vendor/xorm.io/xorm/internal/statements/statement.go
  vendor/xorm.io/xorm/internal/statements/statement_args.go
  vendor/xorm.io/xorm/internal/utils/name.go
  vendor/xorm.io/xorm/internal/utils/reflect.go
  vendor/xorm.io/xorm/internal/utils/sql.go
  vendor/xorm.io/xorm/internal/utils/strings.go
  vendor/xorm.io/xorm/internal/utils/zero.go
  vendor/xorm.io/xorm/names/mapper.go
  vendor/xorm.io/xorm/names/table_name.go
  vendor/xorm.io/xorm/schemas/column.go
  vendor/xorm.io/xorm/schemas/index.go
  vendor/xorm.io/xorm/schemas/pk.go
  vendor/xorm.io/xorm/schemas/quote.go
  vendor/xorm.io/xorm/schemas/table.go
  vendor/xorm.io/xorm/schemas/type.go
  vendor/xorm.io/xorm/session.go
  vendor/xorm.io/xorm/session_convert.go
  vendor/xorm.io/xorm/session_get.go
  vendor/xorm.io/xorm/session_schema.go
  vendor/xorm.io/xorm/session_tx.go
  vendor/xorm.io/xorm/tags/parser.go
Labels: dependencies, lgtm/done

#15304 Create a session on ReverseProxy and ensure that ReverseProxy users cannot change username
  modules/auth/sso/reverseproxy.go
  templates/user/settings/profile.tmpl
Labels: kind/bug, lgtm/done

#15887 Close the gitrepo when deleting the repository (#15876)
  modules/migrations/gitea_uploader.go
  routers/admin/repos.go
  routers/api/v1/repo/repo.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#15725 Hold the event source when there are no listeners
  modules/eventsource/manager.go
  modules/eventsource/manager_run.go
Labels: lgtm/done, performance/cpu

#15884 GitHub: migrate draft releases too
  modules/migrations/gitea_uploader.go
  modules/migrations/github.go
Labels: backport/v1.14, kind/bug, kind/migration, lgtm/done

#15855 Move sans-serif fallback font higher than emoji fonts
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#15888 GitHub: migrate draft releases too (#15884)
  modules/migrations/gitea_uploader.go
  modules/migrations/github.go
Labels: kind/bug, kind/migration, lgtm/done

#15881 Systemd needs After as well as Require
  contrib/systemd/gitea.service
Labels: kind/deployment, lgtm/done

#15890 improve empty notice
  models/admin.go
Labels: kind/enhancement, lgtm/done

#15892 Move sans-serif fallback font higher than emoji fonts (#15855)
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#15162 Rework Token API comments
  docs/content/doc/developers/api-usage.en-us.md
Labels: kind/docs, lgtm/done

#15893 Use a special name for update default branch on repository setting
  options/locale/locale_en-US.ini
  templates/repo/settings/branches.tmpl
Labels: kind/translation, lgtm/done

#15524 Issue sidebar and misc css fixes
  templates/explore/code.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/search.tmpl
  templates/user/profile.tmpl
  web_src/less/_base.less
  web_src/less/_editor.less
  web_src/less/_repository.less
  web_src/less/helpers.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#15901 Remove unimplemented searchbar from project view
  templates/repo/projects/view.tmpl
Labels: kind/ui, lgtm/done

#15902 git migration: don't prompt interactively for clone credentials
  modules/git/command.go
Labels: backport/v1.14, kind/bug, kind/migration, lgtm/done

#15905 remove unimplemented searchbar from project view (#15901)
  templates/repo/projects/view.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15897 Use Wants= over Requires= in systemd file
  contrib/systemd/gitea.service
Labels: kind/deployment, lgtm/done

#15918 Fix typo in hacking-on-gitea.en-us.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#15915 Restore token authentication for git http when 2FA active
  routers/repo/http.go
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog
