Repository go-gitea/gitea, pull requests merged in 2021-03, with the labels that each got.

#14792 Repository transfer has to be confirmed, if user can not create repo for new owner
  integrations/api_repo_test.go
  models/error.go
  models/fixtures/repo_transfer.yml
  models/issue.go
  models/migrations/migrations.go
  models/migrations/v174.go
  models/models.go
  models/notification.go
  models/org.go
  models/org_test.go
  models/repo.go
  models/repo_transfer.go
  models/repo_transfer_test.go
  modules/context/repo.go
  modules/convert/notification.go
  modules/notification/base/notifier.go
  modules/notification/base/null.go
  modules/notification/mail/mail.go
  modules/notification/notification.go
  modules/notification/ui/ui.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/transfer.go
  routers/repo/repo.go
  routers/repo/setting.go
  routers/repo/view.go
  services/mailer/mail.go
  services/mailer/mail_repo.go
  services/repository/transfer.go
  templates/mail/notify/repo_transfer.tmpl
  templates/repo/header.tmpl
  templates/repo/settings/options.tmpl
  templates/user/notification/notification_div.tmpl
Labels: kind/feature, lgtm/done

#14836 use gomod support w/ xgo
  .drone.yml
  Makefile
Labels: kind/build, lgtm/done, skip-changelog

#14837 remove duplicate define of CheckAttribute()
  modules/repofiles/temp_repo.go
  modules/repofiles/update.go
  modules/repofiles/upload.go
Labels: kind/refactor, lgtm/done, skip-changelog

#14738 Organization removal confirmation using name not password
  options/locale/locale_en-US.ini
  routers/org/setting.go
  templates/org/settings/delete.tmpl
Labels: kind/enhancement, lgtm/done

#14839 Set HCaptchaSiteKey on Link Account pages (#14834)
  routers/user/auth.go
Labels: kind/bug, lgtm/done

#14823 When Deleting Repository only explicitly close PRs whose base is not this repository
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#14848 Make searching issues by keyword case insensitive on DB
  models/issue.go
Labels: kind/bug, lgtm/done

#14842 When Deleting Repository only explicitly close PRs whose base is not this repository (#14823)
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#14852 Handle URLs with trailing /
  routers/routes/web.go
Labels: kind/bug, kind/regression, lgtm/done

#14873 Fix display since time round (#14226)
  modules/timeutil/since.go
  modules/timeutil/since_test.go
Labels: kind/bug, lgtm/done

#14874 Print usefull error if SQLite is used in settings but not supported (#14476)
  routers/init.go
Labels: kind/bug, lgtm/done

#14876 Add missing repo.projects unit into swagger
  modules/structs/org_team.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#14831 Fix paging of file commit logs
  modules/git/repo_commit.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14850 Add CORS config on to /login/oauth/access_token endpoint
  routers/routes/web.go
Labels: kind/bug, lgtm/done

#14781 Move Bleve and Elastic code indexers to use a common cat-file --batch
  modules/git/batch_reader.go
  modules/git/commit_info_nogogit.go
  modules/git/pipeline/lfs_nogogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
Labels: kind/enhancement, lgtm/done, performance/memory, performance/speed

#12543 Make manual merge autodetection optional and add manual merge as merge method
  integrations/api_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/pull_status_test.go
  models/pull.go
  models/repo_unit.go
  modules/forms/repo_form.go
  modules/git/repo_commit.go
  modules/git/repo_commit_test.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/repo.go
  routers/repo/compare.go
  routers/repo/issue.go
  routers/repo/pull.go
  routers/repo/setting.go
  services/pull/check.go
  services/pull/merge.go
  services/pull/patch.go
  templates/repo/diff/compare.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/settings/options.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, reviewed/confirmed

#14879 Fix paging of file commit logs (#14831)
  modules/git/repo_commit.go
Labels: kind/bug, lgtm/done

#14877 Add changelog for v1.13.3
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#14855 [Docs] Fix how lfs data path is set
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: backport/v1.13, kind/bug, kind/docs, lgtm/done

#14885 Fix 500 on pull view page if user is not loged in
  services/pull/update.go
Labels: backport/done, backport/v1.13, kind/bug, lgtm/done

#14886 Fix 500 on pull view page if user is not loged in (#14885)
  services/pull/update.go
Labels: kind/bug, lgtm/done

#14884 [Docs] Fix how lfs data path is set (#14855)
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: kind/bug, kind/docs, lgtm/done

#14881 show private heatmap on profile to self & admins
  integrations/privateactivity_test.go
  routers/user/home.go
  routers/user/profile.go
Labels: kind/bug, lgtm/done, skip-changelog

#14864 When transfering repository and database transaction failed, rollback the renames
  models/repo_transfer.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14888 Fix race in local storage
  modules/storage/local.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14894 Fix bug when combine label comments
  routers/repo/issue.go
  routers/repo/issue_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#14898 Fix issue popups
  web_src/js/features/contextpopup.js
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#14899 Fix issue popups (#14898)
  web_src/js/features/contextpopup.js
Labels: kind/bug, kind/ui, lgtm/done

#14902 When transfering repository and database transaction failed, rollback the renames (#14864)
  models/repo.go
Labels: kind/bug, lgtm/done

#14901 Fix race in local storage (#14888)
  modules/storage/local.go
Labels: kind/bug, lgtm/done

#14897 Fix a couple of issues with a feeds
  modules/templates/helper.go
  templates/user/dashboard/feeds.tmpl
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#14903 Fix a couple of issues with a feeds (#14897)
  modules/templates/helper.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#14904 Hide resync all ssh principals when using internal ssh server
  templates/admin/dashboard.tmpl
Labels: kind/ui, lgtm/done

#14907 Fix issue search with db indexer because of mysql 5.7 sqlmode
  models/issue.go
Labels: kind/bug, lgtm/done, skip-changelog

#14895 Fix race in LFS ContentStore.Put(...)
  modules/lfs/content_store.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14913 Fix race in LFS ContentStore.Put(...) (#14895)
  modules/lfs/content_store.go
Labels: kind/bug, lgtm/done

#14911 Prevent panic when empty MilestoneID in repo/issue/list
  templates/repo/issue/list.tmpl
Labels: kind/bug, lgtm/done

#14900 Add SameSite setting for cookies
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/auth/sso/sso.go
  modules/context/auth.go
  modules/context/context.go
  modules/context/csrf.go
  modules/setting/session.go
  modules/web/middleware/cookie.go
  modules/web/middleware/locale.go
  routers/home.go
  routers/install.go
  routers/user/auth.go
  routers/user/auth_openid.go
  routers/user/setting/profile.go
Labels: kind/enhancement, kind/refactor, lgtm/done

#14917 Changelog v1.13.4
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#14910 Fix migration context data
  routers/repo/migrate.go
Labels: kind/bug, lgtm/done

#14880 docs: swagger show models by default
  web_src/js/standalone/swagger.js
Labels: kind/docs, lgtm/done

#14920 Changelog v1.13.4 (#14917)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#14923 Fix overdue marking of closed issues and milestones
  models/issue.go
  models/issue_milestone.go
Labels: kind/bug, lgtm/done

#14918 Make internal SSH server host key path configurable
  cmd/web.go
  cmd/web_graceful.go
  cmd/web_letsencrypt.go
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/graceful/server.go
  modules/graceful/server_http.go
  modules/setting/setting.go
  modules/ssh/ssh.go
  modules/ssh/ssh_graceful.go
Labels: kind/enhancement, lgtm/done

#14925 Re-enable import local paths after reversion from #13610
  modules/migrations/migrate.go
  modules/migrations/migrate_test.go
Labels: backport/v1.13, kind/bug, kind/regression, lgtm/done

#14927 Re-enable import local paths after reversion from #13610 (#14925)
  modules/migrations/migrate.go
  modules/migrations/migrate_test.go
Labels: kind/bug, kind/regression, lgtm/done

#14924 Fix alignment of People and Teams right arrow on org homepage
  templates/org/home.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#14930 Add "captcha" to list of reserved usernames
  models/user.go
Labels: kind/bug, lgtm/done

#14926 minor UI fixes
  templates/repo/header.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#14922 Move Workaround for #12675 into it's own function
  modules/migrations/gitea_downloader.go
Labels: kind/enhancement, kind/refactor, lgtm/done

#14931 [API] get pull, return head branch sha, even if deleted
  modules/convert/pull.go
Labels: kind/api, kind/bug, lgtm/done

#14933 Fix typo in .golangci.yml
  .golangci.yml
Labels: lgtm/done

#14951 build darwin on arm64 platforms
  Makefile
Labels: kind/build, kind/package, lgtm/done

#14949 Fixed wrong default value in docs for MAX_GIT_DIFF_LINES
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#14094 Add ui.explore settings to control view of explore pages (2)
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/service.go
  routers/api/v1/api.go
  routers/home.go
  routers/routes/web.go
  templates/explore/navbar.tmpl
Labels: kind/enhancement, lgtm/done

#14960 Prevent panic when editing forked repos by API
  routers/api/v1/repo/repo.go
Labels: backport/v1.13, kind/api, kind/bug, lgtm/done

#14964 Add kdumontnu to MAINTAINERS
  MAINTAINERS
Labels: kind/docs, lgtm/done

#14963 Prevent panic when editing forked repos by API (#14960)
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#14681 CI: pre install git last verson and git lfs in test
  .drone.yml
Labels: kind/build, lgtm/done

#14952 Show correct issues for team dashboard
  routers/user/home.go
Labels: kind/bug, lgtm/done

#14957 Prevent incorrect HTML escaping in swagger.json
  Makefile
  modules/templates/helper.go
  routers/api/v1/api.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/docs, lgtm/done, skip-changelog

#14953 don't show project cog in issue sidebar if no permission
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#14962 Fix excluding more than two labels on issues list
  templates/repo/issue/milestone_issues.tmpl
  web_src/js/index.js
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#14973 Fix excluding more than two labels on issues list (#14962)
  templates/repo/issue/milestone_issues.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#14928 Never add labels not from this repository or organisation and remove org labels on transfer
  integrations/api_issue_label_test.go
  models/issue.go
  models/issue_label.go
  models/repo_transfer.go
Labels: kind/bug, lgtm/done

#14969 Fix Anchor jumping with escaped query components
  web_src/js/markdown/anchors.js
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#14976 fix release mail html template
  templates/mail/release.tmpl
Labels: kind/bug, lgtm/done

#14971 don't mark each comment poster as OP
  templates/repo/issue/view_content/comments.tmpl
Labels: backport/done, backport/v1.13, kind/bug, kind/ui, lgtm/done

#14975 fix release mail html template
  templates/mail/release.tmpl
Labels: backport/done, backport/v1.13, kind/bug, lgtm/done

#14972 don't mark each comment poster as OP (#14971)
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#14977 Fix Anchor jumping with escaped query components (#14969)
  web_src/js/markdown/anchors.js
Labels: kind/bug, kind/ui, lgtm/done

#14985 Fix spacing of issue/pulls list review status icons
  templates/shared/issuelist.tmpl
Labels: kind/ui, lgtm/done

#14981 API: fix set milestone on PR creation
  integrations/api_pull_test.go
  models/fixtures/label.yml
  models/fixtures/milestone.yml
  models/fixtures/repository.yml
  routers/api/v1/repo/pull.go
Labels: backport/v1.13, kind/api, kind/bug, lgtm/done

#14992 Re-enable listing of forks when logged out
  templates/repo/header.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#14980 Do not show full lfs file on error in git_test.go:rawTest()
  integrations/git_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#14979 Make sure sibling images get a link too
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done

#14993 Fix repo page language stat span color
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#14995 Make sure sibling images get a link too (#14979)
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
Labels: kind/bug, kind/ui, lgtm/done

#15001 API: fix set milestone on PR creation (#14981)
  integrations/api_pull_test.go
  models/fixtures/label.yml
  models/fixtures/milestone.yml
  models/fixtures/repository.yml
  routers/api/v1/repo/pull.go
Labels: kind/api, kind/bug, lgtm/done

#14999 Update comparison docs for gitlab
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#14994 Ensure validation occurs on clone addresses too
  integrations/api_repo_test.go
  models/error.go
  models/user.go
  modules/forms/repo_form.go
  modules/migrations/migrate.go
  modules/migrations/migrate_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/migrate.go
  routers/repo/migrate.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done

#14959 Add reverse proxy configuration support for remote IP address
  custom/conf/app.example.ini
  docker/root/etc/templates/app.ini
  docker/rootless/etc/templates/app.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  go.mod
  go.sum
  modules/setting/setting.go
  routers/routes/web.go
  vendor/github.com/chi-middleware/proxy/.drone.yml
  vendor/github.com/chi-middleware/proxy/.gitignore
  vendor/github.com/chi-middleware/proxy/.golangci.yml
  vendor/github.com/chi-middleware/proxy/.revive.toml
  vendor/github.com/chi-middleware/proxy/LICENSE
  vendor/github.com/chi-middleware/proxy/Makefile
  vendor/github.com/chi-middleware/proxy/README.md
  vendor/github.com/chi-middleware/proxy/go.mod
  vendor/github.com/chi-middleware/proxy/go.sum
  vendor/github.com/chi-middleware/proxy/middleware.go
  vendor/github.com/chi-middleware/proxy/options.go
  vendor/modules.txt
Labels: kind/breaking, kind/security, lgtm/done

#14986 Fix several render issues
  modules/emoji/emoji.go
  modules/emoji/emoji_test.go
  modules/markup/html.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
Labels: kind/bug, lgtm/done

#14965 move repo.CloseIssuesViaCommitInAnyBranch to issue settings
  modules/forms/repo_form.go
  routers/repo/setting.go
  templates/repo/settings/options.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#14932 Ensure that new pull request button works on forked forks owned by owner of the root and reduce ambiguity
  templates/repo/diff/compare.tmpl
  templates/repo/home.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15007 add pat-s to MAINTAINERS list
  MAINTAINERS
Labels: lgtm/done

#15010 Fixed wrong migrate url error description
  routers/repo/migrate.go
  routers/repo/setting.go
Labels: kind/bug, lgtm/done, skip-changelog

#15014 Validate email in external authenticator registration form
  routers/user/auth.go
Labels: lgtm/done

#15006 chore: bump minio to RELEASE.2021-03-12T00-00-47Z
  .drone.yml
Labels: lgtm/done

#15013 Fix several render issues (#14986)
  modules/emoji/emoji.go
  modules/emoji/emoji_test.go
  modules/markup/html.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
Labels: kind/bug, kind/security, lgtm/done

#15008 Sort release attachments by name
  models/release.go
Labels: kind/enhancement, kind/usability, lgtm/done

#15009 support gitmailmap in GetCodeActivityStats()
  modules/git/repo_stats.go
Labels: kind/enhancement, lgtm/done

#14954 org dashboard: move teamselector left
  templates/user/dashboard/navbar.tmpl
Labels: kind/ui, kind/usability, lgtm/done

#14863 Create new issue from code
  routers/repo/issue.go
  templates/repo/issue/comment_tab.tmpl
  templates/repo/view_file.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/feature, lgtm/done

#15020 Remove extraneous logging
  integrations/git_test.go
  modules/markup/markdown/goldmark.go
Labels: kind/testing, lgtm/done, skip-changelog

#15015 Fix postgres ID sequences broken by recreate-table
  models/consistency.go
  models/migrations/migrations.go
  models/migrations/v175.go
  modules/doctor/dbconsistency.go
Labels: backport/v1.13, kind/bug, lgtm/done

#15022 fix href on label in sidebar
  templates/repo/issue/labels/labels_sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#15023 Do not convert file path to lowercase
  integrations/migrate_test.go
  modules/migrations/migrate.go
  modules/migrations/migrate_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#15018 Fix hover color for last row of repo file list
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, skip-changelog

#15032 another clusterfuzz spotted issue
  modules/markup/html.go
Labels: backport/v1.13, kind/bug, lgtm/done

#15034 another clusterfuzz spotted issue (#15032)
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#14575 Fix CJK fonts again and misc. font issues
  templates/base/head.tmpl
  web_src/js/index.js
  web_src/js/utils.js
  web_src/less/_base.less
  web_src/less/_font_i18n.less
  web_src/less/index.less
Labels: kind/ui, lgtm/done

#15038 Git graph: fix UI elements getting underline like links
  web_src/less/features/gitgraph.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#15029 Fix postgres ID sequences broken by recreate-table (#15015)
  cmd/doctor.go
  models/consistency.go
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done

#14912 Prevent addition of labels from outside the repository or organisation in issues
  models/consistency.go
  models/migrations/migrations.go
  models/migrations/v176.go
  modules/doctor/dbconsistency.go
Labels: kind/bug, kind/feature, lgtm/done

#15039 Delete Labels & IssueLabels on Repo Delete too
  models/consistency.go
  models/issue_label.go
  models/migrations/migrations.go
  models/migrations/v174.go
  models/migrations/v177.go
  models/repo.go
  modules/doctor/dbconsistency.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14935 Changelog for 1.14.0-RC1
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#15051 Delete Labels & IssueLabels on Repo Delete too (#15039)
  cmd/doctor.go
  models/consistency.go
  models/issue_label.go
  models/repo.go
Labels: kind/bug, lgtm/done

#15042 Fix bug when upload on web
  modules/repofiles/upload.go
Labels: backport/done, backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#15041 Allow read/write to user root and only read to group git on documenta…
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#15055 Fix bug when upload on web (#15042)
  modules/repofiles/upload.go
Labels: kind/bug, lgtm/done

#15054 Fix bug when upload on web (#15042)
  modules/repofiles/upload.go
Labels: kind/bug, lgtm/done, skip-changelog

#15056 Fix markdown rendering in milestone content
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  web_src/less/_repository.less
Labels: backport/v1.13, backport/v1.14, kind/bug, kind/ui, lgtm/done

#15061 Update to goldmark 1.3.3 (#15059)
  go.mod
  go.sum
  vendor/github.com/yuin/goldmark/README.md
  vendor/github.com/yuin/goldmark/ast/ast.go
  vendor/github.com/yuin/goldmark/ast/block.go
  vendor/github.com/yuin/goldmark/ast/inline.go
  vendor/github.com/yuin/goldmark/extension/ast/footnote.go
  vendor/github.com/yuin/goldmark/extension/footnote.go
  vendor/github.com/yuin/goldmark/extension/linkify.go
  vendor/github.com/yuin/goldmark/extension/table.go
  vendor/github.com/yuin/goldmark/go.mod
  vendor/github.com/yuin/goldmark/parser/code_block.go
  vendor/github.com/yuin/goldmark/parser/fcode_block.go
  vendor/github.com/yuin/goldmark/parser/link.go
  vendor/github.com/yuin/goldmark/parser/parser.go
  vendor/github.com/yuin/goldmark/parser/raw_html.go
  vendor/github.com/yuin/goldmark/util/util.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#15059 Update to goldmark 1.3.3
  go.mod
  go.sum
  vendor/github.com/yuin/goldmark/extension/table.go
  vendor/modules.txt
Labels: backport/done, backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#15060 Update to goldmark 1.3.3 (#15059)
  go.mod
  go.sum
  vendor/github.com/yuin/goldmark/extension/table.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#15065 Update release date
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#15067 [Refactor] remove possible resource leak
  modules/repofiles/upload.go
Labels: kind/bug, kind/refactor, lgtm/done

#15071 Handle unauthorized user events gracefully
  routers/events/events.go
  routers/routes/web.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15078 fix double 'push tag' action feed
  modules/notification/action/action.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15074 Handle unauthorized user events gracefully (#15071)
  routers/events/events.go
  routers/routes/web.go
Labels: kind/bug, lgtm/done

#15084 Changelog v1.13.5
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#15083 fix double 'push tag' action feed (#15078)
  modules/notification/action/action.go
Labels: kind/bug, lgtm/done

#15073 [refactor] Use i18n.Reset to reload locales
  go.mod
  go.sum
  modules/translation/translation.go
  vendor/github.com/unknwon/i18n/i18n.go
  vendor/modules.txt
Labels: kind/refactor, lgtm/done

#15086 Place wrapper around comment as diff to catch panics (#15085)
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done, skip-changelog

#15082 Remove possible resource leak (#15067)
  modules/repofiles/upload.go
Labels: kind/bug, lgtm/done

#15085 Place wrapper around comment as diff to catch panics
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done, skip-changelog

#15092 Fix markdown rendering in milestone content (#15056)
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done

#15091 Fix markdown rendering in milestone content (#15056)
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done, skip-changelog

#15093 Changelog v1.13.5 (#15084)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#15095 Fix lock modal content rendering outside modal
  templates/repo/issue/view_content/sidebar.tmpl
Labels: backport/v1.14, kind/bug, kind/ui, lgtm/done

#15098 Fixed #15020
  integrations/git_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#15094 Place wrapper around comment as diff to catch panics (#15085)
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done, skip-changelog

#15100 Fix lock modal content rendering outside modal (#15095)
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#15096 Fix another clusterfuzz identified issue
  modules/markup/html.go
Labels: backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#14130 Implement delete release attachments and update release attachments' name
  models/attachment.go
  models/attachment_test.go
  models/release.go
  routers/api/v1/repo/release.go
  routers/repo/release.go
  services/release/release.go
  services/release/release_test.go
  templates/repo/release/list.tmpl
  templates/repo/release/new.tmpl
  web_src/js/index.js
  web_src/less/_repository.less
Labels: kind/feature, lgtm/done

#15103 [Vendor] update gitea-sdk v0.14.0
  go.mod
  go.sum
  modules/migrations/gitea_downloader.go
  vendor/code.gitea.io/sdk/gitea/admin_cron.go
  vendor/code.gitea.io/sdk/gitea/admin_org.go
  vendor/code.gitea.io/sdk/gitea/admin_repo.go
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/attachment.go
  vendor/code.gitea.io/sdk/gitea/client.go
  vendor/code.gitea.io/sdk/gitea/fork.go
  vendor/code.gitea.io/sdk/gitea/git_blob.go
  vendor/code.gitea.io/sdk/gitea/git_hook.go
  vendor/code.gitea.io/sdk/gitea/go.mod
  vendor/code.gitea.io/sdk/gitea/go.sum
  vendor/code.gitea.io/sdk/gitea/helper.go
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/issue.go
  vendor/code.gitea.io/sdk/gitea/issue_comment.go
  vendor/code.gitea.io/sdk/gitea/issue_label.go
  vendor/code.gitea.io/sdk/gitea/issue_milestone.go
  vendor/code.gitea.io/sdk/gitea/issue_reaction.go
  vendor/code.gitea.io/sdk/gitea/issue_stopwatch.go
  vendor/code.gitea.io/sdk/gitea/issue_subscription.go
  vendor/code.gitea.io/sdk/gitea/issue_tracked_time.go
  vendor/code.gitea.io/sdk/gitea/notifications.go
  vendor/code.gitea.io/sdk/gitea/org.go
  vendor/code.gitea.io/sdk/gitea/org_member.go
  vendor/code.gitea.io/sdk/gitea/org_team.go
  vendor/code.gitea.io/sdk/gitea/pull.go
  vendor/code.gitea.io/sdk/gitea/pull_review.go
  vendor/code.gitea.io/sdk/gitea/release.go
  vendor/code.gitea.io/sdk/gitea/repo.go
  vendor/code.gitea.io/sdk/gitea/repo_branch.go
  vendor/code.gitea.io/sdk/gitea/repo_branch_protection.go
  vendor/code.gitea.io/sdk/gitea/repo_collaborator.go
  vendor/code.gitea.io/sdk/gitea/repo_commit.go
  vendor/code.gitea.io/sdk/gitea/repo_file.go
  vendor/code.gitea.io/sdk/gitea/repo_key.go
  vendor/code.gitea.io/sdk/gitea/repo_migrate.go
  vendor/code.gitea.io/sdk/gitea/repo_refs.go
  vendor/code.gitea.io/sdk/gitea/repo_stars.go
  vendor/code.gitea.io/sdk/gitea/repo_tag.go
  vendor/code.gitea.io/sdk/gitea/repo_topics.go
  vendor/code.gitea.io/sdk/gitea/repo_transfer.go
  vendor/code.gitea.io/sdk/gitea/repo_tree.go
  vendor/code.gitea.io/sdk/gitea/repo_watch.go
  vendor/code.gitea.io/sdk/gitea/settings.go
  vendor/code.gitea.io/sdk/gitea/status.go
  vendor/code.gitea.io/sdk/gitea/user.go
  vendor/code.gitea.io/sdk/gitea/user_app.go
  vendor/code.gitea.io/sdk/gitea/user_follow.go
  vendor/code.gitea.io/sdk/gitea/user_gpgkey.go
  vendor/code.gitea.io/sdk/gitea/user_key.go
  vendor/code.gitea.io/sdk/gitea/version.go
  vendor/modules.txt
Labels: backport/v1.14, dependencies, kind/bug, kind/enhancement, lgtm/done

#15110 Fix the v176 migration
  models/consistency.go
  models/migrations/v176.go
  models/repo_transfer.go
Labels: backport/v1.14, kind/bug, lgtm/done, priority/critical

#15111 Fix the v176 migration (#15110)
  models/consistency.go
  models/migrations/v176.go
  models/repo_transfer.go
Labels: kind/bug, lgtm/done, priority/critical

#15106 quick fix #15104
  modules/convert/user.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15113 Fix another clusterfuzz identified issue (#15096)
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#15114 Fix another clusterfuzz identified issue (#15096)
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#15115 Changelog for v1.14-rc2
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#15112 Remove raw-loader dependency
  package-lock.json
  package.json
  webpack.config.js
Labels: dependencies, kind/refactor, lgtm/done, skip-changelog

#15107 [Vendor] update gitea-sdk v0.14.0 (#15103)
  go.mod
  go.sum
  modules/migrations/gitea_downloader.go
  vendor/code.gitea.io/sdk/gitea/admin_cron.go
  vendor/code.gitea.io/sdk/gitea/admin_org.go
  vendor/code.gitea.io/sdk/gitea/admin_repo.go
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/attachment.go
  vendor/code.gitea.io/sdk/gitea/client.go
  vendor/code.gitea.io/sdk/gitea/fork.go
  vendor/code.gitea.io/sdk/gitea/git_blob.go
  vendor/code.gitea.io/sdk/gitea/git_hook.go
  vendor/code.gitea.io/sdk/gitea/go.mod
  vendor/code.gitea.io/sdk/gitea/go.sum
  vendor/code.gitea.io/sdk/gitea/helper.go
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/issue.go
  vendor/code.gitea.io/sdk/gitea/issue_comment.go
  vendor/code.gitea.io/sdk/gitea/issue_label.go
  vendor/code.gitea.io/sdk/gitea/issue_milestone.go
  vendor/code.gitea.io/sdk/gitea/issue_reaction.go
  vendor/code.gitea.io/sdk/gitea/issue_stopwatch.go
  vendor/code.gitea.io/sdk/gitea/issue_subscription.go
  vendor/code.gitea.io/sdk/gitea/issue_tracked_time.go
  vendor/code.gitea.io/sdk/gitea/notifications.go
  vendor/code.gitea.io/sdk/gitea/org.go
  vendor/code.gitea.io/sdk/gitea/org_member.go
  vendor/code.gitea.io/sdk/gitea/org_team.go
  vendor/code.gitea.io/sdk/gitea/pull.go
  vendor/code.gitea.io/sdk/gitea/pull_review.go
  vendor/code.gitea.io/sdk/gitea/release.go
  vendor/code.gitea.io/sdk/gitea/repo.go
  vendor/code.gitea.io/sdk/gitea/repo_branch.go
  vendor/code.gitea.io/sdk/gitea/repo_branch_protection.go
  vendor/code.gitea.io/sdk/gitea/repo_collaborator.go
  vendor/code.gitea.io/sdk/gitea/repo_commit.go
  vendor/code.gitea.io/sdk/gitea/repo_file.go
  vendor/code.gitea.io/sdk/gitea/repo_key.go
  vendor/code.gitea.io/sdk/gitea/repo_migrate.go
  vendor/code.gitea.io/sdk/gitea/repo_refs.go
  vendor/code.gitea.io/sdk/gitea/repo_stars.go
  vendor/code.gitea.io/sdk/gitea/repo_tag.go
  vendor/code.gitea.io/sdk/gitea/repo_topics.go
  vendor/code.gitea.io/sdk/gitea/repo_transfer.go
  vendor/code.gitea.io/sdk/gitea/repo_tree.go
  vendor/code.gitea.io/sdk/gitea/repo_watch.go
  vendor/code.gitea.io/sdk/gitea/settings.go
  vendor/code.gitea.io/sdk/gitea/status.go
  vendor/code.gitea.io/sdk/gitea/user.go
  vendor/code.gitea.io/sdk/gitea/user_app.go
  vendor/code.gitea.io/sdk/gitea/user_follow.go
  vendor/code.gitea.io/sdk/gitea/user_gpgkey.go
  vendor/code.gitea.io/sdk/gitea/user_key.go
  vendor/code.gitea.io/sdk/gitea/version.go
  vendor/modules.txt
Labels: dependencies, kind/bug, kind/enhancement, lgtm/done, skip-changelog

#15120 Fix consistency check
  models/consistency.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15124 Fix bug on avatar middleware
  routers/routes/base.go
Labels: backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#15126 Fix bug on avatar middleware (#15124)
  routers/routes/base.go
Labels: kind/bug, lgtm/done, skip-changelog

#15125 Fix bug on avatar middleware (#15124)
  routers/routes/routes.go
Labels: kind/bug, lgtm/done

#15128 Fix consistency check (#15120)
  models/consistency.go
Labels: kind/bug, lgtm/done
