Repository go-gitea/gitea, pull requests merged in 2021-12, with the labels that each got.

#17779 Improve install code to avoid low-level mistakes.
  cmd/cmd.go
  cmd/convert.go
  cmd/doctor.go
  cmd/dump.go
  cmd/dump_repo.go
  cmd/embedded.go
  cmd/mailer.go
  cmd/migrate.go
  cmd/migrate_storage.go
  cmd/restore_repo.go
  cmd/serv.go
  cmd/web.go
  contrib/environment-to-ini/environment-to-ini.go
  contrib/pr/checkout.go
  integrations/integration_test.go
  integrations/migration-test/migration_test.go
  models/db/engine.go
  models/db/install/db.go
  models/migrations/migrations_test.go
  models/ssh_key_test.go
  models/unittest/fixtures.go
  models/unittest/testdb.go
  modules/doctor/doctor.go
  modules/doctor/paths.go
  modules/private/internal.go
  modules/setting/directory.go
  modules/setting/i18n.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/init.go
  routers/install/install.go
  routers/install/setting.go
  services/forms/user_form.go
  templates/base/head.tmpl
  templates/install.tmpl
  web_src/less/_install.less
Labels: kind/enhancement, lgtm/done

#17846 Use shadowing script for docker
  Dockerfile
  Dockerfile.rootless
  contrib/fhs-compliant-script/gitea
  docker/root/etc/s6/gitea/run
  docker/root/usr/local/bin/gitea
  docker/rootless/usr/local/bin/gitea
Labels: lgtm/done, kind/build, theme/docker

#17878 fix 500 error while use a reserved name in org rename
  models/user/user.go
  routers/web/org/setting.go
Labels: kind/bug, lgtm/done, backport/v1.15

#17784 Refactor "refs/*" string usage by using constants
  contrib/pr/checkout.go
  models/issue.go
  models/pull.go
  modules/convert/pull.go
  modules/git/commit.go
  modules/git/ref.go
  modules/git/repo.go
  modules/git/repo_compare.go
  modules/git/repo_ref_nogogit.go
  modules/gitgraph/graph.go
  modules/migration/pullrequest.go
  routers/web/repo/commit.go
  services/mirror/mirror_pull.go
  services/pull/merge.go
  services/pull/pull.go
  services/repository/branch.go
  services/repository/files/temp_repo.go
Labels: lgtm/done, kind/refactor

#17881 fix 500 error while use a reserved name in org rename (#17878)
  models/user.go
  routers/web/org/setting.go
Labels: kind/bug, lgtm/done

#17884 Fixed table sort
  web_src/js/features/tablesort.js
Labels: kind/bug, kind/ui, lgtm/done

#17882 Check if column exist before rename if exist, just return with no error (#17870)
  models/migrations/v184.go
Labels: kind/bug, lgtm/done

#17886 Use fmt.Sprintf correctly
  contrib/pr/checkout.go
  models/pull.go
  modules/convert/pull.go
  modules/migration/pullrequest.go
Labels: priority/low, lgtm/done, kind/refactor

#17871 Changelog for v1.15.7
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#17888 Update chi/middleware to chi/v5/middleware
  go.mod
  go.sum
  routers/common/middleware.go
  routers/web/web.go
  vendor/github.com/go-chi/chi/.gitignore
  vendor/github.com/go-chi/chi/CHANGELOG.md
  vendor/github.com/go-chi/chi/CONTRIBUTING.md
  vendor/github.com/go-chi/chi/LICENSE
  vendor/github.com/go-chi/chi/Makefile
  vendor/github.com/go-chi/chi/README.md
  vendor/github.com/go-chi/chi/chain.go
  vendor/github.com/go-chi/chi/chi.go
  vendor/github.com/go-chi/chi/context.go
  vendor/github.com/go-chi/chi/go.mod
  vendor/github.com/go-chi/chi/mux.go
  vendor/github.com/go-chi/chi/tree.go
  vendor/github.com/go-chi/chi/v5/middleware/basic_auth.go
  vendor/github.com/go-chi/chi/v5/middleware/clean_path.go
  vendor/github.com/go-chi/chi/v5/middleware/compress.go
  vendor/github.com/go-chi/chi/v5/middleware/content_charset.go
  vendor/github.com/go-chi/chi/v5/middleware/content_encoding.go
  vendor/github.com/go-chi/chi/v5/middleware/content_type.go
  vendor/github.com/go-chi/chi/v5/middleware/get_head.go
  vendor/github.com/go-chi/chi/v5/middleware/heartbeat.go
  vendor/github.com/go-chi/chi/v5/middleware/logger.go
  vendor/github.com/go-chi/chi/v5/middleware/middleware.go
  vendor/github.com/go-chi/chi/v5/middleware/nocache.go
  vendor/github.com/go-chi/chi/v5/middleware/page_route.go
  vendor/github.com/go-chi/chi/v5/middleware/path_rewrite.go
  vendor/github.com/go-chi/chi/v5/middleware/profiler.go
  vendor/github.com/go-chi/chi/v5/middleware/realip.go
  vendor/github.com/go-chi/chi/v5/middleware/recoverer.go
  vendor/github.com/go-chi/chi/v5/middleware/request_id.go
  vendor/github.com/go-chi/chi/v5/middleware/route_headers.go
  vendor/github.com/go-chi/chi/v5/middleware/strip.go
  vendor/github.com/go-chi/chi/v5/middleware/terminal.go
  vendor/github.com/go-chi/chi/v5/middleware/throttle.go
  vendor/github.com/go-chi/chi/v5/middleware/timeout.go
  vendor/github.com/go-chi/chi/v5/middleware/url_format.go
  vendor/github.com/go-chi/chi/v5/middleware/value.go
  vendor/github.com/go-chi/chi/v5/middleware/wrap_writer.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#16768 Add migrate from Codebase
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-codebase.svg
  services/migrations/codebase.go
  services/migrations/codebase_test.go
  services/migrations/main_test.go
  templates/repo/migrate/codebase.tmpl
  web_src/svg/gitea-codebase.svg
Labels: kind/feature, lgtm/done, theme/migration

#17889 Changelog for v1.15.7 (#17871)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#17890 Remove SizeFmt
  modules/templates/helper.go
  templates/admin/repo/list.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/sub_menu.tmpl
  templates/user/settings/repos.tmpl
Labels: lgtm/done, kind/refactor

#17283 Add hints for special Wiki pages
  options/locale/locale_en-US.ini
  routers/web/repo/wiki.go
  templates/repo/wiki/new.tmpl
Labels: kind/ui, lgtm/done

#17895 Add pprof information to seek-help documents
  docs/content/doc/help/seek-help.en-us.md
  docs/content/doc/help/seek-help.zh-cn.md
  docs/content/doc/help/seek-help.zh-tw.md
Labels: lgtm/done

#17897 Render issue references in file table
  templates/repo/view_list.tmpl
Labels: kind/ui, lgtm/done

#17845 tests: more integration tests for notifications
  integrations/api_notification_test.go
Labels: lgtm/done, kind/testing

#17894 Fix: no wiki page can be created if the repo didn't have any page yet
  routers/web/repo/wiki.go
Labels: kind/bug, lgtm/done, kind/regression, skip-changelog

#17904 Update JS dependencies, adjust eslint config
  .eslintrc
  build/generate-images.js
  build/generate-svg.js
  package-lock.json
  package.json
  web_src/js/features/common-issue.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/user-auth-u2f.js
Labels: lgtm/done, dependencies

#17903 Fix svg colors in file list table
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#17906 Fix i18n string: `have have` => `have`
  options/locale/locale_en-US.ini
Labels: lgtm/done, skip-changelog

#17907 Display issue/comment role even if repo archived
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: lgtm/done, kind/misc

#17852 Test cache during init
  modules/cache/cache.go
Labels: kind/enhancement, lgtm/done, skip-changelog

#17915 update xgo to use 1.17
  .drone.yml
Labels: lgtm/done, kind/build, skip-changelog

#17819 Fix loading content history on show more
  web_src/js/features/repo-diff.js
Labels: kind/bug, lgtm/done, skip-changelog

#17771 Replace "unix" by "http+unix" for PROTOCOL
  cmd/web.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/private/internal.go
  modules/setting/setting.go
Labels: lgtm/done, kind/refactor

#17913 Move repo archiver to models/repo
  models/repo.go
  models/repo/archiver.go
  models/repo/main_test.go
  models/repo_archiver.go
  routers/init.go
  routers/web/repo/repo.go
  services/cron/tasks_basic.go
  services/cron/tasks_extended.go
  services/repository/archive.go
  services/repository/archiver/archiver.go
  services/repository/archiver/archiver_test.go
Labels: lgtm/done, kind/refactor

#17920 Apply CSS Variables to all message elements
  web_src/less/_base.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/bug, kind/ui, lgtm/done, kind/refactor

#17908 Allow default branch to be inferred on compare page
  integrations/compare_test.go
  routers/web/repo/compare.go
Labels: kind/enhancement, lgtm/done

#17919 Refactor install page (db type)
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  docs/content/page/index.en-us.md
  docs/content/page/index.fr-fr.md
  docs/content/page/index.zh-cn.md
  docs/content/page/index.zh-tw.md
  models/engine_test.go
  modules/setting/database.go
  modules/setting/database_sqlite.go
  options/locale/locale_en-US.ini
  routers/install/install.go
  templates/admin/config.tmpl
  templates/install.tmpl
  web_src/js/features/install.js
  web_src/less/_install.less
Labels: lgtm/done, kind/refactor

#17932 Remove unnecessary `X-Remote` HTTP header in AJAX request
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-projects.js
Labels: lgtm/done, kind/refactor, skip-changelog

#17152 Support sorting for project board issuses
  models/issue.go
  models/migrations/migrations.go
  models/migrations/v203.go
  models/project_board.go
  models/project_issue.go
  routers/web/repo/projects.go
  routers/web/web.go
  web_src/js/features/repo-projects.js
Labels: kind/enhancement, lgtm/done

#17900 allways set a message-id on mails
  modules/setting/setting.go
  services/mailer/mailer.go
  services/mailer/mailer_test.go
Labels: kind/enhancement, lgtm/done

#17901 Improve checkBranchName
  modules/context/repo.go
  modules/git/repo_branch.go
  modules/git/repo_branch_gogit.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_branch_test.go
  routers/web/repo/branch.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  services/repository/adopt.go
  services/repository/branch.go
Labels: kind/bug, kind/enhancement, lgtm/done

#17936 Use disable_form_autofill on Codebase and Gitbucket
  templates/repo/migrate/codebase.tmpl
  templates/repo/migrate/gitbucket.tmpl
Labels: kind/bug, lgtm/done

#17928 Fix a panic in NotifyCreateIssueComment (caused by string truncation)
  models/repo_archiver.go
  modules/notification/action/action.go
  modules/util/truncate.go
  modules/util/truncate_test.go
Labels: kind/bug, lgtm/done

#17926 Clean legacy SimpleMDE code
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/editor.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/repo/release.go
  routers/web/repo/wiki.go
  templates/base/footer.tmpl
  templates/base/head.tmpl
  web_src/js/easymde.js
  web_src/js/features/comp/CommentEasyMDE.js
  web_src/js/features/comp/ImagePaste.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-release.js
  web_src/js/features/repo-wiki.js
Labels: lgtm/done, kind/refactor

#17941 Prevent services/mailer/mailer_test.go tests from deleteing data directory
  models/migrations/migrations_test.go
  models/unittest/testdb.go
  services/mailer/mailer_test.go
Labels: kind/bug, priority/critical, lgtm/done, kind/testing

#17947 Fix overflow in commit graph
  templates/repo/graph/commits.tmpl
  web_src/less/features/gitgraph.less
  web_src/less/helpers.less
Labels: kind/bug, kind/ui, lgtm/done

#17924 Fix markdown URL parsing
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
Labels: kind/bug, lgtm/done, theme/markdown

#17954 Prefer "Hiragino Kaku Gothic ProN" in system-ui-ja
  web_src/less/_font_i18n.less
Labels: kind/ui, lgtm/done

#17288 Improve behavior of "Fork" button
  models/repo.go
  modules/context/repo.go
  options/locale/locale_en-US.ini
  templates/repo/header.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#17970 Prevent deadlock in create issue
  models/issue.go
  models/repo/issue.go
  models/repo/repo.go
Labels: kind/bug, priority/critical, lgtm/done, backport/v1.15

#17973 Fixed issue merged/closed wording
  options/locale/locale_en-US.ini
Labels: kind/bug, lgtm/done, kind/translation

#17971 Return nicer error for ForcePrivate
  options/locale/locale_en-US.ini
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done

#16766 Add Option to synchronize Admin & Restricted states from OIDC/OAuth2 along with Setting Scopes
  cmd/admin.go
  docs/content/doc/usage/command-line.en-us.md
  models/user/external_login_user.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  routers/web/admin/auths.go
  routers/web/user/auth.go
  routers/web/user/auth_openid.go
  services/auth/source/oauth2/providers_custom.go
  services/auth/source/oauth2/providers_openid.go
  services/auth/source/oauth2/providers_simple.go
  services/auth/source/oauth2/source.go
  services/externalaccount/link.go
  services/externalaccount/user.go
  services/forms/auth_form.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/oauth.tmpl
Labels: kind/enhancement, lgtm/done, theme/authentication

#17984 Fix expired testing key
  integrations/private-testing.key
Labels: lgtm/done, kind/testing, skip-changelog, backport/v1.15

#17985 Use non-expiring key. (#17984)
  integrations/private-testing.key
Labels: lgtm/done, kind/testing

#17982 Prevent deadlock in create issue (#17970)
  models/repo_issue.go
Labels: kind/bug, lgtm/done

#17968 Add missing `X-Total-Count` and fix some related bugs
  models/commit_status.go
  models/issue.go
  models/issue_comment.go
  models/issue_reaction.go
  models/issue_watch.go
  modules/gitgraph/graph_models.go
  modules/indexer/code/indexer_test.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/stats/indexer_test.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/issue_reaction.go
  routers/api/v1/repo/issue_subscription.go
  routers/api/v1/repo/status.go
  routers/api/v1/repo/tree.go
  routers/api/v1/repo/wiki.go
  routers/api/v1/user/star.go
  routers/web/repo/commit.go
  routers/web/repo/pull.go
  routers/web/repo/view.go
  services/asymkey/ssh_key_test.go
  services/mailer/mailer_test.go
  services/pull/commit_status.go
  services/pull/pull.go
  services/webhook/main_test.go
Labels: lgtm/done, kind/api

#17979 Refactor HTTP request context
  modules/context/api.go
  modules/context/context.go
  modules/context/repo.go
  modules/templates/base.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/pull.go
  routers/api/v1/user/gpg_key.go
  routers/install/install.go
  routers/private/default_branch.go
  routers/private/hook_pre_receive.go
  routers/private/key.go
  routers/private/mail.go
  routers/private/manager.go
  routers/private/manager_unix.go
  routers/private/manager_windows.go
  routers/web/goget.go
  routers/web/repo/branch.go
  routers/web/repo/editor.go
  routers/web/repo/http.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/user/auth.go
  routers/web/user/home.go
  routers/web/user/oauth.go
  services/externalaccount/link.go
  templates/status/500.tmpl
Labels: lgtm/done, kind/refactor, skip-changelog

#17987 Shorten page title in file view
  routers/web/repo/view.go
Labels: kind/enhancement, kind/ui, lgtm/done

#16221 Fixed emoji alias not parsed in links
  modules/markup/html.go
  modules/markup/markdown/markdown_test.go
Labels: kind/bug, lgtm/done

#17951 Make AvatarRenderedSizeFactor configurable and set it to 3
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/avatars/avatar.go
  modules/repository/commits.go
  modules/repository/commits_test.go
  modules/setting/picture.go
  modules/templates/helper.go
Labels: lgtm/done, performance/speed

#17993 Fix TemplateRepo no longer in models.repo
  models/repo/repo.go
Labels: kind/bug, lgtm/done, skip-changelog

#17999 Set correct language for Dockerfile variants
  .gitattributes
Labels: lgtm/done, skip-changelog

#17494 Add Reindex buttons to repository settings page
  options/locale/locale_en-US.ini
  routers/web/repo/setting.go
  services/forms/repo_form.go
  templates/repo/settings/options.tmpl
Labels: kind/feature, lgtm/done

#17997 Prevent double decoding of % in url params
  integrations/gitea-repositories-meta/user2/utf8.git/objects/4c/61dd0a799e0830e77edfe6c74f7c349bc8e62a
  integrations/gitea-repositories-meta/user2/utf8.git/objects/50/4d9fe743979d4e9785a25a363c7007293f0838
  integrations/gitea-repositories-meta/user2/utf8.git/objects/59/e2c41e8f5140bb0182acebec17c8ad9831cc62
  integrations/gitea-repositories-meta/user2/utf8.git/objects/64/89894ad11093fdc49c0ed857d80682344a7264
  integrations/gitea-repositories-meta/user2/utf8.git/objects/84/7c6d93c6860dd377651245711b7fbcd34a18d4
  integrations/gitea-repositories-meta/user2/utf8.git/objects/9b/9cc8f558d1c4f815592496fa24308ba2a9c824
  integrations/gitea-repositories-meta/user2/utf8.git/objects/a4/f1bb3f2f8c6a0e840e935812ef4903ce515dad
  integrations/gitea-repositories-meta/user2/utf8.git/objects/c7/85b65bf16928b58567cb23669125c0ccd25a4f
  integrations/gitea-repositories-meta/user2/utf8.git/objects/e9/63733b8a355cf860c465b4af7b236a6ef08783
  integrations/gitea-repositories-meta/user2/utf8.git/refs/heads/Plus+Is+Not+Space
  integrations/nonascii_branches_test.go
  modules/context/context.go
Labels: kind/bug, lgtm/done, kind/breaking, backport/v1.15

#17991 Prevent hang in git cat-file if repository is not a valid repository and other fixes
  integrations/integration_test.go
  integrations/migration-test/migration_test.go
  models/action.go
  models/migrations/migrations_test.go
  models/org_team.go
  models/repo/repo.go
  models/unittest/testdb.go
  models/user/user.go
  modules/git/batch_reader.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_commit_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
  options/locale/locale_en-US.ini
  routers/web/repo/compare.go
  routers/web/web.go
  services/pull/pull.go
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#18001 Prevent double decoding of % in url params (#17997)
  integrations/gitea-repositories-meta/user2/utf8.git/objects/4c/61dd0a799e0830e77edfe6c74f7c349bc8e62a
  integrations/gitea-repositories-meta/user2/utf8.git/objects/50/4d9fe743979d4e9785a25a363c7007293f0838
  integrations/gitea-repositories-meta/user2/utf8.git/objects/59/e2c41e8f5140bb0182acebec17c8ad9831cc62
  integrations/gitea-repositories-meta/user2/utf8.git/objects/64/89894ad11093fdc49c0ed857d80682344a7264
  integrations/gitea-repositories-meta/user2/utf8.git/objects/84/7c6d93c6860dd377651245711b7fbcd34a18d4
  integrations/gitea-repositories-meta/user2/utf8.git/objects/9b/9cc8f558d1c4f815592496fa24308ba2a9c824
  integrations/gitea-repositories-meta/user2/utf8.git/objects/a4/f1bb3f2f8c6a0e840e935812ef4903ce515dad
  integrations/gitea-repositories-meta/user2/utf8.git/objects/c7/85b65bf16928b58567cb23669125c0ccd25a4f
  integrations/gitea-repositories-meta/user2/utf8.git/objects/e9/63733b8a355cf860c465b4af7b236a6ef08783
  integrations/gitea-repositories-meta/user2/utf8.git/refs/heads/Plus+Is+Not+Space
  integrations/nonascii_branches_test.go
  modules/context/context.go
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#18003 Use JSON module instead of stdlib json
  modules/updatechecker/update_checker.go
  routers/web/repo/projects.go
Labels: kind/bug, lgtm/done

#18005 Ensure complexity, minlength and ispwned are checked on password setting
  cmd/admin.go
  routers/api/v1/admin/user.go
  routers/web/user/auth.go
Labels: kind/bug, lgtm/done, backport/v1.15

#17992 Prevent hang in git cat-file if the repository is not a valid repository (Partial #17991)
  integrations/integration_test.go
  integrations/migration-test/migration_test.go
  models/migrations/migrations_test.go
  models/unit_tests.go
  modules/git/batch_reader.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_commit_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#18008 Fix rename notification bug
  modules/notification/action/action.go
  services/repository/transfer.go
Labels: kind/bug, lgtm/done, backport/v1.15

#18000 Fix outType on gitea dump
  cmd/dump.go
Labels: kind/bug, lgtm/done

#18015 Ensure complexity, minlength and ispwned are checked on password setting (#18005)
  cmd/admin.go
  routers/api/v1/admin/user.go
  routers/web/user/auth.go
Labels: kind/bug, lgtm/done

#17842 Add option to define refs in issue templates
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  modules/structs/issue.go
  routers/web/repo/issue.go
  templates/repo/issue/branch_selector_field.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#17975 Support open compare page directly
  routers/web/repo/compare.go
  routers/web/web.go
Labels: kind/enhancement, lgtm/done

#18011 Fix rename notification bug
  modules/notification/action/action.go
  services/repository/transfer.go
Labels: kind/bug, lgtm/done

#18016 backport: fix outType on gitea dump
  cmd/dump.go
Labels: kind/bug, lgtm/done

#17898 Change `<a>` elements to underline on hover
  templates/shared/issuelist.tmpl
  web_src/fomantic/_site/globals/site.variables
  web_src/fomantic/build/semantic.css
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/helpers.less
Labels: kind/ui, lgtm/done

#18022 Fix reset password email template (#17025)
  templates/mail/auth/reset_passwd.tmpl
Labels: kind/bug, lgtm/done

#18004 Improve TestPatch to use git read-tree -m and implement git-merge-one-file functionality
  modules/git/repo_compare.go
  services/pull/patch.go
  services/pull/patch_unmerged.go
Labels: kind/bug, kind/enhancement, lgtm/done

#18023 Reset locale on login
  routers/web/user/auth.go
Labels: kind/bug, lgtm/done

#18025 Reset locale on login (#18023)
  routers/web/user/auth.go
Labels: kind/bug, lgtm/done

#18030 Stop printing 03d after escaped characters in logs
  modules/log/colors.go
Labels: kind/bug, lgtm/done, backport/v1.15

#18034 Stop printing 03d after escaped characters in logs (#18030)
  modules/log/colors.go
Labels: kind/bug, lgtm/done

#18031 no need for docker image mirror
  .drone.yml
Labels: lgtm/done, kind/build, skip-changelog

#18032 Abort merge if head has been updated before pressing merge
  integrations/pull_merge_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/forms/repo_form.go
  services/pull/merge.go
  services/pull/update.go
  templates/repo/issue/view_content/pull.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#18029 Prevent off-by-one error on comments on newly appended lines
  modules/git/diff.go
  modules/git/diff_test.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#18033 Update chroma to v0.9.4
  go.mod
  go.sum
  vendor/github.com/alecthomas/chroma/.goreleaser.yml
  vendor/github.com/alecthomas/chroma/README.md
  vendor/github.com/alecthomas/chroma/go.mod
  vendor/github.com/alecthomas/chroma/go.sum
  vendor/github.com/alecthomas/chroma/lexers/a/al.go
  vendor/github.com/alecthomas/chroma/lexers/a/apl.go
  vendor/github.com/alecthomas/chroma/lexers/a/armasm.go
  vendor/github.com/alecthomas/chroma/lexers/b/bashsession.go
  vendor/github.com/alecthomas/chroma/lexers/circular/php.go
  vendor/github.com/alecthomas/chroma/lexers/f/fennel.go
  vendor/github.com/alecthomas/chroma/lexers/f/fish.go
  vendor/github.com/alecthomas/chroma/lexers/g/go.go
  vendor/github.com/alecthomas/chroma/lexers/h/haskell.go
  vendor/github.com/alecthomas/chroma/lexers/internal/api.go
  vendor/github.com/alecthomas/chroma/lexers/j/javascript.go
  vendor/github.com/alecthomas/chroma/lexers/j/json.go
  vendor/github.com/alecthomas/chroma/lexers/j/jsx.go
  vendor/github.com/alecthomas/chroma/lexers/k/kotlin.go
  vendor/github.com/alecthomas/chroma/lexers/m/meson.go
  vendor/github.com/alecthomas/chroma/lexers/o/onesenterprise.go
  vendor/github.com/alecthomas/chroma/lexers/p/python.go
  vendor/github.com/alecthomas/chroma/lexers/r/raku.go
  vendor/github.com/alecthomas/chroma/lexers/r/rust.go
  vendor/github.com/alecthomas/chroma/lexers/s/scala.go
  vendor/github.com/alecthomas/chroma/lexers/s/sieve.go
  vendor/github.com/alecthomas/chroma/lexers/s/sparql.go
  vendor/github.com/alecthomas/chroma/lexers/v/vue.go
  vendor/github.com/alecthomas/chroma/regexp.go
  vendor/github.com/alecthomas/chroma/styles/onesenterprise.go
  vendor/github.com/danwakefield/fnmatch/.gitignore
  vendor/github.com/danwakefield/fnmatch/LICENSE
  vendor/github.com/danwakefield/fnmatch/README.md
  vendor/github.com/danwakefield/fnmatch/fnmatch.go
  vendor/modules.txt
Labels: lgtm/done, dependencies

#18006 Refactor: simplify paramater types
  cmd/dump.go
  integrations/api_repo_tags_test.go
  integrations/git_test.go
  integrations/issue_test.go
  models/issue_milestone.go
  models/issues/content_history.go
  models/user.go
  models/user/setting.go
  modules/avatar/identicon/block.go
  modules/avatar/identicon/polygon.go
  modules/base/tool.go
  modules/charset/charset_test.go
  modules/context/pagination.go
  modules/context/repo.go
  modules/eventsource/event.go
  modules/git/repo.go
  modules/git/repo_commit.go
  modules/git/repo_compare.go
  modules/git/repo_tree.go
  modules/git/utils.go
  modules/gitgraph/graph.go
  modules/hostmatcher/hostmatcher.go
  modules/hostmatcher/http.go
  modules/log/multichannel.go
  modules/log/writer.go
  modules/markup/markdown/goldmark.go
  modules/notification/action/action.go
  modules/notification/base/null.go
  modules/notification/indexer/indexer.go
  modules/notification/notification.go
  modules/notification/webhook/webhook.go
  modules/references/references.go
  modules/secret/secret.go
  modules/setting/log.go
  modules/setting/setting.go
  modules/ssh/ssh.go
  modules/templates/helper.go
  modules/upload/upload.go
  modules/util/compare.go
  modules/util/path.go
  modules/web/middleware/cookie.go
  modules/web/route.go
  routers/api/v1/notify/repo.go
  routers/web/repo/compare.go
  routers/web/repo/editor.go
  routers/web/repo/issue.go
  routers/web/user/auth.go
  routers/web/user/oauth.go
  services/attachment/attachment.go
  services/gitdiff/csv.go
  services/issue/assignee.go
  services/migrations/dump.go
  services/migrations/restore.go
  services/pull/review.go
  services/repository/files/temp_repo.go
  services/repository/files/update.go
  services/webhook/general.go
  services/webhook/matrix.go
  services/webhook/slack.go
Labels: lgtm/done, kind/refactor, skip-changelog

#17758 Add gitea-mixin
  contrib/gitea-monitoring-mixin/.gitignore
  contrib/gitea-monitoring-mixin/Makefile
  contrib/gitea-monitoring-mixin/README.md
  contrib/gitea-monitoring-mixin/config.libsonnet
  contrib/gitea-monitoring-mixin/dashboards/dashboards.libsonnet
  contrib/gitea-monitoring-mixin/dashboards/overview.libsonnet
  contrib/gitea-monitoring-mixin/jsonnetfile.json
  contrib/gitea-monitoring-mixin/jsonnetfile.lock.json
  contrib/gitea-monitoring-mixin/lib/alerts.jsonnet
  contrib/gitea-monitoring-mixin/lib/dashboards.jsonnet
  contrib/gitea-monitoring-mixin/lib/rules.jsonnet
  contrib/gitea-monitoring-mixin/mixin.libsonnet
Labels: lgtm/done

#18026 Changelog 1.15.8
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done

#18018 Reset Session ID on login
  go.mod
  go.sum
  modules/session/store.go
  routers/web/user/auth.go
  routers/web/user/auth_openid.go
  services/auth/auth.go
  services/auth/source/oauth2/store.go
  vendor/gitea.com/go-chi/session/session.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done, backport/v1.15

#18040 Fix delete u2f keys pop up modal bug
  templates/user/settings/security_u2f.tmpl
Labels: kind/bug, lgtm/done, backport/v1.15

#18035 Prevent off-by-one error on comments on newly appended lines (#18029)
  modules/git/diff.go
  modules/git/diff_test.go
Labels: kind/bug, lgtm/done

#18045 Move POST /{username}/action/{action} to simply POST /{username}
  routers/web/user/profile.go
  routers/web/web.go
  templates/user/profile.tmpl
Labels: kind/bug, lgtm/done, backport/v1.15

#18044 Migration 204 use Sync2
  models/asymkey/ssh_key_verify.go
  models/migrations/v204.go
Labels: kind/bug, lgtm/done, skip-changelog

#18041 Reset Session ID on login (#18018)
  go.mod
  go.sum
  modules/session/store.go
  routers/web/user/auth.go
  routers/web/user/auth_openid.go
  services/auth/auth.go
  vendor/gitea.com/go-chi/session/README.md
  vendor/gitea.com/go-chi/session/go.mod
  vendor/gitea.com/go-chi/session/go.sum
  vendor/gitea.com/go-chi/session/session.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#17960 Extract CodeMirror styles
  web_src/less/_base.less
  web_src/less/_editor.less
  web_src/less/_repository.less
  web_src/less/codemirror/base.less
  web_src/less/codemirror/dark.less
  web_src/less/codemirror/light.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
Labels: lgtm/done, kind/refactor

#18046 Move POST /{username}/action/{action} to simply POST /{username} (#18045)
  routers/web/user/profile.go
  routers/web/web.go
  templates/user/profile.tmpl
Labels: kind/bug, lgtm/done

#18042 Fix delete u2f keys bug (#18040)
  templates/user/settings/security_u2f.tmpl
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#18038 Make test work with different default branch config
  integrations/git_helper_for_declarative_test.go
Labels: lgtm/done, kind/testing, skip-changelog

#18049 Ensure that git repository is closed before transfer
  routers/api/v1/repo/transfer.go
  routers/web/repo/repo.go
Labels: kind/bug, lgtm/done, backport/v1.15

#18043 TestRepository_GetTag intermittently panics due to an NPE
  modules/git/repo_tag_test.go
Labels: lgtm/done, kind/testing, skip-changelog

#18048 update docker image to latest go version
  Dockerfile
  Dockerfile.rootless
Labels: lgtm/done, kind/build, skip-changelog

#18027 Fix continuance tests
  integrations/api_repo_lfs_test.go
  integrations/mirror_push_test.go
  integrations/repo_tag_test.go
Labels: lgtm/done, kind/testing

#18047 Update Changelog
  CHANGELOG.md
  Dockerfile
  Dockerfile.rootless
Labels: kind/docs, lgtm/done

#18053 Fix code search result hint on zh-CN
  options/locale/locale_zh-CN.ini
Labels: lgtm/done, kind/translation

#18052 [Frontport] Changelog v1.15.8
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#18059 Avoid running go vet twice
  Makefile
Labels: lgtm/done

#18057 Ensure that git repository is closed before transfer (#18049)
  routers/api/v1/repo/transfer.go
  routers/web/repo/repo.go
Labels: kind/bug, lgtm/done

#17804 Add List-Unsubscribe header
  services/mailer/mail.go
  services/mailer/mail_test.go
Labels: kind/enhancement, lgtm/done

#17652 Add API to get file commit history
  integrations/api_repo_git_commits_test.go
  routers/api/v1/repo/commits.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, kind/api

#18062 Add NotFound handler
  integrations/links_test.go
  integrations/signout_test.go
  routers/web/web.go
Labels: kind/bug, lgtm/done, backport/v1.15

#18067 Add NotFound handler (#18062)
  integrations/links_test.go
  integrations/signout_test.go
  routers/web/web.go
Labels: kind/bug, lgtm/done

#18068 Only create pprof files for gitea serv if explicitly asked for
  cmd/serv.go
Labels: kind/bug, kind/enhancement, lgtm/done, kind/breaking

#18073 Quote references to the user table in consistency checks (#18072)
  modules/doctor/dbconsistency.go
Labels: kind/bug, lgtm/done

#18072 Quote references to the user table in consistency checks
  modules/doctor/dbconsistency.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#17191 Migrated Repository will show modifications when possible
  modules/git/repo_compare.go
  modules/git/repo_compare_test.go
  modules/git/tests/repos/repo1_bare/pulls/1.patch
  modules/git/tests/repos/repo1_bare/pulls/2.patch
  routers/web/repo/pull.go
Labels: kind/feature, lgtm/done, theme/migration

#18079 Do not read or write git reference files directly
  modules/git/repo_commit_gogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_compare.go
  modules/git/repo_compare_test.go
  routers/web/repo/pull.go
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.15

#18080 Prevent NPE if gitea uploader fails to open url
  modules/uri/uri.go
Labels: kind/bug, lgtm/done, backport/v1.15

#18083 Fix various typos of software names
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/content/doc/advanced/adding-legal-pages.en-us.md
  docs/content/doc/advanced/clone-filter.en-us.md
  docs/content/doc/advanced/cmd-embedded.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
  docs/content/doc/advanced/protected-tags.en-us.md
  docs/content/doc/advanced/signing.en-us.md
  docs/content/doc/developers/api-usage.en-us.md
  docs/content/doc/developers/guidelines-backend.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  docs/content/doc/developers/migrations.en-us.md
  docs/content/doc/features/authentication.en-us.md
  docs/content/doc/features/webhooks.en-us.md
  docs/content/doc/help/faq.en-us.md
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/installation/run-as-service-in-ubuntu.en-us.md
  docs/content/doc/installation/windows-service.en-us.md
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/usage/backup-and-restore.en-us.md
  docs/content/doc/usage/command-line.en-us.md
  docs/content/page/index.en-us.md
  integrations/README.md
  options/locale/locale_en-US.ini
Labels: kind/docs, lgtm/done

#17963 Add API to manage repo tranfers
  integrations/api_repo_test.go
  modules/convert/repository.go
  modules/structs/repo.go
  routers/api/v1/api.go
  routers/api/v1/repo/transfer.go
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, kind/api

#17911 Improve interface when comparing a branch which has created a pull request
  options/locale/locale_en-US.ini
  routers/web/repo/compare.go
  templates/repo/diff/compare.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#18091 When attempting to subscribe other user to issue report why access denied
  routers/api/v1/repo/issue_subscription.go
Labels: kind/bug, lgtm/done

#18066 Fork API accepts custom repository name
  modules/structs/fork.go
  routers/api/v1/repo/fork.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api

#18088 When the git repository on storage is changed, the repository modal should also be updated
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done

#18086 Instead of using routerCtx just escape the url before routing
  integrations/links_test.go
  modules/context/context.go
  routers/common/middleware.go
  routers/web/web.go
Labels: lgtm/done

#18092 Fix a navbar UI bug in Safari
  web_src/less/_base.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#18102 Add issue hyperlinks in the webhook of wechatwork
  services/webhook/wechatwork.go
Labels: kind/enhancement, lgtm/done

#18100 Reset locale on login (#17734)
  modules/context/api.go
  modules/context/context.go
  routers/web/user/auth.go
Labels: kind/bug, lgtm/done

#18099 Correctly handle failed migrations (#17575)
  modules/task/migrate.go
  modules/task/task.go
  options/locale/locale_en-US.ini
  routers/web/repo/view.go
  routers/web/user/task.go
  templates/repo/migrate/migrating.tmpl
Labels: kind/bug, lgtm/done

#17945 doc: clarify INSTALL_LOCK behavior
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#18101 Prevent NPE if gitea uploader fails to open url (#18080)
  modules/uri/uri.go
Labels: kind/bug, lgtm/done

#18098 Instead of using routerCtx just escape the url before routing (#18086)
  integrations/links_test.go
  modules/context/context.go
  routers/common/middleware.go
  routers/web/web.go
Labels: kind/bug, lgtm/done

#18093 Role issue
  .revive.toml
  models/issue_comment.go
Labels: lgtm/done, kind/refactor

#18107 Revert "Fix delete u2f keys bug (#18042)"
  templates/user/settings/security_u2f.tmpl
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#18109 Fix documents for Windows development
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#18104 Migrating wiki don't require token, so we should move it out of the require form (#17645)
  templates/repo/migrate/gitea.tmpl
  templates/repo/migrate/github.tmpl
  templates/repo/migrate/gitlab.tmpl
  templates/repo/migrate/gogs.tmpl
  web_src/less/_form.less
Labels: kind/bug, lgtm/done

#18111 Handle invalid issues
  integrations/api_releases_test.go
  integrations/repo_branch_test.go
  modules/context/api.go
  options/locale/locale_en-US.ini
  templates/base/head.tmpl
  web_src/js/components/ContextPopup.vue
Labels: kind/enhancement, lgtm/done

#18114 Use common sessioner for API and web routes
  routers/api/v1/api.go
  routers/init.go
  routers/web/web.go
Labels: kind/bug, lgtm/done

#18094 Fix: unstable sort skips/duplicates issues across pages
  models/issue.go
Labels: kind/bug, lgtm/done

#18116 Set HeadCommit when creating tags
  services/release/release.go
  services/repository/push.go
Labels: kind/enhancement, lgtm/done

#18095 Fix: unstable sort skips/duplicates issues across pages
  models/issue.go
Labels: lgtm/done

#16839 Use conditions but not repo ids as query condition
  models/issue.go
  models/issue_list.go
  models/issue_test.go
  models/repo/repo.go
  models/repo/repo_list.go
  models/repo_list.go
  models/repo_permission.go
  models/user.go
  models/user_test.go
  routers/web/user/home.go
  templates/user/dashboard/issues.tmpl
Labels: lgtm/done, kind/refactor, performance/speed

#18127 Remove `/email2user` endpoint
  routers/web/user/home.go
  routers/web/web.go
Labels: lgtm/done, kind/refactor

#18129 Remove unused method `CreateProjectPost`
  routers/web/repo/projects.go
Labels: lgtm/done, kind/refactor, skip-changelog

#18120 docs: add various ways to install from package
  docs/content/doc/installation/from-package.zh-cn.md
Labels: kind/docs, lgtm/done

#18115 Changelog v1.15.9
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#18125 Fix performance regression when user has many organization
  models/repo.go
Labels: lgtm/done, performance/speed, skip-changelog

#18128 Fix wrong redirect on org labels
  routers/web/org/org_labels.go
Labels: kind/bug, lgtm/done

#18133 Doc: add missing bug fix to changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#18134 Fix wrong redirect on org labels (#18128)
  CHANGELOG.md
  routers/web/org/org_labels.go
Labels: kind/bug, lgtm/done

#18136 [Frontport] Changelog v1.15.9
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#18135 Use correct translation key
  routers/web/repo/migrate.go
  routers/web/repo/repo.go
  routers/web/repo/setting.go
Labels: lgtm/done, kind/translation

#18139 Reset the conflicted files list in testpatch
  services/pull/patch.go
Labels: kind/bug, lgtm/done, skip-changelog

#18140 Improve document for developers: Windows CGO, unit test option
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done
