Repository go-gitea/gitea, pull requests merged in 2021-02, with the labels that each got.

#14534 [refactor] gogs client remove gomod redirect
  go.mod
  go.sum
  vendor/modules.txt
Labels: kind/refactor, lgtm/done, skip-changelog

#13630 [API] List, Check, Add & delete endpoints for repository teams
  integrations/api_repo_teams_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/teams.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#14535 Changelog v1.13.2
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#14543 Changelog v1.13.2 (#14535)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#14541 Adding Chi's GetHead middleware
  routers/routes/web.go
Labels: kind/bug, lgtm/done, skip-changelog

#14550 update docs to show latest stable version (1.13.2)
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#14555 [Docs] Clone filters
  docs/content/doc/advanced/clone-filter.en-us.md
Labels: kind/docs, lgtm/done

#14554 Update installation with-docker zh-cn translation doc
  docs/content/doc/installation/with-docker.zh-cn.md
Labels: kind/docs, lgtm/done

#14524 [API] Add pagination to ListBranches
  integrations/branches_test.go
  modules/context/repo.go
  modules/git/repo_branch.go
  modules/git/repo_branch_gogit.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_branch_test.go
  modules/git/repo_tag_nogogit.go
  modules/repository/branch.go
  modules/repository/init.go
  modules/util/paginate.go
  modules/util/paginate_test.go
  routers/api/v1/org/org.go
  routers/api/v1/repo/branch.go
  routers/api/v1/utils/utils.go
  routers/repo/branch.go
  routers/repo/compare.go
  routers/repo/issue.go
  services/mirror/mirror.go
  services/pull/pull.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#14549 Reduce data races
  modules/git/blob_nogogit.go
  modules/process/manager.go
  modules/process/manager_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#14397 [API] GetRelease by tag only return release
  integrations/api_releases_test.go
  routers/api/v1/repo/release_tags.go
Labels: kind/api, kind/breaking, kind/bug, lgtm/done

#14561 Fix gpg key deletion
  models/gpg_key.go
  models/user.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14556 Fix bug about ListOptions and stars/watchers pagnation
  models/commit_status_test.go
  models/list_options.go
  routers/repo/view.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14570 Fix typo in generate-emoji.go
  build/generate-emoji.go
Labels: lgtm/done

#14569 Fix GPG key deletion during account deletion (#14561)
  models/gpg_key.go
  models/user.go
Labels: kind/bug, lgtm/done

#14568 Fix lfs file viewer
  routers/repo/view.go
Labels: kind/bug, lgtm/done, skip-changelog

#14548 Honor REGISTER_MANUAL_CONFIRM when doing openid registration
  routers/user/auth_openid.go
Labels: lgtm/done, skip-changelog

#14542 Add Content-Length header to HEAD requests
  routers/repo/attachment.go
  routers/repo/download.go
Labels: kind/enhancement, lgtm/done

#14573 Fix bug about ListOptions and stars/watchers pagnation (#14556)
  models/commit_status_test.go
  models/list_options.go
  routers/repo/view.go
Labels: kind/bug, lgtm/done

#14582 Fix locale init
  modules/translation/translation.go
Labels: kind/bug, lgtm/done, skip-changelog

#14579 [API] Add affected files of commits to commit struct
  integrations/api_repo_git_commits_test.go
  modules/convert/git_commit.go
  modules/structs/repo_commit.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#14564 Fix rate limit bug when downloading assets on migrating from github
  modules/migrations/github.go
Labels: backport/v1.13, kind/bug, kind/migration, lgtm/done

#14563 [API] Add delete release by tag & fix unreleased inconsistency
  integrations/api_releases_test.go
  integrations/api_repo_git_tags_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/release_tags.go
  routers/api/v1/repo/tag.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/feature, lgtm/done

#14599 Remove spurious DataAsync Error logging
  modules/git/blob_nogogit.go
Labels: kind/bug, lgtm/done, skip-changelog

#14606 Exclude the current dump file from the dump
  cmd/dump.go
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/bug, lgtm/done

#14607 Accept multiple SSH keys in single LDAP SSHPublicKey attribute (#13989)
  integrations/auth_ldap_test.go
  models/user.go
  models/user_test.go
Labels: kind/bug, lgtm/done

#14594 Add information on how to build statically
  docs/content/doc/installation/from-source.en-us.md
Labels: kind/docs, lgtm/done

#14604 Use OldRef instead of CommitSHA for DeleteBranch comments
  models/issue.go
  models/migrations/migrations.go
  models/migrations/v169.go
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, lgtm/done

#14611 Fixed irritating error message related to go version
  Makefile
Labels: kind/docs, lgtm/done

#14602 Add support for ref parameter to get raw file API
  routers/api/v1/repo/file.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#14615 Truncated organizations name
  templates/repo/create.tmpl
  templates/repo/migrate/git.tmpl
  templates/repo/migrate/gitea.tmpl
  templates/repo/migrate/github.tmpl
  templates/repo/migrate/gitlab.tmpl
  templates/repo/migrate/gogs.tmpl
  templates/repo/pulls/fork.tmpl
  templates/user/dashboard/navbar.tmpl
  templates/user/project.tmpl
  web_src/less/_base.less
  web_src/less/_form.less
Labels: kind/bug, kind/ui, lgtm/done

#14592 Ensure memcache TTL cannot be over 30 days
  modules/cache/cache.go
  modules/git/last_commit_cache.go
  modules/git/last_commit_cache_gogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/repository/cache.go
  modules/setting/cache.go
  routers/repo/view.go
Labels: kind/bug, kind/upstream-related, lgtm/done

#14623 Prevent adding nil label to .AddedLabels or .RemovedLabels
  models/consistency.go
  modules/doctor/dbconsistency.go
  modules/templates/helper.go
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#14609 Improve the comment on comment type
  models/issue_comment.go
Labels: kind/docs, lgtm/done

#14598 HasPreviousCommit causes recursive load of commits unnecessarily
  modules/git/commit.go
  modules/git/commit_test.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14624 Do not assume all 40 char strings are SHA1s
  modules/git/repo_commit.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14593 Allow org labels to be set with issue templates
  routers/repo/issue.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14634 Sort / move project boards
  models/project_board.go
  modules/forms/repo_form.go
  routers/repo/projects.go
  routers/routes/web.go
  templates/repo/projects/view.tmpl
  web_src/js/features/projects.js
Labels: kind/enhancement, kind/ui, lgtm/done

#12674 Add dismiss review feature
  integrations/api_pull_review_test.go
  models/action.go
  models/branches.go
  models/fixtures/review.yml
  models/issue_comment.go
  models/issue_list.go
  models/migrations/migrations.go
  models/migrations/v170.go
  models/pull.go
  models/review.go
  models/review_test.go
  modules/convert/pull_review.go
  modules/forms/repo_form.go
  modules/notification/action/action.go
  modules/notification/base/notifier.go
  modules/notification/base/null.go
  modules/notification/mail/mail.go
  modules/notification/notification.go
  modules/notification/ui/ui.go
  modules/structs/pull_review.go
  modules/templates/helper.go
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/pull_review.go
  routers/api/v1/swagger/options.go
  routers/repo/issue.go
  routers/repo/pull_review.go
  routers/routes/web.go
  services/mailer/mail.go
  services/pull/review.go
  templates/mail/issue/default.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/dashboard/feeds.tmpl
  web_src/js/index.js
Labels: kind/feature, lgtm/done

#13176 Added option to disable webhooks
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
  modules/templates/helper.go
  routers/api/v1/api.go
  routers/routes/web.go
  services/webhook/deliver.go
  services/webhook/webhook.go
  templates/admin/navbar.tmpl
  templates/org/settings/navbar.tmpl
  templates/repo/settings/nav.tmpl
  templates/repo/settings/navbar.tmpl
Labels: kind/enhancement, lgtm/done

#14616 Make fileheader sticky in diffs
  templates/repo/diff/box.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/_review.less
Labels: kind/ui, lgtm/done

#14637 Fix PATCH /repos/{owner}/{repo} panic
  routers/api/v1/repo/repo.go
Labels: kind/api, kind/bug, lgtm/done

#14655 Fix truncated organization names
  templates/repo/create.tmpl
  templates/repo/migrate/git.tmpl
  templates/repo/migrate/gitea.tmpl
  templates/repo/migrate/github.tmpl
  templates/repo/migrate/gitlab.tmpl
  templates/repo/migrate/gogs.tmpl
  templates/repo/pulls/fork.tmpl
  templates/user/dashboard/navbar.tmpl
  templates/user/project.tmpl
  web_src/less/_base.less
  web_src/less/_dashboard.less
  web_src/less/_form.less
Labels: kind/ui, lgtm/done

#14652 Add v171 (addSortingColToProjectBoard) migration for #14634
  models/migrations/migrations.go
  models/migrations/v171.go
  models/project_board.go
Labels: lgtm/done, skip-changelog

#14654 Show Gitea version in swagger
  routers/api/v1/api.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/docs, lgtm/done

#14650 Whitespace in commits
  routers/repo/commit.go
  routers/repo/compare.go
  routers/repo/pull.go
  routers/routes/web.go
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
Labels: kind/enhancement, lgtm/done

#14665 rm gogs relic
  modules/structs/issue.go
Labels: kind/refactor, lgtm/done, skip-changelog

#14673 Turn default hash password algorightm back to pbkdf2 from argon2 until we found a better one
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
Labels: backport/v1.13, kind/breaking, lgtm/done

#14648 Do not assume all 40 char strings are SHA1s (#14624)
  modules/git/repo_commit.go
Labels: kind/bug, lgtm/done

#14647 Allow org labels to be set with issue templates (#14593)
  routers/repo/issue.go
Labels: kind/bug, lgtm/done

#14651 Prevent race in PersistableChannelUniqueQueue.Has
  modules/queue/unique_queue_disk_channel.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14646 Prevent template renderer from rendering error
  modules/templates/base.go
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog

#14675 Turn default hash password algorightm back to pbkdf2 from argon2 until we found a better one (#14673)
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
Labels: kind/breaking, lgtm/done

#14676 Prevent race in PersistableChannelUniqueQueue.Has (#14651)
  modules/queue/unique_queue_disk_channel.go
Labels: kind/bug, lgtm/done

#14678 Fix broken spans in diffs
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14638 Fix svg spacing
  templates/user/profile.tmpl
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#14649 HasPreviousCommit causes recursive load of commits unnecessarily (#14598)
  modules/git/commit.go
Labels: kind/bug, lgtm/done, performance/memory, performance/speed

#14683 Fix broken spans in diffs (#14678)
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done

#14667 Allow blocking some email domains from registering an account
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/help/faq.en-us.md
  modules/forms/user_form.go
  modules/forms/user_form_test.go
  modules/setting/service.go
  routers/user/auth.go
Labels: kind/feature, lgtm/done

#13031 Create DB session provider(based on xorm)
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/migrations/migrations.go
  models/migrations/v172.go
  models/models.go
  models/session.go
  modules/session/db.go
  modules/session/virtual.go
  modules/setting/session.go
Labels: kind/feature, lgtm/done

#14694 Add fullTextSearch to dropdowns by default
  web_src/js/features/gitgraph.js
  web_src/js/index.js
Labels: kind/ui, lgtm/done

#14586 Restore detection of branches are equal on compare page
  modules/git/repo_compare.go
  routers/repo/compare.go
Labels: kind/bug, kind/regression, lgtm/done

#14701 Add Password Algorithm option to install page
  models/user.go
  modules/forms/user_form.go
  options/locale/locale_en-US.ini
  routers/install.go
  templates/install.tmpl
Labels: kind/deployment, lgtm/done

#14685 Use cat-file --batch in GetLanguageStats
  modules/git/repo_language_stats_nogogit.go
Labels: lgtm/done, performance/bigrepo, performance/speed

#14682 Reduce calls to git cat-file -s
  modules/git/parse_gogit.go
  modules/git/parse_gogit_test.go
  modules/git/parse_nogogit.go
  modules/git/parse_nogogit_test.go
  modules/git/tree_entry_nogogit.go
  modules/git/tree_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
  modules/indexer/code/git.go
Labels: lgtm/done, performance/bigrepo, performance/speed

#14703 Fix github download on migration
  modules/migrations/github.go
Labels: backport/v1.13, kind/bug, kind/migration, lgtm/done

#14587 Remove NULs byte arrays passed to PostProcess
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#14716 Make branch names in PR description clickable
  models/pull.go
  routers/repo/pull.go
  templates/repo/issue/view_title.tmpl
Labels: kind/ui, lgtm/done

#14720 remove outdated notice in makefile
  Makefile
Labels: kind/docs, lgtm/done, skip-changelog

#14630 [API] Add Restricted Field to User
  integrations/api_admin_test.go
  modules/convert/user.go
  modules/structs/admin_user.go
  modules/structs/user.go
  routers/api/v1/admin/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#14098 Issue template addition: Are you using Gitea behind CloudFlare?
  .github/issue_template.md
Labels: kind/docs, lgtm/done

#14729 routers/routes/web: Fix typo in comment
  routers/routes/web.go
Labels: kind/docs, lgtm/done

#14731 models/repo: Fix typo in comment
  models/repo.go
Labels: kind/docs, lgtm/done, skip-changelog

#14732 Fix when a commit not found returned 500
  modules/git/repo_commit_nogogit.go
Labels: kind/bug, lgtm/done, skip-changelog

#14737 Fix misleading word on delete repositories' archives
  options/locale/locale_en-US.ini
Labels: kind/translation, lgtm/done

#14588 Move the stopwatches to the eventsource stream
  routers/events/events.go
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/stopwatch.js
Labels: kind/enhancement, lgtm/done

#14100 Add UI to delete tracked times
  models/issue_comment.go
  models/issue_stopwatch.go
  models/issue_tracked_time.go
  models/migrations/migrations.go
  models/migrations/v173.go
  options/locale/locale_en-US.ini
  routers/repo/issue.go
  routers/repo/issue_timetrack.go
  routers/routes/web.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/comments_delete_time.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#14747 Update golangci-lint v1.35.2 -> v1.37.0
  Makefile
Labels: kind/build, lgtm/done

#14746 [docs] Fix typo in command-line.en-us.md
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/docs, lgtm/done

#14742 fix preview status switch button on wiki editor
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#12999 Clarify the suffices and prefixes of setting.AppSubURL and setting.AppURL
  models/action_test.go
  models/notification.go
  models/repo.go
  models/user_avatar.go
  modules/markup/html.go
  modules/setting/setting.go
  routers/admin/admin.go
  routers/api/v1/org/member.go
  routers/repo/search.go
  routers/user/notification.go
  routers/utils/utils_test.go
Labels: kind/refactor, lgtm/done

#14750 stopwatch notif: check if timetracking is enabled
  modules/templates/helper.go
  templates/base/head.tmpl
  web_src/js/features/stopwatch.js
Labels: kind/bug, lgtm/done, skip-changelog

#14752 Prevent endless loop if templates missing
  modules/context/context.go
Labels: kind/bug, kind/regression, lgtm/done

#14753 [API] Export LFS & TimeTracking function status
  integrations/api_settings_test.go
  modules/structs/settings.go
  routers/api/v1/settings/settings.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/enhancement, lgtm/done

#14741 Remove unused commit
  models/migrations/v166.go
Labels: kind/bug, lgtm/done, skip-changelog

#13935 Heatmap days clickable
  models/action.go
  routers/user/home.go
  routers/user/profile.go
  web_src/js/components/ActivityHeatmap.vue
Labels: kind/enhancement, kind/ui, lgtm/done

#14591 Add helper descriptions on new repo page
  options/locale/locale_en-US.ini
  templates/repo/create.tmpl
Labels: kind/ui, lgtm/done

#14758 Fix go get
  modules/context/context.go
  routers/routes/web.go
Labels: kind/bug, lgtm/done, skip-changelog

#14761 SVG Spacing restricted to direct descendants of `items`
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#14763 fix link account ui
  templates/user/auth/link_account.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#14764 fix double alert in oauth2 application edit view
  templates/user/settings/applications_oauth2_edit.tmpl
Labels: backport/v1.13, kind/bug, kind/ui, lgtm/done, skip-changelog

#14759 Fix repo-restore bug with poster not replaced
  modules/migrations/dump.go
  modules/migrations/restore.go
Labels: backport/v1.13, kind/bug, lgtm/done, skip-changelog

#14184 Make release-linux architectures via environments.
  Makefile
Labels: kind/build, lgtm/done

#14771 build for only available darwin target
  Makefile
Labels: kind/bug, lgtm/done, skip-changelog

#14769 fix a small nit
  services/webhook/webhook.go
Labels: lgtm/done, skip-changelog

#14744 Add easyMDE(simpleMDE) support for release content editor
  routers/repo/release.go
  templates/repo/release/new.tmpl
  web_src/js/index.js
Labels: kind/enhancement, kind/ui, lgtm/done

#14774 CI: translation update as cron task
  .drone.yml
Labels: kind/build, lgtm/done

#14768 Fix double alert in oauth2 application edit view (#14764)
  templates/user/settings/applications_oauth2_edit.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#14778 exclude running docker build on cron tasks
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#14762 Add environment-to-ini to docker image
  Dockerfile
  Dockerfile.rootless
  contrib/environment-to-ini/README
  contrib/environment-to-ini/environment-to-ini.go
  docker/root/etc/s6/gitea/setup
  docker/rootless/usr/local/bin/docker-setup.sh
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/enhancement, kind/package, lgtm/done

#13901 [Docs] generate man pages
  .gitignore
  Makefile
Labels: kind/docs, lgtm/done

#14795 Use gogs.ico to create a better svg for migration page
  public/img/svg/gitea-gogs.svg
  web_src/svg/gitea-gogs.svg
Labels: backport/v1.13, kind/ui, lgtm/done, skip-changelog

#14794 Backport: Repo Transfer permission checks (#14792)
  integrations/api_repo_test.go
  routers/api/v1/repo/transfer.go
  routers/repo/setting.go
  services/repository/transfer.go
Labels: kind/bug, kind/enhancement, lgtm/done

#14767 Fix dashboard UI bugs and more
  templates/base/head_navbar.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/less/_base.less
  web_src/less/_dashboard.less
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#14798 build for only available darwin target (#14771)
  Makefile
Labels: kind/bug, kind/build, lgtm/done, skip-changelog

#14802 Disable broken OAuth2 providers at startup
  models/oauth2.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14807 Re-enable transfer repo back from org to user account
  integrations/api_repo_test.go
  services/repository/transfer.go
Labels: kind/bug, kind/regression, lgtm/done, skip-changelog

#14811 Disable broken OAuth2 providers at startup (#14802)
  models/oauth2.go
Labels: kind/bug, lgtm/done

#14450 Add Image Diff options in Pull Request Diff view
  options/locale/locale_en-US.ini
  templates/repo/diff/image_diff.tmpl
  web_src/js/features/imagediff.js
  web_src/js/index.js
  web_src/less/features/imagediff.less
  web_src/less/index.less
Labels: kind/enhancement, kind/ui, lgtm/done

#14804 Fix a couple of CommentAsPatch issues.
  modules/git/diff.go
  modules/git/diff_test.go
  modules/migrations/gitea_uploader.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  services/pull/review.go
Labels: backport/v1.13, kind/bug, lgtm/done

#14829 Fix misleading sentence
  options/locale/locale_en-US.ini
  templates/repo/activity.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#14830 remove pt-pt from doc config file
  docs/config.yaml
Labels: kind/docs, lgtm/done

#14827 Prevent use of double sub-path and incorrect asset path in manifest
  modules/setting/setting.go
  modules/setting/setting_test.go
Labels: kind/bug, lgtm/done

#14820 Fix a couple of CommentAsPatch issues. (#14804)
  modules/git/diff.go
  modules/git/diff_test.go
  modules/migrations/gitea_uploader.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  services/pull/review.go
Labels: kind/bug, lgtm/done

#14826 Fix issue/pull sidebar
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#14757 add preview support for wiki editor when disable simpleMDE
  templates/repo/wiki/new.tmpl
  web_src/js/index.js
Labels: kind/enhancement, kind/ui, lgtm/done

#14262 All organization members should be assignable as reviewer
  models/repo.go
Labels: kind/breaking, kind/enhancement, lgtm/done

#13467 Create tag on ui
  modules/forms/repo_branch_form.go
  modules/forms/repo_form.go
  modules/git/repo_tag_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/release.go
  routers/repo/branch.go
  routers/repo/release.go
  services/mirror/mirror_test.go
  services/release/release.go
  services/release/release_test.go
  templates/repo/branch_dropdown.tmpl
  templates/repo/release/new.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#14834 Set HCaptchaSiteKey on Link Account pages
  routers/user/auth.go
Labels: backport/v1.13, kind/bug, lgtm/done
