Repository go-gitea/gitea, pull requests merged in 2021-08, with the labels that each got.

#16591 Use node:16.5 for frontend instead of node:16
  .drone.yml
Labels: kind/testing, lgtm/done

#16580 Swagger API: rename repoAddTopíc to repoAddTopic
  routers/api/v1/repo/topic.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#16586 Fix 500 on first wiki page
  services/wiki/wiki.go
  services/wiki/wiki_test.go
Labels: backport/v1.15, kind/bug, lgtm/done

#16574 Fix Swagger AccessToken
  routers/api/v1/swagger/app.go
  routers/api/v1/swagger/options.go
  routers/api/v1/user/app.go
  templates/swagger/v1_json.tmpl
Labels: backport/v1.15, kind/api, kind/bug, kind/docs, lgtm/done

#16595 [CI] Use node v14 instead of node v16 untill it will pass again
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#16599 [CI] Use node v14 instead of node v16 untill it will pass again (#16595)
  .drone.yml
Labels: kind/build, lgtm/done, skip-changelog

#16596 Fix table alignment in markdown
  modules/markup/markdown/markdown.go
Labels: backport/v1.15, kind/bug, lgtm/done

#16597 Swagger AccessToken fixes (#16574)
  routers/api/v1/swagger/app.go
  routers/api/v1/swagger/options.go
  routers/api/v1/user/app.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, kind/docs, lgtm/done

#16582 Make PR merge options more intuitive
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#16601 Clarify where server.LFS_CONTENT_PATH was moved to
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#16590 Upgrade to golang-jwt 3.2.2
  .drone.yml
  Makefile
  docs/config.yaml
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/.travis.yml
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/modules.txt
Labels: backport/v1.14, backport/v1.15, dependencies, kind/breaking, lgtm/done

#16607 Upgrade to latest version of golang-jwt (as forked for 1.14) (#16590)
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/.travis.yml
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_go1.14.go
  vendor/github.com/golang-jwt/jwt/ecdsa_go1.15.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/modules.txt
Labels: dependencies, lgtm/done

#16606 Upgrade to the latest version of golang-jwt (#16590)
  .drone.yml
  Makefile
  docs/config.yaml
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/.travis.yml
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/modules.txt
Labels: dependencies, kind/breaking, lgtm/done

#16598 Fix 500 on first wiki page (#16586)
  services/wiki/wiki.go
  services/wiki/wiki_test.go
Labels: kind/bug, lgtm/done

#16602 Fix table alignment in markdown (#16596)
  modules/markup/markdown/markdown.go
Labels: kind/bug, lgtm/done

#16617 Restore #10096/#8638 and re-fix #15172 (#16576)
  .eslintrc
  Makefile
  web_src/fomantic/build/semantic.css
  web_src/fomantic/build/semantic.js
  web_src/js/vendor/dropdown.js
Labels: kind/bug, lgtm/done

#16605 Pass down SignedUserName down to AccessLogger context
  modules/context/access_log.go
  modules/context/api.go
  modules/context/context.go
Labels: backport/done, backport/v1.15, kind/bug, lgtm/done

#16616 Pass down SignedUserName down to AccessLogger context (#16605)
  modules/context/access_log.go
  modules/context/api.go
  modules/context/context.go
Labels: kind/bug, lgtm/done

#16524 Set AllowedHeaders on API CORS handler
  routers/api/v1/api.go
  routers/api/v1/repo/pull.go
Labels: backport/done, backport/v1.15, kind/bug, lgtm/done

#16618 Set AllowedHeaders on API CORS handler (#16524)
  routers/api/v1/api.go
  routers/api/v1/repo/pull.go
Labels: kind/bug, lgtm/done

#16624 Switch back to node 16
  .drone.yml
Labels: kind/build, lgtm/done

#16622 Update node tar dependency to 6.1.6
  package-lock.json
Labels: backport/done, backport/v1.15, dependencies, lgtm/done

#16623 Update node tar dependency to 6.1.6 (#16622)
  package-lock.json
Labels: dependencies, lgtm/done

#16619 Changelog for 1.14.6
  CHANGELOG.md
Labels: kind/docs, lgtm/done, frontport/main

#16631 Remove duplicate csv import in modules/csv/csv.go
  modules/csv/csv.go
Labels: kind/bug, lgtm/done

#16576 Restore Accessibility for Dropdown
  .eslintrc
  Makefile
  web_src/fomantic/build/semantic.css
  web_src/fomantic/build/semantic.js
  web_src/js/vendor/dropdown.js
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#16633 Frontport changelog for v1.14.6
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done

#16632 Frontport changelog for v1.14.6
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done

#16544 Add microsoft oauth2 providers
  go.sum
  options/locale/locale_en-US.ini
  public/img/auth/azuread.png
  public/img/auth/azureadv2.png
  public/img/auth/microsoftonline.png
  routers/web/admin/auths.go
  routers/web/user/setting/security.go
  services/auth/source/oauth2/providers.go
  services/auth/source/oauth2/providers_base.go
  services/auth/source/oauth2/providers_custom.go
  services/auth/source/oauth2/providers_openid.go
  services/auth/source/oauth2/providers_simple.go
  services/auth/source/oauth2/source_name.go
  services/auth/source/oauth2/source_register.go
  services/auth/source/oauth2/urlmapping.go
  services/forms/auth_form.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/oauth.tmpl
  vendor/github.com/markbates/going/LICENSE.txt
  vendor/github.com/markbates/going/defaults/defaults.go
  vendor/github.com/markbates/goth/providers/azuread/azuread.go
  vendor/github.com/markbates/goth/providers/azuread/session.go
  vendor/github.com/markbates/goth/providers/azureadv2/azureadv2.go
  vendor/github.com/markbates/goth/providers/azureadv2/scopes.go
  vendor/github.com/markbates/goth/providers/azureadv2/session.go
  vendor/github.com/markbates/goth/providers/microsoftonline/microsoftonline.go
  vendor/github.com/markbates/goth/providers/microsoftonline/session.go
  vendor/modules.txt
  web_src/js/index.js
Labels: kind/feature, lgtm/done

#16634 Prevent 500 on draft releases without tag
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done, backport/v1.15

#16636 Prevent 500 on draft releases without tag (#16634)
  templates/repo/release/list.tmpl
Labels: lgtm/done

#16621 Changelog for 1.15.0-rc3
  CHANGELOG.md
Labels: kind/docs, lgtm/done, frontport/main

#16643 Allow setting X-FRAME-OPTIONS
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/context/api.go
  modules/context/context.go
  modules/setting/cors.go
  routers/install/routes.go
  routers/web/base.go
Labels: kind/enhancement, lgtm/done

#16641 Add note about build-time flags for PAM support
  docs/content/doc/features/authentication.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#16637 Separate open and closed issue in metrics
  models/models.go
  modules/metrics/collector.go
Labels: kind/enhancement, lgtm/done

#16645 Changelog for 1.15.0-rc3 (#16621)
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#16638 Restore compatibility with SQLServer 2008 R2 in migrations (#16627)
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done

#16627 Restore compatibility with SQLServer 2008 R2 in migrations
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#16653 Add Version info to migrations.go
  models/migrations/migrations.go
Labels: kind/docs, lgtm/need 1, skip-changelog

#16613 Fix direct creation of external users on admin page (partial #16612)
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#16658 Change the behaviour of the go-git version of the GetNote function in reponse to a non-existent commit ID
  modules/git/notes_gogit.go
  modules/git/notes_test.go
Labels: lgtm/done

#16311 Replace `list.List` with slices
  models/commit.go
  models/commit_status.go
  models/gpg_key_commit_verification.go
  models/issue_comment.go
  models/pull_sign.go
  models/user.go
  modules/git/commit.go
  modules/git/repo.go
  modules/git/repo_commit.go
  modules/git/repo_commit_test.go
  modules/git/repo_compare.go
  modules/repository/commits.go
  modules/repository/commits_test.go
  modules/templates/helper.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/pull.go
  routers/web/repo/blame.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/pull.go
  routers/web/repo/wiki.go
  services/mirror/mirror_pull.go
  services/pull/pull.go
  services/repository/push.go
  templates/mail/issue/default.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/user/dashboard/feeds.tmpl
Labels: lgtm/done, kind/refactor

#16659 Change the implementation of the go-git version of GetNote in response to a non existent commit
  modules/git/notes_gogit.go
  modules/git/notes_test.go
Labels: kind/bug, lgtm/done

#16649 Add api endpoint to fetch git notes
  integrations/api_repo_git_notes_test.go
  integrations/gitea-repositories-meta/user2/repo1.git/objects/3f/a2f829675543ecfc16b2891aebe8bf0608a8f4
  integrations/gitea-repositories-meta/user2/repo1.git/objects/d4/a1a6dcf7bd42891f264d484e80dac7e66b5410
  integrations/gitea-repositories-meta/user2/repo1.git/objects/d7/bd5b8cfb680f460e37b6fd7cf74c284e059118
  integrations/gitea-repositories-meta/user2/repo1.git/refs/notes/commits
  modules/git/notes_gogit.go
  modules/git/notes_nogogit.go
  modules/structs/repo_note.go
  routers/api/v1/api.go
  routers/api/v1/repo/notes.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, kind/api

#16567 Related refactors to ctx.FormX functions
  routers/api/v1/notify/repo.go
  routers/api/v1/notify/user.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/user.go
  routers/web/admin/repos.go
  routers/web/explore/code.go
  routers/web/explore/repo.go
  routers/web/explore/user.go
  routers/web/goget.go
  routers/web/org/home.go
  routers/web/repo/commit.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/repo/search.go
  routers/web/repo/topic.go
  routers/web/user/auth.go
  routers/web/user/home.go
  routers/web/user/notification.go
  routers/web/user/profile.go
Labels: lgtm/done, kind/refactor, skip-changelog

#16612 Improve SMTP authentication and Fix user creation bugs
  docs/content/doc/features/authentication.en-us.md
  options/locale/locale_en-US.ini
  routers/web/admin/auths.go
  services/auth/source/ldap/source_search.go
  services/auth/source/smtp/auth.go
  services/auth/source/smtp/source.go
  services/auth/source/smtp/source_authenticate.go
  services/forms/auth_form.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/new.tmpl
  templates/admin/auth/source/ldap.tmpl
  templates/admin/auth/source/smtp.tmpl
  templates/admin/user/edit.tmpl
  templates/admin/user/new.tmpl
  web_src/js/index.js
Labels: kind/bug, kind/enhancement, lgtm/done, theme/authentication

#16523 Send registration email on user autoregistration
  services/auth/reverseproxy.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/pam/source_authenticate.go
  services/auth/source/smtp/source_authenticate.go
  services/auth/sspi_windows.go
  services/mailer/mail.go
  services/mailer/mail_comment.go
  services/mailer/mail_issue.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
Labels: kind/feature, lgtm/done

#16664 add link to vscode to repo header
  options/locale/locale_en-US.ini
  templates/repo/home.tmpl
Labels: kind/ui, lgtm/done

#16680 Fix NPE in fuzzer
  modules/markup/html.go
  modules/markup/html_test.go
  tools/fuzz.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16682 Fix NPE in fuzzer (#16680)
  modules/markup/html.go
  modules/markup/html_test.go
  tools/fuzz.go
Labels: kind/bug, lgtm/done

#16685 Update issue_index to finish migration
  models/issue.go
  modules/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done, theme/migration, backport/v1.15

#16687 Update issue_index to finish migration (#16685)
  models/issue.go
  modules/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done, kind/regression, theme/migration

#16681 If PatchURL is empty, skip pull patch download when migrating (Partial #16356)
  modules/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done, theme/migration

#16662 Add filter by owner and team to issue/pulls search endpoint
  integrations/api_issue_test.go
  models/fixtures/issue.yml
  models/fixtures/repository.yml
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api

#16678 Ensure empty lines are copiable and final new line too
  modules/highlight/highlight.go
  modules/highlight/highlight_test.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16690 Fix spelling of HookProcReceiveResult
  modules/private/hook.go
  routers/private/hook.go
  services/agit/agit.go
Labels: lgtm/done, kind/misc

#16691 Improve resource string
  options/locale/locale_en-US.ini
Labels: lgtm/done, kind/translation, skip-changelog

#16692 Ensure empty lines are copiable and final new line too (#16678)
  modules/highlight/highlight.go
  modules/highlight/highlight_test.go
Labels: kind/bug, lgtm/done

#16696 upgrade levelqueue 0.4.1
  go.mod
  go.sum
  vendor/gitea.com/lunny/levelqueue/queue.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done, backport/v1.15

#16700 Upgrade levelqueue 0.4.1 (#16696)
  go.mod
  go.sum
  vendor/gitea.com/lunny/levelqueue/queue.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#16708 Update JS dependencies
  .eslintrc
  build/generate-svg.js
  jest.config.js
  package-lock.json
  package.json
  public/img/svg/octicon-clippy.svg
  public/img/svg/octicon-columns.svg
  public/img/svg/octicon-copy.svg
  public/img/svg/octicon-diamond.svg
  public/img/svg/octicon-duplicate.svg
  public/img/svg/octicon-git-pull-request-closed.svg
  public/img/svg/octicon-git-pull-request-draft.svg
  public/img/svg/octicon-hash.svg
  public/img/svg/octicon-issue-closed.svg
  public/img/svg/octicon-issue-draft.svg
  public/img/svg/octicon-issue-opened.svg
  public/img/svg/octicon-issue-reopened.svg
  public/img/svg/octicon-key-asterisk.svg
  public/img/svg/octicon-number.svg
  public/img/svg/octicon-octoface.svg
  public/img/svg/octicon-paste.svg
  public/img/svg/octicon-rows.svg
  public/img/svg/octicon-select-single.svg
  public/img/svg/octicon-sort-asc.svg
  public/img/svg/octicon-sort-desc.svg
  templates/repo/clone_buttons.tmpl
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/notification.js
  web_src/js/features/stopwatch.js
  web_src/js/index.js
  webpack.config.js
Labels: kind/ui, lgtm/done, kind/build, dependencies

#16710 release/v1.15: set min go version to min upstream supported go1.16
  .drone.yml
  Makefile
  docs/config.yaml
Labels: lgtm/done, kind/build

#16709 use github token URL when fetching oauth token
  services/auth/source/oauth2/providers_custom.go
Labels: kind/bug, lgtm/done, skip-changelog

#16706 Restore functionality for pushing non-standard refs (Partial #16705)
  routers/private/hook.go
Labels: kind/bug, lgtm/done

#16707 build with go1.17
  .drone.yml
  Dockerfile
  Dockerfile.rootless
  Makefile
  docs/config.yaml
Labels: lgtm/done, kind/build

#16547 Add API Token Cache
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/models.go
  models/token.go
  modules/setting/setting.go
Labels: lgtm/done, performance/speed, performance/cpu

#16714 Refactored and fixed migration tests
  modules/migrations/gitea_downloader.go
  modules/migrations/gitea_downloader_test.go
  modules/migrations/gitea_uploader.go
  modules/migrations/gitea_uploader_test.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/migrations/gogs.go
  modules/migrations/gogs_test.go
  modules/migrations/main_test.go
Labels: lgtm/done, kind/testing, kind/refactor

#16704 Add proxy settings and support for migration and webhook
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/git/command.go
  modules/git/repo.go
  modules/lfs/client.go
  modules/lfs/client_test.go
  modules/lfs/http_client.go
  modules/migrations/gitea_downloader.go
  modules/migrations/github.go
  modules/migrations/gitlab.go
  modules/migrations/gogs.go
  modules/proxy/proxy.go
  modules/repository/repo.go
  modules/setting/migrations.go
  modules/setting/proxy.go
  modules/setting/setting.go
  services/mirror/mirror_pull.go
  services/mirror/mirror_push.go
  services/webhook/deliver.go
Labels: kind/feature, lgtm/done

#16715 Fix migration svg color
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#16719 Add edit button to wiki sidebar and footer
  templates/repo/wiki/view.tmpl
Labels: kind/ui, lgtm/done

#16718 Recreate Tables should Recreate indexes on MySQL
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done, backport/v1.14, backport/v1.15

#16736 Fix wrong user in OpenID response
  models/fixtures/oauth2_grant.yml
  routers/web/user/oauth.go
  routers/web/user/oauth_test.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16742 Return nil proxy function if proxy not enabled
  modules/proxy/proxy.go
Labels: kind/bug, lgtm/done, skip-changelog

#16741 Fix wrong user in OpenID response (#16736)
  models/fixtures/oauth2_grant.yml
  routers/web/user/oauth.go
  routers/web/user/oauth_test.go
Labels: lgtm/done

#16738 Do not use thin scrollbars on Firefox
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#16745 Do not use thin scrollbars on Firefox (#16738)
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#16755 release/1.15: Fix dependency translations
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_en-US.ini
  options/locale/locale_es-ES.ini
  options/locale/locale_fa-IR.ini
  options/locale/locale_fr-FR.ini
  options/locale/locale_it-IT.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_ml-IN.ini
  options/locale/locale_nl-NL.ini
  options/locale/locale_pl-PL.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_sv-SE.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_uk-UA.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-TW.ini
Labels: lgtm/done

#16750 Keep attachments on tasklist update
  routers/web/repo/issue.go
  web_src/js/markup/tasklist.js
Labels: kind/bug, lgtm/done, backport/v1.15

#16753 Fix dependency translations
  options/locale/locale_en-US.ini
Labels: kind/bug, lgtm/done, kind/translation, backport/v1.15

#16754 Fix dependency link rendering in PR sidebar
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#16752 Add OAuth2 introspection endpoint
  routers/web/user/oauth.go
  routers/web/web.go
  services/auth/oauth2.go
  services/forms/user_form.go
  templates/user/auth/oidc_wellknown.tmpl
Labels: kind/feature, lgtm/done

#16740 Recreate Tables should Recreate indexes on MySQL (#16718)
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done

#16739 Recreate Tables should Recreate indexes on MySQL (#16718)
  models/migrations/migrations.go
Labels: kind/bug, lgtm/done

#16762 Keep attachments on tasklist update of issue and comment content
  routers/web/repo/issue.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16731 download lfs in git and web workflow from minio/s3 directly (SERVE_DIRECT)
  routers/web/repo/download.go
  services/lfs/server.go
Labels: kind/enhancement, lgtm/done

#16764 go version should be at least 1.16 because of `io.Discard`(Since Go 1.16, Feb 2021)…
  README.md
  go.mod
Labels: kind/docs, lgtm/done, skip-changelog

#16757 Keep attachments on tasklist update (#16750)
  routers/web/repo/issue.go
  web_src/js/markup/tasklist.js
Labels: kind/bug, lgtm/done

#16356 Add migrate from OneDev
  modules/convert/utils.go
  modules/migrations/base/downloader.go
  modules/migrations/base/issue.go
  modules/migrations/base/null_downloader.go
  modules/migrations/base/pullrequest.go
  modules/migrations/base/retry_downloader.go
  modules/migrations/gitea_downloader.go
  modules/migrations/gitea_downloader_test.go
  modules/migrations/gitea_uploader.go
  modules/migrations/github.go
  modules/migrations/github_test.go
  modules/migrations/gitlab.go
  modules/migrations/gitlab_test.go
  modules/migrations/gogs.go
  modules/migrations/gogs_test.go
  modules/migrations/migrate.go
  modules/migrations/onedev.go
  modules/migrations/onedev_test.go
  modules/migrations/restore.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-onedev.svg
  templates/repo/migrate/onedev.tmpl
  web_src/svg/gitea-onedev.svg
Labels: kind/feature, lgtm/done

#16760 changelog for 1.15.0
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#16759 Fix openidConnect source regression from #16544
  services/auth/source/oauth2/providers_openid.go
Labels: kind/bug, lgtm/done, kind/regression, skip-changelog

#16765 Alter issue/comment table TEXT fields to LONGTEXT
  models/issue.go
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v191.go
Labels: lgtm/done

#16772 frontport: 1.15.0 changelog
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#16788 Ensure that template compilation panics are sent to the logs
  cmd/web.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16790 Update caddyserver/certmagic (#16789)
  go.mod
  go.sum
  vendor/github.com/caddyserver/certmagic/config.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done, dependencies

#16794 Add missing return to handleSettingRemoteAddrError
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#16795 Add missing return to handleSettingRemoteAddrError (#16794)
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done

#16793 Remove spurious / from issues.opened_by
  options/locale/locale_it-IT.ini
  options/locale/locale_nl-NL.ini
Labels: kind/bug, lgtm/done, kind/translation

#16792 Ensure that template compilation panics are sent to the logs (#16788)
  cmd/web.go
Labels: kind/bug, lgtm/done

#16803 add information for migrate failure
  models/migrations/migrations.go
Labels: lgtm/done

#16805 Fix branch pagination error
  routers/web/repo/branch.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16812 Prevent NPE on empty commit
  modules/git/log_name_status.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16813 Add primary_key to issue_index
  models/index.go
  models/migrations/migrations.go
  models/migrations/v182.go
  models/migrations/v182_test.go
  models/migrations/v192.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16816 Fix branch pagination error (#16805)
  routers/web/repo/branch.go
Labels: kind/bug, lgtm/done

#16819 Prevent NPE on empty commit (#16812)
  modules/git/log_name_status.go
Labels: kind/bug, lgtm/done

#16817 Use a common quote to instead of check database type
  models/user.go
Labels: lgtm/done, kind/refactor

#16781 Unify migration descriptions
  options/locale/locale_en-US.ini
  templates/repo/migrate/gitea.tmpl
Labels: lgtm/done, kind/translation, skip-changelog

#16847 Add test to ensure that dumping of login sources remains correct
  models/models_test.go
Labels: lgtm/done, kind/testing, backport/v1.14, backport/v1.15

#16744 Refactor the fork service slightly to take ForkRepoOptions
  integrations/pull_update_test.go
  models/repo.go
  modules/repository/fork.go
  modules/repository/fork_test.go
  routers/api/v1/repo/fork.go
  routers/web/repo/pull.go
  services/repository/repository.go
Labels: lgtm/done, kind/refactor

#16845 Ensure that the default visibility is set on the user create page
  templates/admin/user/new.tmpl
Labels: kind/bug, lgtm/done, backport/v1.15

#16842 In Render tolerate not being passed a context
  modules/markup/external/external.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/repo/projects.go
  routers/web/repo/release.go
  routers/web/user/home.go
  routers/web/user/profile.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16856 [CI] rm unit-test-race step since its now coverd by unit-test too
  .drone.yml
Labels: lgtm/done, kind/testing, skip-changelog

#16843 Add GoLand configuration in hacking on gitea
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#16858 In Render tolerate not being passed a context (#16842)
  modules/markup/external/external.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/repo/projects.go
  routers/web/repo/release.go
  routers/web/user/home.go
  routers/web/user/profile.go
Labels: kind/bug, lgtm/done

#16775 Simplify split diff view generation and remove JS dependency
  modules/repofiles/diff_test.go
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_split.tmpl
Labels: kind/bug, lgtm/done, performance/speed, backport/v1.15

#16862 Ensure that the default visibility is set on the user create page (#16845)
  templates/admin/user/new.tmpl
Labels: kind/bug, lgtm/done

#16857 Paginate releases page & set default page size to 10
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/setting/repository.go
  routers/web/repo/release.go
Labels: lgtm/done, kind/breaking

#16860 Docs: Update theme documentation
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done

#16853 Remove unused Fomantic sidebar module
  .gitattributes
  Makefile
  web_src/fomantic/build/semantic.css
  web_src/fomantic/build/semantic.js
  web_src/fomantic/semantic.json
Labels: kind/ui, lgtm/done, performance/speed

#16864 Timeout on flush in testing
  integrations/testlogger.go
  modules/queue/manager.go
Labels: lgtm/done, kind/testing

#16863 Simplify split diff view generation and remove JS dependency (#16775)
  modules/repofiles/diff_test.go
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_split.tmpl
Labels: kind/bug, lgtm/done, performance/speed

#16866 [API] List limited and private orgs if authentificated
  routers/api/v1/admin/org.go
  routers/api/v1/org/org.go
  routers/api/v1/user/user.go
Labels: kind/bug, lgtm/done, backport/done, kind/api, backport/v1.15

#16886 Ensure wiki repos are all closed
  routers/web/repo/wiki.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.14, backport/v1.15

#16888 Ensure wiki repos are all closed (#16886)
  routers/web/repo/wiki.go
Labels: kind/bug, lgtm/done

#16889 Ensure wiki repos are all closed (#16886)
  routers/repo/wiki.go
Labels: kind/bug, lgtm/done

#16885 Fix report card link
  README.md
  README_ZH.md
Labels: kind/docs, lgtm/done

#16887 Prevent coverage break
  Makefile
Labels: lgtm/done, kind/testing, skip-changelog

#16698 Fix dump and restore respository
  models/repo.go
  modules/migrations/dump.go
  modules/migrations/gitea_uploader.go
  modules/private/restore_repo.go
  services/pull/check.go
  services/release/release.go
Labels: kind/bug, lgtm/done, backport/v1.15

#16891 Fix wiki raw commit diff/patch view
  routers/web/web.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.14, backport/v1.15

#16893 Fix wiki raw commit diff/patch view (#16891)
  routers/routes/web.go
Labels: kind/bug, lgtm/done

#16895 Repare and Improve GetDiffRangeWithWhitespaceBehavior (#16894)
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/pull.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done

#16878 Remove ParseQueueConnStr as it is unused
  modules/setting/queue.go
Labels: lgtm/done, kind/refactor

#16894 Repare and Improve GetDiffRangeWithWhitespaceBehavior
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/pull.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.14, backport/v1.15

#16896 Add missing gitRepo close at GetDiffRangeWithWhitespaceBehavior (Partial #16894)
  routers/repo/commit.go
Labels: kind/bug, lgtm/done

#16892 Fix wiki raw commit diff/patch view (#16891)
  routers/web/web.go
Labels: kind/bug, lgtm/done

#16899 Fix git.Blob.DataAsync(): close pipe since we return a NopCloser
  modules/git/blob_nogogit.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#16900 Fix git.Blob.DataAsync(): close pipe since we return a NopCloser (#16899)
  modules/git/blob_nogogit.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done

#16898 Fix dump and restore respository (#16698)
  models/repo.go
  modules/migrations/dump.go
  modules/migrations/gitea_uploader.go
  modules/private/restore_repo.go
  services/pull/check.go
  services/release/release.go
Labels: kind/bug, lgtm/done

#16879 List limited and private orgs if authenticated on API (#16866)
  routers/api/v1/admin/org.go
  routers/api/v1/org/org.go
  routers/api/v1/user/user.go
Labels: kind/bug, lgtm/done, kind/api

#16865 Test if LFS object is accessible
  integrations/api_repo_lfs_test.go
  services/lfs/server.go
Labels: kind/bug, kind/security, lgtm/done, backport/v1.15

#16125 Add option to update pull request by `rebase`
  integrations/pull_update_test.go
  models/pull.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/pull/merge.go
  services/pull/update.go
  templates/repo/issue/view_content/pull.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/index.js
Labels: kind/feature, lgtm/done

#16904 Test if LFS object is accessible (#16865)
  integrations/api_repo_lfs_test.go
  services/lfs/server.go
Labels: kind/bug, kind/security, lgtm/done
