Repository go-gitea/gitea, pull requests merged in 2021-04, with the labels that each got.

#15227 Diff box fixes (#15214)
  templates/repo/diff/box.tmpl
  templates/repo/diff/conversation.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_repository.less
  web_src/less/_review.less
Labels: kind/bug, kind/ui, lgtm/done

#15221 response 404 for diff/patch of a commit that not exist
  modules/git/diff.go
  routers/repo/commit.go
Labels: backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#15231 Fix timezone bug when clicking heatmap (#15141)
  models/action.go
Labels: kind/bug, lgtm/done

#15141 Fix timezone bug when clicking heatmap
  models/action.go
Labels: backport/done, backport/v1.14, kind/bug, lgtm/done

#15229 response simple text message for not html request when 404
  modules/context/context.go
Labels: kind/enhancement, lgtm/done

#15213 Speed up `enry.IsVendor`
  modules/analyze/vendor.go
  modules/analyze/vendor_test.go
  modules/git/repo_language_stats_gogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
Labels: backport/v1.13, backport/v1.14, lgtm/done, performance/speed

#15199 Prevent NPE in CommentMustAsDiff if no hunk header
  services/gitdiff/gitdiff.go
Labels: backport/done, backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#15201 Prevent NPE in CommentMustAsDiff if no hunk header (#15199)
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done

#15200 Prevent NPE in CommentMustAsDiff if no hunk header (#15199)
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done

#15225 Fix graph pagination
  templates/repo/graph/commits.tmpl
  web_src/less/features/gitgraph.less
Labels: backport/v1.14, kind/bug, kind/ui, lgtm/done

#15246 Speed up `enry.IsVendor` (#15213)
  modules/analyze/vendor.go
  modules/analyze/vendor_test.go
  modules/git/repo_language_stats.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
Labels: lgtm/done, performance/speed

#15245 Speed up `enry.IsVendor` (#15213)
  modules/analyze/vendor.go
  modules/analyze/vendor_test.go
  modules/git/repo_language_stats_gogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
Labels: lgtm/done, performance/speed, skip-changelog

#15237 response 404 for diff/patch of a commit that not exist (#15221)
  modules/git/diff.go
  routers/repo/commit.go
Labels: kind/bug, lgtm/done, skip-changelog

#14578 Introduce esbuild on webpack
  .drone.yml
  .gitignore
  Makefile
  package-lock.json
  package.json
  semantic.json
  web_src/fomantic/.npmrc
  webpack.config.js
Labels: kind/build, lgtm/done

#15249 Backport Fix graph pagination (#15225)
  templates/repo/graph/commits.tmpl
  web_src/less/features/gitgraph.less
Labels: kind/bug, lgtm/done

#15238 response 404 for diff/patch of a commit that not exist (#15221)
  modules/git/diff.go
  routers/repo/commit.go
Labels: kind/bug, lgtm/done

#15251 Fix release expansion issue
  .npmrc
  Makefile
  web_src/fomantic/.npmrc
Labels: kind/bug, lgtm/done, skip-changelog

#15072 [refactor] mailer service
  models/user.go
  modules/notification/mail/mail.go
  options/locale/locale_en-US.ini
  routers/admin/users.go
  routers/api/v1/admin/user.go
  routers/user/auth.go
  routers/user/setting/account.go
  services/mailer/mail.go
  services/mailer/mail_comment.go
  services/mailer/mail_issue.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  services/mailer/mail_test.go
  services/mailer/mailer.go
  templates/mail/notify/repo_transfer.tmpl
Labels: kind/refactor, kind/translation, lgtm/done

#15208 Branch page and misc css improvements
  templates/explore/code.tmpl
  templates/repo/branch/list.tmpl
  web_src/less/_base.less
  web_src/less/_explore.less
  web_src/less/_form.less
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: backport/v1.14, kind/ui, lgtm/done, skip-changelog

#15166 Close file on invalid range
  modules/lfs/content_store.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15264 Add size to Save function
  integrations/attachment_test.go
  models/attachment.go
  modules/lfs/content_store.go
  modules/migrations/gitea_uploader.go
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
Labels: backport/v1.13, backport/v1.14, lgtm/done, performance/memory, skip-changelog

#15274 Branch page and misc css improvements (#15208)
  templates/explore/code.tmpl
  templates/repo/branch/list.tmpl
  web_src/less/_base.less
  web_src/less/_explore.less
  web_src/less/_form.less
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done, skip-changelog

#15271 Add size to Save function (#15264)
  integrations/attachment_test.go
  models/attachment.go
  modules/lfs/content_store.go
  modules/migrations/gitea_uploader.go
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
Labels: lgtm/done, performance/memory

#15270 Add size to Save function (#15264)
  integrations/attachment_test.go
  models/attachment.go
  modules/lfs/content_store.go
  modules/migrations/gitea_uploader.go
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
Labels: lgtm/done, performance/memory

#15275 Drop the event source if we are unauthorized
  routers/events/events.go
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/notification.js
  web_src/js/features/stopwatch.js
Labels: backport/v1.14, kind/bug, lgtm/done

#15280 Drop the event source if we are unauthorized (#15275)
  routers/events/events.go
  web_src/js/features/eventsource.sharedworker.js
  web_src/js/features/notification.js
  web_src/js/features/stopwatch.js
Labels: kind/bug, lgtm/done

#15285 Fix xorm log stack level
  models/log.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15287 Fix typo in app.example.ini
  custom/conf/app.example.ini
Labels: kind/docs, lgtm/done

#15278 Resolve Object { type: "error", data: undefined } in stopwatch.js
  web_src/js/features/stopwatch.js
Labels: kind/bug, lgtm/done

#15294 Update to bluemonday-1.0.6
  go.mod
  go.sum
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
  vendor/github.com/aymerick/douceur/parser/parser.go
  vendor/github.com/chris-ramon/douceur/LICENSE
  vendor/github.com/microcosm-cc/bluemonday/SECURITY.md
  vendor/github.com/microcosm-cc/bluemonday/go.mod
  vendor/github.com/microcosm-cc/bluemonday/go.sum
  vendor/github.com/microcosm-cc/bluemonday/handlers.go
  vendor/github.com/microcosm-cc/bluemonday/policy.go
  vendor/github.com/microcosm-cc/bluemonday/sanitize.go
  vendor/golang.org/x/net/internal/socket/rawconn.go
  vendor/modules.txt
Labels: backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#15298 Update to bluemonday-1.0.6 (#15294)
  go.mod
  go.sum
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
  vendor/github.com/aymerick/douceur/parser/parser.go
  vendor/github.com/chris-ramon/douceur/LICENSE
  vendor/github.com/microcosm-cc/bluemonday/SECURITY.md
  vendor/github.com/microcosm-cc/bluemonday/go.mod
  vendor/github.com/microcosm-cc/bluemonday/go.sum
  vendor/github.com/microcosm-cc/bluemonday/handlers.go
  vendor/github.com/microcosm-cc/bluemonday/policy.go
  vendor/github.com/microcosm-cc/bluemonday/sanitize.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#15297 Update to bluemonday-1.0.6 (#15294)
  go.mod
  go.sum
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
  vendor/github.com/aymerick/douceur/parser/parser.go
  vendor/github.com/chris-ramon/douceur/LICENSE
  vendor/github.com/microcosm-cc/bluemonday/SECURITY.md
  vendor/github.com/microcosm-cc/bluemonday/go.mod
  vendor/github.com/microcosm-cc/bluemonday/go.sum
  vendor/github.com/microcosm-cc/bluemonday/handlers.go
  vendor/github.com/microcosm-cc/bluemonday/policy.go
  vendor/github.com/microcosm-cc/bluemonday/sanitize.go
  vendor/golang.org/x/net/internal/socket/rawconn.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done, skip-changelog

#15290 Update JS dependencies
  package-lock.json
  package.json
Labels: dependencies, lgtm/done, skip-changelog

#15268 Close file on invalid range (Addition to #15166)
  modules/lfs/content_store.go
  modules/lfs/pointers.go
  modules/lfs/server.go
Labels: lgtm/done

#15302 Fix bug in Wrap
  modules/web/route.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15306 Reduce memory usage in testgit
  integrations/git_test.go
  integrations/integration_test.go
Labels: backport/v1.14, kind/testing, lgtm/done, skip-changelog

#15309 Fix bug in Wrap (#15302)
  modules/web/route.go
Labels: kind/bug, lgtm/done

#15308 Backport Close file on invalid range (Addition to #15166) (#15268)
  modules/lfs/content_store.go
  modules/lfs/pointers.go
  modules/lfs/server.go
Labels: kind/bug, lgtm/done

#15305 Move modules/forms to services/forms
  integrations/api_helper_for_declarative_test.go
  integrations/api_pull_test.go
  routers/admin/admin.go
  routers/admin/auths.go
  routers/admin/users.go
  routers/admin/users_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/migrate.go
  routers/api/v1/repo/pull.go
  routers/api/v1/swagger/options.go
  routers/install.go
  routers/org/org.go
  routers/org/org_labels.go
  routers/org/setting.go
  routers/org/teams.go
  routers/repo/branch.go
  routers/repo/editor.go
  routers/repo/issue.go
  routers/repo/issue_label.go
  routers/repo/issue_label_test.go
  routers/repo/issue_lock.go
  routers/repo/issue_timetrack.go
  routers/repo/migrate.go
  routers/repo/milestone.go
  routers/repo/projects.go
  routers/repo/pull.go
  routers/repo/pull_review.go
  routers/repo/release.go
  routers/repo/release_test.go
  routers/repo/repo.go
  routers/repo/setting.go
  routers/repo/setting_protected_branch.go
  routers/repo/settings_test.go
  routers/repo/webhook.go
  routers/repo/wiki.go
  routers/repo/wiki_test.go
  routers/routes/install.go
  routers/routes/web.go
  routers/user/auth.go
  routers/user/auth_openid.go
  routers/user/oauth.go
  routers/user/setting/account.go
  routers/user/setting/account_test.go
  routers/user/setting/applications.go
  routers/user/setting/keys.go
  routers/user/setting/oauth2.go
  routers/user/setting/profile.go
  routers/user/setting/security_openid.go
  routers/user/setting/security_twofa.go
  routers/user/setting/security_u2f.go
  services/forms/admin.go
  services/forms/auth_form.go
  services/forms/org.go
  services/forms/repo_branch_form.go
  services/forms/repo_form.go
  services/forms/repo_form_test.go
  services/forms/user_form.go
  services/forms/user_form_auth_openid.go
  services/forms/user_form_test.go
  templates/swagger/v1_json.tmpl
Labels: kind/refactor, lgtm/done

#15310 Reduce memory usage in testgit (#15306)
  integrations/git_test.go
  integrations/integration_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#15317 Add 'fonts' into 'KnownPublicEntries' (#15188)
  modules/public/public.go
Labels: kind/bug, lgtm/done

#15311 Fix CanCreateRepo check
  routers/repo/repo.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15316 Fix xorm log stack level (#15285)
  models/log.go
Labels: kind/bug, lgtm/done

#15319 Changelog v1.13.7
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#15322 Update Changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#15328 [Frontport] Changelog (v1.13.6, v1.13.7, v1.14.0-rc2)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#15321 Fix CanCreateRepo check (#15311)
  routers/repo/repo.go
Labels: kind/bug, lgtm/done

#15323 Fix handling of logout event
  web_src/js/features/notification.js
  web_src/js/features/stopwatch.js
Labels: backport/v1.14, kind/bug, lgtm/done

#15333 Monaco improvements
  web_src/js/features/codeeditor.js
  web_src/less/_base.less
  web_src/less/_editor.less
  web_src/less/features/codeeditor.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
Labels: backport/v1.14, kind/ui, lgtm/done

#15315 Add frontend testing, require node 12
  .drone.yml
  .eslintrc
  Makefile
  README.md
  build/generate-images.js
  build/generate-svg.js
  docs/config.yaml
  jest.config.js
  package-lock.json
  package.json
  web_src/js/utils.test.js
  webpack.config.js
Labels: kind/breaking, kind/build, kind/testing, lgtm/done

#15343 Prepend AppSubUrl to links for default avatar (#15341)
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15345 Monaco improvements (#15333)
  web_src/js/features/codeeditor.js
  web_src/less/_base.less
  web_src/less/_editor.less
  web_src/less/features/codeeditor.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#14866 Feat: Add dashboard milestone search and repo milestone search by name.
  models/issue_milestone.go
  routers/repo/milestone.go
  routers/user/home.go
  templates/repo/issue/milestones.tmpl
  templates/user/dashboard/milestones.tmpl
Labels: kind/feature, lgtm/done

#15341 Prepend AppSubUrl to links for default avatar
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: backport/done, backport/v1.13, backport/v1.14, kind/bug, kind/ui, lgtm/done

#15337 Fix handling of logout event (#15323)
  web_src/js/features/notification.js
  web_src/js/features/stopwatch.js
Labels: kind/bug, lgtm/done

#15342 Prepend AppSubUrl to links for default avatar (#15341)
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#15338 Show diff on rename with diff changes
  templates/repo/diff/box.tmpl
Labels: backport/done, backport/v1.13, backport/v1.14, kind/bug, kind/ui, lgtm/done

#15340 Show diff on rename with diff changes (#15338)
  templates/repo/diff/box.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15339 Show diff on rename with diff changes (#15338)
  templates/repo/diff/box.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15350 Fix button border issue
  web_src/less/_base.less
Labels: backport/done, backport/v1.14, kind/bug, kind/ui, lgtm/done

#15344 API: pull notification subject status: add "merged"
  modules/convert/notification.go
Labels: kind/api, kind/enhancement, lgtm/done

#15348 Disable cssnano's colormin plugin (#15347)
  webpack.config.js
Labels: kind/bug, kind/regression, kind/ui, lgtm/done, skip-changelog

#15353 Fix Dropzone following #15315
  web_src/js/features/dropzone.js
Labels: kind/bug, kind/regression, kind/ui, lgtm/done, skip-changelog

#15351 Fix button border issue (#15350)
  web_src/less/_base.less
Labels: kind/bug, kind/ui, lgtm/done

#15273 Stop packaging node_modules in release tarballs
  .drone.yml
  .gitignore
  .npmrc
  Makefile
  README.md
  web_src/fomantic/.npmrc
  web_src/fomantic/package.json
  web_src/fomantic/semantic.json
Labels: kind/build, lgtm/done

#15286 Code Formats, Nits & Unused Func/Var deletions
  cmd/admin.go
  cmd/hook.go
  models/branches.go
  models/issue_label.go
  models/lfs.go
  models/repo_test.go
  models/user.go
  models/user_heatmap.go
  models/user_openid.go
  modules/markup/common/linkify.go
  modules/process/manager.go
  modules/queue/bytefifo.go
  modules/queue/helper.go
  modules/queue/queue_bytefifo.go
  modules/queue/queue_disk.go
  modules/queue/queue_redis.go
  modules/queue/unique_queue_disk.go
  modules/queue/unique_queue_redis.go
  modules/references/references.go
  modules/repofiles/action.go
  modules/setting/setting.go
  modules/storage/helper.go
  modules/storage/storage.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
  routers/events/events.go
  routers/org/teams.go
  routers/repo/http.go
  routers/repo/issue.go
  routers/repo/setting_protected_branch.go
  routers/user/home.go
  services/pull/merge.go
Labels: kind/refactor, lgtm/done

#15358 Fix `admin user list`
  models/user.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15354 Disable Vue's console advertisments
  web_src/js/index.js
Labels: kind/misc, lgtm/done, skip-changelog

#15359 Fix `admin user list` (#15358)
  models/user.go
  routers/api/v1/repo/issue.go
Labels: kind/bug, lgtm/done, skip-changelog

#15292 Move FCGI req.URL.Path fix-up to the FCGI listener
  cmd/web_graceful.go
  routers/routes/web.go
Labels: backport/done, backport/v1.14, kind/bug, lgtm/done

#15369 Fix mirror_lfs source string in en-US locale
  options/locale/locale_en-US.ini
Labels: kind/translation, lgtm/done

#15361 Move FCGI req.URL.Path fix-up to the FCGI listener (#15292)
  cmd/web_graceful.go
  routers/routes/web.go
Labels: kind/bug, lgtm/done

#15291 Dropzone styling improvements
  web_src/js/index.js
  web_src/less/_repository.less
  web_src/less/features/dropzone.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
Labels: backport/v1.14, kind/ui, lgtm/done

#15276 Use semantic dropdown for code search query type
  templates/explore/code.tmpl
  templates/repo/search.tmpl
  web_src/less/_base.less
Labels: backport/v1.14, kind/ui, lgtm/done

#15382 Added me as maintainer
  MAINTAINERS
Labels: lgtm/done

#15379 Upgrade to bluemonday 1.0.7
  go.mod
  go.sum
  modules/markup/html_test.go
  vendor/github.com/microcosm-cc/bluemonday/sanitize.go
  vendor/modules.txt
Labels: backport/done, backport/v1.14, kind/bug, lgtm/done

#15380 Upgrade to bluemonday 1.0.7 (#15379)
  go.mod
  go.sum
  modules/markup/html_test.go
  vendor/github.com/microcosm-cc/bluemonday/sanitize.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#15378 Remove usage of some JS globals
  templates/repo/diff/comment_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/user/auth/signin_inner.tmpl
  web_src/js/index.js
Labels: kind/refactor, lgtm/done

#15374 Dropzone styling improvements (#15291)
  web_src/js/index.js
  web_src/less/_repository.less
  web_src/less/features/dropzone.less
  web_src/less/index.less
  web_src/less/themes/theme-arc-green.less
Labels: lgtm/done

#15372 Turn RepoRef and RepoAssignment back into func(*Context)
  modules/context/repo.go
  routers/routes/web.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15377 Turn RepoRef and RepoAssignment back into func(*Context) (#15372)
  modules/context/repo.go
  routers/routes/web.go
Labels: kind/bug, lgtm/done

#15376 SHA in merged commit comment should be rendered ui sha
  options/locale/locale_en-US.ini
Labels: kind/ui, lgtm/done

#15383 rsponse 404 when delete not exist email
  integrations/api_user_email_test.go
  models/error.go
  models/user_mail.go
  routers/api/v1/user/email.go
  templates/swagger/v1_json.tmpl
Labels: kind/api, kind/bug, lgtm/done

#15352 Always set the merge base used to merge the commit
  integrations/api_helper_for_declarative_test.go
  integrations/git_test.go
  models/pull.go
  modules/queue/manager.go
  services/pull/merge.go
Labels: backport/v1.14, kind/bug, kind/testing, lgtm/done

#15385 Always set the merge base used to merge the commit (#15352)
  integrations/api_helper_for_declarative_test.go
  integrations/git_test.go
  models/pull.go
  modules/queue/manager.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#15088 Links in markdown should be absolute to the repository not the server
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
Labels: kind/breaking, kind/enhancement, lgtm/done

#15384 Fix delete nonexist oauth application 500 and prevent deadlock
  integrations/api_oauth2_apps_test.go
  models/migrate.go
  models/oauth2_application.go
  routers/api/v1/user/app.go
Labels: backport/v1.13, backport/v1.14, kind/api, kind/bug, lgtm/done

#15397 Fix delete nonexist oauth application 500 and prevent deadlock (#15384)
  integrations/api_oauth2_apps_test.go
  models/migrate.go
  models/oauth2_application.go
  routers/api/v1/user/app.go
Labels: kind/bug, lgtm/done

#15396 Fix delete nonexist oauth application 500 and prevent deadlock (#15384)
  integrations/api_oauth2_apps_test.go
  models/migrate.go
  models/oauth2_application.go
  routers/api/v1/user/app.go
Labels: kind/bug, lgtm/done

#15360 Changelog v1.14.0
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#15400 Changelog v1.14.0 (#15360)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#15399 add some reponse status on api docs
  routers/api/v1/user/app.go
  templates/swagger/v1_json.tmpl
Labels: kind/docs, lgtm/done

#15387 Standardise icon on projects PR page
  templates/repo/projects/view.tmpl
Labels: backport/v1.13, backport/v1.14, kind/ui, lgtm/done, theme/kanban

#15402 modules/git/GetBlob: use repo1_bare to test against
  modules/git/blob_test.go
Labels: backport/v1.14, kind/testing, lgtm/done

#15364 Use semantic dropdown for code search query type (#15276)
  templates/explore/code.tmpl
  templates/repo/search.tmpl
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#15404 use repo1_bare to test against (#15402)
  modules/git/blob_test.go
Labels: kind/testing, lgtm/done, skip-changelog

#15417 Fix dingtalk icon url at webhook
  templates/org/settings/hook_new.tmpl
Labels: kind/bug, lgtm/done

#15408 Standardise icon on projects PR page (#15387)
  templates/repo/projects/view.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15409 Standardise icon on projects PR page (#15387)
  templates/repo/projects/view.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#15407 dump: Add option to skip LFS/attachment files
  cmd/dump.go
Labels: backport/v1.14, kind/enhancement, lgtm/done

#15370 Add ETag header
  modules/httpcache/httpcache.go
  modules/httpcache/httpcache_test.go
  modules/public/public.go
  routers/repo/attachment.go
  routers/repo/download.go
Labels: lgtm/done, performance/speed

#15426 Fix dingtalk icon url at webhook (#15417)
  templates/org/settings/hook_new.tmpl
Labels: kind/bug, lgtm/done

#15405 docs: rm deprecated docs regarding environment variable usage in docker image
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#15430 Fix wiki clone urls
  templates/repo/clone_buttons.tmpl
Labels: backport/done, backport/v1.14, kind/bug, lgtm/done

#15431 Fix wiki clone urls (#15430)
  templates/repo/clone_buttons.tmpl
Labels: kind/bug, lgtm/done

#15435 Clone panel fixes
  templates/repo/home.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#15434 Prevent NPE on avatar direct rendering if federated avatars disabled
  routers/user/avatar.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15428 Fix repository search
  templates/user/dashboard/repolist.tmpl
  web_src/js/index.js
Labels: backport/v1.14, kind/bug, lgtm/done

#15439 Prevent NPE on avatar direct rendering if federated avatars disabled (#15434)
  routers/user/avatar.go
Labels: kind/bug, lgtm/done

#15442 Fix repository search (#15428)
  templates/user/dashboard/repolist.tmpl
  web_src/js/index.js
Labels: kind/bug, lgtm/done

#15153 Add NeedPostProcess for Parser interface to improve performance of csv parser and some external parser
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  modules/markup/csv/csv.go
  modules/markup/external/external.go
  modules/markup/markdown/markdown.go
  modules/markup/markup.go
  modules/markup/orgmode/orgmode.go
  modules/setting/markup.go
Labels: lgtm/done, performance/speed

#15458 v172 migration adds created_unix field instead of expiry
  models/migrations/v172.go
Labels: backport/v1.14, lgtm/done

#15463 v172 migration adds created_unix field instead of expiry (#15458)
  models/migrations/v172.go
Labels: kind/bug, lgtm/done

#15462 docs: migration start new section
  models/migrations/migrations.go
Labels: kind/docs, lgtm/done, skip-changelog

#5123 OAuth2 auto-register
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/migrations/migrations.go
  models/migrations/v179.go
  modules/auth/oauth2/oauth2.go
  modules/setting/oauth2_client.go
  modules/setting/setting.go
  routers/user/auth.go
  routers/user/auth_openid.go
Labels: changelog, kind/feature, lgtm/done, reviewed/confirmed

#15456 Prevent superfluous response.WriteHeader
  modules/context/response.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15440 Display more repository type on admin repository management
  templates/admin/repo/list.tmpl
Labels: kind/ui, lgtm/done

#15432 Fix ambiguous argument error on tags
  modules/git/repo_commit.go
Labels: backport/v1.13, backport/v1.14, kind/bug, lgtm/done

#15466 fix wrong file link in code search page
  routers/repo/search.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15470 Fixed several typos
  custom/conf/app.example.ini
Labels: kind/docs, lgtm/done

#15464 Quick template fix for built-in SSH server in admin config
  templates/admin/config.tmpl
Labels: backport/v1.14, kind/bug, kind/ui, lgtm/done

#15452 Use index of the supported tags to choose user language
  modules/translation/translation.go
  modules/web/middleware/locale.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15475 Fix ambiguous argument error on tags (#15432)
  modules/git/repo_commit.go
Labels: kind/bug, lgtm/done

#15474 Fix ambiguous argument error on tags (#15432)
  modules/git/repo_commit.go
Labels: kind/bug, lgtm/done

#15481 Quick template fix for built-in SSH server in admin config (#15464)
  templates/admin/config.tmpl
Labels: kind/build, kind/ui, lgtm/done

#15446 Use subdir for URL
  templates/repo/create.tmpl
  templates/repo/issue/labels/label_list.tmpl
  templates/user/auth/activate.tmpl
Labels: backport/v1.14, kind/bug, lgtm/done

#15441 Fix potential copy lfs records failure when fork a repository
  modules/repository/fork.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15436 Clone panel fixes
  templates/repo/home.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#15482 Build go-git variants for windows
  Makefile
Labels: backport/v1.14, kind/build, lgtm/done

#15486 fix wrong file link in code search page (#15466)
  routers/repo/search.go
Labels: kind/bug, lgtm/done

#15476 Prevent superfluous response.WriteHeader (#15456)
  modules/context/response.go
Labels: kind/bug, lgtm/done

#15477 Ensure review dismissal only dismisses the correct review
  models/review.go
  models/review_test.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15479 Make build scripts compatible with node 12
  Makefile
  build/generate-images.js
  build/generate-svg.js
Labels: kind/build, lgtm/done

#15480 Lock down build-images dependencies (Partial #15479)
  Makefile
Labels: kind/build, lgtm/done

#15487 Build go-git variants for windows (#15482)
  Makefile
Labels: kind/build, lgtm/done

#15457 Query the DB for the hash before inserting in to email_hash
  models/avatar.go
Labels: backport/v1.14, lgtm/done

#15491 Query the DB for the hash before inserting in to email_hash (#15457)
  models/avatar.go
Labels: kind/bug, lgtm/done

#15490 migration: github: if rate limit is not enabled, ignore it
  modules/migrations/github.go
Labels: backport/v1.14, kind/bug, kind/migration, lgtm/done

#15485 Fix potential copy lfs records failure when fork a repository (#15441)
  modules/repository/fork.go
Labels: lgtm/done

#15488 Use index of the supported tags to choose user lang (#15452)
  modules/translation/translation.go
  modules/web/middleware/locale.go
Labels: kind/bug, lgtm/done

#15495 migration: github: if rate limit is not enabled, ignore it (#15490)
  modules/migrations/github.go
Labels: kind/bug, lgtm/done

#15493 Use subdir for URL (#15446)
  templates/repo/create.tmpl
  templates/repo/issue/labels/label_list.tmpl
  templates/user/auth/activate.tmpl
Labels: kind/bug, lgtm/done

#15489 Ensure review dismissal only dismisses the correct review (#15477)
  models/review.go
  models/review_test.go
Labels: kind/bug, lgtm/done

#15492 dump: Add option to skip LFS/attachment files (#15407)
  cmd/dump.go
Labels: kind/enhancement, lgtm/done

#15496 Improve signing documentation
  docs/content/doc/advanced/signing.en-us.md
Labels: kind/docs, lgtm/done

#14653 Disable Stars config option
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/repo_list.go
  modules/context/context.go
  modules/setting/repository.go
  modules/structs/settings.go
  options/locale/locale_en-US.ini
  routers/api/v1/settings/settings.go
  routers/user/profile.go
  templates/base/head_navbar.tmpl
  templates/explore/repo_list.tmpl
  templates/explore/repo_search.tmpl
  templates/repo/header.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/dashboard/repolist.tmpl
  templates/user/profile.tmpl
Labels: kind/feature, lgtm/done

#15447 Performance improvement for list pull requests
  models/issue_list.go
  routers/repo/issue.go
  routers/user/home.go
  services/pull/pull.go
  templates/shared/issuelist.tmpl
Labels: backport/v1.14, lgtm/done, performance/speed

#15499 Fix bug clone wiki
  routers/repo/http.go
Labels: backport/v1.14, kind/bug, lgtm/done

#15502 Fix bug clone wiki (#15499)
  routers/repo/http.go
Labels: kind/bug, lgtm/done

#15465 Fix: npx webpack make: *** [Makefile:699: public/js/index.js] Error -…
  webpack.config.js
Labels: kind/build, lgtm/done
