Repository go-gitea/gitea, pull requests merged in 2021-10, with the labels that each got.

#17195 Check user instead of organization when creating a repo from a template via API (#16346)
  routers/api/v1/repo/repo.go
Labels: kind/enhancement, lgtm/done

#17206 Always set a unique Message-ID header
  models/issue.go
  services/mailer/mail.go
  services/mailer/mail_test.go
Labels: kind/enhancement, lgtm/done

#17202 Add projects and project boards in exposed metrics
  models/statistic.go
  modules/metrics/collector.go
Labels: kind/enhancement, lgtm/done

#17145 Add option to copy line permalink
  options/locale/locale_en-US.ini
  templates/repo/view_file.tmpl
  web_src/js/index.js
Labels: kind/enhancement, lgtm/done

#17208 Reference in new issue modal: dont pre-populate issue title
  web_src/js/index.js
Labels: kind/enhancement, lgtm/need 1

#17192 API: don't allow merged PRs to be reopened
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
Labels: kind/bug, lgtm/need 1, kind/api, backport/v1.15

#17213 Fix typo in app.example.ini
  custom/conf/app.example.ini
Labels: lgtm/need 1

#17201 Add metrics to get issues by label
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/statistic.go
  modules/metrics/collector.go
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#17223 Fix stange behavior of DownloadPullDiffOrPatch in incorect index
  models/pull.go
  models/pull_test.go
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done, backport/v1.15

#17222 Add specific event type to header
  services/webhook/deliver.go
Labels: kind/enhancement, lgtm/done

#17227 Fix stange behavior of DownloadPullDiffOrPatch in incorect index (#17223)
  models/pull.go
  models/pull_test.go
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done

#17225 Add metrics to get issues by repository
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/statistic.go
  modules/metrics/collector.go
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#17211 Redirect on project after issue created
  routers/web/repo/issue.go
  templates/repo/issue/new_form.tmpl
Labels: kind/enhancement, lgtm/done

#16844 Remove Dashboard/Home button from the navbar
  templates/base/head_navbar.tmpl
Labels: kind/ui, lgtm/done

#17123 Avatar refactor, move avatar code from `models` to `models.avatars`, remove duplicated code
  integrations/user_avatar_test.go
  models/avatar.go
  models/avatars/avatar.go
  models/avatars/avatar_test.go
  models/user_avatar.go
  modules/httpcache/httpcache.go
  modules/httpcache/httpcache_test.go
  modules/repository/commits.go
  modules/templates/helper.go
  routers/web/repo/issue.go
  routers/web/user/avatar.go
  routers/web/web.go
  services/auth/sspi_windows.go
  templates/base/head.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: lgtm/done, kind/refactor

#17234 CI: switch from 'plugins/s3:1' to 'woodpeckerci/plugin-s3:latest'
  .drone.yml
Labels: lgtm/done, kind/build, backport/v1.15

#17235 fix navbar ui
  templates/base/head_navbar.tmpl
Labels: kind/bug, kind/ui, lgtm/done, kind/regression

#17487 Quote the table name in CountOrphanedObjects
  models/consistency.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#17486 Run Migrate in Install rather than just SyncTables (#17475)
  models/models.go
  routers/install/install.go
Labels: kind/bug, lgtm/done

#17488 Quote the table name in CountOrphanedObjects (#17487)
  models/consistency.go
Labels: kind/bug, lgtm/done

#17481 Rename db Engines related functions
  cmd/cmd.go
  cmd/doctor.go
  cmd/dump.go
  cmd/migrate.go
  cmd/migrate_storage.go
  contrib/pr/checkout.go
  integrations/migration-test/migration_test.go
  models/db/engine.go
  models/migrations/migrations_test.go
  modules/doctor/dbconsistency.go
  modules/doctor/dbversion.go
  modules/doctor/doctor.go
  routers/common/db.go
  routers/install/install.go
Labels: lgtm/done, kind/refactor

#17459 Properly determine CSV delimiter
  modules/csv/csv.go
  modules/csv/csv_test.go
  modules/markup/csv/csv.go
  routers/web/repo/compare.go
  services/gitdiff/csv_test.go
Labels: kind/enhancement, lgtm/done

#17498 Stop double encoding blame commit messages
  routers/web/repo/blame.go
Labels: kind/bug, lgtm/done, backport/v1.15

#17500 Stop double encoding blame commit messages (#17498)
  routers/web/repo/blame.go
Labels: kind/bug, lgtm/done
