Repository go-gitea/gitea, pull requests merged in 2022-09, with the labels that each got.

#21022 Update a few go dependencies
  go.mod
  go.sum
  services/webhook/dingtalk.go
Labels: lgtm/done, dependencies

#21025 Include go.mod in gomod-check and rename to tidy-check
  Makefile
Labels: lgtm/done, kind/lint, skip-changelog

#20987 Support Issue forms and PR forms
  docs/.gitignore
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  docs/content/doc/usage/merge-message-templates.en-us.md
  modules/context/repo.go
  modules/issue/template/template.go
  modules/issue/template/template_test.go
  modules/issue/template/unmarshal.go
  modules/markup/markdown/meta_test.go
  modules/structs/issue.go
  options/locale/locale_en-US.ini
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  templates/base/alert.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/issue/choose.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/fields/checkboxes.tmpl
  templates/repo/issue/fields/dropdown.tmpl
  templates/repo/issue/fields/header.tmpl
  templates/repo/issue/fields/input.tmpl
  templates/repo/issue/fields/markdown.tmpl
  templates/repo/issue/fields/textarea.tmpl
  templates/repo/issue/new.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/features/comp/EasyMDE.js
  web_src/js/features/repo-legacy.js
  web_src/less/_base.less
  web_src/less/codemirror/base.less
  web_src/less/features/dropzone.less
Labels: kind/feature, lgtm/done

#21028 Add me to maintainers
  MAINTAINERS
Labels: lgtm/done

#21032 Fix modified due date message (#20388)
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/comments.tmpl
Labels: lgtm/done

#20992 Fix the quick-submit for pending review comment
  templates/repo/diff/comment_form.tmpl
Labels: lgtm/done

#21017 Add Dev, Peer and Optional dependencies to npm PackageMetadataVersion
  routers/api/packages/npm/api.go
Labels: kind/bug, kind/enhancement, lgtm/done, theme/package-registry, backport/v1.17

#20923 Show language name on hover
  templates/repo/sub_menu.tmpl
  web_src/js/modules/tippy.js
Labels: kind/enhancement, kind/ui, lgtm/done

#20577 Do not add links to Posters or Assignees with ID < 0
  templates/org/team/teams.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/shared/user/authorlink.tmpl
  templates/shared/user/avatarlink.tmpl
  templates/shared/user/namelink.tmpl
Labels: kind/bug, lgtm/done, backport/v1.17

#21016 Add down key check has tribute container
  web_src/js/features/comp/EasyMDE.js
Labels: lgtm/done, kind/ux

#21037 Do not add links to Posters or Assignees with ID < 0 (#20577)
  templates/org/team/teams.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/shared/user/authorlink.tmpl
  templates/shared/user/avatarlink.tmpl
  templates/shared/user/namelink.tmpl
Labels: kind/bug, lgtm/done

#21038 Add down key check has tribute container (#21016)
  web_src/js/features/comp/EasyMDE.js
Labels: lgtm/done

#21039 Improve arc-green code theme
  web_src/less/chroma/dark.less
  web_src/less/chroma/light.less
Labels: kind/enhancement, kind/ui, lgtm/done, backport/v1.17

#20977 Delete unreferenced packages when deleting a package version
  models/packages/package.go
  models/packages/package_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#21033 Add another index for Action table on postgres
  models/activities/action.go
  models/migrations/v218.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21042 Improve arc-green code theme (#21039)
  web_src/less/chroma/dark.less
  web_src/less/chroma/light.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21027 Added docs for agit-setup
  docs/content/doc/usage/agit-support.en-us.md
Labels: kind/docs, lgtm/done

#21044 Add Dev, Peer and Optional dependencies to npm PackageMetadataVersion (#21017)
  routers/api/packages/npm/api.go
Labels: kind/bug, kind/enhancement, lgtm/done

#21034 Add go licenses to licenses.txt
  .drone.yml
  .gitignore
  Makefile
  assets/go-licenses.json
  build/generate-go-licenses.js
  webpack.config.js
Labels: lgtm/done, dependencies

#20961 Fill the specified ref in webhook test payload
  routers/api/v1/repo/hook.go
  routers/web/repo/webhook.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done, backport/v1.17

#21011 Add more checks in migration code
  models/activities/action.go
  modules/git/ref.go
  modules/git/repo_commit_nogogit.go
  modules/git/sha1.go
  modules/migration/pullrequest.go
  modules/migration/release.go
  modules/migration/repo.go
  modules/validation/binding.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/notes.go
  services/migrations/codebase.go
  services/migrations/common.go
  services/migrations/dump.go
  services/migrations/gitbucket.go
  services/migrations/gitea_downloader.go
  services/migrations/gitea_uploader.go
  services/migrations/gitea_uploader_test.go
  services/migrations/github.go
  services/migrations/gitlab.go
  services/migrations/gogs.go
  services/migrations/migrate.go
  services/migrations/onedev.go
  services/migrations/restore.go
  services/release/release.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21050 Add more checks in migration code (#21011)
  models/action.go
  modules/git/ref.go
  modules/git/repo_commit_nogogit.go
  modules/git/sha1.go
  modules/migration/pullrequest.go
  modules/migration/release.go
  modules/migration/repo.go
  modules/validation/binding.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/notes.go
  services/migrations/codebase.go
  services/migrations/common.go
  services/migrations/dump.go
  services/migrations/gitbucket.go
  services/migrations/gitea_downloader.go
  services/migrations/gitea_uploader.go
  services/migrations/gitea_uploader_test.go
  services/migrations/github.go
  services/migrations/gitlab.go
  services/migrations/gogs.go
  services/migrations/migrate.go
  services/migrations/onedev.go
  services/migrations/restore.go
  services/release/release.go
Labels: kind/bug, lgtm/done

#21053 fix broken insecureskipverify handling in rediss connection uris (#20967)
  modules/nosql/manager_redis.go
  modules/nosql/manager_redis_test.go
Labels: kind/bug, lgtm/done

#21052 Fix 500 on time tracking in timeline API
  modules/convert/issue_comment.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21054 Add another index for Action table on postgres (#21033)
  models/action.go
  models/migrations/v218.go
Labels: kind/bug, lgtm/done

#21055 Fill the specified ref in webhook test payload (#20961)
  routers/api/v1/repo/hook.go
  routers/web/repo/webhook.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#21057 Fix 500 on time in timeline API (#21052)
  modules/convert/issue_comment.go
Labels: kind/bug, lgtm/done

#20902 Set uploadpack.allowFilter etc on gitea serv to enable partial clones with ssh
  modules/git/git.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21043 test: use `T.TempDir` to create temporary test directory
  cmd/migrate_storage_test.go
  models/db/engine_test.go
  modules/git/commit_info_test.go
  modules/git/repo_compare_test.go
  modules/git/repo_tag_test.go
  modules/indexer/code/bleve_test.go
  modules/indexer/issues/bleve_test.go
  modules/indexer/issues/indexer_test.go
  modules/log/file_test.go
  modules/queue/queue_disk_channel_test.go
  modules/queue/queue_disk_test.go
  routers/web/repo/settings_test.go
  services/wiki/wiki_test.go
  tests/integration/api_repo_file_get_test.go
  tests/integration/api_repo_test.go
  tests/integration/create_no_session_test.go
  tests/integration/git_clone_wiki_test.go
  tests/integration/git_helper_for_declarative_test.go
  tests/integration/git_test.go
  tests/integration/gpg_git_test.go
  tests/integration/lfs_local_endpoint_test.go
  tests/integration/migrate_test.go
  tests/integration/repo_tag_test.go
  tests/integration/ssh_key_test.go
Labels: lgtm/done, kind/testing

#21058 Set uploadpack.allowFilter etc on gitea serv to enable partial clones with ssh (#20902)
  modules/git/git.go
Labels: kind/bug, lgtm/done

#21059 Redirect if user does not exist on admin pages (#20981)
  routers/web/admin/users.go
Labels: kind/bug, lgtm/done

#21060 Delete unreferenced packages when deleting a package version (#20977)
  models/packages/package.go
  models/packages/package_test.go
Labels: kind/bug, lgtm/done

#20219 Webhook for Wiki changes
  models/webhook/hooktask.go
  models/webhook/webhook.go
  models/webhook/webhook_test.go
  modules/notification/base/notifier.go
  modules/notification/base/null.go
  modules/notification/notification.go
  modules/notification/webhook/webhook.go
  modules/structs/hook.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/wiki.go
  routers/api/v1/utils/hook.go
  routers/web/repo/webhook.go
  routers/web/repo/wiki.go
  services/forms/repo_form.go
  services/webhook/dingtalk.go
  services/webhook/dingtalk_test.go
  services/webhook/discord.go
  services/webhook/discord_test.go
  services/webhook/feishu.go
  services/webhook/feishu_test.go
  services/webhook/general.go
  services/webhook/general_test.go
  services/webhook/matrix.go
  services/webhook/matrix_test.go
  services/webhook/msteams.go
  services/webhook/msteams_test.go
  services/webhook/packagist.go
  services/webhook/packagist_test.go
  services/webhook/payloader.go
  services/webhook/slack.go
  services/webhook/slack_test.go
  services/webhook/telegram.go
  services/webhook/telegram_test.go
  services/webhook/wechatwork.go
  services/wiki/wiki.go
  templates/repo/settings/webhook/settings.tmpl
  templates/repo/wiki/new.tmpl
Labels: kind/enhancement, lgtm/done, theme/webhook

#21061 Move go-licenses to generate and separate generate into a frontend and backend component
  Makefile
  modules/charset/ambiguous/generate.go
  modules/charset/invisible/generate.go
  services/migrations/dump.go
  templates/repo/sub_menu.tmpl
  tests/integration/compare_test.go
  tests/integration/cors_test.go
  tests/integration/nonascii_branches_test.go
  tests/integration/pull_compare_test.go
  tests/integration/pull_create_test.go
  tests/integration/repo_commits_search_test.go
  tests/integration/view_test.go
Labels: lgtm/done, kind/build, skip-changelog

#21071 Update curl usage in API docs
  docs/content/doc/developers/api-usage.en-us.md
  docs/content/doc/developers/api-usage.zh-cn.md
Labels: kind/docs, lgtm/done

#21074 Remove insecure flag from curl
  docs/content/doc/developers/api-usage.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#21067 Fix delete user missed some comments
  models/user.go
Labels: kind/bug, lgtm/done, backport/done, skip-changelog, backport/v1.17

#21079 Add missing volume to test-e2e
  .drone.yml
Labels: lgtm/done, kind/testing, skip-changelog

#21068 Fix delete user missed some comments (#21067)
  models/packages/package_test.go
  models/user.go
Labels: kind/bug, lgtm/done

#21051 Fix hard-coded timeout and error panic in API archive download endpoint (#20925)
  cmd/migrate_storage.go
  models/repo.go
  models/repo/archiver.go
  modules/timeutil/timestamp.go
  routers/api/v1/repo/file.go
  routers/web/repo/repo.go
  services/repository/archiver/archiver.go
Labels: kind/enhancement, lgtm/done

#21069 Fix sub folder in repository missing add file dropdown
  templates/repo/home.tmpl
Labels: lgtm/done, backport/v1.17

#21083 Fix sub folder in repository missing add file dropdown (#21069)
  templates/repo/home.tmpl
Labels: lgtm/done

#21089 Add changelog for v1.17.2
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#21097 Bump playwright test image to match version in package.json
  .drone.yml
Labels: lgtm/done

#21102 Add MD5 back to template helper functions to avoid breaking
  modules/templates/helper.go
Labels: lgtm/done

#21101 Upgrade the document about how to collect logs for systemd and docker
  docs/content/doc/advanced/logging-documentation.en-us.md
  docs/content/doc/help/faq.en-us.md
  docs/content/doc/help/seek-help.en-us.md
Labels: kind/docs, lgtm/done

#21030 Update docs issue-pull-request-templates.zh-cn.md
  docs/content/doc/usage/issue-pull-request-templates.zh-cn.md
Labels: kind/docs, lgtm/done

#21103 Fix various typos
  docs/content/doc/installation/windows-service.en-us.md
  models/activities/repo_activity.go
  models/packages/package_test.go
  models/repo/repo.go
  modules/packages/vagrant/metadata.go
  options/gitignore/Bazel
  routers/web/repo/view.go
  templates/repo/diff/compare.tmpl
  templates/repo/issue/new.tmpl
  tests/integration/pull_status_test.go
Labels: lgtm/done, kind/lint, skip-changelog

#21095 Allow uppercase ASCII alphabet in PyPI package names
  routers/api/packages/pypi/pypi.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#21078 Rewrite go license generator in go
  .drone.yml
  Makefile
  assets/go-licenses.json
  build/generate-go-licenses.go
  build/generate-go-licenses.js
  webpack.config.js
Labels: lgtm/done, dependencies, skip-changelog

#21111 Fix pagination limit parameter problem
  routers/web/repo/commit.go
Labels: kind/bug, lgtm/done

#21109 Fix pagination limit parameter problem
  routers/web/repo/commit.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17

#21117 Fix typo of issue template name
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  docs/content/doc/usage/issue-pull-request-templates.zh-cn.md
  routers/web/repo/issue.go
Labels: lgtm/done

#20557 Make the vscode clone link respect transport protocol
  templates/repo/clone_script.tmpl
  templates/repo/home.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, backport/v1.17

#21108 Generate go-licenses during tidy again
  .drone.yml
  Makefile
  assets/go-licenses.json
  build/generate-go-licenses.go
Labels: kind/bug, lgtm/done, kind/build, skip-changelog

#21084 Allow poster to choose reviewers
  routers/web/repo/issue.go
  services/issue/assignee.go
Labels: kind/enhancement, lgtm/done

#21127 Center-aligning content of WebAuthN page
  templates/user/auth/webauthn.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#21124 Improve commit status icons
  templates/repo/commit_statuses.tmpl
  web_src/js/features/repo-commit.js
  web_src/js/modules/tippy.js
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21139 chore(security): Support Go Vulnerability Management
  .drone.yml
  Makefile
Labels: kind/security, lgtm/done

#21142 Fix PlantUML example in document
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done

#21144 Update JS dependencies and lint
  .eslintrc.yaml
  package-lock.json
  package.json
  public/img/svg/octicon-accessibility-inset.svg
  public/img/svg/octicon-shield-slash.svg
Labels: lgtm/done, dependencies

#21088 Show .editorconfig errors in frontend
  routers/web/repo/view.go
  templates/repo/view_file.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#21145 Remove fomantic image module
  modules/templates/helper.go
  templates/base/head_navbar.tmpl
  templates/repo/issue/view_content/attachments.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/tags.tmpl
  templates/status/404.tmpl
  templates/status/500.tmpl
  tests/e2e/example.test.e2e.js
  tests/e2e/utils_e2e.js
  web_src/fomantic/build/semantic.css
  web_src/fomantic/semantic.json
  web_src/less/_base.less
  web_src/less/_explore.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/features/gitgraph.less
Labels: kind/ui, lgtm/done, kind/refactor

#21137 Make labels clickable in the comments section.
  modules/templates/helper.go
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#21070 Use form for admin purge user
  templates/admin/user/edit.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#21035 Update docs comparison.zh-cn.md
  docs/content/doc/features/comparison.zh-cn.md
Labels: kind/docs, lgtm/done

#20571 Add KaTeX rendering to Markdown.
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/external-renderers.en-us.md
  docs/content/doc/features/comparison.en-us.md
  docs/content/page/index.en-us.md
  go.mod
  modules/markup/markdown/convertyaml.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/math/block_node.go
  modules/markup/markdown/math/block_parser.go
  modules/markup/markdown/math/block_renderer.go
  modules/markup/markdown/math/inline_node.go
  modules/markup/markdown/math/inline_parser.go
  modules/markup/markdown/math/inline_renderer.go
  modules/markup/markdown/math/math.go
  modules/markup/markdown/meta.go
  modules/markup/markdown/meta_test.go
  modules/markup/markdown/renderconfig.go
  modules/markup/markdown/renderconfig_test.go
  modules/markup/sanitizer.go
  modules/setting/setting.go
  package-lock.json
  package.json
  web_src/js/markup/content.js
  web_src/js/markup/math.js
  web_src/less/animations.less
  webpack.config.js
Labels: kind/feature, lgtm/done

#21154 Skip dirty check for team forms
  templates/org/team/members.tmpl
  templates/org/team/repositories.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#21136 Sort branches and tags by date descending
  modules/git/repo_branch_nogogit.go
  modules/git/repo_branch_test.go
  modules/git/repo_tag_nogogit.go
Labels: kind/enhancement, lgtm/done

#21152 Use correct branch for .editorconfig error
  routers/web/repo/view.go
Labels: lgtm/done, skip-changelog

#21170 Display image digest for container packages
  options/locale/locale_en-US.ini
  templates/package/content/container.tmpl
Labels: kind/enhancement, lgtm/done, theme/package-registry

#21153 Keep path when creating a new branch
  routers/web/repo/branch.go
  services/forms/repo_branch_form.go
  templates/repo/branch_dropdown.tmpl
Labels: kind/enhancement, lgtm/done

#21175 File header tweaks
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21119 Limit length of repo description and repo url input fields
  modules/structs/repo.go
  services/forms/repo_form.go
  templates/repo/settings/options.tmpl
Labels: kind/enhancement, lgtm/done, kind/ux

#21156 Show label description in comments section
  modules/templates/helper.go
Labels: lgtm/done

#21189 Fix CSV diff for added/deleted files
  routers/web/repo/compare.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/csv_diff.tmpl
Labels: kind/bug, lgtm/done

#21193 Fix CSV diff for added/deleted files (#21189)
  routers/web/repo/compare.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/csv_diff.tmpl
Labels: kind/bug, lgtm/done

#21185 Fix reaction of issues
  models/issues/reaction.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21195 Treat git object mode 40755 as directory
  modules/git/parse_nogogit.go
Labels: kind/bug, lgtm/done

#21194 Remove unnecessary length check for repo's Description & Website
  modules/repository/create.go
Labels: lgtm/done, kind/refactor, skip-changelog

#21196 Fix reaction of issues (#21185)
  models/issues/reaction.go
Labels: kind/bug, lgtm/done

#21201 Fix typo
  cmd/serv.go
Labels: lgtm/done

#21204 [API] teamSearch show teams with no members if user is admin
  build/generate-go-licenses.go
  models/organization/team.go
  modules/markup/markdown/meta.go
  modules/markup/markdown/renderconfig.go
  routers/api/v1/org/team.go
  tests/integration/api_org_test.go
Labels: lgtm/done, kind/api, kind/regression

#21178 Enable fluid page layout on medium size viewports
  web_src/less/_base.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21215 Clarify that `ENABLE_SWAGGER` only influences the API docs, not the routes
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
  docs/content/doc/help/faq.en-us.md
Labels: lgtm/done

#21209 Fix template bug of admin monitor
  templates/admin/queue.tmpl
Labels: kind/bug, lgtm/done

#21208 Fix template bug of admin monitor
  templates/admin/queue.tmpl
Labels: kind/bug, lgtm/done, backport/done, skip-changelog, backport/v1.17

#21210 Fix user visible check
  models/fixtures/access.yml
  models/fixtures/follow.yml
  models/fixtures/org_user.yml
  models/fixtures/team.yml
  models/fixtures/team_user.yml
  models/fixtures/user.yml
  models/user/user.go
  models/user/user_test.go
  tests/integration/api_nodeinfo_test.go
Labels: kind/bug, kind/security, lgtm/done, backport/done, backport/v1.17

#21212 Fix limited user cannot view himself's profile
  models/user/user.go
Labels: kind/bug, lgtm/done

#21217 Allow uppercase ASCII alphabet in PyPI package names (#21095)
  routers/api/packages/pypi/pypi.go
Labels: kind/bug, lgtm/done, theme/package-registry

#21106 Configure golangci-lint to show all issues
  .golangci.yml
Labels: lgtm/done, kind/lint, skip-changelog

#21128 Make the vscode clone link respect transport protocol (#20557)
  templates/repo/clone_script.tmpl
  templates/repo/home.tmpl
Labels: kind/enhancement, lgtm/done

#21218 Treat git object mode 40755 as directory (#21195)
  modules/git/parse_nogogit.go
Labels: kind/bug, lgtm/done

#20873 Respect `REQUIRE_SIGNIN_VIEW` for packages
  modules/context/package.go
  tests/integration/api_packages_generic_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#21230 Prevent invalid behavior for file reviewing when loading more files
  assets/go-licenses.json
  templates/repo/diff/box.tmpl
  tests/e2e/e2e_test.go
  web_src/less/_review.less
Labels: kind/bug, lgtm/done, backport/v1.17

#21229 Use absolute links in feeds
  models/activities/action.go
  models/activities/action_test.go
  routers/web/feed/convert.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21239 Use Go 1.19 fmt for Gitea 1.17, sync emoji data
  Makefile
  assets/emoji.json
  build/generate-emoji.go
  modules/avatar/identicon/block.go
  modules/context/repo.go
  modules/csv/csv_test.go
  modules/emoji/emoji_data.go
  modules/git/foreachref/parser.go
  modules/git/signature_gogit.go
  modules/git/signature_nogogit.go
  modules/log/file.go
  modules/log/smtp.go
  modules/markup/mdstripper/mdstripper.go
  modules/pprof/pprof.go
  modules/repository/repo.go
  modules/util/string.go
  routers/api/v1/api.go
  routers/api/v1/repo/git_ref.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/email.go
  services/migrations/dump.go
  services/migrations/gitea_downloader.go
  services/migrations/gitlab.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, kind/build

#21234 Prevent invalid behavior for file reviewing when loading more files (#21230)
  templates/repo/diff/box.tmpl
  web_src/less/_review.less
Labels: kind/bug, lgtm/done

#21244 Various CSS tweaks
  web_src/fomantic/theme.config.less
  web_src/less/_base.less
  web_src/less/_form.less
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21232 Respect `REQUIRE_SIGNIN_VIEW` for packages (#20873)
  integrations/api_packages_generic_test.go
  modules/context/package.go
Labels: kind/bug, lgtm/done, theme/package-registry

#21226 Make Clone in VSCode link get updated correctly (#21225)
  templates/repo/clone_script.tmpl
  templates/repo/home.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#20623 Added search input field to issue filter
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#20280 NPM Package Registry search API endpoint
  docs/content/doc/packages/npm.en-us.md
  modules/packages/npm/creator.go
  routers/api/packages/api.go
  routers/api/packages/npm/api.go
  routers/api/packages/npm/npm.go
  tests/integration/api_packages_npm_test.go
Labels: lgtm/done, theme/package-registry

#21198 Save files in local storage as group readable
  modules/storage/local.go
  modules/util/file_unix.go
  modules/util/file_unix_test.go
  modules/util/file_windows.go
Labels: kind/enhancement, lgtm/done

#21242 Make NuGet service index publicly accessible
  routers/api/packages/api.go
  tests/integration/api_packages_nuget_test.go
Labels: kind/bug, kind/security, lgtm/done, theme/package-registry, backport/v1.17

#21200 Use en-US as fallback when using other default language
  modules/translation/i18n/i18n.go
  modules/translation/i18n/i18n_test.go
  modules/translation/i18n/localestore.go
  modules/translation/translation.go
Labels: kind/enhancement, lgtm/done, backport/v1.17

#20980 Use native inputs in whitespace dropdown
  templates/repo/diff/whitespace_dropdown.tmpl
  web_src/less/helpers.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21256 Use en-US as fallback when using other default language (#21200)
  modules/translation/i18n/i18n.go
  modules/translation/i18n/i18n_test.go
  modules/translation/translation.go
Labels: kind/enhancement, lgtm/done

#21261 Typo in config-cheat-sheet
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: lgtm/done

#21259 Upgrade chroma to v2.3.0
  go.mod
  go.sum
  modules/highlight/highlight.go
  modules/markup/markdown/markdown.go
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
  services/gitdiff/highlightdiff_test.go
Labels: lgtm/done, dependencies

#21246 Add author search input
  templates/repo/issue/list.tmpl
Labels: lgtm/done

#21265 Use absolute links in feeds (#21229)
  models/action.go
  models/action_test.go
  routers/web/feed/convert.go
Labels: kind/bug, lgtm/done

#21012 Add filetree on left of diff view
  templates/repo/commit_page.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/diff/options_dropdown.tmpl
  templates/repo/pulls/files.tmpl
  web_src/js/components/DiffFileList.vue
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/DiffFileTreeItem.vue
  web_src/js/features/repo-diff-filetree.js
  web_src/js/features/repo-diff.js
  web_src/js/index.js
  web_src/js/svg.js
  web_src/less/_repository.less
Labels: kind/feature, kind/ui, lgtm/done

#21251 Fix empty container layer history and UI
  modules/packages/container/metadata.go
  templates/package/content/container.tmpl
  web_src/less/_package.less
  web_src/less/index.less
Labels: kind/bug, kind/ui, lgtm/done, theme/package-registry, backport/v1.17

#21130 Better repo API unit checks
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  templates/swagger/v1_json.tmpl
  tests/e2e/e2e_test.go
Labels: kind/enhancement, lgtm/done, kind/api

#21269 Feature: Case-insensitive "find files in repo"
  web_src/js/utils.js
  web_src/js/utils.test.js
Labels: kind/enhancement, kind/ui, lgtm/done

#20043 Do not allow organisation owners add themselves as collaborator
  options/locale/locale_en-US.ini
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done

#19949 Add support for authentication based on reverse proxy email
  services/auth/reverseproxy.go
Labels: kind/enhancement, lgtm/done

#21281 Update bluemonday
  go.mod
  go.sum
Labels: kind/security, lgtm/done, dependencies, backport/v1.17

#21260 Consolidate more CSS rules, fix inline code on arc-green
  web_src/less/_base.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21287 Update bluemonday (#21281)
  go.mod
  go.sum
Labels: kind/security, lgtm/done, dependencies

#21292 Improve error descriptions for unauthorized_client
  routers/web/auth/oauth.go
Labels: kind/enhancement, lgtm/done

#21293 Ignore port for loopback redirect URIs
  models/auth/oauth2.go
  models/auth/oauth2_test.go
Labels: kind/enhancement, lgtm/done

#21177 Add API endpoint to get changed files of a PR
  models/fixtures/pull_request.yml
  modules/convert/convert.go
  modules/structs/pull.go
  routers/api/v1/api.go
  routers/api/v1/repo/pull.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_pull_test.go
Labels: kind/feature, lgtm/done, kind/api

#21270 Add name field for org api
  modules/convert/convert.go
  modules/structs/org.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_admin_org_test.go
  tests/integration/api_org_test.go
  tests/integration/api_user_orgs_test.go
Labels: lgtm/done, kind/api

#21289 Check if email is used when updating user
  models/user/user.go
  models/user/user_test.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21297 Fix the hook related FAQ contents
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done

#17156 Add pages to view watched repos and subscribed issues/PRs
  models/issues/issue.go
  options/locale/locale_en-US.ini
  routers/web/user/notification.go
  routers/web/web.go
  templates/base/head_navbar.tmpl
  templates/user/notification/notification_subscriptions.tmpl
Labels: kind/feature, lgtm/done
