Repository go-gitea/gitea, pull requests merged in 2022-02, with the labels that each got.

#18504 Use `ImagedProvider` for gplus oauth2 provider
  services/auth/source/oauth2/providers_simple.go
Labels: lgtm/done, backport/done, kind/regression, backport/v1.16

#18505 Use `ImagedProvider` for gplus oauth2 provider (#18504)
  services/auth/source/oauth2/providers_simple.go
Labels: kind/bug, lgtm/done

#18511 Remove go 1.15 support
  modules/git/command.go
  modules/git/git.go
Labels: kind/enhancement, lgtm/done

#18487 Fix for AvatarURL database type
  models/user/external_login_user.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18496 Use "read" value for General Access
  templates/org/team/new.tmpl
Labels: lgtm/done, backport/done, kind/regression, backport/v1.16

#18437 Fix non-ASCII search on database
  models/issue.go
  modules/util/util.go
  modules/util/util_test.go
Labels: kind/bug, kind/enhancement, lgtm/done

#18526 Add gitea-fmt back
  Makefile
  modules/queue/queue_channel_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#18506 add test coverage for original author conversion during migrations
  models/fixtures/external_login_user.yml
  models/issue.go
  models/issue_comment.go
  models/issue_reaction.go
  models/release.go
  models/review.go
  models/user/external_login_user.go
  modules/migration/comment.go
  modules/migration/issue.go
  modules/migration/pullrequest.go
  modules/migration/reaction.go
  modules/migration/release.go
  modules/migration/review.go
  services/migrations/gitea_uploader.go
  services/migrations/gitea_uploader_test.go
Labels: lgtm/done, kind/testing, kind/refactor

#18389 Update JS dependencies, fix lint
  package-lock.json
  package.json
  web_src/less/_repository.less
  web_src/less/_svg.less
  web_src/less/features/heatmap.less
  web_src/less/standalone/swagger.less
Labels: kind/security, lgtm/done, dependencies, backport/v1.16

#18502 Fix review excerpt
  templates/repo/diff/blob_excerpt.tmpl
  web_src/js/features/repo-issue.js
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done, backport/v1.16

#18499 Add `GetUserTeams`
  models/org_team.go
  models/org_team_test.go
  modules/repository/create_test.go
  routers/api/v1/org/team.go
  routers/web/org/teams.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18524 fix(docker/rootless): use $GITEA_APP_INI if provided
  docker/rootless/usr/local/bin/gitea
Labels: kind/bug, lgtm/done, backport/v1.16

#18500 Use "read" value for General Access (#18496)
  templates/org/team/new.tmpl
Labels: lgtm/done, kind/regression

#18534 Update 1.16.0 changelog to set #17846 as breaking (#18533)
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#18533 Update 1.16.0 changelog to set #17846 as breaking
  CHANGELOG.md
Labels: kind/docs, lgtm/done, backport/done, skip-changelog, backport/v1.16

#18535 In docker rootless use $GITEA_APP_INI if provided (#18524)
  docker/rootless/usr/local/bin/gitea
Labels: kind/bug, lgtm/done

#18529 Fix for AvatarURL database type (#18487)
  models/user/external_login_user.go
Labels: kind/bug, lgtm/done

#18536 Detect conflicts with 3way merge
  services/pull/patch.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#18530 Fix review excerpt (#18502)
  templates/repo/diff/blob_excerpt.tmpl
  web_src/js/features/repo-issue.js
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done

#18531 Add `GetUserTeams` (#18499)
  models/org_team.go
  models/org_team_test.go
  modules/repository/create_test.go
  routers/api/v1/org/team.go
  routers/web/org/teams.go
Labels: kind/bug, lgtm/done

#18540 Update JS dependencies, fix lint (#18389)
  package-lock.json
  package.json
  web_src/less/_repository.less
  web_src/less/_svg.less
  web_src/less/features/heatmap.less
  web_src/less/standalone/swagger.less
Labels: kind/security, lgtm/done

#18539 Collaborator trust model should trust collaborators
  models/asymkey/gpg_key_commit_verification.go
  models/commit.go
  modules/gitgraph/graph_models.go
  routers/web/repo/commit.go
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18537 Detect conflicts with 3way merge (#18536)
  services/pull/patch.go
Labels: kind/bug, lgtm/done

#18564 Add dropdown icon to label set template dropdown
  templates/repo/issue/labels/label_load_template.tmpl
Labels: kind/ui, lgtm/done, backport/v1.16

#18551 Make docker gitea/gitea:v1.16-dev etc refer to the latest build on that branch
  .drone.yml
  docker/manifest.rootless.tmpl
  docker/manifest.tmpl
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: lgtm/done, theme/docker, backport/v1.16

#18573 Fix manifest.tmpl
  docker/manifest.tmpl
Labels: kind/bug, lgtm/need 2, skip-changelog

#18571 Add dropdown icon to label set template dropdown (#18564)
  templates/repo/issue/labels/label_load_template.tmpl
Labels: lgtm/done

#18562 Prevent panic on prohibited user login with oauth2
  routers/web/auth/oauth.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#18569 Make docker gitea/gitea:v1.16-dev etc refer to the latest build on that branch (#18551)
  .drone.yml
  docker/manifest.rootless.tmpl
  docker/manifest.tmpl
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: lgtm/done, kind/build, theme/docker

#18563 Prevent panic on prohibited user login with oauth2 (#18562)
  routers/web/auth/oauth.go
Labels: kind/bug, lgtm/done

#18575 Make docker gitea/gitea:v1.15-dev etc refer to the latest build on that branch (#18551) (#18569)
  .drone.yml
  docker/manifest.rootless.tmpl
  docker/manifest.tmpl
Labels: lgtm/done, kind/build, skip-changelog

#18557 Collaborator trust model should trust collaborators (#18539)
  models/asymkey/gpg_key_commit_verification.go
  models/commit.go
  modules/gitgraph/graph_models.go
  routers/web/repo/commit.go
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done

#18580 Fix pushing to 1-x-dev docker tag (#18578)
  docker/manifest.rootless.tmpl
  docker/manifest.tmpl
Labels: kind/build, skip-changelog

#18584 Replace `sync.Map` with normal maps
  services/migrations/gitea_uploader.go
Labels: lgtm/done

#18578 Fix pushing to 1-x-dev docker tag
  .drone.yml
  docker/manifest.rootless.tmpl
  docker/manifest.tmpl
Labels: lgtm/done, backport/done, kind/build, skip-changelog, backport/v1.15, backport/v1.16

#18579 Fix pushing to 1-x-dev docker tag (#18578)
  .drone.yml
  docker/manifest.rootless.tmpl
  docker/manifest.tmpl
Labels: kind/build, skip-changelog

#18566 Prevent merge messages from being sorted to the top of email chains
  services/mailer/mail.go
  services/mailer/mail_test.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18588 Prevent merge messages from being sorted to the top of email chains (#18566)
  services/mailer/mail.go
  services/mailer/mail_test.go
Labels: kind/bug, lgtm/done

#18605 Remove the spurious space in the .ui.right additional selector
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done, skip-changelog

#18439 Use `CryptoRandomBytes` instead of `CryptoRandomString`
  integrations/api_oauth2_apps_test.go
  models/auth/oauth2.go
  modules/secret/secret.go
  modules/secret/secret_test.go
Labels: kind/enhancement, kind/security, lgtm/done

#18606 Ensure commit-statuses box is sized correctly in headers (#18538)
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done

#18587 Ensure that blob-excerpt links work for wiki
  routers/web/repo/compare.go
  routers/web/web.go
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, lgtm/done, theme/wiki, backport/v1.16

#18622 quote MAKE to prevent path expansion with space error
  Makefile
Labels: kind/bug, lgtm/done

#18619 Backport some unit test fixes (#18451 & #18447)
  integrations/api_helper_for_declarative_test.go
Labels: lgtm/done, kind/testing, skip-changelog

#18593 Only attempt to flush queue if the underlying worker pool is not finished
  modules/queue/manager.go
  modules/queue/workerpool.go
Labels: kind/bug, lgtm/need 2, backport/done, backport/v1.16

#18624 Ensure that blob-excerpt links work for wiki (#18587)
  routers/web/repo/compare.go
  routers/web/web.go
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, lgtm/done

#18620 Only attempt to flush queue if the underlying worker pool is not finished (#18593)
  modules/queue/manager.go
  modules/queue/queue_disk_channel.go
  modules/queue/workerpool.go
Labels: kind/bug, lgtm/done

#18626 Stop logging an error when notes are not found
  modules/git/notes_gogit.go
  modules/git/notes_nogogit.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18604 preserve users if restoring a repository on the same Gitea instance
  integrations/dump_restore_test.go
  models/user/user.go
  services/migrations/gitea_uploader.go
  services/migrations/gitea_uploader_test.go
Labels: kind/bug, lgtm/done, performance/speed, theme/migration

#18635 Stop logging an error when notes are not found (#18626)
  modules/git/notes_gogit.go
  modules/git/notes_nogogit.go
Labels: kind/bug, lgtm/done

#18630 comments on migrated issues/prs must link to the comment ID
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, lgtm/done, backport/done, theme/migration, backport/v1.16

#18637 comments on migrated issues/prs must link to the comment ID (#18630)
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, lgtm/done, theme/migration

#18638 Pass correct context
  models/user/user.go
Labels: lgtm/done, skip-changelog

#18614 Add changelog for v1.16.1
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#18615 Frontport of changelog for v1.16.1
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#18633 Fix `make fmt` and `make fmt-check`
  Makefile
  build/code-batch-process.go
  build/codeformat/formatimports.go
  services/mailer/mail_test.go
Labels: lgtm/done, skip-changelog

#18641 fix commits_list_small.tmpl
  templates/repo/commits_list_small.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#18636 Update JS dependencies
  package-lock.json
  package.json
  public/img/svg/octicon-accessibility.svg
  public/img/svg/octicon-apps.svg
  public/img/svg/octicon-feed-discussion.svg
  public/img/svg/octicon-feed-heart.svg
  public/img/svg/octicon-feed-person.svg
  public/img/svg/octicon-feed-repo.svg
  public/img/svg/octicon-feed-rocket.svg
  public/img/svg/octicon-feed-star.svg
  public/img/svg/octicon-feed-tag.svg
  public/img/svg/octicon-id-badge.svg
  public/img/svg/octicon-log.svg
  public/img/svg/octicon-repo-deleted.svg
  public/img/svg/octicon-tab-external.svg
  public/img/svg/octicon-webhook.svg
Labels: lgtm/done, dependencies

#18642 If rendering has failed due to a net.OpError stop rendering
  modules/context/context.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18286 Add `contrib/upgrade.sh`
  contrib/upgrade.sh
  docs/content/doc/upgrade/from-gitea.en-us.md
Labels: kind/docs, lgtm/done, kind/ux

#18644 update json-iterator
  go.mod
  go.sum
Labels: lgtm/done, dependencies

#18640 Update gitea-vet
  go.mod
  go.sum
Labels: lgtm/done, kind/lint

#18645 If rendering has failed due to a net.OpError stop rendering (#18642)
  modules/context/context.go
Labels: kind/bug, lgtm/done

#18646 Fix the missing i18n key for update checker
  modules/translation/translation.go
  options/locale/locale_en-US.ini
  services/cron/tasks.go
Labels: lgtm/done, kind/translation, backport/v1.16

#18653 No longer show the db-downgrade SQL in production
  models/migrations/migrations.go
Labels: lgtm/done, backport/done, skip-changelog, backport/v1.16

#18654 Backport: No longer show the db-downgrade SQL in production (#18653)
  .gitignore
  models/migrations/migrations.go
Labels: lgtm/done, skip-changelog

#18591 remove redundant call to UpdateRepoStats during migration
  models/migrate.go
  models/migrate_test.go
Labels: kind/enhancement, lgtm/done, performance/speed, theme/migration

#17752 Be more lenient with label colors
  models/issue_label.go
  models/issue_label_test.go
  services/forms/repo_form.go
Labels: lgtm/done

#17584 Add separate SSH_USER config option
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/repo_test.go
  models/repo/repo.go
  models/repo/wiki_test.go
  models/unittest/testdb.go
  modules/setting/setting.go
Labels: kind/proposal, lgtm/done, kind/breaking

#18657 Only request write when necessary
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#18648 Refactor i18n, use Locale to provide i18n/translation related functions
  modules/context/context.go
  modules/translation/translation.go
  routers/install/install.go
  routers/web/repo/blame.go
  routers/web/repo/issue_content_history.go
  templates/admin/process-row.tmpl
  templates/base/footer_content.tmpl
  templates/base/head.tmpl
  templates/repo/activity.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/projects/view.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/lfs.tmpl
  templates/repo/settings/lfs_file_find.tmpl
  templates/repo/settings/lfs_locks.tmpl
  templates/repo/view_list.tmpl
  templates/repo/wiki/pages.tmpl
  templates/repo/wiki/revision.tmpl
  templates/repo/wiki/view.tmpl
  templates/shared/issuelist.tmpl
  templates/user/dashboard/milestones.tmpl
  templates/user/settings/security/webauthn.tmpl
Labels: lgtm/done, kind/refactor

#18340 Support custom ACME provider
  cmd/web.go
  cmd/web_acme.go
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/usage/https-support.md
  modules/setting/setting.go
Labels: kind/feature, lgtm/done, kind/breaking

#15566 Added auto-save whitespace behavior if it changed manually
  models/user/setting_keys.go
  routers/web/repo/middlewares.go
  services/gitdiff/gitdiff.go
  templates/repo/diff/whitespace_dropdown.tmpl
Labels: kind/feature, lgtm/done

#18665 Backport: fix the missing i18n key for update checker (#18646)
  options/locale/locale_en-US.ini
Labels: lgtm/done

#18658 Restart zero worker if there is still work to do
  modules/queue/workerpool.go
  services/mirror/mirror.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18669 update the comparison documents
  docs/content/doc/features/comparison.en-us.md
  docs/content/doc/features/comparison.zh-cn.md
Labels: kind/docs, lgtm/done

#18673 Simplify Boost/Pause logic
  modules/queue/workerpool.go
Labels: kind/enhancement, lgtm/done, skip-changelog

#18675 Let `MinUnitAccessMode` return correct perm
  models/unit/unit.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18672 Restart zero worker if there is still work to do (#18658)
  modules/queue/workerpool.go
  services/mirror/mirror.go
Labels: kind/bug, lgtm/done

#18678 Prevent security failure due to bad APP_ID
  modules/setting/setting.go
  web_src/js/features/user-auth-webauthn.js
Labels: kind/bug, lgtm/done, backport/v1.16

#18684 Code Indexer is not updated when migrating a repository using the API
  routers/api/v1/repo/migrate.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18671 C preprocessor colors improvement
  web_src/less/chroma/dark.less
  web_src/less/chroma/light.less
Labels: kind/ui, lgtm/done, backport/v1.16

#18689 Let return correct perm (#18675)
  models/unit/unit.go
Labels: kind/bug, lgtm/done

#17902 Add apply-patch, basic revert and cherry-pick functionality
  modules/git/diff.go
  modules/structs/repo_file.go
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/patch.go
  routers/web/repo/cherry_pick.go
  routers/web/repo/patch.go
  routers/web/web.go
  services/forms/repo_form.go
  services/pull/patch.go
  services/repository/files/cherry_pick.go
  services/repository/files/patch.go
  templates/repo/branch_dropdown.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/editor/cherry_pick.tmpl
  templates/repo/editor/patch.tmpl
  templates/repo/home.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/components/RepoBranchTagDropdown.js
  web_src/js/features/common-global.js
  web_src/js/features/repo-branch.js
  web_src/js/features/repo-legacy.js
  web_src/less/_repository.less
Labels: kind/feature, lgtm/done

#18491 Disable unnecessary OpenID/OAuth2 elements
  routers/web/web.go
Labels: lgtm/done

#18696 C preprocessor colors improvement (#18671)
  web_src/less/chroma/dark.less
  web_src/less/chroma/light.less
Labels: lgtm/done

#18660 tests: remove redundant comparison in repo dump/restore
  integrations/dump_restore_test.go
Labels: lgtm/done, kind/testing

#18690 Fix issue with docker-rootless shimming script
  contrib/fhs-compliant-script/gitea
  docker/rootless/usr/local/bin/gitea
Labels: kind/bug, lgtm/done, backport/v1.16

#18699 Fix issue with docker-rootless shimming script (#18690)
  contrib/fhs-compliant-script/gitea
  docker/rootless/usr/local/bin/gitea
Labels: kind/bug, lgtm/done

#18682 Prevent security failure due to bad APP_ID (#18678)
  modules/setting/setting.go
  web_src/js/features/user-auth-webauthn.js
Labels: kind/bug, lgtm/done

#18700 Make the proformas clearer that we need DEBUG logs
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/ui.bug-report.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#18705 Fix bug for version update hint (#18701)
  options/locale/locale_en-US.ini
  options/locale/locale_zh-CN.ini
  templates/admin/dashboard.tmpl
Labels: kind/bug, lgtm/done

#18687 Attempt to improve docs (yet again)
  docs/content/doc/help/faq.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#18714 Prevent double encoding of branch names in delete branch
  templates/mail/issue/assigned.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done, backport/v1.16

#18713 Always set PullRequestWorkInProgressPrefixes in PrepareViewPullInfo
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18693 Change git.cmd to RunWithContext
  integrations/pull_merge_test.go
  modules/git/batch_reader.go
  modules/git/commit.go
  modules/git/diff.go
  modules/git/log_name_status.go
  modules/git/pipeline/catfile.go
  modules/git/pipeline/lfs_nogogit.go
  modules/git/pipeline/namerev.go
  modules/git/pipeline/revlist.go
  modules/git/repo.go
  modules/git/repo_archive.go
  modules/git/repo_attribute.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_commit.go
  modules/git/repo_compare.go
  modules/git/repo_index.go
  modules/git/repo_object.go
  modules/git/repo_ref_nogogit.go
  modules/git/repo_stats.go
  modules/git/repo_tree.go
  modules/gitgraph/graph.go
  routers/private/hook_verification.go
  services/mirror/mirror_pull.go
  services/pull/merge.go
  services/pull/patch.go
  services/pull/patch_unmerged.go
  services/pull/temp_repo.go
  services/repository/files/temp_repo.go
Labels: lgtm/done, kind/refactor

#16299 Add LDAP group sync to Teams, fixes #1395
  cmd/admin_auth_ldap.go
  integrations/auth_ldap_test.go
  options/locale/locale_en-US.ini
  routers/web/admin/auths.go
  services/auth/source/ldap/README.md
  services/auth/source/ldap/source.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/ldap/source_group_sync.go
  services/auth/source/ldap/source_search.go
  services/auth/source/ldap/source_sync.go
  services/forms/auth_form.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/ldap.tmpl
  web_src/js/features/admin-common.js
Labels: kind/feature, lgtm/done

#18661 Separate the details links of commit-statuses in headers
  templates/repo/commit_statuses.tmpl
Labels: kind/bug, kind/ui, lgtm/done, backport/v1.16

#18726 Backport: update object repo with the migrated repository (#18684)
  routers/api/v1/repo/migrate.go
Labels: kind/bug, lgtm/done

#18717 Display template path of current page in dev mode
  modules/context/context.go
  templates/base/footer_content.tmpl
Labels: kind/enhancement, lgtm/done

#18728 Fix release typo
  templates/user/dashboard/feeds.tmpl
Labels: kind/bug, lgtm/done, backport/v1.16

#18719 Fix forked repositories missed tags
  services/repository/fork.go
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#18730 Separate the details links of commit-statuses in headers (#18661)
  templates/repo/commit_statuses.tmpl
Labels: kind/bug, lgtm/done

#18729 Fix source code line selection
  web_src/js/features/repo-code.js
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#18712 Add number in queue status to monitor page
  modules/queue/manager.go
  modules/queue/queue_bytefifo.go
  modules/queue/workerpool.go
  options/locale/locale_en-US.ini
  templates/admin/monitor.tmpl
  templates/admin/queue.tmpl
Labels: kind/enhancement, lgtm/done

#18708 Reduce CI go module downloads, add make targets
  .drone.yml
  .golangci.yml
  Makefile
Labels: lgtm/done, kind/build, skip-changelog

#18707 Send mail to issue/pr assignee/reviewer also when onmention is set
  modules/notification/mail/mail.go
Labels: kind/bug, lgtm/need 1, backport/v1.16

#18741 Reduce CI go module downloads, add make targets (#18708, #18475, #18443)
  .drone.yml
  .golangci.yml
  Makefile
Labels: lgtm/done, kind/build

#18740 Fix source code line highlighting on external tracker (#18729)
  web_src/js/features/repo-code.js
Labels: kind/bug, lgtm/done

#18737 Always set PullRequestWorkInProgressPrefixes in PrepareViewPullInfo (#18713)
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done

#18735 Fix forked repositories missed tags (#18719)
  services/repository/fork.go
Labels: kind/bug, lgtm/done

#18738 Prevent double encoding of branch names in delete branch (#18714)
  templates/mail/issue/assigned.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done

#18746 Fix isempty detection of git repository
  modules/git/repo.go
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#18750 Fix isempty detection of git repository (#18746)
  modules/git/repo.go
Labels: kind/bug, lgtm/done

#18739 Increase the size of the webauthn_credential credential_id field
  Makefile
  models/migrations/fixtures/Test_increaseCredentialIDTo410/expected_webauthn_credential.yml
  models/migrations/fixtures/Test_increaseCredentialIDTo410/u2f_registration.yml
  models/migrations/fixtures/Test_increaseCredentialIDTo410/webauthn_credential.yml
  models/migrations/migrations.go
  models/migrations/v207.go
  models/migrations/v208.go
  models/migrations/v209.go
  models/migrations/v209_test.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18760 Ignore the migrate if u2f_registration is not exist
  models/migrations/v209.go
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#18718 Fix broken cancel button link on patch page
  routers/web/repo/cherry_pick.go
  routers/web/repo/patch.go
  templates/repo/editor/patch.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#18763 Fix a broken link in `commits_list_small.tmpl`
  templates/repo/commits_list_small.tmpl
Labels: kind/bug, lgtm/done, backport/done, skip-changelog, backport/v1.16

#18764 Backport: fix a broken link in commits_list_small.tmpl (#18763)
  templates/repo/commits_list_small.tmpl
Labels: kind/bug, lgtm/done

#18765 Send mail to issue/pr assignee/reviewer also when OnMention is set (#18707)
  modules/notification/mail/mail.go
Labels: kind/bug, lgtm/done

#18754 Prevent dangling GetAttribute calls
  modules/git/repo_attribute.go
  modules/git/repo_language_stats_nogogit.go
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#18755 Prevent dangling GetAttribute calls (#18754)
  modules/git/repo_attribute.go
  modules/git/repo_language_stats_nogogit.go
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done

#18767 Ensure git tag tests and others create test repos in tmpdir (#18447)
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
  modules/git/commit_info_test.go
  modules/git/repo_compare_test.go
  modules/git/repo_tag_test.go
Labels: lgtm/done, kind/testing

#18753 Fix display time of milestones
  models/issue_stopwatch.go
  models/issue_tracked_time.go
  models/issue_tracked_time_test.go
  modules/templates/helper.go
  modules/util/sec_to_time.go
  modules/util/sec_to_time_test.go
  routers/web/repo/issue_timetrack.go
Labels: kind/enhancement, lgtm/done

#18776 Various Mermaid improvements
  package-lock.json
  package.json
  web_src/js/markup/mermaid.js
  web_src/less/_base.less
  web_src/less/animations.less
  web_src/less/index.less
  web_src/less/markup/content.less
  web_src/less/markup/mermaid.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/security, kind/ui, lgtm/done, backport/v1.16

#18780 Various Mermaid improvements (#18776)
  package-lock.json
  package.json
  web_src/js/markup/mermaid.js
  web_src/less/_base.less
  web_src/less/animations.less
  web_src/less/index.less
  web_src/less/markup/content.less
  web_src/less/markup/mermaid.less
  web_src/less/themes/theme-arc-green.less
Labels: lgtm/done

#18784 Fix template bug of LFS lock
  routers/web/repo/view.go
  templates/repo/view_file.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#18787 Fix template bug of LFS lock (#18784)
  routers/web/repo/view.go
  templates/repo/view_file.tmpl
Labels: kind/bug, lgtm/done

#18770 Attempt to fix the webauthn migration again - part 3
  models/auth/webauthn.go
  models/migrations/fixtures/Test_remigrateU2FCredentials/expected_webauthn_credential.yml
  models/migrations/fixtures/Test_remigrateU2FCredentials/u2f_registration.yml
  models/migrations/fixtures/Test_remigrateU2FCredentials/webauthn_credential.yml
  models/migrations/migrations.go
  models/migrations/v207.go
  models/migrations/v208.go
  models/migrations/v209.go
  models/migrations/v210.go
  models/migrations/v210_test.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#18771 Attempt to fix the webauthn migration again - part 3 (#18770)
  models/auth/webauthn.go
  models/migrations/fixtures/Test_remigrateU2FCredentials/expected_webauthn_credential.yml
  models/migrations/fixtures/Test_remigrateU2FCredentials/u2f_registration.yml
  models/migrations/fixtures/Test_remigrateU2FCredentials/webauthn_credential.yml
  models/migrations/migrations.go
  models/migrations/v207.go
  models/migrations/v208.go
  models/migrations/v209.go
  models/migrations/v210.go
  models/migrations/v210_test.go
Labels: kind/bug, lgtm/done

#18791 Allow mermaid render error to wrap
  web_src/less/markup/content.less
Labels: kind/ui, lgtm/done

#18790 Allow mermaid render error to wrap
  web_src/less/markup/content.less
Labels: kind/enhancement, kind/ui, lgtm/done, backport/v1.16

#18781 Move deletebeans into models/db
  models/db/context.go
  models/org.go
  models/repo.go
  models/user.go
Labels: lgtm/done, kind/refactor

#18775 Fix redirect when using lowercase repo name
  modules/context/repo.go
Labels: kind/enhancement, lgtm/done, skip-changelog, backport/v1.16

#18794 remove redundant call to UpdateRepoStats during migration (#18591)
  models/migrate.go
  models/migrate_test.go
Labels: kind/bug, lgtm/done, theme/migration

#18793 Move editorconfig-checker to lint-backend and remove JS wrapper
  Makefile
  package-lock.json
  package.json
Labels: lgtm/done, kind/build, skip-changelog

#18789 Fix ldap loginname
  integrations/signin_test.go
  models/user/user_test.go
  services/auth/signin.go
  services/auth/source/ldap/source_authenticate.go
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#18807 New cloud provider: alwaysdata
  docs/content/doc/installation/on-cloud-provider.md
Labels: lgtm/done

#18813 Generate coverage with sqlite
  Makefile
Labels: lgtm/done, kind/testing

#18817 Put buttons back in org dashboard
  templates/org/home.tmpl
Labels: lgtm/done, kind/regression, skip-changelog, backport/v1.16

#18820 Fix panic in EscapeReader
  modules/charset/escape.go
  modules/charset/escape_test.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#18821 Fix panic in EscapeReader (#18820)
  modules/charset/escape.go
  modules/charset/escape_test.go
Labels: kind/bug, lgtm/done

#18823 Immediately Hammer if second kill is sent
  modules/graceful/manager.go
  modules/graceful/manager_unix.go
Labels: kind/enhancement, lgtm/done, backport/v1.16

#18826 Immediately Hammer if second kill is sent (#18823)
  modules/graceful/manager.go
  modules/graceful/manager_unix.go
Labels: kind/enhancement, lgtm/done

#18800 Fix login with email for ldap users
  services/auth/signin.go
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#18824 Update go-org to 1.6.0
  go.mod
  go.sum
Labels: lgtm/done, dependencies

#18827 Show fullname on issue edits and gpg/ssh signing info
  models/issues/content_history.go
  models/issues/content_history_test.go
  routers/web/repo/issue_content_history.go
  templates/repo/commit_page.tmpl
Labels: kind/ui, lgtm/done, backport/v1.16

#18825 Put buttons back in org dashboard (#18817)
  templates/org/home.tmpl
Labels: lgtm/done, kind/regression

#18828 Show fullname on issue edits and gpg/ssh signing info
  models/issues/content_history.go
  models/issues/content_history_test.go
  routers/web/repo/issue_content_history.go
  templates/repo/commit_page.tmpl
Labels: kind/ui, lgtm/done

#18725 migrations: remove dead code in gitea uploader
  services/migrations/gitea_uploader.go
Labels: lgtm/done, kind/refactor, theme/migration
