Repository go-gitea/gitea, pull requests merged in 2022-07, with the labels that each got.

#20183 Fix cli command restore-repo: "units" should be parsed as cli.String
  cmd/dump_repo.go
  cmd/restore_repo.go
  services/migrations/dump.go
Labels: kind/bug, lgtm/done, backport/done, skip-changelog, backport/v1.17

#20193 Update default allowed attachment types
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/attachment.go
Labels: lgtm/done

#20188 Check if project has the same repository id with issue when assign project to issue (#20133)
  models/issues/issue_project.go
  models/issues/milestone.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/issue.go
  routers/web/repo/projects.go
  routers/web/repo/pull_review.go
  routers/web/web.go
  services/issue/milestone.go
  services/pull/review.go
Labels: kind/bug, lgtm/done

#20187 Fix cli command restore-repo: "units" should be parsed as cli.String (#20183)
  cmd/dump_repo.go
  cmd/restore_repo.go
  services/migrations/dump.go
Labels: kind/bug, lgtm/done, skip-changelog

#20196 Check for permission when fetching user controlled issues (#20133)
  models/issue_milestone.go
  models/project_issue.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/issue.go
  routers/web/repo/projects.go
  routers/web/repo/pull_review.go
  services/pull/review.go
Labels: kind/bug, lgtm/done

#20158 Refix indices on actions table
  models/action.go
  models/migrations/migrations.go
  models/migrations/v199.go
  models/migrations/v216.go
  models/migrations/v218.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20199 Update Bluemonday to v1.0.19
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, backport/v1.17

#20198 Refix indices on actions table (#20158)
  models/action.go
  models/migrations/migrations.go
  models/migrations/v199.go
  models/migrations/v216.go
  models/migrations/v218.go
Labels: kind/bug, lgtm/done

#20209 Update Bluemonday to v1.0.19 (#20199)
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, dependencies

#20221 Remove `GO111MODULE`
  Makefile
Labels: lgtm/done, kind/build, skip-changelog

#20206 Allow enable LDAP source and disable user sync via CLI
  cmd/admin_auth_ldap.go
  cmd/admin_auth_ldap_test.go
Labels: kind/enhancement, lgtm/done

#20159 Allow dev i18n to be more concurrent
  modules/translation/i18n/i18n.go
Labels: kind/bug, lgtm/done, skip-changelog

#20121 tests: integration tests for the Gitea migration form
  integrations/migrate_test.go
Labels: lgtm/done, kind/testing

#20108 Adjust template for #20069 smallbell
  templates/base/head_navbar.tmpl
Labels: kind/ui, lgtm/done

#20236 Adjust class for mobile has the problem of double small bells
  templates/base/head_navbar.tmpl
Labels: lgtm/done

#20171 Display full name
  models/user/user.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20243 Adjust max-widths for the repository file table
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done, backport/v1.17

#20234 Init popup for new code comment
  web_src/js/features/common-global.js
  web_src/js/features/repo-diff.js
  web_src/js/index.js
Labels: kind/bug, lgtm/done, backport/done, skip-changelog, backport/v1.17

#20235 Init popup for new code comment (#20234)
  web_src/js/features/common-global.js
  web_src/js/features/repo-diff.js
  web_src/js/index.js
Labels: kind/bug, lgtm/done, skip-changelog

#20220 Only show Followers that current user can access
  models/user/user.go
  routers/api/v1/user/follower.go
  routers/web/user/profile.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20246 Display full name (#20171)
  models/user/user.go
Labels: kind/ui, lgtm/done

#20253 Only show Followers that current user can access (#20220)
  models/user/user.go
  routers/api/v1/user/follower.go
  routers/web/user/profile.go
Labels: kind/bug, lgtm/done

#20251 Refix notification bell placement
  templates/base/head_navbar.tmpl
  web_src/less/_base.less
Labels: kind/ui, lgtm/done, skip-changelog

#20254 EscapeFilter the group dn membership (#20200)
  services/auth/source/ldap/source_search.go
Labels: kind/bug, lgtm/done

#20272 Allow RSA 2047 bit keys
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20270 Fix toolip on mobile notification bell
  templates/base/head_navbar.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#20266 Modify milestone search keywords to be case insensitive
  models/issues/milestone.go
Labels: lgtm/done

#20278 Fix NPE when using non-numeric (#20277)
  modules/markup/html.go
Labels: kind/bug, lgtm/done

#20277 Fix NPE when using non-numeric
  modules/markup/html.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17

#20114 Use git.HOME_PATH for Git HOME directory
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/signing.en-us.md
  models/unittest/testdb.go
  modules/git/command.go
  modules/git/git.go
  modules/git/git_test.go
  modules/setting/git.go
Labels: kind/bug, kind/security, lgtm/done, backport/v1.17

#20293 Use git.HOME_PATH for Git HOME directory (#20114)
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/signing.en-us.md
  models/unittest/testdb.go
  modules/git/command.go
  modules/git/git.go
  modules/git/git_test.go
  modules/setting/git.go
Labels: lgtm/done

#19411 Implement sync push mirror on commit
  models/migrations/migrations.go
  models/migrations/v219.go
  models/repo/pushmirror.go
  modules/mirror/mirror.go
  modules/notification/mirror/mirror.go
  modules/notification/notification.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/mirror.go
  routers/web/repo/setting.go
  services/forms/repo_form.go
  services/mirror/mirror.go
  templates/repo/settings/options.tmpl
Labels: kind/enhancement, lgtm/done

#20289 Do not create empty ".ssh" directory when loading config
  modules/setting/setting.go
Labels: lgtm/done, backport/done, backport/v1.17

#20276 Store read access in access for team repositories (#20275)
  models/perm/access/access.go
Labels: kind/bug, lgtm/done

#20300 Bump goldmark to v1.4.13
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, backport/done, dependencies, backport/v1.17

#20301 Bump goldmark to v1.4.13 (#20300)
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, dependencies

#20303 Use dedicated draft PR icon when possible
  options/locale/locale_en-US.ini
  templates/repo/issue/view_title.tmpl
  templates/shared/issuelist.tmpl
Labels: lgtm/done, kind/ux

#20299 Refactor SSH init code, fix directory creation for TrustedUserCAKeys file
  modules/setting/setting.go
  modules/ssh/init.go
  modules/ssh/ssh_graceful.go
  routers/init.go
Labels: kind/bug, lgtm/done, kind/refactor

#20134 Add hint to GNUPGHOME environment variable
  docs/content/doc/advanced/signing.en-us.md
Labels: kind/docs, lgtm/done

#20298 Do not create empty ".ssh" directory when loading config (#20289)
  modules/setting/setting.go
Labels: lgtm/done

#20294 Changed scroll to auto.
  web_src/less/_admin.less
  web_src/less/_repository.less
  web_src/less/_user.less
  web_src/less/features/gitgraph.less
Labels: kind/bug, lgtm/done, backport/v1.17

#20308 Prevent "empty" scrollbars with Firefox (#20294)
  web_src/less/_admin.less
  web_src/less/_repository.less
  web_src/less/_user.less
  web_src/less/features/gitgraph.less
Labels: kind/bug, lgtm/done

#20302 Vertical align navbar avatar at middle
  modules/templates/helper.go
Labels: kind/ui, lgtm/done

#20304 Ensure that drone tags 1.16.x and 1.16 on push to v1.16.x tag
  .drone.yml
Labels: lgtm/done, kind/build, skip-changelog

#20275 Store read access in access for team repositories
  models/perm/access/access.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17

#20306 Refactor SSH init code, fix directory creation for TrustedUserCAKeys file (#20299)
  modules/setting/setting.go
  modules/ssh/init.go
  modules/ssh/ssh_graceful.go
  routers/init.go
Labels: kind/bug, lgtm/done, kind/refactor

#20321 Add spectral linter for Swagger
  .spectral.yaml
  Makefile
  package-lock.json
  package.json
  routers/api/v1/org/hook.go
  routers/api/v1/swagger/options.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done

#20322 Update dead link to Madeleine.js source
  docs/content/doc/advanced/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#20273 Remove blue text on migrate page
  options/locale/locale_en-US.ini
  templates/repo/migrate/options.tmpl
Labels: kind/ui, lgtm/done

#20332 Add write check for creating Commit status
  routers/api/v1/api.go
Labels: kind/bug, lgtm/done, backport/done, kind/regression, backport/v1.16, backport/v1.17

#20333 Add write check for creating Commit status (#20332)
  routers/api/v1/api.go
Labels: kind/bug, lgtm/done, kind/regression

#20334 Add write check for creating Commit status (#20332)
  routers/api/v1/api.go
Labels: kind/bug, lgtm/done, kind/regression

#20337 Hide notify mail setting ui if not enabled (#20138)
  routers/web/user/setting/account.go
  templates/user/settings/account.tmpl
Labels: kind/bug, lgtm/done

#20341 Changelog for 1.16.9 (update)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog, frontport/main

#20335 Correctly handle draft releases without a tag (#20314)
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done

#20343 Changelog for 1.16.9 (update) (#20341)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#20328 Add tests for the host checking logic, clarify the behaviors.
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/hostmatcher/hostmatcher.go
  services/migrations/migrate.go
  services/migrations/migrate_test.go
Labels: lgtm/done, kind/testing, skip-changelog

#20336 Hide notify mail setting ui if not enabled (#20138)
  routers/web/user/setting/account.go
  templates/user/settings/account.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#20318 Use default values when provided values are empty
  modules/setting/database.go
Labels: kind/enhancement, lgtm/done

#20290 Fix checks in PR for empty commits #19603
  integrations/pull_status_test.go
  models/issues/pull.go
  options/locale/locale_en-US.ini
  services/pull/check.go
  services/pull/patch.go
  templates/repo/issue/view_content/pull.tmpl
  web_src/js/components/PullRequestMergeForm.vue
Labels: kind/bug, lgtm/done

#20340 Upgrade to Node 18 on CI
  .drone.yml
Labels: lgtm/done, skip-changelog

#20352 Fix checks in PR for empty commits (#20290)
  integrations/pull_status_test.go
  models/issues/pull.go
  options/locale/locale_en-US.ini
  services/pull/check.go
  services/pull/patch.go
  templates/repo/issue/view_content/pull.tmpl
  web_src/js/components/PullRequestMergeForm.vue
Labels: kind/bug, lgtm/done

#20351 Add missing return for when topic isn't found
  routers/api/v1/repo/topic.go
Labels: kind/bug, lgtm/done

#20346 Prevent context deadline error propagation in GetCommitsInfo
  modules/git/log_name_status.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20353 Fix org label open count, including close count issue
  models/issues/label.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16, backport/v1.17

#20365 Fix org label open count, including close count issue (#20353)
  models/issue_label.go
Labels: kind/bug, lgtm/done

#20364 Fix org label open count, including close count issue (#20353)
  models/issues/label.go
Labels: kind/bug, lgtm/done, skip-changelog

#20361 Prevent context deadline error propagation in GetCommitsInfo (#20346)
  modules/git/log_name_status.go
Labels: kind/bug, lgtm/done

#20281 fix: icon margin in user/settings/repos
  templates/user/settings/repos.tmpl
Labels: kind/ui, lgtm/done

#20356 Unbreak release pipeline
  .drone.yml
Labels: lgtm/done, kind/build, skip-changelog

#20358 Fix versions check for busybox `sh`
  Makefile
  package-lock.json
  package.json
Labels: lgtm/done, kind/build, skip-changelog

#20205 make sure `repo_dir` is empty before 'dump-repo'
  cmd/dump_repo.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20053 Add order by for assignee no sort issue
  models/issues/issue_list.go
  models/organization/team_repo.go
  models/repo/user_repo.go
  models/user/user.go
Labels: kind/enhancement, lgtm/done, kind/ux

#20372 update xorm.io/xorm v1.3.2-0.20220714055524-c3bce556200f (#20371)
  go.mod
  go.sum
Labels: kind/bug, priority/critical, lgtm/done, dependencies

#20371 update xorm.io/xorm v1.3.2-0.20220714055524-c3bce556200f
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, backport/done, dependencies, backport/v1.17

#20370 Make sure `repo_dir` is an empty directory or doesn't exist before 'dump-repo' (#20205)
  cmd/dump_repo.go
Labels: kind/bug, lgtm/done

#20363 Allow to specify colors for text in markup
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
Labels: kind/enhancement, lgtm/done

#20079 Add allow_rebase_update, default_delete_branch_after_merge to repository api response
  modules/convert/repository.go
  modules/structs/repo.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, kind/api

#20283 Include login_name in adminCreateUser response
  modules/convert/user.go
  modules/structs/user.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api

#20330 Allow access to the Public Organization Member lists with minimal permissions
  modules/context/org.go
  routers/web/org/home.go
  routers/web/web.go
  templates/org/home.tmpl
Labels: kind/enhancement, lgtm/done

#20373 Initialize cron last
  routers/init.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20384 Initialize cron last (#20373)
  routers/init.go
Labels: kind/bug, lgtm/done

#20381 Set target on create release with existing tag
  routers/api/v1/repo/release.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17

#20382 Set target on create release with existing tag (#20381)
  routers/api/v1/repo/release.go
Labels: kind/bug, lgtm/done

#20369 Remove confusing TrimPrefix(... git.BranchPrefix)
  modules/git/repo_branch.go
  services/repository/adopt.go
Labels: lgtm/done, skip-changelog

#20385 Fix commit status icon when in subdirectory (#20285)
  modules/git/git.go
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done

#20383 Comment on PrivateUsers option for gitea.service
  contrib/systemd/gitea.service
Labels: lgtm/done, skip-changelog

#20395 Add missing return for when topic isn't found (#20351)
  routers/api/v1/repo/topic.go
Labels: kind/bug, lgtm/done

#20393 Use tippy.js for context popup
  package-lock.json
  package.json
  web_src/js/features/contextpopup.js
  web_src/js/modules/tippy.js
  web_src/less/index.less
  web_src/less/modules/tippy.less
Labels: kind/bug, kind/ui, lgtm/done

#20401 Add two factor status to admin cmd display
  cmd/admin.go
Labels: lgtm/done

#20403 Fix public org members displayed too many informations
  routers/web/org/members.go
  templates/org/member/members.tmpl
Labels: lgtm/done, skip-changelog

#20388 Fix modified due date message
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/bug, lgtm/done

#20407 Dismiss prior pull reviews if done via web in review dismiss (#20197)
  models/issues/review.go
  modules/structs/pull_review.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/pull_review.go
  services/pull/review.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done

#20409 Update tool dependencies
  Makefile
Labels: lgtm/done, dependencies, skip-changelog

#20423 Update JS dependencies
  .eslintrc.yaml
  package-lock.json
  package.json
  public/img/svg/octicon-copilot-error.svg
  public/img/svg/octicon-copilot-warning.svg
  public/img/svg/octicon-copilot.svg
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/misc.css
  web_src/less/themes/theme-arc-green.less
  webpack.config.js
Labels: lgtm/done, dependencies, skip-changelog

#20430 Add Cloudflare auto-minify to FAQ
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#20406 Simplify visibility checks
  models/user/search.go
Labels: lgtm/done, kind/refactor, skip-changelog

#20438 Add "X-Gitea-Object-Type" header for GET `/raw/` & `/media/` API
  integrations/api_repo_raw_test.go
  routers/api/v1/repo/file.go
  services/repository/files/content.go
Labels: kind/enhancement, lgtm/done, kind/api

#20443 fix: Actor is required to get user repositories
  models/repo/repo_list.go
  services/user/user.go
  services/user/user_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#20431 Add eslint-plugin-sonarjs
  .eslintrc.yaml
  package-lock.json
  package.json
  web_src/js/features/stopwatch.js
  web_src/js/utils.js
Labels: lgtm/done, kind/lint, skip-changelog

#20445 Downgrade golangci-lint to 1.47.0
  Makefile
Labels: lgtm/done, dependencies, skip-changelog

#20440 Correct code block in installation docs for Snap
  docs/content/doc/installation/from-package.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#20386 Use body text color in repository files table links
  modules/markup/html.go
  templates/repo/view_list.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/themes/theme-arc-green.less
Labels: lgtm/done

#20412 Allow non-semver packages in the Conan package registry
  modules/packages/conan/reference.go
  modules/packages/conan/reference_test.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20432 Add Cache-Control header to html and api responses, add no-transform
  modules/context/api.go
  modules/context/context.go
  modules/httpcache/httpcache.go
  routers/install/routes.go
  routers/web/base.go
Labels: kind/enhancement, lgtm/done, backport/v1.17

#20459 Add Cache-Control header to html and api responses, add no-transform …
  modules/context/api.go
  modules/context/context.go
  modules/httpcache/httpcache.go
  routers/install/routes.go
  routers/web/base.go
Labels: lgtm/done

#19958 Improve code diff highlight, fix incorrect rendered diff result
  modules/highlight/highlight.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  services/gitdiff/highlightdiff.go
  services/gitdiff/highlightdiff_test.go
Labels: kind/bug, lgtm/done, theme/rendering, backport/v1.17

#20463 Improve pprof doc
  cmd/web.go
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/help/seek-help.en-us.md
Labels: lgtm/done

#20429 Prepend commit message to template content when opening a new PR
  routers/web/repo/compare.go
Labels: kind/enhancement, lgtm/done

#20454 Add repository condition for issue count
  routers/web/user/home.go
Labels: kind/bug, lgtm/done, skip-changelog

#20470 Fix Ruby spec parsing
  modules/packages/rubygems/metadata.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#20444 Slightly simplify LastCommitCache
  modules/context/repo.go
  modules/git/commit.go
  modules/git/commit_info_gogit.go
  modules/git/commit_info_nogogit.go
  modules/git/commit_info_test.go
  modules/git/last_commit_cache.go
  modules/git/last_commit_cache_gogit.go
  modules/git/last_commit_cache_nogogit.go
  modules/git/log_name_status.go
  modules/git/notes_gogit.go
  modules/git/notes_nogogit.go
  modules/git/repo_base_gogit.go
  modules/git/repo_base_nogogit.go
  routers/api/v1/repo/file.go
  routers/api/v1/utils/git.go
  routers/web/repo/download.go
  routers/web/repo/view.go
  routers/web/web.go
  services/repository/cache.go
Labels: lgtm/done, kind/refactor

#20481 Make code review ceckboxes clickable
  templates/repo/issue/view_content/comments.tmpl
Labels: kind/ui, lgtm/done

#20434 Display project in issue list
  models/issues/issue_list.go
  templates/shared/issuelist.tmpl
  web_src/less/shared/issuelist.less
Labels: kind/ui, lgtm/done

#20486 fix enabling repo packages when project unit is turned off
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17

#20488 fix enabling repo packages when project unit is turned off (#20486)
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done

#20419 Add labels to two buttons that were missing them
  templates/base/head_navbar.tmpl
  templates/repo/clone_buttons.tmpl
Labels: kind/bug, kind/ui, lgtm/done, backport/v1.17

#20489 Fix org members bug
  integrations/org_test.go
  templates/org/member/members.tmpl
Labels: kind/bug, lgtm/done, backport/v1.17

#20492 Hide internal package versions
  integrations/api_packages_container_test.go
  models/packages/package_version.go
  routers/api/packages/composer/composer.go
  routers/api/packages/helm/helm.go
  routers/api/packages/npm/npm.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/rubygems/rubygems.go
  routers/api/v1/packages/package.go
  routers/web/admin/packages.go
  routers/web/repo/packages.go
  routers/web/user/package.go
  services/packages/packages.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#20496 Add repository condition for issue count (#20454)
  routers/web/user/home.go
Labels: lgtm/done

#20493 Add Tar ZSTD support
  cmd/dump.go
Labels: kind/enhancement, lgtm/done

#20502 Fix ROOT_URL detection for URLs without trailing slash
  web_src/js/features/common-global.js
Labels: kind/bug, kind/ui, lgtm/done, backport/done, skip-changelog, backport/v1.17

#20498 Modify milestone search keywords to be case insensitive (#20266)
  models/issues/milestone.go
Labels: lgtm/done

#20504 Show hint to link package to repo when viewing empty repo package list
  options/locale/locale_en-US.ini
  routers/web/repo/packages.go
  templates/package/shared/list.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, theme/package-registry

#20506 patch (doc): add heading to ssh flow explanation
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#20507 Show hint for linking package to repo (#20504)
  options/locale/locale_en-US.ini
  routers/web/repo/packages.go
  templates/package/shared/list.tmpl
Labels: kind/enhancement, lgtm/done

#20503 Fix ROOT_URL detection for URLs without trailing slash (#20502)
  web_src/js/features/common-global.js
Labels: kind/bug, kind/ui, lgtm/done

#20509 Fix possible panic when repository is empty
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done, backport/v1.16, backport/v1.17

#20312 Removed some vestigial code related to Range bounds checks
  modules/lfs/content_store.go
Labels: lgtm/done

#20469 Add Docker /v2/_catalog endpoint
  integrations/api_packages_container_test.go
  integrations/api_packages_npm_test.go
  models/migrations/migrations.go
  models/migrations/v220.go
  models/packages/container/search.go
  models/packages/descriptor.go
  models/packages/package.go
  models/packages/package_property.go
  models/user/search.go
  modules/packages/container/metadata.go
  routers/api/packages/api.go
  routers/api/packages/composer/api.go
  routers/api/packages/composer/composer.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/container/manifest.go
  routers/api/packages/npm/api.go
  routers/web/org/setting.go
  routers/web/user/setting/profile.go
  services/packages/container/cleanup.go
  services/packages/packages.go
Labels: kind/feature, lgtm/done, theme/package-registry

#20179 Added email notification option to receive all own messages
  models/user/user.go
  models/user/user_test.go
  modules/notification/mail/mail.go
  options/locale/locale_en-US.ini
  routers/web/user/setting/account.go
  services/mailer/mail_issue.go
  templates/user/settings/account.tmpl
Labels: kind/feature, lgtm/done

#20177 Add selectable all issues or PRs
  templates/repo/issue/list.tmpl
  web_src/js/features/common-issue.js
Labels: kind/enhancement, kind/ui, lgtm/done

#20517 Fix package permission checks for organizations
  modules/context/package.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#20520 Fix package permission checks for organizations (#20517)
  modules/context/package.go
Labels: kind/bug, lgtm/done, theme/package-registry

#20518 Fix i18n for email notifications
  options/locale/locale_en-US.ini
  templates/user/settings/account.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#20513 Modify milestone search keywords to be case insensitive again
  models/db/common.go
  models/issues/issue.go
  models/issues/milestone.go
Labels: kind/enhancement, lgtm/done, kind/regression

#20239 Fix dashboard switching on Mobile (#20238)
  web_src/less/_base.less
  web_src/less/_dashboard.less
Labels: kind/bug, lgtm/done, skip-changelog, theme/mobile

#20238 Fix dashboard switching on Mobile
  web_src/less/_base.less
  web_src/less/_dashboard.less
Labels: kind/bug, lgtm/done, skip-changelog, theme/mobile, backport/v1.17

#20525 Fix Ruby package parsing by removed unused email field (#20470)
  modules/packages/rubygems/metadata.go
Labels: kind/bug, lgtm/done, theme/package-registry

#20527 Fix possible panic when repository is empty (#20509)
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done

#20476 Stop logging EOFs and exit(1)s in ssh handler
  modules/ssh/ssh.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20526 Fix possible panic when repository is empty (#20509)
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done, skip-changelog

#20523 Allow non-semver packages in the Conan package registry (#20412)
  modules/packages/conan/reference.go
  modules/packages/conan/reference_test.go
Labels: kind/bug, lgtm/done

#20524 Add labels to two buttons that were missing them (#20419)
  templates/base/head_navbar.tmpl
  templates/repo/clone_buttons.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#20414 packages/generic: Do not restrict package versions to SemVer
  docs/content/doc/packages/generic.en-us.md
  integrations/api_packages_generic_test.go
  routers/api/packages/generic/generic.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20531 packages/generic: Do not restrict package versions to SemVer (#20414)
  docs/content/doc/packages/generic.en-us.md
  integrations/api_packages_generic_test.go
  routers/api/packages/generic/generic.go
Labels: kind/bug, lgtm/done, kind/package, skip-changelog, theme/package-registry

#20528 Ensure that all unmerged files are merged when conflict checking
  services/pull/patch.go
  services/pull/patch_unmerged.go
Labels: kind/bug, lgtm/done, backport/v1.17

#20529 Stop logging EOFs and exit(1)s in ssh handler (#20476)
  modules/ssh/ssh.go
Labels: kind/bug, lgtm/done

#20474 Added guidance on file to choose to download
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#20534 Update lunny/levelqueue to prevent NPE when reads are performed after close
  go.mod
  go.sum
Labels: lgtm/done, kind/testing, backport/v1.17
