Repository go-gitea/gitea, pull requests merged in 2022-04, with the labels that each got.

#19281 Update JS dependencies
  .eslintrc
  integrations/repo_test.go
  modules/base/tool.go
  package-lock.json
  package.json
  public/img/svg/octicon-feed-forked.svg
  public/img/svg/octicon-feed-merged.svg
  public/img/svg/octicon-feed-trophy.svg
  public/img/svg/octicon-file-directory-fill.svg
  public/img/svg/octicon-file-directory.svg
  public/img/svg/octicon-repo-locked.svg
  public/img/svg/octicon-trophy.svg
  templates/admin/repo/unadopted.tmpl
  templates/repo/view_list.tmpl
  templates/user/settings/repos.tmpl
  web_src/less/_repository.less
Labels: lgtm/done, dependencies

#19227 Performance improvement for add team user when org has more than 1000 repositories
  models/org_team.go
Labels: lgtm/done, performance/speed

#19288 Fix broken of team create
  models/organization/team.go
  models/repo_permission.go
  models/review.go
Labels: kind/bug, lgtm/done, skip-changelog

#19291 Skip frontend ROOT_URL check on installation page, remove unnecessary global var
  routers/install/install.go
  web_src/js/features/common-global.js
Labels: kind/bug, lgtm/done, skip-changelog

#19289 Performance improvement for add team user when org has more than 1000 repositories (#19227)
  models/org_team.go
Labels: lgtm/done, performance/speed

#19284 Refactor legacy `unknwon/com` package, improve golangci lint
  .golangci.yml
  integrations/goget_test.go
  models/migrations/migrations_test.go
  modules/cache/cache_redis.go
  modules/context/context.go
  modules/context/csrf.go
  modules/context/repo.go
  modules/json/json.go
  modules/markup/html.go
  modules/repository/init.go
  modules/setting/setting.go
  modules/sync/unique_queue.go
  modules/templates/vars/vars.go
  modules/templates/vars/vars_test.go
  modules/util/copy.go
  modules/util/io.go
  modules/util/legacy.go
  modules/util/legacy_test.go
  modules/util/path.go
  modules/web/middleware/binding.go
  routers/web/goget.go
  routers/web/repo/issue.go
Labels: lgtm/done, kind/refactor

#19295 A pull-mirror repo should be marked as such on creation
  integrations/mirror_pull_test.go
  modules/repository/create.go
Labels: kind/bug, lgtm/done, skip-changelog

#19273 Improve package registry docs
  docs/content/doc/packages/overview.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#19298 Remove legacy `unknwon/com` package
  cmd/manager_logging.go
  contrib/pr/checkout.go
  go.mod
  integrations/integration_test.go
  integrations/migration-test/migration_test.go
  models/migrations/migrations_test.go
  models/unittest/fscopy.go
  models/unittest/testdb.go
  modules/cache/cache_redis.go
  modules/context/csrf.go
  modules/nosql/manager.go
  modules/sync/unique_queue.go
  modules/util/legacy.go
  modules/util/legacy_test.go
  modules/util/string.go
  modules/util/string_test.go
  services/webhook/webhook.go
Labels: lgtm/done, kind/refactor, skip-changelog

#19300 An attempt to sync a non-mirror repo must give 400 (Bad Request)
  integrations/api_repo_test.go
  routers/api/v1/repo/mirror.go
Labels: kind/bug, lgtm/done

#19296 Upgrade xorm/builder from v0.3.9 to v0.3.10
  go.mod
  go.sum
Labels: lgtm/done, kind/build

#19301 Prevent intermittent NPE in queue tests
  modules/queue/queue_channel_test.go
  modules/queue/queue_disk_channel_test.go
Labels: lgtm/done, kind/testing, backport/v1.16

#19312 Restore user autoregistration with email addresses (#19261)
  services/auth/signin.go
Labels: kind/bug, lgtm/done, kind/regression

#19308 Remove legacy unmaintained packages, refactor to support change default locale
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/customizing-gitea.en-us.md
  go.mod
  go.sum
  integrations/auth_ldap_test.go
  integrations/branches_test.go
  integrations/pull_merge_test.go
  integrations/release_test.go
  integrations/repo_branch_test.go
  integrations/signin_test.go
  integrations/signup_test.go
  integrations/user_test.go
  modules/context/pagination.go
  modules/markup/markdown/toc.go
  modules/paginator/paginator.go
  modules/paginator/paginator_test.go
  modules/timeutil/since.go
  modules/timeutil/since_test.go
  modules/translation/i18n/i18n.go
  modules/translation/i18n/i18n_test.go
  modules/translation/translation.go
  modules/web/middleware/locale.go
  routers/web/repo/issue_content_history.go
  routers/web/user/setting/profile.go
  services/cron/setting.go
Labels: lgtm/done, kind/refactor

#19315 Fix links to packages documentation
  options/locale/locale_en-US.ini
Labels: lgtm/done

#19324 Allow custom redirect for landing page
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#19319 Revert the minimal golang version requirement from 1.17 to 1.16 and add a warning in Makefile
  .drone.yml
  Makefile
  docs/config.yaml
  go.mod
  modules/hostmatcher/hostmatcher.go
  modules/util/net.go
Labels: lgtm/done, kind/build

#19317 Warn on SSH connection for incorrect configuration
  cmd/serv.go
Labels: kind/enhancement, lgtm/done, backport/v1.16

#19316 Add `ENABLE_SSH_LOG` to debugging problems
  docs/content/doc/advanced/logging-documentation.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#19305 Package registry changes
  integrations/api_packages_test.go
  models/packages/conan/references.go
  models/packages/conan/search.go
  models/packages/package.go
  models/packages/package_blob.go
  models/packages/package_file.go
  models/packages/package_version.go
  routers/api/packages/composer/composer.go
  routers/api/packages/npm/npm.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/rubygems/rubygems.go
  routers/api/v1/packages/package.go
  routers/web/admin/packages.go
  routers/web/repo/packages.go
  routers/web/user/package.go
  services/packages/container/cleanup.go
  services/packages/packages.go
Labels: kind/bug, lgtm/done, kind/refactor, skip-changelog

#19335 Show ssh command directly in template instead of i18n translation
  options/locale/locale_en-US.ini
  templates/user/settings/keys_ssh.tmpl
Labels: lgtm/done, skip-changelog

#19338 [Backport] Fix invalid CSRF token bug, make sure CSRF tokens can be up-to-date
  modules/context/csrf.go
Labels: kind/bug, lgtm/done

#19342 Disable service worker by default (#18914)
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#19318 Never use /api/v1 from Gitea UI Pages
  integrations/issue_test.go
  integrations/org_test.go
  integrations/repo_topic_test.go
  integrations/user_test.go
  modules/context/api.go
  modules/context/context.go
  modules/context/utils.go
  routers/api/v1/notify/notifications.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/repo.go
  routers/api/v1/utils/page.go
  routers/web/explore/topic.go
  routers/web/org/teams.go
  routers/web/repo/issue.go
  routers/web/repo/repo.go
  routers/web/user/notification.go
  routers/web/user/search.go
  routers/web/user/stop_watch.go
  routers/web/web.go
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/js/components/ContextPopup.vue
  web_src/js/components/DashboardRepoList.js
  web_src/js/features/comp/SearchUserBox.js
  web_src/js/features/notification.js
  web_src/js/features/org-team.js
  web_src/js/features/repo-home.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-settings.js
  web_src/js/features/repo-template.js
  web_src/js/features/stopwatch.js
Labels: lgtm/done, kind/refactor

#19244 API: Search Issues, dont show 500 if filter result in empty list
  models/issue.go
Labels: kind/bug, lgtm/done, kind/api

#19321 Remove dependent on session auth for api/v1 routers
  integrations/api_issue_test.go
  integrations/api_org_test.go
  integrations/api_releases_test.go
  integrations/api_repo_topic_test.go
  integrations/api_team_test.go
  integrations/api_user_heatmap_test.go
  integrations/integration_test.go
  integrations/issue_test.go
  modules/context/api.go
  routers/api/v1/api.go
  routers/init.go
  routers/web/misc/markdown.go
  routers/web/misc/swagger.go
  routers/web/web.go
  services/auth/auth.go
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/release/new.tmpl
  templates/repo/wiki/new.tmpl
Labels: kind/enhancement, lgtm/done

#19337 Refactor CSRF protection modules, make sure CSRF tokens can be up-to-date.
  integrations/csrf_test.go
  integrations/repo_topic_test.go
  modules/context/auth.go
  modules/context/context.go
  modules/context/csrf.go
  modules/context/xsrf.go
  modules/context/xsrf_test.go
  modules/web/middleware/cookie.go
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
Labels: kind/bug, lgtm/done, kind/refactor

#19278 Move milestone to models/issues/
  integrations/api_issue_milestone_test.go
  integrations/api_issue_reaction_test.go
  integrations/api_issue_stopwatch_test.go
  integrations/api_issue_tracked_time_test.go
  models/action.go
  models/consistency_test.go
  models/error.go
  models/issue.go
  models/issue_assignees.go
  models/issue_comment.go
  models/issue_comment_list.go
  models/issue_label.go
  models/issue_list.go
  models/issue_lock.go
  models/issue_project.go
  models/issue_stopwatch.go
  models/issue_test.go
  models/issue_tracked_time.go
  models/issue_xref.go
  models/issues/main_test.go
  models/issues/milestone.go
  models/issues/milestone_test.go
  models/main_test.go
  models/migrate.go
  models/migrate_test.go
  models/notification.go
  models/pull.go
  models/repo.go
  models/review.go
  models/statistic.go
  modules/convert/issue.go
  modules/convert/issue_test.go
  modules/convert/pull.go
  modules/notification/action/action.go
  modules/notification/mail/mail.go
  modules/notification/webhook/webhook.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/milestone.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/issue.go
  routers/web/repo/issue_dependency.go
  routers/web/repo/issue_stopwatch.go
  routers/web/repo/milestone.go
  routers/web/repo/pull.go
  routers/web/user/home.go
  services/issue/label.go
  services/issue/milestone.go
  services/issue/milestone_test.go
  services/mailer/mail.go
  services/mailer/mail_issue.go
  services/mailer/mail_test.go
  services/migrations/gitea_uploader.go
  services/migrations/gitea_uploader_test.go
  services/pull/merge.go
  services/pull/review.go
Labels: lgtm/done, kind/refactor

#19354 Use "main" as default branch name
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/integration_test.go
  models/unittest/testdb.go
  modules/setting/repository.go
Labels: lgtm/done

#19348 Allow package linking to private repository
  routers/web/user/package.go
Labels: kind/bug, lgtm/done, skip-changelog

#19363 Fix RegistryHost value if ROOT_URL is set
  modules/setting/packages.go
Labels: kind/bug, lgtm/done, skip-changelog

#19356 Add logic to switch between source/rendered on Markdown
  routers/web/repo/view.go
Labels: kind/enhancement, kind/ui, lgtm/done, theme/markdown

#19360 Fix panic in teams API when requesting members
  routers/api/v1/org/team.go
Labels: kind/bug, lgtm/done, kind/api

#19377 Fix middleware function's placements
  routers/web/web.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#19378 Fix middleware function's placements (#19377)
  routers/web/web.go
Labels: kind/bug, lgtm/done

#19379 Note where frontend files are located in docs
  docs/content/doc/developers/guidelines-frontend.md
Labels: kind/docs, lgtm/done, skip-changelog

#19387 Update locale_ru-RU.ini (#19383)
  options/locale/locale_ru-RU.ini
Labels: lgtm/done, kind/translation

#19388 go get -u crypto
  go.mod
  go.sum
Labels: lgtm/done, dependencies, skip-changelog

#19330 Disallow selecting the text of buttons
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/_review.less
  web_src/less/markup/content.less
Labels: kind/enhancement, kind/ui, lgtm/done, kind/ux

#19393 Use a struct as test options
  models/admin/main_test.go
  models/asymkey/main_test.go
  models/auth/main_test.go
  models/db/paginator/main_test.go
  models/issues/main_test.go
  models/main_test.go
  models/organization/main_test.go
  models/project/main_test.go
  models/repo/main_test.go
  models/unittest/testdb.go
  models/user/main_test.go
  models/webhook/main_test.go
  modules/appstate/appstate_test.go
  modules/convert/main_test.go
  modules/indexer/code/indexer_test.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/stats/indexer_test.go
  modules/notification/action/action_test.go
  modules/repository/main_test.go
  routers/api/v1/repo/main_test.go
  routers/web/admin/main_test.go
  routers/web/auth/main_test.go
  routers/web/repo/main_test.go
  routers/web/user/main_test.go
  routers/web/user/setting/main_test.go
  services/asymkey/main_test.go
  services/attachment/attachment_test.go
  services/gitdiff/main_test.go
  services/issue/main_test.go
  services/mailer/main_test.go
  services/migrations/main_test.go
  services/org/org_test.go
  services/pull/main_test.go
  services/release/release_test.go
  services/repository/archiver/archiver_test.go
  services/repository/files/content_test.go
  services/repository/main_test.go
  services/user/user_test.go
  services/webhook/main_test.go
  services/wiki/wiki_test.go
Labels: lgtm/done, kind/testing

#19405 Fix double blob-hunk (#19404)
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, lgtm/done

#19404 Fix double blob-hunk on diff page
  templates/repo/diff/section_unified.tmpl
Labels: kind/bug, lgtm/done, backport/v1.16

#19409 removes datarace from `gitea/services/migrations/gitea_uploader.go`
  services/migrations/gitea_uploader.go
Labels: lgtm/done

#19416 upgrade postgres reference to 14 in docs
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/installation/with-docker.zh-cn.md
  integrations/README_ZH.md
Labels: kind/docs, lgtm/done

#19422 Only request write when necessary #18657
  modules/setting/setting.go
Labels: kind/enhancement, lgtm/done

#19406 Add Helm Chart registry
  docs/content/doc/packages/helm.en-us.md
  docs/content/doc/packages/maven.en-us.md
  docs/content/doc/packages/npm.en-us.md
  docs/content/doc/packages/nuget.en-us.md
  docs/content/doc/packages/overview.en-us.md
  docs/content/doc/packages/pypi.en-us.md
  docs/content/doc/packages/rubygems.en-us.md
  integrations/api_packages_helm_test.go
  models/packages/descriptor.go
  models/packages/package.go
  modules/packages/helm/metadata.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-helm.svg
  routers/api/packages/api.go
  routers/api/packages/helm/helm.go
  routers/api/v1/packages/package.go
  templates/admin/packages/list.tmpl
  templates/package/content/helm.tmpl
  templates/package/content/npm.tmpl
  templates/package/metadata/helm.tmpl
  templates/package/shared/list.tmpl
  templates/package/view.tmpl
  templates/swagger/v1_json.tmpl
  web_src/svg/gitea-helm.svg
Labels: kind/feature, lgtm/done

#19427 Fix nil error when some pages are rendered outside request context
  templates/base/footer_content.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#19428 Backport: Fix nil error when some pages are rendered outside request context (#19427)
  templates/base/footer_content.tmpl
Labels: kind/bug, lgtm/done

#19429 When updating mirror repo intervals by API reschedule next update too
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  routers/web/repo/setting.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done, kind/api, backport/v1.16

#19431 Fix panic in team repos API
  models/organization/team_repo.go
  routers/api/v1/org/team.go
  routers/web/misc/markdown.go
Labels: kind/bug, lgtm/done, skip-changelog

#19433 When updating mirror repo intervals by API reschedule next update too (#19429)
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  routers/web/repo/setting.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done, kind/api

#19357 Don't allow merging PR's which are being conflict checked
  services/pull/check.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#19430 Add uploadpack.allowAnySHA1InWant to allow --filter=blob:none with older git clients
  modules/git/git.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19436 API: Search Issues, dont show 500 if filter result in empty list (#19244)
  models/issue.go
Labels: kind/bug, lgtm/done, kind/api

#19437 Warn on SSH connection for incorrect configuration (#19317)
  cmd/serv.go
Labels: kind/enhancement, lgtm/done

#19440 When dumping trim the standard suffices instead of a random suffix
  cmd/dump.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19438 Add uploadpack.allowAnySHA1InWant to allow --filter=blob:none with older git clients (#19430)
  modules/git/git.go
Labels: kind/bug, lgtm/done

#19441 Don't panic on `ErrEmailInvalid`
  integrations/api_user_email_test.go
  routers/api/v1/user/email.go
Labels: kind/bug, lgtm/done, backport/done, kind/api, backport/v1.16

#19442 Don't panic on `ErrEmailInvalid` (#19441)
  integrations/api_user_email_test.go
  routers/api/v1/user/email.go
Labels: kind/bug, lgtm/done, kind/api

#19444 Fix DELETE request for non-existent public key (#19443)
  routers/api/v1/user/key.go
Labels: kind/bug, lgtm/done, kind/api

#19447 When dumping trim the standard suffices instead of a random suffix (#19440)
  cmd/dump.go
Labels: kind/bug, lgtm/done

#19339 Add Changelog v1.16.6
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog, frontport/main

#19443 Fix DELETE request for non-existent public key
  routers/api/v1/user/key.go
Labels: kind/bug, lgtm/done, backport/done, kind/api, backport/v1.16

#19450 Add Changelog v1.16.6 (#19339)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#19451 node12 is EOL
  docs/config.yaml
  package-lock.json
  package.json
Labels: lgtm/done, kind/build

#19449 RepoAssignment ensure to close before overwrite
  modules/context/api.go
  modules/context/repo.go
  routers/api/v1/api.go
  routers/api/v1/repo/blob.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/notes.go
  services/repository/files/content.go
  services/repository/files/content_test.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, lgtm/done, kind/refactor, backport/v1.16

#19456 Fix logging of Transfer API
  routers/api/v1/repo/transfer.go
Labels: kind/bug, lgtm/done, kind/api

#19460 RepoAssignment ensure to close before overwrite (#19449)
  modules/context/repo.go
Labels: kind/bug, lgtm/done

#19457 Set correct PR status on 3way on conflict checking
  integrations/pull_merge_test.go
  models/pull.go
  modules/convert/pull.go
  services/pull/patch.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#19458 Set correct PR status on 3way on conflict checking (#19457)
  integrations/pull_merge_test.go
  models/pull.go
  modules/convert/pull.go
  services/pull/patch.go
Labels: kind/bug, lgtm/done

#19454 Prevent dangling cat-file calls (goroutine alternative)
  modules/git/batch_reader.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19466 Prevent dangling cat-file calls (goroutine alternative) (#19454)
  modules/git/batch_reader.go
Labels: kind/bug, lgtm/done

#19445 Mark TemplateLoading error as "UnprocessableEntity"
  routers/api/v1/repo/repo.go
Labels: kind/bug, lgtm/done, backport/done, kind/api, backport/v1.16

#19446 Mark TemplateLoading error as "UnprocessableEntity" (#19445)
  go.mod
  go.sum
  routers/api/v1/repo/repo.go
Labels: kind/bug, lgtm/done, kind/api

#19468 Use horizontal tabs for repo header on mobile
  templates/repo/header.tmpl
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done, theme/mobile

#19464 [doctor] authorized-keys: fix displayed check name
  modules/doctor/authorizedkeys.go
Labels: kind/bug, lgtm/done

#19370 Add RSS Feed buttons to Repo, User and Org pages
  options/locale/locale_en-US.ini
  templates/org/home.tmpl
  templates/repo/header.tmpl
  templates/user/profile.tmpl
  web_src/less/_organization.less
  web_src/less/_user.less
Labels: kind/ui, lgtm/done

#19477 use net.IsLoopback()
  modules/validation/helpers.go
Labels: lgtm/done, kind/refactor

#19380 Simplify the code to get issue count
  models/issue.go
Labels: lgtm/done, kind/refactor

#19484 [doctor] authorized-keys: fix displayed check name (backport #19464)
  modules/doctor/authorizedkeys.go
Labels: kind/bug, lgtm/done

#19476 User specific repoID or xorm builder conditions for issue search (#19475)
  models/issue.go
  models/issue_label.go
  models/issue_test.go
  modules/indexer/issues/indexer.go
  routers/api/v1/repo/issue.go
  routers/web/repo/issue.go
  routers/web/user/home.go
  services/migrations/gitea_uploader_test.go
Labels: kind/bug, lgtm/done, performance/speed

#19475 User specific repoID or xorm builder conditions for issue search
  models/issue.go
  models/issue_label.go
  models/issue_test.go
  modules/indexer/issues/indexer.go
  routers/api/v1/repo/issue.go
  routers/web/repo/issue.go
  routers/web/user/home.go
  services/migrations/gitea_uploader_test.go
Labels: kind/bug, lgtm/done, backport/done, performance/speed, backport/v1.16

#19396 add a directory prefix `gitea-src-VERSION` to release-tar-file
  Makefile
Labels: lgtm/done, kind/build, kind/breaking

#19490 Add notags to fetch (#19487)
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done

#19461 pass gitRepo down since its used for main repo and wiki
  modules/git/diff.go
  routers/api/v1/repo/commits.go
  routers/web/repo/cherry_pick.go
  routers/web/repo/commit.go
Labels: lgtm/done, kind/refactor

#18930 Improve Stopwatch behavior
  models/issue_stopwatch.go
  modules/eventsource/manager_run.go
  routers/web/events/events.go
  routers/web/repo/issue_stopwatch.go
  web_src/js/features/stopwatch.js
Labels: kind/enhancement, lgtm/done, performance/cpu

#19494 Fix two UI bugs: JS error in imagediff.js, 500 error in diff/compare.tmpl
  templates/repo/diff/compare.tmpl
  web_src/js/features/imagediff.js
Labels: kind/bug, kind/ui, lgtm/done

#19500 Add a new menu in file view to open blame view and fix blame view select range bug
  options/locale/locale_en-US.ini
  templates/repo/view_file.tmpl
  web_src/js/features/repo-code.js
Labels: kind/bug, kind/enhancement, lgtm/done, backport/v1.16

#19499 Use router param for filepath in GetRawFile
  modules/context/api.go
Labels: kind/bug, lgtm/done, kind/api

#19507 Allow commit status popup on /pulls page
  web_src/js/features/repo-commit.js
  web_src/js/features/repo-legacy.js
  web_src/js/index.js
Labels: kind/bug, kind/ui, lgtm/done

#19503 Fix blame page select range error and some typos
  docs/content/doc/installation/with-docker.fr-fr.md
  models/migrations/migrations.go
  web_src/js/features/repo-code.js
Labels: kind/bug, lgtm/done

#19512 Unset git author/committer variables when running integration tests
  integrations/integration_test.go
Labels: kind/bug, lgtm/done, kind/testing, backport/v1.16

#19506 Allow package dump skipping
  cmd/dump.go
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/enhancement, kind/docs, lgtm/done

#19502 Refactor readme file renderer
  routers/web/repo/view.go
Labels: lgtm/done, kind/refactor

#19486 By default force vertical tabs on mobile
  templates/base/head.tmpl
  templates/repo/header.tmpl
  templates/repo/home.tmpl
  templates/repo/wiki/view.tmpl
  web_src/less/_base.less
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done, theme/mobile

#19375 Add commit status popup to issuelist
  routers/web/repo/issue.go
  routers/web/user/home.go
  services/pull/pull.go
  templates/shared/issuelist.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#19517 Don't let repo clone URL overflow
  templates/repo/clone_buttons.tmpl
Labels: kind/bug, kind/ui, lgtm/done, theme/mobile

#19516 Prevent dangling archiver goroutine
  modules/indexer/code/indexer.go
  modules/indexer/issues/indexer.go
  services/repository/archiver/archiver.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19519 Unset git author/committer variables when running integration tests (#19512)
  integrations/integration_test.go
Labels: kind/bug, lgtm/done, kind/testing

#19510 Fix migrate release from github
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#19501 When view _Siderbar or _Footer, just display once
  routers/web/repo/wiki.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19483 Fix `upgrade.sh` script error with `su -c`
  contrib/upgrade.sh
Labels: lgtm/done

#19526 Prevent dangling archiver goroutine (#19516)
  modules/indexer/code/indexer.go
  modules/indexer/issues/indexer.go
  services/repository/archiver/archiver.go
Labels: kind/bug, lgtm/done

#19522 When view _Siderbar or _Footer, just display once (#19501)
  routers/web/repo/wiki.go
Labels: kind/bug, lgtm/done

#19523 Fix migrate release from github (#19510)
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done

#19536 Update image URL for Discord webhook
  routers/web/repo/webhook.go
  templates/repo/settings/webhook/discord.tmpl
Labels: kind/bug, lgtm/done

#19515 Make repository file list useable on mobile
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done, theme/mobile

#19537 Prevent intermittent race in attribute reader close
  modules/git/repo_attribute.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19511 more context for models
  models/action.go
  models/branches.go
  models/branches_test.go
  models/commit_status.go
  models/issue.go
  models/issue_label.go
  models/issue_label_test.go
  models/issue_xref.go
  models/lfs_lock.go
  models/organization/org.go
  models/organization/team_repo.go
  models/pull.go
  models/pull_list.go
  models/pull_test.go
  models/repo.go
  models/repo_permission.go
  models/repo_permission_test.go
  models/review.go
  modules/context/repo.go
  modules/convert/convert.go
  modules/convert/issue.go
  modules/convert/pull.go
  modules/notification/mail/mail.go
  modules/test/context_tests.go
  routers/api/v1/api.go
  routers/api/v1/repo/branch.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/pull_review.go
  routers/api/v1/repo/repo.go
  routers/private/hook_pre_receive.go
  routers/private/serv.go
  routers/web/repo/attachment.go
  routers/web/repo/branch.go
  routers/web/repo/compare.go
  routers/web/repo/http.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/repo/setting_protected_branch.go
  services/agit/agit.go
  services/asymkey/sign.go
  services/issue/assignee.go
  services/issue/commit.go
  services/issue/label.go
  services/lfs/locks.go
  services/lfs/server.go
  services/pull/check.go
  services/pull/commit_status.go
  services/pull/merge.go
  services/pull/patch.go
  services/pull/pull.go
  services/pull/review.go
  services/pull/temp_repo.go
  services/pull/update.go
Labels: lgtm/done, kind/refactor

#18002 Add "Allow edits from maintainer" feature
  models/migrations/migrations.go
  models/migrations/v213.go
  models/pull.go
  models/repo_permission.go
  modules/context/permission.go
  modules/context/repo.go
  modules/convert/convert.go
  modules/convert/pull.go
  modules/structs/pull.go
  modules/structs/repo_file.go
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/patch.go
  routers/api/v1/repo/pull.go
  routers/private/hook_pre_receive.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/repo/view.go
  routers/web/web.go
  services/forms/repo_form.go
  services/pull/edits.go
  services/pull/update.go
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/features/repo-issue.js
  web_src/js/index.js
Labels: kind/feature, lgtm/done

#19543 Support `hostname:port` to pass host matcher's check
  modules/hostmatcher/hostmatcher.go
  modules/hostmatcher/hostmatcher_test.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#19544 Support `hostname:port` to pass host matcher's check (#19543)
  modules/hostmatcher/hostmatcher.go
  modules/hostmatcher/hostmatcher_test.go
Labels: kind/bug, lgtm/done

#19547 Don't error when branch's commit doesn't exist
  routers/api/v1/repo/branch.go
Labels: kind/bug, lgtm/done, kind/api, backport/v1.16

#19535 Fix Pull Request comment filename word breaks
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/helpers.less
Labels: kind/ui, lgtm/done

#19548 Don't error when branch's commit doesn't exist (#19547)
  routers/api/v1/repo/branch.go
Labels: kind/bug, lgtm/done, kind/api

#19534 Permalink files In PR diff
  templates/repo/diff/box.tmpl
Labels: kind/enhancement, lgtm/done

#18761 Add API to query collaborators permission for a repository
  integrations/api_repo_collaborator_test.go
  models/fixtures/user.yml
  modules/convert/user.go
  modules/structs/repo_collaborator.go
  routers/api/v1/api.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/swagger/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api

#19556 Mute link in diff header
  templates/repo/diff/box.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#19310 Respect DefaultUserIsRestricted system default when creating new user
  cmd/admin.go
  models/user/user.go
  modules/structs/admin_user.go
  routers/api/v1/admin/user.go
  routers/install/install.go
  routers/web/admin/users.go
  routers/web/auth/auth.go
  routers/web/auth/linkaccount.go
  routers/web/auth/oauth.go
  routers/web/auth/openid.go
  services/auth/reverseproxy.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/ldap/source_sync.go
  services/auth/source/pam/source_authenticate.go
  services/auth/source/smtp/source_authenticate.go
  services/auth/sspi_windows.go
  templates/swagger/v1_json.tmpl
Labels: kind/security, lgtm/done

#19563 Migration: only write commit-graph if wiki clone was successfull
  modules/repository/repo.go
Labels: kind/bug, lgtm/done, theme/migration, backport/v1.16

#19560 Respect DefaultUserIsRestricted system default when creating new user (#19310)
  cmd/admin.go
  models/user/user.go
  modules/structs/admin_user.go
  routers/api/v1/admin/user.go
  routers/install/install.go
  routers/web/admin/users.go
  routers/web/auth/auth.go
  routers/web/auth/linkaccount.go
  routers/web/auth/oauth.go
  routers/web/auth/openid.go
  services/auth/reverseproxy.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/ldap/source_sync.go
  services/auth/source/pam/source_authenticate.go
  services/auth/source/smtp/source_authenticate.go
  services/auth/sspi_windows.go
  templates/swagger/v1_json.tmpl
Labels: kind/bug, kind/security, lgtm/done

#19562 Added X-Mailer header to outgoing emails
  services/mailer/mail.go
Labels: kind/enhancement, lgtm/done

#19559 use middleware to open gitRepo
  routers/api/v1/api.go
  routers/api/v1/utils/git.go
Labels: lgtm/done, kind/refactor

#19568 Migration: only write commit-graph if wiki clone was successfull (#19563)
  modules/repository/repo.go
Labels: kind/bug, lgtm/done, theme/migration

#19569 Simplify loops to copy
  modules/setting/log.go
  routers/api/v1/repo/language.go
Labels: lgtm/done, kind/refactor
