Repository go-gitea/gitea, pull requests merged in 2022-12, with the labels that each got.

#21996 Skip initing LFS storage if disabled
  modules/storage/storage.go
Labels: kind/enhancement, lgtm/done, skip-changelog

#21969 Util type to parse ref name
  modules/git/ref.go
Labels: kind/enhancement, lgtm/done, reviewed/wait_merge

#22000 Update chroma to v2.4.0
  go.mod
  go.sum
Labels: lgtm/done, dependencies

#21993 Use path not filepath in template filenames
  modules/issue/template/unmarshal.go
Labels: kind/bug, lgtm/done, backport/v1.18, reviewed/wait_merge

#21998 Fix generate index failure possibility on postgres
  models/db/index.go
  models/git/commit_status.go
  tests/integration/repo_commits_test.go
Labels: kind/bug, lgtm/done

#21984 Remove session in api tests
  tests/integration/api_admin_org_test.go
  tests/integration/api_admin_test.go
  tests/integration/api_branch_test.go
  tests/integration/api_comment_test.go
  tests/integration/api_gpg_keys_test.go
  tests/integration/api_httpsig_test.go
  tests/integration/api_issue_label_test.go
  tests/integration/api_issue_milestone_test.go
  tests/integration/api_issue_reaction_test.go
  tests/integration/api_issue_stopwatch_test.go
  tests/integration/api_issue_subscription_test.go
  tests/integration/api_issue_test.go
  tests/integration/api_issue_tracked_time_test.go
  tests/integration/api_keys_test.go
  tests/integration/api_notification_test.go
  tests/integration/api_oauth2_apps_test.go
  tests/integration/api_org_test.go
  tests/integration/api_pull_commits_test.go
  tests/integration/api_pull_review_test.go
  tests/integration/api_pull_test.go
  tests/integration/api_releases_test.go
  tests/integration/api_repo_collaborator_test.go
  tests/integration/api_repo_edit_test.go
  tests/integration/api_repo_file_create_test.go
  tests/integration/api_repo_file_delete_test.go
  tests/integration/api_repo_file_update_test.go
  tests/integration/api_repo_get_contents_list_test.go
  tests/integration/api_repo_get_contents_test.go
  tests/integration/api_repo_git_blobs_test.go
  tests/integration/api_repo_git_commits_test.go
  tests/integration/api_repo_git_notes_test.go
  tests/integration/api_repo_git_ref_test.go
  tests/integration/api_repo_git_tags_test.go
  tests/integration/api_repo_git_trees_test.go
  tests/integration/api_repo_languages_test.go
  tests/integration/api_repo_raw_test.go
  tests/integration/api_repo_tags_test.go
  tests/integration/api_repo_teams_test.go
  tests/integration/api_repo_test.go
  tests/integration/api_team_test.go
  tests/integration/api_team_user_test.go
  tests/integration/api_user_email_test.go
  tests/integration/api_user_org_perm_test.go
  tests/integration/api_user_orgs_test.go
  tests/integration/api_user_search_test.go
  tests/integration/api_wiki_test.go
Labels: lgtm/done, kind/testing, kind/refactor, reviewed/wait_merge

#21990 Multiple improvements for comment edit diff
  routers/web/repo/issue_content_history.go
  web_src/js/features/repo-issue-content.js
  web_src/js/svg.js
  web_src/less/_repository.less
Labels: kind/bug, lgtm/done, backport/v1.18, reviewed/wait_merge

#22004 Update gitea-vet to check FSFE REUSE
  go.mod
  go.sum
  models/migrations/v1_19/v234.go
  models/migrations/v1_19/v235.go
  models/packages/package_cleanup_rule.go
  modules/context/csrf.go
  modules/context/xsrf.go
  modules/context/xsrf_test.go
  modules/json/json.go
  modules/paginator/paginator.go
  modules/paginator/paginator_test.go
  modules/session/redis.go
  routers/web/org/setting_packages.go
  routers/web/shared/packages/packages.go
  routers/web/user/setting/packages.go
  services/forms/package_form.go
  services/packages/container/common.go
Labels: lgtm/done, kind/lint, reviewed/wait_merge

#21904 Update to Alpine 3.17
  .drone.yml
  Dockerfile
  Dockerfile.rootless
Labels: lgtm/done, kind/build, reviewed/wait_merge

#22008 Add pnpm to packages/overview
  docs/content/doc/packages/overview.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait_merge

#22007 Multiple improvements for comment edit diff (#21990)
  routers/web/repo/issue_content_history.go
  web_src/js/features/repo-issue-content.js
  web_src/js/svg.js
  web_src/less/_repository.less
Labels: kind/enhancement, lgtm/done

#22012 Remove deprecated packages & staticcheck fixes
  modules/activitypub/client_test.go
  tests/integration/api_packages_nuget_test.go
  tests/integration/api_packages_vagrant_test.go
  tests/integration/api_pull_test.go
  tests/integration/download_test.go
  tests/integration/nonascii_branches_test.go
  tests/integration/rename_branch_test.go
Labels: lgtm/done, kind/lint, reviewed/wait_merge

#21981 docs: add `Edit this page`
  docs/config.yaml
Labels: kind/docs, lgtm/done

#22016 Do not emit ambiguous character warning on rendered pages
  templates/repo/view_file.tmpl
Labels: kind/bug, lgtm/done, backport/v1.18

#22022 Use path not filepath in template filenames (#21993)
  modules/issue/template/unmarshal.go
Labels: kind/bug, lgtm/done

#21850 fix(web): reduce page jitter on browsers that support overlay scrollbar
  web_src/less/_base.less
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait_merge

#21921 Fix ListBranches to handle empty case
  routers/api/v1/repo/branch.go
Labels: kind/bug, lgtm/done, backport/v1.17, backport/v1.18, reviewed/wait_merge

#21787 On tag/branch-exist check, dont panic if repo is nil
  modules/git/repo_branch_nogogit.go
  modules/git/repo_tag_nogogit.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17, backport/v1.18

#21788 On tag/branch-exist check, dont panic if repo is nil (#21787)
  modules/git/repo_branch_nogogit.go
  modules/git/repo_tag_nogogit.go
Labels: kind/bug, lgtm/done, skip-changelog

#22018 Do not emit ambiguous character warning on rendered pages (#22016)
  templates/repo/view_file.tmpl
Labels: kind/bug, lgtm/done

#21775 Add dumb-init to rootless docker
  Dockerfile.rootless
Labels: lgtm/done, kind/breaking, theme/docker

#22021 Use GhostUser if needed for TrackedTimes
  models/issues/tracked_time.go
  modules/convert/issue.go
Labels: kind/bug, lgtm/done, backport/v1.18

#22019 Ensure that Chinese punctuation is not ambiguous when locale is Chinese
  modules/charset/ambiguous.go
Labels: kind/bug, lgtm/done, backport/v1.18

#22025 Fix ListBranches to handle empty case (#21921)
  routers/api/v1/repo/branch.go
Labels: kind/bug, lgtm/done

#22024 Fix ListBranches to handle empty case (#21921)
  routers/api/v1/repo/branch.go
Labels: kind/bug, lgtm/done, skip-changelog

#22030 Ensure that Chinese punctuation is not ambiguous when locale is Chinese (#22019)
  modules/charset/ambiguous.go
Labels: kind/bug, lgtm/done

#21789 On Tag/Branch Exist Check, dont panic if repo is nil (#21787)
  modules/git/repo_branch_nogogit.go
  modules/git/repo_tag_nogogit.go
Labels: kind/bug, lgtm/done, skip-changelog

#22029 Use GhostUser if needed for TrackedTimes (#22021)
  models/issues/tracked_time.go
  modules/convert/issue.go
Labels: kind/bug, lgtm/done, reviewed/wait_merge

#21872 Remove useless "Cancel" buttons
  templates/org/create.tmpl
  templates/org/team/new.tmpl
  templates/repo/migrate/codebase.tmpl
  templates/repo/migrate/git.tmpl
  templates/repo/migrate/gitbucket.tmpl
  templates/repo/migrate/gitea.tmpl
  templates/repo/migrate/github.tmpl
  templates/repo/migrate/gitlab.tmpl
  templates/repo/migrate/gogs.tmpl
  templates/repo/migrate/onedev.tmpl
  templates/repo/pulls/fork.tmpl
  templates/user/project.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#22028 Handle empty author names (#21902)
  modules/git/signature_gogit.go
  modules/git/signature_nogogit.go
Labels: kind/bug, lgtm/done

#22037 Fix issue/PR numbers
  models/issues/issue.go
  models/repo.go
  services/issue/issue.go
Labels: kind/bug, lgtm/done, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22046 Add dumb-init to rootless docker
  Dockerfile.rootless
Labels: lgtm/done

#22027 Handle empty author names (#21902)
  modules/git/signature_gogit.go
  modules/git/signature_nogogit.go
Labels: kind/bug, lgtm/done, reviewed/wait_merge

#22045 Fix issue/PR numbers (#22037)
  models/issues/issue.go
  models/repo.go
  services/issue/issue.go
Labels: kind/bug, lgtm/done

#22053 Support disabling database auto migration
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/doctor/dbversion.go
  modules/setting/database.go
  routers/common/db.go
Labels: kind/enhancement, lgtm/done

#22026 Round language stats percentage using largest remainder
  models/repo/language_stats.go
Labels: lgtm/done

#22064 Update go dev dependencies
  .golangci.yml
  Makefile
  models/db/context.go
  models/migrations/v1_17/main_test.go
  models/migrations/v1_17/v211.go
  models/migrations/v1_17/v212.go
  models/migrations/v1_17/v213.go
  models/migrations/v1_17/v214.go
  models/migrations/v1_17/v215.go
  models/migrations/v1_17/v216.go
  models/migrations/v1_17/v217.go
  models/migrations/v1_17/v218.go
  models/migrations/v1_17/v219.go
  models/migrations/v1_17/v220.go
  models/migrations/v1_17/v221.go
  models/migrations/v1_17/v221_test.go
  models/migrations/v1_17/v222.go
  models/migrations/v1_17/v223.go
  models/migrations/v1_18/main_test.go
  models/migrations/v1_18/v224.go
  models/migrations/v1_18/v225.go
  models/migrations/v1_18/v226.go
  models/migrations/v1_18/v227.go
  models/migrations/v1_18/v228.go
  models/migrations/v1_18/v230.go
  models/migrations/v1_19/main_test.go
  models/migrations/v1_19/v232.go
  models/migrations/v1_6/v70.go
  models/migrations/v1_6/v71.go
  models/migrations/v1_6/v72.go
  models/migrations/v1_7/v73.go
  models/migrations/v1_7/v74.go
  models/migrations/v1_7/v75.go
  models/migrations/v1_8/v76.go
  models/migrations/v1_8/v77.go
  models/migrations/v1_8/v78.go
  models/migrations/v1_8/v79.go
  models/migrations/v1_8/v80.go
  models/migrations/v1_8/v81.go
  models/migrations/v1_9/v82.go
  modules/charset/escape_stream.go
  modules/log/groutinelabel.go
  modules/setting/setting.go
  routers/api/packages/pypi/pypi.go
Labels: lgtm/done, dependencies, skip-changelog

#22067 Rename actions to operations on UI
  options/locale/locale_en-US.ini
  templates/admin/notice.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/home.tmpl
Labels: kind/ui, lgtm/done

#21783 Add API management for issue/pull and comment attachments
  models/issues/comment.go
  models/migrations/v1_10/v96.go
  modules/convert/attachment.go
  modules/convert/issue.go
  modules/convert/issue_comment.go
  modules/convert/release.go
  modules/notification/webhook/webhook.go
  modules/structs/issue.go
  modules/structs/issue_comment.go
  routers/api/v1/api.go
  routers/api/v1/repo/issue_attachment.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_comment_attachment.go
  routers/api/v1/repo/release_attachment.go
  routers/web/repo/attachment.go
  routers/web/repo/issue.go
  services/attachment/attachment.go
  services/release/release.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_comment_attachment_test.go
  tests/integration/api_issue_attachment_test.go
Labels: kind/feature, lgtm/done, kind/api, reviewed/wait_merge

#22080 Optimize html templates
  templates/admin/base/search.tmpl
  templates/admin/emails/list.tmpl
  templates/admin/navbar.tmpl
  templates/admin/repo/search.tmpl
  templates/base/head_navbar.tmpl
  templates/base/paginate.tmpl
  templates/explore/navbar.tmpl
  templates/explore/repo_search.tmpl
  templates/explore/search.tmpl
  templates/org/settings/navbar.tmpl
  templates/repo/header.tmpl
  templates/repo/issue/labels/label_list.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/navbar.tmpl
  templates/repo/issue/openclose.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/navbar.tmpl
  templates/user/auth/signin_navbar.tmpl
  templates/user/auth/signup_openid_navbar.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/dashboard/milestones.tmpl
  templates/user/dashboard/navbar.tmpl
  templates/user/notification/notification_div.tmpl
  templates/user/profile.tmpl
  templates/user/settings/navbar.tmpl
Labels: lgtm/done, skip-changelog

#21966 Change ID pattern of raw content container for issue
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/context_menu.tmpl
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
Labels: kind/ui, lgtm/done

#22068 Workaround for container registry push/pull errors (#21862)
  modules/packages/content_store.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/container/manifest.go
  tests/integration/api_packages_container_test.go
Labels: kind/bug, lgtm/done, theme/package-registry

#22069 Workaround for container registry push/pull errors (#21862)
  integrations/api_packages_container_test.go
  modules/packages/content_store.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/container/manifest.go
Labels: kind/bug, lgtm/done, theme/package-registry

#22090 Remove unnecessary whitespace in snapcraft.yaml
  snap/snapcraft.yaml
Labels: lgtm/done, skip-changelog

#22094 Update xorm
  go.mod
  go.sum
  models/db/engine.go
Labels: lgtm/done, skip-changelog

#22096 fix(config): remove context on config template
  templates/admin/config.tmpl
Labels: kind/bug, lgtm/done

#22084 Fix wrong default value for update checker on app.example.ini
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done, kind/misc

#22081 Fix sorting admin user list by last login
  routers/web/explore/user.go
  templates/admin/user/list.tmpl
Labels: lgtm/done, reviewed/wait_merge

#22099 Use multi reader instead to concat strings
  modules/markup/html.go
Labels: lgtm/done, kind/refactor, reviewed/wait_merge

#20805 Allow disable code tab
  routers/web/repo/setting.go
  services/forms/repo_form.go
  templates/repo/settings/options.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait_merge

#22055 refactor bind functions based on generics
  modules/web/route.go
  routers/api/v1/api.go
  routers/private/internal.go
  routers/web/web.go
Labels: lgtm/done, kind/refactor

#20033 Add a simple test for external renderer
  models/db/iterate_test.go
  models/fixtures/repo_unit.yml
  models/fixtures/repository.yml
  models/fixtures/user.yml
  models/repo/repo_list_test.go
  routers/web/user/home_test.go
  tests/gitea-repositories-meta/user30/renderer.git/HEAD
  tests/gitea-repositories-meta/user30/renderer.git/config
  tests/gitea-repositories-meta/user30/renderer.git/description
  tests/gitea-repositories-meta/user30/renderer.git/hooks/post-receive
  tests/gitea-repositories-meta/user30/renderer.git/hooks/post-receive.d/gitea
  tests/gitea-repositories-meta/user30/renderer.git/hooks/pre-receive
  tests/gitea-repositories-meta/user30/renderer.git/hooks/pre-receive.d/gitea
  tests/gitea-repositories-meta/user30/renderer.git/hooks/update
  tests/gitea-repositories-meta/user30/renderer.git/hooks/update.d/gitea
  tests/gitea-repositories-meta/user30/renderer.git/info/exclude
  tests/gitea-repositories-meta/user30/renderer.git/objects/06/0d5c2acd8bf4b6f14010acd1a73d73392ec46e
  tests/gitea-repositories-meta/user30/renderer.git/objects/45/14a93050edb2c3165bdd0a3c03be063e879e68
  tests/gitea-repositories-meta/user30/renderer.git/objects/c9/61cc4d1ba6b7ee1ba228a9a02b00b7746d8033
  tests/gitea-repositories-meta/user30/renderer.git/packed-refs
  tests/integration/api_repo_test.go
  tests/integration/markup_external_test.go
  tests/sqlite.ini.tmpl
  tools/external_renderer.go
Labels: lgtm/done, kind/testing

#22114 Fix permission check on issue/pull lock
  routers/web/web.go
Labels: kind/bug, lgtm/done

#22113 Fix permission check on issue/pull lock
  routers/web/web.go
Labels: kind/bug, lgtm/done, skip-changelog

#22106 Fix sorting admin user list by last login (#22081)
  routers/web/explore/user.go
  templates/admin/user/list.tmpl
Labels: kind/bug, lgtm/done

#22111 Fix warn in database structs sync
  models/repo/pushmirror.go
Labels: lgtm/done, kind/misc

#22107 Fix sorting admin user list by last login (#22081)
  routers/web/explore/user.go
  templates/admin/user/list.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#22123 Fix markdown typo of an extra backtick in docs
  docs/content/doc/installation/from-source.en-us.md
Labels: lgtm/done

#22073 Make gitea work using cmd.exe again
  modules/setting/setting.go
Labels: kind/bug, lgtm/done, backport/v1.18, reviewed/wait_merge

#22095 Fix condition for is_internal
  models/packages/package_version.go
  routers/api/packages/npm/npm.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22042 remove duplicated read file code
  routers/web/repo/view.go
Labels: lgtm/done, kind/refactor, reviewed/wait_merge

#22133 Make gitea work using cmd.exe again (#22073)
  modules/setting/setting.go
Labels: kind/bug, lgtm/done

#22118 Correctly handle moved files in apply patch
  services/pull/patch.go
Labels: kind/bug, lgtm/done, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22131 Fix condition for is_internal (#22095)
  models/packages/package_version.go
Labels: kind/bug, lgtm/done, theme/package-registry

#22132 Fix condition for is_internal (#22095)
  models/packages/package_version.go
  routers/api/packages/npm/npm.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait_merge

#22108 Fixed Project view .board-column height for tall screens.
  web_src/less/features/projects.less
Labels: kind/ui, lgtm/done, reviewed/wait_merge

#22135 Correctly handle moved files in apply patch (#22118)
  services/pull/patch.go
Labels: kind/bug, lgtm/done, reviewed/wait_merge

#22136 Correctly handle moved files in apply patch (#22118)
  services/pull/patch.go
Labels: kind/bug, lgtm/done, reviewed/wait_merge

#22143 remove silentcode from MAINTAINERS
  MAINTAINERS
Labels: lgtm/done

#21978 Add doctor command for full GC of LFS
  models/git/lfs.go
  modules/doctor/lfs.go
  services/cron/tasks_basic.go
  services/repository/check.go
  services/repository/lfs.go
Labels: kind/enhancement, lgtm/done

#22034 Do not list active repositories as unadopted
  services/repository/adopt.go
Labels: kind/bug, lgtm/done, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22147 Update username
  MAINTAINERS
Labels: lgtm/done

#22122 Fix margin and alignment in dashboard repolist (#22120)
  templates/user/dashboard/repolist.tmpl
  web_src/less/_dashboard.less
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#22120 Fix margin and alignment in dashboard repolist
  templates/user/dashboard/repolist.tmpl
  web_src/less/_dashboard.less
Labels: kind/bug, kind/ui, lgtm/done, backport/v1.18

#22137 verify nodeinfo response by schema
  go.mod
  go.sum
  tests/integration/api_nodeinfo_test.go
  tests/integration/integration_test.go
  tests/integration/schemas/nodeinfo_2.1.json
Labels: lgtm/done, kind/testing, reviewed/wait_merge

#22017 Ensure that plain files are rendered correctly even when containing ambiguous characters
  modules/charset/escape.go
  routers/web/repo/view.go
  templates/repo/settings/lfs_file.tmpl
  templates/repo/view_file.tmpl
Labels: kind/bug, lgtm/done, backport/v1.18

#22158 Fix heatmap first color being unused
  web_src/js/components/ActivityHeatmap.vue
Labels: kind/bug, lgtm/done

#22163 Local storage should not store files as executable (#22162)
  modules/storage/local.go
Labels: kind/bug, lgtm/done, kind/regression

#22162 Local storage should not store files as executable
  modules/storage/local.go
Labels: kind/bug, lgtm/done, backport/done, kind/regression, backport/v1.18

#22130 Add setting to disable the git apply step in test patch
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/repository.go
  services/pull/patch.go
Labels: kind/enhancement, lgtm/done, reviewed/wait_merge

#22166 Do not list active repositories as unadopted (#22034)
  services/repository/adopt.go
Labels: kind/bug, lgtm/done

#22167 Do not list active repositories as unadopted (#22034)
  services/repository/adopt.go
Labels: kind/bug, lgtm/done

#22160 Ensure that plain files are rendered correctly even when containing ambiguous characters (#22017)
  modules/charset/escape.go
  routers/web/repo/view.go
  templates/repo/settings/lfs_file.tmpl
  templates/repo/view_file.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait_merge

#22157 Fix heatmap first color being unused
  web_src/js/components/ActivityHeatmap.vue
Labels: kind/bug, lgtm/done, reviewed/wait_merge

#22172 Check for zero time instant in TimeStamp.IsZero() (#22171)
  modules/timeutil/timestamp.go
Labels: lgtm/done

#22171 Check for zero time instant in `TimeStamp.IsZero()`
  modules/timeutil/timestamp.go
Labels: lgtm/done, backport/done, backport/v1.17, backport/v1.18

#22173 Check for zero time instant in TimeStamp.IsZero() (#22171)
  modules/timeutil/timestamp.go
Labels: lgtm/done

#22142 Secrets storage with SecretKey encrypted
  docs/content/doc/secrets/overview.en-us.md
  models/migrations/migrations.go
  models/migrations/v1_19/v236.go
  models/organization/org.go
  models/repo.go
  models/secret/secret.go
  options/locale/locale_en-US.ini
  routers/web/org/setting.go
  routers/web/repo/setting.go
  routers/web/web.go
  services/forms/user_form.go
  templates/org/settings/navbar.tmpl
  templates/org/settings/secrets.tmpl
  templates/repo/settings/deploy_keys.tmpl
  templates/repo/settings/nav.tmpl
  templates/repo/settings/navbar.tmpl
  templates/repo/settings/secrets.tmpl
Labels: kind/feature, lgtm/done, reviewed/wait_merge

#22180 Disable auto tag to prepare next 1.17 release
  .drone.yml
Labels: lgtm/done, kind/build

#22187 Fix delete secret modal
  templates/repo/settings/deploy_keys.tmpl
  templates/repo/settings/secrets.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#22190 Update JS dependencies and eslint
  .drone.yml
  .eslintrc.yaml
  build/generate-images.js
  build/generate-svg.js
  package-lock.json
  package.json
  public/img/svg/octicon-goal.svg
  public/img/svg/octicon-read.svg
  public/img/svg/octicon-rel-file-path.svg
  public/img/svg/octicon-sponsor-tiers.svg
  public/img/svg/octicon-unlink.svg
  public/img/svg/octicon-unread.svg
  vitest.config.js
  webpack.config.js
Labels: lgtm/done, dependencies

#22189 Fix misc whitespace issues in install docs
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/installation/with-docker.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait_merge

#22195 Repair LFS web rendering.
  routers/web/repo/view.go
Labels: lgtm/done

#22192 Specify ID in `TestAPITeam`
  tests/integration/api_team_test.go
Labels: lgtm/done, kind/testing

#22159 Attempt to fix TestExportUserGPGKeys
  tests/integration/integration_test.go
Labels: kind/bug, lgtm/done, kind/testing, backport/v1.18, reviewed/wait_merge

#22186 Normalize NuGet package version on upload
  modules/packages/nuget/metadata.go
  modules/packages/nuget/metadata_test.go
  routers/api/packages/nuget/api_v2.go
  routers/api/packages/nuget/api_v3.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22152 Mobile fix for Project view: Add delay to Sortable.js on mobile, to ensure scrolling is possible.
  web_src/js/features/repo-projects.js
Labels: lgtm/done, kind/ux, reviewed/wait_merge

#22092 Fixed colour transparency regex matching in project board sorting (#22091)
  web_src/js/features/repo-projects.js
Labels: kind/bug, lgtm/done, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22201 Normalize NuGet package version on upload (#22186)
  modules/packages/nuget/metadata.go
  modules/packages/nuget/metadata_test.go
  routers/api/packages/nuget/api.go
Labels: kind/bug, lgtm/done, theme/package-registry

#22204 fix: update libcurl in docs pipeline
  .drone.yml
Labels: lgtm/done, kind/build

#22203 fix: update libcurl in docs pipeline
  .drone.yml
Labels: lgtm/done, backport/done, kind/build, skip-changelog, backport/v1.17, backport/v1.18

#22205 fix: update libcurl in docs pipeline
  .drone.yml
Labels: lgtm/done, kind/build, skip-changelog

#22200 Normalize NuGet package version on upload (#22186)
  modules/packages/nuget/metadata.go
  modules/packages/nuget/metadata_test.go
  routers/api/packages/nuget/api_v2.go
  routers/api/packages/nuget/api_v3.go
Labels: kind/bug, lgtm/done, theme/package-registry

#21696 Add Feed for Releases and Tags
  options/locale/locale_en-US.ini
  routers/web/feed/convert.go
  routers/web/feed/release.go
  routers/web/repo/release.go
  routers/web/web.go
  templates/repo/release/list.tmpl
Labels: kind/feature, lgtm/done, reviewed/wait_merge

#22198 Update changelog for 1.17.4
  CHANGELOG.md
Labels: kind/docs, lgtm/done, changelog

#22150 Allow empty assignees on pull request edit
  routers/api/v1/repo/pull.go
Labels: kind/bug, lgtm/done, kind/api, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22031 Update bleve and zapx to fix unaligned atomic
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, backport/v1.18, reviewed/wait_merge

#22206 Run hugo via `go run` and lock its version
  .drone.yml
  docs/Makefile
  docs/scripts/trans-copy.sh
Labels: kind/docs, lgtm/done, kind/build, skip-changelog

#22208 Fix container layer display overflow
  templates/package/content/container.tmpl
Labels: kind/bug, kind/ui, lgtm/done, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22170 Add setting to disable the git apply step in test patch (#22130)
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/repository.go
  services/pull/patch.go
Labels: kind/enhancement, lgtm/done

#22212 Fix container layer display overflow (#22208)
  templates/package/content/container.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#22209 Upgrade hugo to 0.82
  docs/Makefile
Labels: kind/docs, lgtm/done, kind/build

#22214 Allow empty assignees on pull request edit (#22150)
  routers/api/v1/repo/pull.go
Labels: kind/bug, lgtm/done, kind/api

#22213 Allow empty assignees on pull request edit (#22150)
  routers/api/v1/repo/pull.go
Labels: kind/bug, lgtm/done, kind/api

#22199 Remove test session cache to reduce possible concurrent problem
  tests/integration/integration_test.go
  tests/integration/signout_test.go
Labels: lgtm/done, kind/testing

#22211 Fix container layer display overflow (#22208)
  templates/package/content/container.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#22216 frontport 1.17.4 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#22218 Update bleve and zapx to fix unaligned atomic (#22031)
  go.mod
  go.sum
Labels: kind/bug, lgtm/done

#22196 Test views of LFS files
  CONTRIBUTING.md
  models/db/iterate_test.go
  models/fixtures/lfs_meta_object.yml
  models/fixtures/repo_unit.yml
  models/fixtures/repository.yml
  models/fixtures/user.yml
  tests/gitea-lfs-meta/0b/8d/8b5f15046343fd32f451df93acc2bdd9e6373be478b968e4cad6b6647351
  tests/gitea-lfs-meta/2e/cc/db43825d2a49d99d542daa20075cff1d97d9d2349a8977efe9c03661737c
  tests/gitea-lfs-meta/7b/6b/2c88dba9f760a1a58469b67fee2b698ef7e9399c4ca4f34a14ccbe39f623
  tests/gitea-lfs-meta/9d/17/2e5c64b4f0024b9901ec6afe9ea052f3c9b6ff9f4b07956d8c48c86fca82
  tests/gitea-repositories-meta/user2/lfs.git/HEAD
  tests/gitea-repositories-meta/user2/lfs.git/config
  tests/gitea-repositories-meta/user2/lfs.git/objects/15/2de0f78bc6815b58cd9f08aebe3f66fb0f172e
  tests/gitea-repositories-meta/user2/lfs.git/objects/23/10e4a07f9314a1a92fdfbdcd3d2884f01e96ab
  tests/gitea-repositories-meta/user2/lfs.git/objects/2b/6c6c4eaefa24b22f2092c3d54b263ff26feb58
  tests/gitea-repositories-meta/user2/lfs.git/objects/73/cf03db6ece34e12bf91e8853dc58f678f2f82d
  tests/gitea-repositories-meta/user2/lfs.git/objects/74/21a018a7e3f15ee5691f162d0ed87dc19882f0
  tests/gitea-repositories-meta/user2/lfs.git/objects/82/76d2a29779af982c0afa976bdb793b52d442a8
  tests/gitea-repositories-meta/user2/lfs.git/objects/bc/e50ea8f203ee923d5a640d05208abf3206486e
  tests/gitea-repositories-meta/user2/lfs.git/objects/d4/a41a0d4db4949e129bd22f871171ea988103ef
  tests/gitea-repositories-meta/user2/lfs.git/objects/d7/ce0013ced38b0696dd2d68d69a5d8b652f7148
  tests/gitea-repositories-meta/user2/lfs.git/objects/df/d8105b264d304c49ed9f1d56bd90189ecdf833
  tests/gitea-repositories-meta/user2/lfs.git/refs/heads/master
  tests/integration/lfs_view_test.go
  tests/test_utils.go
Labels: lgtm/done, kind/testing, reviewed/wait_merge

#22217 Hide file borders on sticky diff box
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait_merge

#21721 Check primary keys for all tables and drop ForeignReference
  models/db/engine_test.go
  models/fixtures/foreign_reference.yml
  models/foreignreference/error.go
  models/foreignreference/foreignreference.go
  models/issues/issue.go
  models/issues/issue_test.go
  models/migrate.go
  models/migrate_test.go
  models/migrations/migrations.go
  models/migrations/v1_19/v237.go
  services/migrations/gitea_uploader.go
Labels: lgtm/done, kind/testing, kind/breaking

#22227 JS refactors
  web_src/js/components/ActivityHeatmap.vue
  web_src/js/components/ContextPopup.vue
  web_src/js/components/DiffFileList.vue
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/DiffFileTreeItem.vue
  web_src/js/components/PullRequestMergeForm.vue
  web_src/js/features/clipboard.js
  web_src/js/features/colorpicker.js
  web_src/js/features/common-global.js
  web_src/js/features/comp/ColorPicker.js
  web_src/js/features/comp/EasyMDE.js
  web_src/js/features/comp/SearchUserBox.js
  web_src/js/features/comp/WebHookEditor.js
  web_src/js/features/contextpopup.js
  web_src/js/features/copycontent.js
  web_src/js/features/dropzone.js
  web_src/js/features/emoji.js
  web_src/js/features/file-fold.js
  web_src/js/features/formatting.js
  web_src/js/features/heatmap.js
  web_src/js/features/imagediff.js
  web_src/js/features/repo-diff-filetree.js
  web_src/js/features/repo-findfile.js
  web_src/js/features/repo-graph.js
  web_src/js/features/repo-issue-pr-form.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-migration.js
  web_src/js/features/repo-projects.js
  web_src/js/features/repo-release.js
  web_src/js/features/serviceworker.js
  web_src/js/features/tablesort.js
  web_src/js/features/tribute.js
  web_src/js/index.js
  web_src/js/svg.js
Labels: lgtm/done, kind/refactor, skip-changelog

#22223 improve testing for pgsql empty repository
  tests/integration/empty_repo_test.go
Labels: lgtm/done, kind/testing

#22225 Add Mermaid copy button, avoid unnecessary tooltip hide
  web_src/js/markup/codecopy.js
  web_src/js/markup/mermaid.js
  web_src/js/modules/tippy.js
  web_src/less/markup/codecopy.less
Labels: kind/feature, kind/ui, lgtm/done, reviewed/wait_merge

#22242 Fix typo of Asia/Shanghai
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#22219 Remove ReverseProxy authentication from the API
  routers/api/v1/api.go
Labels: kind/bug, lgtm/done, kind/breaking, backport/v1.18

#22245 Remove deadcode
  modules/git/repo_attribute.go
  modules/git/repo_attribute_test.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
Labels: lgtm/done, kind/refactor

#22246 Add more test directory to exclude dir of air, remove watching templates from air include dir because gitea has internal mechanism
  .air.toml
  Makefile
  modules/setting/setting.go
Labels: lgtm/done, kind/build, backport/v1.18

#22244 Use complete SHA to create and query commit status
  models/activities/action.go
  models/git/commit_status.go
  modules/context/api.go
  modules/context/repo.go
  modules/git/repo_commit_gogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_index.go
  modules/git/repo_tree_gogit.go
  modules/git/repo_tree_nogogit.go
  modules/git/sha1.go
  routers/api/v1/repo/status.go
  routers/api/v1/utils/git.go
  routers/web/repo/commit.go
  services/pull/check.go
  services/pull/merge.go
  services/pull/temp_repo.go
  services/repository/files/commit.go
  services/repository/files/tree.go
  tests/integration/repo_commits_test.go
Labels: kind/bug, lgtm/done, backport/v1.17, backport/v1.18, reviewed/wait_merge

#22249 Add the 'ui.user' section to the cheat sheet
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#22254 Update standard copyright header to use a placeholder year
  CONTRIBUTING.md
Labels: lgtm/done

#22251 Remove ReverseProxy authentication from the API (#22219)
  routers/api/v1/api.go
Labels: kind/security, lgtm/done

#21848 Add option to prohibit fork if user reached maximum limit of repositories
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/user/user.go
  modules/setting/repository.go
  routers/api/v1/repo/fork.go
  routers/web/repo/pull.go
  services/repository/fork.go
  services/repository/fork_test.go
  templates/repo/pulls/fork.tmpl
Labels: kind/feature, lgtm/done

#22119 refactor auth interface to return error when verify failure
  modules/context/api.go
  modules/context/context.go
  routers/api/packages/api.go
  routers/api/packages/conan/auth.go
  routers/api/packages/container/auth.go
  routers/api/packages/nuget/auth.go
  services/auth/basic.go
  services/auth/group.go
  services/auth/httpsign.go
  services/auth/interface.go
  services/auth/oauth2.go
  services/auth/reverseproxy.go
  services/auth/session.go
  services/auth/sspi_windows.go
  services/packages/auth.go
Labels: kind/bug, lgtm/done, kind/refactor, backport/v1.17, backport/v1.18

#22258 Use complete SHA to create and query commit status (#22244)
  integrations/repo_commits_test.go
  models/action.go
  models/git/commit_status.go
  modules/context/api.go
  modules/context/repo.go
  modules/git/repo_commit_gogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_index.go
  modules/git/repo_tree_gogit.go
  modules/git/repo_tree_nogogit.go
  modules/git/sha1.go
  routers/api/v1/repo/status.go
  routers/api/v1/utils/git.go
  routers/web/repo/commit.go
  services/pull/check.go
  services/pull/merge.go
  services/pull/temp_repo.go
  services/repository/files/commit.go
  services/repository/files/tree.go
Labels: kind/bug, lgtm/done

#22257 Use complete SHA to create and query commit status (#22244)
  models/activities/action.go
  models/git/commit_status.go
  modules/context/api.go
  modules/context/repo.go
  modules/git/repo_commit_gogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_index.go
  modules/git/repo_tree_gogit.go
  modules/git/repo_tree_nogogit.go
  modules/git/sha1.go
  routers/api/v1/repo/status.go
  routers/api/v1/utils/git.go
  routers/web/repo/commit.go
  services/pull/check.go
  services/pull/merge.go
  services/pull/temp_repo.go
  services/repository/files/commit.go
  services/repository/files/tree.go
  tests/integration/repo_commits_test.go
Labels: kind/bug, lgtm/done

#22231 Fix key signature error page (#22229)
  templates/user/settings/keys_gpg.tmpl
Labels: kind/bug, lgtm/done

#22263 Use dynamic package type list
  routers/web/admin/packages.go
  routers/web/repo/packages.go
  routers/web/user/package.go
  templates/admin/packages/list.tmpl
  templates/package/shared/list.tmpl
Labels: kind/enhancement, lgtm/done, theme/package-registry

#22259 refactor auth interface to return error when verify failure (#22119)
  modules/context/api.go
  modules/context/context.go
  routers/api/packages/api.go
  routers/api/packages/conan/auth.go
  routers/api/packages/container/auth.go
  routers/api/packages/nuget/auth.go
  services/auth/basic.go
  services/auth/group.go
  services/auth/httpsign.go
  services/auth/interface.go
  services/auth/oauth2.go
  services/auth/reverseproxy.go
  services/auth/session.go
  services/auth/sspi_windows.go
  services/packages/auth.go
Labels: kind/bug, lgtm/done, kind/refactor

#22248 Support template for merge message description
  routers/api/v1/repo/pull.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  services/pull/merge.go
  services/pull/merge_test.go
  services/pull/pull_test.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/feature, lgtm/done, kind/breaking

#22247 Add more test directory to exclude dir of air, remove watching templates from air include dir because gitea has internal mechanism (#22246)
  .air.toml
  Makefile
  modules/setting/setting.go
Labels: lgtm/done, kind/build

#22215 Frontport 1.17.4 changelog and add 1.18.0 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#22146 Correctly handle select on multiple channels in Queues
  modules/queue/queue_channel.go
  modules/queue/unique_queue_channel.go
  modules/queue/workerpool.go
Labels: kind/bug, lgtm/done, backport/v1.18

#22252 Remove ReverseProxy authentication from the API (#22219)
  routers/api/v1/api.go
Labels: kind/security, lgtm/done

#22229 Fix key signature error page
  models/asymkey/gpg_key.go
  routers/web/user/setting/keys.go
  templates/user/settings/keys_gpg.tmpl
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17, backport/v1.18

#22230 Fix key signature error page (#22229)
  models/asymkey/gpg_key.go
  routers/web/user/setting/keys.go
  templates/user/settings/keys_gpg.tmpl
Labels: kind/bug, lgtm/done

#22271 Add `sync_on_commit` option for push mirrors api
  modules/structs/mirror.go
  routers/api/v1/repo/mirror.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, kind/api

#22272 Fix sitemap
  modules/sitemap/sitemap.go
  modules/sitemap/sitemap_test.go
Labels: kind/bug, lgtm/done, backport/v1.18

#22284 Add Gentoo to the from package providers
  docs/content/doc/installation/from-package.en-us.md
Labels: lgtm/done

#22276 Support estimated count with multiple schemas
  models/db/context.go
Labels: kind/enhancement, lgtm/done, reviewed/wait_merge
