Repository go-gitea/gitea, pull requests merged in 2022-05, with the labels that each got.

#19557 Fix #19346 - avoid MoreThanOne Error
  services/repository/branch.go
Labels: kind/bug, lgtm/done

#19540 Add API to check if team has repo access
  integrations/api_team_test.go
  routers/api/v1/api.go
  routers/api/v1/org/team.go
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, kind/api

#19546 Improve UI on mobile
  templates/admin/auth/list.tmpl
  templates/admin/cron.tmpl
  templates/admin/emails/list.tmpl
  templates/admin/monitor.tmpl
  templates/admin/notice.tmpl
  templates/admin/org/list.tmpl
  templates/admin/packages/list.tmpl
  templates/admin/repo/list.tmpl
  templates/admin/user/list.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/view.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/less/_admin.less
  web_src/less/_repository.less
  web_src/less/_user.less
Labels: kind/enhancement, kind/ui, lgtm/done

#19574 Dont overwrite err with nil (part #19572)
  services/pull/check.go
Labels: kind/bug, lgtm/done

#19572 Dont overwrite err with nil & rename PullCheckingFuncs to reflect there usage
  routers/private/hook_pre_receive.go
  services/pull/check.go
  services/pull/check_test.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done, kind/refactor, backport/done, backport/v1.16

#19575 Add Changelog v1.16.7
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog, frontport/main

#19566 Ignore DNS error when doing migration allow/block check
  models/error.go
  services/migrations/migrate.go
Labels: kind/bug, lgtm/done, backport/done, theme/migration, backport/v1.16

#19567 Ignore DNS error when doing migration allow/block check (#19566)
  models/error.go
  services/migrations/migrate.go
Labels: kind/bug, lgtm/done, theme/migration

#17564 add smtp password to install page
  routers/install/install.go
Labels: kind/enhancement, lgtm/done

#19577 Upgrade required git version to 2.0
  docs/content/doc/installation/from-binary.en-us.md
  modules/git/git.go
Labels: lgtm/done, kind/refactor, kind/breaking

#19496 Add finalizers to ensure that repos are closed and blobreaders are closed (#19495)
  modules/git/blob_nogogit.go
  modules/git/repo_base_gogit.go
  modules/git/repo_base_nogogit.go
Labels: kind/bug, lgtm/done

#19561 Federation: return useful statistic information for nodeinfo
  cmd/admin.go
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  integrations/api_nodeinfo_test.go
  models/issue_test.go
  models/statistic.go
  models/user/user.go
  modules/context/api.go
  modules/setting/federation.go
  routers/api/v1/misc/nodeinfo.go
  routers/web/auth/auth.go
Labels: lgtm/done, theme/federation

#19552 Handle the error of a missing blob object fix #19530
  routers/web/repo/compare.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19589 Fix sending empty notifications
  routers/api/v1/notify/repo.go
Labels: kind/bug, lgtm/done, kind/api

#19590 Fix sending empty notifications (#19589)
  routers/api/v1/notify/repo.go
Labels: kind/bug, lgtm/done, kind/api

#19592 Fix some slice problem
  models/auth/oauth2.go
  models/repo_activity.go
  models/user/list.go
Labels: lgtm/done

#19591 Avoid MoreThanOne Error
  services/repository/branch.go
Labels: kind/bug, lgtm/done

#19587 Move user password verification after checking his groups on ldap auth
  services/auth/source/ldap/source_search.go
Labels: lgtm/done, skip-changelog, theme/authentication

#19588 Don't fetch Mirror when it's migrating
  models/task.go
  modules/context/repo.go
Labels: lgtm/done, kind/regression, skip-changelog

#19576 Use for a repo action one database transaction
  integrations/pull_merge_test.go
  models/branches.go
  models/db/context.go
  models/issue.go
  models/issue_comment.go
  models/issue_dependency.go
  models/issue_dependency_test.go
  models/issue_test.go
  models/issue_xref.go
  models/issue_xref_test.go
  models/pull.go
  models/pull_list.go
  models/pull_test.go
  models/repo.go
  models/repo/repo.go
  models/repo_permission.go
  modules/convert/convert.go
  modules/git/commit_test.go
  routers/api/v1/repo/pull.go
  routers/private/hook_pre_receive.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  services/asymkey/sign.go
  services/forms/repo_form.go
  services/issue/status.go
  services/pull/check.go
  services/pull/merge.go
  services/pull/update.go
  templates/repo/issue/view_content/pull.tmpl
Labels: lgtm/done, kind/refactor

#19597 Use correct context in `routers/web`
  routers/web/user/notification.go
Labels: lgtm/done, kind/regression, skip-changelog

#19599 Fix broken TR key on cherry-pick action
  templates/repo/branch_dropdown.tmpl
Labels: lgtm/done, kind/regression, skip-changelog

#19604 Make .cs highlighting legible on dark themes
  web_src/less/chroma/dark.less
Labels: kind/ui, lgtm/done, skip-changelog

#19601 Only check for non-finished migrating task
  models/task.go
  modules/context/repo.go
Labels: lgtm/done, kind/regression, skip-changelog

#19605 Make .cs highlighting legible on dark themes. (Backport #19604)
  web_src/less/chroma/dark.less
Labels: lgtm/done

#18465 Add health check endpoint
  docs/content/doc/installation/on-kubernetes.en-us.md
  docs/content/doc/installation/on-kubernetes.zh-tw.md
  modules/cache/cache.go
  routers/install/routes.go
  routers/install/routes_test.go
  routers/web/healthcheck/check.go
  routers/web/web.go
Labels: kind/feature, lgtm/done

#19520 PullService lock via pullID
  services/pull/check.go
  services/pull/merge.go
  services/pull/pull.go
  services/pull/update.go
  services/repository/transfer.go
  services/wiki/wiki.go
Labels: kind/enhancement, lgtm/done

#19615 Remove `RequireHighlightJS` field, update plantuml example.
  docs/content/doc/advanced/customizing-gitea.en-us.md
  routers/web/explore/code.go
  routers/web/repo/cherry_pick.go
  routers/web/repo/commit.go
  routers/web/repo/editor.go
  routers/web/repo/issue.go
  routers/web/repo/patch.go
  routers/web/repo/pull.go
  routers/web/repo/search.go
  routers/web/repo/webhook.go
  routers/web/repo/wiki.go
Labels: kind/ui, lgtm/done, kind/refactor, kind/breaking

#19606 Call MultipartForm.RemoveAll when request finishes
  modules/context/api.go
  modules/context/context.go
  modules/context/package.go
  modules/context/private.go
  modules/test/context_tests.go
  routers/api/v1/misc/markdown_test.go
  routers/install/install.go
Labels: kind/bug, lgtm/done, backport/done, skip-changelog, backport/v1.16

#19607 Call MultipartForm.RemoveAll when request finishes (#19606)
  modules/context/api.go
  modules/context/context.go
  modules/context/private.go
  modules/test/context_tests.go
  routers/api/v1/misc/markdown_test.go
  routers/install/install.go
Labels: kind/bug, lgtm/done

#19598 GetFeeds must always discard actions with dangling repo_id
  models/action.go
  models/action_list.go
  models/action_test.go
  models/fixtures/action.yml
  models/unittest/consistency.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19609 Add "Reference" section to Issue view sidebar
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#19625 Prevent NPE when checking repo units if the user is nil
  models/repo.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19626 Simplify `IsVendor`
  modules/analyze/vendor.go
Labels: lgtm/done, kind/refactor

#19630 Prevent NPE when checking repo units if the user is nil (#19625)
  models/repo.go
Labels: kind/bug, lgtm/done

#19635 Add missing `sorting` column in `project_issue` table
  models/project/issue.go
Labels: kind/bug, lgtm/done, skip-changelog

#19641 Set safe dir for git operations in .drone.yml CI
  .drone.yml
Labels: lgtm/done, kind/build, skip-changelog, backport/v1.16

#19643 Set safe dir for git operations in .drone.yml CI (#19641)
  .drone.yml
Labels: lgtm/need 2, skip-changelog

#19644 Add Changelog v1.16.7 (#19575)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#19612 Improve reviewing PR UX
  routers/web/repo/pull.go
  templates/repo/diff/comments.tmpl
  templates/repo/diff/new_review.tmpl
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-issue.js
  web_src/less/_review.less
  web_src/less/animations.less
Labels: kind/feature, lgtm/done, kind/ux

#16157 prevent double click new issue/pull/comment button
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content.tmpl
  web_src/js/features/common-global.js
Labels: kind/ui, lgtm/done

#19642 Only show accessible teams in dashboard dropdown list
  modules/context/org.go
  templates/user/dashboard/navbar.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.16

#19645 Only show accessible teams in dashboard dropdown list (#19642)
  modules/context/org.go
  templates/user/dashboard/navbar.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#19584 Hide private repositories in packages
  integrations/api_packages_test.go
  modules/convert/package.go
  modules/notification/webhook/webhook.go
  routers/api/v1/packages/package.go
  routers/web/repo/packages.go
  routers/web/user/package.go
  templates/package/shared/list.tmpl
  templates/package/view.tmpl
Labels: kind/security, lgtm/done, skip-changelog, theme/package-registry

#9307 Auto merge pull requests when all checks succeeded via API
  integrations/api_helper_for_declarative_test.go
  integrations/git_test.go
  integrations/pull_status_test.go
  integrations/repo_commits_test.go
  models/issue_comment.go
  models/migrations/migrations.go
  models/migrations/v214.go
  models/pull.go
  models/pull/automerge.go
  modules/git/repo_branch_gogit.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_branch_test.go
  modules/git/tests/repos/repo5_pulls/HEAD
  modules/git/tests/repos/repo5_pulls/config
  modules/git/tests/repos/repo5_pulls/description
  modules/git/tests/repos/repo5_pulls/info/exclude
  modules/git/tests/repos/repo5_pulls/objects/1a/2959532d2d18daa87bbd9f9d16051bef7b51df
  modules/git/tests/repos/repo5_pulls/objects/56/51a1c4a48c47484a7a00a967ba4b6dde070bbf
  modules/git/tests/repos/repo5_pulls/objects/58/a4bcc53ac13e7ff76127e0fb518b5262bf09af
  modules/git/tests/repos/repo5_pulls/objects/6d/0b4cca434953833618fcd3dd7acff42c800df1
  modules/git/tests/repos/repo5_pulls/objects/a5/2ca5af1b0277638ce20797f80bb1a2997470ab
  modules/git/tests/repos/repo5_pulls/objects/bf/4dc0709be60f043821351ff4bb2b17e5cabbb2
  modules/git/tests/repos/repo5_pulls/objects/d8/e0bbb45f200e67d9a784ce55bd90821af45ebd
  modules/git/tests/repos/repo5_pulls/objects/ed/5119b3c1f45547b6785bc03eac7f87570fa17f
  modules/git/tests/repos/repo5_pulls/objects/ed/8f4d2fa5b2420706580d191f5dd50c4e491f3f
  modules/git/tests/repos/repo5_pulls/objects/ee/469963e76ae1bb7ee83d7510df2864e6c8c640
  modules/git/tests/repos/repo5_pulls/objects/info/packs
  modules/git/tests/repos/repo5_pulls/objects/pack/pack-81423f591973f5d9dab89cc45afa1c544448133e.idx
  modules/git/tests/repos/repo5_pulls/objects/pack/pack-81423f591973f5d9dab89cc45afa1c544448133e.pack
  modules/git/tests/repos/repo5_pulls/packed-refs
  modules/git/tests/repos/repo5_pulls/refs/heads/master
  modules/git/tests/repos/repo5_pulls/refs/heads/master-clone
  modules/git/tests/repos/repo5_pulls/refs/heads/test-patch-1
  modules/git/tests/repos/repo5_pulls/refs/pull/4/head
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/pull.go
  routers/init.go
  routers/web/repo/issue.go
  services/automerge/automerge.go
  services/forms/repo_form.go
  services/pull/commit_status.go
  services/pull/merge.go
  services/pull/pull.go
  services/repository/files/commit.go
  templates/repo/issue/view_content/comments.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, kind/api

#19007 Allow to mark files in a PR as viewed
  models/migrations/migrations.go
  models/migrations/v215.go
  models/pull/review_state.go
  modules/git/repo_compare.go
  options/locale/locale_en-US.ini
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
  routers/web/web.go
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
  web_src/js/features/file-fold.js
  web_src/js/features/pull-view-file.js
  web_src/js/features/repo-code.js
  web_src/js/features/repo-diff.js
  web_src/js/index.js
  web_src/less/_review.less
Labels: kind/feature, lgtm/done, kind/usability, theme/pr, kind/ux

#18177 Allow custom default merge message with .gitea/default_merge_message/<merge_style>_TEMPLATE.md
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  integrations/pull_merge_test.go
  models/pull.go
  models/pull_test.go
  models/repo/repo_unit.go
  modules/git/commit.go
  routers/api/v1/repo/pull.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  services/automerge/automerge.go
  services/forms/repo_form.go
  services/pull/merge.go
  services/pull/pull_test.go
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/enhancement, lgtm/done

#19629 GetFeeds must always discard actions with dangling repo_id (#19598)
  models/action.go
  models/action_test.go
  models/fixtures/action.yml
  models/unittest/consistency.go
  routers/web/feed/profile.go
Labels: kind/bug, lgtm/done

#19649 Delete related PullAutoMerge and ReviewState on User/Repo Deletion
  models/db/error.go
  models/error.go
  models/issue_comment.go
  models/issue_tracked_time.go
  models/migrations/v215.go
  models/notification.go
  models/pull.go
  models/pull/automerge.go
  models/pull/review_state.go
  models/repo.go
  models/user.go
  routers/api/v1/notify/threads.go
  routers/api/v1/repo/issue_tracked_time.go
  routers/api/v1/repo/pull.go
  routers/web/repo/issue_timetrack.go
  services/automerge/automerge.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done, kind/refactor, skip-changelog

#19323 Repository level enable package or disable
  integrations/mssql.ini.tmpl
  integrations/mysql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
  models/repo/repo_unit.go
  models/unit/unit.go
  modules/context/repo.go
  modules/setting/repository.go
  options/locale/locale_en-US.ini
  routers/web/repo/setting.go
  services/forms/repo_form.go
  templates/repo/header.tmpl
  templates/repo/settings/options.tmpl
Labels: kind/enhancement, lgtm/done

#19355 Move some helper files out of models
  cmd/hook.go
  cmd/serv.go
  contrib/pr/checkout.go
  integrations/integration_test.go
  models/helper.go
  models/repo.go
  models/repo_list.go
  modules/repository/env.go
  modules/repository/init.go
  modules/repository/temp.go
  routers/init.go
  routers/web/repo/branch.go
  routers/web/repo/http.go
  routers/web/repo/lfs.go
  services/pull/merge.go
  services/pull/patch.go
  services/pull/pull.go
  services/pull/temp_repo.go
  services/pull/update.go
  services/repository/branch.go
  services/repository/files/temp_repo.go
  services/repository/repository.go
  services/wiki/wiki.go
Labels: lgtm/done, kind/refactor

#19657 Take back some missed code
  templates/repo/issue/view_content/pull.tmpl
Labels: lgtm/done, kind/regression, skip-changelog

#19423 Admin should not delete himself
  options/locale/locale_en-US.ini
  routers/api/v1/admin/user.go
  routers/web/admin/users.go
Labels: kind/enhancement, lgtm/done

#19654 Calculate filename hash only once
  modules/templates/helper.go
  routers/web/repo/compare.go
  services/gitdiff/gitdiff.go
  services/repository/files/diff_test.go
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: kind/enhancement, lgtm/done

#19659 Revert "Add finalizers to ensure that repos are closed and blobreaders are closed (#19495)"
  modules/git/blob_nogogit.go
  modules/git/repo_base_gogit.go
  modules/git/repo_base_nogogit.go
Labels: lgtm/done, theme/revert

#19660 Don't select join table's columns
  models/action.go
Labels: lgtm/done, performance/memory, skip-changelog

#18356 Set the LastModified header for raw files
  modules/httpcache/httpcache.go
  routers/api/v1/repo/file.go
  routers/common/repo.go
  routers/web/repo/download.go
  routers/web/repo/wiki.go
Labels: kind/enhancement, lgtm/done

#19647 Update documentation to disable duration settings with -1 instead of 0
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: kind/docs, lgtm/done

#19462 Add Webfinger endpoint
  integrations/webfinger_test.go
  routers/web/web.go
  routers/web/webfinger.go
Labels: kind/feature, lgtm/done, theme/federation

#19662 Add tooltip to pending PR comments
  options/locale/locale_en-US.ini
  templates/repo/diff/comments.tmpl
Labels: lgtm/done, kind/ux

#19656 doctor: add check/fix for bogus Action rows
  models/consistency.go
  models/consistency_test.go
  modules/doctor/dbconsistency.go
Labels: kind/enhancement, lgtm/done, backport/v1.16

#19665 Update go deps
  cmd/web_acme.go
  go.mod
  go.sum
Labels: lgtm/done, dependencies

#19672 Use better message for consistency check
  models/unittest/consistency.go
Labels: lgtm/done, kind/refactor, skip-changelog

#19675 Update JS dependencies
  .eslintrc
  jest.config.js
  package-lock.json
  package.json
  public/img/svg/octicon-cloud-offline.svg
  public/img/svg/octicon-cloud.svg
  public/img/svg/octicon-file-directory-open-fill.svg
  public/img/svg/octicon-sliders.svg
  web_src/js/testUtils/jestRawLoader.js
Labels: lgtm/done, dependencies

#19673 Fix new release from tags list UI (#19670)
  routers/web/repo/release.go
Labels: kind/bug, lgtm/done

#19676 Update go tool dependencies
  .golangci.yml
  Makefile
  modules/repository/generate.go
  modules/setting/log.go
  modules/templates/helper.go
  modules/util/util.go
  modules/util/util_test.go
  routers/init.go
  routers/web/admin/admin.go
  services/migrations/codebase_test.go
  services/migrations/gitlab_test.go
  services/migrations/onedev_test.go
Labels: lgtm/done, dependencies

#19678 Tidy up `<head>` template
  templates/base/head.tmpl
Labels: lgtm/done, kind/refactor

#19677 Delete user related oauth stuff on user deletion too
  models/auth/oauth2.go
  models/user.go
  modules/doctor/dbconsistency.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19682 Fix oauth setting list bug
  routers/web/admin/auths.go
Labels: kind/bug, lgtm/done, skip-changelog

#19680 Delete user related oauth stuff on user deletion too (#19677)
  models/user.go
  modules/doctor/dbconsistency.go
Labels: kind/bug, lgtm/done

#19650 Use Vue to refactor pull merge UI
  integrations/pull_merge_test.go
  models/repo/repo_unit.go
  templates/repo/issue/view_content/pull.tmpl
  web_src/js/components/PullRequestMergeForm.vue
  web_src/js/features/repo-issue-pr-form.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
Labels: kind/ui, lgtm/done, kind/refactor, skip-changelog

#19693 Use a better OlderThan for DeleteInactiveUsers
  services/cron/tasks_extended.go
Labels: kind/enhancement, lgtm/done

#13745 [Refactor] convert team(s) to apiTeam(s)
  integrations/api_team_test.go
  integrations/org_test.go
  modules/convert/convert.go
  modules/convert/issue_comment.go
  modules/convert/pull_review.go
  modules/convert/repository.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/teams.go
  routers/web/org/teams.go
Labels: lgtm/done, kind/refactor, kind/api

#19702 Fix duplicate entry error when add team member
  models/org_team.go
  models/organization/org.go
Labels: kind/bug, lgtm/done

#19713 clarify what session provider 'db' does
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#19717 Disable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: lgtm/done, skip-changelog

#19719 Update go-chi/cache to utilize Ping()
  go.mod
  go.sum
  modules/cache/cache.go
  modules/cache/cache_redis.go
  modules/cache/cache_twoqueue.go
  routers/web/healthcheck/check.go
Labels: lgtm/done, kind/refactor

#19721 Fix nodeinfo caching and prevent NPE if cache non-existent
  routers/api/v1/misc/nodeinfo.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19653 Fix issue overview for teams (#19652)
  go.mod
  go.sum
  models/issue.go
  models/repo_list.go
  routers/web/user/home.go
Labels: lgtm/done, kind/regression

#19712 Improve commit list/view on mobile
  templates/repo/commit_page.tmpl
  templates/repo/commits_list.tmpl
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done, theme/mobile

#19724 Add changelog for v1.16.8
  CHANGELOG.md
Labels: kind/docs, lgtm/done

#19730 Add changelog for v1.16.8 (#19724)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done, skip-changelog

#19735 ContainerRegistry - removed Basic Auth header
  integrations/api_packages_container_test.go
  routers/api/packages/container/container.go
Labels: lgtm/done, kind/usability, skip-changelog, theme/package-registry

#19731 Add doctor orphan check for orphaned pull requests without an extant base repo
  modules/doctor/dbconsistency.go
Labels: kind/enhancement, lgtm/done

#19740 [doctor] explain what enable-push-options does
  modules/doctor/misc.go
Labels: lgtm/done

#19741 Improved ref comment link when origin is body/title
  models/issue_xref.go
Labels: kind/bug, lgtm/done, kind/usability

#19744 Fix incorrect translation key
  models/unit/unit.go
Labels: lgtm/done, kind/translation

#19750 [doctor] do not update User Stars numbers unless --fix
  modules/doctor/misc.go
Labels: lgtm/done

#19739 use http.StatusTemporaryRedirect(307) when serve avatar directly
  routers/web/base.go
Labels: kind/enhancement, lgtm/done

#19757 Fix bug
  models/issue_assignees.go
  services/issue/assignee.go
Labels: kind/bug, lgtm/done

#19746 Enable packages by default again
  modules/setting/repository.go
Labels: lgtm/done, kind/regression

#19729 Make Ctrl+Enter (quick submit) work for issue comment and wiki editor
  services/forms/repo_form.go
  templates/repo/diff/box.tmpl
  templates/repo/issue/view_content.tmpl
  templates/user/settings/keys_ssh.tmpl
  web_src/js/features/common-global.js
  web_src/js/features/comp/EasyMDE.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-wiki.js
Labels: kind/enhancement, lgtm/done, kind/ux

#19760 Remove fomantic progress module
  templates/repo/issue/milestones.tmpl
  templates/shared/issuelist.tmpl
  templates/user/dashboard/milestones.tmpl
  web_src/fomantic/build/semantic.css
  web_src/fomantic/build/semantic.js
  web_src/fomantic/semantic.json
  web_src/js/features/common-global.js
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/shared/issuelist.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#19762 [doctor] update the help with fix capabilities
  cmd/doctor.go
Labels: lgtm/done

#19765 [doctor] pq: syntax error at or near "." quote user table name
  modules/doctor/dbconsistency.go
Labels: lgtm/done

#19753 Move org functions
  models/organization/org_user.go
  models/organization/org_user_test.go
  models/userlist.go
  models/userlist_test.go
  routers/web/org/members.go
Labels: lgtm/done, kind/refactor

#19761 Nuke the incorrect permission report on /api/v1/notifications
  modules/convert/notification.go
Labels: kind/bug, lgtm/done, kind/breaking

#19770 [doctor] pq: syntax error at or near "." quote user table name (#19765)
  modules/doctor/dbconsistency.go
Labels: kind/bug, lgtm/done

#19767 Update JS dependencies
  package-lock.json
  package.json
  public/img/svg/octicon-file-added.svg
  public/img/svg/octicon-file-moved.svg
  public/img/svg/octicon-file-removed.svg
  public/img/svg/octicon-file.svg
Labels: lgtm/done, dependencies

#19754 Allows repo search to match against "owner/repo" pattern strings
  models/repo_list.go
  models/repo_list_test.go
Labels: kind/enhancement, lgtm/done, kind/usability

#19771 Add silentcodeg to MAINTAINERS
  MAINTAINERS
Labels: kind/docs, lgtm/done

#19773 Detect truncated utf-8 characters at the end of content as still representing utf-8
  modules/charset/charset.go
  modules/charset/charset_test.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19774 Detect truncated utf-8 characters at the end of content as still representing utf-8 (#19773)
  modules/charset/charset.go
  modules/charset/charset_test.go
Labels: kind/bug, lgtm/done

#19703 Prevent NPE when cache service is disabled
  routers/web/auth/auth.go
  routers/web/auth/password.go
  routers/web/user/setting/account.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19775 Estimate Action Count in Statistics
  models/db/context.go
  models/statistic.go
  options/locale/locale_en-US.ini
Labels: kind/bug, lgtm/done, performance/speed, backport/v1.16

#18542 Add the possibility to allow the user to have a favicon which differs from the main logo
  assets/favicon.svg
  build/generate-images.js
  docs/content/doc/advanced/customizing-gitea.en-us.md
  templates/base/head.tmpl
Labels: lgtm/done, kind/breaking

#19794 Update document to use FHS `/usr/local/bin/gitea` instead of `/app/...` for Docker
  docker/root/usr/local/bin/gitea
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/installation/with-docker.zh-cn.md
  docs/content/doc/usage/backup-and-restore.en-us.md
Labels: kind/docs, lgtm/done

#19800 Add 'make tidy'
  Makefile
  go.sum
Labels: lgtm/done, kind/build, skip-changelog

#19799 Prevent loop if there is an error in GetNotificationCount
  routers/web/user/notification.go
Labels: kind/bug, lgtm/done, skip-changelog

#19802 Fix NotificationUnreadCount
  routers/web/user/notification.go
Labels: kind/bug, lgtm/done

#19797 alpine 3.16
  Dockerfile
  Dockerfile.rootless
Labels: lgtm/done, kind/build

#19482 Github style following followers
  templates/user/profile.tmpl
Labels: kind/ui, lgtm/done, kind/ux

#19783 Prevent NPE when cache service is disabled (#19703)
  routers/web/auth/auth.go
  routers/web/auth/password.go
  routers/web/user/setting/account.go
Labels: kind/bug, lgtm/done

#19747 Show source/target branches on PR's list
  models/issue_list.go
  templates/shared/issuelist.tmpl
  web_src/less/shared/issuelist.less
Labels: kind/enhancement, kind/ui, lgtm/done

#19805 Fix follower display on user page
  templates/user/profile.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#19780 Make WIP prefixes case insensitive, e.g. allow `Draft` as a WIP prefix
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/pull.go
Labels: kind/bug, lgtm/done

#19811 Make WIP prefixes case insensitive, e.g. allow `Draft` as a WIP prefix (#19780)
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  models/pull.go
Labels: kind/bug, lgtm/done

#19820 Fix duplicate paragraph in documentation
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
Labels: kind/docs

#19822 docs: FAQ: the WorkPath can be set from --work-path
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done

#19825 Fix raw endpoint PDF file headers
  modules/typesniffer/typesniffer.go
  routers/common/repo.go
Labels: kind/bug, lgtm/done, backport/v1.16

#19826 Fix raw endpoint PDF file headers (#19825)
  modules/typesniffer/typesniffer.go
  routers/common/repo.go
Labels: kind/bug, lgtm/done

#19830 fix(telegram): fix link bot to release tag
  services/webhook/general.go
  services/webhook/matrix_test.go
  services/webhook/slack_test.go
  services/webhook/telegram_test.go
Labels: kind/bug, lgtm/done

#19792 Adding button to link accounts from user settings
  routers/web/auth/oauth.go
  routers/web/user/setting/security/security.go
  routers/web/web.go
  templates/user/settings/security/accountlinks.tmpl
Labels: kind/feature, kind/ui, lgtm/done

#19835 Fix i18n for Link Account button, re-format tmpl
  options/locale/locale_en-US.ini
  templates/user/settings/security/accountlinks.tmpl
Labels: lgtm/done

#19829 docs(hacking-on-gitea): fix installation instruction for elasticsearch
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#19838 Add version hint in the docs when packages are available
  docs/content/doc/packages/overview.en-us.md
Labels: lgtm/need 2

#19832 docs: update the ROOT documentation and error messages
  cmd/serv.go
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/help/faq.en-us.md
Labels: kind/docs, lgtm/done

#19842 feat: Add support for extra sshd_config parameters via 'Include' file
  docker/root/etc/s6/openssh/setup
  docker/root/etc/templates/sshd_config
Labels: lgtm/done

#19836 Fix inconsistency in doctor output
  modules/doctor/fix16961.go
  modules/doctor/mergebase.go
Labels: kind/bug, lgtm/done

#19843 Ensure responses are context.ResponseWriters
  modules/web/wrap_convert.go
Labels: kind/bug, lgtm/done, backport/v1.16
