Repository go-gitea/gitea, pull requests merged in 2022-01, with the labels that each got.

#17865 services/repository: fix ListUnadoptedRepositories incorrect total count
  services/repository/adopt.go
  services/repository/adopt_test.go
Labels: lgtm/done

#18142 tests: s/GITEA_UNIT_TESTS_VERBOSE/GITEA_UNIT_TESTS_LOG_SQL/
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  models/unittest/testdb.go
Labels: lgtm/done

#18143 Allow admin to associate missing LFS objects for repositories
  models/lfs.go
  routers/web/repo/lfs.go
  templates/repo/settings/lfs_pointers.tmpl
Labels: kind/bug, lgtm/done

#17403 Add API to get issue/pull comments and events (timeline)
  integrations/api_comment_test.go
  models/issue_comment.go
  modules/convert/issue_comment.go
  modules/references/references.go
  modules/structs/issue_comment.go
  routers/api/v1/api.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/swagger/issue.go
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, kind/api

#18148 Add singuliere to MAINTAINERS
  MAINTAINERS
Labels: lgtm/done

#18153 Use correct user when determining max repo limits for error messages
  routers/web/repo/migrate.go
  routers/web/repo/repo.go
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#18152 Use correct translation key for error messages due to max repo limits (#18135 & #18153)
  routers/web/repo/migrate.go
  routers/web/repo/repo.go
  routers/web/repo/setting.go
Labels: kind/bug, lgtm/done

#18141 Unify and simplify TrN for i18n
  modules/csv/csv_test.go
  modules/templates/helper.go
  modules/test/context_tests.go
  modules/translation/translation.go
  routers/web/repo/migrate.go
  routers/web/repo/repo.go
  routers/web/repo/setting.go
  services/mailer/mail.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  templates/mail/issue/default.tmpl
  templates/repo/activity.tmpl
  templates/repo/blame.tmpl
  templates/repo/create.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/sub_menu.tmpl
  templates/repo/view_file.tmpl
  templates/shared/issuelist.tmpl
Labels: lgtm/done, kind/refactor

#18155 Update owners for 2022
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#18145 chore(lint): use golangci-lint to call revive and misspell checker.
  .golangci.yml
  .revive.toml
  Makefile
Labels: lgtm/done, kind/lint

#18156 Require codereview to have content
  web_src/js/features/comp/CommentEasyMDE.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-wiki.js
Labels: kind/bug, kind/ui, lgtm/done

#18162 tests: add coverage for models migration helpers
  models/fixtures/milestone.yml
  models/migrate.go
  models/migrate_test.go
Labels: kind/bug, lgtm/done

#18168 Fix bug in admin dashboard caused by auth refactor
  templates/admin/dashboard.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#18161 Fix EasyMDE validation
  web_src/js/features/comp/CommentEasyMDE.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-wiki.js
Labels: kind/bug, lgtm/done, kind/regression, skip-changelog

#18160 Remove unused route
  routers/web/repo/pull.go
  routers/web/repo/setting.go
  routers/web/web.go
Labels: lgtm/done, kind/refactor

#18164 Don't delete branch if other PRs with this branch are open
  models/pull_list.go
  models/pull_test.go
  routers/api/v1/repo/pull.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done

#18158 Include folders into size cost
  modules/util/path.go
Labels: kind/enhancement, lgtm/done

#18173 Set HeadCommit when creating tags. (#18116)
  services/release/release.go
  services/repository/push.go
Labels: kind/bug, lgtm/done

#18170 Add MP4 as default allowed attachment type
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/attachment.go
Labels: kind/enhancement, lgtm/done

#18179 Use actually good salt
  models/migrations/migrations.go
  models/migrations/v205.go
  models/user/user.go
  modules/util/util.go
  modules/util/util_test.go
  services/auth/source/db/authenticate.go
Labels: kind/enhancement, kind/security, lgtm/done

#18124 Integration test for migration
  integrations/dump_restore_test.go
Labels: lgtm/done, kind/testing

#18186 code.gitea.io/sdk/gitea v0.14.0 -> v0.15.1
  go.mod
  go.sum
  vendor/code.gitea.io/sdk/gitea/admin_user.go
  vendor/code.gitea.io/sdk/gitea/client.go
  vendor/code.gitea.io/sdk/gitea/go.mod
  vendor/code.gitea.io/sdk/gitea/go.sum
  vendor/code.gitea.io/sdk/gitea/hook.go
  vendor/code.gitea.io/sdk/gitea/issue.go
  vendor/code.gitea.io/sdk/gitea/issue_milestone.go
  vendor/code.gitea.io/sdk/gitea/list_options.go
  vendor/code.gitea.io/sdk/gitea/notifications.go
  vendor/code.gitea.io/sdk/gitea/org.go
  vendor/code.gitea.io/sdk/gitea/org_team.go
  vendor/code.gitea.io/sdk/gitea/pull.go
  vendor/code.gitea.io/sdk/gitea/pull_review.go
  vendor/code.gitea.io/sdk/gitea/release.go
  vendor/code.gitea.io/sdk/gitea/repo.go
  vendor/code.gitea.io/sdk/gitea/repo_collaborator.go
  vendor/code.gitea.io/sdk/gitea/repo_migrate.go
  vendor/code.gitea.io/sdk/gitea/repo_tag.go
  vendor/code.gitea.io/sdk/gitea/repo_team.go
  vendor/code.gitea.io/sdk/gitea/repo_template.go
  vendor/code.gitea.io/sdk/gitea/settings.go
  vendor/code.gitea.io/sdk/gitea/user.go
  vendor/code.gitea.io/sdk/gitea/user_app.go
  vendor/code.gitea.io/sdk/gitea/user_search.go
  vendor/code.gitea.io/sdk/gitea/user_settings.go
  vendor/code.gitea.io/sdk/gitea/version.go
  vendor/modules.txt
Labels: lgtm/done, dependencies

#18187 slight optimization for default avatar
  models/avatars/avatar.go
Labels: lgtm/done, kind/misc

#18188 refactoring nits
  routers/web/web.go
  services/mailer/mailer_test.go
  services/migrations/github_test.go
  services/migrations/gitlab_test.go
  services/migrations/gogs_test.go
Labels: lgtm/done, skip-changelog

#18069 Load EasyMDE/CodeMirror dynamically, remove RequireEasyMDE
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/editor.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/repo/release.go
  routers/web/repo/wiki.go
  templates/base/footer.tmpl
  templates/base/head.tmpl
  web_src/js/easymde.js
  web_src/js/features/comp/EasyMDE.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-release.js
  web_src/js/features/repo-wiki.js
  webpack.config.js
Labels: kind/ui, lgtm/done, kind/refactor

#18191 Added replay of webhooks
  models/webhook/hooktask.go
  models/webhook/webhook.go
  options/locale/locale_en-US.ini
  routers/web/repo/webhook.go
  routers/web/web.go
  services/webhook/webhook.go
  templates/admin/hook_new.tmpl
  templates/repo/settings/webhook/history.tmpl
Labels: kind/enhancement, lgtm/done

#18075 Add option to convert CRLF to LF line endings for sendmail
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/mailer.go
  services/mailer/mailer.go
Labels: kind/bug, kind/feature, lgtm/done

#18195 Enable partial clone by default
  custom/conf/app.example.ini
  docs/content/doc/advanced/clone-filter.en-us.md
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/git/git.go
  modules/setting/git.go
Labels: kind/enhancement, lgtm/done

#18194 fix location for custom/options/license
  custom/conf/app.example.ini
Labels: kind/docs, lgtm/done, skip-changelog

#17562 Add warning for BIDI characters in page renders and in diffs
  modules/charset/escape.go
  modules/charset/escape_test.go
  options/locale/locale_en-US.ini
  routers/web/repo/blame.go
  routers/web/repo/lfs.go
  routers/web/repo/view.go
  routers/web/repo/wiki.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  templates/repo/blame.tmpl
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/editor/diff_preview.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/settings/lfs_file.tmpl
  templates/repo/unicode_escape_prompt.tmpl
  templates/repo/view_file.tmpl
  templates/repo/wiki/view.tmpl
  web_src/js/features/common-global.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-unicode-escape.js
  web_src/less/_base.less
  web_src/less/_repository.less
  web_src/less/_review.less
Labels: kind/bug, lgtm/done, backport/v1.15

#18193 Don't store assets modified time into generated files
  build/generate-bindata.go
  go.mod
  go.sum
  modules/public/public_bindata.go
  modules/public/static.go
  modules/templates/static.go
  modules/templates/templates_bindata.go
  modules/timeutil/executable.go
  vendor/github.com/shurcooL/vfsgen/generator.go
  vendor/github.com/shurcooL/vfsgen/options.go
  vendor/modules.txt
Labels: lgtm/done, kind/build

#18202 Fix mermaid rendering in milestone dashboard
  templates/user/dashboard/milestones.tmpl
Labels: kind/bug, lgtm/done, backport/v1.15

#18201 Fix CSS specificity issue with easymde's css
  web_src/js/features/comp/EasyMDE.js
  webpack.config.js
Labels: kind/bug, lgtm/done

#18185 Show OAuth callback error message
  options/locale/locale_en-US.ini
  routers/web/auth/oauth.go
Labels: kind/enhancement, lgtm/done

#18206 Bump mermaid from 8.10.1 to 8.13.8 (#18198)
  package-lock.json
  package.json
Labels: lgtm/done, dependencies

#18205 Restore setting of ctx.Repo.Mirror
  modules/context/repo.go
Labels: kind/bug, lgtm/done, kind/regression

#18211 Sort locales according to their names
  modules/translation/translation.go
Labels: lgtm/done, kind/usability, kind/ux

#18207 Fix EasyMDE image paste bug during refactoring
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
Labels: kind/bug, lgtm/done, kind/regression

#18212 Fix new team
  models/unit/unit.go
  templates/org/team/new.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#18213 In the Organization member page, 2fa column is too narrow for Simplified Chinese and Chinese Traditional.
  templates/org/member/members.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#18214 Fix mermaid rendering in milestone dashboard
  templates/user/dashboard/milestones.tmpl
Labels: lgtm/done, backport/v1.15

#18215 Fix typos in docs/content
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/developers/guidelines-backend.md
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/upgrade/from-gogs.en-us.md
  docs/content/doc/usage/command-line.en-us.md
  docs/content/doc/usage/reverse-proxies.en-us.md
Labels: kind/docs, lgtm/done

#18222 Remove `ioutil`
  models/asymkey/ssh_key_test.go
  models/migrations/migrations_test.go
  modules/updatechecker/update_checker.go
Labels: lgtm/done, kind/refactor

#18219 Fix various typos
  CHANGELOG.md
  docs/content/doc/developers/guidelines-frontend.md
  models/asymkey/ssh_key_parse.go
  models/notification.go
  models/repo.go
  models/review.go
  modules/avatar/identicon/identicon.go
  modules/csv/csv_test.go
  modules/doctor/fix16961.go
  modules/git/repo_branch.go
  modules/migration/null_downloader.go
  modules/process/manager.go
  modules/public/static.go
  modules/structs/org.go
  modules/structs/repo.go
  modules/templates/static.go
  modules/updatechecker/update_checker.go
  options/license/Noweb
  routers/api/v1/repo/file.go
  routers/private/hook_pre_receive.go
  routers/web/repo/issue.go
  services/agit/agit.go
  services/gitdiff/gitdiff.go
  services/migrations/codebase.go
  services/migrations/gogs.go
  services/migrations/onedev.go
  services/pull/merge.go
  services/repository/archiver/archiver.go
  services/wiki/wiki_test.go
  templates/base/head.tmpl
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, kind/misc, skip-changelog

#18233 Fix identation typo in doc installation with Docker
  docs/content/doc/installation/with-docker.en-us.md
  docs/content/doc/installation/with-docker.zh-cn.md
Labels: kind/docs, lgtm/done

#18232 Fix collobration template
  templates/repo/settings/collaboration.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#18241 Fix purple color in suggested label colors
  templates/repo/issue/label_precolors.tmpl
Labels: kind/bug, lgtm/done, backport/done

#18242 Fix purple color in suggested label colors
  templates/repo/issue/label_precolors.tmpl
Labels: lgtm/done

#18209 docs(code style): remove unnecessary section
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: kind/docs, lgtm/done

#18244 [doc] https-setup: explain relative paths for {CERT,KEY}_FILE fields.
  docs/content/doc/usage/https-support.md
Labels: lgtm/done

#18250 Fix update user bug
  models/user/user.go
Labels: kind/bug, lgtm/done, backport/v1.15

#18251 Fix update user bug
  models/user.go
Labels: kind/bug, lgtm/done

#18245 Fix NPE on try to get tag reference via API
  modules/git/repo_commit_nogogit.go
  modules/git/repo_tag.go
  modules/git/repo_tag_test.go
  modules/git/repo_tree_nogogit.go
  modules/git/tag.go
  modules/git/tag_test.go
  modules/repository/repo.go
  routers/api/v1/repo/tag.go
  services/repository/push.go
Labels: lgtm/done, kind/api, kind/regression

#18197 Add/update SMTP auth providers via cli
  cmd/admin.go
  docs/content/doc/usage/command-line.en-us.md
Labels: kind/feature, lgtm/done

#18237 migrations: a deadline at January 1st, 1970 is valid
  integrations/dump_restore_test.go
  models/fixtures/milestone.yml
Labels: lgtm/done, kind/testing

#18252 Fix release link broken
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#18259 Prevent underline hover on cards
  web_src/less/_base.less
Labels: kind/bug, lgtm/done

#18261 Fix inconsistent PR comment counts (#18260)
  models/issue_comment.go
Labels: kind/bug, lgtm/done

#18260 Fix inconsistent PR comment counts
  models/issue_comment.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15

#18017 Improve the comment for 2FA filter in admin panel
  models/user/search.go
Labels: lgtm/done, skip-changelog

#18253 Fix release link broken
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done

#18274 Changelog for 1.15.10
  CHANGELOG.md
Labels: lgtm/done

#18276 Changelog for 1.15.10 (#18274)
  CHANGELOG.md
  docs/config.yaml
Labels: kind/docs, lgtm/done

#18278 Upgrade EasyMDE to 2.16.1
  package.json
Labels: lgtm/done

#18279 Backport: Upgrade EasyMDE to 2.16.1
  package.json
Labels: lgtm/done

#18283 Update `package-lock.json`
  package-lock.json
Labels: lgtm/done, dependencies, skip-changelog

#18284 Webauthn nits
  models/auth/webauthn.go
  models/auth/webauthn_test.go
  models/migrations/migrations.go
  models/migrations/v208.go
  options/locale/locale_en-US.ini
  routers/web/auth/webauthn.go
  routers/web/user/setting/security/webauthn.go
  templates/user/auth/webauthn_error.tmpl
  templates/user/settings/security/webauthn.tmpl
  web_src/js/features/user-auth-webauthn.js
Labels: kind/bug, lgtm/done, skip-changelog

#18285 Add lockfile-check
  Makefile
  package-lock.json
  package.json
Labels: lgtm/done, kind/build

#18291 docs: mention client_max_body_size affects LFS
  docs/content/doc/usage/reverse-proxies.en-us.md
Labels: kind/docs, lgtm/done

#18288 Return nicer error if trying to pull from non-existent user
  routers/private/serv.go
Labels: kind/enhancement, lgtm/done

#18289 Prevent possible XSS
  docs/content/doc/developers/guidelines-frontend.md
  web_src/js/components/RepoBranchTagDropdown.js
  web_src/js/features/common-global.js
  web_src/js/features/comp/LabelEdit.js
  web_src/js/features/repo-branch.js
  web_src/js/features/repo-common.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-settings.js
Labels: kind/security, lgtm/done

#18287 Remove accidental debugging in blob_excerpt.tmpl
  templates/repo/diff/blob_excerpt.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#18292 not show double error response in git hook
  cmd/serv.go
Labels: lgtm/done

#18293 Revert "Prevent possible XSS"
  docs/content/doc/developers/guidelines-frontend.md
  web_src/js/components/RepoBranchTagDropdown.js
  web_src/js/features/common-global.js
  web_src/js/features/comp/LabelEdit.js
  web_src/js/features/repo-branch.js
  web_src/js/features/repo-common.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-settings.js
Labels: lgtm/done

#18290 Handle missing default branch better in owner/repo/branches page
  routers/web/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done

#18298 Remove unneeded debug messages to stdout.
  modules/markup/common/footnote.go
Labels: lgtm/done

#18296 Add node_modules and minified files to .ignore
  .ignore
Labels: lgtm/done, kind/misc

#18235 show pull link for agit pull request also
  routers/private/hook_post_receive.go
Labels: kind/enhancement, lgtm/done

#18301 Backport: Upgrade EasyMDE 2.16.1 (package-lock.json)
  package-lock.json
  package.json
Labels: lgtm/done

#18295 Minor tweak to tag list
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#18264 Fix CheckRepoStats and reuse it during migration
  models/issue.go
  models/issue_comment.go
  models/issue_lock.go
  models/issue_milestone.go
  models/issue_milestone_test.go
  models/issue_test.go
  models/migrate.go
  models/repo.go
  models/repo_test.go
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done

#18280 update description about vendoring in CONTRIBUTING.md
  CONTRIBUTING.md
  Makefile
Labels: kind/docs, lgtm/done, skip-changelog

#18316 Correctly upload LFS files
  services/repository/files/update.go
  services/repository/files/upload.go
Labels: kind/bug, lgtm/done, backport/v1.15

#18314 Prevent ambiguous column error in organizations page
  models/repo_list.go
Labels: kind/bug, lgtm/done, kind/regression, skip-changelog

#18313 Use indirect comparison when showing pull requests
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done

#18321 Place inline diff comment dialogs in the 4th column.
  web_src/js/features/repo-issue.js
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog

#18311 Replace satori/go.uuid with gofrs/uuid
  go.mod
  go.sum
Labels: kind/bug, lgtm/done

#18267 Add MirrorUpdated field to Repository API type
  modules/convert/repository.go
  modules/structs/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api

#18317 Update JS dependencies, remove eslint-plugin-github
  .eslintrc
  package-lock.json
  package.json
  public/img/svg/octicon-code-of-conduct.svg
Labels: lgtm/done, kind/build, dependencies

#18319 Make the height of the editor in Review Box smaller (4 lines as GitHub)
  web_src/js/features/comp/EasyMDE.js
  web_src/js/features/repo-issue.js
  web_src/less/features/dropzone.less
Labels: kind/ui, lgtm/done

#18323 Fix PR comments UI
  models/issue_comment.go
  routers/api/v1/repo/issue_comment.go
  routers/web/repo/issue.go
  templates/repo/issue/view_content/comments.tmpl
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-issue-content.js
  web_src/less/_repository.less
Labels: kind/bug, kind/ui, lgtm/done

#18325 Restore propagation of ErrDependenciesLeft
  services/issue/status.go
  services/pull/merge.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done, kind/regression, backport/v1.15

#18309 1.16.0-rc1 changelog
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#18332 Fix incorrect OAuth message
  routers/web/auth/oauth.go
  templates/user/auth/grant.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#18333 Only warn on bidi but still escape non-bidi
  templates/repo/unicode_escape_prompt.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#18331 Left-Align text in Unicode warning boxes
  templates/repo/unicode_escape_prompt.tmpl
Labels: kind/ui, lgtm/done, skip-changelog

#18336 Update to go/text 0.3.7
  go.mod
  go.sum
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Labels: kind/bug, lgtm/done

#18050 Upgrade Alpine from 3.13 to 3.15
  Dockerfile
  Dockerfile.rootless
  docker/root/usr/bin/entrypoint
  docker/rootless/usr/local/bin/docker-entrypoint.sh
Labels: lgtm/need 1, kind/breaking

#18338 Refactor httplib
  modules/httplib/httplib.go
Labels: lgtm/done, kind/refactor

#18335 Change initial TrustModel to committer
  routers/install/install.go
Labels: lgtm/done, kind/breaking

#18270 Updated Chroma to v0.10.0
  go.mod
  go.sum
  modules/highlight/highlight_test.go
  modules/markup/orgmode/orgmode_test.go
  services/gitdiff/gitdiff_test.go
Labels: lgtm/done, dependencies, backport/v1.16

#17308 Refactor Router Logger
  cmd/web.go
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  docs/content/doc/advanced/logging-documentation.en-us.md
  modules/log/colors_router.go
  modules/log/log.go
  modules/public/public.go
  modules/setting/log.go
  modules/setting/setting.go
  modules/web/route.go
  modules/web/routing/context.go
  modules/web/routing/funcinfo.go
  modules/web/routing/funcinfo_test.go
  modules/web/routing/logger.go
  modules/web/routing/logger_manager.go
  modules/web/routing/requestrecord.go
  modules/web/wrap.go
  modules/web/wrap_convert.go
  routers/common/logger.go
  routers/common/middleware.go
  routers/install/routes.go
  routers/web/base.go
  routers/web/web.go
Labels: kind/enhancement, lgtm/done

#18342 Use correct translation key for errors
  routers/web/org/setting.go
Labels: lgtm/done

#18341 Enable deprecation error for v1.17.0
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/setting/indexer.go
  modules/setting/lfs.go
  modules/setting/mailer.go
  modules/setting/mirror.go
  modules/setting/queue.go
  modules/setting/setting.go
  modules/setting/task.go
  routers/web/auth/webauthn.go
Labels: lgtm/done, kind/refactor

#18344 Refactor jwt.StandardClaims to RegisteredClaims
  cmd/serv.go
  routers/web/auth/oauth.go
  services/auth/oauth2.go
  services/auth/source/oauth2/token.go
  services/lfs/server.go
Labels: lgtm/done, kind/refactor

#18350 Add js vendor directory to .gitattributes
  .gitattributes
Labels: lgtm/done, kind/misc

#17414 Add config options to hide issue events
  models/issue_comment.go
  models/user/setting.go
  models/user/setting_keys.go
  models/user/setting_test.go
  modules/context/form.go
  modules/notification/mail/mail.go
  options/locale/locale_en-US.ini
  routers/web/repo/issue.go
  routers/web/user/setting/profile.go
  routers/web/web.go
  services/forms/user_form_hidden_comments.go
  services/mailer/mail.go
  services/mailer/mail_comment.go
  services/pull/pull.go
  templates/repo/issue/view_content/comments.tmpl
  templates/user/settings/appearance.tmpl
Labels: kind/enhancement, lgtm/done, theme/issues

#18360 Fix route wrap
  modules/web/wrap_convert.go
Labels: lgtm/done, skip-changelog

#18357 Update github.com/duo-labs/webauthn
  go.mod
  go.sum
Labels: lgtm/done, dependencies, backport/v1.16

#18364 Update github.com/duo-labs/webauthn (#18357)
  go.mod
  go.sum
Labels: lgtm/done, dependencies

#18359 Disable content sniffing on `PlainTextBytes`
  modules/context/context.go
Labels: kind/security, lgtm/done, backport/v1.16

#18361 Make gitea, gitea-vet future-proof
  CONTRIBUTING.md
  modules/json/json.go
Labels: lgtm/done, kind/build

#18365 Disable content sniffing on `PlainTextBytes` (#18359)
  modules/context/context.go
Labels: kind/security, lgtm/done

#18362 Add deprecated for LFS_CONTENT_PATH on zh-cn docs
  docs/content/doc/advanced/config-cheat-sheet.zh-cn.md
Labels: kind/docs, lgtm/done

#18363 Always use git command but not os.Command
  modules/git/diff.go
  routers/web/repo/http.go
  services/gitdiff/gitdiff.go
Labels: lgtm/done, kind/refactor

#18370 Fix mime-type detection for HTTP server
  modules/public/mime_types.go
  modules/public/public.go
  modules/public/serve_dynamic.go
  modules/public/serve_static.go
Labels: kind/bug, lgtm/done, backport/v1.16

#18371 Backport: Fix mime-type detection for HTTP server (#18370)
  modules/public/mime_types.go
  modules/public/public.go
  modules/public/serve_dynamic.go
  modules/public/serve_static.go
Labels: lgtm/done

#18224 Add packagist webhook
  docs/content/doc/features/webhooks.en-us.md
  docs/content/doc/features/webhooks.zh-cn.md
  docs/content/doc/features/webhooks.zh-tw.md
  models/webhook/webhook.go
  modules/setting/webhook.go
  modules/structs/hook.go
  options/locale/locale_en-US.ini
  public/img/packagist.png
  routers/web/repo/webhook.go
  routers/web/web.go
  services/forms/repo_form.go
  services/webhook/packagist.go
  services/webhook/packagist_test.go
  services/webhook/webhook.go
  templates/admin/hook_new.tmpl
  templates/org/settings/hook_new.tmpl
  templates/repo/settings/webhook/base_list.tmpl
  templates/repo/settings/webhook/new.tmpl
  templates/repo/settings/webhook/packagist.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, theme/webhook

#18372 Don't underline commit status icon on hover
  web_src/less/_base.less
Labels: kind/ui, lgtm/done

#18366 Update the SSH passthrough documentation
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done

#18358 Switch to non-deprecation setting
  custom/conf/app.example.ini
  docker/root/etc/templates/app.ini
  docker/rootless/etc/templates/app.ini
  docs/content/doc/usage/git-lfs-support.md
  integrations/mssql.ini.tmpl
  integrations/mysql8.ini.tmpl
  integrations/pgsql.ini.tmpl
  integrations/sqlite.ini.tmpl
  routers/install/install.go
Labels: lgtm/done, kind/refactor

#18373 Fix partial cloning a repo
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  modules/git/diff.go
  modules/git/repo.go
  routers/web/repo/http.go
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#18377 Fix partial cloning a repo (#18373)
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  modules/git/diff.go
  modules/git/repo.go
  routers/web/repo/http.go
Labels: kind/bug, lgtm/done

#18380 Refactor webhooks i18n
  options/locale/locale_en-US.ini
  templates/repo/settings/webhook/base_list.tmpl
  templates/repo/settings/webhook/dingtalk.tmpl
  templates/repo/settings/webhook/discord.tmpl
  templates/repo/settings/webhook/feishu.tmpl
  templates/repo/settings/webhook/gitea.tmpl
  templates/repo/settings/webhook/gogs.tmpl
  templates/repo/settings/webhook/matrix.tmpl
  templates/repo/settings/webhook/msteams.tmpl
  templates/repo/settings/webhook/packagist.tmpl
  templates/repo/settings/webhook/slack.tmpl
  templates/repo/settings/webhook/telegram.tmpl
  templates/repo/settings/webhook/wechatwork.tmpl
Labels: lgtm/done, kind/translation

#18382 Fix mermaid import in 1.15 (it uses ESModule now)
  web_src/js/markup/mermaid.js
Labels: kind/bug, lgtm/done, kind/regression

#18385 Prevent showing webauthn error for every time visiting `/user/settings/security`
  web_src/js/features/user-auth-webauthn.js
Labels: lgtm/done

#18393 Make WrappedQueues and PersistableChannelUniqueQueues Pausable
  modules/queue/queue.go
  modules/queue/queue_bytefifo.go
  modules/queue/queue_channel.go
  modules/queue/queue_wrapped.go
  modules/queue/setting.go
  modules/queue/unique_queue_channel.go
  modules/queue/unique_queue_disk_channel.go
  modules/queue/unique_queue_wrapped.go
  modules/queue/workerpool.go
Labels: kind/enhancement, lgtm/done, skip-changelog

#18386 Backport: prevent showing webauthn error for every time visiting `/user/settings/security`
  web_src/js/features/user-auth-webauthn.js
Labels: lgtm/done

#18387 Fix restore without topic failure
  services/migrations/restore.go
Labels: kind/bug, lgtm/done, backport/v1.15, backport/v1.16

#18397 Update to work with latest VS Code go debugger
  contrib/ide/vscode/launch.json
Labels: kind/docs, lgtm/done, skip-changelog

#18392 Fix commit's time (#18375)
  templates/repo/commits_list.tmpl
  templates/repo/view_list.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#18396 API: Return primary language and repository language stats API URL
  models/repo/repo.go
  models/repo_list.go
  modules/convert/repository.go
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/repo.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api

#18400 Fix restore without topic failure (#18387)
  services/migrations/restore.go
Labels: kind/bug, lgtm/done, skip-changelog

#18403 Place inline diff comment dialogs on split diff in 4th and 8th columns
  web_src/js/features/repo-issue.js
Labels: kind/bug, lgtm/done, backport/done, backport/v1.16

#18376 Unexport var git.GlobalCommandArgs
  integrations/git_clone_wiki_test.go
  integrations/git_helper_for_declarative_test.go
  integrations/git_test.go
  modules/git/command.go
  modules/git/commit.go
  modules/git/git.go
  modules/git/lfs.go
  modules/git/repo.go
Labels: lgtm/done, kind/refactor

#18409 Fix commit's time (#18375)
  templates/repo/commits_list.tmpl
  templates/repo/view_list.tmpl
Labels: kind/bug, kind/ui, lgtm/done

#18411 Bump golangci-lint version
  Makefile
Labels: lgtm/done

#18410 Prevent deadlocks in persistable channel pause test
  modules/queue/queue_disk_channel_test.go
  modules/queue/workerpool.go
Labels: kind/bug, lgtm/done, kind/testing, skip-changelog

#18412 Fix broken oauth2 authentication source edit page
  templates/admin/auth/edit.tmpl
Labels: kind/bug, lgtm/done, backport/v1.16

#18401 Fix restore without topic failure (#18387)
  modules/migrations/restore.go
Labels: kind/bug, lgtm/done

#18384 Use base32 for 2FA scratch token
  models/auth/twofactor.go
  models/migrations/v71.go
  models/migrations/v85.go
  models/token.go
  models/user/user.go
  modules/generate/generate.go
  modules/secret/secret.go
  modules/util/util.go
  modules/util/util_test.go
  routers/web/auth/openid.go
  routers/web/repo/setting.go
Labels: lgtm/done

#18203 Validate migration files
  .gitignore
  cmd/restore_repo.go
  go.mod
  go.sum
  integrations/dump_restore_test.go
  modules/migration/file_format.go
  modules/migration/file_format_test.go
  modules/migration/file_format_testdata/issue_a.json
  modules/migration/file_format_testdata/issue_a.yml
  modules/migration/file_format_testdata/issue_b.json
  modules/migration/file_format_testdata/milestones.json
  modules/migration/issue.go
  modules/migration/label.go
  modules/migration/milestone.go
  modules/migration/reaction.go
  modules/migration/schemas/issue.json
  modules/migration/schemas/label.json
  modules/migration/schemas/milestone.json
  modules/migration/schemas/reaction.json
  modules/migration/schemas_bindata.go
  modules/migration/schemas_dynamic.go
  modules/migration/schemas_static.go
  modules/private/restore_repo.go
  routers/private/restore_repo.go
  services/migrations/dump.go
  services/migrations/restore.go
Labels: kind/enhancement, lgtm/done

#18414 Only view milestones from current repo
  go.mod
  models/issue_milestone.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
Labels: kind/bug, lgtm/done, backport/v1.15, backport/v1.16

#18417 Only view milestones from current repo (#18414)
  models/issue_milestone.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
Labels: kind/bug, lgtm/done

#18418 Only view milestones from current repo (#18414)
  models/issue_milestone.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
Labels: kind/bug, lgtm/done

#18419 Fix broken oauth2 authentication source edit page (#18412)
  templates/admin/auth/edit.tmpl
Labels: kind/bug, lgtm/done

#15066 Automatically pause queue if index service is unavailable
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  integrations/repo_search_test.go
  models/db/engine.go
  models/issue.go
  models/issue_test.go
  modules/context/repo.go
  modules/indexer/code/bleve.go
  modules/indexer/code/elastic_search.go
  modules/indexer/code/indexer.go
  modules/indexer/code/indexer_test.go
  modules/indexer/code/search.go
  modules/indexer/code/wrapped.go
  modules/indexer/issues/bleve.go
  modules/indexer/issues/bleve_test.go
  modules/indexer/issues/db.go
  modules/indexer/issues/elastic_search.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/issue.go
  routers/web/explore/code.go
  routers/web/repo/issue.go
  routers/web/repo/search.go
  routers/web/user/home.go
  templates/explore/code.tmpl
  templates/repo/home.tmpl
  templates/repo/search.tmpl
  templates/shared/issuelist.tmpl
Labels: kind/bug, lgtm/done

#18422 Fix broken when no commits and default branch is not master
  modules/git/repo.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.15, backport/v1.16

#18424 Fix broken when no commits and default branch is not master
  modules/git/repo.go
Labels: kind/bug, lgtm/done

#18423 Fix broken when no commits and default branch is not master
  modules/git/repo.go
Labels: kind/bug, lgtm/done, skip-changelog
