Repository go-gitea/gitea, pull requests merged in 2022-10, with the labels that each got.

#21309 Fix issue that `sync_on_commit` is not set
  templates/repo/settings/options.tmpl
Labels: lgtm/done

#21304 Update Golang deps
  go.mod
  go.sum
Labels: lgtm/done

#20044 Take a stab at porting existing components to Vue3
  package-lock.json
  package.json
  templates/repo/diff/box.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/js/components/ActivityHeatmap.vue
  web_src/js/components/ContextPopup.vue
  web_src/js/components/DashboardRepoList.js
  web_src/js/components/DiffFileList.vue
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/RepoBranchTagDropdown.js
  web_src/js/components/VueComponentLoader.js
  web_src/js/features/contextpopup.js
  web_src/js/features/heatmap.js
  web_src/js/features/repo-diff-filetree.js
  web_src/js/features/repo-issue-pr-form.js
  web_src/js/svg.js
  web_src/less/features/heatmap.less
  webpack.config.js
Labels: kind/ui, lgtm/done, kind/refactor

#19663 Allow specifying SECRET_KEY_URI, similar to INTERNAL_TOKEN_URI
  cmd/web.go
  custom/conf/app.example.ini
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
  modules/setting/lfs.go
  modules/setting/setting.go
  routers/private/internal.go
  services/auth/source/oauth2/jwtsigningkey.go
Labels: kind/enhancement, lgtm/done, kind/refactor

#21312 Fix doc and heatmap for the Vue3 refactoring
  docs/content/doc/developers/guidelines-frontend.md
  docs/content/page/index.en-us.md
  docs/content/page/index.fr-fr.md
  docs/content/page/index.zh-cn.md
  docs/content/page/index.zh-tw.md
  web_src/less/features/heatmap.less
Labels: lgtm/done, skip-changelog

#21315 Make app.ini read-only message more prominent
  docs/content/doc/installation/from-binary.en-us.md
Labels: kind/docs, lgtm/done

#21271 Foreign ID conflicts if ID is 0 for each item
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done, backport/done, backport/v1.17

#21272 Foreign ID conflicts if ID is 0 for each item (#21271)
  services/migrations/gitea_uploader.go
Labels: kind/bug, lgtm/done

#21263 Tag list should include draft releases with existing tags
  models/repo/release.go
  modules/context/repo.go
  routers/web/repo/release.go
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done, backport/v1.17

#21331 Fix linked account translation
  templates/user/settings/security/accountlinks.tmpl
Labels: kind/bug, lgtm/done, kind/translation, backport/v1.17

#21341 Fix missing m.Run() in TestMain
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
Labels: lgtm/done, kind/testing

#21171 Fix slight bug in katex
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/math/inline_parser.go
  modules/markup/markdown/meta.go
  modules/markup/markdown/meta_test.go
  modules/markup/markdown/renderconfig.go
  modules/markup/markdown/renderconfig_test.go
Labels: kind/bug, lgtm/done, skip-changelog

#21345 Remove extra space from title element
  templates/base/head.tmpl
Labels: lgtm/done, skip-changelog

#21343 Update comment about repository.DISABLED_REPO_UNITS in app.example.ini
  custom/conf/app.example.ini
Labels: lgtm/done

#21347 Fix typo in API comment document
  modules/structs/org_team.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, skip-changelog

#21337 Add `stat` to `ToCommit` function for speed
  modules/convert/git_commit.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/notes.go
  routers/api/v1/repo/pull.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done

#21346 Fix default theme-auto selector when nologin
  templates/base/head.tmpl
Labels: kind/bug, lgtm/done

#21342 Fix and improve incorrect error messages
  modules/options/static.go
Labels: kind/bug, lgtm/need 1

#21358 SessionUser protection against nil pointer dereference
  services/auth/session.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21360 Update to go-enry v2.8.3
  go.mod
  go.sum
Labels: lgtm/done, dependencies

#21330 Add redirect of /upgrade/ to /upgrade-from-gitea/ on docs site
  docs/content/doc/upgrade/from-gitea.en-us.md
  docs/static/_redirects
Labels: lgtm/done

#21363 Disable Firefox E2E tests
  playwright.config.js
Labels: lgtm/done, kind/testing

#21351 Parse OAuth Authorization header when request omits client secret
  routers/web/auth/oauth.go
Labels: lgtm/done

#21275 Set SemverCompatible to false for Conan packages
  models/migrations/migrations.go
  models/migrations/v226.go
  routers/api/packages/conan/conan.go
  tests/integration/api_packages_conan_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#21305 Add new CSS variables --color-accent and --color-small-accent
  assets/go-licenses.json
  web_src/less/_base.less
  web_src/less/_review.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/ui, lgtm/done

#21365 Tag list should include draft releases with existing tags (#21263)
  models/release.go
  modules/context/repo.go
  routers/web/repo/release.go
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done

#21338 Make external issue tracker regexp configurable via API
  modules/convert/repository.go
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_edit_test.go
Labels: lgtm/done, kind/api

#21367 Add GET and DELETE endpoints for Docker blob uploads
  routers/api/packages/api.go
  routers/api/packages/container/container.go
  tests/integration/api_packages_container_test.go
Labels: kind/enhancement, lgtm/done, theme/package-registry

#21368 Refactor parseTreeEntries, speed up tree list
  modules/git/parse_nogogit.go
  modules/git/parse_nogogit_test.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/tree_gogit.go
  modules/git/tree_nogogit.go
  routers/web/repo/treelist.go
  services/repository/files/tree.go
Labels: kind/enhancement, lgtm/done, performance/bigrepo

#21350 Add nicer error handling on template compile errors
  modules/templates/dynamic.go
  modules/templates/htmlrenderer.go
  modules/templates/static.go
Labels: kind/enhancement, lgtm/done

#21369 Show private data in feeds
  routers/web/feed/profile.go
Labels: kind/enhancement, lgtm/done

#21319 Fix formatted link for PR review notifications to matrix
  services/webhook/matrix.go
  services/webhook/matrix_test.go
Labels: kind/bug, lgtm/done

#21373 Ignore port for loopback redirect URIs (#21293)
  models/auth/oauth2.go
  models/auth/oauth2_test.go
Labels: kind/bug, lgtm/done

#21364 Removed one extra whitespace in footer after "Template"
  templates/base/footer_content.tmpl
Labels: lgtm/done

#21372 npm package registry support for `bin`
  modules/packages/npm/creator.go
  modules/packages/npm/creator_test.go
  modules/packages/npm/metadata.go
  routers/api/packages/npm/api.go
  tests/integration/api_packages_npm_test.go
Labels: lgtm/done, theme/package-registry, backport/v1.17

#21374 Parse OAuth Authorization header when request omits client secret (#21351)
  routers/web/auth/oauth.go
Labels: lgtm/done

#21357 Bump playwright to 1.26.1
  .drone.yml
  package-lock.json
  package.json
Labels: lgtm/done

#21370 Use weighted algorithm for string matching when finding files in repo
  jest.config.js
  web_src/js/features/repo-findfile.js
  web_src/js/features/repo-findfile.test.js
  web_src/js/testUtils/jestSetup.js
  web_src/js/utils.js
  web_src/js/utils.test.js
Labels: kind/enhancement, lgtm/done

#21277 Make NuGet service index publicly accessible (#21242)
  integrations/api_packages_nuget_test.go
  routers/api/packages/api.go
Labels: kind/bug, lgtm/done, theme/package-registry

#21378 Fix typos in PullRequestMergeForm.vue header comment
  web_src/js/components/PullRequestMergeForm.vue
Labels: lgtm/done

#21388 Update JS dependencies and eslint config
  .drone.yml
  .eslintrc.yaml
  Makefile
  package-lock.json
  package.json
  playwright.config.js
  public/img/svg/octicon-alert-fill.svg
  web_src/js/components/VueComponentLoader.js
  web_src/js/features/stopwatch.js
  webpack.config.js
Labels: lgtm/done, dependencies

#21366 Set SemverCompatible to false for Conan packages (#21275)
  integrations/api_packages_conan_test.go
  routers/api/packages/conan/conan.go
Labels: kind/bug, lgtm/done, theme/package-registry

#21394 Fix calls to i18n in templates
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/settings/webhook/settings.tmpl
Labels: kind/bug, lgtm/done, skip-changelog

#21397 Fix missing left and right carets in TRANSLATORS
  options/locale/TRANSLATORS
Labels: kind/docs, lgtm/need 1

#21353 Hook go-licenses into tidy again
  .drone.yml
  .gitattributes
  Makefile
Labels: lgtm/done, kind/build

#21404 Add Num{Issues,Pulls} stats checks
  models/repo.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21405 Stop logging CheckPath returns error: context canceled (#21064)
  modules/git/repo_attribute.go
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done

#21216 log real ip of requests from ssh
  modules/private/internal.go
  routers/private/internal.go
Labels: kind/enhancement, lgtm/done, backport/v1.17

#21396 Use ISO date format instead of hard-coded English date format for date range in repo activity page
  routers/web/repo/activity.go
Labels: kind/ui, lgtm/done

#21398 Redirect to new repository owner
  modules/context/repo.go
Labels: kind/enhancement, lgtm/done

#21386 [doc] improve clarity for camo proxy parameters
  docs/content/doc/advanced/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done

#21381 Delete cancel button in repo creation page
  templates/repo/create.tmpl
Labels: lgtm/done

#21401 Do DB update after merge in hammer context
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#21399 Update gitea.service
  contrib/systemd/gitea.service
Labels: lgtm/done, skip-changelog

#21413 Bump `golang.org/x/text` (#21412)
  go.mod
  go.sum
Labels: kind/security, lgtm/done, dependencies

#21412 Bump `golang.org/x/text`
  go.mod
  go.sum
Labels: kind/security, lgtm/done, dependencies, backport/v1.17

#21326 feat(pr review): add more space on mobile
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21415 Use Name instead of DisplayName in LFS Lock
  modules/convert/convert.go
  routers/web/repo/view.go
  tests/integration/api_repo_lfs_locks_test.go
Labels: kind/enhancement, lgtm/done

#21382 Fix broken link to frontend guidelines in hacking guidelines
  docs/content/doc/developers/guidelines-frontend.en-us.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: lgtm/done

#20991 Make e-mail sanity check more precise
  models/user/email_address.go
  models/user/email_address_test.go
Labels: kind/enhancement, lgtm/done

#21390 Improve OAuth integration tests
  models/fixtures/oauth2_application.yml
  tests/integration/oauth_test.go
Labels: lgtm/done, kind/testing

#21408 Add generic set type
  models/activities/action_list.go
  models/activities/notification.go
  models/issues/comment_list.go
  models/issues/issue_list.go
  models/issues/reaction.go
  models/migrate.go
  models/migrations/v115.go
  models/packages/conan/search.go
  models/repo/repo_list.go
  models/repo/topic.go
  models/repo/user_repo.go
  modules/base/tool.go
  modules/base/tool_test.go
  modules/container/map.go
  modules/container/set.go
  modules/container/set_test.go
  modules/doctor/authorizedkeys.go
  modules/git/log_name_status.go
  modules/git/repo_stats.go
  modules/issue/template/template.go
  modules/markup/markdown/goldmark.go
  modules/notification/ui/ui.go
  modules/public/public.go
  modules/public/public_test.go
  modules/public/serve_static.go
  modules/queue/unique_queue_channel.go
  modules/repository/repo.go
  modules/setting/queue.go
  modules/setting/setting.go
  modules/sync/status_pool.go
  routers/api/packages/conan/conan.go
  routers/web/repo/issue.go
  routers/web/repo/lfs.go
  routers/web/repo/view.go
  services/issue/commit.go
  services/mailer/mail_comment.go
  services/mailer/mail_issue.go
  services/pull/patch.go
  services/pull/pull.go
  services/release/release.go
  services/repository/adopt.go
Labels: lgtm/done, kind/refactor

#21414 Add Num{Issues,Pulls} stats checks (#21404)
  models/repo.go
Labels: kind/bug, lgtm/done

#21409 Case-insensitive NuGet symbol file GUID
  routers/api/packages/api.go
  routers/api/packages/nuget/nuget.go
  tests/integration/api_packages_nuget_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#21416 Do DB update after merge in hammer context (#21401)
  services/pull/merge.go
Labels: kind/bug, lgtm/done

#21335 Support instance-wide OAuth2 applications
  routers/web/admin/applications.go
  routers/web/auth/oauth.go
  routers/web/web.go
  templates/admin/applications/list.tmpl
  templates/admin/applications/oauth2_edit.tmpl
  templates/admin/navbar.tmpl
  templates/user/auth/grant.tmpl
Labels: kind/enhancement, lgtm/done

#21411 Refactor Gitpod configuration to improve quick spin up of automated dev environments
  .gitpod.yml
  README.md
  README_ZH.md
  docs/content/doc/developers/hacking-on-gitea.en-us.md
Labels: lgtm/done, skip-changelog

#21425 Contribution guidelines
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#21410 Respect user's locale when rendering the date range in the repo activity page
  routers/web/repo/activity.go
  templates/repo/activity.tmpl
  web_src/js/features/formatting.js
Labels: lgtm/done, kind/ux

#21420 Fix #21406: Hide repo information from file view/blame mode
  routers/web/repo/view.go
  templates/repo/home.tmpl
  templates/repo/sub_menu.tmpl
  tests/integration/repo_test.go
Labels: lgtm/done, kind/ux

#21393 Add support for Chocolatey/NuGet v2 API
  docs/content/doc/packages/nuget.en-us.md
  modules/packages/nuget/metadata.go
  routers/api/packages/api.go
  routers/api/packages/nuget/api_v2.go
  routers/api/packages/nuget/api_v3.go
  routers/api/packages/nuget/links.go
  routers/api/packages/nuget/nuget.go
  tests/integration/api_packages_nuget_test.go
Labels: kind/feature, lgtm/done, theme/package-registry

#21445 Remove useless `appVer` from JS `window.config`
  templates/base/head_script.tmpl
  web_src/js/features/serviceworker.js
Labels: lgtm/done, skip-changelog

#21437 Run `make fmt`
  templates/code/searchform.tmpl
  templates/user/code.tmpl
Labels: lgtm/done, skip-changelog

#21325 Add cynkra bronze sponsor
  README.md
Labels: kind/docs, lgtm/done

#21446 Diff file tree tweaks
  templates/repo/diff/box.tmpl
  web_src/less/_repository.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21444 Switch from jest to vitest
  Makefile
  jest.config.js
  package-lock.json
  package.json
  vitest.config.js
  web_src/js/svg.test.js
  web_src/js/test/setup.js
  web_src/js/testUtils/jestRawLoader.js
  web_src/js/utils.test.js
Labels: lgtm/done, kind/testing, skip-changelog

#21449 Add vitest tests to Gitpod
  .gitpod.yml
Labels: lgtm/done, kind/testing, skip-changelog

#21450 Fix Drone pushing commits with wrong author info
  .drone.yml
Labels: kind/bug, lgtm/need 1, kind/build, skip-changelog

#21464 alternative to PR "improve code quality"
  modules/git/command.go
  modules/git/command_test.go
  modules/git/commit.go
  modules/git/repo_commit.go
  modules/git/repo_stats.go
  modules/gitgraph/graph.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21465 Follow improve code quality
  modules/git/command.go
  modules/git/command_test.go
Labels: lgtm/done

#21463 improve code quality (#21464)
  modules/git/command.go
  modules/git/command_test.go
  modules/git/commit.go
  modules/git/repo_commit.go
  modules/git/repo_stats.go
  modules/gitgraph/graph.go
Labels: kind/bug, lgtm/done

#21456 Changelog v1.17.3
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog, frontport/main

#21466 [refactor] Use const for wiki DefaultBranch
  routers/web/repo/wiki.go
  services/wiki/wiki.go
  services/wiki/wiki_test.go
Labels: lgtm/done, kind/refactor, skip-changelog

#21468 Add wording about keeping PRs up-to-date in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/docs, lgtm/done

#21432 Add `code` highlighting in issue titles
  modules/templates/helper.go
  templates/repo/issue/view_title.tmpl
  templates/shared/issuelist.tmpl
  templates/user/dashboard/feeds.tmpl
  web_src/less/_base.less
  web_src/less/_dashboard.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21457 Use own Go version instead of hardcoded 1.17 for `make fmt`
  build/code-batch-process.go
Labels: lgtm/done, skip-changelog

#21436 Update OpenRC startup script
  contrib/init/gentoo/gitea
Labels: kind/docs, lgtm/done

#21431 Fix mermaid-related bugs
  web_src/js/bootstrap.js
  web_src/js/markup/mermaid.js
Labels: kind/bug, lgtm/done

#21458 Simplify fmt-check
  .golangci.yml
  Makefile
  build/code-batch-process.go
  build/codeformat/formatimports.go
Labels: lgtm/done, skip-changelog

#21469 Refactor GetNextResourceIndex to make it work properly with transaction
  models/db/index.go
  models/db/index_test.go
  models/issues/issue.go
  models/issues/issue_index.go
  models/issues/issue_xref_test.go
  models/issues/pull.go
  models/repo.go
Labels: kind/enhancement, lgtm/done

#21400 Display total commit count in hook message
  modules/notification/webhook/webhook.go
  modules/structs/hook.go
  routers/api/v1/repo/hook.go
  routers/web/repo/webhook.go
  services/webhook/dingtalk.go
  services/webhook/dingtalk_test.go
  services/webhook/discord.go
  services/webhook/general_test.go
  services/webhook/matrix.go
  services/webhook/msteams.go
  services/webhook/slack.go
  services/webhook/telegram.go
  services/webhook/wechatwork.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21477 Return 404 when user is not found on avatar (#21476)
  routers/web/user/avatar.go
Labels: kind/bug, lgtm/done

#21442 Enforce grouped NuGet search results
  routers/api/packages/nuget/api_v3.go
  tests/integration/api_packages_nuget_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, backport/v1.17

#21476 Return 404 when user is not found on avatar
  routers/web/user/avatar.go
Labels: kind/bug, lgtm/done, backport/v1.17

#18058 Add system setting table with cache and also add cache supports for user setting
  contrib/pr/checkout.go
  models/admin/notice_test.go
  models/avatars/avatar.go
  models/avatars/avatar_test.go
  models/avatars/main_test.go
  models/fixtures/system_setting.yml
  models/issues/issue.go
  models/main_test.go
  models/migrations/migrations.go
  models/migrations/v227.go
  models/repo.go
  models/system/appstate.go
  models/system/main_test.go
  models/system/notice.go
  models/system/notice_test.go
  models/system/setting.go
  models/system/setting_key.go
  models/system/setting_test.go
  models/unittest/testdb.go
  models/user/avatar.go
  models/user/setting.go
  modules/repository/commits_test.go
  modules/setting/picture.go
  modules/setting/setting.go
  modules/system/appstate.go
  modules/system/appstate_test.go
  modules/system/db.go
  modules/system/item_runtime.go
  modules/system/setting.go
  modules/system/user_setting.go
  modules/templates/helper.go
  modules/updatechecker/update_checker.go
  options/locale/locale_en-US.ini
  routers/init.go
  routers/install/install.go
  routers/web/admin/admin.go
  routers/web/admin/config.go
  routers/web/admin/notice.go
  routers/web/repo/middlewares.go
  routers/web/web.go
  services/cron/tasks.go
  services/cron/tasks_extended.go
  services/issue/issue.go
  services/migrations/common.go
  services/migrations/migrate.go
  services/mirror/mirror_pull.go
  services/repository/check.go
  services/repository/repository.go
  services/user/user.go
  services/wiki/wiki.go
  templates/admin/config.tmpl
  web_src/js/features/admin/common.js
  web_src/js/features/admin/config.js
  web_src/js/features/admin/emails.js
  web_src/js/features/admin/users.js
  web_src/js/index.js
  web_src/less/_base.less
  web_src/less/_form.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/feature, lgtm/done

#21479 Fix incorrect notification commit url
  services/repository/push.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21480 Enforce grouped NuGet search results (#21442)
  integrations/api_packages_nuget_test.go
  routers/api/packages/nuget/api.go
Labels: kind/bug, lgtm/done, theme/package-registry

#21467 probe if sha before exec git
  modules/git/repo_commit.go
  modules/git/sha1_test.go
Labels: kind/enhancement, lgtm/done, kind/refactor

#20933 Docs: Update the feature comparison to other Git Hosting Services
  docs/content/doc/features/comparison.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog

#21484 Update reverse-proxies.zh-cn.md
  docs/content/doc/usage/reverse-proxies.zh-cn.md
Labels: kind/docs, lgtm/done

#21451 Do not send notifications for draft releases
  services/release/release.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21494 inline gitpod image
  docs/content/doc/developers/hacking-on-gitea.en-us.md
  docs/static/open-in-gitpod.svg
Labels: kind/bug, kind/docs, lgtm/done, skip-changelog

#20891 Make every not exist error unwrappable to a fs.ErrNotExist
  models/activities/notification.go
  models/admin/task.go
  models/asymkey/error.go
  models/auth/oauth2.go
  models/auth/source.go
  models/auth/token.go
  models/auth/twofactor.go
  models/auth/webauthn.go
  models/db/engine.go
  models/db/error.go
  models/db/name.go
  models/error.go
  models/foreignreference/error.go
  models/git/lfs.go
  models/issues/comment.go
  models/issues/content_history.go
  models/issues/dependency.go
  models/issues/issue.go
  models/issues/label.go
  models/issues/milestone.go
  models/issues/pull.go
  models/issues/reaction.go
  models/issues/review.go
  models/issues/stopwatch.go
  models/issues/tracked_time.go
  models/organization/org.go
  models/organization/team.go
  models/project/project.go
  models/pull/automerge.go
  models/repo/attachment.go
  models/repo/redirect.go
  models/repo/release.go
  models/repo/repo.go
  models/repo/repo_unit.go
  models/repo/topic.go
  models/repo/update.go
  models/repo/upload.go
  models/repo/wiki.go
  models/user/email_address.go
  models/user/error.go
  models/user/external_login_user.go
  models/user/openid.go
  models/user/redirect.go
  models/webhook/webhook.go
  modules/git/error.go
  modules/translation/i18n/errors.go
  modules/util/error.go
  services/repository/fork.go
Labels: lgtm/done, kind/refactor

#21483 Fix incorrect notification commit url (#21479)
  services/repository/push.go
Labels: kind/bug, lgtm/done

#21489 Fix read system configuration bug when installing
  routers/install/install.go
Labels: kind/bug, lgtm/done, kind/regression, skip-changelog

#21475 Remove unnecessary misspell ignore pattern
  Makefile
  modules/paginator/paginator.go
  modules/paginator/paginator_test.go
  modules/references/references_test.go
Labels: lgtm/done, skip-changelog

#21428 Fix branch dropdown shifting on page load
  templates/repo/branch_dropdown.tmpl
  templates/repo/home.tmpl
Labels: kind/bug, status/needs-feedback, lgtm/done

#21505 Remove vitest globals
  .eslintrc.yaml
  vitest.config.js
  web_src/js/features/repo-findfile.test.js
  web_src/js/svg.test.js
  web_src/js/utils.test.js
Labels: lgtm/done, kind/testing, skip-changelog

#21503 Disable the 'Add File' button when not able to edit repo
  templates/repo/home.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done

#20307 Add team member invite by email
  models/migrations/migrations.go
  models/migrations/v228.go
  models/org_team.go
  models/organization/org.go
  models/organization/team.go
  models/organization/team_invite.go
  models/organization/team_invite_test.go
  options/locale/locale_en-US.ini
  routers/web/org/teams.go
  routers/web/web.go
  services/mailer/mail_release.go
  services/mailer/mail_team_invite.go
  templates/mail/team_invite.tmpl
  templates/org/team/invite.tmpl
  templates/org/team/members.tmpl
  tests/integration/org_team_invite_test.go
  web_src/js/features/comp/SearchUserBox.js
  web_src/less/_organization.less
Labels: kind/feature, lgtm/done

#21470 Revert increased width on pull pages
  templates/repo/commit_page.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/pulls/files.tmpl
Labels: lgtm/done, kind/regression, skip-changelog

#21504 Suppress `ExternalLoginUserNotExist` error
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21516 Enable Monaco automaticLayout
  web_src/js/features/codeeditor.js
Labels: kind/bug, kind/ui, lgtm/done

#21507 Update macOS install command
  docs/content/doc/installation/from-package.zh-cn.md
Labels: kind/docs, lgtm/done

#21515 Enable Monaco automaticLayout
  web_src/js/features/codeeditor.js
Labels: kind/bug, kind/ui, lgtm/done, backport/done, backport/v1.17

#21513 move invite by mail to services package
  routers/web/org/teams.go
  services/org/team_invite.go
Labels: lgtm/done, kind/refactor, skip-changelog

#21487 Ignore error when retrieving changed PR review files
  services/gitdiff/gitdiff.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21524 Ignore error when retrieving changed PR review files (#21487)
  services/gitdiff/gitdiff.go
Labels: kind/bug

#21520 Check for valid user token in integration tests
  tests/integration/integration_test.go
Labels: lgtm/done, kind/testing

#21519 Fix generating compare link
  modules/templates/helper.go
  templates/repo/home.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.17

#21474 Add color previews in markdown
  modules/markup/markdown/ast.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
  modules/markup/sanitizer.go
  web_src/less/_base.less
Labels: kind/feature, lgtm/done

#21530 Fix generating compare link (#21519)
  modules/templates/helper.go
  templates/repo/home.tmpl
Labels: kind/bug, lgtm/done

#17940 Decouple HookTask from Repository
  models/fixtures/hook_task.yml
  models/repo.go
  models/webhook/hooktask.go
  models/webhook/webhook.go
  models/webhook/webhook_test.go
  modules/notification/webhook/webhook.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/hook_test.go
  routers/web/repo/webhook.go
  services/webhook/deliver.go
  services/webhook/webhook.go
  services/webhook/webhook_test.go
Labels: kind/enhancement, lgtm/done

#21540 Added check for disabled Packages
  routers/web/web.go
  templates/admin/navbar.tmpl
Labels: kind/bug, lgtm/done, backport/v1.17

#21536 Remove unnecessary debug log
  modules/markup/markdown/meta.go
Labels: lgtm/done, kind/testing, skip-changelog

#21529 Check for valid user token in integration tests (#21520)
  integrations/integration_test.go
Labels: lgtm/done, kind/testing, skip-changelog

#21512 Remove deleted repos from searchresult
  routers/web/explore/code.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21531 Prevent Authorization header for presigned LFS urls
  services/lfs/server.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21459 Update milestone counters when issue is deleted
  models/migrations/fixtures/Test_updateOpenMilestoneCounts/expected_milestone.yml
  models/migrations/fixtures/Test_updateOpenMilestoneCounts/issue.yml
  models/migrations/fixtures/Test_updateOpenMilestoneCounts/milestone.yml
  models/migrations/migrations.go
  models/migrations/v229.go
  models/migrations/v229_test.go
  services/issue/issue.go
Labels: kind/bug, lgtm/done, backport/v1.17

#21533 Add link to user profile in markdown mention only if user exists
  contrib/pr/checkout.go
  modules/markup/html.go
  modules/markup/markdown/markdown_test.go
  modules/markup/renderer.go
  routers/api/v1/misc/markdown_test.go
  routers/init.go
  services/markup/main_test.go
  services/markup/processorhelper.go
  services/markup/processorhelper_test.go
Labels: kind/enhancement, lgtm/done

#21453 Allow package version sorting
  models/packages/container/search.go
  models/packages/package_version.go
  options/locale/locale_en-US.ini
  routers/web/user/package.go
  templates/admin/packages/list.tmpl
  templates/package/shared/versionlist.tmpl
Labels: kind/feature, lgtm/done, theme/package-registry

#21534 CSS color enhancements
  web_src/less/_base.less
  web_src/less/_review.less
  web_src/less/_tribute.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/ui, lgtm/done

#21421 Require authentication for OAuth token refresh
  routers/web/auth/oauth.go
  tests/integration/oauth_test.go
Labels: kind/enhancement, lgtm/done, backport/v1.17

#21554 Link mentioned user in markdown only if they are visible to viewer
  services/markup/processorhelper.go
  services/markup/processorhelper_test.go
Labels: lgtm/done, skip-changelog

#21556 Update binding to fix bugs
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, skip-changelog, backport/v1.17

#21566 Add yardenshoham to maintainers
  MAINTAINERS
Labels: lgtm/done

#21560 Update binding to fix bugs
  go.mod
  go.sum
Labels: kind/bug, lgtm/done

#21543 Expand "Go to File" button again, fix 'Add File' margin
  templates/repo/home.tmpl
  web_src/less/_repository.less
Labels: kind/ui, lgtm/done

#21537 Use recommended vscode configuration in gitpod environments
  .gitpod.yml
Labels: lgtm/done, skip-changelog

#21569 Prevent Authorization header for presigned LFS urls (#21531)
  services/lfs/server.go
Labels: kind/bug, lgtm/done

#21501 dump: Add option to skip index dirs
  cmd/dump.go
Labels: kind/enhancement, lgtm/done

#21486 adapt README_{Country}.md stype name in localizedExtensions
  routers/web/repo/view.go
  routers/web/repo/view_test.go
Labels: kind/enhancement, lgtm/done, skip-changelog

#21316 Record OAuth client type at registration
  docs/content/doc/developers/oauth2-provider.md
  models/auth/oauth2.go
  models/auth/oauth2_test.go
  models/fixtures/oauth2_application.yml
  models/fixtures/oauth2_authorization_code.yml
  models/fixtures/oauth2_grant.yml
  models/migrations/fixtures/Test_addConfidentialClientColumnToOAuth2ApplicationTable/o_auth2_application.yml
  models/migrations/migrations.go
  models/migrations/v230.go
  models/migrations/v230_test.go
  modules/convert/convert.go
  modules/structs/user_app.go
  options/locale/locale_en-US.ini
  routers/api/v1/user/app.go
  routers/web/auth/oauth.go
  routers/web/user/setting/oauth2_common.go
  services/forms/user_form.go
  templates/swagger/v1_json.tmpl
  templates/user/settings/applications_oauth2_edit_form.tmpl
  templates/user/settings/applications_oauth2_list.tmpl
  tests/integration/api_oauth2_apps_test.go
  tests/integration/oauth_test.go
Labels: kind/enhancement, lgtm/done

#21575 Case-insensitive NuGet symbol file GUID (#21409)
  integrations/api_packages_nuget_test.go
  routers/api/packages/api.go
  routers/api/packages/nuget/nuget.go
Labels: kind/bug, lgtm/done

#21172 Added missing headers on user packages page
  templates/user/overview/header.tmpl
Labels: kind/enhancement, lgtm/done

#21568 Allow for resolution of NPM registry paths that match upstream
  routers/api/packages/api.go
  routers/api/packages/npm/npm.go
  tests/integration/api_packages_npm_test.go
Labels: lgtm/done, skip-changelog, theme/package-registry, backport/v1.17

#21581 SessionUser protection against nil pointer dereference
  services/auth/session.go
Labels: kind/bug, lgtm/done

#21580 Fix package access for admins and inactive users
  modules/context/package.go
  routers/api/packages/api.go
  tests/integration/api_packages_container_test.go
  tests/integration/api_packages_test.go
Labels: kind/bug, kind/security, lgtm/done, theme/package-registry, backport/v1.17

#21552 Add sqlite vscode extension to Gitpod configuration
  .gitpod.yml
Labels: lgtm/done

#21582 Consolidate remaining colors into variables
  web_src/less/_base.less
  web_src/less/markup/content.less
  web_src/less/themes/theme-arc-green.less
Labels: kind/enhancement, kind/ui, lgtm/done
