Repository go-gitea/gitea, pull requests merged in 2023-04, with the labels that each got.

#23856 Improve home page template, fix Sort dropdown menu flash
  templates/home.tmpl
  templates/repo/issue/list.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, skip-changelog

#23846 Fix review conversation reply
  templates/repo/diff/comment_form.tmpl
Labels: kind/bug, lgtm/done

#23862 Fix JS error when changing PR's target branch
  web_src/js/features/repo-issue.js
Labels: kind/bug, lgtm/done, backport/v1.19

#23858 Remove jQuery `ready` usage
  .eslintrc.yaml
  web_src/js/index.js
  web_src/js/utils/dom.js
Labels: kind/ui, lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge

#23576 Remove assertion debug code for show/hide refactoring
  web_src/js/utils/dom.js
Labels: lgtm/done, reviewed/wait-merge, backport/v1.19

#23801 Use clippie module to copy to clipboard
  package-lock.json
  package.json
  web_src/js/features/clipboard.js
  web_src/js/features/copycontent.js
  web_src/js/features/repo-code.js
Labels: kind/enhancement, kind/ui, lgtm/done, dependencies, reviewed/wait-merge

#23821 Display image size for multiarch container images
  models/migrations/migrations.go
  models/migrations/v1_20/v250.go
  modules/packages/container/metadata.go
  modules/packages/container/metadata_test.go
  routers/api/packages/container/manifest.go
  templates/package/content/container.tmpl
  templates/package/view.tmpl
  tests/integration/api_packages_container_test.go
Labels: kind/enhancement, lgtm/done, theme/package-registry, reviewed/wait-merge

#23829 Prefill input values in oauth settings as intended
  templates/admin/auth/source/oauth.tmpl
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, backport/v1.19

#23841 Check `IsActionsToken` for LFS authentication
  services/lfs/server.go
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, backport/v1.19

#23877 Added close/open button to details page of milestone
  templates/repo/issue/milestone_issues.tmpl
Labels: kind/enhancement, lgtm/done

#23853 Update JS deps
  .drone.yml
  .stylelintrc.yaml
  package-lock.json
  package.json
  public/img/svg/octicon-project-template.svg
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge

#23867 Try to catch more broken translations
  build/backport-locales.go
Labels: lgtm/done, kind/translation, reviewed/wait-merge

#23733 Rename actions unit to `repo.actions` and add docs for it
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  models/unit/unit.go
  options/locale/locale_en-US.ini
Labels: kind/bug, lgtm/done, kind/breaking, backport/v1.19

#23831 Fix checks for `needs` in Actions (#23789)
  go.mod
  go.sum
  models/actions/run.go
  modules/actions/workflows.go
Labels: kind/bug, lgtm/done, dependencies, reviewed/wait-merge, theme/cicd

#23880 Backport some locales to 1.19
  options/locale/locale_pt-PT.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-TW.ini
Labels: lgtm/done, kind/translation, skip-changelog, reviewed/wait-merge

#23734 Append `(comment)` when a link points at a comment rather than the whole issue
  modules/context/context.go
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/translation/translation.go
  options/locale/locale_en-US.ini
  web_src/js/features/comp/MarkupContentPreview.js
  web_src/js/features/contextpopup.js
  web_src/js/features/repo-legacy.js
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge

#23736 Improve LoadUnitConfig to handle invalid or duplicate units
  models/unit/unit.go
  models/unit/unit_test.go
  routers/api/v1/org/team.go
Labels: kind/enhancement, kind/deployment, lgtm/done, reviewed/wait-merge

#23876 Introduce GitHub markdown editor, keep EasyMDE as fallback
  package-lock.json
  package.json
  routers/web/devtest/devtest.go
  routers/web/misc/markup.go
  routers/web/org/setting.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/editor.go
  routers/web/repo/issue.go
  routers/web/repo/issue_label.go
  routers/web/repo/pull.go
  routers/web/repo/release.go
  routers/web/web.go
  templates/base/head_script.tmpl
  templates/devtest/gitea-ui.tmpl
  templates/devtest/list.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/comment_form.tmpl
  templates/repo/diff/new_review.tmpl
  templates/repo/issue/comment_tab.tmpl
  templates/repo/issue/fields/textarea.tmpl
  templates/repo/issue/labels/edit_delete_label.tmpl
  templates/repo/issue/labels/label_new.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/release/new.tmpl
  templates/repo/wiki/new.tmpl
  templates/shared/combomarkdowneditor.tmpl
  web_src/css/editor-markdown.css
  web_src/css/editor.css
  web_src/css/index.css
  web_src/css/repository.css
  web_src/css/review.css
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/comp/EasyMDE.js
  web_src/js/features/comp/ImagePaste.js
  web_src/js/features/comp/MarkupContentPreview.js
  web_src/js/features/contextpopup.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-release.js
  web_src/js/features/repo-wiki.js
  web_src/js/features/tribute.js
  web_src/js/index.js
  web_src/js/utils.js
  web_src/js/utils.test.js
Labels: kind/ui, lgtm/done, kind/refactor, dependencies, reviewed/wait-merge

#22994 Fix submit button won't refresh in New Repository Fork page
  routers/web/repo/pull.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#23800 Fix review box viewport overflow issue
  web_src/css/review.css
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, backport/v1.19

#23839 Convert .Source.SkipVerify to $cfg.SkipVerify
  templates/admin/auth/edit.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23861 Introduce GiteaLocaleNumber custom element to handle number localization on pages.
  modules/base/tool.go
  modules/base/tool_test.go
  modules/templates/helper.go
  modules/util/truncate.go
  modules/util/truncate_test.go
  modules/util/util.go
  modules/util/util_test.go
  templates/projects/list.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/openclose.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/release/list.tmpl
  templates/repo/release/new.tmpl
  templates/repo/sub_menu.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/dashboard/milestones.tmpl
  web_src/js/features/formatting.js
  web_src/js/utils.js
  web_src/js/utils.test.js
  web_src/js/webcomponents/GiteaLocaleNumber.js
  web_src/js/webcomponents/GiteaOriginUrl.js
  web_src/js/webcomponents/README.md
  web_src/js/webcomponents/webcomponents.js
  webpack.config.js
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#23882 Fix user profile description rendering
  web_src/css/user.css
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, backport/v1.19

#23883 Disable editing tags
  models/repo/release.go
  templates/repo/release/list.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23885 Fix `cases.Title` crash for concurrency
  modules/util/util.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23888 Remove fomantic ".link" selector and styles
  templates/repo/forks.tmpl
  templates/repo/sub_menu.tmpl
  templates/user/dashboard/navbar.tmpl
  web_src/css/base.css
  web_src/css/repository.css
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#23823 Use User.ID instead of User.Name in ActivityPub API for Person IRI
  routers/api/v1/activitypub/person.go
  routers/api/v1/api.go
  routers/web/webfinger.go
  services/context/user.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_activitypub_person_test.go
  tests/integration/webfinger_test.go
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, backport/v1.19

#23887 User/Org Feed render description as per web
  build.go
  routers/web/feed/profile.go
Labels: kind/bug, lgtm/done, theme/rendering, reviewed/wait-merge, backport/v1.19

#23901 Org pages style fixes
  templates/org/home.tmpl
  templates/org/member/members.tmpl
  templates/org/team/members.tmpl
  templates/org/team/navbar.tmpl
  templates/org/team/repositories.tmpl
  web_src/css/organization.css
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge

#23822 Use ghost user if package creator does not exist
  models/packages/descriptor.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, backport/v1.19

#23494 Add activity feeds API
  models/activities/action.go
  modules/structs/activity.go
  routers/api/v1/api.go
  routers/api/v1/org/org.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/repo.go
  routers/api/v1/swagger/activity.go
  routers/api/v1/user/user.go
  services/convert/activity.go
  templates/swagger/v1_json.tmpl
Labels: kind/feature, lgtm/done, kind/api, reviewed/wait-merge

#23924 docs: fix typo
  docs/content/doc/administration/mail-templates.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, backport/v1.19

#23923 docs: make the required backticks in email password more explicit
  docs/content/doc/administration/email-setup.en-us.md
Labels: kind/docs, lgtm/done, backport/v1.19

#23702 Scroll collapsed file into view
  web_src/css/repository.css
  web_src/css/review.css
  web_src/js/features/file-fold.js
Labels: kind/bug, kind/ui, lgtm/done, backport/v1.19

#23886 Fix image border-radius
  web_src/css/base.css
Labels: kind/ui, lgtm/done, backport/v1.19

#23935 Update eslints for Vue 3
  web_src/js/components/.eslintrc.yaml
Labels: lgtm/done, kind/lint

#23937 Left-align review comments
  web_src/css/review.css
Labels: kind/enhancement, kind/ui, lgtm/done

#23941 Adjust some documentations titles
  docs/content/doc/administration/backup-and-restore.en-us.md
  docs/content/doc/administration/command-line.en-us.md
  docs/content/doc/administration/email-setup.en-us.md
  docs/content/doc/administration/fail2ban-setup.en-us.md
  docs/content/doc/administration/fail2ban-setup.zh-cn.md
  docs/content/doc/administration/git-lfs-support.en-us.md
  docs/content/doc/administration/https-support.en-us.md
  docs/content/doc/administration/logging-documentation.en-us.md
  docs/content/doc/administration/reverse-proxies.en-us.md
  docs/content/doc/administration/search-engines-indexation.en-us.md
  docs/content/doc/installation/comparison.en-us.md
  docs/content/doc/installation/database-preparation.en-us.md
  docs/content/doc/installation/from-package.en-us.md
  docs/content/doc/installation/from-package.zh-cn.md
  docs/content/doc/usage/agit-support.en-us.md
  docs/content/doc/usage/issue-pull-request-templates.en-us.md
  docs/content/doc/usage/labels.en-us.md
  docs/content/doc/usage/linked-references.en-us.md
  docs/content/doc/usage/merge-message-templates.en-us.md
  docs/content/doc/usage/pull-request.en-us.md
  docs/content/doc/usage/pull-request.zh-tw.md
  docs/content/doc/usage/push-options.en-us.md
  docs/content/doc/usage/push-options.zh-tw.md
  docs/content/doc/usage/push-to-create.en-us.md
Labels: kind/docs, lgtm/done

#23879 Improve permission check of packages
  models/fixtures/org_user.yml
  models/fixtures/team.yml
  models/fixtures/team_unit.yml
  models/fixtures/team_user.yml
  models/fixtures/user.yml
  models/organization/org_test.go
  modules/context/package.go
  tests/integration/api_packages_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, backport/v1.19

#23953 Remove -v from vulncheck
  Makefile
Labels: lgtm/need 1, kind/build, skip-changelog

#21257 Show editorconfig warnings when viewing a malformed editorconfig
  modules/context/repo.go
  routers/api/v1/repo/file.go
  routers/web/repo/editor.go
  routers/web/repo/middlewares.go
  routers/web/repo/view.go
  templates/repo/view_file.tmpl
  web_src/css/helpers.css
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge

#23884 Treat PRs with agit flow as fork PRs when triggering actions.
  models/actions/run.go
  services/actions/notifier_helper.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, theme/cicd, backport/v1.19

#23889 More specific and unique feed name for NuGet install command template.
  templates/package/content/nuget.tmpl
Labels: kind/docs, lgtm/done, reviewed/wait-merge

#23913 Delete deleted release attachments immediately from storage
  services/release/release.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23744 Merge `push to create`, `open PR from push`, and `push options` docs articles into one
  docs/content/doc/usage/push-options.en-us.md
  docs/content/doc/usage/push-options.zh-tw.md
  docs/content/doc/usage/push.en-us.md
  docs/content/doc/usage/push.zh-tw.md
  docs/static/gitea-push-hint.png
Labels: kind/docs, reviewed/wait-merge, backport/v1.19

#23890 Refactor authors dropdown (send get request from frontend to avoid long wait time)
  models/repo/user_repo.go
  options/locale/locale_en-US.ini
  routers/web/repo/helper.go
  routers/web/repo/helper_test.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/repo/release.go
  routers/web/web.go
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/css/repository.css
  web_src/js/features/common-issue.js
  web_src/js/features/repo-issue-list.js
  web_src/js/features/repo-issue.js
  web_src/js/index.js
  web_src/js/modules/aria/dropdown.js
  web_src/js/modules/fomantic.js
Labels: lgtm/done, performance/speed, performance/bigrepo, reviewed/wait-merge, backport/v1.19

#23910 Actions: Use default branch as ref when a branch/tag delete occurs
  services/actions/notifier_helper.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge

#23917 Title can be empty when creating tag only
  options/locale/locale_en-US.ini
  routers/web/repo/release.go
  services/forms/repo_form.go
  templates/repo/release/new.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, backport/v1.19

#23955 Hardcode path to docker images
  Dockerfile
  Dockerfile.rootless
Labels: lgtm/done, kind/build, reviewed/wait-merge, backport/v1.19

#23920 Remove `Repository.getFilesChanged` to fix Actions `paths` and `paths-ignore` filter
  modules/git/commit.go
  modules/git/repo_commit.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23960 Backport locales to 1.19
  options/locale/locale_cs-CZ.ini
  options/locale/locale_el-GR.ini
  options/locale/locale_fa-IR.ini
  options/locale/locale_fi-FI.ini
  options/locale/locale_it-IT.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_nl-NL.ini
  options/locale/locale_pl-PL.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_si-LK.ini
  options/locale/locale_sv-SE.ini
  options/locale/locale_uk-UA.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-HK.ini
  options/locale/locale_zh-TW.ini
Labels: lgtm/done, kind/translation, skip-changelog

#23922 Clean template/helper.go
  modules/templates/helper.go
  routers/web/admin/config.go
  templates/admin/config.tmpl
  templates/repo/clone_buttons.tmpl
  templates/repo/clone_script.tmpl
  templates/repo/search_name.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#23959 Merge `push to create`, `open PR from push`, and `push options` docs articles into one (#23744)
  docs/content/doc/usage/push-options.en-us.md
  docs/content/doc/usage/push-options.zh-tw.md
  docs/content/doc/usage/push.en-us.md
  docs/content/doc/usage/push.zh-tw.md
  docs/static/gitea-push-hint.png
Labels: kind/docs, lgtm/done, reviewed/wait-merge

#23904 Ensure RSS icon is present on all repo tabs
  modules/context/repo.go
  routers/web/repo/view.go
Labels: kind/bug, reviewed/wait-merge, backport/v1.19

#23874 Support "." char as user name for User/Orgs in RSS/ATOM/GPG/KEYS path ...
  models/fixtures/action.yml
  models/fixtures/user.yml
  models/user/user_test.go
  routers/web/web.go
  tests/integration/api_nodeinfo_test.go
  tests/integration/setting_test.go
  tests/integration/user_test.go
Labels: kind/bug, lgtm/done, backport/done, reviewed/wait-merge, backport/v1.19, backport/manual

#23878 Support "." char as user name for User/Orgs in RSS/ATOM/GPG/KEYS path ... (#23874)
  models/fixtures/action.yml
  models/fixtures/user.yml
  models/user/user_test.go
  routers/web/web.go
  tests/integration/api_nodeinfo_test.go
  tests/integration/setting_test.go
  tests/integration/user_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#23972 Do not crash when parsing an invalid workflow file
  go.mod
  go.sum
  modules/actions/workflows.go
Labels: lgtm/done, dependencies, reviewed/wait-merge, theme/cicd, backport/v1.19, reviewed/prioritize-merge

#23927 Use a general Eval function for expressions in templates.
  modules/base/tool.go
  modules/base/tool_test.go
  modules/templates/eval/eval.go
  modules/templates/eval/eval_test.go
  modules/templates/helper.go
  modules/util/util.go
  templates/repo/branch/list.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/diff/stats.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/editor/upload.tmpl
  templates/repo/graph/svgcontainer.tmpl
  templates/repo/home.tmpl
  templates/repo/view_file.tmpl
  templates/repo/wiki/view.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#23932 Merge template functions "dict/Dict/mergeinto"
  modules/templates/helper.go
  modules/templates/util.go
  modules/templates/util_test.go
  modules/util/util.go
  templates/org/team/teams.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/reactions.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/notification/notification_subscriptions.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#23940 Allow repo admins too to delete the repo
  models/organization/org.go
  models/organization/org_user.go
  modules/repository/delete.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#23975 Use Get/Set instead of Rename when Regenerate session id
  modules/session/redis.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23895 Improve markdown editor: width, height, preferred
  templates/repo/issue/comment_tab.tmpl
  web_src/css/editor-markdown.css
  web_src/css/repository.css
  web_src/css/review.css
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/repo-wiki.js
  web_src/js/utils/dom.js
Labels: kind/ui, lgtm/done, reviewed/wait-merge

#23947 Highlight selected file in the PR file tree
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/DiffFileTreeItem.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge

#23950 Discolor pull request tab labels
  templates/repo/pulls/tab_menu.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, backport/v1.19

#23978 Remove docs from automatically building in Gitpod
  .gitpod.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge

#23944 Set `ref` to fully-formed of the tag when trigger event is `release`
  routers/api/actions/runner/utils.go
  services/actions/notifier.go
  services/actions/notifier_helper.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23750 Fix markup background, improve wiki rendering
  templates/repo/wiki/pages.tmpl
  templates/repo/wiki/view.tmpl
  web_src/css/markup/content.css
  web_src/css/repository.css
Labels: kind/bug, kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge

#23967 Treat PRs with agit flow as fork PRs when triggering actions. (#23884)
  services/actions/notifier_helper.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, theme/cicd

#23963 Add job.duration in web ui
  routers/web/repo/actions/view.go
  web_src/js/components/RepoActionView.vue
Labels: kind/ui, lgtm/done, reviewed/wait-merge

#23965 Drop "unrolled/render" package
  assets/go-licenses.json
  build/generate-go-licenses.go
  go.mod
  go.sum
  modules/context/context.go
  modules/templates/htmlrenderer.go
  modules/test/context_tests.go
  services/auth/sspi_windows.go
  tests/integration/markup_external_test.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#23971 Fix redirect bug when creating issue from a project
  routers/web/repo/issue.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23991 Add eslint-plugin-custom-elements
  .eslintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, kind/lint, dependencies, javascript, reviewed/wait-merge

#23900 Show visibility status of email in own profile
  options/locale/locale_en-US.ini
  templates/user/profile.tmpl
  tests/integration/setting_test.go
Labels: lgtm/done, kind/ux, reviewed/wait-merge

#23946 Update github.com/google/go-github to v51
  assets/go-licenses.json
  contrib/backport/backport.go
  go.mod
  go.sum
  services/migrations/error.go
  services/migrations/github.go
Labels: lgtm/done, dependencies, reviewed/wait-merge

#23956 Adjust sticky pr header to cover background
  web_src/css/repository.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, backport/v1.19

#23982 Group template helper functions, remove `Printf`, improve template error messages
  modules/context/context.go
  modules/templates/dynamic.go
  modules/templates/helper.go
  modules/templates/htmlrenderer.go
  modules/templates/mailer.go
  modules/test/context_tests.go
  routers/web/auth/oauth.go
  routers/web/swagger_json.go
  templates/repo/diff/comments.tmpl
  templates/repo/diff/stats.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/context_menu.tmpl
  templates/repo/issue/view_content/reference_issue_dialog.tmpl
  templates/repo/migrate/migrate.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#24003 Make bindata static build parse builtin templates correctly
  modules/templates/htmlrenderer.go
Labels: kind/bug, lgtm/need 1, skip-changelog

#23981 fix: do not escape space between PyPI repository url and package name…
  templates/package/content/pypi.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23984 Re-add initial wiki page text when editing the page
  templates/repo/wiki/new.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge

#23039 docs: HTTPS configuration for zh-cn
  docs/content/doc/administration/https-support.zh-cn.md
Labels: kind/docs, reviewed/wait-merge

#24014 Fix lint problem in `https-support.zh-cn.md`
  docs/content/doc/administration/https-support.zh-cn.md
Labels: lgtm/done, kind/lint, skip-changelog

#24016 Reference the `zh-CN` version of `reverse-proxies` in `https-support`
  docs/content/doc/administration/https-support.zh-cn.md
Labels: kind/docs, lgtm/done, skip-changelog

#23907 Show protected branch rule names again
  web_src/css/base.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, backport/v1.19

#24009 Show errors for KaTeX and mermaid on the preview tab
  web_src/css/markup/content.css
Labels: kind/bug, kind/ui, lgtm/done, theme/markdown, reviewed/wait-merge, backport/v1.19

#23639 Expand/Collapse all changed files
  options/locale/locale_en-US.ini
  templates/repo/diff/options_dropdown.tmpl
  web_src/css/review.css
  web_src/js/features/pull-view-file.js
  web_src/js/features/repo-diff.js
  web_src/js/index.js
Labels: kind/feature, kind/ui, lgtm/done, reviewed/wait-merge

#22981 Improve GetBoards and getDefaultBoard
  models/project/board.go
  routers/web/org/projects.go
  routers/web/repo/projects.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#23985 Replace tribute with text-expander-element for textarea
  package-lock.json
  package.json
  templates/shared/combomarkdowneditor.tmpl
  web_src/css/editor-markdown.css
  web_src/css/form.css
  web_src/js/features/comp/ComboMarkdownEditor.js
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge

#24015 Fix https setup doc zh-cn
  docs/content/doc/administration/https-support.zh-cn.md
Labels: kind/docs, lgtm/done

#24021 Introduce lint-md and compliance-docs pipeline
  .drone.yml
  Makefile
Labels: lgtm/done, kind/build, reviewed/wait-merge

#24024 Fix markdownlint
  docs/content/doc/administration/https-support.zh-cn.md
Labels: kind/docs, lgtm/done, kind/lint, skip-changelog

#24013 Fix protected branch for API
  routers/api/v1/repo/branch.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23729 Add actions support to package auth verification
  routers/api/packages/api.go
  routers/api/packages/container/auth.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23749 Make label templates have consistent behavior and priority
  modules/label/parser.go
  modules/repository/create.go
  modules/repository/init.go
  modules/repository/init_test.go
  routers/web/org/setting.go
  routers/web/repo/issue_label.go
  routers/web/repo/issue_label_test.go
  routers/web/repo/repo.go
  services/repository/repository.go
  templates/repo/create.tmpl
  templates/repo/issue/labels/label_load_template.tmpl
Labels: kind/bug, lgtm/done, kind/refactor, reviewed/wait-merge

#24023 Use actions job link as commit status URL instead of run link
  services/actions/commit_status.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, backport/v1.19

#24030 Remove "inverted" class on creating new label and cancel buttons
  templates/repo/issue/labels/label_new.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#22969 Add --quiet option to gitea dump
  cmd/dump.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, kind/cli

#24032 Use actions job link as commit status URL instead of run link (#24023)
  services/actions/commit_status.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd

#24025 Allow adding SSH keys even if SSH server is disabled
  models/asymkey/ssh_key_parse.go
  options/locale/locale_en-US.ini
  templates/user/settings/keys_ssh.tmpl
Labels: kind/enhancement, lgtm/done

#23992 Reserve ".png" suffix for user/org names
  models/user/user.go
  tests/integration/user_avatar_test.go
Labels: kind/bug, lgtm/done, kind/breaking

#23695 Avoid recursing into sub-sub-sub-docs folders when looking for READMEs.
  routers/web/repo/view.go
  tests/integration/repo_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19, reviewed/prioritize-merge

#23798 Prefer native parser for SSH public key parsing
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  models/asymkey/ssh_key_parse.go
  models/asymkey/ssh_key_test.go
  modules/setting/ssh.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge

#24046 Fine tune markdown editor toolbar
  templates/shared/combomarkdowneditor.tmpl
  web_src/css/base.css
  web_src/css/editor-markdown.css
  web_src/js/features/comp/ComboMarkdownEditor.js
Labels: kind/ui, lgtm/done, theme/markdown

#24047 Fix date display bug
  templates/projects/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/projects/list.tmpl
  templates/user/dashboard/milestones.tmpl
Labels: kind/bug, lgtm/done

#23993 Update documentation to explain which projects allow Gitea to host static pages
  docs/content/doc/help/faq.en-us.md
  docs/content/doc/installation/comparison.en-us.md
  docs/content/doc/installation/comparison.zh-cn.md
  docs/content/doc/installation/comparison.zh-tw.md
Labels: kind/docs, lgtm/done, backport/v1.19

#24045 Fix branch protection priority
  models/git/protected_banch_list_test.go
  models/git/protected_branch_list.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#24043 Add cardtype to org/user level project on creation, edit and view
  routers/web/org/projects.go
  templates/projects/new.tmpl
  templates/projects/view.tmpl
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, backport/v1.19

#24050 Fix accidental overwriting of LDAP team memberships
  services/auth/source/source_group_sync.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#23996 Use reactive store to share data between components
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/DiffFileTreeItem.vue
  web_src/js/modules/stores.js
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#24060 Refactor commit status for Actions jobs (#23786)
  routers/api/actions/runner/runner.go
  routers/api/actions/runner/utils.go
  routers/web/repo/actions/view.go
  services/actions/clear_tasks.go
  services/actions/commit_status.go
  services/actions/job_emitter.go
  services/actions/notifier_helper.go
Labels: kind/bug, kind/enhancement, lgtm/done, reviewed/wait-merge, theme/cicd

#24063 update BSDmakefile to latest version from upstream
  BSDmakefile
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge

#24051 Localize milestone related time strings
  models/issues/milestone.go
  options/locale/locale_en-US.ini
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/user/dashboard/milestones.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, kind/translation, reviewed/wait-merge

#24041 Expand selected file when clicking file tree
  web_src/js/components/DiffFileTree.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge

#23891 Make Release Download URLs predictable
  models/repo/attachment.go
  models/repo/release.go
  routers/web/repo/attachment.go
  routers/web/repo/release.go
  routers/web/repo/repo.go
Labels: kind/enhancement, lgtm/done, changelog, reviewed/wait-merge

#24022 Use a general approach to access custom/static/builtin assets
  cmd/embedded.go
  cmd/embedded_stub.go
  modules/assetfs/layered.go
  modules/assetfs/layered_test.go
  modules/auth/pam/pam_stub.go
  modules/context/context.go
  modules/doctor/paths.go
  modules/options/base.go
  modules/options/dynamic.go
  modules/options/options.go
  modules/options/static.go
  modules/public/public.go
  modules/public/serve_dynamic.go
  modules/public/serve_static.go
  modules/repository/init.go
  modules/setting/asset_dynamic.go
  modules/setting/asset_static.go
  modules/svg/discover_bindata.go
  modules/svg/discover_nobindata.go
  modules/svg/svg.go
  modules/templates/base.go
  modules/templates/dynamic.go
  modules/templates/htmlrenderer.go
  modules/templates/mailer.go
  modules/templates/static.go
  modules/translation/translation.go
  modules/util/path.go
  modules/util/path_test.go
  modules/util/timer.go
  modules/util/timer_test.go
  modules/watcher/watcher.go
  routers/init.go
  routers/install/routes.go
  routers/install/setting.go
  routers/web/devtest/devtest.go
  routers/web/web.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#21306 Add tooltips to `Hide comment type` settings where necessary
  options/locale/locale_en-US.ini
  templates/user/settings/appearance.tmpl
Labels: lgtm/done, kind/ux, reviewed/wait-merge

#24066 Add cardtype to org/user level project on creation, edit and view (#24043)
  routers/web/org/projects.go
  templates/projects/new.tmpl
  templates/projects/view.tmpl
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge

#24069 Update the value of the `diffEnd` when click `Show More` btn in the DiffFileTree
  web_src/js/components/DiffFileTree.vue
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#24081 Fix custom mailer template on Windows
  modules/templates/mailer.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#24048 Fix mismatch between hook events and github event types
  modules/actions/workflows.go
  modules/actions/workflows_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#24070 Fix difficult translation for other languages
  options/locale/locale_en-US.ini
  templates/repo/issue/milestones.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge

#24083 Backport locales to 1.19
  options/locale/locale_ja-JP.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_zh-TW.ini
Labels: lgtm/done, kind/translation, reviewed/wait-merge

#24079 Changelog v1.19.1
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog, frontport/main

#24091 Fix mismatch between hook events and github event types (#24048)
  modules/actions/workflows.go
  modules/actions/workflows_test.go
Labels: kind/bug, lgtm/done

#24092 Changelog v1.19.1 (#24079)
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog

#24085 Correct the access log format
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  docs/content/doc/administration/logging-documentation.en-us.md
  modules/context/access_log.go
  modules/setting/log.go
Labels: kind/enhancement, lgtm/done, kind/breaking, reviewed/wait-merge

#24034 Add monospace toggle button to textarea
  options/locale/locale_en-US.ini
  templates/shared/combomarkdowneditor.tmpl
  web_src/css/editor-markdown.css
  web_src/css/helpers.css
  web_src/js/features/comp/ComboMarkdownEditor.js
Labels: kind/feature, kind/ui, lgtm/done, reviewed/wait-merge

#24012 Fix admin team access mode value in team_unit table
  models/migrations/migrations.go
  models/migrations/v1_20/v252.go
  routers/api/v1/org/team.go
  routers/web/org/teams.go
  templates/org/team/new.tmpl
  tests/integration/api_team_test.go
Labels: kind/bug, lgtm/done, backport/v1.19

#24107 Refactor cookie
  modules/context/auth.go
  modules/context/context.go
  modules/context/csrf.go
  modules/setting/session.go
  modules/web/middleware/cookie.go
  modules/web/middleware/locale.go
  routers/install/install.go
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
  routers/web/auth/openid.go
  routers/web/auth/password.go
  routers/web/home.go
  services/auth/auth.go
  services/auth/sspi_windows.go
  tests/integration/editor_test.go
  tests/integration/git_test.go
  tests/integration/integration_test.go
  tests/integration/mirror_push_test.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge

#24114 Update redis library to support redis v7
  assets/go-licenses.json
  go.mod
  go.sum
  modules/cache/cache_redis.go
  modules/nosql/manager.go
  modules/nosql/manager_redis.go
  modules/queue/queue_redis.go
  modules/queue/unique_queue_redis.go
  modules/session/redis.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#24095 Improve git log for debugging
  modules/git/command.go
  modules/git/command_test.go
  modules/git/repo.go
Labels: kind/enhancement, lgtm/done, kind/testing, reviewed/wait-merge, go

#24118 Fix incorrect server error content in RunnersList
  routers/web/shared/actions/runners.go
Labels: kind/bug, lgtm/done, backport/v1.19

#24110 Show friendly 500 error page to users and developers
  modules/context/context.go
  modules/templates/htmlrenderer.go
  modules/templates/htmlrenderer_test.go
  templates/base/head_script.tmpl
  templates/devtest/tmplerr-sub.tmpl
  templates/devtest/tmplerr.tmpl
  templates/status/404.tmpl
  templates/status/500.tmpl
  web_src/css/helpers.css
  web_src/js/bootstrap.js
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#24126 Highlight selected file in the PR file tree (#23947)
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/DiffFileTreeItem.vue
Labels: kind/enhancement, kind/ui, lgtm/done

#24109 Fix meilisearch not working when searching across multiple repositories
  modules/indexer/issues/meilisearch.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge

#24068 Make more functions use ctx instead of db.DefaultContext
  models/issues/assignees.go
  models/issues/assignees_test.go
  models/issues/issue.go
  models/issues/issue_xref_test.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/issue.go
  services/issue/assignee.go
  services/issue/assignee_test.go
  services/issue/comments.go
  services/issue/issue.go
  services/issue/issue_test.go
  services/pull/comment.go
  services/pull/pull.go
  services/pull/review.go
  tests/integration/api_pull_test.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, go

#24093 Add option to search for users is active join a team
  routers/web/user/search.go
  web_src/js/features/comp/SearchUserBox.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge

#24123 Sort repo topic labels by name
  models/repo/topic.go
  routers/web/repo/blame.go
  web_src/js/features/repo-home.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, backport/v1.19

#24106 Remove untranslatable `on_date` key
  modules/timeutil/since.go
  options/locale/locale_en-US.ini
  routers/web/devtest/devtest.go
  templates/devtest/gitea-ui.tmpl
  templates/package/view.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge

#24117 Add migration to fix external unit access mode of owner/admin team
  models/migrations/migrations.go
  models/migrations/v1_20/v253.go
Labels: kind/bug, lgtm/done

#24133 Fix 2-dot direct compare to use the right base commit
  routers/web/repo/compare.go
Labels: kind/bug, lgtm/done, backport/v1.19

#24151 Set EasyMDE heading font-size to the same size as the resulting markdown
  web_src/css/editor-markdown.css
Labels: lgtm/done, backport/done, kind/ux, javascript, backport/v1.19

#24144 Use 1.18's aria role for dropdown menus
  web_src/js/modules/aria/dropdown.js
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/accessibility

#24152 Set EasyMDE heading font-size to the same size as the resulting markdown (#24151)
  web_src/css/markup/content.css
Labels: lgtm/done, kind/ux, javascript, reviewed/wait-merge

#24153 Sort repo topic labels by name (#24123)
  models/repo/topic.go
  routers/web/repo/blame.go
  web_src/js/features/repo-home.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge

#24134 Refactor locale number
  modules/charset/escape_test.go
  modules/csv/csv_test.go
  modules/templates/helper.go
  modules/test/context_tests.go
  modules/translation/mock.go
  modules/translation/translation.go
  modules/translation/translation_test.go
  templates/devtest/gitea-ui.tmpl
  templates/projects/list.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/openclose.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/release/list.tmpl
  templates/repo/release/new.tmpl
  templates/repo/sub_menu.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/dashboard/milestones.tmpl
  web_src/js/webcomponents/GiteaLocaleNumber.js
  web_src/js/webcomponents/webcomponents.js
Labels: lgtm/done, kind/translation, kind/refactor, reviewed/wait-merge

#24156 Update redis library to support redis v7 (#24114)
  assets/go-licenses.json
  go.mod
  go.sum
  modules/cache/cache_redis.go
  modules/nosql/manager.go
  modules/nosql/manager_redis.go
  modules/queue/queue_redis.go
  modules/queue/unique_queue_redis.go
  modules/session/redis.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, backport/v1.19

#24049 Fix math and mermaid rendering bugs
  web_src/css/base.css
  web_src/css/helpers.css
  web_src/css/markup/content.css
  web_src/js/markup/asciicast.js
  web_src/js/markup/common.js
  web_src/js/markup/content.js
  web_src/js/markup/math.js
  web_src/js/markup/mermaid.js
Labels: kind/bug, lgtm/done, theme/markdown, reviewed/wait-merge

#24155 Use 1.18's aria role for dropdown menus (#24144)
  web_src/js/features/aria.js
Labels: kind/bug, lgtm/done, theme/accessibility

#24105 Support converting varchar to nvarchar for mssql database
  cmd/convert.go
  models/db/convert.go
Labels: lgtm/done, kind/build, reviewed/wait-merge, backport/v1.19

#24169 Make HAS_GO a simply expanded variable
  Makefile
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge
