Repository go-gitea/gitea, pull requests merged in 2023-12, with the labels that each got.

#28313 Fix wrong link in `protect_branch_name_pattern_desc`
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS, backport/v1.21

#28320 Keep profile tab when clicking on Language
  templates/explore/repo_list.tmpl
Labels: lgtm/done, size/XS, modifies/templates

#28325 Fix missing issue search index update when changing status
  services/indexer/notify.go
Labels: type/bug, lgtm/done, size/S, backport/v1.21

#28351 Refactor template empty checks
  templates/repo/actions/runs_list.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/header.tmpl
  templates/repo/issue/filters.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/shared/issuelist.tmpl
  templates/user/dashboard/feeds.tmpl
  templates/user/notification/notification_div.tmpl
  templates/user/notification/notification_subscriptions.tmpl
  templates/user/settings/keys_gpg.tmpl
Labels: type/bug, lgtm/done, type/refactoring, size/M, modifies/templates

#28352 Fix RPM/Debian signature key creation
  services/packages/debian/repository.go
  services/packages/rpm/repository.go
Labels: type/bug, lgtm/done, topic/packages, reviewed/wait-merge, size/XS, backport/v1.21

#28356 Convert git commit summary to valid UTF8.
  modules/git/commit.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28339 Remove deprecated query condition in ListReleases
  routers/api/v1/repo/release.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, pr/breaking, type/miscellaneous, reviewed/wait-merge, size/S

#28309 Add `HEAD` support for rpm repo files
  routers/api/packages/api.go
  routers/api/packages/rpm/rpm.go
  tests/integration/api_packages_rpm_test.go
Labels: type/enhancement, lgtm/done, modifies/api, topic/packages, reviewed/wait-merge, size/M, backport/v1.21

#28334 Fix migration panic due to an empty review comment diff
  services/migrations/gitea_uploader.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28336 handle repository.size column being NULL in migration v263
  models/migrations/v1_21/v263.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/migrations

#28359 Fix the runs will not be displayed bug when the main branch have no workflows but other branches have
  routers/web/repo/actions/actions.go
  templates/repo/actions/list.tmpl
Labels: type/bug, lgtm/done, skip-changelog, size/XS, backport/v1.21

#28314 Fix object does not exist error when checking citation file
  routers/web/repo/view.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28373 Fix incorrect default value of `[attachment].MAX_SIZE`
  modules/setting/attachment.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28374 Use `filepath` instead of `path` to create SQLite3 database file
  modules/setting/database.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28368 Improve RSS feed icons
  templates/org/home.tmpl
  templates/repo/header.tmpl
  templates/repo/release_tag_header.tmpl
  templates/repo/view_file.tmpl
Labels: lgtm/done, topic/ui-interaction, reviewed/wait-merge, size/S, modifies/templates

#28379 Fix margin in server signed signature verification view
  templates/repo/commit_page.tmpl
Labels: type/bug, topic/ui, lgtm/done, size/XS, backport/v1.21, modifies/templates

#28380 Issue fixes for RSS feed improvements
  templates/org/home.tmpl
  templates/repo/header.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28348 Make gogit Repository.GetBranchNames consistent
  modules/git/repo_branch_gogit.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21

#28232 Fix Docker meta action for releases
  .github/workflows/release-tag-rc.yml
  .github/workflows/release-tag-version.yml
Labels: lgtm/need 2, topic/build, size/XS, modifies/internal

#28393 Improve text in Security settings
  options/locale/locale_en-US.ini
  templates/user/settings/security/twofa.tmpl
  templates/user/settings/security/webauthn.tmpl
Labels: lgtm/done, modifies/translation, size/S

#28401 Remove stale since giteabot has similiar feature
  .github/stale.yml
Labels: lgtm/done, size/M, modifies/internal

#28361 Also sync DB branches on push if necessary
  models/git/branch.go
  models/git/branch_list.go
  models/git/branch_test.go
  routers/api/v1/repo/branch.go
  routers/web/repo/branch.go
  services/repository/branch.go
  services/repository/push.go
  tests/integration/api_repo_get_contents_list_test.go
  tests/integration/api_repo_get_contents_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, backport/v1.21

#28406 Fix missing check
  routers/web/repo/issue_content_history.go
  routers/web/repo/issue_pin.go
Labels: type/bug, lgtm/done, size/S, backport/v1.20, backport/v1.21

#28409 Recover from panic in cron task
  services/cron/tasks.go
Labels: lgtm/done, size/S

#28403 Also sync DB branches on push if necessary (#28361)
  models/db/context.go
  models/db/error.go
  models/git/branch.go
  models/git/branch_list.go
  models/git/branch_test.go
  models/repo/repo.go
  routers/api/v1/repo/branch.go
  routers/web/repo/branch.go
  services/repository/branch.go
  services/repository/push.go
  tests/integration/api_repo_get_contents_list_test.go
  tests/integration/api_repo_get_contents_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L

#28412 Fix commit status in repo list
  models/git/commit_status.go
  routers/web/repo/repo.go
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS

#28415 Fix docs links in v1.19
  docs/content/administration/external-renderers.en-us.md
  docs/content/administration/https-support.en-us.md
  docs/content/usage/labels.en-us.md
Labels: lgtm/need 1, skip-changelog, size/S

#28194 Second part of refactor `db.Find`
  models/git/branch_list.go
  models/git/branch_test.go
  models/issues/milestone.go
  models/issues/milestone_list.go
  models/issues/milestone_test.go
  modules/context/repo.go
  modules/repository/branch.go
  routers/api/v1/repo/branch.go
  routers/api/v1/repo/milestone.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/user/home.go
  services/migrations/gitea_uploader_test.go
  services/repository/branch.go
Labels: lgtm/done, type/refactoring, modifies/api, size/L

#28422 Improve doctor cli behavior
  cmd/doctor.go
  cmd/doctor_test.go
  modules/doctor/doctor.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, modifies/cli, backport/v1.21

#28427 Let `curl` write the content to file
  templates/package/content/generic.tmpl
Labels: topic/ui, lgtm/done, topic/packages, size/XS, modifies/templates

#28390 Deprecate query string auth tokens
  custom/conf/app.example.ini
  modules/setting/security.go
  routers/api/v1/api.go
  services/auth/oauth2.go
  templates/swagger/v1_json.tmpl
Labels: topic/security, lgtm/done, modifies/api, type/changelog, reviewed/wait-merge, size/M, backport/v1.21

#28423 Do some missing checks
  routers/api/v1/api.go
  routers/web/web.go
  tests/integration/project_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, backport/v1.20, backport/v1.21

#28432 Do some missing checks (#28423)
  routers/api/v1/api.go
  routers/web/web.go
  tests/integration/project_test.go
Labels: type/bug, lgtm/done, modifies/api, size/M

#28387 1.21.2 changelog
  CHANGELOG.md
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/docs

#28431 Fix docs links in v1.19
  docs/content/usage/labels.en-us.md
Labels: lgtm/done, skip-changelog, size/XS

#28413 Fix missing check (#28406)
  routers/web/repo/issue_content_history.go
  routers/web/repo/issue_pin.go
Labels: type/bug, lgtm/need 1, size/S

#28433 Don't show unnecessary citation JS error on UI
  web_src/js/features/citation.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21, modifies/frontend

#28428 Fix possible nil pointer access
  services/packages/alpine/repository.go
  services/packages/container/cleanup.go
  services/packages/debian/repository.go
  services/packages/rpm/repository.go
Labels: type/bug, lgtm/done, topic/packages, reviewed/wait-merge, size/M, backport/v1.20, backport/v1.21

#28175 docs: Update group membership fields to match application.
  docs/content/usage/authentication.en-us.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/S, modifies/docs

#28457 Add endpoint for not implemented Docker auth
  routers/api/packages/api.go
  routers/api/packages/container/container.go
Labels: type/enhancement, lgtm/done, modifies/api, topic/packages, size/S, backport/v1.21

#28392 Retry SSH key verification with additional CRLF if it failed
  models/asymkey/ssh_key_verify.go
Labels: lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28466 Only use SHA256 feature when git >= 2.42
  modules/git/git.go
  modules/git/object_format.go
  modules/git/object_id.go
  modules/git/repo.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#28465 Fix documents for "custom/public/assets/"
  docs/content/administration/adding-legal-pages.en-us.md
  docs/content/administration/adding-legal-pages.zh-cn.md
  docs/content/administration/customizing-gitea.zh-cn.md
  docs/content/administration/external-renderers.zh-cn.md
  docs/content/help/faq.zh-cn.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21, modifies/docs

#28080 Add combined index for issue_user.uid and issue_id
  models/issues/issue_user.go
  models/migrations/fixtures/Test_AddCombinedIndexToIssueUser/issue_user.yml
  models/migrations/migrations.go
  models/migrations/v1_22/main_test.go
  models/migrations/v1_22/v283.go
  models/migrations/v1_22/v283_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/migrations

#28472 Fix Chinese translation of config cheat sheet[API]
  docs/content/administration/config-cheat-sheet.zh-cn.md
Labels: lgtm/done, size/XS, backport/v1.21, modifies/docs

#28441 Polyfill SubmitEvent for PaleMoon
  web_src/js/features/common-global.js
  web_src/js/features/common-issue-list.js
  web_src/js/features/repo-diff.js
  web_src/js/modules/tippy.js
  web_src/js/utils/dom.js
  web_src/js/webcomponents/webcomponents.js
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21, modifies/frontend

#28421 Refactor SSH clone URL generation code
  models/repo/repo.go
  models/repo/repo_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, backport/v1.21

#28355 Remove unnecessary forgot password link in delete user section
  templates/user/settings/account.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28482 Improve CLI code and descriptions
  cmd/actions.go
  cmd/admin.go
  cmd/doctor.go
  cmd/generate.go
  cmd/hook.go
  cmd/keys.go
  cmd/main.go
  cmd/serv.go
  docs/content/help/faq.en-us.md
  docs/content/help/faq.zh-cn.md
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/cli, modifies/docs

#28485 Update docs for DISABLE_QUERY_AUTH_TOKEN
  docs/content/administration/config-cheat-sheet.en-us.md
Labels: lgtm/need 1, size/XS, backport/v1.21, modifies/docs

#28487 Initalize stroage for orphaned repository doctor
  modules/doctor/repository.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28492 Remove duplicate option in admin screen and now-unused translation keys
  options/locale/locale_en-US.ini
  templates/admin/config.tmpl
Labels: lgtm/done, modifies/translation, size/XS

#28469 Adjust object format interface
  models/git/branch_test.go
  models/repo/repo.go
  modules/git/blame_test.go
  modules/git/commit.go
  modules/git/object_format.go
  modules/git/object_id.go
  modules/git/object_id_gogit.go
  modules/git/object_id_test.go
  modules/git/parse_gogit_test.go
  modules/git/parse_nogogit_test.go
  modules/git/ref.go
  modules/git/repo.go
  modules/git/repo_commit_gogit.go
  modules/git/repo_compare.go
  modules/git/repo_compare_test.go
  modules/git/repo_index.go
  modules/git/repo_tag_test.go
  modules/git/tag.go
  modules/git/tag_test.go
  modules/repository/commits_test.go
  modules/repository/generate.go
  modules/repository/init.go
  routers/api/v1/repo/repo.go
  routers/api/v1/utils/git.go
  routers/private/hook_pre_receive.go
  routers/private/hook_verification.go
  routers/private/hook_verification_test.go
  routers/web/repo/branch.go
  routers/web/repo/compare.go
  routers/web/repo/githttp.go
  routers/web/repo/repo.go
  routers/web/repo/setting/webhook.go
  services/agit/agit.go
  services/convert/git_commit_test.go
  services/forms/repo_form.go
  services/gitdiff/gitdiff.go
  services/migrations/common.go
  services/migrations/gitea_uploader_test.go
  services/mirror/mirror_pull.go
  services/packages/cargo/index.go
  services/pull/pull.go
  services/pull/temp_repo.go
  services/release/release.go
  services/repository/branch.go
  services/repository/check.go
  services/repository/create.go
  services/repository/files/cherry_pick.go
  services/repository/files/temp_repo.go
  services/repository/files/update.go
  services/repository/files/upload.go
  services/repository/push.go
  services/wiki/wiki.go
  services/wiki/wiki_test.go
  tests/integration/git_helper_for_declarative_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/L

#28454 Add option to disable ambiguous unicode characters detection
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  modules/charset/escape.go
  modules/charset/escape_stream.go
  modules/charset/escape_test.go
  modules/git/command.go
  modules/highlight/highlight.go
  modules/highlight/highlight_test.go
  modules/indexer/code/search.go
  modules/markup/orgmode/orgmode.go
  modules/setting/ui.go
  modules/util/string.go
  routers/web/repo/blame.go
  routers/web/repo/view.go
  services/gitdiff/gitdiff.go
  services/gitdiff/highlightdiff.go
  templates/repo/view_file.tmpl
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, backport/v1.21, modifies/docs

#28499 Add option to disable ambiguous unicode characters detection (#28454)
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  modules/charset/escape.go
  modules/charset/escape_stream.go
  modules/charset/escape_test.go
  modules/git/command.go
  modules/highlight/highlight.go
  modules/highlight/highlight_test.go
  modules/indexer/code/search.go
  modules/markup/orgmode/orgmode.go
  modules/setting/ui.go
  modules/util/string.go
  routers/web/repo/blame.go
  routers/web/repo/view.go
  services/gitdiff/gitdiff.go
  services/gitdiff/highlightdiff.go
  templates/repo/view_file.tmpl
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, modifies/docs

#28509 Improve the prompt for "ssh-keygen sign"
  templates/user/settings/keys_ssh.tmpl
Labels: lgtm/done, size/XS, backport/v1.21, modifies/templates

#28507 Add orphaned topic consistency check
  models/repo/topic.go
  modules/doctor/dbconsistency.go
Labels: type/enhancement, lgtm/done, performance/memory, reviewed/wait-merge, size/S

#28286 Only check online runner when detecting matching runners in workflows
  models/actions/runner.go
  options/locale/locale_en-US.ini
  routers/web/repo/actions/actions.go
Labels: type/bug, lgtm/done, modifies/translation, reviewed/wait-merge, size/S, backport/v1.21

#28514 Bump google/go-github to v57
  assets/go-licenses.json
  contrib/backport/backport.go
  go.mod
  go.sum
  services/migrations/error.go
  services/migrations/github.go
Labels: lgtm/done, type/dependency-update, size/S

#28519 Update golang.org/x/crypto
  go.mod
  go.sum
Labels: topic/security, lgtm/done, size/S

#28518 Update go dependencies
  assets/go-licenses.json
  go.mod
  go.sum
  modules/git/repo_commitgraph_gogit.go
  services/cron/tasks_test.go
Labels: topic/security, lgtm/done, type/dependency-update, size/XL

#28491 chore(api): support ignore password if login source type is LDAP for creating user API
  modules/structs/admin_user.go
  routers/api/v1/admin/user.go
  templates/swagger/v1_json.tmpl
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, backport/v1.21

#28520 Fix duplicate ID when deleting repo
  templates/repo/migrate/migrating.tmpl
  templates/repo/settings/options.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, topic/accessibility, modifies/templates

#28496 Improve ObjectFormat interface
  cmd/hook.go
  models/git/branch_test.go
  models/git/commit_status.go
  modules/git/commit_info_nogogit.go
  modules/git/commit_reader.go
  modules/git/commit_test.go
  modules/git/last_commit_cache.go
  modules/git/object_format.go
  modules/git/object_id.go
  modules/git/parse_gogit.go
  modules/git/parse_gogit_test.go
  modules/git/parse_nogogit.go
  modules/git/parse_nogogit_test.go
  modules/git/pipeline/lfs_nogogit.go
  modules/git/repo.go
  modules/git/repo_blob.go
  modules/git/repo_blob_test.go
  modules/git/repo_commit.go
  modules/git/repo_commit_gogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_index.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/repo_object.go
  modules/git/repo_ref_nogogit.go
  modules/git/repo_tag.go
  modules/git/repo_tag_gogit.go
  modules/git/repo_tag_nogogit.go
  modules/git/repo_tag_test.go
  modules/git/repo_tree.go
  modules/git/repo_tree_gogit.go
  modules/git/repo_tree_nogogit.go
  modules/git/tag.go
  modules/repository/commits_test.go
  modules/repository/push.go
  routers/api/v1/utils/git.go
  routers/private/hook_verification.go
  routers/web/repo/setting/lfs.go
  services/actions/commit_status.go
  services/pull/patch.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/L, modifies/cli

#28527 Always enable caches
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  modules/cache/cache.go
  modules/cache/cache_test.go
  modules/git/last_commit_cache.go
  modules/setting/cache.go
  routers/api/v1/misc/nodeinfo.go
  routers/init.go
  routers/web/auth/auth.go
  routers/web/auth/password.go
  routers/web/healthcheck/check.go
  routers/web/user/setting/account.go
  services/repository/cache.go
Labels: lgtm/done, type/refactoring, modifies/api, pr/breaking, reviewed/wait-merge, size/L, modifies/docs

#28550 Add missing head of lfs client batch
  modules/lfs/http_client.go
Labels: lgtm/done, type/miscellaneous, size/XS

#28556 Fix the issue ref rendering for wiki
  modules/markup/html.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28560 Update actions document about comparsion as Github Actions
  docs/content/usage/actions/comparison.en-us.md
  docs/content/usage/actions/comparison.zh-cn.md
Labels: type/docs, lgtm/done, size/S, backport/v1.21, modifies/docs

#28565 feat: bump `dessant/lock-threads` and `actions/setup-go` to use nodejs20 runtime
  .github/workflows/cron-licenses.yml
  .github/workflows/cron-lock.yml
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-db-tests.yml
  .github/workflows/pull-e2e-tests.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release-tag-rc.yml
  .github/workflows/release-tag-version.yml
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  docs/content/usage/actions/comparison.en-us.md
  docs/content/usage/actions/comparison.zh-cn.md
  docs/content/usage/actions/design.en-us.md
  docs/content/usage/actions/design.zh-cn.md
  docs/content/usage/actions/faq.en-us.md
  docs/content/usage/actions/faq.zh-cn.md
  docs/content/usage/actions/overview.en-us.md
  docs/content/usage/actions/overview.zh-cn.md
  docs/content/usage/actions/quickstart.en-us.md
  docs/content/usage/actions/quickstart.zh-cn.md
Labels: lgtm/done, size/M, modifies/docs, modifies/internal

#28555 Fix merging artifact chunks error when minio storage basepath is set
  routers/api/actions/artifacts_chunks.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, topic/gitea-actions, size/S, backport/v1.21

#28548 Make offline mode as default to no connect external avatar service by default
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  modules/repository/commits_test.go
  modules/setting/server.go
Labels: lgtm/done, pr/breaking, reviewed/wait-merge, size/S, modifies/docs

#28569 Add changelog for 1.21.3
  CHANGELOG.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/S, modifies/docs

#28571 Update mermaid for 1.21
  package-lock.json
  package.json
Labels: type/bug, lgtm/done, size/XS

#28572 Use information from previous blame parts
  routers/web/repo/blame.go
Labels: type/bug, lgtm/done, size/S, backport/v1.21

#28547 improve possible performance bottleneck
  models/issues/comment.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/S, backport/v1.21

#28576 Fix 500 error of searching commits
  templates/code/searchresults.tmpl
  templates/repo/search.tmpl
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.21, modifies/templates

#28581 Add more ways to try
  README.md
  README_ZH.md
Labels: type/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/docs

#28583 Fix 405 method not allowed CORS / OIDC
  routers/web/web.go
Labels: lgtm/done, size/XS, backport/v1.21

#28582 Fix `status_check_contexts` matching bug
  routers/web/repo/pull.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28588 Fix wrong due date rendering in issue list page
  templates/shared/issuelist.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/templates

#28592 Disable query token param in integration tests
  tests/integration/api_issue_test.go
  tests/integration/api_releases_test.go
  tests/integration/api_repo_archive_test.go
  tests/integration/api_repo_branch_test.go
  tests/mssql.ini.tmpl
  tests/mysql.ini.tmpl
  tests/pgsql.ini.tmpl
  tests/sqlite.ini.tmpl
Labels: lgtm/done, size/M

#28596 Include heap pprof in diagnosis report to help debugging memory leaks
  routers/web/admin/diagnosis.go
Labels: type/enhancement, lgtm/done, size/XS, backport/v1.21

#28594 bump to use alpine3.19
  Dockerfile
  Dockerfile.rootless
Labels: lgtm/done, topic/distribution, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal

#28597 Fix the scroll behavior for emoji/mention list
  package-lock.json
Labels: type/bug, status/blocked, lgtm/done, size/XS, backport/v1.21

#28603 Fix flex container width
  web_src/css/modules/flexcontainer.css
Labels: type/bug, lgtm/done, size/XS, backport/v1.21

#28593 Revert "improve possible performance bottleneck (#28547)"
  models/issues/comment.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28115 Added instance-level variables
  models/actions/variable.go
  routers/api/actions/runner/utils.go
  routers/web/repo/setting/variables.go
  routers/web/web.go
  templates/admin/actions.tmpl
  templates/admin/navbar.tmpl
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, topic/gitea-actions, size/M

#28587 Refactor CORS handler
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  modules/public/public.go
  modules/setting/cors.go
  modules/web/route.go
  routers/api/v1/api.go
  routers/web/githttp.go
  routers/web/misc/misc.go
  routers/web/web.go
  tests/integration/cors_test.go
Labels: type/bug, lgtm/done, modifies/api, size/L, backport/v1.21, modifies/docs

#28611 Refactor CORS handler (#28587)
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  modules/public/public.go
  modules/setting/cors.go
  modules/web/route.go
  routers/api/v1/api.go
  routers/web/githttp.go
  routers/web/misc/misc.go
  routers/web/web.go
  tests/integration/cors_test.go
Labels: type/bug, lgtm/done, modifies/api, size/L, modifies/docs

#28610 Refactor deletion
  models/actions/artifact.go
  models/actions/runner.go
  models/asymkey/ssh_key.go
  models/db/context.go
  models/db/error.go
  models/issues/issue_test.go
  models/issues/label.go
  models/issues/milestone.go
  models/issues/review.go
  models/org.go
  models/repo.go
  models/repo/archiver.go
  models/repo/pushmirror.go
  models/repo/pushmirror_test.go
  models/repo/release.go
  models/repo/upload.go
  models/repo/watch.go
  models/system/notice.go
  models/system/notice_test.go
  models/webhook/webhook.go
  routers/api/actions/artifacts.go
  routers/api/v1/repo/mirror.go
  routers/web/admin/notice.go
  routers/web/repo/setting/setting.go
  services/asymkey/ssh_key.go
  services/mirror/mirror_push.go
  services/release/release.go
  services/repository/archiver/archiver.go
  services/secrets/secrets.go
  services/user/delete.go
  tests/integration/repo_tag_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/L

#28612 Update repo-mirror.en-us.md
  docs/content/usage/repo-mirror.en-us.md
Labels: lgtm/done, size/XS, modifies/docs

#28616 Use known issue IID to generate new PR index number when migrating from GitLab
  services/migrations/gitlab.go
  services/migrations/gitlab_test.go
Labels: type/bug, lgtm/done, size/M, backport/v1.21

#28613 Fix session key conflict with database keyword
  models/auth/session.go
  tests/integration/session_test.go
Labels: type/bug, lgtm/done, type/testing, reviewed/wait-merge, size/M

#27144 Add get actions runner registration token for API routes, repo, org, user and global level
  routers/api/v1/admin/runners.go
  routers/api/v1/api.go
  routers/api/v1/org/runners.go
  routers/api/v1/org/secrets.go
  routers/api/v1/repo/runners.go
  routers/api/v1/shared/runners.go
  routers/api/v1/user/runners.go
  templates/swagger/v1_json.tmpl
Labels: type/feature, lgtm/done, modifies/api, reviewed/wait-merge, topic/gitea-actions, size/L

#28617 fix wrong link in user and organization profile when using relative url
  routers/web/org/home.go
  routers/web/shared/user/header.go
  routers/web/user/profile.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M

#28598 Do not set `Accept` header twice
  modules/lfs/http_client.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#28624 Remove unnecessary syncbranchToDB with tests
  services/repository/branch.go
  tests/integration/api_branch_test.go
Labels: lgtm/done, type/testing, size/M, backport/v1.21

#28622 Refactor some legacy code and remove unused code
  models/avatars/avatar.go
  models/git/protected_branch.go
  models/git/protected_tag.go
  models/issues/review.go
  modules/base/tool.go
  modules/base/tool_test.go
  routers/web/user/setting/profile.go
Labels: lgtm/done, type/refactoring, size/M

#28623 Refactor timeutil package
  models/activities/user_heatmap_test.go
  models/asymkey/gpg_key_verify.go
  models/issues/comment.go
  models/issues/milestone.go
  modules/timeutil/timestamp.go
  services/auth/auth_token_test.go
  templates/repo/issue/view_content/sidebar.tmpl
  templates/shared/issuelist.tmpl
  tests/integration/api_user_heatmap_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M

#28626 Extend description for ARTIFACT_RETENTION_DAYS
  docs/content/administration/config-cheat-sheet.en-us.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/docs

#28639 switch destination directory for apt signing keys
  docs/content/usage/packages/debian.en-us.md
  docs/content/usage/packages/debian.zh-cn.md
  templates/package/content/debian.tmpl
Labels: type/enhancement, lgtm/done, topic/packages, size/S, backport/v1.21, modifies/docs

#28644 Improve 1.21 document for Database Preparation (#28643)
  docs/content/installation/database-preparation.en-us.md
Labels: lgtm/done, size/XS, modifies/docs

#28643 Improve 1.22 document for Database Preparation
  docs/content/installation/database-preparation.en-us.md
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/docs

#28640 fix empty ref for cron workflow runs
  services/actions/notifier_helper.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/XS, backport/v1.21

#28646 Improve document for ARTIFACT_RETENTION_DAYS
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.21, modifies/docs

#28629 Remove unnecessary syncbranchToDB with tests (#28624)
  services/repository/branch.go
  tests/integration/api_branch_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M

#28619 Fix long package version names overflowing
  templates/package/view.tmpl
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28636 Avoid cycle-redirecting user/login page
  models/auth/source.go
  models/db/engine.go
  modules/setting/server.go
  routers/common/db.go
  routers/web/auth/auth.go
Labels: type/bug, lgtm/done, size/S, backport/v1.21

#28658 Avoid cycle-redirecting user/login page (#28636)
  models/auth/source.go
  models/db/engine.go
  modules/setting/server.go
  routers/common/db.go
  routers/web/auth/auth.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S

#28659 Fix migration test
  models/migrations/v1_22/v283_test.go
Labels: lgtm/done, type/testing, size/S, modifies/migrations

#28638 Fix alpine package files are not rebuilt
  services/packages/cleanup/cleanup.go
Labels: type/bug, lgtm/done, topic/packages, reviewed/wait-merge, size/XS, backport/v1.21

#28531 Fix: system webhooks API bug
  routers/api/v1/utils/hook.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/S, backport/v1.21

#28590 Upgrade xorm to new version which supported update join for all supported databases
  go.mod
  go.sum
  models/issues/comment.go
  tests/integration/migrate_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21
