Repository go-gitea/gitea, pull requests merged in 2023-07, with the labels that each got.

#25578 Fix bug of branches API with tests
  models/fixtures/mirror.yml
  models/fixtures/repository.yml
  routers/api/v1/repo/branch.go
  templates/swagger/v1_json.tmpl
  tests/gitea-repositories-meta/user3/repo5.git/HEAD
  tests/gitea-repositories-meta/user3/repo5.git/config
  tests/gitea-repositories-meta/user3/repo5.git/description
  tests/gitea-repositories-meta/user3/repo5.git/hooks/post-receive
  tests/gitea-repositories-meta/user3/repo5.git/hooks/post-receive.d/gitea
  tests/gitea-repositories-meta/user3/repo5.git/hooks/pre-receive
  tests/gitea-repositories-meta/user3/repo5.git/hooks/pre-receive.d/gitea
  tests/gitea-repositories-meta/user3/repo5.git/hooks/update
  tests/gitea-repositories-meta/user3/repo5.git/hooks/update.d/gitea
  tests/gitea-repositories-meta/user3/repo5.git/info/exclude
  tests/gitea-repositories-meta/user3/repo5.git/objects/20/ade30d25e0ecaeec84e7f542a8456900858240
  tests/gitea-repositories-meta/user3/repo5.git/objects/27/74debeea6dc742cc4971a92db0e08b95b60588
  tests/gitea-repositories-meta/user3/repo5.git/objects/2a/47ca4b614a9f5a43abbd5ad851a54a616ffee6
  tests/gitea-repositories-meta/user3/repo5.git/objects/2f/9b22fd3159a43b7b4e5dd806fcd544edf8716f
  tests/gitea-repositories-meta/user3/repo5.git/objects/d2/2b4d4daa5be07329fcef6ed458f00cf3392da0
  tests/gitea-repositories-meta/user3/repo5.git/objects/d5/6a3073c1dbb7b15963110a049d50cdb5db99fc
  tests/gitea-repositories-meta/user3/repo5.git/objects/ec/f0db3c1ec806522de4b491fb9a3c7457398c61
  tests/gitea-repositories-meta/user3/repo5.git/objects/ee/16d127df463aa491e08958120f2108b02468df
  tests/gitea-repositories-meta/user3/repo5.git/refs/heads/master
  tests/gitea-repositories-meta/user3/repo5.git/refs/heads/test_branch
  tests/integration/api_repo_branch_test.go
  tests/integration/empty_repo_test.go
Labels: kind/bug, lgtm/done, backport/done, skip-changelog, reviewed/wait-merge, size/L, backport/v1.20

#25412 Set SSH_AUTHORIZED_KEYS_BACKUP to false
  modules/setting/ssh.go
Labels: kind/enhancement, lgtm/done, kind/breaking, reviewed/wait-merge, size/XS

#25620 Following-up improvments for various PRs
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  models/git/branch.go
Labels: kind/docs, lgtm/done, skip-changelog, size/S

#25585 Move some files under repo/setting
  routers/web/repo/setting/avatar.go
  routers/web/repo/setting/collaboration.go
  routers/web/repo/setting/deploy_key.go
  routers/web/repo/setting/git_hooks.go
  routers/web/repo/setting/lfs.go
  routers/web/repo/setting/main_test.go
  routers/web/repo/setting/protected_branch.go
  routers/web/repo/setting/protected_tag.go
  routers/web/repo/setting/setting.go
  routers/web/repo/setting/settings_test.go
  routers/web/repo/setting/webhook.go
  routers/web/web.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/XXL

#25387 Support displaying diff stats in PR tab bar
  routers/web/repo/pull.go
  routers/web/web.go
  services/gitdiff/gitdiff.go
  templates/repo/pulls/tab_menu.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#25532 Add log line anchor for action logs
  web_src/js/components/RepoActionView.vue
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25605 Get latest commit statuses from database instead of git data on dashboard for repositories
  models/git/branch_list.go
  routers/web/repo/repo.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/M

#25626 use css on labels
  templates/shared/actions/runner_edit.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25608 Display branch commit status
  models/git/commit_status.go
  routers/web/repo/branch.go
  templates/repo/branch/list.tmpl
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/M

#25631 Make FindBranches have stable result
  models/git/branch_list.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25618 Make "cancel" buttons have proper type in modal forms
  routers/web/devtest/devtest.go
  templates/devtest/fomantic-modal.tmpl
  web_src/js/modules/aria/modal.js
  web_src/js/modules/fomantic.js
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25641 Make "cancel" buttons have proper type in modal forms (#25618)
  routers/web/devtest/devtest.go
  templates/devtest/fomantic-modal.tmpl
  web_src/js/modules/aria/modal.js
  web_src/js/modules/fomantic.js
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M

#25637 Fix bug when change user name
  models/user/redirect.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19, backport/v1.20

#25543 Add direct serving of package content
  modules/packages/content_store.go
  routers/api/packages/alpine/alpine.go
  routers/api/packages/cargo/cargo.go
  routers/api/packages/chef/chef.go
  routers/api/packages/composer/composer.go
  routers/api/packages/conan/conan.go
  routers/api/packages/conda/conda.go
  routers/api/packages/container/container.go
  routers/api/packages/cran/cran.go
  routers/api/packages/debian/debian.go
  routers/api/packages/generic/generic.go
  routers/api/packages/goproxy/goproxy.go
  routers/api/packages/helm/helm.go
  routers/api/packages/helper/helper.go
  routers/api/packages/maven/maven.go
  routers/api/packages/npm/npm.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/pub/pub.go
  routers/api/packages/pypi/pypi.go
  routers/api/packages/rpm/rpm.go
  routers/api/packages/rubygems/rubygems.go
  routers/api/packages/swift/swift.go
  routers/api/packages/vagrant/vagrant.go
  routers/web/user/package.go
  services/packages/packages.go
  tests/integration/api_packages_generic_test.go
Labels: kind/feature, lgtm/done, theme/package-registry, reviewed/wait-merge, size/L

#25579 Fix bug of branches API with tests(#25578)
  models/fixtures/mirror.yml
  models/fixtures/repository.yml
  routers/api/v1/repo/branch.go
  templates/swagger/v1_json.tmpl
  tests/gitea-repositories-meta/user3/repo5.git/HEAD
  tests/gitea-repositories-meta/user3/repo5.git/config
  tests/gitea-repositories-meta/user3/repo5.git/description
  tests/gitea-repositories-meta/user3/repo5.git/hooks/post-receive
  tests/gitea-repositories-meta/user3/repo5.git/hooks/post-receive.d/gitea
  tests/gitea-repositories-meta/user3/repo5.git/hooks/pre-receive
  tests/gitea-repositories-meta/user3/repo5.git/hooks/pre-receive.d/gitea
  tests/gitea-repositories-meta/user3/repo5.git/hooks/update
  tests/gitea-repositories-meta/user3/repo5.git/hooks/update.d/gitea
  tests/gitea-repositories-meta/user3/repo5.git/info/exclude
  tests/gitea-repositories-meta/user3/repo5.git/objects/20/ade30d25e0ecaeec84e7f542a8456900858240
  tests/gitea-repositories-meta/user3/repo5.git/objects/27/74debeea6dc742cc4971a92db0e08b95b60588
  tests/gitea-repositories-meta/user3/repo5.git/objects/2a/47ca4b614a9f5a43abbd5ad851a54a616ffee6
  tests/gitea-repositories-meta/user3/repo5.git/objects/2f/9b22fd3159a43b7b4e5dd806fcd544edf8716f
  tests/gitea-repositories-meta/user3/repo5.git/objects/d2/2b4d4daa5be07329fcef6ed458f00cf3392da0
  tests/gitea-repositories-meta/user3/repo5.git/objects/d5/6a3073c1dbb7b15963110a049d50cdb5db99fc
  tests/gitea-repositories-meta/user3/repo5.git/objects/ec/f0db3c1ec806522de4b491fb9a3c7457398c61
  tests/gitea-repositories-meta/user3/repo5.git/objects/ee/16d127df463aa491e08958120f2108b02468df
  tests/gitea-repositories-meta/user3/repo5.git/refs/heads/master
  tests/gitea-repositories-meta/user3/repo5.git/refs/heads/test_branch
  tests/integration/api_repo_branch_test.go
  tests/integration/empty_repo_test.go
Labels: kind/bug, lgtm/done, size/L

#25643 Correct translation wrong format
  options/locale/locale_en-US.ini
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/XS

#25654 Remove -v from vulncheck (#23953)
  Makefile
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/XS

#25629 Fix UI misalignment on user setting page
  templates/user/settings/account.tmpl
  templates/user/settings/applications_oauth2_list.tmpl
  templates/user/settings/grants_oauth2.tmpl
  templates/user/settings/security/accountlinks.tmpl
  templates/user/settings/security/openid.tmpl
  templates/user/settings/security/twofa.tmpl
  templates/user/settings/security/webauthn.tmpl
  web_src/css/repo.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25640 Add unit test for repository collaboration
  models/repo/collaboration_test.go
Labels: lgtm/done, kind/testing, reviewed/wait-merge, size/M, backport/v1.20

#25414 Log the real reason when authentication fails (but don't show the user)
  routers/web/auth/auth.go
  routers/web/auth/linkaccount.go
  routers/web/auth/openid.go
  services/auth/source/db/authenticate.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25652 Prevent SVG shrinking
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/modules/svg.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25619 Fix issues indexer document mapping
  modules/indexer/issues/bleve/bleve.go
Labels: kind/bug, lgtm/done, kind/regression, reviewed/wait-merge, size/M, backport/v1.20

#25601 Actions list enhancements
  options/locale/locale_en-US.ini
  templates/package/shared/list.tmpl
  templates/package/shared/versionlist.tmpl
  templates/repo/actions/list.tmpl
  templates/repo/actions/runs_list.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/base.css
  web_src/css/shared/issuelist.css
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25669 Prevent SVG shrinking (#25652)
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/modules/svg.css
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#25665 Fix the nil pointer when assigning issues to projects
  routers/web/org/projects.go
  routers/web/repo/projects.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25666 Dont publish latest for v1.19.x anymore
  docker/manifest.rootless.tmpl
  docker/manifest.tmpl
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/XS

#25668 Manual backport of locale for 1.20 (2nd)
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_el-GR.ini
  options/locale/locale_fa-IR.ini
  options/locale/locale_is-IS.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_nl-NL.ini
  options/locale/locale_pl-PL.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_si-LK.ini
  options/locale/locale_sk-SK.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_uk-UA.ini
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/L

#25662 Add unit test for `HashAvatar`
  modules/avatar/hash_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S

#25678 Actions list enhancements (#25601)
  options/locale/locale_en-US.ini
  templates/package/shared/list.tmpl
  templates/package/shared/versionlist.tmpl
  templates/repo/actions/list.tmpl
  templates/repo/actions/runs_list.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/base.css
  web_src/css/shared/issuelist.css
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#25667 Changelog for v1.19.4
  CHANGELOG.md
Labels: kind/docs, lgtm/done, skip-changelog, size/M

#25675 Prevent duplicate image loading
  web_src/js/features/imagediff.js
Labels: kind/ui, lgtm/done, kind/regression, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.20

#25682 some less naked returns
  models/perm/access/repo_permission.go
  models/repo/release.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/M

#25642 Add elapsed time on debug for slow git commands
  modules/git/command.go
Labels: lgtm/done, kind/misc, reviewed/wait-merge, size/S

#25634 Several fixes for mobile UI
  templates/repo/branch/list.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/commits_table.tmpl
  templates/repo/issue/labels/labels_selector_field.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/shared/combomarkdowneditor.tmpl
  web_src/css/admin.css
  web_src/css/editor/combomarkdowneditor.css
  web_src/css/repo.css
  web_src/js/components/RepoActionView.vue
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25688 Fix position of org follow button
  web_src/css/org.css
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25624 Fix tags header and pretty format numbers
  routers/web/repo/release.go
  templates/repo/header.tmpl
  templates/repo/release_tag_header.tmpl
  templates/repo/sub_menu.tmpl
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25696 Remove `feature` label from `feature request` issue template
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: lgtm/done, kind/misc, skip-changelog, reviewed/wait-merge, size/XS

#25706 Fix branch selector on release page in 1.19
  web_src/js/features/repo-legacy.js
Labels: lgtm/done, size/XS

#25709 Changelog for v1.19.4 (#25667)
  CHANGELOG.md
Labels: kind/docs, lgtm/need 1, skip-changelog, size/M

#25698 Check `ctx.Written()` for `GetActionIssue`
  routers/web/repo/issue.go
  routers/web/repo/issue_content_history.go
  routers/web/repo/issue_pin.go
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.19, backport/v1.20

#25704 Show correct naming for 1 comment
  options/locale/locale_en-US.ini
  templates/repo/issue/view_title.tmpl
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/XS, backport/v1.19, backport/v1.20

#22499 Disable run user change in installation page
  options/locale/locale_en-US.ini
  templates/install.tmpl
Labels: kind/ui, lgtm/done, kind/misc, reviewed/wait-merge, size/XS

#25722 Sync branches when mirroring
  modules/git/git.go
  services/mirror/mirror_pull.go
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25721 Correct permissions for `.ssh` and `authorized_keys`
  docker/root/etc/s6/gitea/setup
Labels: lgtm/done, kind/build, reviewed/wait-merge, size/S, backport/v1.19, backport/v1.20

#25690 Allow/fix review (approve/reject) of empty PRs
  templates/repo/diff/box.tmpl
  templates/repo/pulls/tab_menu.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25717 Simplify the LFS GC logger usage
  modules/doctor/lfs.go
  services/repository/lfs.go
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/M

#25625 Fix inconsistent user profile layout across tabs
  models/user/user.go
  modules/context/org.go
  routers/web/org/projects.go
  routers/web/shared/user/header.go
  routers/web/user/code.go
  routers/web/user/home.go
  routers/web/user/package.go
  routers/web/user/profile.go
  templates/code/searchcombo.tmpl
  templates/explore/code.tmpl
  templates/org/menu.tmpl
  templates/org/projects/list.tmpl
  templates/org/projects/new.tmpl
  templates/org/projects/view.tmpl
  templates/package/settings.tmpl
  templates/package/shared/list.tmpl
  templates/package/shared/versionlist.tmpl
  templates/package/view.tmpl
  templates/projects/list.tmpl
  templates/projects/new.tmpl
  templates/repo/packages.tmpl
  templates/repo/projects/new.tmpl
  templates/shared/user/org_profile_avatar.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  templates/user/code.tmpl
  templates/user/overview/header.tmpl
  templates/user/overview/package_versions.tmpl
  templates/user/overview/packages.tmpl
  templates/user/profile.tmpl
  web_src/css/helpers.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XL

#25710 Fix commits table regression
  web_src/css/repo.css
Labels: kind/bug, lgtm/done, skip-changelog, size/S

#25734 Remove unused code
  models/organization/org.go
  models/organization/org_test.go
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/M

#25689 Several fixes for mobile UI (#25634)
  templates/repo/branch/list.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/commits_table.tmpl
  templates/repo/issue/labels/labels_selector_field.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/shared/combomarkdowneditor.tmpl
  web_src/css/admin.css
  web_src/css/editor/combomarkdowneditor.css
  web_src/css/repo.css
  web_src/js/components/RepoActionView.vue
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, size/L

#25713 Less naked returns
  models/asymkey/gpg_key_commit_verification.go
  models/auth/oauth2.go
  models/migrations/v1_11/v106.go
  models/migrations/v1_13/v143.go
  models/migrations/v1_15/v180.go
  models/migrations/v1_15/v181.go
  modules/context/repo.go
  modules/doctor/fix16961.go
  modules/eventsource/event.go
  modules/httpcache/httpcache.go
  modules/httplib/serve.go
  modules/httplib/serve_test.go
  modules/process/manager.go
  modules/util/util.go
  modules/util/util_test.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/issue_label.go
  routers/common/serve.go
  routers/web/auth/auth.go
  routers/web/repo/attachment.go
  routers/web/repo/download.go
  routers/web/repo/http.go
  routers/web/repo/issue.go
  routers/web/repo/wiki.go
  routers/web/web.go
  services/forms/user_form_hidden_comments.go
  services/gitdiff/gitdiff.go
  services/issue/assignee.go
  services/issue/issue.go
  services/issue/label.go
  services/pull/review.go
  services/release/release.go
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/L

#25737 Remove broken translations
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_el-GR.ini
  options/locale/locale_es-ES.ini
  options/locale/locale_fi-FI.ini
  options/locale/locale_fr-FR.ini
  options/locale/locale_is-IS.ini
  options/locale/locale_it-IT.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-TW.ini
Labels: lgtm/done, kind/translation, size/L

#25714 Check `ctx.Written()` for `GetActionIssue` (#25698)
  routers/web/repo/issue.go
  routers/web/repo/issue_content_history.go
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S

#25742 Fix broken translations for package documantion
  options/locale/locale_en-US.ini
  templates/package/content/alpine.tmpl
  templates/package/content/cargo.tmpl
  templates/package/content/chef.tmpl
  templates/package/content/composer.tmpl
  templates/package/content/conan.tmpl
  templates/package/content/conda.tmpl
  templates/package/content/container.tmpl
  templates/package/content/cran.tmpl
  templates/package/content/debian.tmpl
  templates/package/content/generic.tmpl
  templates/package/content/go.tmpl
  templates/package/content/helm.tmpl
  templates/package/content/maven.tmpl
  templates/package/content/npm.tmpl
  templates/package/content/nuget.tmpl
  templates/package/content/pub.tmpl
  templates/package/content/pypi.tmpl
  templates/package/content/rpm.tmpl
  templates/package/content/rubygems.tmpl
  templates/package/content/swift.tmpl
  templates/package/content/vagrant.tmpl
  templates/package/shared/cargo.tmpl
  templates/user/settings/packages.tmpl
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/M

#25745 Apply to became a maintainer.
  MAINTAINERS
Labels: lgtm/done, size/XS

#25748 Hide `add file` button for pull mirrors
  templates/repo/home.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25739 Following up fixes for "Fix inconsistent user profile layout across tabs"
  routers/web/user/profile.go
  templates/org/home.tmpl
  templates/org/projects/view.tmpl
  templates/projects/view.tmpl
  templates/shared/user/profile_big_avatar.tmpl
Labels: lgtm/done, skip-changelog, size/M

#25746 Fix activity type match in `matchPullRequestEvent`
  modules/actions/workflows.go
  modules/actions/workflows_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, size/M, backport/v1.19, backport/v1.20

#25708 Add open/closed field support for issue index
  modules/indexer/issues/bleve/bleve.go
  modules/indexer/issues/bleve/bleve_test.go
  modules/indexer/issues/db/db.go
  modules/indexer/issues/elasticsearch/elasticsearch.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/internal/indexer.go
  modules/indexer/issues/internal/model.go
  modules/indexer/issues/meilisearch/meilisearch.go
  routers/api/v1/repo/issue.go
  routers/web/repo/issue.go
  routers/web/user/home.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#25756 Reformat some templates
  templates/package/shared/list.tmpl
  templates/package/shared/versionlist.tmpl
  templates/projects/list.tmpl
  templates/projects/new.tmpl
  templates/projects/view.tmpl
  templates/user/overview/package_versions.tmpl
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XL

#25754 Minify CSS with Lightning CSS
  package-lock.json
  package.json
  webpack.config.js
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/XS

#25743 Fix `ref` for workflows triggered by `pull_request_target`
  modules/actions/workflows.go
  routers/api/actions/runner/utils.go
  services/actions/notifier_helper.go
  tests/integration/actions_trigger_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S

#25759 Translate untranslated string in issues list
  templates/user/dashboard/issues.tmpl
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/XS, backport/v1.20

#25715 Newly pushed branches hints on repository home page
  models/git/branch.go
  models/repo/repo.go
  options/locale/locale_en-US.ini
  routers/web/repo/view.go
  templates/repo/code/recently_pushed_new_branches.tmpl
  templates/repo/home.tmpl
  tests/integration/repo_branch_test.go
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/M

#25762 Switch to `vite-string-plugin`
  package-lock.json
  package.json
  vitest.config.js
Labels: lgtm/done, kind/testing, skip-changelog, reviewed/wait-merge, size/S

#25763 Clarify "text-align" CSS helpers, fix clone button padding
  templates/projects/list.tmpl
  templates/repo/clone_buttons.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/header.tmpl
  templates/repo/migrate/migrate.tmpl
  templates/repo/unicode_escape_prompt.tmpl
  templates/user/auth/captcha.tmpl
  web_src/css/helpers.css
  web_src/css/repo.css
  web_src/js/features/common-global.js
  web_src/js/features/repo-issue-content.js
Labels: kind/bug, kind/ui, lgtm/done, kind/refactor, backport/done, reviewed/wait-merge, size/M, backport/manual, reviewed/prioritize-merge, backport/v1.20

#25768 Update JS dependencies, misc tweaks
  .eslintrc.yaml
  package-lock.json
  package.json
  vitest.config.js
Labels: lgtm/done, dependencies, skip-changelog, size/S

#25767 Repository Archived text title center align
  templates/repo/diff/compare.tmpl
  templates/repo/empty.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/settings/branches.tmpl
  templates/repo/settings/tags.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/S

#25771 docs: rootless docker ssh's default port is 2222
  docs/content/doc/installation/with-docker-rootless.en-us.md
Labels: kind/docs, lgtm/done, size/XS, backport/v1.20

#25769 Tweak repo topics bar
  templates/repo/home.tmpl
  web_src/css/repo.css
Labels: kind/enhancement, lgtm/done, skip-changelog, size/XS

#25777 Fix the wrong default branch name displayed by checkout
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, size/XS

#25780 Always pass 6-digit hex color to monaco
  package-lock.json
  package.json
  web_src/js/components/ContextPopup.vue
  web_src/js/features/codeeditor.js
  web_src/js/features/repo-projects.js
  web_src/js/utils/color.js
  web_src/js/utils/color.test.js
Labels: lgtm/done, size/M, backport/v1.20

#25782 Always pass 6-digit hex color to monaco (#25780)
  package-lock.json
  package.json
  web_src/js/components/ContextPopup.vue
  web_src/js/features/codeeditor.js
  web_src/js/features/repo-projects.js
  web_src/js/utils/color.js
  web_src/js/utils/color.test.js
Labels: kind/bug, kind/ui, lgtm/done, size/M

#22759 Test if container blob is accessible before mounting
  models/packages/package_blob.go
  routers/api/packages/container/container.go
  tests/integration/api_packages_container_test.go
Labels: kind/security, lgtm/done, theme/package-registry, reviewed/wait-merge, size/M, backport/v1.19, backport/v1.20

#25655 Update tool dependencies, lock govulncheck and actionlint
  .golangci.yml
  Makefile
  models/activities/notification.go
  models/asymkey/gpg_key_common.go
  models/issues/comment.go
  models/issues/comment_list.go
  models/issues/issue.go
  models/issues/issue_label.go
  models/issues/issue_update.go
  models/issues/review.go
  models/issues/tracked_time.go
  models/migrations/v1_14/v166.go
  models/repo.go
  modules/activitypub/client.go
  modules/activitypub/user_settings.go
  modules/context/api.go
  modules/git/batch_reader.go
  modules/git/commit.go
  modules/git/git.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_index.go
  modules/git/signature_nogogit.go
  modules/nosql/manager.go
  modules/queue/workerqueue.go
  routers/api/v1/activitypub/reqsignature.go
  services/task/migrate.go
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/L

#25766 Make route middleware/handler mockable
  modules/web/route.go
  modules/web/routemock.go
  modules/web/routemock_test.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/L

#25707 Revert package access change from #23879
  models/fixtures/org_user.yml
  models/fixtures/team.yml
  models/fixtures/team_unit.yml
  models/fixtures/team_user.yml
  models/fixtures/user.yml
  modules/context/package.go
  tests/integration/api_org_test.go
  tests/integration/api_packages_test.go
Labels: kind/bug, lgtm/done, kind/regression, theme/package-registry, reviewed/wait-merge, size/L, backport/v1.20

#25781 Fix notification list bugs
  routers/web/user/notification.go
  templates/user/notification/notification_div.tmpl
  templates/user/notification/notification_subscriptions.tmpl
  web_src/js/features/notification.js
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25750 Restructure issue list template, styles
  templates/package/shared/list.tmpl
  templates/package/shared/versionlist.tmpl
  templates/repo/actions/runs_list.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/shared/issuelist.css
Labels: kind/bug, kind/ui, lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#25786 Enable H014 and H023 djlint rules
  pyproject.toml
  templates/admin/auth/edit.tmpl
  templates/base/head_navbar.tmpl
  templates/install.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/tag/list.tmpl
  templates/repo/wiki/revision.tmpl
  templates/user/auth/change_passwd_inner.tmpl
Labels: lgtm/done, kind/lint, skip-changelog, reviewed/wait-merge, size/S

#25764 Clarify "text-align" CSS helpers, fix clone button padding (#25763)
  templates/repo/clone_buttons.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/header.tmpl
  templates/repo/migrate/migrate.tmpl
  templates/repo/unicode_escape_prompt.tmpl
  templates/user/auth/captcha.tmpl
  web_src/css/helpers.css
  web_src/css/repo.css
  web_src/js/features/common-global.js
  web_src/js/features/repo-issue-content.js
Labels: kind/bug, kind/ui, lgtm/done, kind/refactor, reviewed/wait-merge, size/M

#25648 Make "install page" respect environment config
  contrib/environment-to-ini/environment-to-ini.go
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  modules/assetfs/layered.go
  modules/setting/config_env.go
  modules/setting/config_env_test.go
  modules/setting/path.go
  modules/setting/security.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/install/install.go
  templates/install.tmpl
  web_src/css/install.css
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25791 Show edit title button on commits tab of PR, too
  routers/web/repo/pull.go
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#25779 Avoid amending the Rebase and Fast-forward merge if there is no message template
  models/repo/git.go
  services/pull/merge.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25738 Fix WORK_DIR for docker (root) image
  docker/root/usr/local/bin/gitea
Labels: kind/bug, lgtm/done, kind/breaking, reviewed/wait-merge, size/XS, backport/v1.20

#25639 For API attachments, use API URL
  models/repo/attachment.go
  routers/api/v1/api.go
  routers/api/v1/repo/issue_attachment.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_comment_attachment.go
  routers/api/v1/repo/release.go
  routers/api/v1/repo/release_attachment.go
  routers/api/v1/repo/release_tags.go
  routers/web/repo/issue.go
  services/actions/notifier.go
  services/actions/notifier_helper.go
  services/convert/activity.go
  services/convert/attachment.go
  services/convert/issue.go
  services/convert/issue_comment.go
  services/convert/release.go
  services/webhook/notifier.go
  tests/integration/api_comment_attachment_test.go
  tests/integration/api_comment_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.19, backport/v1.20

#25795 Exclude default branch from pushed branch hint
  models/git/branch.go
  routers/web/repo/view.go
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25799 Make "install page" respect environment config (#25648)
  contrib/environment-to-ini/environment-to-ini.go
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
  modules/assetfs/layered.go
  modules/setting/config_env.go
  modules/setting/config_env_test.go
  modules/setting/path.go
  modules/setting/security.go
  modules/setting/setting.go
  options/locale/locale_en-US.ini
  routers/install/install.go
  templates/install.tmpl
  web_src/css/install.css
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L

#25797 Fix activity type match in `matchPullRequestEvent` (#25746)
  modules/actions/workflows.go
  modules/actions/workflows_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, size/M

#25701 Fix the error message when the token is incorrect
  services/auth/group.go
  services/auth/oauth2.go
  tests/integration/api_repo_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.19, backport/v1.20

#25796 Fix activity type match in `matchPullRequestEvent` (#25746)
  modules/actions/workflows.go
  modules/actions/workflows_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, size/M

#25818 Show correct SSL Mode on "install page"
  routers/install/install.go
  templates/install.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25840 Backport locale to 1.20
  options/locale/locale_de-DE.ini
  options/locale/locale_el-GR.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_si-LK.ini
Labels: lgtm/done, kind/translation, skip-changelog, reviewed/wait-merge, size/XL

#25828 Do not "guess" the file encoding/BOM when using API to upload files
  services/repository/files/update.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L

#25801 Fix margin on the `new/edit milestone` page
  templates/repo/issue/milestone_new.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25843 Update blog links
  CONTRIBUTING.md
  README.md
  docs/content/doc/usage/actions/comparison.en-us.md
  docs/content/doc/usage/actions/comparison.zh-cn.md
  docs/content/page/index.en-us.md
  docs/content/page/index.fr-fr.md
  docs/content/page/index.zh-cn.md
  docs/content/page/index.zh-tw.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/S

#25802 Fix empty project displayed in issue sidebar
  models/issues/issue_list_test.go
  models/issues/issue_project.go
  models/issues/issue_test.go
  routers/web/org/projects.go
  routers/web/repo/projects.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25841 Remove `git.FileBlame`
  modules/git/repo_blame.go
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/XS

#25729 move issue filters to shared template
  routers/web/repo/milestone.go
  templates/repo/issue/filters.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  web_src/css/repo.css
  web_src/css/repo/issue-list.css
Labels: kind/ui, lgtm/done, kind/refactor, reviewed/wait-merge, size/XL

#25872 Link to list of vulnerabilities
  SECURITY.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25789 Don't stack PR tab menu on small screens
  templates/repo/pulls/tab_menu.tmpl
  web_src/css/repo.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25819 Upgrade go dependencies
  assets/go-licenses.json
  go.mod
  go.sum
  models/actions/task.go
  models/auth/token.go
  modules/cache/cache_twoqueue.go
  modules/doctor/misc.go
  modules/highlight/highlight.go
  modules/markup/orgmode/orgmode.go
  modules/regexplru/regexplru.go
Labels: lgtm/done, dependencies, reviewed/wait-merge, size/XL

#25733 fix incorrect repo url when changed the case of ownername
  routers/web/org/setting.go
  services/user/user.go
Labels: kind/bug, lgtm/done, size/XS

#25864 Fix wrong usage of PathEscapeSegments in branch list page
  templates/repo/branch/list.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25820 Add error info if no user can fork the repo
  options/locale/locale_en-US.ini
  routers/web/repo/pull.go
Labels: lgtm/done, kind/ux, reviewed/wait-merge, size/XS

#25800 Add Github related extensions in devcontainer
  .devcontainer/devcontainer.json
  .gitpod.yml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25879 Fix incorrect release count
  routers/web/repo/release.go
  templates/repo/release_tag_header.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.20

#25873 Add support for different Maven POM encoding
  modules/packages/maven/metadata.go
  modules/packages/maven/metadata_test.go
  routers/api/packages/maven/maven.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, size/M, backport/v1.20

#25895 Fix "Flash" message usage
  modules/web/middleware/flash.go
  routers/web/repo/pull.go
Labels: lgtm/done, size/S

#25894 Make `add line comment` buttons focusable
  options/locale/locale_en-US.ini
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  web_src/css/review.css
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S, theme/accessibility, backport/v1.20

#25899 Backport locales to v1.20
  options/locale/locale_de-DE.ini
  options/locale/locale_fr-FR.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-TW.ini
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/L

#25883 Avoid opening/closing PRs which are already merged
  routers/web/repo/issue.go
Labels: kind/bug, lgtm/done, size/XS, backport/v1.19, backport/v1.20

#25880 Fix incorrect milestone count when provide a keyword
  routers/web/repo/milestone.go
Labels: lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25901 Add 1.20.0 changelog
  CHANGELOG.md
Labels: lgtm/done, changelog, skip-changelog, reviewed/wait-merge, size/XL, backport/v1.20

#25885 Fix margin on the new/edit project page.
  templates/projects/new.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#25910 Add 1.20.0 changelog (#25901)
  CHANGELOG.md
Labels: lgtm/done, changelog, skip-changelog, reviewed/wait-merge, size/XL

#25920 Add shutting down notice
  modules/setting/config_provider.go
Labels: lgtm/done, kind/usability, size/XS, backport/v1.20

#25919 Skip unuseful error message in dev mode when watching local filesystem
  modules/assetfs/layered.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.20

#25917 Ignore `runs-on` with expressions when warning no matched runners
  routers/web/repo/actions/actions.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25926 Make environment-to-ini work with INSTALL_LOCK=true
  contrib/environment-to-ini/environment-to-ini.go
Labels: kind/bug, lgtm/done, kind/regression, reviewed/wait-merge, size/XS, backport/v1.20

#25936 Import `sortablejs` only once
  web_src/js/features/repo-issue-list.js
  web_src/js/features/repo-projects.js
  web_src/js/modules/sortable.js
Labels: kind/enhancement, lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#25944 Avoid creating directories when loading config
  modules/setting/packages.go
Labels: kind/bug, lgtm/done, size/XS, backport/v1.20

#25960 Disallow dangerous URL schemes
  go.mod
  go.sum
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
Labels: kind/bug, kind/security, lgtm/done, reviewed/wait-merge, size/S, reviewed/prioritize-merge, backport/v1.20

#25935 Make pending commit status yellow again
  templates/repo/commit_status.tmpl
  tests/integration/repo_commits_test.go
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25851 Refactor "Content" for file uploading
  modules/structs/repo_file.go
  routers/api/v1/repo/file.go
  routers/web/repo/editor.go
  services/repository/files/update.go
  templates/swagger/v1_json.tmpl
  tests/integration/actions_trigger_test.go
  tests/integration/api_repo_file_create_test.go
  tests/integration/api_repo_file_helpers.go
  tests/integration/api_repo_file_update_test.go
  tests/integration/api_repo_files_change_test.go
  tests/integration/empty_repo_test.go
  tests/integration/gpg_git_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_update_test.go
  tests/integration/repofiles_change_test.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#25964 Disallow dangerous URL schemes (#25960)
  go.mod
  go.sum
  modules/markup/sanitizer.go
  modules/markup/sanitizer_test.go
Labels: kind/bug, kind/security, lgtm/done, size/M

#25957 Avoid creating directories when loading config (#25944)
  modules/setting/packages.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS

#25947 Show the mismatched ROOT_URL warning on the sign-in page if OAuth2 is enabled
  web_src/js/features/admin/common.js
  web_src/js/features/common-global.js
  web_src/js/features/user-auth.js
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25417 Update path related documents
  custom/conf/app.example.ini
  docs/content/doc/administration/backup-and-restore.en-us.md
  docs/content/doc/administration/command-line.en-us.md
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/customizing-gitea.en-us.md
  docs/content/doc/administration/environment-variables.en-us.md
  docs/content/doc/help/faq.en-us.md
  modules/setting/path.go
  options/locale/locale_en-US.ini
  routers/web/admin/config.go
  templates/admin/config.tmpl
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25975 Bump github.com/golang-jwt/jwt to v5
  assets/go-licenses.json
  cmd/serv.go
  go.mod
  go.sum
  modules/generate/generate.go
  routers/web/auth/oauth.go
  routers/web/auth/oauth_test.go
  services/auth/source/oauth2/jwtsigningkey.go
  services/auth/source/oauth2/token.go
  services/lfs/server.go
  services/packages/auth.go
Labels: lgtm/done, reviewed/wait-merge, size/M

#25987 parseScope with owner/repo always sets owner to zero
  routers/private/actions.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25988 Improve profile readme rendering
  routers/web/user/profile.go
  web_src/css/user.css
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25993 Fix commit status color on dashboard repolist
  web_src/js/components/DashboardRepoList.vue
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26006 Fix awesome-gitea link in 1.19
  docs/content/page/index.en-us.md
Labels: kind/docs, lgtm/done, size/XS

#25882 Fix bug when pushing to a pull request which enabled dismiss approval automatically
  models/issues/issue.go
  models/issues/pull.go
  models/issues/review.go
  models/issues/review_list.go
  models/issues/review_test.go
  services/pull/pull.go
  services/pull/review.go
  services/repository/push.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.19, backport/v1.20

#26000 Add a link to OpenID Issuer URL in WebFinger response
  routers/web/webfinger.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS

#25831 Add file status for API "Get a single commit from a repository" (#16205)
  modules/structs/repo_commit.go
  services/convert/git_commit.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api, reviewed/wait-merge, size/XS

#26001 Fix env config parsing for "GITEA____APP_NAME"
  modules/setting/config_env.go
  modules/setting/config_env_test.go
Labels: kind/bug, lgtm/done, kind/regression, reviewed/wait-merge, size/XS, backport/v1.20

#26004 Correctly refer to dev tags as nightly in the docker docs
  docs/content/doc/installation/with-docker-rootless.en-us.md
  docs/content/doc/installation/with-docker.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XS

#25999 Remove nfnt/resize and oliamb/cutter
  assets/go-licenses.json
  go.mod
  go.sum
  modules/avatar/avatar.go
Labels: lgtm/done, dependencies, reviewed/wait-merge, size/M

#26016 Fix the route for pull-request's authors
  routers/web/repo/issue.go
  routers/web/web.go
Labels: lgtm/done, reviewed/wait-merge, size/S, reviewed/prioritize-merge, backport/v1.20

#25981 RPM Registry: Show zypper commands for SUSE based distros as well
  docs/content/doc/usage/packages/overview.en-us.md
  docs/content/doc/usage/packages/overview.zh-cn.md
  docs/content/doc/usage/packages/rpm.en-us.md
  docs/content/doc/usage/packages/rpm.zh-cn.md
  options/locale/locale_en-US.ini
  templates/package/content/rpm.tmpl
Labels: kind/docs, lgtm/done, kind/package, reviewed/wait-merge, size/S, backport/v1.20

#26021 Adding remaining enum for migration repo model type.
  modules/structs/repo.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, size/XS

#26024 Remove redundant "RouteMethods" method
  modules/web/route.go
  routers/api/packages/api.go
  routers/install/routes.go
  routers/web/web.go
Labels: lgtm/done, kind/refactor, size/M

#24874 Actions Artifacts support uploading multiple files and directories
  models/actions/artifact.go
  models/migrations/migrations.go
  models/migrations/v1_21/v265.go
  routers/api/actions/artifacts.go
  routers/api/actions/artifacts_chunks.go
  routers/api/actions/artifacts_utils.go
  routers/web/repo/actions/view.go
  routers/web/web.go
  tests/integration/api_actions_artifact_test.go
  web_src/js/components/RepoActionView.vue
Labels: lgtm/done, reviewed/wait-merge, theme/cicd, size/XL

#26026 Reduce margins on admin pages
  templates/admin/layout_head.tmpl
  templates/admin/navbar.tmpl
  web_src/css/admin.css
Labels: kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#26025 Update JS dependencies
  .eslintrc.yaml
  .stylelintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/S

#25889 Support copy protected branch from template repository
  modules/repository/generate.go
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  routers/web/repo/repo.go
  services/forms/repo_form.go
  services/repository/template.go
  templates/repo/create.tmpl
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/L

#26008 Update README.md to fix the broken link of Hugo
  docs/README.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25875 Fix escape problems in the branch selector
  web_src/js/components/RepoBranchTagSelector.vue
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS
