Repository go-gitea/gitea, pull requests merged in 2023-08, with the labels that each got.

#26257 Some fixes of the prompt of new branches
  models/git/branch.go
  routers/web/repo/view.go
  templates/repo/code/recently_pushed_new_branches.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#26268 Fix due date rendering the wrong date in issue
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, kind/ui, lgtm/done, kind/regression, reviewed/wait-merge, size/XS, backport/v1.20

#26273 Update Arch linux URL from community to extra
  docs/content/installation/from-package.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, size/XS, backport/v1.19, backport/v1.20

#26262 speed up TestEventSourceManagerRun
  tests/test_utils.go
Labels: lgtm/done, kind/testing, reviewed/wait-merge, size/XS

#26267 Clarify the logger's MODE config option
  docs/content/administration/logging-config.en-us.md
  modules/setting/log.go
Labels: kind/bug, kind/docs, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26260 add some Wiki unit tests
  services/wiki/wiki_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S

#26261 add unit test for user renaming
  services/user/user_test.go
Labels: lgtm/done, kind/testing, size/M

#26297 Upgrade x/net to 0.13.0
  go.mod
  go.sum
Labels: lgtm/done, dependencies, reviewed/wait-merge, size/XS, backport/v1.20

#26286 Fix the topic validation rule and suport dots
  models/repo/topic.go
  models/repo/topic_test.go
  options/locale/locale_en-US.ini
  web_src/js/features/repo-home.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26301 Upgrade x/net to 0.13.0
  go.mod
  go.sum
Labels: lgtm/done, size/XS

#26302 Update Gmail example
  docs/content/administration/email-setup.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25069 Make confusable character warning less jarring
  options/locale/locale_en-US.ini
  templates/repo/unicode_escape_prompt.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S

#26287 Remove nonsense `<a>` for commit status check icon
  templates/repo/issue/view_content/pull.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS

#26312 Use yellow if an approved review is stale
  models/issues/review.go
Labels: lgtm/done, size/XS

#26296 Add locale for deleted head branch
  options/locale/locale_en-US.ini
  routers/web/repo/pull.go
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/XS

#26228 Add `Retry` button when creating a mirror-repo fails
  options/locale/locale_en-US.ini
  routers/web/repo/migrate.go
  routers/web/web.go
  services/task/task.go
  templates/repo/migrate/migrating.tmpl
  web_src/js/features/repo-migrate.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#26290 Support getting changed files when commit ID is `EmptySHA`
  modules/git/repo_compare.go
  modules/git/repo_compare_test.go
  modules/git/sha1.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, size/M, backport/v1.20

#26271 Fix the wrong derive path
  modules/setting/storage.go
  modules/setting/storage_test.go
Labels: kind/bug, lgtm/done, kind/breaking, reviewed/wait-merge, size/L, backport/v1.20

#26317 Update documentation for 1.21 actions
  docs/content/usage/actions/act-runner.en-us.md
  docs/content/usage/actions/act-runner.zh-cn.md
Labels: kind/docs, lgtm/done, size/M

#26328 Fix typos and grammer problems for actions documentation
  docs/content/usage/actions/act-runner.en-us.md
  docs/content/usage/actions/act-runner.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M

#26325 Make git batch operations use parent context timeout instead of default timeout
  modules/git/batch_reader.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26298 Delete `issue_service.CreateComment`
  models/issues/comment.go
  services/issue/comments.go
  services/pull/comment.go
  services/pull/pull.go
  services/pull/review.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/M

#26324 Fix incorrect color of selected assignees when create issue
  templates/repo/issue/new_form.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#26295 Do not show Profile README when repository is private
  routers/web/shared/user/header.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS

#26300 Add highlight to selected repos in milestone dashboard
  routers/web/user/home.go
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/S

#26304 Remove commit load branches and tags in wiki repo
  templates/repo/commit_load_branches_and_tags.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS

#26305 Fix bug with sqlite load read
  models/activities/notification.go
  models/activities/notification_test.go
  models/issues/issue_user.go
  models/issues/issue_user_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#26335 Refactor backend SVG package and add tests
  modules/html/html.go
  modules/svg/processor.go
  modules/svg/processor_test.go
  modules/svg/svg.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#26320 Fix the bug when getting files changed for `pull_request_target` event
  modules/actions/workflows.go
  modules/actions/workflows_test.go
  services/actions/notifier_helper.go
  tests/integration/actions_trigger_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, size/M

#26332 Prevent newline errors with Debian packages
  modules/packages/debian/metadata.go
  services/packages/debian/repository.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, size/S, backport/v1.20

#26337 Fix log typo in task.go
  models/actions/task.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, theme/cicd, size/XS, backport/v1.20

#26340 Hide `last indexed SHA` when a repo could not be indexed yet
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26344 Remove backslashed newlines on markdown
  docs/content/usage/agit-support.en-us.md
Labels: kind/docs, lgtm/done, size/XS, backport/v1.20

#26341 Improve CLI and messages
  cmd/main.go
  cmd/web.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/M

#26346 Fix incorrect CLI exit code and duplicate error message
  cmd/main.go
  cmd/main_test.go
  main.go
  modules/test/utils.go
Labels: kind/bug, lgtm/done, backport/done, size/L, backport/v1.20

#26347 Fix incorrect CLI exit code and duplicate error message (#26346)
  cmd/main.go
  cmd/main_test.go
  main.go
  modules/test/utils.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L

#26349 [docs] Add missing backtick in quickstart.zh-cn.md
  docs/content/usage/actions/quickstart.zh-cn.md
Labels: lgtm/done, reviewed/wait-merge, size/XS

#26350 Fix API leaking Usermail if not logged in (#25097)
  models/user/user.go
  services/convert/user.go
  tests/integration/api_user_info_test.go
  tests/integration/api_user_search_test.go
Labels: kind/bug, kind/security, lgtm/done, kind/api, reviewed/wait-merge, size/M

#26356 [docs] Fix Gmail configuration
  docs/content/administration/email-setup.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, size/XS

#26352 Display human-readable text instead of cryptic filemodes
  options/locale/locale_en-US.ini
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#26358 Display human-readable text instead of cryptic filemodes (#26352)
  options/locale/locale_en-US.ini
  services/gitdiff/gitdiff.go
  templates/repo/diff/box.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#26353 Fix nil pointer dereference error when open link with invalid pull index
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/M

#26279 Bypass MariaDB performance bug of the "IN" sub-query, fix incorrect IssueIndex
  models/activities/action.go
  models/activities/action_test.go
  services/issue/issue.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#26365 Do not highlight `#number` in documents
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
Labels: lgtm/done, theme/markdown, reviewed/wait-merge, size/M

#26373 Add changelog for 1.20.3
  CHANGELOG.md
Labels: lgtm/done, changelog, skip-changelog, size/M, backport/v1.20

#26369 Use more `IssueList` instead of `[]*Issue`
  models/issues/issue.go
  models/issues/issue_project.go
  models/issues/issue_search.go
  routers/web/user/notification.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/S

#26374 Fix incorrect sort link with `.profile` repository
  templates/explore/repo_search.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/S, backport/v1.20

#26354 Fix text truncate
  web_src/css/base.css
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25307 Allow package cleanup from admin page
  options/locale/locale_en-US.ini
  routers/web/admin/packages.go
  routers/web/web.go
  services/cron/tasks_basic.go
  services/packages/cleanup/cleanup.go
  templates/admin/packages/list.tmpl
  tests/integration/api_packages_test.go
Labels: kind/feature, lgtm/done, theme/package-registry, reviewed/wait-merge, size/M

#26254 Start using template context function
  modules/context/context.go
  modules/context/context_response.go
  modules/context/context_template.go
  modules/templates/helper.go
  modules/templates/htmlrenderer.go
  modules/test/context_tests.go
  routers/common/errpage.go
  routers/install/install.go
  routers/web/auth/oauth.go
  routers/web/swagger_json.go
  templates/base/footer.tmpl
  templates/base/head.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#26387 Remove unnecessary template helper repoAvatar
  modules/templates/helper.go
  modules/templates/util_avatar.go
  templates/explore/repo_list.tmpl
  templates/org/team/repositories.tmpl
  templates/repo/header.tmpl
  templates/repo/icon.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/M

#26364 fix generated source URL on rendered files
  models/fixtures/repo_unit.yml
  templates/repo/view_file.tmpl
  tests/integration/repo_test.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#26391 Refactor "editorconfig"
  modules/templates/util_misc.go
  routers/web/repo/editor.go
  templates/repo/editor/edit.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/S

#26213 Improve multiple strings in en-US locale
  options/locale/locale_en-US.ini
  templates/repo/settings/options.tmpl
  tests/e2e/example.test.e2e.js
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/L

#26314 Use flex classes in package settings
  templates/org/team/members.tmpl
  templates/package/settings.tmpl
Labels: kind/bug, kind/ui, lgtm/done, kind/regression, skip-changelog, reviewed/wait-merge, size/M

#26400 fix artifact merging chunks path with correct slash on Windows
  routers/api/actions/artifacts_chunks.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26392 Introduce ctx.PathParamRaw to avoid incorrect unescaping
  modules/context/base.go
  routers/api/v1/repo/wiki.go
  routers/web/repo/wiki.go
  services/wiki/wiki_path.go
  services/wiki/wiki_test.go
Labels: kind/bug, lgtm/done, size/M, backport/v1.20

#26401 Add pull request review request webhook event
  services/webhook/general.go
Labels: kind/bug, kind/enhancement, lgtm/done, theme/webhook, reviewed/wait-merge, size/XS, backport/v1.20

#26388 Make `user-content-* ` consistent with github
  modules/markup/common/footnote.go
  modules/markup/common/footnote_test.go
Labels: lgtm/done, reviewed/wait-merge, size/M

#26291 Pre-register OAuth2 applications for git credential helpers
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/development/oauth2-provider.en-us.md
  models/auth/oauth2.go
  modules/setting/oauth2.go
  options/locale/locale_en-US.ini
  routers/init.go
  routers/web/admin/applications.go
  routers/web/repo/http.go
  templates/user/settings/applications_oauth2_list.tmpl
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/L

#26409 Fix admin queue page title and fix CI failures
  modules/ssh/ssh.go
  routers/web/admin/queue.go
  tests/test_utils.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#26259 Add transaction when creating pull request to avoid creating dirty data
  models/issues/pull.go
  models/issues/pull_test.go
  models/issues/review.go
  routers/web/repo/issue.go
  services/issue/assignee.go
  services/issue/issue.go
  services/pull/patch.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#26385 Use template context function for avatar rendering
  modules/context/context.go
  modules/templates/helper.go
  modules/templates/util_avatar.go
  routers/web/repo/blame.go
  templates/base/head_navbar.tmpl
  templates/explore/users.tmpl
  templates/org/header.tmpl
  templates/org/home.tmpl
  templates/org/member/members.tmpl
  templates/org/team/invite.tmpl
  templates/org/team/members.tmpl
  templates/org/team/teams.tmpl
  templates/projects/view.tmpl
  templates/repo/actions/list.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/create.tmpl
  templates/repo/diff/comments.tmpl
  templates/repo/editor/commit_form.tmpl
  templates/repo/forks.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/issue/filters.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/migrate/codebase.tmpl
  templates/repo/migrate/git.tmpl
  templates/repo/migrate/gitbucket.tmpl
  templates/repo/migrate/gitea.tmpl
  templates/repo/migrate/github.tmpl
  templates/repo/migrate/gitlab.tmpl
  templates/repo/migrate/gogs.tmpl
  templates/repo/migrate/onedev.tmpl
  templates/repo/projects/view.tmpl
  templates/repo/pulls/fork.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/collaboration.tmpl
  templates/repo/settings/lfs_locks.tmpl
  templates/repo/settings/protected_branch.tmpl
  templates/repo/settings/tags.tmpl
  templates/repo/shabox_badge.tmpl
  templates/repo/user_cards.tmpl
  templates/repo/view_list.tmpl
  templates/shared/issuelist.tmpl
  templates/shared/user/avatarlink.tmpl
  templates/shared/user/org_profile_avatar.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  templates/user/dashboard/feeds.tmpl
  templates/user/dashboard/navbar.tmpl
  templates/user/settings/organization.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#26421 Fix admin queue page title and fix CI failures (#26409)
  modules/ssh/ssh.go
  routers/web/admin/queue.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S

#26428 Fix wrong middleware sequence
  routers/web/web.go
Labels: kind/bug, lgtm/done, size/XS, backport/v1.20

#26412 minio: add missing region on client initialization
  modules/storage/minio.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26424 Fix the display of orgs listed in user profile
  web_src/css/user.css
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#26440 Fix incorrect redirection in new issue using references
  templates/repo/issue/view_content/reference_issue_dialog.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS

#26444 Always show usernames in reaction tooltips
  models/issues/reaction.go
  models/issues/reaction_test.go
Labels: lgtm/done, reviewed/wait-merge, size/XS

#26433 Lock go to 1.21 on CI
  .github/workflows/cron-licenses.yml
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-db-tests.yml
  .github/workflows/pull-e2e-tests.yml
  .github/workflows/release-nightly.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/S

#26422 Target specific OS for devcontainer base image
  .devcontainer/devcontainer.json
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.20

#26396 Call git.InitSimple for runRepoSyncReleases
  cmd/admin.go
Labels: kind/bug, lgtm/done, size/XS, backport/v1.20

#26449 Update JS dependencies
  package-lock.json
  package.json
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/S

#26445 Fall back to esbuild for css minify
  webpack.config.js
Labels: kind/enhancement, lgtm/done, kind/build, reviewed/wait-merge, size/S

#26437 Add transaction when creating pull request created dirty data (#26259)
  models/issues/pull.go
  models/issues/pull_test.go
  models/issues/review.go
  routers/web/repo/issue.go
  services/issue/assignee.go
  services/issue/issue.go
  services/pull/patch.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L

#26451 Update upgrade documentation to add a check for deprecated configurations
  docs/content/installation/upgrade-from-gitea.en-us.md
  docs/content/installation/upgrade-from-gitea.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#26453 Improve profile readme rendering (#25988)
  routers/web/user/profile.go
  web_src/css/user.css
Labels: lgtm/done, size/XS

#25928 Count only visible repos on profile
  models/repo/repo_list.go
  models/repo/repo_list_test.go
  routers/web/org/home.go
  routers/web/org/projects.go
  routers/web/shared/user/header.go
  routers/web/user/package.go
  routers/web/user/profile.go
  templates/org/menu.tmpl
  templates/user/overview/header.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#26446 Fix URL of padlock icon in profile
  templates/shared/user/profile_big_avatar.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#26459 remove unnecessary explore org template
  routers/web/explore/org.go
  templates/explore/organizations.tmpl
Labels: lgtm/done, kind/refactor, skip-changelog, size/XS

#26455 Update index doc
  docs/content/index.en-us.md
  docs/content/index.zh-tw.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XL

#26362 Fix 404 error when remove self from an organization
  routers/web/org/teams.go
Labels: lgtm/done, kind/ux, size/M

#26447 Set commit id when ref used explicitly
  modules/context/api.go
Labels: lgtm/done, reviewed/wait-merge, size/XS

#26420 Adjust minio new sequence, now it will check whether bucket exist first and then create one if it doesn't exist
  modules/storage/minio.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#26278 Tweak actions menu
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#26462 Avoiding accessing undefined tributeValues #26461
  web_src/js/features/tribute.js
  web_src/js/utils/match.js
Labels: kind/bug, lgtm/done, size/XS

#26461 Avoiding accessing undefined mentionValues
  web_src/js/features/tribute.js
  web_src/js/utils/match.js
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS

#26448 Refactor project templates
  models/project/project.go
  routers/web/org/projects.go
  routers/web/repo/projects.go
  templates/projects/list.tmpl
  templates/projects/new.tmpl
  templates/projects/view.tmpl
  templates/repo/issue/card.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/projects/view.tmpl
  web_src/css/features/projects.css
  web_src/css/helpers.css
  web_src/css/index.css
  web_src/css/repo.css
  web_src/css/repo/issue-card.css
  web_src/js/features/repo-issue-list.js
  web_src/js/features/repo-projects.js
Labels: kind/enhancement, kind/ui, lgtm/done, kind/refactor, reviewed/wait-merge, size/XXL

#26382 Add matrix to support
  docs/content/help/support.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XS

#26468 Remove last newline from config file
  modules/setting/config_env.go
  modules/setting/config_env_test.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#26464 Refactor tests
  cmd/web.go
  tests/e2e/e2e_test.go
  tests/e2e/utils_e2e_test.go
  tests/integration/api_activitypub_person_test.go
  tests/integration/api_nodeinfo_test.go
  tests/integration/api_repo_file_create_test.go
  tests/integration/benchmarks_test.go
  tests/integration/create_no_session_test.go
  tests/integration/git_helper_for_declarative_test.go
  tests/integration/gpg_git_test.go
  tests/integration/integration_test.go
  tests/test_utils.go
Labels: lgtm/done, kind/testing, kind/refactor, reviewed/wait-merge, size/L

#26470 Close stdout correctly for "git blame"
  modules/git/blame.go
Labels: kind/bug, lgtm/done, size/S, backport/v1.20

#26434 Use correct pull request commit link instead of a generic commit link
  templates/repo/commits_list.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS

#26477 Fix stderr usages
  cmd/admin_user_create.go
  models/migrations/migrations.go
  services/gitdiff/gitdiff.go
Labels: kind/enhancement, lgtm/done, size/S

#25996 Add ThreadID parameter for Telegram webhooks
  options/locale/locale_en-US.ini
  routers/web/repo/setting/webhook.go
  services/forms/repo_form.go
  services/webhook/telegram.go
  templates/repo/settings/webhook/telegram.tmpl
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/S

#26441 Fix storage path logic especially for relative paths
  modules/setting/storage.go
  modules/setting/storage_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#26476 fix grab cursor on default column
  templates/projects/view.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#26472 Fix tooltip of commit select button
  routers/web/repo/pull.go
  templates/repo/diff/box.tmpl
  web_src/js/components/DiffCommitSelector.vue
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25613 Fix NuGet search endpoints
  models/db/common.go
  models/packages/nuget/search.go
  models/packages/package_version.go
  routers/api/packages/nuget/api_v3.go
  routers/api/packages/nuget/nuget.go
  tests/integration/api_packages_nuget_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, size/L, backport/v1.20

#26406 Update zh-cn documentation
  docs/content/administration/config-cheat-sheet.zh-cn.md
  docs/content/index.zh-cn.md
  docs/content/installation/comparison.zh-cn.md
  docs/content/installation/from-binary.zh-cn.md
  docs/content/installation/from-package.zh-cn.md
  docs/content/installation/upgrade-from-gogs.zh-cn.md
  docs/content/installation/windows-service.zh-cn.md
  docs/content/usage/permissions.zh-cn.md
  docs/content/usage/pull-request.zh-cn.md
  docs/content/usage/repo-mirror.zh-cn.md
  docs/content/usage/template-repositories.zh-cn.md
Labels: kind/docs, lgtm/done, size/XXL

#26478 Allow to archive labels
  models/fixtures/label.yml
  models/issues/label.go
  models/issues/label_test.go
  models/migrations/migrations.go
  models/migrations/v1_21/v271.go
  modules/structs/issue_label.go
  options/locale/locale_en-US.ini
  routers/api/v1/org/label.go
  routers/api/v1/repo/label.go
  routers/web/org/org_labels.go
  routers/web/repo/issue_label.go
  routers/web/repo/issue_label_test.go
  services/convert/issue.go
  services/forms/repo_form.go
  templates/repo/issue/labels/edit_delete_label.tmpl
  templates/repo/issue/labels/label_list.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/features/comp/LabelEdit.js
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/L

#26483 Handle base64 decoding correctly to avoid panic
  cmd/generate.go
  modules/generate/generate.go
  modules/setting/lfs.go
  modules/setting/oauth2.go
  modules/util/util.go
  modules/util/util_test.go
  routers/install/install.go
  services/auth/source/oauth2/jwtsigningkey.go
Labels: kind/bug, lgtm/done, size/M

#26492 Move dropzone progress bar to bottom to show filename when uploading
  web_src/css/features/dropzone.css
Labels: kind/ui, lgtm/done, size/XS

#26494 Detect ogg mime-type as audio or video
  modules/typesniffer/typesniffer.go
  modules/typesniffer/typesniffer_test.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#26510 Set "type=button" for editor's toolbar buttons
  web_src/js/features/comp/ComboMarkdownEditor.js
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26485 Add API route to list org secrets
  models/secret/secret.go
  modules/structs/secret.go
  routers/api/v1/api.go
  routers/api/v1/org/action.go
  routers/api/v1/swagger/action.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api, reviewed/wait-merge, size/L

#26520 Use `hidden` over `clip` for text truncation
  web_src/css/base.css
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26363 Fix display problems of members and teams unit
  modules/context/org.go
  routers/web/org/home.go
  templates/org/home.tmpl
  templates/org/menu.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M

#26490 Fix project filter bugs
  models/issues/issue_search.go
  models/issues/issue_stats.go
  modules/indexer/issues/dboptions.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#26523 Remove duplicate CSS import for chroma/base.css
  web_src/css/themes/theme-arc-green.css
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#26519 Fix dark theme highlight for "NameNamespace"
  web_src/css/chroma/dark.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26115 Improve clickable area in repo action view page
  web_src/js/components/RepoActionView.vue
Labels: lgtm/done, reviewed/wait-merge, size/S

#26508 Fix typo of RunerOwnerID
  routers/web/shared/actions/runners.go
  templates/shared/actions/runner_list.tmpl
Labels: lgtm/done, kind/misc, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.20

#26524 Use unique class for breadcrumb divider
  templates/repo/editor/cherry_pick.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/editor/patch.tmpl
  templates/repo/editor/upload.tmpl
  templates/repo/home.tmpl
  web_src/css/modules/breadcrumb.css
  web_src/js/features/repo-editor.js
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#26499 Fix NuGet search endpoints (#25613)
  models/db/common.go
  models/packages/nuget/search.go
  models/packages/package_version.go
  routers/api/packages/nuget/api_v3.go
  routers/api/packages/nuget/nuget.go
  tests/integration/api_packages_nuget_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, size/L

#26532 Improve deadline icon location in milestone list page
  templates/repo/issue/milestones.tmpl
Labels: kind/ui, lgtm/done, size/XS

#26539 Add missing triggers to update issue indexer
  modules/notification/indexer/indexer.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M

#26534 Update go dependencies
  assets/go-licenses.json
  go.mod
  go.sum
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/L

#26542 Explain SearchOptions and fix ToSearchOptions
  modules/indexer/issues/db/options.go
  modules/indexer/issues/dboptions.go
  modules/indexer/issues/internal/model.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M

#26469 Remove fomantic transition module
  web_src/css/base.css
  web_src/css/modules/animations.css
  web_src/css/themes/theme-arc-green.css
  web_src/fomantic/build/semantic.css
  web_src/fomantic/build/semantic.js
  web_src/fomantic/semantic.json
  web_src/js/modules/fomantic.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XXL

#26517 Sync repo's IsEmpty status correctly
  modules/git/repo.go
  routers/web/repo/editor.go
  services/repository/files/update.go
Labels: kind/bug, lgtm/done, size/S, backport/v1.20

#26556 Fix "issueReposQueryPattern does not match query"
  routers/web/user/home.go
  templates/user/dashboard/issues.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26557 Fix label filter between `all` and `no`
  routers/web/repo/issue.go
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#26546 Support rebuilding issue indexer manually
  modules/indexer/issues/indexer.go
  options/locale/locale_en-US.ini
  services/cron/tasks_extended.go
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/M

#26545 Return empty when searching issues with no repos
  routers/api/v1/repo/issue.go
  routers/web/repo/issue.go
  routers/web/user/home.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S

#26553 Fix various line-height styles
  web_src/css/admin.css
  web_src/css/base.css
  web_src/css/repo.css
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#26575 Add minimum polyfill to support "relative-time-element" in PaleMoon
  web_src/js/webcomponents/polyfill.js
  web_src/js/webcomponents/webcomponents.js
Labels: kind/enhancement, lgtm/done, size/S, backport/v1.20

#26589 Bump xgo to go-1.21.x and node to 20 in release-version
  .drone.yml
Labels: lgtm/done, kind/build, size/XS

#26588 Allow text selection in actions step header
  web_src/js/components/RepoActionView.vue
Labels: kind/ui, lgtm/done, reviewed/wait-merge, theme/cicd, size/XS

#26565 Rewrite the DiffFileTreeItem and fix misalignment
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/DiffFileTreeItem.vue
Labels: kind/bug, lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#26547 docs: template variables
  docs/content/administration/customizing-gitea.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/S

#26586 Update JS dependencies
  package-lock.json
  package.json
  public/assets/img/svg/octicon-feed-issue-closed.svg
  public/assets/img/svg/octicon-feed-issue-draft.svg
  public/assets/img/svg/octicon-feed-issue-open.svg
  public/assets/img/svg/octicon-feed-plus.svg
  public/assets/img/svg/octicon-feed-public.svg
  public/assets/img/svg/octicon-feed-pull-request-closed.svg
  public/assets/img/svg/octicon-feed-pull-request-draft.svg
  public/assets/img/svg/octicon-feed-pull-request-open.svg
  web_src/js/render/ansi.js
Labels: lgtm/done, dependencies, reviewed/wait-merge, size/M

#26399 fix reopen logic for agit flow pull request
  routers/web/repo/issue.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#26558 Fix project filter bugs (#26490)
  models/issues/issue_search.go
  models/issues/issue_stats.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S

#26592 Do not use deprecated log config options by default
  docker/root/etc/templates/app.ini
  tests/mssql.ini.tmpl
  tests/mysql.ini.tmpl
  tests/mysql8.ini.tmpl
  tests/pgsql.ini.tmpl
  tests/sqlite.ini.tmpl
Labels: kind/bug, kind/docs, lgtm/done, size/S, backport/v1.20

#26602 Use "input" event instead of "keyup" event for migration form
  web_src/js/features/repo-migration.js
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#26595 Fix NPM packages name validation
  modules/packages/npm/creator.go
  modules/packages/npm/creator_test.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, size/S, backport/v1.20

#26609 Update 1.20.3 changelog
  CHANGELOG.md
Labels: lgtm/done, changelog, skip-changelog, reviewed/wait-merge, size/M, backport/v1.20

#26608 bump go to 1.21
  Dockerfile
  Dockerfile.rootless
  Makefile
Labels: lgtm/done, kind/build, reviewed/wait-merge, size/XS

#26607 Update tool dependencies
  .github/workflows/files-changed.yml
  Makefile
  modules/web/routing/logger_manager.go
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/XS

#26616 Set errwriter for urfave/cli v1
  main.go
Labels: kind/bug, lgtm/done, kind/regression, kind/upstream-related, size/XS

#26597 Ignore the trailing slashes when comparing oauth2 redirect_uri
  models/auth/oauth2.go
  models/auth/oauth2_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#26326 Add link to job details and tooltip to commit status in repo list in dashboard
  models/git/commit_status.go
  modules/structs/commit_status.go
  options/locale/locale_en-US.ini
  routers/web/repo/repo.go
  services/repository/repository.go
  web_src/js/components/DashboardRepoList.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#26581 Replace box-shadow for `floating` dropdown as well
  web_src/css/base.css
  web_src/css/themes/theme-arc-green.css
Labels: kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#26599 Add `branch_filter` to hooks API endpoints
  modules/structs/hook.go
  services/webhook/general.go
  templates/swagger/v1_json.tmpl
Labels: kind/enhancement, lgtm/done, kind/api, reviewed/wait-merge, size/XS, backport/v1.20

#26569 Improve translation of milestone filters
  options/locale/locale_en-US.ini
  templates/repo/issue/milestones.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, kind/translation, reviewed/wait-merge, size/XS

#26613 fix reopen logic for agit flow pull request (#26399)
  routers/web/repo/issue.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M

#26631 Improve the branch selector tab UI
  web_src/css/repo.css
  web_src/js/components/RepoBranchTagSelector.vue
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M

#26563 Add optimistic lock to ActionRun table
  models/actions/run.go
  models/actions/run_job.go
  models/actions/task.go
  models/migrations/migrations.go
  models/migrations/v1_21/v272.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, theme/cicd, size/M

#26598 Remove avatarHTML from template helpers
  modules/templates/helper.go
  templates/user/dashboard/feeds.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/XS
