Repository go-gitea/gitea, pull requests merged in 2023-05, with the labels that each got.

#24446 Move links out of translation
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_el-GR.ini
  options/locale/locale_en-US.ini
  options/locale/locale_es-ES.ini
  options/locale/locale_fi-FI.ini
  options/locale/locale_is-IS.ini
  options/locale/locale_it-IT.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-TW.ini
  templates/package/content/cargo.tmpl
  templates/package/content/chef.tmpl
  templates/package/content/composer.tmpl
  templates/package/content/conan.tmpl
  templates/package/content/conda.tmpl
  templates/package/content/container.tmpl
  templates/package/content/generic.tmpl
  templates/package/content/helm.tmpl
  templates/package/content/maven.tmpl
  templates/package/content/npm.tmpl
  templates/package/content/nuget.tmpl
  templates/package/content/pub.tmpl
  templates/package/content/pypi.tmpl
  templates/package/content/rubygems.tmpl
  templates/package/content/swift.tmpl
  templates/package/content/vagrant.tmpl
  templates/package/shared/cargo.tmpl
  templates/package/shared/list.tmpl
  templates/user/settings/packages.tmpl
Labels: lgtm/done, kind/translation, kind/refactor, reviewed/wait-merge, size/XL

#24455 Replace remaining fontawesome dropdown icons with SVG
  templates/package/settings.tmpl
  templates/repo/graph.tmpl
  templates/repo/issue/fields/dropdown.tmpl
  web_src/css/base.css
  web_src/css/features/gitgraph.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/S

#24462 Remove unnecessary g-menu-stackable-scrollable
  templates/user/dashboard/navbar.tmpl
  web_src/css/base.css
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/S

#24464 Remove .lgtm and reference to old bot
  .lgtm
  CONTRIBUTING.md
Labels: lgtm/done, kind/misc, skip-changelog, reviewed/wait-merge, size/XS

#24350 Add rerun workflow button and refactor to use SVG octicons
  routers/web/repo/actions/view.go
  routers/web/web.go
  web_src/js/components/RepoActionView.vue
  web_src/js/svg.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#24467 Remove less/_repository.less
  web_src/less/_repository.less
Labels: lgtm/done, reviewed/wait-merge, size/XXL

#24463 Remove fomantic breadcrumb module
  templates/repo/editor/cherry_pick.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/editor/patch.tmpl
  templates/repo/editor/upload.tmpl
  templates/repo/home.tmpl
  web_src/css/base.css
  web_src/css/editor.css
  web_src/css/index.css
  web_src/css/modules/breadcrumb.css
  web_src/css/repository.css
  web_src/fomantic/build/semantic.css
  web_src/fomantic/semantic.json
Labels: kind/ui, lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#24465 Improve "new-menu"
  templates/explore/navbar.tmpl
  templates/repo/diff/image_diff.tmpl
  templates/user/auth/signup_openid_navbar.tmpl
  web_src/css/base.css
  web_src/css/explore.css
  web_src/css/runner.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/S

#24471 Remove `font-awesome` and fomantic `icon` module
  docs/content/doc/administration/cmd-embedded.en-us.md
  package-lock.json
  package.json
  templates/repo/actions/list.tmpl
  templates/repo/issue/labels/edit_delete_label.tmpl
  templates/repo/issue/view_content/pull.tmpl
  web_src/css/index.css
  web_src/fomantic/build/semantic.css
  web_src/fomantic/semantic.json
  webpack.config.js
Labels: kind/ui, lgtm/done, dependencies, reviewed/wait-merge, size/XXL

#24475 replace PR docker dry run in drone with Actions
  .drone.yml
  .github/workflows/pull-docker_dryrun.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/M

#24447 Fix invite display
  templates/org/team/members.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19

#24474 Replace `N/A` with `-` everywhere
  docs/content/doc/usage/linked-references.en-us.md
  modules/timeutil/datetime.go
  modules/timeutil/datetime_test.go
  templates/admin/cron.tmpl
  templates/repo/pulls/tab_menu.tmpl
  templates/repo/settings/protected_branch.tmpl
  templates/repo/settings/webhook/history.tmpl
  web_src/js/features/repo-settings.js
Labels: kind/enhancement, lgtm/done, kind/translation, size/M

#24426 Add Debian package registry
  assets/go-licenses.json
  cmd/migrate_storage_test.go
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/usage/packages/debian.en-us.md
  docs/content/doc/usage/packages/overview.en-us.md
  go.mod
  go.sum
  models/migrations/migrations.go
  models/migrations/v1_20/v256.go
  models/packages/container/search.go
  models/packages/debian/search.go
  models/packages/descriptor.go
  models/packages/package.go
  models/packages/package_file.go
  models/packages/package_version.go
  models/user/setting.go
  modules/packages/debian/metadata.go
  modules/packages/debian/metadata_test.go
  modules/packages/hashed_buffer.go
  modules/packages/hashed_buffer_test.go
  modules/packages/nuget/symbol_extractor.go
  modules/setting/packages.go
  modules/util/filebuffer/file_backed_buffer.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-debian.svg
  routers/api/packages/api.go
  routers/api/packages/cargo/cargo.go
  routers/api/packages/chef/chef.go
  routers/api/packages/composer/composer.go
  routers/api/packages/conan/conan.go
  routers/api/packages/conda/conda.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/debian/debian.go
  routers/api/packages/generic/generic.go
  routers/api/packages/helm/helm.go
  routers/api/packages/maven/maven.go
  routers/api/packages/npm/npm.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/pub/pub.go
  routers/api/packages/pypi/pypi.go
  routers/api/packages/rubygems/rubygems.go
  routers/api/packages/swift/swift.go
  routers/api/packages/vagrant/vagrant.go
  routers/api/v1/packages/package.go
  routers/web/user/package.go
  services/forms/package_form.go
  services/packages/cleanup/cleanup.go
  services/packages/debian/repository.go
  services/packages/packages.go
  templates/package/content/debian.tmpl
  templates/package/metadata/debian.tmpl
  templates/package/view.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_packages_debian_test.go
  web_src/svg/gitea-debian.svg
Labels: kind/feature, lgtm/done, theme/package-registry, reviewed/wait-merge, size/XXL

#24478 Fix test delivery button in repo webhook settings page
  templates/repo/settings/webhook/new.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS

#23811 Add ntlm authentication support for mail
  go.mod
  services/mailer/mailer.go
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/M

#24487 Fix api error message if fork exists
  routers/api/v1/repo/fork.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19

#24472 Enhance stylelint rule config, remove dead CSS
  .stylelintrc.yaml
  web_src/css/base.css
  web_src/css/repository.css
Labels: lgtm/done, kind/lint, kind/refactor, reviewed/wait-merge, size/S

#24489 Fix EasyMDE toolbar
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/comp/EasyMDEToolbarActions.js
  web_src/js/features/repo-wiki.js
  web_src/js/svg.js
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/L

#24397 Improve pull request merge box when pull request merged and branch deleted.
  options/locale/locale_en-US.ini
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/M

#24495 Changelog for 1.19.3
  CHANGELOG.md
Labels: lgtm/done, changelog, frontport/main, size/S

#24452 Implement Cargo HTTP index
  routers/api/packages/api.go
  routers/api/packages/cargo/cargo.go
  services/packages/cargo/index.go
  tests/integration/api_packages_cargo_test.go
Labels: kind/feature, lgtm/done, theme/package-registry, reviewed/wait-merge, size/L

#24459 Make Issue/PR/projects more compact, misc CSS tweaks
  templates/org/member/members.tmpl
  templates/projects/list.tmpl
  templates/repo/actions/openclose.tmpl
  templates/repo/branch_dropdown.tmpl
  templates/repo/commits.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/labels.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/navbar.tmpl
  templates/repo/issue/new.tmpl
  templates/repo/issue/openclose.tmpl
  templates/repo/issue/view.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/pulls/commits.tmpl
  templates/repo/pulls/files.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/sub_menu_release_tag.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/dashboard/milestones.tmpl
  templates/user/notification/notification_subscriptions.tmpl
  tests/integration/issue_test.go
  web_src/css/base.css
  web_src/css/repository.css
  web_src/css/repository/issue-list.css
  web_src/css/repository/list-header.css
  web_src/css/repository/release-tag.css
  web_src/css/themes/theme-arc-green.css
  web_src/js/components/RepoBranchTagSelector.vue
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XL

#24491 Prevent a user with a different email from accepting the team invite
  options/locale/locale_en-US.ini
  routers/web/org/teams.go
  templates/org/team/invite.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M, backport/v1.19

#23753 Fix intermittent CI failure in EmptyQueue
  modules/queue/unique_queue_disk_channel_test.go
Labels: lgtm/done, kind/testing, reviewed/wait-merge, size/M, backport/v1.19

#24494 Use Actions for DB & E2E tests
  .drone.yml
  .github/workflows/cron-licenses.yml
  .github/workflows/cron-translations.yml
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-compliance_docs.yml
  .github/workflows/pull-db_test.yml
  .github/workflows/pull-docker_dryrun.yml
  .github/workflows/pull-e2e.yml
  .github/workflows/push-publish_docs.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/XXL

#24506 Changelog for 1.19.3 (#24495)
  CHANGELOG.md
Labels: lgtm/done, changelog, skip-changelog, reviewed/wait-merge, size/S

#24389 Merge setting.InitXXX into one function with options
  cmd/actions.go
  cmd/cmd.go
  cmd/doctor.go
  cmd/dump.go
  cmd/embedded.go
  cmd/mailer.go
  cmd/main_test.go
  cmd/restore_repo.go
  cmd/serv.go
  cmd/web.go
  models/asymkey/main_test.go
  models/dbfs/main_test.go
  models/issues/main_test.go
  models/main_test.go
  models/migrations/base/tests.go
  models/unittest/testdb.go
  modules/doctor/doctor.go
  modules/doctor/paths.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  modules/setting/config_provider.go
  modules/setting/setting.go
  routers/api/v1/repo/main_test.go
  routers/install/setting.go
  routers/web/user/setting/account_test.go
  services/webhook/main_test.go
  tests/integration/migration-test/migration_test.go
  tests/test_utils.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#24482 Faster git.GetDivergingCommits
  modules/git/repo.go
  modules/git/repo_test.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/M

#24461 Improve template system and panic recovery
  modules/context/access_log.go
  modules/context/api.go
  modules/context/context.go
  modules/context/package.go
  modules/context/private.go
  modules/templates/base.go
  modules/test/context_tests.go
  modules/web/middleware/data.go
  modules/web/middleware/flash.go
  modules/web/middleware/request.go
  modules/web/route.go
  routers/api/v1/admin/user.go
  routers/api/v1/misc/markup_test.go
  routers/common/errpage.go
  routers/common/middleware.go
  routers/install/install.go
  routers/install/routes.go
  routers/web/base.go
  routers/web/web.go
  services/auth/interface.go
  services/auth/middleware.go
  templates/base/head_script.tmpl
  templates/status/500.tmpl
  templates/user/profile.tmpl
  web_src/js/bootstrap.js
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/XL

#24395 Don't display creating page button in a mirror wiki repository
  options/locale/locale_en-US.ini
  templates/repo/settings/options.tmpl
  templates/repo/wiki/pages.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19

#24515 Remove unused zapx replace statement on go.mod
  go.mod
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/XS

#24519 Bump go.etcd.io/bbolt and blevesearch deps (#23062)
  go.mod
  go.sum
Labels: kind/bug, lgtm/done, size/M

#24415 Fix some mistakes when using `ignSignIn`
  routers/web/web.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S

#24510 Fix color for transfer related buttons when having no permission to act
  templates/repo/header.tmpl
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#24514 Fix incorrectly quoted translation
  options/locale/locale_en-US.ini
Labels: lgtm/done, kind/translation, skip-changelog, reviewed/wait-merge, size/XS

#24524 Upgrade to Node 20 on CI, enable actions cancellation
  .drone.yml
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-compliance_docs.yml
  .github/workflows/pull-db_test.yml
  .github/workflows/pull-docker_dryrun.yml
  .github/workflows/pull-e2e.yml
Labels: lgtm/done, kind/build, dependencies, reviewed/wait-merge, size/M

#24512 Display warning when user try to rename default branch
  options/locale/locale_en-US.ini
  templates/repo/branch/list.tmpl
  web_src/js/features/repo-branch.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S

#24525 automate locking closed threads
  .github/lock.yml
  .github/workflows/lock.yml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/M

#24529 Harmonize title formatting in `docs/content/doc/development/api-usage.en-us.md`
  docs/content/doc/development/api-usage.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#24516 Check length of `LogIndexes` in case it is outdated
  routers/web/repo/actions/view.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, size/S

#24537 Fix typo in rename branch dialog
  templates/repo/branch/list.tmpl
Labels: lgtm/done, skip-changelog, size/XS

#24535 Fix form method/class
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#24531 Revert "Prevent a user with a different email from accepting the team invite"
  options/locale/locale_en-US.ini
  routers/web/org/teams.go
  templates/org/team/invite.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M

#24520 Fix mirrors repository disapeared on user dashboard
  templates/user/dashboard/repolist.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#24533 Bump golang deps
  assets/go-licenses.json
  go.mod
  go.sum
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/XL

#24536 Fix the permission of team's `Actions` unit issue
  modules/setting/repository.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19

#24354 Replace placeholders in licenses
  build/generate-go-licenses.go
  modules/repository/init.go
  modules/repository/license.go
  modules/repository/license_test.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/L

#24527 Temporarily disable PATs until next release
  templates/user/settings/applications.tmpl
Labels: lgtm/done, kind/breaking, reviewed/wait-merge, size/XS

#24547 Update LDAP filters to include both username and email address
  docs/content/doc/administration/command-line.en-us.md
  docs/content/doc/usage/authentication.en-us.md
  services/auth/source/ldap/README.md
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/ldap.tmpl
Labels: kind/enhancement, kind/docs, lgtm/done, size/S

#24405 Docs for Gitea Actions
  docs/content/doc/actions.en-us.md
  docs/content/doc/actions/act-runner.en-us.md
  docs/content/doc/actions/comparison.en-us.md
  docs/content/doc/actions/design.en-us.md
  docs/content/doc/actions/faq.en-us.md
  docs/content/doc/actions/overview.en-us.md
  docs/content/doc/actions/quickstart.en-us.md
  docs/content/doc/usage/push.zh-tw.md
  docs/static/images/usage/actions/enable-actions.png
  docs/static/images/usage/actions/labels.png
  docs/static/images/usage/actions/network.png
  docs/static/images/usage/actions/register-runner.png
  docs/static/images/usage/actions/view-job.png
  docs/static/images/usage/actions/view-runner.png
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XL

#23380 Add RPM registry
  assets/go-licenses.json
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/usage/packages/overview.en-us.md
  docs/content/doc/usage/packages/rpm.en-us.md
  go.mod
  go.sum
  models/packages/descriptor.go
  models/packages/package.go
  models/packages/package_file.go
  modules/packages/rpm/metadata.go
  modules/packages/rpm/metadata_test.go
  modules/setting/packages.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-rpm.svg
  routers/api/packages/api.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/rpm/rpm.go
  routers/api/v1/packages/package.go
  services/forms/package_form.go
  services/packages/debian/repository.go
  services/packages/packages.go
  services/packages/rpm/repository.go
  templates/package/content/rpm.tmpl
  templates/package/metadata/rpm.tmpl
  templates/package/view.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_packages_rpm_test.go
  web_src/svg/gitea-rpm.svg
Labels: kind/feature, lgtm/done, theme/package-registry, reviewed/wait-merge, size/XXL

#24556 Check latest version on CI
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-e2e.yml
Labels: lgtm/done, kind/build, reviewed/wait-merge, size/XS

#24546 Fix broken `README` link
  README.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XS

#24189 Require at least one unit to be enabled
  models/repo.go
  models/unit/unit.go
  models/unit/unit_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/repo.go
  routers/web/repo/setting.go
  routers/web/web.go
  templates/explore/navbar.tmpl
  templates/user/profile.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/L

#24550 Change `join_on` translation to `joined_on` and include placeholder for the date
  options/locale/locale_en-US.ini
  templates/explore/organizations.tmpl
  templates/explore/users.tmpl
  templates/repo/user_cards.tmpl
  templates/user/profile.tmpl
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/S

#24557 Fix incorrect user visibility
  templates/user/dashboard/navbar.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS

#24559 Improve wiki user title test
  services/wiki/wiki_test.go
Labels: lgtm/done, kind/testing, skip-changelog, reviewed/wait-merge, size/XS

#24561 Fix docs failing the build on `main`
  docs/content/doc/usage/packages/rpm.en-us.md
Labels: kind/docs, lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/XS, reviewed/prioritize-merge

#24563 Change `valid_until` translation to `valid_until_date` and include placeholder for the date
  options/locale/locale_en-US.ini
  templates/user/settings/keys_gpg.tmpl
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/XS

#24562 Change `add_on` translation to `added_on` and include placeholder for the date
  options/locale/locale_en-US.ini
  templates/repo/settings/deploy_keys.tmpl
  templates/shared/secrets/add_list.tmpl
  templates/user/settings/applications.tmpl
  templates/user/settings/grants_oauth2.tmpl
  templates/user/settings/keys_gpg.tmpl
  templates/user/settings/keys_principal.tmpl
  templates/user/settings/keys_ssh.tmpl
Labels: lgtm/done, kind/translation, reviewed/wait-merge, size/S

#24279 Sort users and orgs on explore by recency by default
  modules/context/form.go
  routers/web/admin/orgs.go
  routers/web/admin/users.go
  routers/web/explore/org.go
  routers/web/explore/user.go
  tests/integration/setting_test.go
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#24558 Add org visibility label to non-organization's dashboard
  templates/user/dashboard/repolist.tmpl
  web_src/js/components/DashboardRepoList.vue
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#24565 Makefile: Use portable !, not GNUish -not, with find(1).
  Makefile
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19

#24570 Simplify template helper functions
  modules/templates/helper.go
  modules/templates/util_misc.go
  services/gitdiff/gitdiff.go
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/M

#24573 Improve decryption failure message
  modules/secret/secret.go
  modules/secret/secret_test.go
Labels: kind/docs, lgtm/done, size/M, backport/v1.19

#24575 Improve decryption failure message (#24573)
  modules/secret/secret.go
  modules/secret/secret_test.go
Labels: lgtm/done, reviewed/wait-merge, size/M

#24479 Add goto issue id function
  options/locale/locale_en-US.ini
  templates/repo/issue/search.tmpl
  templates/user/dashboard/issues.tmpl
  web_src/js/features/repo-issue.js
  web_src/js/index.js
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#24576 Fix broken link in tests/e2e/README
  tests/e2e/README.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#24231 Refresh the refernce of the closed PR when reopening
  models/issues/pull.go
  models/issues/pull_list.go
  models/issues/pull_test.go
  routers/web/repo/issue.go
  services/pull/pull.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.19

#24473 Pass 'not' to commit count
  modules/context/repo.go
  modules/git/commit.go
  modules/git/commit_test.go
  modules/git/repo_commit.go
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/wiki.go
  routers/web/feed/file.go
  routers/web/repo/commit.go
  routers/web/repo/wiki.go
  tests/integration/api_repo_git_commits_test.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#24569 Split "modules/context.go" to separate files
  models/repo.go
  models/repo/search.go
  modules/context/context.go
  modules/context/context_cookie.go
  modules/context/context_data.go
  modules/context/context_form.go
  modules/context/context_model.go
  modules/context/context_request.go
  modules/context/context_response.go
  modules/context/context_serve.go
  modules/context/repo.go
  routers/api/v1/repo/repo.go
  routers/web/admin/users.go
  routers/web/auth/auth.go
  routers/web/auth/password.go
  routers/web/repo/repo.go
  routers/web/repo/view.go
  routers/web/user/setting/account.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/XXL

#24588 Fix close org projects
  routers/web/org/projects.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19

#24579 In TestViewRepo2, convert computed timezones to local time
  tests/integration/repo_test.go
Labels: lgtm/done, kind/testing, skip-changelog, reviewed/wait-merge, size/XS, reviewed/prioritize-merge

#24594 Do not select line numbers when selecting text from the action run logs
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, theme/cicd, size/XS, backport/v1.19

#24400 Support markdown editor for issue template
  templates/repo/issue/fields/textarea.tmpl
  templates/repo/issue/new_form.tmpl
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/comp/ImagePaste.js
  web_src/js/features/comp/QuickSubmit.js
  web_src/js/features/comp/TextExpander.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/L

#24590 Improve Gitea's web context, decouple "issue template" code into service package
  modules/context/context.go
  modules/context/context_cookie.go
  modules/context/context_model.go
  modules/context/repo.go
  routers/api/v1/api.go
  routers/api/v1/repo/repo.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/repo/view.go
  services/issue/template.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#24595 Attach a tooltip to the action control button
  options/locale/locale_en-US.ini
  templates/repo/actions/view.tmpl
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, theme/cicd, size/S, backport/v1.19

#24568 Filters for GetAllCommits
  routers/api/v1/repo/commits.go
  routers/api/v1/repo/notes.go
  routers/api/v1/repo/pull.go
  services/convert/git_commit.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_git_commits_test.go
Labels: kind/enhancement, lgtm/done, kind/api, performance/speed, reviewed/wait-merge, size/M

#24597 Update JS dependencies, add new eslint rules
  .eslintrc.yaml
  docs/assets/js/search.js
  package-lock.json
  package.json
  web_src/js/components/RepoActionView.vue
  web_src/js/features/codeeditor.js
  web_src/js/features/common-global.js
  web_src/js/features/pull-view-file.js
  web_src/js/features/repo-code.js
  web_src/js/features/repo-projects.js
  web_src/js/features/repo-release.js
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/M

#24589 Add permission check for moving issue action in project view page
  templates/projects/view.tmpl
  web_src/css/features/projects.css
  web_src/js/features/repo-projects.js
Labels: lgtm/done, reviewed/wait-merge, size/XS

#24598 Make diff view full width again
  templates/repo/diff/box.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/pulls/files.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M

#23260 Add Gitea Profile Readmes
  docs/content/doc/usage/profile-readme.en-us.md
  options/locale/locale_en-US.ini
  routers/web/shared/user/header.go
  routers/web/user/profile.go
  templates/user/overview/header.tmpl
  templates/user/profile.tmpl
  web_src/css/user.css
Labels: kind/feature, lgtm/done, changelog, reviewed/wait-merge, size/L

#24592 Make repository response support HTTP range request
  modules/context/context_serve.go
  modules/context/context_test.go
  modules/httplib/mock.go
  modules/httplib/request.go
  modules/httplib/serve.go
  modules/httplib/serve_test.go
  modules/lfs/content_store.go
  routers/api/v1/repo/file.go
  routers/common/repo.go
  routers/common/serve.go
  routers/web/repo/attachment.go
  routers/web/repo/download.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XL

#22956 Create a branch directly from commit on the create branch API
  modules/structs/repo.go
  routers/api/v1/repo/branch.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, kind/api, kind/deprecated, reviewed/wait-merge, size/M

#24609 Use official Vue extension in Gitpod
  .gitpod.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/XS

#24614 Attach a tooltip to the action status icon
  templates/repo/actions/runs_list.tmpl
  templates/repo/actions/status.tmpl
  templates/repo/actions/view.tmpl
  web_src/js/components/ActionRunStatus.vue
  web_src/js/components/RepoActionView.vue
Labels: kind/ui, lgtm/done, reviewed/wait-merge, theme/cicd, size/M

#24613 Filter get single commit
  routers/api/v1/repo/commits.go
  services/convert/git_commit.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M

#24470 fix: release page for empty or non-existing target
  models/fixtures/release.yml
  models/repo/release.go
  routers/web/repo/release.go
  routers/web/repo/release_test.go
  templates/repo/release/list.tmpl
  tests/integration/release_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.19

#24521 Fix commits pushed with deploy keys not shown in dashboard
  models/activities/action.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S

#24610 Remove unnecessary code
  modules/indexer/issues/indexer_test.go
  modules/indexer/stats/indexer_test.go
  modules/setting/config_provider.go
  modules/setting/mailer_test.go
  modules/setting/packages_test.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/S

#24616 Improve reverse-proxy document and fix nginx config bug
  docs/content/doc/administration/reverse-proxies.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M

#24617 Add a tooltip to the job rerun button
  web_src/js/components/RepoActionView.vue
Labels: kind/ui, lgtm/done, reviewed/wait-merge, theme/cicd, size/XS

#24627 Remove fluid on compare diff page
  templates/repo/diff/compare.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#24526 Review fixes and enhancements
  models/issues/review.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/css/repository.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/L

#24631 Fix typo in Actions demo file
  docs/content/doc/actions/quickstart.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#24632 Do not send "registration success email" for external auth sources
  services/auth/reverseproxy.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/pam/source_authenticate.go
  services/auth/source/smtp/source_authenticate.go
  services/auth/sspi_windows.go
Labels: lgtm/done, reviewed/wait-merge, size/S

#24600 Improve updating Actions tasks
  models/actions/task.go
  routers/api/actions/runner/runner.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, theme/cicd, size/M

#24630 Fix broken links in documents
  docs/content/doc/actions/comparison.en-us.md
  docs/content/doc/actions/quickstart.en-us.md
  docs/content/doc/development/hacking-on-gitea.zh-cn.md
  docs/content/doc/usage/push.zh-tw.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#24637 Fix typo in the swift package documentation
  docs/content/doc/usage/packages/swift.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#24628 Increase default LFS auth timeout from 20m to 24h
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  modules/setting/lfs.go
Labels: kind/enhancement, lgtm/done, kind/breaking, reviewed/wait-merge, size/XS

#24577 Improve "goto issue by number" button
  templates/repo/issue/search.tmpl
  templates/user/dashboard/issues.tmpl
  web_src/js/features/codeeditor.js
  web_src/js/features/common-issue-list.js
  web_src/js/features/common-issue-list.test.js
  web_src/js/features/repo-issue.js
  web_src/js/index.js
  web_src/js/utils/dom.js
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/L

#24639 Notification list enhancements, fix striped tables on dark theme
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/user/dashboard/navbar.tmpl
  templates/user/notification/notification_div.tmpl
  web_src/css/base.css
  web_src/css/helpers.css
  web_src/css/themes/theme-arc-green.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#24476 RSS icon fixes
  templates/org/home.tmpl
  templates/repo/header.tmpl
  templates/repo/release/list.tmpl
  templates/repo/release_tag_header.tmpl
  templates/repo/sub_menu_release_tag.tmpl
  templates/repo/tag/list.tmpl
  web_src/css/base.css
  web_src/css/organization.css
  web_src/js/components/RepoBranchTagSelector.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#24652 Fix typo in act-runner file
  docs/content/doc/actions/act-runner.en-us.md
Labels: lgtm/done, reviewed/wait-merge, size/XS

#24650 Kd/fix redis unit test
  .github/workflows/pull-db_test.yml
  modules/queue/base_redis_test.go
Labels: lgtm/done, kind/testing, reviewed/wait-merge, size/S

#24626 Reenable creating default webhooks.
  routers/web/repo/webhook.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS

#24648 Only show one tippy at a time
  web_src/js/modules/tippy.js
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/S

#24654 Fix missing badges in org settings page
  routers/web/org/setting.go
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#24636 Improve queue & process & stacktrace
  modules/queue/base_channel.go
  modules/queue/base_levelqueue_unique.go
  modules/queue/base_redis.go
  modules/queue/manager.go
  modules/queue/workerqueue.go
  options/locale/locale_en-US.ini
  routers/web/admin/admin.go
  routers/web/admin/diagnosis.go
  routers/web/admin/queue.go
  routers/web/admin/queue_tester.go
  routers/web/admin/stacktrace.go
  routers/web/web.go
  templates/admin/cron.tmpl
  templates/admin/monitor.tmpl
  templates/admin/navbar.tmpl
  templates/admin/process-row.tmpl
  templates/admin/process.tmpl
  templates/admin/queue.tmpl
  templates/admin/queue_manage.tmpl
  templates/admin/stacktrace.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XL

#24605 Make repo migration cancelable and fix various bugs
  models/admin/task.go
  modules/structs/task.go
  options/locale/locale_en-US.ini
  routers/web/repo/migrate.go
  routers/web/web.go
  services/migrations/gitea_uploader.go
  services/task/migrate.go
  services/task/task.go
  templates/repo/migrate/migrating.tmpl
  web_src/js/features/repo-migrate.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/L

#24660 Fix issues list page multiple selection update milestones
  templates/repo/issue/list.tmpl
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.19

#24620 GitHub Actions cleanups
  .github/workflows/cron-licenses.yml
  .github/workflows/cron-lock.yml
  .github/workflows/cron-translations.yml
  .github/workflows/publish-docs.yml
  .github/workflows/pull-compliance-docs.yml
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-compliance_docs.yml
  .github/workflows/pull-db-tests.yml
  .github/workflows/pull-docker-dryrun.yml
  .github/workflows/pull-docker_dryrun.yml
  .github/workflows/pull-e2e-tests.yml
  .github/workflows/pull-e2e.yml
  Makefile
Labels: lgtm/done, kind/testing, kind/build, skip-changelog, reviewed/wait-merge, size/L

#24668 Improve empty notifications display
  templates/user/notification/notification_div.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/S

#24669 Update pin and add pin-slash
  package-lock.json
  package.json
  public/img/svg/octicon-devices.svg
  public/img/svg/octicon-move-to-top.svg
  public/img/svg/octicon-pin-slash.svg
  public/img/svg/octicon-pin.svg
  templates/projects/view.tmpl
  templates/repo/projects/view.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/S

#24377 Display owner of a runner as a tooltip instead of static text
  models/actions/runner.go
  models/shared/types/ownertype.go
  options/locale/locale_en-US.ini
  templates/shared/actions/runner_edit.tmpl
  templates/shared/actions/runner_list.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M

#24667 Remove svg.svg class, restore .rss-icon
  templates/org/home.tmpl
  templates/repo/header.tmpl
  templates/repo/release_tag_header.tmpl
  web_src/css/base.css
  web_src/js/components/RepoBranchTagSelector.vue
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#24672 Add markdown preview to Submit Review Textarea
  templates/repo/diff/new_review.tmpl
  web_src/css/code/linebutton.css
  web_src/css/modules/tippy.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/S

#24679 Support migrating storage for actions log via command line
  cmd/migrate_storage.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S, kind/cli

#24683 Make testlogger output "TestLogger" prefix
  modules/testlogger/testlogger.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#24670 Rename ".button-link" to ".button-ghost"
  templates/user/notification/notification_div.tmpl
  web_src/css/base.css
Labels: kind/ui, lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/S

#24688 Only hide tooltip tippy instances
  web_src/js/modules/tippy.js
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#23714 Add Alpine package registry
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/usage/packages/alpine.en-us.md
  docs/content/doc/usage/packages/overview.en-us.md
  docs/content/doc/usage/packages/storage.en-us.md
  models/packages/alpine/search.go
  models/packages/debian/search.go
  models/packages/descriptor.go
  models/packages/package.go
  models/packages/package_property.go
  modules/packages/alpine/metadata.go
  modules/packages/alpine/metadata_test.go
  modules/setting/packages.go
  modules/util/keypair.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-alpine.svg
  routers/api/packages/alpine/alpine.go
  routers/api/packages/api.go
  routers/api/v1/packages/package.go
  routers/web/user/package.go
  services/auth/source/oauth2/jwtsigningkey.go
  services/forms/package_form.go
  services/packages/alpine/repository.go
  services/packages/packages.go
  templates/package/content/alpine.tmpl
  templates/package/metadata/alpine.tmpl
  templates/package/view.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_packages_alpine_test.go
  web_src/svg/gitea-alpine.svg
Labels: kind/feature, lgtm/done, theme/package-registry, reviewed/wait-merge, size/XXL

#24659 fix: release page for empty or non-existing target
  models/fixtures/release.yml
  models/repo/release.go
  routers/web/repo/release.go
  routers/web/repo/release_test.go
  templates/repo/release/list.tmpl
  tests/integration/release_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L

#24689 Add `eslint-plugin-wc`
  .eslintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, kind/lint, skip-changelog, reviewed/wait-merge, size/S

#24690 Add `eslint-plugin-eslint-comments`
  .eslintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, kind/lint, skip-changelog, reviewed/wait-merge, size/S

#24693 Use standard HTTP library to serve files
  modules/context/context_test.go
  modules/httpcache/httpcache.go
  modules/httpcache/httpcache_test.go
  modules/httplib/mock.go
  modules/httplib/serve_test.go
  modules/public/public.go
  routers/web/base.go
  routers/web/misc/misc.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#24694 Fix `organization` field being `null` in `GET /api/v1/teams/{id}`
  routers/api/v1/org/team.go
Labels: kind/bug, lgtm/done, kind/api, reviewed/wait-merge, size/XS, backport/v1.19

#24695 Fix docs documenting invalid `@every` for `OLDER_THAN` cron settings
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.19

#24653 Improve avatar uploading / resizing / compressing, remove Fomantic card module
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  modules/avatar/avatar.go
  modules/avatar/avatar_test.go
  modules/avatar/testdata/animated.webp
  modules/repository/commits_test.go
  modules/setting/picture.go
  services/repository/avatar.go
  services/user/user.go
  templates/user/profile.tmpl
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/modules/card.css
  web_src/css/user.css
  web_src/fomantic/build/semantic.css
  web_src/fomantic/semantic.json
Labels: kind/ui, lgtm/done, kind/refactor, reviewed/wait-merge, size/XXL

#24697 Add icon support for safari
  routers/web/web.go
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS

#24692 Improve button-ghost, remove tertiary button
  templates/devtest/gitea-ui.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/home.tmpl
  templates/user/settings/applications_oauth2_edit_form.tmpl
  web_src/css/base.css
  web_src/css/user.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M

#24699 Add test for api team organization
  tests/integration/api_team_test.go
Labels: lgtm/done, kind/testing, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.19

#24638 Add status indicator on main home screen for each repo
  models/git/commit_status.go
  modules/git/repo_branch.go
  routers/web/repo/repo.go
  services/repository/branch.go
  services/repository/repository.go
  web_src/js/components/DashboardRepoList.vue
  web_src/js/features/org-team.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-template.js
  web_src/js/svg.js
Labels: kind/feature, kind/ui, lgtm/done, reviewed/wait-merge, size/L

#24691 fix minio storage iterator path
  .github/workflows/pull-db-tests.yml
  modules/storage/local.go
  modules/storage/local_test.go
  modules/storage/minio.go
  modules/storage/minio_test.go
  modules/storage/storage_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.19

#24700 Update to Alpine 3.18
  Dockerfile
  Dockerfile.rootless
Labels: lgtm/done, kind/build, reviewed/wait-merge, size/XS

#24703 Remove Fomantic comment module
  web_src/css/index.css
  web_src/css/modules/comment.css
  web_src/fomantic/build/semantic.css
  web_src/fomantic/semantic.json
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/L

#24706 Fix run list broken when trigger user deleted
  models/actions/run_list.go
Labels: kind/bug, lgtm/done, size/XS, backport/v1.19

#24708 Update cron-translations.yml
  .github/workflows/cron-translations.yml
Labels: lgtm/done, kind/build, reviewed/wait-merge, size/XS

#24710 Optimize actions list by removing an unnecessary `git` call
  routers/web/repo/actions/actions.go
Labels: kind/enhancement, lgtm/done, performance/speed, reviewed/wait-merge, theme/cicd, size/XS

#24705 Remove the parallelizing when loading repo for dashboard
  routers/web/repo/repo.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S

#24701 Clean up various avatar dimensions
  templates/repo/commits_list_small.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/base.css
  web_src/css/modules/comment.css
  web_src/css/organization.css
  web_src/css/repository.css
  web_src/css/shared/issuelist.css
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/M

#24712 Fix flash of unstyled content in action view page
  web_src/js/components/ActionRunStatus.vue
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, theme/cicd, size/XS

#24687 Add Go package registry
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/usage/packages/debian.en-us.md
  docs/content/doc/usage/packages/generic.en-us.md
  docs/content/doc/usage/packages/go.en-us.md
  docs/content/doc/usage/packages/rpm.en-us.md
  models/packages/descriptor.go
  models/packages/package.go
  modules/packages/goproxy/metadata.go
  modules/packages/goproxy/metadata_test.go
  modules/setting/packages.go
  options/locale/locale_en-US.ini
  public/img/svg/gitea-go.svg
  routers/api/packages/api.go
  routers/api/packages/goproxy/goproxy.go
  routers/api/v1/packages/package.go
  services/forms/package_form.go
  services/packages/packages.go
  templates/package/content/go.tmpl
  templates/package/view.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_packages_goproxy_test.go
  web_src/svg/gitea-go.svg
Labels: kind/feature, lgtm/done, theme/package-registry, reviewed/wait-merge, size/XL

#24711 Don't filter action runs based on state
  models/actions/run_list.go
  options/locale/locale_en-US.ini
  routers/web/repo/actions/actions.go
  templates/repo/actions/list.tmpl
  templates/repo/actions/openclose.tmpl
  templates/repo/actions/runs_list.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, theme/cicd, size/M

#24717 Document `redis-cluster` explicitly in config
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/S

#24719 Move actions as usage's subdirectory and update comparsion zh-cn version
  docs/content/doc/installation/comparison.zh-cn.md
  docs/content/doc/usage/actions/act-runner.en-us.md
  docs/content/doc/usage/actions/comparison.en-us.md
  docs/content/doc/usage/actions/design.en-us.md
  docs/content/doc/usage/actions/faq.en-us.md
  docs/content/doc/usage/actions/overview.en-us.md
  docs/content/doc/usage/actions/quickstart.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XS

#24730 Update packages overview page
  docs/content/doc/usage/packages/overview.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XS

#24725 Docs for creating a user to run Gitea on Fedora/RHEL/CentOS
  docs/content/doc/installation/from-binary.en-us.md
  docs/content/doc/installation/from-binary.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/S

#24736 Switch to `@eslint-community/eslint-plugin-eslint-comments`
  .eslintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, kind/lint, skip-changelog, reviewed/wait-merge, size/S

#24737 Unification of registration fields order
  templates/install.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS
