Repository go-gitea/gitea, pull requests merged in 2023-06, with the labels that each got.

#24986 Add button on diff header to copy file name, misc diff header tweaks
  templates/repo/diff/box.tmpl
  web_src/css/base.css
  web_src/css/modules/button.css
  web_src/css/repo.css
Labels: kind/feature, kind/ui, lgtm/done, reviewed/wait-merge, size/L

#25040 Run markdownlint on drone, fix lint issue
  .drone.yml
  docs/content/doc/packages/cran.zh-cn.md
Labels: lgtm/done, skip-changelog, size/XS

#25024 Refactor INI package (first step)
  .golangci.yml
  build/backport-locales.go
  contrib/environment-to-ini/environment-to-ini.go
  modules/repository/repo.go
  modules/setting/config_env.go
  modules/setting/config_env_test.go
  modules/setting/config_provider.go
  modules/setting/config_provider_test.go
  modules/setting/setting.go
  modules/translation/i18n/localestore.go
  routers/install/install.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/L

#25043 Minor UI improvements: logo alignment, auth map editor, auth name display
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/ldap.tmpl
  templates/admin/auth/source/oauth.tmpl
  templates/user/settings/security/accountlinks.tmpl
  web_src/css/base.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25021 Port Chinese document for localization to v1.19
  docs/content/doc/contributing/localization.zh-cn.md
Labels: lgtm/done, reviewed/wait-merge, size/S

#25020 Add oauth Chinese document for v1.19
  docs/content/doc/development/oauth2-provider.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/L

#25052 Show file tree by default
  templates/repo/diff/box.tmpl
  web_src/js/components/DiffFileTree.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#24727 Add up and down arrows to selected lookup repositories
  web_src/js/components/DashboardRepoList.vue
Labels: kind/feature, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25054 GitLab migration: Sanitize response for reaction list
  services/migrations/gitlab.go
  services/migrations/gitlab_test.go
Labels: kind/bug, lgtm/done, theme/migration, reviewed/wait-merge, size/M, backport/v1.19

#25056 Fix link to customizing-gitea
  docs/content/doc/usage/labels.en-us.md
  docs/content/doc/usage/labels.zh-cn.md
Labels: lgtm/done, size/XS

#25033 Allow for PKCE flow without client secret + add docs
  docs/content/doc/development/oauth2-provider.en-us.md
  routers/web/auth/oauth.go
  tests/integration/oauth_test.go
Labels: kind/enhancement, lgtm/done, size/L

#25063 Remove cancel button from branch protection form
  templates/repo/settings/protected_branch.tmpl
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#25062 Use a separate admin page to show global stats, remove `actions` stat
  models/activities/statistic.go
  models/db/context.go
  modules/metrics/collector.go
  options/locale/locale_en-US.ini
  routers/web/admin/admin.go
  routers/web/web.go
  templates/admin/dashboard.tmpl
  templates/admin/navbar.tmpl
  templates/admin/stats.tmpl
Labels: lgtm/done, kind/refactor, kind/breaking, performance/speed, reviewed/wait-merge, size/L

#25050 Add Progressbar to Milestone Page
  options/locale/locale_en-US.ini
  templates/repo/issue/milestone_issues.tmpl
  web_src/css/repo.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25072 Add ability to set multiple redirect URIs in OAuth application UI
  models/auth/oauth2.go
  modules/util/truncate.go
  options/locale/locale_en-US.ini
  routers/web/user/setting/oauth2_common.go
  services/forms/user_form.go
  templates/user/settings/applications_oauth2_edit_form.tmpl
  templates/user/settings/applications_oauth2_list.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M

#25074 Use RepositoryList instead of []*Repository
  models/issues/issue_list.go
  models/organization/org.go
  models/organization/org_repo.go
  models/organization/org_test.go
  models/organization/team_repo.go
  services/repository/check.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/S

#23942 improve permission documentation
  docs/content/doc/usage/permissions.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/M, backport/v1.19

#25066 Use git command instead of the ini package to remove the `origin` remote
  modules/repository/repo.go
Labels: lgtm/done, kind/refactor, size/S

#24567 Fix parallelly generating index failure with Mysql
  models/db/index.go
  models/git/commit_status.go
  tests/integration/api_issue_test.go
  tests/integration/repo_commits_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.19

#25080 Use correct selector for hiding RSS icon link in the branch selector dropdown
  web_src/js/components/RepoBranchTagSelector.vue
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#19904 Remove stars when repo goes private
  models/repo/star.go
  models/repo/star_test.go
  modules/repository/create.go
  options/locale/locale_en-US.ini
  templates/repo/settings/options.tmpl
Labels: kind/bug, lgtm/done, size/M

#25077 Introduce how to configure cache when starting a Runner with Docker
  docs/content/doc/usage/actions/act-runner.en-us.md
  docs/content/doc/usage/actions/act-runner.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M

#25084 fix "Remove stars when repo goes private #19904"
  templates/repo/settings/options.tmpl
Labels: lgtm/done, skip-changelog, size/XS

#25086 Don't display `select all issues` checkbox when no issues are available
  templates/repo/issue/list.tmpl
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#25089 Enable all webpack sourcemaps in dev build, disable all in prod build
  docs/content/doc/installation/from-source.en-us.md
  webpack.config.js
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/S

#22697 Clean up WebAuthn javascript code and remove JQuery code
  routers/web/user/setting/security/webauthn.go
  templates/user/auth/webauthn.tmpl
  templates/user/auth/webauthn_error.tmpl
  templates/user/settings/security/webauthn.tmpl
  web_src/css/base.css
  web_src/css/repo.css
  web_src/js/features/user-auth-webauthn.js
  web_src/js/utils.js
  web_src/js/utils.test.js
Labels: kind/ui, lgtm/done, kind/refactor, theme/authentication, javascript, reviewed/wait-merge, size/L

#25105 update labels link to correct location in 1.19 docs
  docs/content/doc/usage/labels.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, size/XS

#25022 add zh-cn for `Upgrade from old Gitea` in v1.19
  docs/content/doc/installation/upgrade-from-gitea.zh-cn.md
Labels: lgtm/done, reviewed/wait-merge, size/M

#25098 Add details summary for vertical menus in settings to allow toggling
  templates/admin/navbar.tmpl
  templates/org/settings/navbar.tmpl
  templates/repo/settings/navbar.tmpl
  templates/user/settings/navbar.tmpl
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/shared/settings.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25111 Improve notification icon and navbar
  templates/base/head.tmpl
  templates/base/head_navbar.tmpl
  templates/status/500.tmpl
  web_src/css/base.css
  web_src/css/explore.css
  web_src/css/repo.css
  web_src/css/themes/theme-arc-green.css
Labels: kind/enhancement, kind/ui, lgtm/done, size/M

#25104 Remove incorrect element ID on "post-install" page
  templates/post-install.tmpl
Labels: kind/bug, lgtm/done, size/XS, backport/v1.20

#25126 Change branch name from master to main in some documents' links
  CONTRIBUTING.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  docs/content/doc/administration/customizing-gitea.zh-cn.md
  docs/content/doc/contributing/localization.en-us.md
  docs/content/doc/contributing/localization.zh-cn.md
  docs/content/doc/contributing/localization.zh-tw.md
  docs/content/doc/development/migrations.zh-tw.md
  docs/content/doc/installation/from-source.fr-fr.md
  docs/content/doc/installation/from-source.zh-tw.md
  docs/content/doc/installation/run-as-service-in-ubuntu.zh-cn.md
  docs/content/doc/installation/run-as-service-in-ubuntu.zh-tw.md
  docs/content/page/index.fr-fr.md
  docs/content/page/index.zh-tw.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M, backport/v1.19

#25135 Fix incorrect git ignore rule and add missing license files
  .gitignore
  options/license/CC-BY-2.5
  options/license/CC-BY-NC-2.5
  options/license/CC-BY-NC-ND-2.5
  options/license/CC-BY-NC-SA-2.5
  options/license/CC-BY-ND-2.5
  options/license/CC-BY-SA-2.5
  options/license/OLDAP-2.5
  options/license/OLDAP-2.6
  options/license/OLDAP-2.8
  options/license/RPL-1.5
  options/license/SHL-0.5
  options/license/bzip2-1.0.6
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XL, backport/v1.20

#25125 Fix `MilestoneIDs` when querying issues
  routers/web/repo/issue.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25139 Change branch name from master to main in some documents' links (#25126)
  CONTRIBUTING.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  docs/content/doc/administration/customizing-gitea.zh-cn.md
  docs/content/doc/contributing/localization.en-us.md
  docs/content/doc/contributing/localization.zh-cn.md
  docs/content/doc/contributing/localization.zh-tw.md
  docs/content/doc/development/migrations.zh-tw.md
  docs/content/doc/installation/from-source.fr-fr.md
  docs/content/doc/installation/from-source.zh-tw.md
  docs/content/doc/installation/run-as-service-in-ubuntu.zh-cn.md
  docs/content/doc/installation/run-as-service-in-ubuntu.zh-tw.md
  docs/content/page/index.fr-fr.md
  docs/content/page/index.zh-tw.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M

#25142 Fix broken links in documents v1.19
  docs/content/doc/development/hacking-on-gitea.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/XS

#25133 Fix strange UI behavior of cancelling dismiss review modal
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/js/features/repo-issue.js
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#24910 Add codeowners feature
  docs/content/doc/usage/code-owners.en-us.md
  models/issues/pull.go
  models/issues/pull_test.go
  routers/web/repo/view.go
  services/issue/issue.go
  services/pull/pull.go
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/L, reviewed/prioritize-merge

#25140 Change branch name from master to main in some documents' links (#25126)
  CONTRIBUTING.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  docs/content/doc/administration/customizing-gitea.zh-cn.md
  docs/content/doc/contributing/localization.en-us.md
  docs/content/doc/contributing/localization.zh-cn.md
  docs/content/doc/contributing/localization.zh-tw.md
  docs/content/doc/development/migrations.zh-tw.md
  docs/content/doc/installation/from-source.fr-fr.md
  docs/content/doc/installation/from-source.zh-tw.md
  docs/content/doc/installation/run-as-service-in-ubuntu.zh-cn.md
  docs/content/doc/installation/run-as-service-in-ubuntu.zh-tw.md
  docs/content/page/index.fr-fr.md
  docs/content/page/index.zh-tw.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M

#25128 Remove duplicated functions when deleting a branch
  services/repository/branch.go
  services/repository/push.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/S

#25137 Update js dependencies
  .eslintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, dependencies, reviewed/wait-merge, size/S, backport/v1.20

#25143 Fix open redirect check for more cases
  modules/context/context_response.go
Labels: kind/security, lgtm/done, size/XS, backport/v1.19, backport/v1.20

#25030 Modify OAuth login ui and fix display name, iconurl related logic
  options/locale/locale_en-US.ini
  public/img/auth/azuread.png
  public/img/auth/azuread.svg
  public/img/auth/azureadv2.png
  public/img/auth/azureadv2.svg
  public/img/auth/bitbucket.png
  public/img/auth/bitbucket.svg
  public/img/auth/discord.png
  public/img/auth/discord.svg
  public/img/auth/dropbox.png
  public/img/auth/dropbox.svg
  public/img/auth/facebook.png
  public/img/auth/facebook.svg
  public/img/auth/gitea.png
  public/img/auth/gitea.svg
  public/img/auth/github.png
  public/img/auth/github.svg
  public/img/auth/gitlab.png
  public/img/auth/gitlab.svg
  public/img/auth/google.png
  public/img/auth/google.svg
  public/img/auth/mastodon.png
  public/img/auth/mastodon.svg
  public/img/auth/microsoftonline.png
  public/img/auth/microsoftonline.svg
  public/img/auth/nextcloud.png
  public/img/auth/nextcloud.svg
  public/img/auth/openid_connect.svg
  public/img/auth/twitter.png
  public/img/auth/twitter.svg
  public/img/auth/yandex.png
  public/img/auth/yandex.svg
  services/auth/signin.go
  services/auth/source/oauth2/providers.go
  services/auth/source/oauth2/providers_base.go
  services/auth/source/oauth2/providers_custom.go
  services/auth/source/oauth2/providers_openid.go
  services/auth/source/oauth2/providers_simple.go
  templates/user/auth/signin_inner.tmpl
  templates/user/settings/security/accountlinks.tmpl
  web_src/css/base.css
  web_src/css/form.css
  web_src/fomantic/_site/globals/site.variables
  web_src/fomantic/build/semantic.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25167 Fix setup-go actions
  .github/workflows/cron-licenses.yml
  .github/workflows/pull-db-tests.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/S

#24989 Button and color enhancements
  templates/base/modal_actions_confirm.tmpl
  templates/devtest/gitea-ui.tmpl
  templates/devtest/list.tmpl
  templates/org/settings/labels.tmpl
  templates/repo/blame.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/cite/cite_modal.tmpl
  templates/repo/commit_statuses.tmpl
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/labels.tmpl
  templates/repo/issue/labels/edit_delete_label.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/release/new.tmpl
  templates/repo/view_file.tmpl
  templates/shared/issuelist.tmpl
  templates/user/notification/notification_div.tmpl
  templates/user/settings/applications_oauth2_edit_form.tmpl
  web_src/css/base.css
  web_src/css/helpers.css
  web_src/css/modules/button.css
  web_src/css/repo.css
  web_src/css/repo/list-header.css
  web_src/css/shared/issuelist.css
  web_src/css/themes/theme-arc-green.css
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XL, backport/v1.20

#25134 Fix mobile navbar and misc cleanups
  templates/base/head_navbar.tmpl
  templates/org/home.tmpl
  templates/repo/settings/lfs_file_find.tmpl
  templates/status/500.tmpl
  templates/user/dashboard/navbar.tmpl
  web_src/css/admin.css
  web_src/css/base.css
  web_src/css/dashboard.css
  web_src/css/form.css
  web_src/css/helpers.css
  web_src/css/home.css
  web_src/css/modules/tippy.css
  web_src/css/org.css
  web_src/css/repo.css
  web_src/css/repo/linebutton.css
  web_src/css/repo/release-tag.css
  web_src/css/review.css
  web_src/css/user.css
  web_src/js/components/DashboardRepoList.vue
  web_src/js/features/common-global.js
  web_src/js/features/repo-code.js
  web_src/js/features/repo-issue.js
  web_src/js/modules/tippy.js
Labels: kind/bug, lgtm/done, kind/refactor, reviewed/wait-merge, size/L, backport/v1.20

#25162 Fix #25133
  templates/repo/issue/view_content/sidebar.tmpl
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.20

#25175 Minor arc-green color tweaks
  web_src/css/base.css
  web_src/css/themes/theme-arc-green.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/S, backport/manual, backport/v1.20

#25173 Fix bug for code search if code is disabled
  routers/web/web.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25157 Update github.com/google/go-github to v53
  assets/go-licenses.json
  contrib/backport/backport.go
  go.mod
  go.sum
  services/migrations/error.go
  services/migrations/github.go
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/S

#25144 Add `WithPullRequest` for `actionsNotifier`
  services/actions/notifier.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/cicd, size/XS, backport/v1.19, backport/v1.20

#25176 Button and color enhancements (#24989)
  templates/base/modal_actions_confirm.tmpl
  templates/devtest/gitea-ui.tmpl
  templates/devtest/list.tmpl
  templates/org/settings/labels.tmpl
  templates/repo/blame.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/cite/cite_modal.tmpl
  templates/repo/commit_statuses.tmpl
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/labels.tmpl
  templates/repo/issue/labels/edit_delete_label.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/release/new.tmpl
  templates/repo/view_file.tmpl
  templates/shared/issuelist.tmpl
  templates/user/notification/notification_div.tmpl
  templates/user/settings/applications_oauth2_edit_form.tmpl
  web_src/css/base.css
  web_src/css/helpers.css
  web_src/css/modules/button.css
  web_src/css/repo.css
  web_src/css/repo/list-header.css
  web_src/css/shared/issuelist.css
  web_src/css/themes/theme-arc-green.css
  web_src/js/components/RepoActionView.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/XL

#25172 Fix strange UI behavior of cancelling dismiss review modal
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/js/features/repo-issue.js
Labels: lgtm/done, reviewed/wait-merge, size/S

#25200 Fix fullscreen for action
  web_src/js/components/RepoActionView.vue
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25203 Do not overwrite the log mode when installing
  routers/install/install.go
Labels: kind/bug, kind/deployment, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25208 Remove hacky patch for "safari emoji glitch fix"
  web_src/css/base.css
  web_src/js/features/common-global.js
  web_src/js/utils.js
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25194 Update `from-source.zh-cn.md` & `from-source.en-us.md` - Cross Compile Using Zig
  docs/content/doc/installation/from-source.en-us.md
  docs/content/doc/installation/from-source.zh-cn.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/L

#25214 Hide limited users if viewed by anonymous ghost
  models/packages/container/search.go
Labels: kind/bug, lgtm/done, theme/package-registry, reviewed/wait-merge, size/XS, backport/v1.20

#25195 Fix compatible for webhook ref type
  modules/git/ref.go
  routers/api/actions/runner/utils.go
  services/actions/notifier.go
  services/webhook/notifier.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25184 Fix task list checkbox toggle to work with YAML front matter
  modules/markup/markdown/ast.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/renderconfig.go
  web_src/js/markup/tasklist.js
Labels: kind/bug, lgtm/done, theme/markdown, reviewed/wait-merge, size/M, backport/v1.19, backport/v1.20

#25109 Change access token UI to select dropdowns
  options/locale/locale_en-US.ini
  templates/user/settings/applications.tmpl
  web_src/css/index.css
  web_src/css/modules/select.css
  web_src/js/components/ScopedAccessTokenSelector.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25131 Fix profile render when the README.md size is larger than 1024 bytes
  models/issues/pull.go
  modules/git/blob.go
  modules/util/io.go
  modules/util/io_test.go
  routers/web/repo/view.go
  routers/web/user/profile.go
  services/repository/files/content.go
  tests/integration/api_packages_cargo_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25192 Disable `Create column` button while the column name is empty
  templates/repo/projects/view.tmpl
  web_src/js/features/repo-projects.js
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25171 Use inline SVG for built-in OAuth providers
  modules/svg/svg.go
  public/img/auth/azureadv2.svg
  public/img/auth/gitea.svg
  public/img/auth/github.svg
  public/img/auth/gitlab.svg
  public/img/svg/gitea-azuread.svg
  public/img/svg/gitea-azureadv2.svg
  public/img/svg/gitea-bitbucket.svg
  public/img/svg/gitea-discord.svg
  public/img/svg/gitea-dropbox.svg
  public/img/svg/gitea-facebook.svg
  public/img/svg/gitea-google.svg
  public/img/svg/gitea-mastodon.svg
  public/img/svg/gitea-microsoftonline.svg
  public/img/svg/gitea-nextcloud.svg
  public/img/svg/gitea-twitter.svg
  public/img/svg/gitea-yandex.svg
  services/auth/source/oauth2/providers.go
  services/auth/source/oauth2/providers_base.go
  services/auth/source/oauth2/providers_openid.go
  templates/user/auth/signin_inner.tmpl
  templates/user/settings/security/accountlinks.tmpl
  web_src/svg/gitea-azuread.svg
  web_src/svg/gitea-azureadv2.svg
  web_src/svg/gitea-bitbucket.svg
  web_src/svg/gitea-discord.svg
  web_src/svg/gitea-dropbox.svg
  web_src/svg/gitea-facebook.svg
  web_src/svg/gitea-google.svg
  web_src/svg/gitea-mastodon.svg
  web_src/svg/gitea-microsoftonline.svg
  web_src/svg/gitea-nextcloud.svg
  web_src/svg/gitea-twitter.svg
  web_src/svg/gitea-yandex.svg
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#24806 Support changing labels of Actions runner without re-registration
  go.mod
  go.sum
  models/actions/runner.go
  models/actions/task.go
  models/migrations/migrations.go
  models/migrations/v1_21/main_test.go
  models/migrations/v1_21/v260.go
  options/locale/locale_en-US.ini
  routers/api/actions/runner/interceptor.go
  routers/api/actions/runner/runner.go
  routers/web/repo/actions/actions.go
  routers/web/shared/actions/runners.go
  services/forms/runner.go
  templates/shared/actions/runner_edit.tmpl
  templates/shared/actions/runner_list.tmpl
Labels: lgtm/done, reviewed/wait-merge, theme/cicd, size/L

#25236 Fix task list checkbox toggle to work with YAML front matter (#25184)
  modules/markup/markdown/ast.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/renderconfig.go
  web_src/js/markup/tasklist.js
Labels: lgtm/done, size/M

#25231 Revert overflow: overlay (revert #21850)
  web_src/css/base.css
  web_src/fomantic/.npmrc
  web_src/fomantic/_site/globals/site.variables
  web_src/fomantic/build/semantic.css
  web_src/fomantic/package-lock.json
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#23911 Fix all possible setting error related storages and added some tests
  cmd/dump.go
  cmd/migrate_storage.go
  cmd/migrate_storage_test.go
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/administration/config-cheat-sheet.zh-cn.md
  models/migrations/v1_10/v96.go
  models/migrations/v1_11/v112.go
  models/migrations/v1_11/v115.go
  modules/setting/actions.go
  modules/setting/actions_test.go
  modules/setting/attachment.go
  modules/setting/attachment_test.go
  modules/setting/config_provider.go
  modules/setting/lfs.go
  modules/setting/lfs_test.go
  modules/setting/packages.go
  modules/setting/packages_test.go
  modules/setting/picture.go
  modules/setting/repository.go
  modules/setting/repository_archive.go
  modules/setting/repository_archive_test.go
  modules/setting/setting.go
  modules/setting/storage.go
  modules/setting/storage_test.go
  modules/storage/helper.go
  modules/storage/local.go
  modules/storage/local_test.go
  modules/storage/minio.go
  modules/storage/minio_test.go
  modules/storage/storage.go
  modules/storage/storage_test.go
  routers/api/v1/repo/file.go
  routers/install/install.go
  routers/web/base.go
  routers/web/repo/attachment.go
  routers/web/repo/download.go
  routers/web/repo/repo.go
  services/lfs/server.go
  templates/admin/config.tmpl
  tests/test_utils.go
Labels: kind/bug, lgtm/done, kind/testing, kind/breaking, reviewed/wait-merge, size/XXL, backport/v1.20

#25243 Fix description of drop custom_labels migration
  models/migrations/migrations.go
  models/migrations/v1_21/v260.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, theme/cicd, size/XS

#25246 Fix panic when migrating a repo from GitHub with issues
  services/migrations/github.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25252 Add missing `v` in migrations.go
  models/migrations/migrations.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25150 GitHub Actions enhancements for frontend
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-db-tests.yml
  .github/workflows/pull-docker-dryrun.yml
  .github/workflows/pull-e2e-tests.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/M, backport/v1.20

#25163 Use flex to align SVG and text
  templates/devtest/gitea-ui.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/issue/branch_selector_field.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_content/update_branch_by_merge.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/release_tag_header.tmpl
  templates/repo/wiki/view.tmpl
  web_src/css/base.css
  web_src/css/modules/button.css
  web_src/css/repo.css
  web_src/js/components/DashboardRepoList.vue
  web_src/js/components/PullRequestMergeForm.vue
  web_src/js/components/RepoBranchTagSelector.vue
  web_src/js/features/repo-issue-content.js
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25262 Fix edit OAuth application width
  templates/user/settings/applications_oauth2_edit_form.tmpl
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25267 Fix variable in template
  templates/repo/settings/options.tmpl
Labels: kind/bug, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25235 Fix index generation parallelly failure
  models/db/index.go
  models/git/commit_status.go
  modules/git/sha1.go
Labels: kind/bug, lgtm/done, size/M, backport/v1.20

#25261 Show OAuth2 errors to end users
  options/locale/locale_en-US.ini
  routers/web/auth/oauth.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/new.tmpl
  templates/status/500.tmpl
  web_src/js/features/admin/common.js
Labels: lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25270 Fix profile render when the README.md size is larger than 1024 bytes
  modules/git/blob.go
  modules/util/io.go
  modules/util/io_test.go
  routers/web/user/profile.go
  services/repository/files/content.go
  tests/integration/api_packages_cargo_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L

#25254 Fix issue and commit status popup padding
  web_src/js/features/contextpopup.js
  web_src/js/features/repo-commit.js
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.20

#25286 Remove fomantic inverted variations
  web_src/fomantic/_site/globals/site.variables
  web_src/fomantic/build/semantic.css
Labels: lgtm/done, performance/speed, size/XXL, backport/v1.20

#25277 Fix some UI alignments
  templates/repo/commits.tmpl
  templates/repo/home.tmpl
  templates/repo/wiki/view.tmpl
  web_src/css/base.css
  web_src/css/repo.css
Labels: kind/enhancement, kind/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/M, backport/v1.20

#25256 Docs about how to generate config for act runner with docker and setup it with docker-compose
  docs/content/doc/usage/actions/act-runner.en-us.md
  docs/content/doc/usage/actions/act-runner.zh-cn.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/M, backport/v1.20

#25293 Add link to support page for commercial support
  docs/content/doc/help/support.en-us.md
Labels: kind/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.19, backport/v1.20

#24781 Add devcontainer config for developing Gitea
  .devcontainer/devcontainer.json
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/M

#25287 Show if File is Executable
  options/locale/locale_en-US.ini
  routers/web/repo/view.go
  templates/repo/file_info.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25258 Use fetch to send requests to create issues/comments
  modules/context/base.go
  modules/context/context_response.go
  modules/httplib/url.go
  modules/httplib/url_test.go
  modules/test/utils.go
  routers/common/redirect.go
  routers/init.go
  routers/web/repo/issue.go
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content.tmpl
  tests/integration/attachment_test.go
  tests/integration/issue_test.go
  web_src/js/features/common-global.js
  web_src/js/features/repo-issue.js
Labels: lgtm/done, reviewed/wait-merge, size/L

#25310 Fix displayed RPM repo url
  templates/package/content/rpm.tmpl
Labels: kind/bug, lgtm/done, theme/package-registry, size/XS, backport/v1.20

#25308 Build nightly binaries with Actions
  .drone.yml
  .github/workflows/cron-licenses.yml
  .github/workflows/cron-translations.yml
  .github/workflows/release-nightly.yml
  Makefile
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, theme/cicd, size/L, backport/v1.20

#25292 Remove more unused Fomantic variants
  .gitattributes
  web_src/css/modules/button.css
  web_src/fomantic/_site/globals/site.variables
  web_src/fomantic/build/semantic.css
  web_src/js/components/PullRequestMergeForm.vue
Labels: lgtm/done, performance/speed, skip-changelog, reviewed/wait-merge, size/XXL

#25285 add `stylelint-stylistic`
  .stylelintrc.yaml
  package-lock.json
  package.json
  web_src/css/base.css
  web_src/css/features/imagediff.css
  web_src/css/helpers.css
  web_src/css/modules/button.css
  web_src/css/modules/normalize.css
  web_src/css/modules/select.css
  web_src/css/repo.css
  web_src/css/review.css
  web_src/css/shared/settings.css
  web_src/css/standalone/swagger.css
Labels: lgtm/done, kind/lint, skip-changelog, reviewed/wait-merge, size/L

#25319 use Actions environment variables in Makefile
  Makefile
Labels: kind/bug, lgtm/need 1, kind/build, skip-changelog, backport/manual, backport/v1.20

#25318 use Actions environment variables in Makefile (#25319)
  Makefile
Labels: kind/bug, lgtm/need 1, kind/build, skip-changelog, size/S

#25328 Remove EasyMDE focus outline on text
  web_src/css/codemirror/base.css
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25284 Add `stylelint-declaration-block-no-ignored-properties`
  .stylelintrc.yaml
  package-lock.json
  package.json
  web_src/css/markup/content.css
Labels: lgtm/done, kind/lint, skip-changelog, reviewed/wait-merge, size/XS

#25317 build nightly docker images
  .drone.yml
  .github/workflows/release-nightly.yml
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/L, backport/v1.20

#25298 Refactor web package and context package
  cmd/web.go
  modules/context/api.go
  modules/context/base.go
  modules/context/context.go
  modules/context/private.go
  modules/context/response.go
  modules/test/context_tests.go
  modules/web/handler.go
  modules/web/middleware/data.go
  modules/web/route.go
  modules/web/routing/logger.go
  modules/web/types/response.go
  routers/api/actions/actions.go
  routers/api/actions/artifacts.go
  routers/api/packages/api.go
  routers/api/v1/api.go
  routers/api/v1/misc/markup_test.go
  routers/api/v1/repo/hook_test.go
  routers/api/v1/repo/repo_test.go
  routers/init.go
  routers/web/admin/users_test.go
  routers/web/org/projects_test.go
  routers/web/repo/editor_test.go
  routers/web/repo/issue_label_test.go
  routers/web/repo/projects_test.go
  routers/web/repo/release_test.go
  routers/web/repo/settings_test.go
  routers/web/repo/wiki_test.go
  routers/web/user/home_test.go
  routers/web/user/setting/account_test.go
  routers/web/web.go
  services/auth/group.go
  services/auth/interface.go
  services/auth/sspi_windows.go
  services/repository/archiver/archiver_test.go
  services/repository/files/content_test.go
  services/repository/files/diff_test.go
  services/repository/files/file_test.go
  services/repository/files/tree_test.go
  tests/e2e/e2e_test.go
  tests/integration/api_activitypub_person_test.go
  tests/integration/api_nodeinfo_test.go
  tests/integration/create_no_session_test.go
  tests/integration/integration_test.go
  tests/integration/repofiles_change_test.go
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/XL

#25266 Update JS dependencies, remove space after emoji completion
  .stylelintrc.yaml
  package-lock.json
  package.json
  public/img/svg/octicon-copilot.svg
  public/img/svg/octicon-pivot-column.svg
  public/img/svg/octicon-redo.svg
  public/img/svg/octicon-tracked-by-closed-completed.svg
  public/img/svg/octicon-tracked-by-closed-not-planned.svg
  public/img/svg/octicon-undo.svg
  templates/shared/combomarkdowneditor.tmpl
  web_src/js/features/comp/TextExpander.js
  webpack.config.js
Labels: lgtm/done, dependencies, reviewed/wait-merge, size/M, backport/v1.20

#25320 When viewing a file, hide the add button
  templates/repo/home.tmpl
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25315 Fix UI on mobile view
  templates/projects/list.tmpl
  templates/projects/view.tmpl
  templates/repo/activity.tmpl
  templates/repo/empty.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/navbar.tmpl
  templates/repo/issue/search.tmpl
  templates/repo/projects/list.tmpl
  templates/repo/projects/view.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/dashboard/milestones.tmpl
  web_src/css/index.css
  web_src/css/repo.css
  web_src/css/repo/issue-list.css
  web_src/css/repo/list-header.css
  web_src/css/shared/milestone.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XL, backport/v1.20

#25337 Fix action runner last online state on edit page
  templates/shared/actions/runner_edit.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS

#25342 Add Exoscale to installation on cloud provider docs
  docs/content/doc/installation/on-cloud-provider.en-us.md
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25331 Write absolute AppDataPath to app.ini when installing
  routers/install/install.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25306 Fix incorrect link-action event target
  web_src/js/features/common-global.js
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25345 Avoid polluting the config
  modules/setting/mirror.go
  modules/setting/oauth2.go
  modules/setting/setting.go
Labels: lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25341 Fix incorrect config argument position for builtin SSH server
  modules/ssh/ssh.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS

#25312 Fix label list divider
  templates/repo/issue/list.tmpl
  web_src/css/repo.css
  web_src/js/features/repo-issue.js
Labels: kind/bug, kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#25327 Clean up pyproject.toml and package.json, fix poetry options
  .github/workflows/files-changed.yml
  package-lock.json
  package.json
  poetry.toml
  pyproject.toml
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/S

#25360 fix a nit error output in Makefile
  Makefile
Labels: lgtm/done, skip-changelog, size/XS

#25329 Only run `docker-dryrun` when necessary
  .github/workflows/files-changed.yml
  .github/workflows/pull-docker-dryrun.yml
Labels: lgtm/done, skip-changelog, size/S, backport/v1.20

#25253 Batch delete issue and improve tippy opts
  modules/context/base.go
  options/locale/locale_en-US.ini
  routers/web/repo/issue.go
  routers/web/web.go
  templates/devtest/fetch-action.tmpl
  templates/repo/issue/list.tmpl
  web_src/js/features/common-global.js
  web_src/js/features/comp/ConfirmModal.js
  web_src/js/features/repo-issue-list.js
  web_src/js/modules/tippy.js
Labels: kind/feature, lgtm/done, reviewed/wait-merge, size/L

#25349 Fix loading state regression in markup content
  web_src/css/modules/animations.css
Labels: lgtm/done, kind/regression, skip-changelog, reviewed/wait-merge, size/S

#25353 Make backend code respond correct JSON when creating PR
  routers/web/repo/pull.go
  tests/integration/pull_create_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_status_test.go
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/M

#25358 Fix incorrect actions ref_name
  routers/api/actions/runner/utils.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25370 Refactor: TotalTimest return seconds
  models/issues/tracked_time.go
  models/issues/tracked_time_test.go
  templates/repo/issue/view_content/sidebar.tmpl
Labels: lgtm/done, kind/refactor, size/S

#25368 fix issue filters on mobile view
  templates/repo/issue/list.tmpl
  web_src/css/repo/issue-list.css
Labels: lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25359 Fix sidebar label dropdown divider
  web_src/js/features/repo-issue.js
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.20

#25361 Fetch all git data for embedding correct version in docker image
  .github/workflows/release-nightly.yml
Labels: kind/bug, lgtm/done, kind/build, kind/regression, reviewed/wait-merge, size/XS, backport/v1.20

#25278 Fix LDAP sync when Username Attribute is empty
  services/auth/source/ldap/source_sync.go
  tests/integration/auth_ldap_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25375 rename tributeValues to mentionValues
  templates/base/head_script.tmpl
  web_src/js/features/tribute.js
  web_src/js/test/setup.js
  web_src/js/utils/match.js
  web_src/js/utils/match.test.js
Labels: lgtm/done, kind/refactor, skip-changelog, reviewed/wait-merge, size/S

#25381 Use Actions git context instead of dynamically created buildkit one
  .github/workflows/release-nightly.yml
  Makefile
Labels: lgtm/done, kind/build, skip-changelog, size/XS, backport/v1.20

#25352 Update JS dependencies, remove space after emoji completion (#25266)
  .stylelintrc.yaml
  package-lock.json
  package.json
  public/img/svg/octicon-copilot.svg
  public/img/svg/octicon-pivot-column.svg
  public/img/svg/octicon-redo.svg
  public/img/svg/octicon-tracked-by-closed-completed.svg
  public/img/svg/octicon-tracked-by-closed-not-planned.svg
  public/img/svg/octicon-undo.svg
  templates/shared/combomarkdowneditor.tmpl
  web_src/js/features/comp/TextExpander.js
  webpack.config.js
Labels: lgtm/done, dependencies, skip-changelog, reviewed/wait-merge, size/M

#25385 Add git-lfs support to devcontainer
  .devcontainer/devcontainer.json
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#25391 Fix blank dir message when uploading files from web editor
  routers/web/repo/editor.go
Labels: lgtm/done, kind/ux, reviewed/wait-merge, size/XS, backport/v1.20

#25343 Navbar styling rework
  templates/base/head_navbar.tmpl
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/modules/navbar.css
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/L

#25294 Substitute variables in path names of template repos too
  docs/content/doc/usage/template-repositories.en-us.md
  modules/repository/generate.go
  modules/repository/generate_test.go
  tests/gitea-repositories-meta/user27/template1.git/objects/2a/83b349fa234131fc5db6f2a0498d3f4d3d6038
  tests/gitea-repositories-meta/user27/template1.git/objects/3d/0bc64f2521cfc7ffce6c175c1c846c88eb6df7
  tests/gitea-repositories-meta/user27/template1.git/objects/83/77b2196e99ac8635aae79df3db76959ccd1094
  tests/gitea-repositories-meta/user27/template1.git/objects/99/45b93bcb5b70af06e0322bd2caa6180680991f
  tests/gitea-repositories-meta/user27/template1.git/objects/af/f5b10402b4e0479d1e76bc41a42d29fe7f28fa
  tests/gitea-repositories-meta/user27/template1.git/objects/b9/04864fd6cd0c8e9054351fd39a980bfd214229
  tests/gitea-repositories-meta/user27/template1.git/objects/c5/10abf4c7c3e0dc4bf07db9344c61c4e6ee7cbc
  tests/gitea-repositories-meta/user27/template1.git/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
  tests/gitea-repositories-meta/user27/template1.git/refs/heads/master
  tests/integration/repo_generate_test.go
Labels: lgtm/done, size/M

#24724 Support configuration variables on Gitea Actions
  models/actions/variable.go
  models/migrations/migrations.go
  models/migrations/v1_21/v261.go
  models/secret/secret.go
  options/locale/locale_en-US.ini
  routers/api/actions/runner/utils.go
  routers/web/repo/setting/secrets.go
  routers/web/repo/setting/variables.go
  routers/web/shared/actions/variables.go
  routers/web/shared/secrets/secrets.go
  routers/web/web.go
  services/forms/user_form.go
  templates/org/settings/actions.tmpl
  templates/org/settings/navbar.tmpl
  templates/repo/settings/actions.tmpl
  templates/repo/settings/navbar.tmpl
  templates/shared/secrets/add_list.tmpl
  templates/shared/variables/variable_list.tmpl
  templates/user/settings/actions.tmpl
  templates/user/settings/navbar.tmpl
  web_src/css/modules/modal.css
  web_src/js/features/common-global.js
Labels: kind/feature, lgtm/done, reviewed/wait-merge, theme/cicd, size/XL

#25397 Fix dropdown icon layout on diff page
  templates/package/shared/cleanup_rules/list.tmpl
  templates/repo/diff/new_review.tmpl
  templates/repo/diff/options_dropdown.tmpl
  templates/repo/diff/whitespace_dropdown.tmpl
  web_src/css/modules/button.css
  web_src/css/repo.css
Labels: kind/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/S, backport/v1.20

#25395 Avoid polluting config file when "save"
  cmd/web.go
  modules/setting/config_provider.go
  modules/setting/config_provider_test.go
  modules/setting/lfs.go
  modules/setting/oauth2.go
  modules/setting/security.go
  modules/setting/setting.go
Labels: lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25405 Use the new download domain replace the old
  CONTRIBUTING.md
  README.md
  README_ZH.md
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/help/faq.zh-cn.md
  docs/content/doc/installation/from-binary.fr-fr.md
  docs/content/doc/installation/from-binary.zh-tw.md
  docs/content/doc/installation/on-kubernetes.en-us.md
  docs/content/doc/installation/on-kubernetes.zh-cn.md
  docs/content/doc/installation/on-kubernetes.zh-tw.md
  docs/content/doc/installation/upgrade-from-gogs.en-us.md
  docs/content/doc/installation/upgrade-from-gogs.fr-fr.md
  docs/content/doc/installation/upgrade-from-gogs.zh-tw.md
  services/cron/tasks_extended.go
Labels: kind/docs, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25118 Add actor and status dropdowns to run list
  models/actions/run_list.go
  options/locale/locale_en-US.ini
  routers/web/repo/actions/actions.go
  routers/web/repo/helper.go
  routers/web/repo/helper_test.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/repo/release.go
  templates/package/shared/list.tmpl
  templates/repo/actions/list.tmpl
  templates/repo/actions/runs_list.tmpl
  web_src/css/repo.css
Labels: kind/feature, kind/ui, lgtm/done, reviewed/wait-merge, size/L

#25330 Refactor path & config system
  .gitignore
  cmd/actions.go
  cmd/cmd.go
  cmd/doctor.go
  cmd/dump.go
  cmd/embedded.go
  cmd/mailer.go
  cmd/restore_repo.go
  cmd/serv.go
  cmd/web.go
  contrib/environment-to-ini/environment-to-ini.go
  main.go
  models/migrations/base/tests.go
  models/unittest/testdb.go
  modules/doctor/doctor.go
  modules/doctor/paths.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  modules/setting/config_provider.go
  modules/setting/config_provider_test.go
  modules/setting/path.go
  modules/setting/path_test.go
  modules/setting/server.go
  modules/setting/setting.go
  modules/ssh/ssh.go
  modules/testlogger/testlogger.go
  routers/init.go
  routers/install/install.go
  routers/install/setting.go
  routers/web/admin/config.go
  templates/admin/config.tmpl
  tests/test_utils.go
Labels: lgtm/done, kind/refactor, kind/breaking, reviewed/wait-merge, size/XXL

#25407 add python/poetry to devcontainer
  .devcontainer/devcontainer.json
Labels: lgtm/done, kind/build, skip-changelog, reviewed/wait-merge, size/XS

#25418 Fix missing commit message body when the message has leading newlines
  modules/templates/util_render.go
  modules/templates/util_render_test.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.20

#25419 Fine tune project board label colors and modal content background
  web_src/css/base.css
  web_src/css/modules/modal.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/XS

#25413 Remove "CHARSET" config option for MySQL, always use "utf8mb4"
  custom/conf/app.example.ini
  docs/content/doc/administration/config-cheat-sheet.en-us.md
  docs/content/doc/help/faq.en-us.md
  modules/setting/database.go
  options/locale/locale_en-US.ini
  routers/install/install.go
  services/forms/user_form.go
  templates/install.tmpl
Labels: lgtm/done, kind/breaking, reviewed/wait-merge, size/M

#24936 Show outdated comments in files changed tab
  models/issues/comment_code.go
  models/issues/comment_test.go
  models/issues/review.go
  models/user/setting_keys.go
  options/locale/locale_en-US.ini
  routers/web/repo/middlewares.go
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
  routers/web/web.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  templates/repo/diff/comments.tmpl
  templates/repo/diff/conversation.tmpl
  templates/repo/diff/options_dropdown.tmpl
  templates/repo/diff/whitespace_dropdown.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/css/repo.css
  web_src/css/review.css
Labels: kind/ui, lgtm/done, reviewed/wait-merge, size/L, backport/v1.20

#25401 Switch to ansi_up for ansi rendering in actions
  package-lock.json
  package.json
  web_src/js/components/RepoActionView.test.js
  web_src/js/components/RepoActionView.vue
  web_src/js/render/ansi.js
  web_src/js/render/ansi.test.js
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, theme/cicd, size/L

#25432 Use "utf8mb4" for MySQL by default
  modules/setting/database.go
  options/locale/locale_en-US.ini
  routers/install/install.go
  services/forms/user_form.go
  templates/install.tmpl
Labels: lgtm/done, size/M

#25425 Change default email domain for LDAP users
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/ldap/source_sync.go
Labels: kind/bug, lgtm/done, reviewed/wait-merge, theme/ldap, size/XS, backport/v1.20

#25428 Show outdated comments in files changed tab (#24936)
  models/issues/comment_code.go
  models/issues/comment_test.go
  models/issues/review.go
  models/user/setting_keys.go
  options/locale/locale_en-US.ini
  routers/web/repo/middlewares.go
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
  routers/web/web.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  templates/repo/diff/comments.tmpl
  templates/repo/diff/conversation.tmpl
  templates/repo/diff/options_dropdown.tmpl
  templates/repo/diff/whitespace_dropdown.tmpl
  templates/repo/issue/view_content/comments.tmpl
  web_src/css/repo.css
  web_src/css/review.css
Labels: lgtm/done, reviewed/wait-merge, size/L

#25309 Improve 'Privacy' section in profile settings
  options/locale/locale_en-US.ini
  templates/user/profile.tmpl
  templates/user/settings/profile.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/S

#25338 Introduce shared template for search inputs
  templates/admin/base/search.tmpl
  templates/admin/emails/list.tmpl
  templates/admin/packages/list.tmpl
  templates/admin/repo/search.tmpl
  templates/admin/user/list.tmpl
  templates/code/searchform.tmpl
  templates/explore/repo_search.tmpl
  templates/explore/search.tmpl
  templates/package/shared/list.tmpl
  templates/package/shared/versionlist.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/search.tmpl
  templates/shared/actions/runner_list.tmpl
  templates/shared/searchinput.tmpl
  templates/user/dashboard/issues.tmpl
  templates/user/dashboard/milestones.tmpl
  web_src/js/components/DashboardRepoList.vue
Labels: kind/enhancement, kind/ui, lgtm/done, reviewed/wait-merge, size/M

#25398 Diff page enhancements
  templates/repo/diff/box.tmpl
  templates/repo/issue/view_title.tmpl
  web_src/css/repo.css
  web_src/css/review.css
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S, backport/v1.20

#25388 Fix `Permission` in API returned repository struct
  modules/structs/repo.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/fork.go
  routers/api/v1/repo/hook.go
  routers/api/v1/repo/key.go
  routers/api/v1/repo/migrate.go
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/status.go
  routers/api/v1/repo/transfer.go
  routers/api/v1/user/repo.go
  routers/api/v1/user/star.go
  routers/api/v1/user/watch.go
  routers/web/repo/webhook.go
  services/actions/notifier.go
  services/actions/notifier_helper.go
  services/convert/activity.go
  services/convert/notification.go
  services/convert/package.go
  services/convert/pull.go
  services/convert/pull_test.go
  services/convert/repository.go
  services/webhook/notifier.go
Labels: kind/bug, lgtm/done, kind/api, reviewed/wait-merge, size/L, backport/v1.20

#25447 remove test string
  templates/projects/list.tmpl
Labels: lgtm/done, skip-changelog, size/XS

#25445 Move some regexp out of functions (#25430)
  modules/util/path.go
  services/lfs/server.go
Labels: lgtm/done, kind/refactor, reviewed/wait-merge, size/S

#25416 Refactor path & config system (#25330)
  .gitignore
  cmd/actions.go
  cmd/cmd.go
  cmd/doctor.go
  cmd/dump.go
  cmd/embedded.go
  cmd/mailer.go
  cmd/restore_repo.go
  cmd/serv.go
  cmd/web.go
  contrib/environment-to-ini/environment-to-ini.go
  main.go
  models/migrations/base/tests.go
  models/unittest/testdb.go
  modules/doctor/doctor.go
  modules/doctor/paths.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  modules/setting/config_provider.go
  modules/setting/config_provider_test.go
  modules/setting/path.go
  modules/setting/path_test.go
  modules/setting/server.go
  modules/setting/setting.go
  modules/testlogger/testlogger.go
  routers/init.go
  routers/install/install.go
  routers/install/setting.go
  routers/web/admin/config.go
  templates/admin/config.tmpl
  tests/test_utils.go
Labels: kind/bug, lgtm/done, kind/breaking, reviewed/wait-merge, size/XXL

#25452 add `test-frontend` back to actions
  .github/workflows/pull-compliance.yml
Labels: lgtm/done, skip-changelog, size/XS

#25453 Update octicons and use `octicon-file-directory-symlink`
  modules/base/tool.go
  package-lock.json
  package.json
  public/img/svg/octicon-copilot-error.svg
  public/img/svg/octicon-copilot-warning.svg
  public/img/svg/octicon-file-directory-symlink.svg
  tests/integration/repo_test.go
  web_src/css/repo.css
Labels: kind/enhancement, lgtm/done, reviewed/wait-merge, size/S

#25454 Remove `deps-tools` from `backend` job
  .github/workflows/pull-compliance.yml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS
