Repository go-gitea/gitea, pull requests merged in 2024-08, with the labels that each got.

#31748 Exclude protected branches from recently pushed
  models/git/branch.go
Labels: type/enhancement, lgtm/done, size/S, modifies/go

#31724 Clarify Actions resources ownership
  models/actions/runner.go
  models/actions/runner_token.go
  models/actions/variable.go
  models/secret/secret.go
  tests/integration/api_user_variables_test.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/L, modifies/go

#31744 Add permission description for API to add repo collaborator
  modules/structs/repo_collaborator.go
  templates/swagger/v1_json.tmpl
Labels: type/docs, lgtm/done, modifies/api, reviewed/wait-merge, size/XS, modifies/go, topic/api

#31742 Use UTC as default timezone when schedule Actions cron tasks
  models/actions/schedule.go
  models/actions/schedule_spec.go
  models/actions/schedule_spec_test.go
Labels: type/bug, lgtm/done, pr/breaking, reviewed/wait-merge, topic/gitea-actions, size/L, modifies/go

#31705 bump vue-bar-graph
  package-lock.json
  package.json
  web_src/js/components/RepoActivityTopAuthors.vue
Labels: type/bug, lgtm/done, skip-changelog, size/XS, modifies/js, modifies/dependencies, backport/v1.22

#31753 bump vue-bar-graph (#31705)
  package-lock.json
  package.json
  web_src/js/components/RepoActivityTopAuthors.vue
Labels: type/bug, lgtm/done, size/XS, modifies/js, modifies/dependencies

#31750 Backport: Fix dates displaying in a wrong manner when we're close to the end of…
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#31751 Fix createElementFromAttrs bug
  web_src/js/utils/dom.test.ts
  web_src/js/utils/dom.ts
Labels: type/bug, lgtm/done, skip-changelog, size/XS

#31756 Remove unused code from models/repos/release.go
  models/repo/release.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go

#31762 Upgrade bleve to 2.4.2
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/dependencies

#31766 Update JS dependencies
  .eslintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/internal, modifies/dependencies

#31760 Fix wiki revision pagination
  routers/web/repo/wiki.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#31759 Rename head branch of pull requests when renaming a branch
  models/git/branch.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31773 Fix null requested_reviewer from API
  models/issues/pull.go
  models/issues/review_list.go
  modules/structs/pull.go
  services/convert/pull.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go

#31778 Fix protected branch files detection on pre_receive hook
  modules/git/commit_test.go
  modules/git/diff.go
  modules/git/repo_commit.go
  modules/git/repo_commit_test.go
  routers/private/hook_pre_receive.go
  services/pull/patch.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31791 Add `TAGS` to `TEST_TAGS` and fix bugs found with gogit
  Makefile
  modules/git/blame_sha256_test.go
  modules/git/repo_tree_gogit.go
Labels: type/bug, lgtm/done, type/testing, size/S, modifies/go, modifies/internal, backport/v1.22

#31794 Fix RPM resource leak
  routers/api/packages/rpm/rpm.go
  services/packages/rpm/repository.go
  services/packages/rpm/sign.go
Labels: type/bug, lgtm/done, modifies/api, topic/packages, size/M, modifies/go

#29311 Add issue comment when moving issues from one column to another of the project
  models/issues/comment.go
  models/issues/issue_list.go
  models/migrations/migrations.go
  models/migrations/v1_23/v303.go
  models/project/issue.go
  options/locale/locale_en-US.ini
  routers/web/org/projects.go
  routers/web/repo/issue.go
  routers/web/repo/projects.go
  services/projects/issue.go
  templates/repo/issue/view_content/comments.tmpl
Labels: type/enhancement, type/feature, lgtm/done, modifies/translation, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/migrations

#31761 Support compression for Actions logs
  assets/go-licenses.json
  custom/conf/app.example.ini
  go.mod
  go.sum
  models/actions/task.go
  modules/actions/log.go
  modules/packages/conda/metadata.go
  modules/packages/conda/metadata_test.go
  modules/packages/debian/metadata.go
  modules/packages/debian/metadata_test.go
  modules/setting/actions.go
  modules/zstd/option.go
  modules/zstd/zstd.go
  modules/zstd/zstd_test.go
  tests/integration/api_packages_conda_test.go
Labels: type/feature, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/XL, modifies/go, modifies/dependencies

#31790 Fix `IsObjectExist` with gogit
  modules/git/repo_branch_gogit.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_branch_test.go
  modules/markup/html.go
Labels: type/bug, issue/critical, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#31810 Add label `docs-update-needed` for PRs that modify `app.example.ini`
  .github/labeler.yml
Labels: lgtm/done, skip-changelog, size/XS, modifies/internal

#31809 Fix typo for `LOG_COMPRESSION` in ini
  custom/conf/app.example.ini
Labels: type/docs, lgtm/done, skip-changelog, size/XS, docs-update-needed

#31808 Show latest run when visit /run/latest
  models/actions/run.go
  routers/web/repo/actions/view.go
Labels: lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/M, modifies/go

#31805 Add warning message in merge instructions when `AutodetectManualMerge` was not enabled
  options/locale/locale_en-US.ini
  routers/web/repo/issue.go
  templates/repo/issue/view_content/pull_merge_instruction.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/S, modifies/go, modifies/templates

#31781 Add types to various low-level functions
  package-lock.json
  package.json
  types.d.ts
  web_src/js/features/dropzone.ts
  web_src/js/features/repo-issue-list.ts
  web_src/js/features/repo-projects.ts
  web_src/js/features/stopwatch.ts
  web_src/js/modules/dirauto.ts
  web_src/js/modules/sortable.ts
  web_src/js/modules/stores.ts
  web_src/js/modules/tippy.ts
  web_src/js/utils/color.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/dependencies

#31126 Move repository visibility to danger zone in the settings area
  options/locale/locale_en-US.ini
  routers/web/repo/setting/setting.go
  services/repository/repository.go
  templates/repo/settings/options.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/L, modifies/go, modifies/templates

#31788 Show lock owner instead of repo owner on LFS setting page
  models/git/lfs_lock.go
  models/git/lfs_lock_list.go
  routers/web/repo/setting/lfs.go
  templates/repo/settings/lfs_locks.tmpl
  tests/integration/lfs_view_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, topic/lfs, modifies/templates, backport/v1.22

#31799 Add `:focus-visible` style to buttons
  web_src/css/modules/button.css
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, topic/accessibility, backport/v1.22

#31083 Support issue template assignees
  modules/issue/template/template_test.go
  modules/structs/issue.go
  modules/structs/issue_test.go
  routers/web/repo/issue.go
  templates/repo/issue/new_form.tmpl
  templates/swagger/v1_json.tmpl
Labels: type/enhancement, lgtm/done, modifies/api, size/M, modifies/go, modifies/templates

#31683 Scroll images in project issues separately from the remaining issue
  web_src/css/features/projects.css
  web_src/css/repo/issue-card.css
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22

#31770 Fixes for unreachable project issues when transfer repository from organization
  models/project/issue.go
  models/project/project.go
  options/locale/locale_en-US.ini
  services/repository/transfer.go
  templates/repo/settings/options.tmpl
Labels: type/bug, lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/go, modifies/templates, backport/v1.22

#31826 Add spacing to global error message
  tailwind.config.js
Labels: type/bug, topic/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/js

#31812 render plain text file if the LFS object doesn't exist
  routers/web/repo/view.go
  tests/gitea-repositories-meta/user2/lfs.git/objects/30/77e1c4c8964613df72c37d14275c1eda5228a9
  tests/gitea-repositories-meta/user2/lfs.git/objects/6b/bc79965141058b0026f2064dfb6d2eae3c4540
  tests/gitea-repositories-meta/user2/lfs.git/objects/b0/89e97ee59224e8c5676673c096ee4b6a8b9342
  tests/gitea-repositories-meta/user2/lfs.git/objects/e9/c32647bab825977942598c0efa415de300304b
  tests/gitea-repositories-meta/user2/lfs.git/refs/heads/master
  tests/integration/lfs_view_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go

#31829 Fix panic of ssh public key page after deletion of auth source
  models/asymkey/ssh_key.go
  models/asymkey/ssh_key_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31832 Add missing repository type filter parameters to pager
  routers/web/explore/repo.go
  routers/web/org/home.go
  routers/web/user/notification.go
  routers/web/user/profile.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31825 Fix raw wiki links
  modules/markup/html_link.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  routers/web/repo/wiki.go
  routers/web/repo/wiki_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#31843 Avoid returning without written ctx when posting PR
  routers/web/repo/pull.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#31824 fix the component of access token list not mounted
  templates/user/settings/applications.tmpl
  web_src/js/components/ScopedAccessTokenSelector.vue
  web_src/js/features/scoped-access-token.ts
  web_src/js/index.ts
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/templates, modifies/js, backport/v1.22

#31842 Fix overflowing content in action run log
  web_src/js/components/RepoActionView.vue
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/XS, modifies/js, backport/v1.22

#28163 Actions support workflow dispatch event
  modules/structs/hook.go
  options/locale/locale_en-US.ini
  routers/web/repo/actions/actions.go
  routers/web/repo/actions/actions_test.go
  routers/web/repo/actions/view.go
  routers/web/web.go
  templates/repo/actions/list.tmpl
  templates/repo/actions/workflow_dispatch.tmpl
  web_src/js/features/repo-legacy.ts
  web_src/js/index.ts
Labels: type/feature, lgtm/done, modifies/translation, reviewed/wait-merge, topic/gitea-actions, size/XL, modifies/go, modifies/templates

#31866 Fix actions notify bug
  services/actions/notifier.go
  services/actions/notifier_helper.go
  tests/integration/actions_trigger_test.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31868 fix the component of access token list not mounted (#31824)
  templates/user/settings/applications.tmpl
  web_src/js/components/ScopedAccessTokenSelector.vue
  web_src/js/features/scoped-access-token.js
  web_src/js/index.js
Labels: lgtm/done, size/M, modifies/templates, modifies/js

#31082 Add tag name in the commits list
  models/migrations/migrations.go
  models/migrations/v1_23/v304.go
  models/repo/release.go
  models/repo/release_test.go
  options/locale/locale_en-US.ini
  routers/web/repo/commit.go
  templates/repo/commits_list.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/tag/name.tmpl
Labels: type/enhancement, lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/go, modifies/templates, modifies/migrations

#31874 add CfTurnstileSitekey context data to all captcha templates
  routers/web/auth/linkaccount.go
  routers/web/auth/openid.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31207 Fix agit automerge
  models/fixtures/repository.yml
  services/automerge/automerge.go
  tests/gitea-repositories-meta/user2/repo1.git/hooks/proc-receive
  tests/gitea-repositories-meta/user2/repo1.git/hooks/proc-receive.d/gitea
  tests/integration/pull_merge_test.go
Labels: type/bug, lgtm/done, size/L, modifies/go, backport/v1.22

#31754 Refactor the usage of batch catfile
  modules/git/batch.go
  modules/git/batch_reader.go
  modules/git/blob_nogogit.go
  modules/git/commit_info_nogogit.go
  modules/git/pipeline/lfs_nogogit.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_branch_nogogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_language_stats_nogogit.go
  modules/git/repo_tag_nogogit.go
  modules/git/repo_tree_nogogit.go
  modules/git/tree_entry_nogogit.go
  modules/git/tree_nogogit.go
  modules/indexer/code/bleve/bleve.go
  modules/indexer/code/elasticsearch/elasticsearch.go
Labels: lgtm/done, type/refactoring, performance/cpu, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#31859 Don't return 500 if mirror url contains special chars
  routers/web/repo/setting/setting.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#31892 bug fix for translation in ru
  options/locale/locale_ru-RU.ini
Labels: lgtm/done, modifies/translation, size/XS

#31894 Upgrade bleve to 2.4.2
  assets/go-licenses.json
  go.mod
  go.sum
  modules/markup/console/console.go
Labels: lgtm/done, size/M, modifies/go, modifies/dependencies

#31839 Move lock icon position and add additional tooltips to branch list page
  templates/repo/branch/list.tmpl
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/S, modifies/templates

#31895 Don't return 500 if mirror url contains special chars (#31859)
  routers/web/repo/setting/setting.go
Labels: type/bug, lgtm/done, size/XS, modifies/go

#31887 Use correct function name
  modules/migration/pullrequest.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XS, modifies/go

#31910 Bump relative-time-element to v4.4.3
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#31905 Remove "dsa-1024" testcases from Test_SSHParsePublicKey and Test_calcFingerprint
  models/asymkey/ssh_key_test.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31879 Handle "close" actionable references for manual merges
  services/pull/merge.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#31913 Update mermaid to v11
  package-lock.json
  package.json
  web_src/js/markup/mermaid.ts
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#31373 Split org Propfile README to a new tab `overview`
  routers/web/org/home.go
  routers/web/org/members.go
  routers/web/org/teams.go
  routers/web/shared/user/header.go
  routers/web/web.go
  templates/org/menu.tmpl
Labels: type/proposal, lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/templates

#31877 Fix a number of Typescript issues
  types.d.ts
  web_src/js/htmx.ts
  web_src/js/index.ts
  web_src/js/render/ansi.ts
  web_src/js/standalone/swagger.ts
  web_src/js/svg.test.ts
  web_src/js/types.ts
  web_src/js/utils.test.ts
  web_src/js/utils.ts
  web_src/js/utils/color.ts
  web_src/js/utils/dom.ts
  web_src/js/utils/image.ts
  web_src/js/utils/match.ts
  web_src/js/utils/time.ts
  web_src/js/utils/url.ts
  web_src/js/vitest.setup.ts
Labels: lgtm/done, type/refactoring, size/L

#31933 Refactor globallock
  modules/globallock/globallock.go
  modules/globallock/locker.go
  modules/globallock/locker_test.go
  modules/globallock/memory_locker.go
  modules/globallock/redis_locker.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, modifies/go

#31939 Upgrade micromatch to 4.0.8
  package-lock.json
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#31923 Fix search team
  routers/web/web.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31940 Update JS and PY dependencies
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: topic/security, lgtm/done, reviewed/wait-merge, size/M, modifies/dependencies

#31944 Upgrade micromatch to 4.0.8
  package-lock.json
Labels: lgtm/done, size/XS, modifies/dependencies

#31943 Move web globals to `web_src/js/globals.d.ts`
  tsconfig.json
  web_src/js/globals.d.ts
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/XS
