Repository go-gitea/gitea, pull requests merged in 2024-11, with the labels that each got.

#30300 Add artifacts test fixture
  models/fixtures/action_artifact.yml
  modules/storage/storage.go
  tests/integration/api_actions_artifact_test.go
  tests/integration/api_actions_artifact_v4_test.go
  tests/test_utils.go
  tests/testdata/data/artifacts/26/1/1712166500347189545.chunk
  tests/testdata/data/artifacts/26/19/1712348022422036662.chunk
  tests/testdata/data/artifacts/26/20/1712348022423431524.chunk
  tests/testdata/data/artifacts/27/5/1730330775594233150.chunk
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/L, modifies/go

#32397 Fix `missing signature key` error when pulling Docker images with `SERVE_DIRECT` enabled (#32365)
  modules/packages/content_store.go
  modules/storage/helper.go
  modules/storage/helper_test.go
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
  routers/api/actions/artifacts.go
  routers/api/actions/artifactsv4.go
  routers/api/packages/container/container.go
  routers/api/packages/maven/maven.go
  routers/api/v1/repo/file.go
  routers/web/base.go
  routers/web/repo/actions/view.go
  routers/web/repo/attachment.go
  routers/web/repo/download.go
  routers/web/repo/repo.go
  services/lfs/server.go
  services/packages/packages.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go

#32398 Refactor tests to prevent from unnecessary preparations
  modules/testlogger/testlogger.go
  modules/util/util.go
  modules/util/util_test.go
  tests/integration/api_actions_artifact_test.go
  tests/integration/api_actions_artifact_v4_test.go
  tests/test_utils.go
Labels: lgtm/done, type/testing, size/L, modifies/go

#32393 improve performance of diffs
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/pull.go
  services/gitdiff/gitdiff.go
  services/repository/files/temp_repo.go
Labels: lgtm/done, performance/speed, size/M, modifies/go

#32383 Replace DateTime with DateUtils
  modules/templates/helper.go
  modules/templates/util_date.go
  routers/web/repo/activity.go
  services/context/context.go
  templates/admin/auth/list.tmpl
  templates/admin/cron.tmpl
  templates/admin/notice.tmpl
  templates/admin/org/list.tmpl
  templates/admin/packages/list.tmpl
  templates/admin/repo/list.tmpl
  templates/admin/user/list.tmpl
  templates/explore/user_list.tmpl
  templates/package/shared/cleanup_rules/preview.tmpl
  templates/package/view.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/empty.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/pulse.tmpl
  templates/repo/settings/deploy_keys.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/user_cards.tmpl
  templates/shared/issuelist.tmpl
  templates/shared/secrets/add_list.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  templates/shared/variables/variable_list.tmpl
  templates/user/settings/applications.tmpl
  templates/user/settings/grants_oauth2.tmpl
  templates/user/settings/keys_gpg.tmpl
  templates/user/settings/keys_principal.tmpl
  templates/user/settings/keys_ssh.tmpl
  templates/user/settings/security/webauthn.tmpl
Labels: lgtm/done, size/L, modifies/go, modifies/templates

#32345 Fix broken image when editing comment with non-image attachments (#32319)
  web_src/js/features/repo-issue-edit.js
  web_src/js/utils/image.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/js

#32342 Fix created_unix for mirroring
  modules/repository/repo.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32401 Fix git error handling
  modules/git/error.go
  modules/git/repo_attribute.go
  routers/api/v1/repo/repo.go
  routers/private/default_branch.go
  routers/web/repo/githttp.go
  services/gitdiff/gitdiff.go
  services/mirror/mirror_pull.go
  services/repository/branch.go
  services/repository/files/temp_repo.go
  services/repository/push.go
Labels: lgtm/done, modifies/api, skip-changelog, size/L, modifies/go

#32402 Replace DateTime with proper functions
  modules/templates/helper.go
  modules/templates/util_date.go
  modules/templates/util_date_test.go
  modules/timeutil/datetime.go
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/user/dashboard/milestones.tmpl
Labels: lgtm/done, size/M, modifies/go, modifies/templates

#32404 Refactor repo legacy
  web_src/js/features/repo-common.ts
  web_src/js/features/repo-issue-list.ts
  web_src/js/features/repo-issue-sidebar.ts
  web_src/js/features/repo-issue.ts
  web_src/js/features/repo-legacy.ts
  web_src/js/features/repo-milestone.ts
  web_src/js/features/repo-new.ts
  web_src/js/features/repo-settings.ts
  web_src/js/index.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XL, modifies/js, modifies/frontend

#32369 Make LFS http_client parallel within a batch.
  custom/conf/app.example.ini
  go.mod
  modules/lfs/http_client.go
  modules/lfs/http_client_test.go
  modules/repository/repo.go
  modules/setting/lfs.go
  modules/setting/lfs_test.go
Labels: lgtm/done, size/L, modifies/go, modifies/dependencies, docs-update-needed

#32406 Fix created_unix for mirroring (#32342)
  modules/repository/repo.go
Labels: type/bug, lgtm/done, size/XS, modifies/go

#32422 Refactor template ctx and render utils
  modules/templates/helper.go
  modules/templates/util_date.go
  modules/templates/util_date_legacy.go
  modules/templates/util_render.go
  modules/templates/util_render_legacy.go
  modules/templates/util_render_test.go
  routers/web/feed/convert.go
  routers/web/org/projects.go
  routers/web/repo/issue.go
  services/context/context.go
  templates/base/head_script.tmpl
  templates/explore/repo_list.tmpl
  templates/org/team/new.tmpl
  templates/org/team/sidebar.tmpl
  templates/package/content/cargo.tmpl
  templates/package/content/chef.tmpl
  templates/package/content/composer.tmpl
  templates/package/content/npm.tmpl
  templates/package/content/nuget.tmpl
  templates/package/content/pub.tmpl
  templates/package/content/pypi.tmpl
  templates/projects/view.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/header.tmpl
  templates/repo/issue/card.tmpl
  templates/repo/issue/fields/checkboxes.tmpl
  templates/repo/issue/fields/header.tmpl
  templates/repo/issue/fields/markdown.tmpl
  templates/repo/issue/filter_actions.tmpl
  templates/repo/issue/filter_list.tmpl
  templates/repo/issue/labels/label.tmpl
  templates/repo/issue/labels/label_list.tmpl
  templates/repo/issue/labels/labels_selector_field.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/latest_commit.tmpl
  templates/repo/pulse.tmpl
  templates/repo/settings/collaboration.tmpl
  templates/repo/settings/lfs_file_find.tmpl
  templates/repo/settings/navbar.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/view_list.tmpl
  templates/shared/issuelist.tmpl
  templates/user/dashboard/feeds.tmpl
  templates/user/notification/notification_div.tmpl
Labels: lgtm/done, type/refactoring, size/L, modifies/go, modifies/templates

#32423 Quick fix milestone deadline 9999 for 1.22
  models/issues/milestone.go
Labels: lgtm/done, size/XS, modifies/go

#32413 Refactor RepoRefByType
  routers/api/v1/repo/file.go
  routers/web/goget.go
  routers/web/web.go
  services/context/api.go
  services/context/repo.go
  templates/swagger/v1_json.tmpl
  tests/integration/links_test.go
Labels: lgtm/done, modifies/api, size/L, modifies/go

#32414 Only query team tables if repository is under org when getting assignees
  models/repo/user_repo.go
Labels: type/bug, lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32339 Fix milestone deadline and date related problems
  models/actions/schedule_spec_test.go
  models/issues/milestone.go
  models/migrations/migrations.go
  models/migrations/v1_23/v307.go
  modules/gitgraph/graph.go
  modules/gitgraph/graph_models.go
  modules/templates/util_date.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/milestone.go
  routers/common/deadline.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/web.go
  services/convert/issue.go
  templates/repo/graph/commits.tmpl
  templates/repo/issue/milestone_new.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  tests/integration/api_issue_milestone_test.go
  tests/integration/issue_test.go
  web_src/js/features/repo-issue-sidebar.ts
  web_src/js/features/repo-issue.ts
  web_src/js/features/repo-milestone.ts
  web_src/js/index.ts
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/migrations, modifies/frontend

#32426 Only query team tables if repository is under org when getting assignees (#32414)
  models/repo/user_repo.go
Labels: type/bug, lgtm/done, modifies/go

#32438 Correctly query the primary button in a form
  web_src/js/features/comp/QuickSubmit.ts
  web_src/js/features/repo-issue-edit.ts
  web_src/js/utils/dom.test.ts
  web_src/js/utils/dom.ts
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/M, modifies/frontend

#32151 Include file extension checks in attachment API
  routers/api/v1/repo/issue_attachment.go
  routers/api/v1/repo/issue_comment_attachment.go
  routers/api/v1/repo/release_attachment.go
  services/attachment/attachment.go
  services/context/upload/upload.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_comment_attachment_test.go
  tests/integration/api_issue_attachment_test.go
  tests/integration/api_releases_attachment_test.go
Labels: topic/security, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go

#32333 Add new index for action to resolve the performance problem
  models/activities/action.go
  models/migrations/migrations.go
  models/migrations/v1_23/v308.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/M, modifies/go, modifies/migrations

#32419 Move AddCollabrator and CreateRepositoryByExample to service layer
  models/perm/access_mode.go
  modules/repository/collaborator.go
  modules/repository/collaborator_test.go
  modules/repository/create.go
  modules/repository/main_test.go
  routers/api/v1/api.go
  routers/api/v1/repo/collaborators.go
  routers/web/repo/setting/collaboration.go
  services/feed/action_test.go
  services/issue/main_test.go
  services/mailer/main_test.go
  services/repository/adopt.go
  services/repository/collaboration.go
  services/repository/collaboration_test.go
  services/repository/create.go
  services/repository/fork.go
  services/repository/generate.go
  services/repository/transfer.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, type/refactoring, modifies/api, size/XL, modifies/go

#32431 Support quote selected comments to reply
  modules/markup/html.go
  modules/markup/html_codepreview_test.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  modules/markup/sanitizer_default.go
  modules/templates/util_render_test.go
  routers/api/v1/misc/markup_test.go
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/context_menu.tmpl
  templates/repo/issue/view_content/conversation.tmpl
  web_src/js/features/repo-issue-edit.ts
  web_src/js/markup/html2markdown.test.ts
  web_src/js/markup/html2markdown.ts
Labels: type/feature, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/frontend

#32432 Only provide the commit summary for Discord webhook push events
  services/webhook/discord.go
  services/webhook/discord_test.go
  services/webhook/general_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#32444 Split issue sidebar into small templates
  templates/repo/issue/branch_selector_field.tmpl
  templates/repo/issue/sidebar/allow_maintainer_edit.tmpl
  templates/repo/issue/sidebar/assignee_list.tmpl
  templates/repo/issue/sidebar/due_date.tmpl
  templates/repo/issue/sidebar/issue_dependencies.tmpl
  templates/repo/issue/sidebar/issue_management.tmpl
  templates/repo/issue/sidebar/milestone_list.tmpl
  templates/repo/issue/sidebar/participant_list.tmpl
  templates/repo/issue/sidebar/project_list.tmpl
  templates/repo/issue/sidebar/reference_link.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  templates/repo/issue/sidebar/stopwatch_timetracker.tmpl
  templates/repo/issue/sidebar/watch_notification.tmpl
  templates/repo/issue/sidebar/wip_switch.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XXL, modifies/templates

#32445 Refactor issue page info
  routers/web/repo/issue.go
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/pulls/files.tmpl
  web_src/js/features/repo-issue-content.ts
  web_src/js/features/repo-issue.ts
  web_src/js/types.ts
  web_src/js/utils.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go, modifies/templates, modifies/frontend

#32435 Fix broken releases when re-pushing tags
  services/repository/push.go
  tests/integration/repo_tag_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32450 Refactor language menu and dom utils
  templates/base/footer_content.tmpl
  web_src/css/home.css
  web_src/js/features/common-page.ts
  web_src/js/features/imagediff.ts
  web_src/js/features/repo-common.ts
  web_src/js/features/repo-editor.ts
  web_src/js/features/repo-settings.ts
  web_src/js/modules/fomantic/base.ts
  web_src/js/modules/tippy.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, type/refactoring, size/L, modifies/templates, modifies/frontend

#32403 Add reviewers selection to new pull request fixes #26289
  modules/structs/pull.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  services/agit/agit.go
  services/forms/repo_form.go
  services/issue/assignee.go
  services/mailer/mailer.go
  services/pull/pull.go
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  templates/repo/issue/sidebar/wip_switch.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/actions_trigger_test.go
  tests/integration/api_pull_review_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_update_test.go
  web_src/css/base.css
  web_src/css/repo.css
  web_src/js/features/repo-issue-sidebar-combolist.ts
  web_src/js/features/repo-issue-sidebar.ts
  web_src/js/features/repo-issue.ts
Labels: type/feature, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/XL, modifies/go, modifies/templates, modifies/frontend

#32457 Fix mermaid diagram height when initially hidden
  web_src/js/markup/mermaid.ts
Labels: type/bug, lgtm/done, size/S, backport/v1.22, modifies/frontend

#32460 Refactor sidebar label selector
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/issue_label.go
  routers/web/repo/issue_label_test.go
  routers/web/web.go
  templates/repo/issue/labels/label.tmpl
  templates/repo/issue/labels/labels_selector_field.tmpl
  templates/repo/issue/labels/labels_sidebar.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/sidebar/label_list.tmpl
  templates/repo/issue/sidebar/label_list_item.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/css/repo.css
  web_src/css/repo/issue-label.css
  web_src/js/features/common-page.ts
  web_src/js/features/repo-issue-sidebar-combolist.ts
  web_src/js/features/repo-issue-sidebar.md
  web_src/js/features/repo-issue-sidebar.ts
  web_src/js/features/repo-issue.ts
  web_src/js/index.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, type/refactoring, size/XL, modifies/go, modifies/templates, modifies/docs, modifies/frontend

#32465 Refactor sidebar assignee&milestone&project selectors
  modules/base/tool.go
  modules/base/tool_test.go
  modules/container/set.go
  modules/container/set_test.go
  modules/templates/helper.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  services/forms/repo_form.go
  templates/repo/issue/milestone/select_menu.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/sidebar/assignee_list.tmpl
  templates/repo/issue/sidebar/label_list.tmpl
  templates/repo/issue/sidebar/label_list_item.tmpl
  templates/repo/issue/sidebar/milestone_list.tmpl
  templates/repo/issue/sidebar/participant_list.tmpl
  templates/repo/issue/sidebar/project_list.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  web_src/css/repo.css
  web_src/js/features/repo-issue-sidebar-combolist.ts
  web_src/js/features/repo-issue-sidebar.md
  web_src/js/features/repo-issue-sidebar.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XXL, modifies/go, modifies/templates, modifies/docs, modifies/frontend

#32424 Add a doctor check to disable the "Actions" unit for mirrors
  services/doctor/actions.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go

#32416 Add `DEFAULT_MIRROR_REPO_UNITS` and `DEFAULT_TEMPLATE_REPO_UNITS` options
  custom/conf/app.example.ini
  models/unit/unit.go
  modules/setting/repository.go
  services/repository/create.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, docs-update-needed

#32234 Calculate `PublicOnly` for org membership only once
  models/organization/org.go
  models/organization/org_test.go
  models/organization/org_user_test.go
  routers/api/v1/org/member.go
  routers/web/org/home.go
  routers/web/org/members.go
  services/context/org.go
Labels: lgtm/done, type/refactoring, modifies/api, size/L, modifies/go

#32468 Move some functions from issue.go to standalone files
  routers/web/repo/issue.go
  routers/web/repo/issue_comment.go
  routers/web/repo/issue_list.go
  routers/web/repo/issue_new.go
  routers/web/repo/issue_page_meta.go
  routers/web/repo/issue_poster.go
  routers/web/repo/issue_view.go
  routers/web/repo/pull_review.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XXL, modifies/go

#32462 Harden runner updateTask and updateLog api
  models/actions/task.go
  routers/api/actions/runner/runner.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/S, modifies/go

#32459 Fix a number of typescript issues
  web_src/js/features/admin/common.ts
  web_src/js/features/admin/config.ts
  web_src/js/features/admin/emails.ts
  web_src/js/features/admin/selfcheck.ts
  web_src/js/features/admin/users.ts
  web_src/js/markup/anchors.ts
  web_src/js/markup/codecopy.ts
  web_src/js/markup/common.ts
  web_src/js/markup/content.ts
  web_src/js/markup/html2markdown.ts
  web_src/js/markup/math.ts
  web_src/js/markup/mermaid.ts
  web_src/js/markup/tasklist.ts
  web_src/js/svg.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/frontend

#32473 Refactor LFS SSH and internal routers
  cmd/serv.go
  models/fixtures/lfs_meta_object.yml
  models/migrations/v1_21/v276.go
  modules/git/batch_reader.go
  modules/lfstransfer/backend/backend.go
  modules/lfstransfer/backend/lock.go
  modules/lfstransfer/backend/util.go
  modules/private/internal.go
  modules/web/route.go
  routers/common/lfs.go
  routers/private/internal.go
  routers/web/web.go
  tests/integration/api_repo_file_get_test.go
  tests/integration/git_general_test.go
  tests/integration/git_lfs_ssh_test.go
  tests/integration/git_misc_test.go
  tests/test_utils.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XL, modifies/go, modifies/cli, modifies/migrations

#32430 cargo registry - respect renamed dependencies
  modules/packages/cargo/parser.go
  modules/packages/cargo/parser_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32211 Limit org member view of restricted users
  models/fixtures/org_user.yml
  models/fixtures/user.yml
  models/organization/org.go
  models/organization/org_test.go
Labels: type/enhancement, lgtm/done, size/L, modifies/go

#32477 Fix test fixtures for user2/lfs.git
  models/fixtures/lfs_meta_object.yml
  tests/gitea-repositories-meta/user2/lfs.git/objects/30/77e1c4c8964613df72c37d14275c1eda5228a9
  tests/gitea-repositories-meta/user2/lfs.git/objects/6b/bc79965141058b0026f2064dfb6d2eae3c4540
  tests/gitea-repositories-meta/user2/lfs.git/objects/b0/89e97ee59224e8c5676673c096ee4b6a8b9342
  tests/gitea-repositories-meta/user2/lfs.git/objects/e9/c32647bab825977942598c0efa415de300304b
  tests/gitea-repositories-meta/user2/lfs.git/refs/heads/master
  tests/integration/lfs_view_test.go
Labels: lgtm/done, type/testing, skip-changelog, reviewed/wait-merge, size/M, modifies/go

#32480 Disable Oauth check if oauth disabled (#32368)
  services/auth/oauth2.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#32484 Update `github.com/meilisearch/meilisearch-go`
  go.mod
  go.sum
Labels: lgtm/done, size/S, modifies/dependencies

#32482 Update JS and PY dependencies
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/M, modifies/dependencies

#32368 Disable Oauth check if oauth disabled
  routers/web/web.go
  services/auth/oauth2.go
Labels: type/bug, lgtm/done, backport/done, reviewed/wait-merge, size/M, modifies/go, backport/manual, backport/v1.22

#32479 Refactor internal routers (partial backport, auth token const time comparing) (#32473)
  models/migrations/v1_21/v276.go
  modules/git/batch_reader.go
  modules/private/internal.go
  modules/web/route.go
  routers/private/internal.go
Labels: topic/security, lgtm/done, size/M, modifies/go, modifies/migrations

#32488 Fix LFS route mock, realm, middleware names
  go.mod
  routers/common/lfs.go
  routers/private/internal.go
  routers/web/auth/oauth2_provider.go
  routers/web/githttp.go
  routers/web/web.go
  services/context/base.go
  services/context/context.go
  services/lfs/locks.go
  services/lfs/server.go
  tests/integration/git_lfs_ssh_test.go
Labels: lgtm/done, type/testing, skip-changelog, size/L, modifies/go, modifies/dependencies

#32495 Update nix development environment vor v1.22.x
  flake.lock
Labels: lgtm/need 1, topic/build, skip-changelog, size/S

#32395 Perf: add extra index to notification table
  models/activities/notification.go
  models/migrations/migrations.go
  models/migrations/v1_23/v309.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/L, modifies/go, modifies/migrations

#32487 Bump CI,Flake and Snap to Node 22
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-e2e-tests.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release-tag-rc.yml
  .github/workflows/release-tag-version.yml
  flake.lock
  flake.nix
  snap/snapcraft.yaml
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/internal

#32501 Fix nil panic if repo doesn't exist
  models/activities/action.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#32492 Refactor render system
  models/repo/repo.go
  modules/markup/console/console.go
  modules/markup/html.go
  modules/markup/html_codepreview_test.go
  modules/markup/html_internal_test.go
  modules/markup/html_issue.go
  modules/markup/html_link.go
  modules/markup/html_node.go
  modules/markup/html_test.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/transform_image.go
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
  modules/markup/render.go
  modules/structs/miscellaneous.go
  modules/templates/util_render.go
  modules/templates/util_render_test.go
  routers/api/v1/misc/markup.go
  routers/api/v1/misc/markup_test.go
  routers/common/markup.go
  routers/web/feed/convert.go
  routers/web/misc/markup.go
  routers/web/repo/view.go
  routers/web/repo/wiki.go
  routers/web/user/profile.go
  services/context/org.go
  templates/swagger/v1_json.tmpl
  tests/integration/markup_external_test.go
  web_src/js/features/comp/ComboMarkdownEditor.ts
  web_src/js/features/repo-wiki.ts
Labels: lgtm/done, type/refactoring, modifies/api, size/L, modifies/go, modifies/frontend

#32486 Reimplement GetUserOrgsList to make it simple and clear
  models/organization/mini_org.go
  models/organization/org.go
  models/organization/org_list.go
  models/organization/org_list_test.go
  models/organization/org_test.go
  services/oauth2_provider/access_token.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/go

#32498 Trim title before insert/update to database to match the size requirements of database
  models/actions/run.go
  models/actions/runner.go
  models/actions/schedule.go
  models/issues/issue_update.go
  models/issues/pull.go
  models/project/project.go
  models/repo/release.go
  services/release/release.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#32512 Remove jQuery import from some files
  web_src/js/components/DashboardRepoList.vue
  web_src/js/components/RepoContributors.vue
  web_src/js/features/citation.ts
  web_src/js/features/common-form.ts
  web_src/js/features/comp/ConfirmModal.ts
  web_src/js/features/comp/ReactionSelector.ts
  web_src/js/features/comp/SearchUserBox.ts
  web_src/js/features/repo-branch.ts
  web_src/js/features/repo-graph.ts
  web_src/js/features/repo-home.ts
  web_src/js/vendor/jquery.are-you-sure.ts
Labels: lgtm/done, type/refactoring, size/M, modifies/frontend

#32508 Add avif image file support
  custom/conf/app.example.ini
  modules/httplib/serve.go
  modules/setting/attachment.go
  modules/typesniffer/typesniffer.go
  modules/typesniffer/typesniffer_test.go
  web_src/js/utils.test.ts
  web_src/js/utils.ts
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/frontend, docs-update-needed

#32510 Fix incorrect project page CSS class
  templates/repo/projects/new.tmpl
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/templates

#32507 Trim title before insert/update to database to match the size requirements of database (#32498)
  models/actions/run.go
  models/actions/runner.go
  models/actions/schedule.go
  models/issues/issue_update.go
  models/issues/pull.go
  models/project/project.go
  models/repo/release.go
  services/release/release.go
Labels: type/bug, lgtm/done, modifies/go

#32514 Fix oauth2 error handle not return immediately
  routers/web/auth/oauth.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32186 Remove transaction for archive download
  services/repository/archiver/archiver.go
  services/repository/archiver/archiver_test.go
Labels: lgtm/done, size/M, modifies/go, backport/v1.22

#32505 Fix `recentupdate` sorting bugs
  models/repo/search.go
  modules/setting/ui.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#32515 Improve testing and try to fix MySQL hanging
  .github/workflows/pull-db-tests.yml
  models/migrations/base/tests.go
  modules/log/color.go
  modules/queue/workergroup.go
  modules/queue/workerqueue.go
  modules/testlogger/testlogger.go
  tests/integration/README.md
  tests/integration/api_repo_file_get_test.go
  tests/integration/git_general_test.go
  tests/integration/git_misc_test.go
  tests/integration/integration_test.go
  tests/integration/linguist_test.go
  tests/integration/migration-test/migration_test.go
  tests/integration/repo_branch_test.go
  tests/test_utils.go
Labels: lgtm/done, type/testing, size/L, modifies/go, modifies/docs, modifies/migrations, modifies/internal

#31740 Fix large image overflow in comment page
  templates/repo/issue/fields/markdown.tmpl
  web_src/css/modules/comment.css
Labels: topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#32522 Fix and refactor markdown rendering
  models/repo/repo.go
  models/repo/repo_test.go
  modules/markup/html.go
  modules/markup/html_commit.go
  modules/markup/html_email.go
  modules/markup/html_emoji.go
  modules/markup/html_internal_test.go
  modules/markup/html_issue.go
  modules/markup/html_link.go
  modules/markup/html_node.go
  modules/markup/html_test.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/transform_image.go
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
  modules/markup/render.go
  modules/markup/render_links.go
  modules/templates/util_render.go
  modules/templates/util_render_test.go
  routers/common/markup.go
  routers/web/feed/convert.go
  routers/web/feed/profile.go
  routers/web/org/home.go
  routers/web/repo/wiki.go
  routers/web/shared/user/header.go
  templates/repo/view_file.tmpl
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XL, modifies/go, modifies/templates

#32531 Fix basic auth with webauthn
  services/auth/basic.go
  tests/integration/api_twofa_test.go
Labels: type/bug, topic/security, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32544 Use better name for userinfo structure
  routers/web/auth/oauth2_provider.go
Labels: lgtm/done, type/refactoring, size/S, modifies/go

#32528 Refactor find forks and fix possible bugs that weak permissions check
  models/repo/fork.go
  models/repo/repo_list.go
  routers/api/v1/repo/fork.go
  routers/web/repo/view.go
  services/repository/fork.go
  templates/repo/forks.tmpl
  tests/integration/api_fork_test.go
  tests/integration/repo_fork_test.go
Labels: type/bug, lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, backport/v1.22

#32534 Improve some sanitizer rules
  modules/markup/asciicast/asciicast.go
  modules/markup/csv/csv.go
  modules/markup/sanitizer_default.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go

#32533 Refactor markup render system
  modules/html/html.go
  modules/htmlutil/html.go
  modules/htmlutil/html_test.go
  modules/markup/asciicast/asciicast.go
  modules/markup/common/html.go
  modules/markup/common/linkify.go
  modules/markup/console/console.go
  modules/markup/csv/csv.go
  modules/markup/external/external.go
  modules/markup/html.go
  modules/markup/html_codepreview.go
  modules/markup/html_email.go
  modules/markup/html_emoji.go
  modules/markup/html_issue.go
  modules/markup/html_link.go
  modules/markup/html_mention.go
  modules/markup/internal/finalprocessor.go
  modules/markup/internal/internal_test.go
  modules/markup/internal/renderinternal.go
  modules/markup/markdown/ast.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/math/block_renderer.go
  modules/markup/markdown/math/inline_renderer.go
  modules/markup/markdown/math/math.go
  modules/markup/markdown/meta_test.go
  modules/markup/markdown/transform_blockquote.go
  modules/markup/markdown/transform_codespan.go
  modules/markup/markdown/transform_list.go
  modules/markup/render.go
  modules/markup/sanitizer_custom.go
  modules/markup/sanitizer_default.go
  modules/markup/sanitizer_default_test.go
  modules/setting/markup.go
  modules/svg/svg.go
  modules/templates/helper.go
  modules/templates/helper_test.go
  modules/templates/util_avatar.go
  modules/templates/util_render.go
  modules/templates/util_render_test.go
  routers/web/repo/wiki.go
Labels: lgtm/done, type/refactoring, size/XXL, modifies/go

#32539 Refactor push mirror find and add check for updating push mirror
  models/db/collation.go
  models/repo/pushmirror.go
  routers/web/repo/setting/setting.go
  services/forms/repo_form.go
  services/mirror/mirror.go
  services/mirror/queue.go
  tests/integration/db_collation_test.go
  tests/integration/mirror_push_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#32243 Fix some places which doesn't repsect org full name setting
  templates/admin/org/list.tmpl
  templates/user/dashboard/repolist.tmpl
  web_src/js/components/DashboardRepoList.vue
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22, modifies/frontend

#32542 Use user.FullName in Oauth2 id_token response
  routers/web/auth/oauth2_provider.go
  routers/web/auth/oauth_test.go
  services/oauth2_provider/access_token.go
Labels: type/enhancement, lgtm/done, size/S, modifies/go

#32547 Refactor find forks and fix possible bugs that weak permissions check (#32528)
  models/repo/fork.go
  models/repo/repo_list.go
  routers/api/v1/repo/fork.go
  routers/web/repo/view.go
  services/repository/fork.go
  templates/repo/forks.tmpl
  tests/integration/api_fork_test.go
  tests/integration/repo_fork_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates

#32559 Fix a compilation error in the Gitpod environment
  flake.nix
Labels: lgtm/done, size/XS

#32560 Remove unnecessary code
  services/context/repo.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32558 Optimize installation-page experience
  options/locale/locale_en-US.ini
  templates/install.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS, modifies/templates

#32569 Remove duplicate empty repo check in delete branch API
  routers/api/v1/repo/branch.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/XS, modifies/go

#32527 allow the actions user to login via the jwt token
  models/fixtures/action_task.yml
  services/actions/auth.go
  services/auth/oauth2.go
  services/auth/oauth2_test.go
Labels: type/bug, lgtm/done, size/L, modifies/go, backport/v1.22

#32571 Fix submodule parsing
  modules/git/commit.go
  modules/git/commit_info.go
  modules/git/commit_info_gogit.go
  modules/git/commit_info_nogogit.go
  modules/git/commit_submodule.go
  modules/git/commit_submodule_file.go
  modules/git/commit_submodule_file_test.go
  modules/git/commit_test.go
  modules/git/config.go
  modules/git/config_submodule.go
  modules/git/config_submodule_test.go
  modules/git/config_test.go
  modules/git/fsck.go
  modules/git/git.go
  modules/git/git_test.go
  modules/git/repo_base_gogit.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_tag_gogit.go
  modules/git/repo_tag_nogogit.go
  modules/git/utils.go
Labels: type/bug, lgtm/done, backport/done, reviewed/wait-merge, size/XL, modifies/go, backport/manual, backport/v1.22

#32576 make search box in issue sidebar dropdown list always show when scrolling
  templates/repo/issue/sidebar/assignee_list.tmpl
  templates/repo/issue/sidebar/label_list.tmpl
  templates/repo/issue/sidebar/milestone_list.tmpl
  templates/repo/issue/sidebar/project_list.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/templates

#32577 Fix submodule parsing (#32571)
  modules/git/commit.go
  modules/git/commit_test.go
Labels: lgtm/done, size/M, modifies/go

#32585 Supplement and Improvement for #32558
  options/locale/locale_en-US.ini
  templates/install.tmpl
Labels: lgtm/need 1, modifies/translation, reviewed/wait-merge, size/XS, modifies/templates

#32580 allow the actions user to login via the jwt token (#32527)
  models/fixtures/action_task.yml
  services/actions/auth.go
  services/auth/oauth2.go
  services/auth/oauth2_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go

#32587 Improve issue sidebar UI
  templates/repo/issue/sidebar/label_list.tmpl
  templates/repo/issue/sidebar/milestone_list.tmpl
  templates/repo/issue/sidebar/project_list.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  web_src/css/base.css
  web_src/css/repo.css
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/templates

#32584 Add 'Copy path' button to file view
  options/locale/locale_en-US.ini
  templates/repo/diff/box.tmpl
  templates/repo/home.tmpl
Labels: type/enhancement, lgtm/done, modifies/translation, reviewed/wait-merge, size/XS, modifies/templates

#32529 disable gravatar in test
  models/fixtures/system_setting.yml
  models/fixtures/user.yml
  modules/repository/commits_test.go
  services/repository/contributors_graph_test.go
  tests/e2e/e2e_test.go
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/L, modifies/go

#32540 Fix GetInactiveUsers
  models/fixtures/user.yml
  models/user/user.go
  models/user/user_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32590 Fix debian package clean up (#32351)
  models/packages/debian/search.go
  services/packages/debian/repository.go
  tests/integration/api_packages_debian_test.go
Labels: lgtm/done, size/M, modifies/go

#32586 Fix some typescript issues
  .eslintrc.yaml
  web_src/js/features/autofocus-end.ts
  web_src/js/features/captcha.ts
  web_src/js/features/citation.ts
  web_src/js/features/clipboard.ts
  web_src/js/features/codeeditor.ts
  web_src/js/features/colorpicker.ts
  web_src/js/features/common-button.ts
  web_src/js/globals.d.ts
  web_src/js/markup/math.ts
  web_src/js/modules/dirauto.ts
  web_src/js/modules/fetch.ts
  web_src/js/modules/fomantic.ts
  web_src/js/modules/fomantic/api.ts
  web_src/js/modules/fomantic/base.ts
  web_src/js/modules/fomantic/dimmer.ts
  web_src/js/modules/fomantic/dropdown.ts
  web_src/js/modules/fomantic/modal.ts
  web_src/js/modules/fomantic/transition.ts
  web_src/js/modules/sortable.ts
  web_src/js/modules/tippy.ts
  web_src/js/modules/worker.ts
  web_src/js/types.ts
  web_src/js/utils/match.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/internal, modifies/frontend

#32596 Fix PR diff review form submit
  web_src/js/features/repo-diff.ts
  web_src/js/features/repo-issue.ts
  web_src/js/utils/dom.test.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, size/L, modifies/frontend

#32594 Support HTTP POST requests to `/userinfo`, aligning to OpenID Core specification (#32578)
  routers/web/web.go
Labels: lgtm/done, size/XS, modifies/go

#32598 Fix issue sidebar regression
  templates/repo/issue/sidebar/milestone_list.tmpl
Labels: lgtm/done, skip-changelog, size/XS, modifies/templates

#32500 Add line-through for deleted branch on pull request view page
  routers/web/repo/pull.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_title.tmpl
  tests/integration/pull_merge_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/templates

#32592 Fix the missing menu in organization project view page (#32313)
  templates/org/projects/view.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/templates

#32573 Enhancing Gitea OAuth2 Provider with Granular Scopes for Resource Access
  options/locale/locale_en-US.ini
  routers/web/auth/oauth2_provider.go
  services/auth/basic.go
  services/auth/oauth2.go
  services/oauth2_provider/access_token.go
  services/oauth2_provider/additional_scopes_test.go
  templates/user/auth/grant.tmpl
  tests/integration/oauth_test.go
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XL, modifies/go, modifies/templates

#32605 Style unification for the issue_management area
  templates/repo/issue/sidebar/issue_management.tmpl
  templates/repo/issue/sidebar/milestone_list.tmpl
Labels: topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#32589 Refactor markup render system
  models/issues/comment_code.go
  models/repo/repo.go
  modules/csv/csv.go
  modules/csv/csv_test.go
  modules/markup/asciicast/asciicast.go
  modules/markup/console/console_test.go
  modules/markup/csv/csv.go
  modules/markup/csv/csv_test.go
  modules/markup/external/external.go
  modules/markup/html_codepreview.go
  modules/markup/html_codepreview_test.go
  modules/markup/html_commit.go
  modules/markup/html_internal_test.go
  modules/markup/html_issue.go
  modules/markup/html_link.go
  modules/markup/html_mention.go
  modules/markup/html_node.go
  modules/markup/html_test.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/transform_image.go
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
  modules/markup/render.go
  modules/templates/util_render.go
  routers/api/v1/misc/markup.go
  routers/common/markup.go
  routers/web/feed/convert.go
  routers/web/feed/profile.go
  routers/web/org/home.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/issue_comment.go
  routers/web/repo/issue_view.go
  routers/web/repo/milestone.go
  routers/web/repo/projects.go
  routers/web/repo/release.go
  routers/web/repo/render.go
  routers/web/repo/view.go
  routers/web/repo/wiki.go
  routers/web/shared/user/header.go
  routers/web/user/home.go
  routers/web/user/profile.go
  services/context/org.go
  services/mailer/mail.go
  services/mailer/mail_release.go
  tests/fuzz/fuzz_test.go
Labels: lgtm/done, type/refactoring, modifies/api, size/XXL, modifies/go

#32607 Fix issues with inconsistent spacing in areas
  templates/repo/commits.tmpl
  templates/repo/home.tmpl
Labels: topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#32591 Fix PR creation on forked repositories (#31863)
  routers/api/v1/repo/pull.go
  tests/integration/pull_create_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go

#32593 Fix clean tmp dir (#32360)
  modules/git/repo_index.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#32415 Fix get reviewers' bug
  models/organization/team_repo.go
  models/organization/team_repo_test.go
  models/repo/user_repo.go
  models/repo/user_repo_test.go
  routers/api/v1/repo/collaborators.go
  routers/web/repo/issue_page_meta.go
  services/issue/assignee.go
  services/pull/reviewer.go
  services/pull/reviewer_test.go
  services/repository/review.go
  services/repository/review_test.go
  tests/integration/api_repo_test.go
Labels: type/bug, lgtm/done, modifies/api, size/L, modifies/go, backport/v1.22

#32614 Apply to became a maintainer
  MAINTAINERS
Labels: lgtm/done, reviewed/wait-merge, size/XS

#32570 Update the list of watchers and stargazers when clicking watch/unwatch or star/unstar
  routers/web/repo/repo.go
  routers/web/repo/view.go
  templates/repo/user_cards.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/templates, backport/v1.22

#32581 Support optional/configurable IAMEndpoint for Minio Client (#32581)
  custom/conf/app.example.ini
  modules/setting/storage.go
  modules/setting/storage_test.go
  modules/storage/minio.go
  modules/storage/minio_test.go
Labels: lgtm/done, size/M, modifies/go, docs-update-needed

#32616 Fix get reviewers' bug (#32415)
  models/organization/team_repo.go
  models/organization/team_repo_test.go
  models/repo/user_repo.go
  models/repo/user_repo_test.go
  routers/api/v1/repo/collaborators.go
  routers/web/repo/issue.go
  services/issue/assignee.go
  services/pull/reviewer.go
  services/pull/reviewer_test.go
  services/repository/review.go
  services/repository/review_test.go
  tests/integration/api_repo_test.go
Labels: type/bug, lgtm/done, modifies/api, size/L, modifies/go

#32601 Add vue-tsc
  Makefile
  package-lock.json
  package.json
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/internal, modifies/dependencies

#32548 Strict pagination check
  models/issues/comment.go
  models/issues/issue.go
  models/issues/issue_watch.go
  models/issues/label.go
  models/issues/reaction.go
  models/issues/stopwatch.go
  models/issues/tracked_time.go
  models/user/search.go
  models/user/user.go
Labels: lgtm/done, type/refactoring, size/S, modifies/go

#32622 Fix sqlite3 test
  tests/integration/api_issue_test.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/go

#32513 Add release note for v1.22.4
  CHANGELOG.md
Labels: lgtm/done, size/M, modifies/docs

#32640 Fix markup render regression and fix some tests
  models/activities/action.go
  models/activities/action_test.go
  models/issues/label_test.go
  modules/indexer/code/indexer_test.go
  routers/api/v1/misc/markup_test.go
  routers/common/markup.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/M

#32572 Add github compatible tarball download API endpoints
  routers/api/v1/api.go
  routers/api/v1/repo/download.go
  routers/api/v1/repo/file.go
  routers/web/repo/repo.go
  services/repository/archiver/archiver.go
  services/repository/archiver/archiver_test.go
  tests/integration/api_repo_archive_test.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, topic/api

#32631 Fixed Issue of Review Menu Shown Behind
  templates/repo/diff/box.tmpl
  tests/integration/pull_compare_test.go
  web_src/css/modules/tippy.css
  web_src/js/features/repo-diff.ts
  web_src/js/features/repo-unicode-escape.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, size/M, modifies/go, modifies/templates, modifies/frontend

#32633 Improve oauth2 scope token handling
  routers/api/v1/api.go
  services/oauth2_provider/access_token.go
  services/oauth2_provider/additional_scopes_test.go
  tests/integration/oauth_test.go
Labels: type/bug, lgtm/done, modifies/api, issue/regression, skip-changelog, size/M, modifies/go

#32599 Fix race condition in mermaid observer
  web_src/js/markup/mermaid.ts
Labels: type/bug, lgtm/done, size/S, modifies/frontend

#32647 Bypass vitest bug
  web_src/js/utils/dom.test.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, type/testing, skip-changelog, size/S, modifies/frontend

#32646 Refactor some frontend problems
  routers/web/admin/emails.go
  routers/web/devtest/devtest.go
  templates/admin/emails/list.tmpl
  templates/devtest/devtest-footer.tmpl
  templates/devtest/devtest-header.tmpl
  templates/devtest/devtest-list.tmpl
  templates/devtest/fetch-action.tmpl
  templates/devtest/flex-list.tmpl
  templates/devtest/fomantic-dropdown.tmpl
  templates/devtest/fomantic-modal.tmpl
  templates/devtest/gitea-ui.tmpl
  templates/devtest/global-button.tmpl
  templates/devtest/label.tmpl
  templates/devtest/tmplerr.tmpl
  templates/devtest/toast.tmpl
  web_src/js/features/admin/emails.ts
  web_src/js/features/common-button.ts
  web_src/js/features/common-fetch-action.ts
  web_src/js/features/comp/ConfirmModal.ts
  web_src/js/features/repo-issue-list.ts
  web_src/js/index.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/frontend

#32623 Fix: passkey login not working anymore
  models/auth/webauthn.go
  models/db/engine.go
  models/migrations/base/tests.go
  modules/auth/webauthn/webauthn.go
  routers/web/auth/webauthn.go
  routers/web/user/setting/security/webauthn.go
  web_src/js/features/user-auth-webauthn.ts
  web_src/js/modules/fetch.ts
  web_src/js/types.ts
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/migrations, modifies/frontend

#32645 Refactor markup render system
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
  modules/markup/render.go
  tests/fuzz/fuzz_test.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/L, modifies/go

#32543 Introduce OrgList and add LoadTeams, optimaze Load teams for orgs
  models/organization/org_list.go
  models/organization/org_list_test.go
  models/organization/team_list.go
  services/oauth2_provider/access_token.go
Labels: lgtm/done, type/refactoring, size/M, modifies/go

#32652 Fix global form submit event
  web_src/js/features/common-fetch-action.ts
Labels: lgtm/done, skip-changelog, size/XS, modifies/frontend

#32650 Regenerate fomantic package-lock.json
  web_src/fomantic/package-lock.json
Labels: lgtm/done, skip-changelog, size/XS

#32286 Add priority to protected branch
  models/git/protected_branch.go
  models/git/protected_branch_list.go
  models/git/protected_branch_list_test.go
  models/git/protected_branch_test.go
  models/migrations/migrations.go
  models/migrations/v1_23/v310.go
  modules/structs/repo_branch.go
  routers/api/v1/api.go
  routers/api/v1/repo/branch.go
  routers/api/v1/swagger/options.go
  routers/web/repo/setting/protected_branch.go
  routers/web/web.go
  services/convert/convert.go
  services/forms/repo_form.go
  templates/repo/settings/branches.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_branch_test.go
  web_src/js/features/repo-issue-list.ts
  web_src/js/features/repo-settings-branches.test.ts
  web_src/js/features/repo-settings-branches.ts
  web_src/js/features/repo-settings.ts
  web_src/js/svg.ts
Labels: type/feature, lgtm/done, modifies/api, size/L, modifies/go, modifies/templates, modifies/migrations, modifies/frontend

#32656 Make frontend unit test code could know it is in testing
  web_src/js/utils/dom.ts
  web_src/js/utils/testhelper.ts
Labels: lgtm/done, size/S, modifies/frontend

#32537 Move team related functions to service layer
  models/organization/team_test.go
  routers/api/v1/org/member.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/teams.go
  routers/web/org/members.go
  routers/web/org/teams.go
  routers/web/repo/setting/collaboration.go
  services/auth/source/source_group_sync.go
  services/doctor/fix8312.go
  services/org/repo.go
  services/org/team.go
  services/org/team_test.go
  services/org/user.go
  services/org/user_test.go
  services/repository/collaboration.go
  services/repository/create.go
  services/repository/create_test.go
  services/repository/delete.go
  services/repository/repo_team.go
  services/repository/repo_team_test.go
  services/repository/transfer.go
  services/user/user.go
  services/user/user_test.go
  tests/integration/api_fork_test.go
  tests/integration/auth_ldap_test.go
  tests/integration/repo_fork_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/XL, modifies/go

#32661 Add webpack EnvironmentPlugin
  webpack.config.js
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/frontend

#32565 Allow cropping an avatar before setting it
  options/locale/locale_en-US.ini
  package-lock.json
  package.json
  templates/user/settings/profile.tmpl
  web_src/css/features/cropper.css
  web_src/css/index.css
  web_src/js/features/comp/Cropper.ts
  web_src/js/features/repo-settings-branches.test.ts
  web_src/js/features/repo-settings-branches.ts
  web_src/js/features/repo-settings.ts
  web_src/js/features/user-settings.ts
  web_src/js/modules/sortable.ts
Labels: type/feature, lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/templates, modifies/dependencies, modifies/frontend

#32643 Validate OAuth Redirect URIs
  modules/util/truncate.go
  modules/validation/binding.go
  modules/validation/binding_test.go
  modules/validation/validurllist_test.go
  routers/web/user/setting/oauth2_common.go
  services/forms/user_form.go
  tests/integration/user_settings_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go

#32644 Allow users with write permission to run actions
  routers/web/repo/actions/actions.go
  routers/web/web.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#32659 Don't create action when syncing mirror pull refs
  services/feed/action.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32671 Refactor render system (orgmode)
  models/renderhelper/repo_file_test.go
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
Labels: lgtm/done, size/L, modifies/go

#32526 Move GetFeeds to service layer
  models/activities/action.go
  models/activities/action_list.go
  models/activities/action_test.go
  models/activities/user_heatmap.go
  routers/api/v1/org/org.go
  routers/api/v1/org/team.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/user.go
  routers/web/feed/profile.go
  routers/web/feed/repo.go
  routers/web/user/home.go
  routers/web/user/profile.go
  services/feed/feed.go
  services/feed/feed_test.go
  services/feed/notifier.go
  services/feed/notifier_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/L, modifies/go

#32672 Fix a bug in actions artifact test
  tests/integration/api_actions_artifact_test.go
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/S, modifies/go

#32618 Split mail sender sub package from mailer service package
  routers/private/mail.go
  services/mailer/mail.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  services/mailer/mail_team_invite.go
  services/mailer/mail_test.go
  services/mailer/mailer.go
  services/mailer/sender/dummy.go
  services/mailer/sender/message.go
  services/mailer/sender/message_test.go
  services/mailer/sender/sender.go
  services/mailer/sender/sendmail.go
  services/mailer/sender/smtp.go
  services/mailer/sender/smtp_auth.go
  tests/integration/incoming_email_test.go
Labels: lgtm/done, type/refactoring, size/XL, modifies/go
