Repository go-gitea/gitea, pull requests merged in 2024-07, with the labels that each got.

#31541 Update `golang.org/x/image` to v0.18.0
  go.mod
  go.sum
Labels: lgtm/done, size/XS, modifies/dependencies, backport/v1.22

#31542 Update `golang.org/x/image` to v0.18.0
  go.mod
  go.sum
Labels: lgtm/need 1, size/M, modifies/dependencies

#31521 Add typescript guideline and typescript-specific eslint plugins and fix issues
  .eslintrc.yaml
  docs/content/contributing/guidelines-frontend.en-us.md
  package-lock.json
  package.json
  tests/e2e/example.test.e2e.ts
  tests/e2e/utils_e2e.ts
  web_src/js/components/RepoActionView.vue
  web_src/js/features/repo-code.js
  web_src/js/features/repo-findfile.js
  web_src/js/features/repo-home.js
  web_src/js/utils/dom.js
Labels: topic/ui, lgtm/done, type/testing, reviewed/wait-merge, size/L, modifies/docs, modifies/internal, modifies/js, modifies/dependencies

#31517 Add changelog for 1.22.1
  CHANGELOG.md
Labels: type/docs, lgtm/done, size/M, modifies/docs

#31548 Fix slow patch checking with commits that add or remove many files
  modules/git/repo_index.go
  services/pull/patch.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31567 Return an empty string when a repo has no avatar in the repo API (#31187)
  models/repo/avatar.go
Labels: lgtm/done, size/S, modifies/go

#31530 Refactor login page
  options/locale/locale_en-US.ini
  templates/user/auth/captcha.tmpl
  templates/user/auth/oauth_container.tmpl
  templates/user/auth/signin.tmpl
  templates/user/auth/signin_inner.tmpl
  templates/user/auth/signin_navbar.tmpl
  templates/user/auth/signin_openid.tmpl
  templates/user/auth/signup.tmpl
  templates/user/auth/signup_inner.tmpl
  web_src/css/form.css
Labels: type/enhancement, topic/ui, lgtm/done, modifies/translation, topic/authentication, reviewed/wait-merge, size/L, modifies/templates, topic/ux

#28086 Allow force push to protected branches
  models/git/protected_branch.go
  models/migrations/migrations.go
  models/migrations/v1_23/v300.go
  modules/structs/repo_branch.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/branch.go
  routers/private/hook_pre_receive.go
  routers/web/repo/setting/protected_branch.go
  services/convert/convert.go
  services/forms/repo_form.go
  services/pull/update.go
  templates/repo/settings/protected_branch.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/git_test.go
Labels: lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/XL, modifies/go, modifies/templates, modifies/migrations

#31576 Don't show hidden labels when filling out an issue template
  templates/repo/issue/fields/header.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#31527 Use FullName in Emails to address the recipient if possible
  models/user/user.go
  models/user/user_test.go
  services/mailer/mail.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#31588 Use old behavior for telegram webhook
  services/webhook/telegram.go
  services/webhook/telegram_test.go
Labels: type/bug, lgtm/done, size/M, modifies/go

#31585 Add back esbuild-loader for .js files
  webpack.config.js
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/js

#31535 Allow disabling authentication related user features
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  models/user/user.go
  modules/container/set.go
  modules/setting/admin.go
  routers/web/repo/setting/secrets.go
  routers/web/user/setting/account.go
  routers/web/user/setting/applications.go
  routers/web/user/setting/block.go
  routers/web/user/setting/keys.go
  routers/web/user/setting/packages.go
  routers/web/user/setting/profile.go
  routers/web/user/setting/security/2fa.go
  routers/web/user/setting/security/openid.go
  routers/web/user/setting/security/security.go
  routers/web/user/setting/security/webauthn.go
  routers/web/user/setting/webhooks.go
  templates/user/settings/account.tmpl
  templates/user/settings/navbar.tmpl
  templates/user/settings/security/security.tmpl
  tests/integration/user_settings_test.go
Labels: lgtm/done, size/XL, modifies/go, modifies/templates, modifies/docs

#31601 Add bohde as maintainer
  MAINTAINERS
Labels: lgtm/done, size/XS

#31564 Fix: Allow org team names of length 255 in create team form
  services/forms/org.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31587 Refactor webhook
  models/activities/action_test.go
  models/repo/repo.go
  routers/web/repo/repo.go
  services/convert/repository.go
  services/webhook/dingtalk.go
  services/webhook/discord.go
  services/webhook/feishu.go
  services/webhook/general.go
  services/webhook/general_test.go
  services/webhook/matrix.go
  services/webhook/msteams.go
  services/webhook/notifier.go
  services/webhook/packagist.go
  services/webhook/payloader.go
  services/webhook/slack.go
  services/webhook/telegram.go
  services/webhook/telegram_test.go
  services/webhook/wechatwork.go
Labels: lgtm/done, type/refactoring, size/L, modifies/go

#31605 Fix wrong merge on removing docs
  docs/content/administration/config-cheat-sheet.en-us.md
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XXL, modifies/docs

#31594 Upgrade security public key
  SECURITY.md
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/M, modifies/docs

#31586 Add types for js globals
  .eslintrc.yaml
  types.d.ts
  web_src/js/htmx.ts
  web_src/js/types.ts
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/internal

#31616 Update JS dependencies
  package-lock.json
  package.json
  public/assets/img/svg/octicon-accessibility-inset.svg
  public/assets/img/svg/octicon-ai-model.svg
  public/assets/img/svg/octicon-bookmark-filled.svg
  public/assets/img/svg/octicon-bookmark-slash-fill.svg
  public/assets/img/svg/octicon-file-media.svg
  public/assets/img/svg/octicon-home-fill.svg
  public/assets/img/svg/octicon-tab.svg
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/dependencies

#31617 typo on date in security document
  SECURITY.md
Labels: type/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/docs

#31562 Display app name in the registration email title
  options/locale/locale_en-US.ini
  services/mailer/mail.go
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS, modifies/go

#31626 Fix update flake
  flake.lock
  flake.nix
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#31577 Issue Templates: add option to have dropdown printed list
  modules/issue/template/template.go
  modules/issue/template/template_test.go
Labels: type/enhancement, lgtm/done, size/M, modifies/go

#29899 Upgrade xorm to v1.3.9 and improve some migrations Sync
  go.mod
  go.sum
  models/migrations/v1_21/v279.go
  models/migrations/v1_22/v284.go
  models/migrations/v1_22/v285.go
  models/migrations/v1_22/v286.go
  models/migrations/v1_22/v289.go
  models/migrations/v1_22/v290.go
  models/migrations/v1_22/v291.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/migrations, modifies/dependencies

#31528 Add option to change mail from user display name
  custom/conf/app.example.ini
  modules/setting/mailer.go
  services/mailer/mail.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  services/mailer/mail_test.go
Labels: type/enhancement, lgtm/done, size/M, modifies/go

#31629 Code editor theme enhancements
  templates/repo/editor/edit.tmpl
  web_src/css/features/codeeditor.css
  web_src/css/themes/theme-gitea-dark.css
  web_src/css/themes/theme-gitea-light.css
  web_src/js/features/codeeditor.ts
Labels: lgtm/done, size/S, modifies/templates

#27084 Added default sorting milestones by name
  models/issues/milestone_list.go
  options/locale/locale_en-US.ini
  templates/repo/issue/milestone/filter_list.tmpl
  templates/user/dashboard/milestones.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS, modifies/go, modifies/templates

#31639 Enable `no-jquery/no-class-state`
  .eslintrc.yaml
  web_src/js/features/repo-legacy.ts
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/internal, modifies/frontend

#31572 allow synchronizing user status from OAuth2 login providers
  models/auth/source.go
  models/user/external_login_user.go
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
  services/auth/source/oauth2/main_test.go
  services/auth/source/oauth2/providers_test.go
  services/auth/source/oauth2/source.go
  services/auth/source/oauth2/source_sync.go
  services/auth/source/oauth2/source_sync_test.go
  services/externalaccount/user.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/new.tmpl
  tests/integration/auth_ldap_test.go
Labels: lgtm/done, size/L, modifies/go, modifies/templates

#31479 Allow searching issues by ID
  modules/indexer/issues/db/db.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/internal/model.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#31637 Remove unneccessary uses of `word-break: break-all`
  web_src/css/org.css
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, size/XS

#31659 Fix a branch divergence cache bug
  services/repository/branch.go
  services/repository/push.go
Labels: type/bug, lgtm/done, size/S, modifies/go, backport/v1.22

#31454 add skip secondary authorization option for public oauth2 clients
  models/auth/oauth2.go
  models/migrations/migrations.go
  models/migrations/v1_23/v301.go
  modules/structs/user_app.go
  options/locale/locale_en-US.ini
  routers/api/v1/user/app.go
  routers/web/auth/oauth.go
  routers/web/user/setting/oauth2_common.go
  services/convert/convert.go
  services/forms/user_form.go
  templates/swagger/v1_json.tmpl
  templates/user/settings/applications_oauth2_edit_form.tmpl
  templates/user/settings/applications_oauth2_list.tmpl
  web_src/js/features/oauth2-settings.ts
  web_src/js/index.ts
Labels: type/enhancement, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/migrations, topic/api

#31662 fix redis dep
  go.mod
  go.sum
Labels: type/bug, lgtm/done, skip-changelog, size/XS, modifies/dependencies

#31663 fix redis deps (#31662)
  go.mod
  go.sum
Labels: type/bug, lgtm/done, skip-changelog, size/S, modifies/dependencies

#31672 Enable direnv
  .envrc
  .gitignore
Labels: type/enhancement, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.22

#31632 fix OIDC introspection authentication
  modules/base/tool.go
  modules/base/tool_test.go
  routers/web/auth/oauth.go
  tests/integration/oauth_test.go
Labels: lgtm/done, pr/breaking, reviewed/wait-merge, size/L, modifies/go

#31676 Run `detectWebAuthnSupport` only on sign-in page
  web_src/js/features/user-auth-webauthn.ts
Labels: type/bug, topic/ui, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#31522 Properly filter issue list given no assignees filter
  modules/indexer/issues/dboptions.go
  modules/indexer/issues/indexer_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#31468 use nolyfill to remove some polyfills
  Makefile
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/internal, modifies/dependencies

#31696 Fix "Filter by commit" Dropdown (#31695)
  web_src/js/components/DiffCommitSelector.vue
Labels: lgtm/need 1, reviewed/wait-merge, size/XS, modifies/js

#31695 Fix "Filter by commit" Dropdown
  web_src/js/components/DiffCommitSelector.vue
Labels: type/bug, lgtm/done, backport/done, size/M, backport/manual, modifies/js, backport/v1.22

#31687 Use GetDisplayName() instead of DisplayName() to generate rss feeds
  routers/web/feed/convert.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#31690 Support delete user email in admin panel
  models/user/email_address.go
  options/locale/locale_en-US.ini
  routers/web/admin/emails.go
  routers/web/web.go
  templates/admin/emails/list.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/go, modifies/templates

#31680 Add return type to GetRawFileOrLFS and GetRawFile
  routers/api/v1/repo/file.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/S, modifies/go

#31688 add `username` to OIDC introspection response
  routers/web/auth/oauth.go
  tests/integration/oauth_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go

#31691 Run `detectWebAuthnSupport` only if necessary
  web_src/js/features/user-auth-webauthn.ts
Labels: type/bug, topic/ui, lgtm/done, skip-changelog, size/XS

#31627 Add types to fetch,toast,bootstrap,svg
  types.d.ts
  web_src/js/bootstrap.ts
  web_src/js/modules/fetch.ts
  web_src/js/modules/toast.ts
  web_src/js/svg.ts
  web_src/js/types.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M

#31706 OIDC: case-insensitive comparison for auth scheme `Basic`
  routers/web/auth/oauth.go
Labels: type/bug, lgtm/done, skip-changelog, topic/authentication, reviewed/wait-merge, size/XS, modifies/go

#31684 Enable `no-jquery/no-parse-html-literal` and fix violation
  .eslintrc.yaml
  web_src/js/features/repo-editor.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/S, modifies/internal

#30156 Hide the "Details" link of commit status when the user cannot access actions
  models/git/commit_status.go
  models/git/commit_status_test.go
  routers/web/repo/branch.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/issue.go
  routers/web/repo/pull.go
  routers/web/repo/repo.go
  routers/web/repo/view.go
  routers/web/user/home.go
  routers/web/user/notification.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/L, modifies/go

#31711 Run `go-install` in `deps-tools` in parallel
  Makefile
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/internal

#31712 Make GetRepositoryByName more safer
  models/repo/repo.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#31033 Add permission check when creating PR
  models/issues/pull.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/pull/pull.go
  tests/integration/actions_trigger_test.go
  tests/integration/api_pull_test.go
Labels: type/bug, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#31720 Add permission check when creating PR (#31033)
  models/issues/pull.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/pull/pull.go
  tests/integration/actions_trigger_test.go
  tests/integration/api_pull_test.go
Labels: type/bug, lgtm/done, modifies/translation, modifies/api, size/L, modifies/go

#31719 Fix loadRepository error when access user dashboard
  models/git/commit_status.go
Labels: type/bug, lgtm/done, size/XS, modifies/go

#31722 Fix API endpoint for registration-token
  routers/api/v1/repo/action.go
  templates/swagger/v1_json.tmpl
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, topic/api, backport/v1.22

#31715 fix(api): owner ID should be zero when created repo secret
  routers/api/v1/repo/action.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/XS, modifies/go

#31725 Set owner id to zero when GetRegistrationToken for repo
  routers/api/v1/repo/action.go
Labels: type/bug, lgtm/done, modifies/api, topic/gitea-actions, size/XS, modifies/go, backport/v1.22

#31721 Move `registerActionsCleanup` to `initActionsTasks`
  services/actions/cleanup.go
  services/cron/tasks_actions.go
  services/cron/tasks_basic.go
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, topic/gitea-actions, size/M, modifies/go

#31731 Fix Null Pointer error for CommitStatusesHideActionsURL
  models/git/commit_status.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#31732 Fix the display of project type for deleted projects
  models/project/project.go
  options/locale/locale_en-US.ini
  routers/web/repo/issue.go
  templates/repo/issue/view_content/comments.tmpl
Labels: type/bug, topic/ui, lgtm/done, modifies/translation, reviewed/wait-merge, size/S, modifies/go, modifies/templates, backport/v1.22

#31736 Improve names of cron jobs for Actions
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, skip-changelog, reviewed/wait-merge, size/S

#31702 Distinguish LFS object errors to ignore missing objects during migration
  modules/lfs/http_client.go
  modules/lfs/shared.go
  modules/repository/repo.go
  services/repository/migrate.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, topic/lfs, backport/v1.22
