Repository go-gitea/gitea, pull requests merged in 2024-10, with the labels that each got.

#32139 Fix the logic of finding the latest pull review commit ID
  models/fixtures/comment.yml
  models/fixtures/review.yml
  models/issues/pull.go
  models/issues/review.go
  models/issues/review_list.go
  models/issues/review_test.go
  routers/api/v1/repo/pull_review.go
  services/pull/pull.go
  services/pull/review.go
  tests/integration/api_pull_review_test.go
  tests/integration/pull_commit_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#24872 Support repo license
  assets/go-licenses.json
  build/generate-licenses.go
  build/license/aliasgenerator.go
  build/license/aliasgenerator_test.go
  go.mod
  go.sum
  models/fixtures/repo_license.yml
  models/fixtures/repository.yml
  models/migrations/migrations.go
  models/migrations/v1_23/v305.go
  models/repo/license.go
  modules/repository/license.go
  modules/structs/repo.go
  options/license/etc/license-aliases.json
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/api/v1/repo/license.go
  routers/api/v1/repo/repo.go
  routers/api/v1/swagger/repo.go
  routers/init.go
  routers/private/default_branch.go
  routers/private/hook_post_receive.go
  routers/web/repo/branch.go
  routers/web/repo/commit.go
  routers/web/repo/release.go
  routers/web/repo/view.go
  services/context/repo.go
  services/convert/repository.go
  services/cron/tasks_basic.go
  services/migrations/gitea_uploader_test.go
  services/mirror/mirror_pull.go
  services/repository/branch.go
  services/repository/create.go
  services/repository/delete.go
  services/repository/fork.go
  services/repository/license.go
  services/repository/license_test.go
  services/repository/migrate.go
  services/repository/repository.go
  templates/repo/sub_menu.tmpl
  templates/swagger/v1_json.tmpl
  tests/gitea-repositories-meta/user2/repo1.git/objects/08/51b61d9f8ca0e9e63617e11907988ee88b1ca6
  tests/gitea-repositories-meta/user2/repo1.git/objects/12/8105ae73669ac2a4cb42751538f0c65c54e28a
  tests/gitea-repositories-meta/user2/repo1.git/objects/90/c1019714259b24fb81711d4416ac0f18667dfa
  tests/gitea-repositories-meta/user2/repo1.git/refs/heads/DefaultBranch
  tests/integration/api_admin_test.go
  tests/integration/api_repo_license_test.go
Labels: type/feature, lgtm/done, modifies/translation, modifies/api, type/changelog, size/XL, modifies/go, modifies/templates, modifies/migrations, modifies/internal, modifies/dependencies

#32148 Make oauth2 code clear. Move oauth2 provider code to their own packages/files
  routers/init.go
  routers/web/auth/oauth.go
  routers/web/auth/oauth2_provider.go
  routers/web/auth/oauth_test.go
  services/auth/oauth2.go
  services/auth/source/oauth2/init.go
  services/oauth2_provider/access_token.go
  services/oauth2_provider/init.go
  services/oauth2_provider/jwtsigningkey.go
  services/oauth2_provider/token.go
  tests/integration/oauth_test.go
Labels: type/bug, lgtm/done, type/refactoring, reviewed/wait-merge, size/XXL, modifies/go, backport/v1.22

#32144 Fix javascript error when an anonymous user visiting migration page
  models/admin/task.go
  routers/web/repo/migrate.go
  routers/web/user/task.go
  routers/web/web.go
  services/context/repo.go
  templates/repo/migrate/migrating.tmpl
  web_src/js/features/repo-migrate.ts
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/templates, backport/v1.22, modifies/frontend

#32105 add {{TEST_MINIO_ENDPOINT}} for local testing "with/without" docker + fix pgsql testing doc
  Makefile
  tests/integration/README.md
  tests/integration/README_ZH.md
  tests/pgsql.ini.tmpl
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/S, modifies/docs, modifies/internal

#32166 Upgrade some dependencies include minio-go
  assets/go-licenses.json
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/dependencies

#32177 Don't init singing keys if oauth2 provider disabled
  services/auth/source/oauth2/init.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#32185 Fixed race condition when deleting documents by repoId in ElasticSearch
  modules/indexer/code/elasticsearch/elasticsearch.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#31863 Fix PR creation on forked repositories
  routers/api/v1/repo/pull.go
  tests/integration/pull_create_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30908 Add support for searching users by email
  models/user/search.go
  routers/api/v1/user/user.go
  tests/integration/api_user_search_test.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, topic/api

#32179 Fix javascript error when an anonymous user visiting migration page (#32144)
  models/admin/task.go
  routers/web/repo/migrate.go
  routers/web/user/task.go
  routers/web/web.go
  services/context/repo.go
  templates/repo/migrate/migrating.tmpl
  web_src/js/features/repo-migrate.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/js

#31959 Enhance USER_DISABLED_FEATURES to allow disabling change username or full name
  custom/conf/app.example.ini
  modules/setting/admin.go
  options/locale/locale_en-US.ini
  routers/web/user/setting/profile.go
  templates/user/settings/profile.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/go, modifies/templates, docs-update-needed

#32192 Upgrade htmx to 2.0.3
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#32200 Fix bug when there are multiple triggers with workflow dispatch
  go.mod
  go.sum
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/dependencies

#32209 Allow filtering PRs by poster in the ListPullRequests API
  models/issues/pull_list.go
  routers/api/v1/repo/pull.go
  templates/swagger/v1_json.tmpl
Labels: type/enhancement, lgtm/done, modifies/api, size/M, modifies/go, topic/api

#32212 Add null check for responseData.invalidTopics
  web_src/js/features/repo-home.ts
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22, modifies/frontend

#32218 Fix bug when a token is given public only (#32204)
  models/user/user.go
  routers/api/packages/api.go
  routers/api/v1/api.go
  routers/api/v1/org/org.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/user.go
  services/context/api.go
  tests/integration/api_issue_test.go
  tests/integration/api_repo_branch_test.go
  tests/integration/api_user_search_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go

#32205 Add release note for v1.22.3
  CHANGELOG.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/M, modifies/docs

#32221 update git book link to v2
  modules/git/git.go
  templates/repo/empty.tmpl
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, modifies/templates

#32222 Fix incorrect "Target branch does not exist" in PR title
  routers/web/repo/pull.go
Labels: type/bug, lgtm/done, size/XS, modifies/go

#32216 Refactor CSRF token
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
  services/auth/auth.go
  services/context/csrf.go
  tests/integration/admin_user_test.go
  tests/integration/api_httpsig_test.go
  tests/integration/api_packages_container_test.go
  tests/integration/attachment_test.go
  tests/integration/auth_ldap_test.go
  tests/integration/change_default_branch_test.go
  tests/integration/delete_user_test.go
  tests/integration/editor_test.go
  tests/integration/empty_repo_test.go
  tests/integration/git_test.go
  tests/integration/integration_test.go
  tests/integration/issue_test.go
  tests/integration/mirror_push_test.go
  tests/integration/nonascii_branches_test.go
  tests/integration/org_project_test.go
  tests/integration/org_team_invite_test.go
  tests/integration/privateactivity_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_status_test.go
  tests/integration/rename_branch_test.go
  tests/integration/repo_branch_test.go
  tests/integration/signin_test.go
  tests/integration/user_avatar_test.go
  tests/integration/user_test.go
  tests/integration/xss_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/go

#32189 Move admin routers from /admin to /-/admin
  models/user/user.go
  routers/api/v1/admin/hooks.go
  routers/api/v1/utils/hook.go
  routers/web/admin/admin.go
  routers/web/admin/applications.go
  routers/web/admin/auths.go
  routers/web/admin/config.go
  routers/web/admin/emails.go
  routers/web/admin/hooks.go
  routers/web/admin/notice.go
  routers/web/admin/packages.go
  routers/web/admin/queue.go
  routers/web/admin/repos.go
  routers/web/admin/runners.go
  routers/web/admin/stacktrace.go
  routers/web/admin/users.go
  routers/web/repo/setting/runners.go
  routers/web/repo/setting/variables.go
  routers/web/repo/setting/webhook.go
  routers/web/web.go
  templates/admin/auth/list.tmpl
  templates/admin/config.tmpl
  templates/admin/config_settings.tmpl
  templates/admin/cron.tmpl
  templates/admin/dashboard.tmpl
  templates/admin/emails/list.tmpl
  templates/admin/navbar.tmpl
  templates/admin/notice.tmpl
  templates/admin/packages/list.tmpl
  templates/admin/repo/list.tmpl
  templates/admin/repo/unadopted.tmpl
  templates/admin/stacktrace.tmpl
  templates/admin/user/list.tmpl
  templates/base/footer_content.tmpl
  templates/base/head_navbar.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  tests/integration/admin_config_test.go
  tests/integration/admin_user_test.go
  tests/integration/auth_ldap_test.go
  tests/integration/user_test.go
  web_src/js/features/admin/config.ts
  web_src/js/features/admin/selfcheck.ts
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/frontend

#32229 Improve the maintainblity of the reserved username list
  models/user/user.go
  services/user/user_test.go
  tests/integration/user_test.go
Labels: lgtm/done, size/L, modifies/go

#32236 Fix checkbox bug on private/archive filter
  web_src/js/components/DashboardRepoList.vue
Labels: lgtm/done, size/XS, modifies/frontend

#31860 Use per package global lock for container uploads instead of memory lock
  routers/api/packages/container/blob.go
Labels: type/enhancement, lgtm/done, modifies/api, topic/packages, reviewed/wait-merge, size/S, modifies/go

#32215 Allow maintainers to view and edit files of private repos when "Allow maintainers to edit" is enabled
  routers/web/repo/pull.go
  services/context/permission.go
  services/context/repo.go
  tests/integration/pull_compare_test.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go

#32245 Make git push options accept short name
  cmd/hook.go
  modules/private/hook.go
  modules/private/pushoptions.go
  modules/private/pushoptions_test.go
  routers/private/hook_post_receive.go
  services/agit/agit.go
  tests/integration/git_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/cli

#31610 Fix dropdown content overflow
  templates/devtest/fomantic-dropdown.tmpl
  web_src/css/base.css
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/M, modifies/templates, backport/v1.22

#32247 Only rename a user when they should receive a different name
  services/user/user.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32242 Support migrating GitHub/GitLab PR draft status
  modules/migration/pullrequest.go
  services/migrations/gitea_uploader.go
  services/migrations/github.go
  services/migrations/gitlab.go
Labels: type/enhancement, lgtm/done, size/S, modifies/go

#32246 Update scheduled tasks even if changes are pushed by "ActionsUser"
  services/actions/notifier_helper.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#32244 make `show stats` work when only one file changed
  web_src/js/features/repo-diff-filetree.ts
  web_src/js/features/repo-diff.ts
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22, modifies/frontend

#32254 Make `owner/repo/pulls` handlers use "PR reader" permission
  routers/web/web.go
Labels: type/bug, lgtm/done, size/M, modifies/go, backport/v1.22

#32265 Make `owner/repo/pulls` handlers use "PR reader" permission (#32254)
  routers/web/web.go
Labels: lgtm/done, size/M, modifies/go

#26178 Support requested_reviewers data in comment webhook events
  modules/structs/hook.go
  services/webhook/notifier.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#32273 Warn users when they try to use a non-root-url to sign in/up (#32272)
  web_src/js/features/common-global.js
  web_src/js/features/user-auth.js
  web_src/js/index.js
Labels: lgtm/done, size/S, modifies/js

#32272 Warn users when they try to use a non-root-url to sign in/up
  web_src/js/features/common-page.ts
  web_src/js/features/user-auth.ts
  web_src/js/index.ts
Labels: lgtm/done, backport/done, size/S, backport/manual, modifies/frontend

#32282 [v1.22 backport] Fix null errors on conversation holder (#32258) (#32266)
  web_src/js/features/repo-issue.js
Labels: type/bug, lgtm/done, size/S, modifies/js

#32283 Add `gh-access-token` flag into backport script
  contrib/backport/backport.go
Labels: lgtm/done, skip-changelog, size/S, modifies/go, modifies/internal, backport/v1.22

#32268 make `show stats` work when only one file changed (#32244)
  web_src/js/features/repo-diff-filetree.js
  web_src/js/features/repo-diff.js
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/js

#32281 Always update expiration time when creating an artifact
  models/actions/artifact.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/XS, modifies/go, backport/v1.22

#32285 Always update expiration time when creating an artifact (#32281)
  models/actions/artifact.go
Labels: type/bug, lgtm/done, topic/gitea-actions, size/XS, modifies/go

#32295 Update github.com/go-enry/go-enry to v2.9.1
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies, backport/v1.22

#32208 API: enhance SearchIssues swagger docs
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: type/docs, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, topic/api, backport/v1.22

#32296 Update github.com/go-enry/go-enry to v2.9.1 (#32295)
  go.mod
  go.sum
Labels: lgtm/done, size/XS, modifies/dependencies

#32298 API: enhance SearchIssues swagger docs (#32208)
  routers/api/v1/repo/issue.go
  templates/swagger/v1_json.tmpl
Labels: type/docs, lgtm/done, modifies/api, size/L, modifies/go, topic/api

#32300 chore: fix some function names in comment
  cmd/admin_auth_ldap.go
  models/issues/issue.go
  models/issues/pull.go
Labels: lgtm/done, size/XS, modifies/go, modifies/cli

#32318 Add warn log when deleting inactive users
  services/user/user.go
Labels: lgtm/done, type/miscellaneous, size/XS, modifies/go, backport/v1.22

#32263 Prevent from submitting issue/comment on uploading
  web_src/js/features/comp/ComboMarkdownEditor.ts
  web_src/js/features/comp/EditorMarkdown.ts
  web_src/js/features/comp/EditorUpload.ts
  web_src/js/features/repo-issue-edit.ts
  web_src/js/features/repo-issue.ts
  web_src/js/features/repo-release.ts
  web_src/js/features/repo-wiki.ts
Labels: topic/ui, lgtm/done, reviewed/wait-merge, size/L, modifies/frontend

#32321 Add warn log when deleting inactive users (#32318)
  services/user/user.go
Labels: lgtm/done, size/XS, modifies/go

#32248 Make admins adhere to branch protection rules
  models/git/protected_branch.go
  models/migrations/migrations.go
  models/migrations/v1_23/v306.go
  modules/structs/repo_branch.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/branch.go
  routers/web/repo/setting/protected_branch.go
  services/convert/convert.go
  services/forms/repo_form.go
  services/pull/check.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/settings/protected_branch.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/pull_merge_test.go
Labels: lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/migrations

#32311 Upgrade vue to 3.5.12
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#32310 Fix the permission check for user search API and limit the number of returned users for `/user/search`
  routers/api/v1/api.go
  routers/web/user/search.go
  routers/web/web.go
  web_src/js/features/comp/SearchUserBox.js
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, modifies/js

#32312 Upgrade rollup to 4.24.0
  package-lock.json
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#32320 Fix disable 2fa bug
  routers/web/user/setting/security/2fa.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#32319 Fix broken image when editing comment with non-image attachments
  web_src/js/features/dropzone.ts
Labels: topic/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22, modifies/frontend

#32344 Refactor the DB migration system slightly
  models/migrations/migrations.go
  models/migrations/migrations_test.go
  routers/common/db.go
  services/doctor/dbversion.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XL, modifies/go, modifies/migrations

#32351 Fix db engine
  models/db/context.go
  models/db/context_test.go
  models/db/engine.go
  models/db/install/db.go
  models/db/iterate.go
  models/packages/debian/search.go
  models/unittest/fixtures.go
  services/packages/cleanup/cleanup.go
  services/packages/debian/repository.go
  tests/integration/api_packages_debian_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#32329 Migrate vue components to setup
  web_src/js/components/ActionRunStatus.vue
  web_src/js/components/ActivityHeatmap.vue
  web_src/js/components/ContextPopup.vue
  web_src/js/components/DiffFileList.vue
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/DiffFileTreeItem.vue
  web_src/js/components/PullRequestMergeForm.vue
  web_src/js/components/RepoActivityTopAuthors.vue
  web_src/js/components/RepoCodeFrequency.vue
  web_src/js/components/RepoRecentCommits.vue
  web_src/js/components/ScopedAccessTokenSelector.vue
  web_src/js/features/repo-common.ts
  web_src/js/index.ts
  web_src/js/types.ts
  web_src/js/utils/time.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XXL, modifies/frontend

#32327 Suggestions for issues
  package-lock.json
  package.json
  routers/web/repo/issue_suggestions.go
  routers/web/web.go
  templates/shared/combomarkdowneditor.tmpl
  web_src/js/components/ContextPopup.vue
  web_src/js/features/comp/TextExpander.ts
  web_src/js/features/issue.ts
  web_src/js/utils/match.ts
Labels: type/feature, lgtm/done, size/L, modifies/go, modifies/templates, modifies/dependencies, modifies/frontend

#32280 Optimize branch protection rule loading
  models/git/protected_branch.go
  models/git/protected_branch_list_test.go
Labels: lgtm/done, type/refactoring, size/M, modifies/go

#32360 Fix clean tmp dir
  modules/git/repo_index.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32317 remove unused call to $.HeadRepo in view_title template
  templates/repo/issue/view_title.tmpl
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XS, modifies/templates

#32307 Add new [lfs_client].BATCH_SIZE and [server].LFS_MAX_BATCH_SIZE config settings.
  custom/conf/app.example.ini
  modules/lfs/http_client.go
  modules/setting/lfs.go
  modules/setting/lfs_test.go
  services/lfs/server.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/go, docs-update-needed

#32378 Fix undefined errors on Activity page
  web_src/js/components/RepoActivityTopAuthors.vue
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/frontend

#32375 Fix absolute-date
  package-lock.json
  package.json
  web_src/js/webcomponents/absolute-date.test.ts
  web_src/js/webcomponents/absolute-date.ts
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/dependencies, modifies/frontend

#32357 Respect UI.ExploreDefaultSort setting again
  routers/web/explore/org.go
  routers/web/explore/user.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32387 Fix toAbsoluteLocaleDate and add more tests
  web_src/js/webcomponents/absolute-date.test.ts
  web_src/js/webcomponents/absolute-date.ts
Labels: lgtm/done, skip-changelog, size/M, modifies/frontend

#32313 Fix the missing menu in organization project view page
  templates/org/projects/view.tmpl
Labels: topic/ui, lgtm/done, reviewed/wait-merge, size/S, modifies/templates, backport/v1.22

#32381 refactor: remove redundant err declarations
  build/generate-emoji.go
  models/git/lfs.go
  models/issues/label_test.go
  modules/charset/charset_test.go
  modules/markup/markdown/goldmark.go
  routers/api/v1/repo/repo.go
  routers/api/v1/user/repo.go
  routers/web/repo/actions/view.go
  routers/web/repo/activity.go
  routers/web/repo/view.go
  services/issue/template.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/S, modifies/go, modifies/internal

#32380 Fix suggestions for issues
  routers/web/repo/issue_suggestions.go
  web_src/js/components/ContextPopup.vue
  web_src/js/features/comp/TextExpander.ts
  web_src/js/features/contextpopup.ts
  web_src/js/svg.ts
  web_src/js/types.ts
  web_src/js/utils.test.ts
  web_src/js/utils.ts
  web_src/js/utils/dom.test.ts
  web_src/js/utils/dom.ts
  web_src/js/utils/match.ts
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/L, modifies/go, modifies/frontend

#32388 Update JS and PY dependencies
  .eslintrc.yaml
  package-lock.json
  package.json
  poetry.lock
  public/assets/img/svg/octicon-thumbsdown.svg
  public/assets/img/svg/octicon-thumbsup.svg
  pyproject.toml
  web_src/js/utils/dom.ts
Labels: lgtm/done, size/M, modifies/internal, modifies/dependencies, modifies/frontend

#32385 Respect UI.ExploreDefaultSort setting again (#32357)
  routers/web/explore/org.go
  routers/web/explore/user.go
Labels: type/bug, lgtm/done, size/XS, modifies/go

#32389 Update go dependencies
  assets/go-licenses.json
  go.mod
  go.sum
  modules/indexer/internal/meilisearch/indexer.go
  modules/markup/markdown/transform_blockquote.go
  modules/markup/markdown/transform_codespan.go
  modules/markup/markdown/transform_heading.go
  modules/markup/mdstripper/mdstripper.go
  services/auth/source/ldap/source_search.go
Labels: lgtm/done, size/XL, modifies/go, modifies/dependencies

#32308 Fix a number of typescript issues
  web_src/js/components/DiffCommitSelector.vue
  web_src/js/features/repo-issue.ts
  web_src/js/utils/dom.ts
  web_src/js/vendor/jquery.are-you-sure.ts
  web_src/js/webcomponents/absolute-date.ts
  web_src/js/webcomponents/origin-url.test.ts
  web_src/js/webcomponents/origin-url.ts
  web_src/js/webcomponents/overflow-menu.ts
  web_src/js/webcomponents/polyfills.ts
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/frontend

#32365 Fix `missing signature key` error when pulling Docker images with `SERVE_DIRECT` enabled
  modules/packages/content_store.go
  modules/storage/azureblob.go
  modules/storage/helper.go
  modules/storage/helper_test.go
  modules/storage/local.go
  modules/storage/minio.go
  modules/storage/storage.go
  routers/api/actions/artifacts.go
  routers/api/actions/artifactsv4.go
  routers/api/packages/container/container.go
  routers/api/packages/maven/maven.go
  routers/api/v1/repo/file.go
  routers/web/base.go
  routers/web/repo/actions/view.go
  routers/web/repo/attachment.go
  routers/web/repo/download.go
  routers/web/repo/repo.go
  services/lfs/server.go
  services/packages/packages.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22
