Repository go-gitea/gitea, pull requests merged in 2024-09, with the labels that each got.

#31903 Fix index too many file names bug
  modules/indexer/code/git.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31948 Improve textarea paste
  web_src/js/features/comp/ComboMarkdownEditor.ts
  web_src/js/features/comp/EditorUpload.ts
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/S

#31921 Fix sort order for organization home and user profile page
  routers/web/org/home.go
  routers/web/user/profile.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31880 Fix 500 error when `state` params is set when editing issue/PR by API
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
  services/issue/status.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31931 Prevent update pull refs manually and will not affect other refs update
  cmd/hook.go
  tests/integration/git_push_test.go
  tests/test_utils.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/cli, backport/v1.22

#31922 Fix sort order for organization home and user profile page (#31921)
  routers/web/org/home.go
  routers/web/user/profile.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#31950 Remove urls from translations
  options/locale/locale_en-US.ini
  routers/web/admin/hooks.go
  routers/web/admin/users.go
  routers/web/auth/auth.go
  routers/web/auth/password.go
  routers/web/user/setting/account.go
  templates/admin/auth/new.tmpl
  templates/admin/dashboard.tmpl
  templates/home.tmpl
  templates/repo/settings/protected_branch.tmpl
  templates/repo/settings/tags.tmpl
  templates/repo/settings/webhook/settings.tmpl
  templates/status/500.tmpl
  templates/user/settings/security/webauthn.tmpl
Labels: lgtm/done, modifies/translation, type/refactoring, reviewed/wait-merge, size/L, modifies/go, modifies/templates

#31821 Improve get feed with pagination
  models/activities/action.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/M, modifies/go

#31953 Fix index too many file names bug (#31903)
  modules/indexer/code/git.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#31954 Add lock for parallel maven upload
  routers/api/packages/maven/maven.go
  tests/integration/api_packages_maven_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go

#31966 Replace v-html with v-text in search inputbox
  web_src/js/components/RepoBranchTagSelector.vue
Labels: type/bug, topic/security, lgtm/done, reviewed/wait-merge, size/XS, modifies/js, backport/v1.22

#31973 Remove html tags from create tag and branch translation
  options/locale/locale_en-US.ini
Labels: type/bug, lgtm/done, modifies/translation, size/XS, backport/v1.22

#31975 Replace v-html with v-text in search inputbox (#31966) (#31973)
  options/locale/locale_cs-CZ.ini
  options/locale/locale_de-DE.ini
  options/locale/locale_el-GR.ini
  options/locale/locale_en-US.ini
  options/locale/locale_es-ES.ini
  options/locale/locale_fa-IR.ini
  options/locale/locale_fi-FI.ini
  options/locale/locale_fr-FR.ini
  options/locale/locale_hu-HU.ini
  options/locale/locale_id-ID.ini
  options/locale/locale_it-IT.ini
  options/locale/locale_ja-JP.ini
  options/locale/locale_ko-KR.ini
  options/locale/locale_lv-LV.ini
  options/locale/locale_nl-NL.ini
  options/locale/locale_pl-PL.ini
  options/locale/locale_pt-BR.ini
  options/locale/locale_pt-PT.ini
  options/locale/locale_ru-RU.ini
  options/locale/locale_si-LK.ini
  options/locale/locale_sv-SE.ini
  options/locale/locale_tr-TR.ini
  options/locale/locale_uk-UA.ini
  options/locale/locale_zh-CN.ini
  options/locale/locale_zh-TW.ini
  web_src/js/components/RepoBranchTagSelector.vue
Labels: type/bug, topic/security, lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/js

#31967 Fix nuget/conan/container packages upload bugs
  models/auth/access_token_scope.go
  routers/api/packages/conan/auth.go
  routers/api/packages/conan/conan.go
  routers/api/packages/container/auth.go
  routers/api/packages/container/container.go
  routers/api/packages/nuget/auth.go
  services/auth/basic.go
  services/packages/auth.go
  tests/integration/api_packages_conan_test.go
  tests/integration/api_packages_container_test.go
  tests/integration/api_packages_nuget_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/XL, modifies/go, backport/v1.22

#31951 For consistency make repo search sort options case sensitive
  routers/web/explore/repo.go
Labels: type/enhancement, lgtm/done, skip-changelog, size/XS, modifies/go, topic/api

#31935 Add changelog for 1.22.2
  CHANGELOG.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/M, modifies/docs

#31977 Return 404 instead of error when commit not exist
  routers/api/v1/repo/commits.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/XS, modifies/go

#31924 Distinguish official vs non-official reviews, add tool tips, and upgr…
  models/issues/review.go
  options/locale/locale_en-US.ini
  routers/web/repo/issue.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/go, modifies/templates

#31989 Use forum.gitea.com instead of old URL
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/ui.bug-report.yaml
  modules/activitypub/user_settings_test.go
  templates/install.tmpl
Labels: type/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/go, modifies/templates, modifies/internal, backport/v1.22

#31813 Use global lock instead of NewExclusivePool to allow distributed lock between multiple Gitea instances
  assets/go-licenses.json
  custom/conf/app.example.ini
  modules/globallock/globallock.go
  modules/setting/gloabl_lock.go
  modules/setting/global_lock_test.go
  modules/setting/setting.go
  modules/sync/exclusive_pool.go
  services/pull/check.go
  services/pull/merge.go
  services/pull/pull.go
  services/pull/update.go
  services/repository/transfer.go
  services/wiki/wiki.go
Labels: type/feature, lgtm/done, size/L, modifies/go, docs-update-needed

#31997 Add automatic light/dark option for the colorblind theme
  web_src/css/themes/theme-gitea-auto-protanopia-deuteranopia.css
Labels: type/feature, lgtm/done, type/changelog, reviewed/wait-merge, size/XS

#32003 Upgrade cache to v0.2.1
  go.mod
  go.sum
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/dependencies, backport/v1.22

#32009 Upgrade cache to v0.2.1 (#32003)
  go.mod
  go.sum
Labels: lgtm/done, size/M, modifies/dependencies

#31857 Remove SHA1 for support for ssh rsa signing
  assets/go-licenses.json
  go.mod
  go.sum
  modules/activitypub/client.go
  modules/setting/federation.go
  routers/api/v1/activitypub/reqsignature.go
  services/auth/httpsign.go
  tests/integration/api_httpsig_test.go
Labels: lgtm/done, modifies/api, pr/breaking, reviewed/wait-merge, size/M, modifies/go, modifies/dependencies

#32011 Increase `cacheContextLifetime` to reduce false reports
  modules/cache/context.go
  modules/cache/context_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go

#31852 Save initial signup information for users to aid in spam prevention
  cmd/admin_user_create.go
  custom/conf/app.example.ini
  models/user/setting_keys.go
  models/user/user.go
  models/user/user_test.go
  modules/setting/security.go
  routers/api/v1/admin/user.go
  routers/install/install.go
  routers/web/admin/users.go
  routers/web/auth/auth.go
  services/auth/reverseproxy.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/ldap/source_sync.go
  services/auth/source/oauth2/source_sync_test.go
  services/auth/source/pam/source_authenticate.go
  services/auth/source/smtp/source_authenticate.go
  services/auth/sspi.go
  services/user/user_test.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, modifies/cli, docs-update-needed

#32013 Enable compression for Actions logs by default
  custom/conf/app.example.ini
  modules/setting/actions.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/XS, modifies/go, docs-update-needed

#31855 bump to go 1.23
  .devcontainer/devcontainer.json
  Dockerfile
  Dockerfile.rootless
  Makefile
  assets/go-licenses.json
  cmd/hook.go
  go.mod
  go.sum
  models/asymkey/gpg_key_common.go
  models/db/sql_postgres_with_schema.go
  models/migrations/v1_16/v189.go
  models/repo/repo_list.go
  modules/cache/context.go
  modules/git/log_name_status.go
  modules/issue/template/template.go
  modules/queue/base_channel.go
  modules/storage/azureblob.go
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  routers/web/repo/view.go
  routers/web/user/home.go
  routers/web/user/profile.go
  services/actions/notifier_helper.go
  services/automerge/automerge.go
  snap/snapcraft.yaml
  tests/integration/api_releases_test.go
  tests/integration/migrate_test.go
Labels: lgtm/done, topic/build, modifies/api, size/L, modifies/go, modifies/cli, modifies/migrations, modifies/internal, modifies/dependencies

#31981 Support migration from AWS CodeCommit
  assets/go-licenses.json
  go.mod
  go.sum
  modules/migration/options.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  public/assets/img/svg/gitea-codecommit.svg
  routers/api/v1/repo/migrate.go
  routers/web/repo/migrate.go
  services/convert/utils.go
  services/forms/repo_form.go
  services/migrations/codecommit.go
  templates/repo/migrate/codecommit.tmpl
  templates/swagger/v1_json.tmpl
  web_src/svg/gitea-codecommit.svg
Labels: type/feature, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/XL, modifies/go, modifies/templates, modifies/dependencies

#32025 Support allowed hosts for migrations to work with proxy
  modules/hostmatcher/http.go
  services/migrations/http_client.go
  services/migrations/migrate.go
  services/webhook/deliver.go
Labels: type/bug, lgtm/done, topic/repo-migration, size/S, modifies/go, backport/v1.22

#32016 Failed authentications are logged to level Warning
  routers/web/auth/auth.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#32022 Fix container parallel upload bugs
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go

#31999 Add option to filter board cards by labels and assignees
  models/issues/issue_project.go
  models/issues/issue_search.go
  models/organization/org_user.go
  routers/web/org/projects.go
  routers/web/repo/actions/actions.go
  routers/web/repo/helper.go
  routers/web/repo/issue.go
  routers/web/repo/projects.go
  routers/web/repo/pull.go
  routers/web/repo/release.go
  routers/web/shared/user/helper.go
  routers/web/shared/user/helper_test.go
  templates/projects/view.tmpl
  web_src/css/features/projects.css
Labels: type/feature, lgtm/done, topic/projects, reviewed/wait-merge, size/L, modifies/go, modifies/templates

#31841 Handle invalid target when creating releases using API
  routers/api/v1/repo/release.go
  services/release/release.go
  tests/integration/api_releases_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#32035 Check if the `due_date` is nil when editing issues
  routers/api/v1/repo/issue.go
Labels: type/bug, lgtm/done, modifies/api, size/S, modifies/go, backport/v1.22

#31878 Use a common message template instead of a special one
  options/locale/locale_en-US.ini
  routers/web/repo/commit.go
Labels: type/enhancement, lgtm/done, modifies/translation, size/XS, modifies/go

#31726 feat(#31666): Set the columns height to hug all its contents
  web_src/css/features/projects.css
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/XS

#32038 Do not escape relative path in RPM primary index
  services/packages/rpm/repository.go
Labels: type/bug, lgtm/done, topic/packages, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32045 Included tag search capabilities
  models/repo/release.go
  options/locale/locale_en-US.ini
  routers/web/repo/release.go
  templates/repo/tag/list.tmpl
Labels: type/feature, lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/go, modifies/templates

#32051 Lazy load avatar images
  modules/templates/util_avatar.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#32062 Fix CI
  go.mod
Labels: lgtm/done, type/testing, size/XS, modifies/dependencies

#32050 Add missing comment reply handling
  services/mailer/incoming/incoming_handler.go
  tests/integration/incoming_email_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#32057 Refactor CSRF protector
  options/locale/locale_en-US.ini
  routers/web/web.go
  services/context/context.go
  services/context/csrf.go
  tests/integration/attachment_test.go
  tests/integration/csrf_test.go
  tests/integration/repo_branch_test.go
Labels: lgtm/done, modifies/translation, size/L, modifies/go, backport/v1.22

#32069 Refactor CSRF protector (#32057)
  options/locale/locale_en-US.ini
  routers/web/web.go
  services/context/context.go
  services/context/csrf.go
  tests/integration/attachment_test.go
  tests/integration/csrf_test.go
  tests/integration/repo_branch_test.go
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/L, modifies/go

#32073 Resolve duplicate local string key related to PR comments
  models/issues/review.go
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, skip-changelog, reviewed/wait-merge, size/XS, modifies/go

#32040 Fix: database not update release when using `git push --tags --force`
  services/repository/push.go
  tests/integration/repo_tag_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32060 Only use Host header from reverse proxy
  .github/workflows/pull-db-tests.yml
  modules/httplib/url.go
  modules/httplib/url_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/internal

#31689 Set manual `tabindex`es on login page
  templates/user/auth/signin_inner.tmpl
  web_src/css/form.css
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/S, modifies/templates

#32085 Fix incorrect `/tokens` api
  routers/api/v1/user/app.go
  tests/integration/api_token_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32097 Use camo.Always instead of camo.Allways
  custom/conf/app.example.ini
  modules/markup/camo.go
  modules/markup/camo_test.go
  modules/setting/camo.go
Labels: lgtm/done, pr/breaking, size/S, modifies/go, docs-update-needed

#32088 Count typescript files as frontend for labeling
  .github/labeler.yml
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/internal

#31776 Repo Activity: count new issues that were closed
  models/activities/repo_activity.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#31851 Fix upload maven pacakge parallelly
  routers/api/packages/maven/maven.go
  tests/integration/api_packages_maven_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go

#32102 Fix wrong last modify time
  modules/httpcache/httpcache.go
  modules/httplib/serve.go
  routers/api/packages/maven/maven.go
  routers/web/repo/githttp.go
Labels: type/bug, lgtm/done, modifies/api, size/S, modifies/go, backport/v1.22

#32099 Add bin to Composer Metadata
  modules/packages/composer/metadata.go
  tests/integration/api_packages_composer_test.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31664 Fix artifact v4 upload above 8MB
  routers/api/actions/artifacts_chunks.go
  routers/api/actions/artifactsv4.go
  tests/integration/api_actions_artifact_v4_test.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go

#32094 Fix mssql ci with a new mssql version on ci
  .github/workflows/pull-db-tests.yml
Labels: lgtm/done, type/testing, size/XS, modifies/internal

#32066 Fix rename branch permission bug
  routers/web/web.go
  templates/repo/branch/list.tmpl
  tests/integration/rename_branch_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/templates, backport/v1.22

#32081 Fix Bug in Issue/pulls list
  routers/web/repo/issue.go
  templates/repo/issue/filter_actions.tmpl
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, modifies/templates, backport/v1.22

#32109 use rebuilt mssql-2017 image
  .github/workflows/pull-db-tests.yml
Labels: lgtm/done, pr/wip, type/testing, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal, backport/v1.22

#32079 Fix bug in getting merged pull request by commit
  routers/api/v1/api.go
  routers/api/v1/repo/commits.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_pull_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#32076 Fix panic when cloning with wrong ssh format.
  cmd/serv.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/cli, backport/v1.22

#32095 Allow set branch protection in an empty repository
  routers/web/web.go
  templates/repo/settings/branches.tmpl
  templates/repo/settings/navbar.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/templates, backport/v1.22

#32072 Fix template bug of pull request view
  templates/repo/issue/view_content/sidebar.tmpl
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/templates

#31970 Truncate commit message during Discord webhook push events
  services/webhook/discord.go
  services/webhook/discord_test.go
  services/webhook/general_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#32000 Display head branch more comfortable on pull request view
  models/issues/pull.go
  options/locale/locale_en-US.ini
  routers/web/repo/pull.go
  templates/repo/issue/view_title.tmpl
Labels: topic/ui, lgtm/done, modifies/translation, reviewed/wait-merge, size/S, modifies/go, modifies/templates

#31946 Include collaboration repositories on dashboard source/forks/mirrors list
  web_src/js/components/DashboardRepoList.vue
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/XS, modifies/js, backport/v1.22, modifies/frontend

#32075 Fix bug when deleting a migrated branch
  services/repository/branch.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#32117 Fix bug in getting merged pull request by commit (#32079)
  routers/api/v1/api.go
  routers/api/v1/repo/commits.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_pull_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/S, modifies/go

#32120 Fix wrong status of `Set up Job` when first step is skipped
  modules/actions/task_state.go
  modules/actions/task_state_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/M, modifies/go, backport/v1.22

#31507 Notify the user when the file path contains leading or trailing spaces and fix the error message for invalid file names.
  routers/web/repo/editor.go
  web_src/js/features/repo-editor.ts
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22, modifies/frontend

#32127 Don't join repository when loading action table data
  models/activities/action.go
  models/activities/action_test.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#31516 Add pure SSH LFS support
  assets/go-licenses.json
  cmd/serv.go
  custom/conf/app.example.ini
  go.mod
  go.sum
  modules/lfstransfer/backend/backend.go
  modules/lfstransfer/backend/lock.go
  modules/lfstransfer/backend/util.go
  modules/lfstransfer/logger.go
  modules/lfstransfer/main.go
  modules/setting/lfs.go
  routers/private/internal.go
  routers/private/serv.go
Labels: lgtm/done, reviewed/wait-merge, size/XL, modifies/go, modifies/cli, modifies/dependencies, docs-update-needed

#32134 Change the code search to sort results by relevance
  modules/indexer/code/bleve/bleve.go
  modules/indexer/code/elasticsearch/elasticsearch.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#32156 Bump minio-go to latest version
  assets/go-licenses.json
  go.mod
  go.sum
Labels: lgtm/done, size/S, modifies/dependencies

#32130 Ensure `GetCSRF` doesn't return an empty token
  tests/integration/attachment_test.go
  tests/integration/integration_test.go
  tests/integration/org_test.go
Labels: lgtm/done, type/testing, skip-changelog, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#32143 Don't join repository when loading action table data (#32127)
  models/activities/action.go
  models/activities/action_test.go
Labels: type/bug, lgtm/done, size/S, modifies/go
