Repository go-gitea/gitea, pull requests merged in 2024-02, with the labels that each got.

#28990 Fix UI Spacing Errors in mirror settings
  options/locale/locale_en-US.ini
  templates/repo/settings/options.tmpl
Labels: topic/ui, lgtm/done, modifies/translation, reviewed/wait-merge, size/S

#29003 Update dorny/paths-filter action
  .github/workflows/files-changed.yml
Labels: lgtm/done, skip-changelog, modifies/internal

#29006 Revert "Speed up loading the dashboard on mysql/mariadb (#28546)"
  models/activities/action.go
Labels: lgtm/done, performance/speed, size/XS, backport/v1.21

#28992 Add changelog for 1.21.5
  CHANGELOG.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/M, modifies/docs

#29002 Improve user search display name
  routers/utils/utils.go
  routers/utils/utils_test.go
  routers/web/org/teams.go
  routers/web/repo/setting/collaboration.go
  web_src/css/base.css
  web_src/css/repo.css
  web_src/js/features/comp/SearchUserBox.js
  web_src/js/features/repo-settings.js
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/frontend

#29019 Strip trailing newline in markdown code copy
  web_src/js/markup/codecopy.js
Labels: type/enhancement, lgtm/done, size/XS, backport/v1.21, modifies/frontend

#29015 Fix incorrect button CSS usages
  templates/repo/settings/lfs_file.tmpl
  templates/repo/unicode_escape_prompt.tmpl
  templates/repo/view_file.tmpl
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/templates

#29008 Avoid sending update/delete release notice when it is draft
  services/release/release.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#29021 Wrap contained tags and branches again
  templates/repo/commit_load_branches_and_tags.tmpl
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/templates

#28971 Fix default avatar image size in PR diff page
  modules/templates/util_avatar.go
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS

#29027 Pass es2020 to esbuild-loader as well
  webpack.config.js
Labels: lgtm/done, skip-changelog, size/XS, modifies/internal

#28885 Add artifacts v4 jwt to job message and accept it
  routers/api/actions/artifacts.go
  routers/api/actions/runner/utils.go
  services/actions/auth.go
  services/actions/auth_test.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, topic/gitea-actions, size/L

#29030 Update tool dependencies
  Makefile
  models/asymkey/gpg_key_verify.go
  modules/lfs/http_client.go
  modules/markup/markdown/goldmark.go
  routers/api/v1/repo/commits.go
  routers/web/feed/convert.go
  services/repository/check.go
Labels: lgtm/done, modifies/api, skip-changelog, size/S, modifies/internal

#28981 Include username in email headers
  models/user/user.go
  services/mailer/mail.go
  services/mailer/mail_test.go
Labels: type/enhancement, lgtm/done, size/M

#27626 Add `must-change-password` cli parameter
  cmd/admin_user_change_password.go
  docs/content/administration/command-line.en-us.md
Labels: type/enhancement, lgtm/done, size/S, modifies/cli, modifies/docs

#29037 labels and licenses are directories
  docs/content/administration/customizing-gitea.en-us.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/XS, modifies/docs

#29039 Do not render empty comments
  routers/web/repo/pull_review.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28733 Unify user update methods
  cmd/admin_user_change_password.go
  models/fixtures/email_address.yml
  models/fixtures/user.yml
  models/user/email_address.go
  models/user/email_address_test.go
  models/user/error.go
  models/user/user.go
  models/user/user_test.go
  modules/auth/password/password.go
  modules/auth/password/pwn.go
  modules/auth/password/pwn/pwn.go
  modules/auth/password/pwn/pwn_test.go
  modules/optional/option.go
  modules/optional/option_test.go
  routers/api/v1/admin/user.go
  routers/api/v1/org/org.go
  routers/api/v1/user/email.go
  routers/api/v1/user/settings.go
  routers/web/admin/users.go
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
  routers/web/auth/password.go
  routers/web/org/setting.go
  routers/web/repo/middlewares.go
  routers/web/user/setting/account.go
  routers/web/user/setting/profile.go
  services/auth/auth.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/ldap/source_sync.go
  services/mailer/mail.go
  services/mailer/notify.go
  services/user/avatar.go
  services/user/email.go
  services/user/email_test.go
  services/user/update.go
  services/user/update_test.go
  services/user/user.go
  services/user/user_test.go
  tests/integration/api_admin_test.go
  tests/integration/api_nodeinfo_test.go
  tests/integration/api_user_email_test.go
  tests/integration/empty_repo_test.go
Labels: type/bug, lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/XXL, modifies/cli

#27625 Unify password changing and invalidate auth tokens
  models/auth/auth_token.go
  services/user/delete.go
  services/user/update.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/S

#28975 Show whether a PR is WIP inside popups
  modules/structs/issue.go
  services/convert/issue.go
  templates/swagger/v1_json.tmpl
  web_src/js/components/ContextPopup.vue
  web_src/js/svg.js
Labels: type/enhancement, topic/ui, lgtm/done, modifies/api, size/M, modifies/frontend

#28899 Propagate install_if and provider_priority to APKINDEX
  modules/packages/alpine/metadata.go
  services/packages/alpine/repository.go
Labels: type/enhancement, lgtm/done, topic/packages, reviewed/wait-merge, size/M

#28855 Move some repository transfer functions to service layer
  models/repo/update.go
  models/repo_transfer.go
  models/repo_transfer_test.go
  routers/api/v1/repo/transfer.go
  routers/web/repo/repo.go
  routers/web/repo/setting/setting.go
  services/repository/transfer.go
  services/repository/transfer_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/XL

#29048 Fix typos in the documentation
  docs/content/usage/actions/comparison.zh-cn.md
Labels: lgtm/done, skip-changelog, size/XS, backport/v1.21, modifies/docs

#29053 Remove useless template file
  templates/repo/settings/nav.tmpl
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/templates

#29001 Don't do a full page load when clicking `Watch` or `Star`
  routers/web/repo/repo.go
  templates/repo/header.tmpl
  templates/repo/star_unstar.tmpl
  templates/repo/watch_unwatch.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M, topic/ux

#29056 Fix typos in the documentation (#29048)
  docs/content/usage/actions/comparison.zh-cn.md
Labels: lgtm/done, size/XS, modifies/docs

#29064 Hide code links on release page if user cannot read code
  templates/repo/release/list.tmpl
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21, modifies/templates

#29070 Remove lightningcss
  package-lock.json
  package.json
  webpack.config.js
Labels: lgtm/done, size/S, modifies/internal

#29024 Fix orgmode link resolving
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21

#29062 fix: Elasticsearch: Request Entity Too Large #28117
  modules/indexer/code/elasticsearch/elasticsearch.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#29076 Fix orgmode link resolving (#29024)
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M

#29050 Improve user experience for outdated comments
  modules/contexttest/context_tests.go
  routers/web/repo/middlewares.go
  routers/web/repo/pull_review.go
  routers/web/repo/pull_review_test.go
  templates/repo/diff/conversation_outdated.tmpl
Labels: type/enhancement, lgtm/done, size/L, backport/v1.21, topic/ux

#29085 Fix gitea-origin-url with default ports
  .eslintrc.yaml
  web_src/js/webcomponents/GiteaOriginUrl.js
  web_src/js/webcomponents/GiteaOriginUrl.test.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21, modifies/frontend, modifies/internal

#29081 Avoid showing unnecessary JS errors when there are elements with different origin on the page
  web_src/js/modules/dirauto.js
  web_src/js/modules/tippy.js
  web_src/js/utils/dom.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21, modifies/frontend

#29095 Fix swift packages not resolving
  routers/api/packages/swift/swift.go
Labels: type/bug, lgtm/done, modifies/api, size/XS, backport/v1.21

#29096 Fix incorrect link to swift doc and swift package-registry login command
  docs/content/usage/packages/overview.en-us.md
  docs/content/usage/packages/swift.en-us.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/docs

#29097 Move vitest setup file to root
  vitest.config.js
  web_src/js/vitest.setup.js
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/XS, modifies/frontend

#29092 Remove unnecessary parameter
  models/unittest/testdb.go
  modules/setting/config_provider.go
  modules/setting/setting.go
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/S

#29091 Only delete scheduled workflows when needed
  services/actions/notifier_helper.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/XS, backport/v1.21

#29090 Fix push to create with capitalize repo name
  cmd/serv.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/cli, backport/v1.21

#29098 Use defaults browserslist
  package.json
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#29103 Fix incorrect link to swift doc and swift package-registry login command (#29096)
  docs/content/usage/packages/overview.en-us.md
  docs/content/usage/packages/swift.en-us.md
Labels: lgtm/done, topic/packages, size/XS, modifies/docs

#29102 Fix swift packages not resolving (#29095)
  routers/api/packages/swift/swift.go
Labels: lgtm/done, modifies/api, topic/packages, reviewed/wait-merge, size/XS

#29105 Display friendly error message
  routers/web/repo/actions/actions.go
Labels: type/bug, topic/ui, lgtm/done, size/S, backport/v1.21

#29054 Refactor parseSignatureFromCommitLine
  modules/git/repo.go
  modules/git/repo_tag.go
  modules/git/repo_tag_test.go
  modules/git/signature.go
  modules/git/signature_gogit.go
  modules/git/signature_nogogit.go
  modules/git/signature_test.go
  modules/git/tag.go
Labels: type/bug, lgtm/done, size/L, backport/v1.21

#29106 Rework spellchecking, add `lint-spell`
  .github/workflows/pull-compliance.yml
  Makefile
  docs/content/administration/config-cheat-sheet.zh-cn.md
  docs/content/development/hacking-on-gitea.en-us.md
  docs/content/development/hacking-on-gitea.zh-cn.md
  docs/content/installation/from-source.en-us.md
  docs/content/installation/from-source.zh-cn.md
  templates/repo/branch_dropdown.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: lgtm/done, skip-changelog, size/M, backport/v1.21, modifies/docs, modifies/internal

#29108 Refactor parseSignatureFromCommitLine (#29054)
  modules/git/repo.go
  modules/git/repo_tag.go
  modules/git/repo_tag_test.go
  modules/git/signature.go
  modules/git/signature_gogit.go
  modules/git/signature_nogogit.go
  modules/git/signature_test.go
  modules/git/tag.go
Labels: type/bug, lgtm/done, size/L

#29111 add lint-spell-fix to lint-fix
  Makefile
Labels: lgtm/done, skip-changelog, size/XS, modifies/internal

#26484 Disallow duplicate storage paths
  modules/setting/indexer.go
  modules/setting/path.go
  modules/setting/repository.go
  modules/setting/server.go
  modules/setting/session.go
  modules/setting/setting.go
  modules/setting/storage.go
Labels: type/enhancement, lgtm/done, size/M, topic/lfs, backport/v1.21

#29109 Drop "@" from email sender to avoid spam filters
  models/user/user.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#29124 Make blockquote border size less aggressive
  web_src/css/markup/content.css
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/frontend

#29121 Add alert blocks in markdown
  modules/markup/markdown/ast.go
  modules/markup/markdown/goldmark.go
  modules/markup/sanitizer.go
  web_src/css/base.css
Labels: type/feature, lgtm/done, pr/breaking, topic/content-rendering, reviewed/wait-merge, size/L, modifies/frontend

#29127 Update JS and PY dependencies
  .eslintrc.yaml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: lgtm/done, type/dependency-update, skip-changelog, reviewed/wait-merge, size/S, modifies/internal

#29130 Show more settings for empty repositories
  templates/repo/settings/navbar.tmpl
Labels: type/enhancement, topic/ui, lgtm/done, size/S, modifies/templates

#29069 Refactor issue template parsing and fix API endpoint
  routers/api/v1/api.go
  routers/api/v1/repo/repo.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  services/issue/template.go
  tests/integration/api_issue_templates_test.go
Labels: type/bug, lgtm/done, type/refactoring, modifies/api, size/L, backport/v1.21

#29150 Use Markdown alert syntax for notes in README
  README.md
Labels: lgtm/done, size/S, modifies/docs

#28954 Add merge style `fast-forward-only`
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  models/error.go
  models/repo/git.go
  models/repo/repo_unit.go
  modules/git/error.go
  modules/repository/create.go
  modules/structs/repo.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/repo.go
  routers/api/v1/repo/repo_test.go
  routers/web/repo/issue.go
  routers/web/repo/setting/setting.go
  services/convert/repository.go
  services/forms/repo_form.go
  services/pull/merge.go
  services/pull/merge_ff_only.go
  services/pull/merge_merge.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/pull_merge_instruction.tmpl
  templates/repo/settings/options.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_edit_test.go
  tests/integration/pull_merge_test.go
Labels: type/feature, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L, modifies/docs

#29122 Show `View at this point in history` for every commit
  templates/repo/commits_list.tmpl
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28551 Dont load Review if Comment is CommentTypeReviewRequest
  models/issues/comment.go
  models/issues/comment_list.go
  models/issues/review.go
Labels: type/bug, lgtm/done, size/S, backport/v1.21

#29160 Dont load Review if Comment is CommentTypeReviewRequest (#28551)
  models/issues/comment.go
  models/issues/comment_list.go
  models/issues/review.go
Labels: type/bug, lgtm/done, size/S

#29162 Fix Gitpod logic of setting ROOT_URL
  .gitpod.yml
Labels: lgtm/done, reviewed/wait-merge, size/S

#29153 Runner tokens are multi use
  docs/content/usage/actions/act-runner.en-us.md
  docs/content/usage/actions/quickstart.en-us.md
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/docs

#29140 Refactor issue template parsing and fix API endpoint (#29069)
  routers/api/v1/api.go
  routers/api/v1/repo/repo.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  services/issue/template.go
  tests/integration/api_issue_templates_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L

#29135 Document how the TOC election process works
  CONTRIBUTING.md
Labels: type/enhancement, type/docs, lgtm/done, reviewed/wait-merge, size/M, modifies/docs

#29161 Use ghost user if user was not found
  models/issues/comment_list.go
  models/issues/review.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S

#29155 Refactor git version functions and check compatibility
  modules/git/git.go
  modules/git/git_test.go
Labels: type/enhancement, lgtm/done, backport/done, reviewed/wait-merge, size/L, backport/manual, backport/v1.21

#29167 Remove unused `KeyID`.
  models/organization/org.go
  models/user/email_address.go
  models/user/error.go
  models/user/user.go
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/S

#29169 Use ghost user if user was not found (#29161)
  models/issues/comment_list.go
  models/issues/review.go
Labels: type/bug, lgtm/done, size/S

#29168 Extract linguist code to method
  routers/web/repo/blame.go
  routers/web/repo/view.go
  services/repository/files/content.go
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/M

#29174 Fix can not select team reviewers when reviewers is empty
  templates/repo/issue/view_content/sidebar.tmpl
Labels: type/bug, topic/ui, lgtm/done, size/XS, modifies/templates

#29170 Remove jQuery from the comment task list
  web_src/js/markup/tasklist.js
Labels: topic/ui, lgtm/done, type/refactoring, reviewed/wait-merge, size/S, modifies/frontend

#29114 Change webhook-type in create-view
  routers/web/repo/setting/webhook.go
  templates/repo/settings/webhook/base_list.tmpl
  templates/repo/settings/webhook/link_menu.tmpl
  templates/shared/webhook/icon.tmpl
  templates/webhook/new.tmpl
  web_src/css/base.css
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/frontend

#29134 Tweak repo header
  templates/repo/header.tmpl
  templates/repo/icon.tmpl
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/S, modifies/templates

#29176 Advertise WebAuthn support
  routers/web/passkey.go
  routers/web/web.go
Labels: type/feature, topic/security, lgtm/done, size/S

#29120 Add support for action artifact serve direct
  routers/api/actions/artifacts.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, topic/gitea-actions, size/S

#27882 Implement contributors graph
  options/locale/locale_en-US.ini
  package-lock.json
  package.json
  routers/web/repo/activity.go
  routers/web/repo/contributors.go
  routers/web/web.go
  services/repository/contributors_graph.go
  services/repository/contributors_graph_test.go
  templates/repo/activity.tmpl
  templates/repo/contributors.tmpl
  templates/repo/navbar.tmpl
  templates/repo/pulse.tmpl
  web_src/js/components/.eslintrc.yaml
  web_src/js/components/RepoContributors.vue
  web_src/js/features/contributors.js
  web_src/js/index.js
  web_src/js/utils/time.js
  web_src/js/utils/time.test.js
Labels: type/feature, lgtm/done, modifies/translation, size/XXL, modifies/frontend

#29184 Update JS and PY dependencies
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Labels: lgtm/done, type/dependency-update, skip-changelog, reviewed/wait-merge, size/S

#29188 Avoid vue warning in dev mode
  webpack.config.js
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal

#29112 Rework spellchecking, add lint-spell
  .github/workflows/pull-compliance.yml
  Makefile
  docs/content/administration/config-cheat-sheet.zh-cn.md
  docs/content/development/hacking-on-gitea.en-us.md
  docs/content/development/hacking-on-gitea.zh-cn.md
  docs/content/installation/from-source.en-us.md
  docs/content/installation/from-source.zh-cn.md
  templates/repo/branch_dropdown.tmpl
  templates/repo/issue/view_content/comments.tmpl
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/M, modifies/docs, modifies/internal

#29163 Auto-update the system status in admin dashboard
  package-lock.json
  package.json
  routers/web/admin/admin.go
  routers/web/web.go
  templates/admin/dashboard.tmpl
  templates/admin/system_status.tmpl
  templates/base/head.tmpl
  web_src/js/htmx.js
  webpack.config.js
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/L, modifies/frontend, modifies/internal

#29186 Disable parallel Make execution
  Makefile
  README.md
Labels: lgtm/done, topic/build, skip-changelog, reviewed/wait-merge, size/XS, modifies/docs, modifies/internal

#29190 Fix gitea-action user avatar broken on edited menu
  models/issues/content_history.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#29047 Docker Tag Information in Docs
  docs/content/usage/packages/container.en-us.md
Labels: type/docs, lgtm/done, size/S, modifies/docs

#29187 Refactor request function
  web_src/js/modules/fetch.js
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/S, modifies/frontend

#29193 Remove jQuery from SSH key form parser
  web_src/js/features/sshkey-helper.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/S, modifies/frontend

#29194 Reference labels by IDs instead of names in `keys` settings
  templates/repo/settings/deploy_keys.tmpl
  templates/user/settings/keys_gpg.tmpl
  templates/user/settings/keys_principal.tmpl
  templates/user/settings/keys_ssh.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, topic/accessibility, backport/v1.21, modifies/templates

#29172 Refactor JWT secret generating & decoding code
  cmd/generate.go
  modules/generate/generate.go
  modules/generate/generate_test.go
  modules/setting/lfs.go
  modules/setting/oauth2.go
  modules/util/util.go
  modules/util/util_test.go
  routers/install/install.go
  services/auth/source/oauth2/jwtsigningkey.go
Labels: lgtm/done, type/refactoring, size/L, modifies/cli

#29195 Remove jQuery from organization rename prompt toggle
  web_src/js/features/common-organization.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XS, modifies/frontend

#29197 Remove jQuery from username change prompt and fix its detection
  web_src/js/features/user-settings.js
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/frontend

#29198 Fix `initCompLabelEdit` not being called
  web_src/js/features/common-organization.js
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/frontend

#29200 Remove jQuery from the "quick submit" handler
  web_src/js/features/comp/QuickSubmit.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XS, modifies/frontend

#29201 Add `eslint-plugin-github` and fix issues
  .eslintrc.yaml
  build/generate-images.js
  build/generate-svg.js
  package-lock.json
  package.json
  web_src/js/features/repo-code.js
  web_src/js/features/repo-issue-list.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
Labels: lgtm/done, topic/code-linting, skip-changelog, reviewed/wait-merge, size/L, modifies/frontend, modifies/internal

#29157 Refactor git version functions and check compatibility (#29155)
  modules/git/git.go
  modules/git/git_test.go
  modules/git/repo_attribute.go
Labels: type/enhancement, lgtm/done, size/L

#29005 Fix broken following organization
  routers/web/user/profile.go
  templates/org/home.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M

#29204 Fix debian InRelease Acquire-By-Hash newline
  services/packages/debian/repository.go
Labels: type/bug, lgtm/done, topic/packages, reviewed/wait-merge, size/XS, backport/v1.21

#29212 fix typo
  docs/content/administration/https-support.en-us.md
Labels: lgtm/need 1, skip-changelog, size/XS, modifies/docs

#29208 rm outdated docs from some languages (#27530)
  docs/content/administration.fr-fr.md
  docs/content/administration.zh-tw.md
  docs/content/administration/_index.zh-tw.md
  docs/content/administration/backup-and-restore.zh-tw.md
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/contributing.fr-fr.md
  docs/content/contributing.zh-tw.md
  docs/content/contributing/_index.de-de.md
  docs/content/contributing/_index.zh-tw.md
  docs/content/contributing/localization.zh-tw.md
  docs/content/development.zh-tw.md
  docs/content/development/_index.zh-tw.md
  docs/content/development/integrations.zh-tw.md
  docs/content/development/migrations.zh-tw.md
  docs/content/development/oauth2-provider.zh-tw.md
  docs/content/help.fr-fr.md
  docs/content/help.zh-tw.md
  docs/content/help/_index.zh-tw.md
  docs/content/help/support.zh-tw.md
  docs/content/index.de-de.md
  docs/content/index.fr-fr.md
  docs/content/index.zh-tw.md
  docs/content/installation.fr-fr.md
  docs/content/installation.zh-tw.md
  docs/content/installation/_index.fr-fr.md
  docs/content/installation/_index.zh-tw.md
  docs/content/installation/comparison.zh-tw.md
  docs/content/installation/from-binary.fr-fr.md
  docs/content/installation/from-binary.zh-tw.md
  docs/content/installation/from-package.fr-fr.md
  docs/content/installation/from-package.zh-tw.md
  docs/content/installation/from-source.fr-fr.md
  docs/content/installation/from-source.zh-tw.md
  docs/content/installation/on-kubernetes.zh-tw.md
  docs/content/installation/run-as-service-in-ubuntu.zh-tw.md
  docs/content/installation/upgrade-from-gogs.fr-fr.md
  docs/content/installation/windows-service.fr-fr.md
  docs/content/installation/windows-service.zh-tw.md
  docs/content/installation/with-docker.fr-fr.md
  docs/content/installation/with-docker.zh-tw.md
  docs/content/search.de-de.md
  docs/content/search.fr-fr.md
  docs/content/search.zh-tw.md
  docs/content/usage.zh-tw.md
  docs/content/usage/_index.zh-tw.md
  docs/content/usage/authentication.zh-tw.md
  docs/content/usage/pull-request.zh-tw.md
  docs/content/usage/push.zh-tw.md
  docs/content/usage/webhooks.zh-tw.md
Labels: type/docs, lgtm/done, size/XXL, modifies/docs

#29206 Fix push to create with capitalize repo name (#29090)
  cmd/serv.go
Labels: type/bug, lgtm/done, size/S, modifies/cli

#29216 Remove jQuery from issue reference context popup attach
  web_src/js/features/contextpopup.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XS, modifies/frontend

#29211 Remove jQuery from the webhook editor
  web_src/js/features/comp/WebHookEditor.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/frontend

#29214 Enable markdownlint `no-trailing-punctuation` and `no-blanks-blockquote`
  .markdownlint.yaml
  docs/content/administration/customizing-gitea.en-us.md
  docs/content/administration/mail-templates.en-us.md
  docs/content/administration/mail-templates.zh-cn.md
  docs/content/contributing/guidelines-frontend.en-us.md
  docs/content/contributing/guidelines-frontend.zh-cn.md
  docs/content/development/api-usage.zh-cn.md
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/docs, modifies/internal

#29203 Load outdated comments when (un)resolving conversation on PR timeline
  routers/web/repo/pull_review.go
  routers/web/repo/pull_review_test.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#29209 Fix label `for` pointing to a `name` instead of `id` in webhook settings
  templates/repo/settings/webhook/settings.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, topic/accessibility, modifies/templates

#29199 Fix labels referencing the wrong ID in the user profile settings
  templates/user/settings/profile.tmpl
  tests/integration/auth_ldap_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, topic/accessibility

#29217 Remove unneccesary `initUserAuthLinkAccountView` from "link account" page
  web_src/js/features/user-auth.js
  web_src/js/index.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/frontend

#29219 Remove jQuery from repo migrate page
  web_src/js/features/repo-migrate.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/S, modifies/frontend

#29223 Make submit event code work with both jQuery event and native event
  web_src/js/features/common-issue-list.js
  web_src/js/features/repo-diff.js
  web_src/js/utils/dom.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/frontend

#29225 Remove jQuery from the repo release form
  web_src/js/features/repo-release.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/S, modifies/frontend

#29227 Use "Safe" modifier for manually constructed safe HTML strings in templates
  templates/admin/packages/list.tmpl
  templates/admin/repo/list.tmpl
  templates/admin/stacktrace.tmpl
  templates/org/member/members.tmpl
  templates/org/team/members.tmpl
  templates/org/team/sidebar.tmpl
  templates/org/team/teams.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/settings/webhook/settings.tmpl
  templates/user/settings/organization.tmpl
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/templates

#29235 Only delete scheduled workflows when needed (#29091)
  services/actions/notifier_helper.go
Labels: type/bug, lgtm/done, topic/gitea-actions, size/XS

#29234 Make submit event code work with both jQuery event and native event (#29223)
  web_src/js/features/common-issue-list.js
  web_src/js/features/repo-diff.js
  web_src/js/utils/dom.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/frontend

#29221 Load outdated comments when (un)resolving conversation on PR timeline (#29203)
  routers/web/repo/pull_review.go
  routers/web/repo/pull_review_test.go
Labels: lgtm/done, reviewed/wait-merge, size/XS

#29236 Refactor more code in templates
  Makefile
  modules/context/context_response.go
  modules/templates/helper.go
  modules/templates/helper_test.go
  routers/api/v1/api.go
  routers/web/auth/oauth.go
  routers/web/shared/user/header.go
  routers/web/swagger_json.go
  templates/shared/user/profile_big_avatar.tmpl
  templates/swagger/v1_json.tmpl
  templates/user/auth/oidc_wellknown.tmpl
Labels: lgtm/done, type/refactoring, modifies/api, size/M, modifies/internal

#29239 Update docs for actions variables
  docs/content/usage/actions/comparison.zh-cn.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/XS, modifies/docs

#27172 Artifact deletion in actions ui
  models/actions/artifact.go
  options/locale/locale_en-US.ini
  routers/web/repo/actions/view.go
  routers/web/web.go
  services/actions/cleanup.go
  templates/repo/actions/view.tmpl
  web_src/js/components/RepoActionView.vue
  web_src/js/svg.js
Labels: type/feature, topic/ui, lgtm/done, modifies/translation, reviewed/wait-merge, topic/gitea-actions, size/L, modifies/frontend

#29173 Implement some action notifier functions
  modules/actions/github.go
  modules/actions/workflows.go
  services/actions/notifier.go
Labels: lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/M, backport/v1.21

#29226 Convert visibility to number
  templates/admin/user/new.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#29228 Improve TrHTML and add more tests
  modules/translation/i18n/i18n_test.go
  modules/translation/i18n/localestore.go
Labels: lgtm/done, skip-changelog, size/M

#29241 Expire artifacts before deleting them physically
  services/actions/cleanup.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/S

#29232 Clean up diff header css and reduce global textarea min-height
  templates/repo/commit_page.tmpl
  templates/repo/diff/box.tmpl
  web_src/css/base.css
  web_src/css/editor/combomarkdowneditor.css
  web_src/css/repo.css
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/M, modifies/frontend

#29237 Fix missed edit issues event for actions
  services/actions/notifier.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/M, backport/v1.21

#29205 Use general token signing secret
  modules/base/tool.go
  modules/context/context.go
  modules/setting/lfs.go
  modules/setting/oauth2.go
  modules/setting/oauth2_test.go
  services/actions/auth.go
  services/actions/auth_test.go
  services/auth/source/oauth2/jwtsigningkey.go
  services/packages/auth.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L

#29244 Convert visibility to number (#29226)
  templates/admin/user/new.tmpl
Labels: lgtm/done, size/XS, modifies/templates

#29247 De-duplicate contributor graph translations
  options/locale/locale_en-US.ini
  templates/repo/contributors.tmpl
Labels: lgtm/done, modifies/translation, skip-changelog, reviewed/wait-merge, size/S

#29123 Downscale pasted PNG images based on metadata
  web_src/js/features/comp/ImagePaste.js
  web_src/js/utils/image.js
  web_src/js/utils/image.test.js
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/frontend

#29261 Do not use lower tag names to find releases/tags
  services/repository/push.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#29143 Disallow merge when required checked are missing
  routers/web/repo/pull.go
  services/pull/commit_status.go
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/pulls/status.tmpl
Labels: type/bug, lgtm/done, topic/pr, reviewed/wait-merge, size/M, backport/v1.21

#29262 Do not use lower tag names to find releases/tags (#29261)
  services/repository/push.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S

#29149 Show commit status for releases
  routers/web/repo/release.go
  services/actions/commit_status.go
  templates/repo/commit_statuses.tmpl
  templates/repo/release/list.tmpl
Labels: type/feature, lgtm/done, reviewed/wait-merge, size/L

#29148 Fix c/p error in inline documentation
  services/auth/source/db/source.go
Labels: type/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS

#29258 Remove DataRaceCheck
  modules/context/context_template.go
  templates/base/footer.tmpl
  templates/base/head.tmpl
Labels: lgtm/done, skip-changelog, size/S

#29256 Deduplicate translations for contributors graph
  options/locale/locale_en-US.ini
  routers/web/repo/contributors.go
  templates/repo/contributors.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS

#28554 Workaround to clean up old reviews on creating a new one
  models/issues/review.go
  models/unittest/unit_tests.go
  tests/integration/api_pull_review_test.go
Labels: type/bug, lgtm/done, size/L, backport/v1.21

#29259 Fix content size does not match error when uploading lfs file
  routers/api/v1/repo/file.go
  services/repository/files/update.go
Labels: lgtm/done, modifies/api, size/XS

#29035 Explained where create issue/PR template
  docs/content/usage/issue-pull-request-templates.en-us.md
Labels: lgtm/done, frontport/main, size/XS, modifies/docs

#29263 Fix bug when the linked account was disactived and list the linked accounts
  models/auth/oauth2.go
  routers/web/auth/auth.go
  routers/web/user/setting/security/security.go
  services/auth/source/oauth2/init.go
  services/auth/source/oauth2/providers.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S

#29268 Disallow merge when required checked are missing (#29143)
  routers/web/repo/pull.go
  services/pull/commit_status.go
  templates/repo/pulls/status.tmpl
Labels: lgtm/done, size/M

#29229 Remove jQuery from the repo migration form
  web_src/js/features/repo-migration.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/frontend

#29255 Left align the input labels for the link account page
  web_src/css/form.css
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/frontend

#29257 Do not show delete button when time tracker is disabled
  templates/repo/issue/view_content/comments_delete_time.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/templates

#29251 Fix missed edit issues event for actions (#29237)
  services/actions/notifier.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M

#29279 Do not show delete button when time tracker is disabled (#29257)
  templates/repo/issue/view_content/comments_delete_time.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#29271 Remove jQuery from repo wiki creation page
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-wiki.js
  web_src/js/utils/dom.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/frontend

#29266 Explained where create issue/PR template (#29035)
  docs/content/usage/issue-pull-request-templates.en-us.md
Labels: type/docs, lgtm/done, size/XS, modifies/docs

#29285 Update Discord logo
  public/assets/img/svg/gitea-discord.svg
  web_src/svg/gitea-discord.svg
Labels: lgtm/done, size/XS, backport/v1.21, modifies/frontend

#29289 Do not use `ctx.Doer` when reset password
  routers/web/auth/password.go
Labels: type/bug, lgtm/done, size/XS

#29287 Always write proc-receive hook for all git versions
  modules/repository/hooks.go
Labels: type/bug, lgtm/done, size/S, backport/v1.21

#29284 Remove jQuery from the installation page
  web_src/js/features/install.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/frontend

#29276 Refactor markup rendering to accept general "protocol:" prefix
  modules/markup/html.go
  modules/markup/html_test.go
  modules/markup/markdown/goldmark.go
  modules/markup/orgmode/orgmode.go
Labels: lgtm/done, type/refactoring, size/M

#29288 Fix error display when merging PRs
  routers/web/repo/pull.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21
