Repository go-gitea/gitea, pull requests merged in 2024-05, with the labels that each got.

#26673 Add API endpoints for getting action jobs status
  modules/structs/repo_actions.go
  routers/api/v1/api.go
  routers/api/v1/repo/actions.go
  routers/api/v1/swagger/repo.go
  services/convert/convert.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go

#30779 Fix duplicate status check contexts (#30660)
  models/git/commit_status.go
  models/git/commit_status_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#30794 Don't have `redis-cluster` as possible cache/session adapter in docs
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21, modifies/docs, backport/v1.22

#30806 Don't have `redis-cluster` as possible cache/session adapter in docs (#30794)
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
Labels: lgtm/done, size/S, modifies/docs

#30795 Fix markdown rendering when mentioning users
  modules/markup/html.go
  modules/references/references.go
  modules/references/references_test.go
  modules/templates/util_render_test.go
Labels: type/bug, lgtm/done, size/S, modifies/go, backport/v1.22

#30796 Skip gzip for some well-known compressed file types
  modules/httplib/serve.go
  routers/web/web.go
  tests/integration/repo_archive_test.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30809 Fix rounded border for segment followed by pagination
  web_src/css/modules/segment.css
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22

#30803 Fix branch selector UI
  templates/repo/branch_dropdown.tmpl
  templates/repo/issue/branch_selector_field.tmpl
  templates/repo/issue/labels/labels_sidebar.tmpl
  web_src/css/base.css
  web_src/css/repo.css
  web_src/js/components/RepoBranchTagSelector.vue
  web_src/js/features/repo-legacy.js
Labels: type/bug, lgtm/done, size/L, modifies/templates, modifies/js, backport/v1.22

#30742 Upgrade binding to fix bug
  go.mod
  go.sum
Labels: type/bug, lgtm/done, size/XS, modifies/dependencies

#30800 Fix issue card layout
  templates/repo/issue/card.tmpl
  web_src/css/repo.css
  web_src/css/repo/issue-card.css
Labels: type/bug, lgtm/done, size/S, modifies/templates, backport/v1.22

#30823 Fix activity heat map padding & locale
  package-lock.json
  package.json
  web_src/js/components/ActivityHeatmap.vue
  web_src/js/features/heatmap.js
Labels: type/bug, lgtm/done, size/M, modifies/js, modifies/dependencies, backport/v1.22

#30824 Improve context popup rendering
  web_src/js/components/.eslintrc.yaml
  web_src/js/components/ContextPopup.vue
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/S, modifies/js, backport/v1.22

#30826 Upgrade chi-binding
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies, backport/v1.22

#30716 Remove external API calls in `TestPassword`
  go.mod
  go.sum
  modules/auth/password/pwn/pwn_test.go
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/L, modifies/go, modifies/dependencies

#30825 Fix incorrect message id for release email
  services/mailer/mail.go
  services/mailer/mail_release.go
  services/mailer/mail_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#30791 Catch and handle unallowed file type errors in issue attachment API
  routers/api/v1/repo/issue_attachment.go
  routers/api/v1/repo/issue_comment_attachment.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_comment_attachment_test.go
  tests/integration/api_issue_attachment_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30790 Prevent automatic OAuth grants for public clients
  routers/web/auth/oauth.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.21, backport/v1.22

#30811 refactor: merge ListActionTasks func to action.go file
  routers/api/v1/repo/action.go
  routers/api/v1/repo/actions.go
Labels: lgtm/done, modifies/api, skip-changelog, reviewed/wait-merge, size/L, modifies/go

#30668 Improve repo button row layout
  templates/repo/clone_buttons.tmpl
  templates/repo/home.tmpl
  web_src/css/modules/input.css
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/templates, backport/v1.22

#30831 Fix body margin shifting with modals, fix error on project column edit
  web_src/js/modules/fomantic/dimmer.js
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/js

#30838 Fix JS error on pull request page
  web_src/js/features/repo-legacy.js
Labels: type/bug, lgtm/done, size/XS, modifies/js, backport/v1.22

#30801 Ignore useless error message "broken pipe"
  routers/api/packages/maven/maven.go
  services/context/base.go
  services/context/context_response.go
Labels: type/bug, lgtm/done, modifies/api, skip-changelog, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#30814 Fix no edit history after editing issue's title and content
  models/issues/issue_update.go
  modules/structs/pull.go
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/pull.go
  tests/integration/api_issue_test.go
  tests/integration/api_pull_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#30817 Don't only list code-enabled repositories when using repository API
  routers/api/v1/user/repo.go
  tests/integration/api_repo_test.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30843 Improve grep search
  modules/git/grep.go
  modules/git/grep_test.go
  modules/setting/glob.go
  modules/setting/indexer.go
  routers/web/repo/search.go
  routers/web/repo/search_test.go
Labels: type/bug, lgtm/done, skip-changelog, size/L, modifies/go, backport/v1.22

#30812 Fix markdown URL parsing for commit ID
  modules/markup/html.go
  modules/markup/html_codepreview.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#30856 Update README.md
  docker/README.md
Labels: lgtm/done, skip-changelog, size/XS, modifies/docs, modifies/internal

#29674 Add result check in TestAPIEditUser
  tests/integration/api_admin_test.go
Labels: lgtm/done, type/testing, skip-changelog, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#30858 Fix issue/PR title edit
  templates/repo/issue/view_title.tmpl
  tests/integration/issue_test.go
  tests/integration/pull_create_test.go
  web_src/css/repo.css
  web_src/js/features/common-global.js
  web_src/js/features/comp/QuickSubmit.js
  web_src/js/features/repo-issue.js
Labels: type/bug, lgtm/done, size/L, modifies/go, modifies/templates, modifies/js, backport/v1.22

#30862 Do not show monaco JS errors
  web_src/js/bootstrap.js
Labels: lgtm/done, size/M, modifies/js, backport/v1.22

#30857 Have time.js use UTC-related getters/setters
  web_src/js/components/RepoCodeFrequency.vue
  web_src/js/components/RepoContributors.vue
  web_src/js/components/RepoRecentCommits.vue
  web_src/js/utils/time.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/js, backport/v1.22

#30854 Fix some UI problems (install/checkbox)
  templates/install.tmpl
  web_src/css/install.css
  web_src/css/modules/checkbox.css
  web_src/js/features/repo-issue.js
Labels: type/bug, lgtm/done, skip-changelog, size/L, modifies/templates, modifies/js, backport/v1.22

#30784 Get repo list with OrderBy alpha should respect owner too
  models/repo/search.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#30877 Make sure git version&feature are always prepared
  cmd/hook.go
  cmd/serv.go
  modules/git/blame.go
  modules/git/commit.go
  modules/git/git.go
  modules/git/object_format.go
  modules/git/object_id.go
  modules/git/remote.go
  modules/git/repo.go
  modules/git/repo_base.go
  modules/git/repo_base_gogit.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_commit.go
  modules/git/repo_commitgraph.go
  modules/lfs/pointer_scanner_nogogit.go
  routers/init.go
  routers/private/hook_pre_receive.go
  routers/private/hook_proc_receive.go
  routers/private/serv.go
  routers/web/admin/config.go
  routers/web/misc/misc.go
  routers/web/repo/githttp.go
  routers/web/repo/repo.go
  services/gitdiff/gitdiff.go
  services/pull/patch.go
  services/pull/temp_repo.go
  services/repository/files/patch.go
  tests/integration/git_test.go
Labels: type/bug, lgtm/done, size/L, modifies/go, modifies/cli, backport/v1.22

#30878 Make "sync branch" also sync object format and add tests
  modules/git/repo.go
  modules/repository/branch.go
  modules/repository/branch_test.go
  services/repository/adopt.go
Labels: type/bug, lgtm/done, size/M, modifies/go, backport/v1.22

#30879 Make sure git version&feature are always prepared (#30877)
  cmd/hook.go
  cmd/serv.go
  modules/git/blame.go
  modules/git/commit.go
  modules/git/git.go
  modules/git/object_format.go
  modules/git/object_id.go
  modules/git/remote.go
  modules/git/repo.go
  modules/git/repo_base.go
  modules/git/repo_base_gogit.go
  modules/git/repo_base_nogogit.go
  modules/git/repo_commit.go
  modules/git/repo_commitgraph.go
  modules/lfs/pointer_scanner_nogogit.go
  routers/init.go
  routers/private/hook_pre_receive.go
  routers/private/hook_proc_receive.go
  routers/private/serv.go
  routers/web/admin/config.go
  routers/web/misc/misc.go
  routers/web/repo/githttp.go
  routers/web/repo/repo.go
  services/gitdiff/gitdiff.go
  services/pull/patch.go
  services/pull/temp_repo.go
  services/repository/files/patch.go
  tests/integration/git_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/cli

#30874 Fix missing migrate actions artifacts
  cmd/migrate_storage.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/cli, backport/v1.22

#30805 Move database operations of merging a pull request to post receive hook and add a transaction
  cmd/hook.go
  modules/private/hook.go
  modules/repository/env.go
  routers/private/hook_post_receive.go
  routers/private/hook_post_receive_test.go
  services/contexttest/context_tests.go
  services/pull/merge.go
  services/pull/update.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/cli, backport/v1.22

#30885 Refactor AppURL usage
  models/repo/avatar.go
  models/user/avatar.go
  modules/httplib/url.go
  modules/httplib/url_test.go
  modules/markup/html_codepreview.go
  routers/api/actions/artifacts.go
  routers/api/actions/artifactsv4.go
  routers/api/packages/container/container.go
  routers/common/middleware.go
  routers/common/redirect.go
  routers/web/auth/auth.go
  services/context/base.go
  services/context/context_response.go
Labels: lgtm/done, modifies/api, size/L, modifies/go, backport/v1.22

#30882 Repository explore alphabetically order respect owner name
  routers/web/explore/repo.go
Labels: type/bug, lgtm/done, size/XS, modifies/go

#30893 Remove obsolete monaco workaround
  web_src/js/features/codeeditor.js
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/js

#30889 Fix wrong transfer hint
  routers/web/repo/setting/setting.go
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#30891 Refactor AppURL usage (#30885)
  models/repo/avatar.go
  models/user/avatar.go
  modules/httplib/url.go
  modules/httplib/url_test.go
  modules/markup/html_codepreview.go
  routers/api/actions/artifacts.go
  routers/api/actions/artifactsv4.go
  routers/api/packages/container/container.go
  routers/common/middleware.go
  routers/common/redirect.go
  routers/web/auth/auth.go
  services/context/base.go
  services/context/context_response.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go

#30696 Fix various problems around projects board view
  models/db/engine.go
  models/issues/issue_project.go
  models/project/board.go
  models/project/board_test.go
  models/project/issue.go
  models/project/project.go
  routers/web/org/projects.go
  routers/web/repo/projects.go
  routers/web/repo/pull.go
  routers/web/shared/project/column.go
  routers/web/web.go
  services/issue/issue.go
  templates/projects/view.tmpl
  tests/integration/org_project_test.go
  tests/integration/project_test.go
  web_src/js/features/repo-projects.js
Labels: type/bug, type/enhancement, lgtm/done, reviewed/wait-merge, size/XL, modifies/go, modifies/templates, modifies/js, backport/v1.22

#30715 Update issue indexer after merging a PR
  services/indexer/notify.go
  tests/integration/pull_merge_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.21, backport/v1.22

#30896 Fix misspelling of mergable
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/automerge/automerge.go
  services/pull/check.go
Labels: lgtm/done, modifies/api, skip-changelog, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#30897 Add missing menu active item background back
  web_src/css/modules/menu.css
Labels: type/bug, lgtm/done, skip-changelog, size/XS, backport/v1.22

#30911 Fix network error when open/close organization/individual projects and redirect to project page (#30387)
  routers/web/org/projects.go
  routers/web/repo/projects.go
Labels: type/bug, lgtm/done, skip-changelog, size/S, modifies/go

#30910 Update issue indexer after merging a PR (#30715)
  services/indexer/notify.go
  tests/integration/pull_merge_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#30912 Fix incorrect default branch when adopt a repository
  services/repository/adopt.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30930 Remove deprecated stuff for runners
  routers/api/actions/runner/interceptor.go
  routers/api/actions/runner/runner.go
Labels: lgtm/done, modifies/api, skip-changelog, size/S, modifies/go, backport/v1.22

#30928 Fix incorrect default branch when adopt a repository (#30912)
  services/repository/adopt.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#30890 Check if reverse proxy is correctly configured
  options/locale/locale_en-US.ini
  routers/web/admin/admin.go
  routers/web/admin/admin_test.go
  routers/web/web.go
  services/context/base.go
  services/contexttest/context_tests.go
  templates/admin/self_check.tmpl
  web_src/js/bootstrap.js
  web_src/js/features/admin/selfcheck.js
  web_src/js/features/common-global.js
  web_src/js/index.js
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/js, backport/v1.22

#30920 Fix some UI regressions for commit list
  templates/repo/commits_list_small.tmpl
  web_src/css/base.css
  web_src/css/repo.css
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/templates, backport/v1.22

#30840 Update JS dependencies, add new eslint rules
  .eslintrc.yaml
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/internal, modifies/dependencies

#30894 Remove If Exist check on migration for mssql because that syntax required SQL server 2016
  models/migrations/fixtures/Test_RepositoryFormat/review_state.yml
  models/migrations/v1_22/v286.go
  models/migrations/v1_22/v286_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/migrations, backport/v1.22

#30939 Use CSS `inset` shorthand
  web_src/css/helpers.css
  web_src/css/markup/content.css
  web_src/css/modules/dimmer.css
Labels: lgtm/done, reviewed/wait-merge, size/S

#27821 Move reverproxyauth before session so the header will not be ignored even if user has login
  routers/web/web.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.21, backport/v1.22

#30950 Enable `declaration-block-no-redundant-longhand-properties`
  stylelint.config.js
  web_src/css/modules/grid.css
  web_src/css/modules/menu.css
Labels: lgtm/done, topic/code-linting, reviewed/wait-merge, size/S, modifies/internal, modifies/js

#30951 Fix file path width in repo non-homepage view
  templates/repo/home.tmpl
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#30943 Support using label names when changing issue labels
  modules/structs/issue_label.go
  routers/api/v1/repo/issue_label.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_issue_label_test.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30964 fix: change npm scope registry
  docs/content/usage/packages/npm.en-us.md
  docs/content/usage/packages/npm.zh-cn.md
Labels: lgtm/done, size/XS, modifies/docs, backport/v1.22

#30837 Restyle release list, fix branch dropdown
  templates/repo/release/list.tmpl
  templates/repo/tag/list.tmpl
  tests/integration/release_test.go
  web_src/css/repo/release-tag.css
Labels: topic/ui, lgtm/done, size/L, modifies/go, modifies/templates, backport/v1.22

#30962 Protected tag is no internal server error
  models/fixtures/protected_tag.yml
  routers/api/v1/repo/release.go
  routers/api/v1/repo/release_tags.go
  routers/api/v1/repo/tag.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_releases_test.go
  tests/integration/repo_tag_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#30957 Filter out duplicate action(activity) items for a repository
  models/activities/action.go
  models/activities/action_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30977 Remove unnecessary double quotes on language file
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, size/XS, backport/v1.22

#30969 Supports forced use of S3 virtual-hosted style
  cmd/migrate_storage.go
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  modules/setting/storage.go
  modules/storage/minio.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/cli, modifies/docs

#30966 Put web editor into a segment
  templates/repo/editor/edit.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/templates

#30987 template: `label` fix correct input id
  templates/repo/settings/deploy_keys.tmpl
Labels: lgtm/done, size/XS, modifies/templates

#30996 Upgrade `tqdm` dependency
  poetry.lock
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/dependencies, backport/v1.22

#30963 Simplify mirror repository API logic
  modules/structs/repo.go
  routers/api/v1/repo/repo.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, size/S, modifies/go, backport/v1.22

#30980 Clean up revive linter config, tweak golangci output
  .golangci.yml
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/internal

#31008 Fix bug on avatar
  routers/api/v1/org/avatar.go
  routers/api/v1/user/avatar.go
  services/user/avatar.go
Labels: type/bug, lgtm/done, modifies/api, size/M, modifies/go, backport/v1.22

#31003 Improve reverse proxy documents and clarify the AppURL guessing behavior
  docs/content/administration/reverse-proxies.en-us.md
  modules/httplib/url.go
  modules/httplib/url_test.go
  routers/api/packages/container/container.go
  routers/web/admin/admin_test.go
Labels: lgtm/done, modifies/api, pr/breaking, size/L, modifies/go, modifies/docs, backport/v1.22

#31012 Fix "force private" logic
  routers/api/v1/repo/migrate.go
  routers/api/v1/repo/repo.go
  routers/web/repo/repo.go
  services/migrations/gitea_uploader.go
  services/repository/repository.go
  services/task/task.go
  templates/repo/create.tmpl
  templates/repo/migrate/codebase.tmpl
  templates/repo/migrate/git.tmpl
  templates/repo/migrate/gitbucket.tmpl
  templates/repo/migrate/gitea.tmpl
  templates/repo/migrate/github.tmpl
  templates/repo/migrate/gitlab.tmpl
  templates/repo/migrate/gogs.tmpl
  templates/repo/migrate/onedev.tmpl
  templates/repo/settings/options.tmpl
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, modifies/templates, backport/v1.22

#30999 Fix data-race during testing
  models/unit/unit.go
  models/unit/unit_test.go
  tests/integration/org_project_test.go
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31011 Fix project column title overflow
  modules/util/color.go
  templates/projects/view.tmpl
  web_src/css/features/projects.css
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/templates, backport/v1.22

#31013 Fix incorrect "blob excerpt" link when comparing files
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  tests/integration/compare_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/templates, backport/v1.22

#31014 Avoid 500 panic error when uploading invalid maven package file
  options/locale/locale_en-US.ini
  templates/package/content/maven.tmpl
  templates/package/metadata/maven.tmpl
  tests/integration/api_packages_maven_test.go
Labels: type/bug, lgtm/done, modifies/translation, reviewed/wait-merge, size/S, modifies/go, modifies/templates, backport/v1.22

#30974 Return `access_denied` error when an OAuth2 request is denied
  routers/web/auth/oauth.go
  services/forms/user_form.go
  templates/user/auth/grant.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/templates, backport/v1.22

#31023 Refactor sha1 and time-limited code
  models/user/email_address.go
  models/user/user.go
  modules/base/tool.go
  modules/base/tool_test.go
  modules/git/utils.go
  modules/git/utils_test.go
  routers/web/repo/compare.go
  services/gitdiff/gitdiff.go
Labels: topic/security, lgtm/done, type/refactoring, size/L, modifies/go, backport/v1.22

#31028 Don't include link of deleted branch when listing branches
  templates/repo/branch/list.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#30780 Fix automerge will not work because of some events haven't been triggered
  models/issues/review.go
  services/automerge/automerge.go
  services/automerge/notify.go
  services/repository/commitstatus/commitstatus.go
  tests/integration/editor_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_review_test.go
Labels: type/bug, lgtm/done, size/L, modifies/go, backport/v1.22

#31015 use existing oauth grant for public client
  routers/web/auth/oauth.go
Labels: type/bug, lgtm/done, topic/authentication, reviewed/wait-merge, size/S, modifies/go, backport/v1.21, backport/v1.22

#25812 Fix wrong display of recently pushed notification
  models/fixtures/branch.yml
  models/fixtures/issue_index.yml
  models/fixtures/org_user.yml
  models/fixtures/repository.yml
  models/fixtures/team.yml
  models/fixtures/team_unit.yml
  models/fixtures/team_user.yml
  models/fixtures/user.yml
  models/git/branch.go
  models/git/branch_list.go
  models/organization/org_user_test.go
  models/repo/repo_list.go
  routers/web/repo/view.go
  templates/repo/code/recently_pushed_new_branches.tmpl
  tests/integration/api_user_orgs_test.go
  tests/integration/compare_test.go
  tests/integration/empty_repo_test.go
  tests/integration/integration_test.go
  tests/integration/pull_compare_test.go
  tests/integration/pull_create_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_review_test.go
  tests/integration/pull_status_test.go
  tests/integration/repo_activity_test.go
  tests/integration/repo_branch_test.go
  tests/integration/repo_fork_test.go
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XL, modifies/go, modifies/templates, backport/v1.22

#30967 Add nix flake for dev shell
  flake.lock
  flake.nix
Labels: lgtm/done, reviewed/wait-merge, size/M

#31034 Update Actions documentation missing feature
  docs/content/usage/actions/comparison.en-us.md
  docs/content/usage/actions/comparison.zh-cn.md
Labels: type/docs, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/docs, backport/v1.22

#31022 Sync up deleted branches & action assets related cleanup documentation
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/S, modifies/docs, backport/v1.22

#31050 align s3 files with docker naming
  .github/workflows/release-nightly.yml
  Makefile
Labels: topic/deployment, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal, backport/v1.22

#31043 Fix wrong display of recently pushed notification (#25812)
  models/fixtures/branch.yml
  models/fixtures/issue_index.yml
  models/fixtures/org_user.yml
  models/fixtures/repository.yml
  models/fixtures/team.yml
  models/fixtures/team_unit.yml
  models/fixtures/team_user.yml
  models/fixtures/user.yml
  models/git/branch.go
  models/git/branch_list.go
  models/organization/org_user_test.go
  models/repo/repo_list.go
  routers/web/repo/view.go
  templates/repo/code/recently_pushed_new_branches.tmpl
  tests/integration/api_user_orgs_test.go
  tests/integration/compare_test.go
  tests/integration/empty_repo_test.go
  tests/integration/integration_test.go
  tests/integration/pull_compare_test.go
  tests/integration/pull_create_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_review_test.go
  tests/integration/pull_status_test.go
  tests/integration/repo_activity_test.go
  tests/integration/repo_branch_test.go
  tests/integration/repo_fork_test.go
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XL, modifies/go, modifies/templates

#31047 Alpine 3.20 has been released
  Dockerfile
  Dockerfile.rootless
Labels: topic/deployment, lgtm/done, skip-changelog, size/XS, modifies/internal, backport/v1.22

#31045 Support setting the `default` attribute of the issue template dropdown field
  modules/issue/template/template.go
  modules/issue/template/template_test.go
  templates/repo/issue/fields/dropdown.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/templates, backport/v1.22

#31063 Fix `View File` button link if branch deleted on pull request files pages
  routers/web/repo/pull.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#30936 Change `--border-radius-circle` to `--border-radius-full`
  tailwind.config.js
  web_src/css/base.css
  web_src/css/modules/animations.css
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/js, backport/v1.22

#28435 Make gitea webhooks openproject compatible
  models/issues/pull.go
  modules/structs/issue.go
  modules/structs/pull.go
  modules/structs/user.go
  services/convert/issue.go
  services/convert/pull.go
  services/convert/user.go
  templates/swagger/v1_json.tmpl
Labels: type/enhancement, lgtm/done, modifies/api, topic/webhooks, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#31089 Fix border radius on hovered secondary menu
  web_src/css/modules/menu.css
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22

#31092 Fix possible ui 500 if workflow's job is nil
  options/locale/locale_en-US.ini
  routers/web/repo/actions/actions.go
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31090 Prevent tab shifting, remove extra margin on fluid pages
  templates/repo/issue/view_title.tmpl
  templates/repo/pulls/tab_menu.tmpl
  templates/repo/settings/webhook/history.tmpl
  templates/shared/combomarkdowneditor.tmpl
  templates/shared/misc/tabtitle.tmpl
  web_src/css/modules/container.css
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/templates, backport/v1.22

#31060 Add v1.22.0 changelog
  CHANGELOG.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/L, modifies/docs

#31062 Simplify review UI
  templates/repo/diff/box.tmpl
Labels: type/enhancement, lgtm/done, topic/pr, topic/ui-interaction, reviewed/wait-merge, size/M, modifies/templates

#30170 Rename project board -> column to make the UI less confusing
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/index.en-us.md
  docs/content/installation/comparison.en-us.md
  docs/content/usage/permissions.en-us.md
  models/activities/statistic.go
  models/issues/comment.go
  models/issues/issue_project.go
  models/issues/issue_search.go
  models/migrations/v1_22/v293_test.go
  models/project/board.go
  models/project/column.go
  models/project/column_test.go
  models/project/issue.go
  models/project/project.go
  models/project/project_test.go
  models/project/template.go
  models/unit/unit.go
  modules/indexer/issues/bleve/bleve.go
  modules/indexer/issues/db/options.go
  modules/indexer/issues/dboptions.go
  modules/indexer/issues/elasticsearch/elasticsearch.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/internal/model.go
  modules/indexer/issues/internal/tests/tests.go
  modules/indexer/issues/meilisearch/meilisearch.go
  modules/indexer/issues/util.go
  modules/metrics/collector.go
  options/locale/locale_en-US.ini
  routers/web/org/projects.go
  routers/web/org/projects_test.go
  routers/web/repo/issue.go
  routers/web/repo/projects.go
  routers/web/repo/projects_test.go
  routers/web/web.go
  services/forms/repo_form.go
  services/forms/user_form_hidden_comments.go
  templates/projects/new.tmpl
  templates/repo/header.tmpl
  templates/repo/issue/filter_actions.tmpl
  templates/repo/settings/options.tmpl
  tests/integration/project_test.go
  web_src/css/features/projects.css
  web_src/css/themes/theme-gitea-dark.css
  web_src/css/themes/theme-gitea-light.css
Labels: lgtm/done, modifies/translation, type/refactoring, topic/projects, reviewed/wait-merge, size/XXL, modifies/go, modifies/templates, modifies/docs, modifies/migrations

#31051 feat: add support for a credentials chain for minio access
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  modules/storage/minio.go
  modules/storage/minio_test.go
  modules/storage/testdata/aws_credentials
  modules/storage/testdata/minio.json
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/docs

#31105 Fix missing memcache import
  modules/cache/cache.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#31106 Update pip related commands for docker
  docs/content/administration/external-renderers.en-us.md
  docs/content/administration/external-renderers.zh-cn.md
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/docs, backport/v1.22

#31110 Move documents under actions
  docs/content/usage/actions/badge.en-us.md
  docs/content/usage/actions/secrets.en-us.md
  docs/content/usage/actions/secrets.zh-cn.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/S, modifies/docs, backport/v1.22

#31053 Prevent simultaneous editing of comments and issues
  models/issues/comment.go
  models/issues/issue.go
  models/issues/issue_update.go
  models/migrations/migrations.go
  models/migrations/v1_23/v299.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/issue.go
  routers/api/v1/repo/issue_attachment.go
  routers/api/v1/repo/issue_comment.go
  routers/api/v1/repo/issue_comment_attachment.go
  routers/api/v1/repo/pull.go
  routers/web/repo/issue.go
  services/issue/comments.go
  services/issue/content.go
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/conversation.tmpl
  tests/integration/issue_test.go
  web_src/js/features/repo-issue-edit.js
  web_src/js/markup/tasklist.js
Labels: lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/migrations, modifies/js

#31120 Update JS dependencies
  package-lock.json
  package.json
  updates.config.js
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/js, modifies/dependencies

#31121 Fix DashboardRepoList margin
  web_src/js/components/DashboardRepoList.vue
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/js, backport/v1.22

#31118 Fix API repository object format missed
  services/convert/repository.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31130 Add missed return after `ctx.ServerError`
  routers/api/v1/repo/mirror.go
  routers/web/admin/repos.go
  routers/web/auth/auth.go
  routers/web/org/projects.go
  routers/web/repo/editor.go
Labels: type/bug, lgtm/done, modifies/api, size/XS, modifies/go, backport/v1.22

#31127 Add topics for repository API
  modules/structs/repo.go
  services/convert/repository.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/XS, modifies/go, topic/api

#31091 Improve mobile review ui
  templates/repo/diff/box.tmpl
  templates/repo/diff/conversation.tmpl
  web_src/css/markup/content.css
  web_src/css/modules/comment.css
  web_src/css/modules/segment.css
  web_src/css/repo.css
  web_src/css/review.css
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/templates, backport/v1.22

#31143 Remove duplicate `ProxyPreserveHost` in Apache httpd doc
  docs/content/administration/reverse-proxies.en-us.md
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/docs, backport/v1.22

#31122 Use vertical layout for multiple code expander buttons
  templates/repo/diff/blob_excerpt.tmpl
  templates/repo/diff/section_split.tmpl
  templates/repo/diff/section_unified.tmpl
  web_src/css/review.css
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/templates, backport/v1.22

#31151 Fix push multiple branches error with tests
  services/repository/branch.go
  tests/integration/git_helper_for_declarative_test.go
  tests/integration/git_push_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#31148 Swap word order in Comment and Close
  options/locale/locale_en-US.ini
Labels: type/enhancement, lgtm/done, modifies/translation, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.22

#31158 Fix markup preview
  routers/web/web.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31164 Ignore FindRecentlyPushedNewBranches err
  routers/web/repo/view.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#30995 Azure blob storage support
  .devcontainer/devcontainer.json
  .github/workflows/pull-db-tests.yml
  assets/go-licenses.json
  cmd/migrate_storage.go
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  go.mod
  go.sum
  models/repo/attachment.go
  modules/packages/content_store.go
  modules/setting/storage.go
  modules/setting/storage_test.go
  modules/storage/azureblob.go
  modules/storage/azureblob_test.go
  modules/storage/minio_test.go
  modules/storage/storage_test.go
  modules/util/io.go
  routers/api/actions/artifacts.go
  routers/api/actions/artifacts_chunks.go
  routers/api/actions/artifactsv4.go
  routers/api/v1/repo/file.go
  routers/web/base.go
  routers/web/repo/actions/view.go
  routers/web/repo/attachment.go
  routers/web/repo/download.go
  routers/web/repo/repo.go
  services/lfs/server.go
  tests/integration/api_packages_generic_test.go
  tests/mssql.ini.tmpl
  tests/pgsql.ini.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/XL, modifies/go, modifies/cli, modifies/docs, modifies/internal, modifies/dependencies

#31174 Fix branch order
  models/git/branch_list.go
Labels: type/bug, lgtm/done, size/S, modifies/go, backport/v1.22

#31191 Fix URL In Gitea Actions Badge Docs
  docs/content/usage/actions/badge.en-us.md
Labels: type/docs, lgtm/done, size/XS, modifies/docs, backport/v1.22

#30490 Performance improvements for pull request list API
  models/issues/assignees.go
  models/issues/comment_list.go
  models/issues/issue.go
  models/issues/issue_label.go
  models/issues/issue_list.go
  models/issues/pull.go
  models/issues/pull_list.go
  models/user/user.go
  routers/api/v1/repo/pull.go
  services/convert/issue.go
  services/convert/pull.go
  services/issue/assignee_test.go
Labels: lgtm/done, modifies/api, performance/speed, reviewed/wait-merge, size/L, modifies/go

#31192 Split sanitizer functions and fine-tune some tests
  modules/markup/html_test.go
  modules/markup/renderer.go
  modules/markup/sanitizer.go
  modules/markup/sanitizer_custom.go
  modules/markup/sanitizer_default.go
  modules/markup/sanitizer_default_test.go
  modules/markup/sanitizer_description.go
  modules/markup/sanitizer_description_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XL, modifies/go, backport/v1.22
