Repository go-gitea/gitea, pull requests merged in 2024-06, with the labels that each got.

#31187 Return an empty string when a repo has no avatar in the repo API
  models/repo/avatar.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go

#31216 Only update poster in issue/comment list if it has been loaded
  models/issues/comment_list.go
  models/issues/issue_list.go
Labels: lgtm/done, size/XS, modifies/go

#31209 Fix the possible migration failure on 286 with postgres 16
  models/migrations/v1_22/v286.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, modifies/migrations, backport/v1.22

#31219 Fix agit checkout command line hint & fix ShowMergeInstructions checking
  routers/web/repo/issue.go
  templates/repo/issue/view_content/pull_merge_instruction.tmpl
Labels: type/bug, lgtm/done, size/S, modifies/go, modifies/templates, backport/v1.22

#31203 Fix overflow in issue card
  templates/repo/issue/card.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#31221 Update golangci-lint to v1.59.0
  Makefile
  services/gitdiff/gitdiff.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go, modifies/internal

#31223 Remove sqlite-viewer and using database client
  .devcontainer/devcontainer.json
  .gitpod.yml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal

#31196 Document possible action types for the user activity feed API
  modules/structs/activity.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go

#31224 Remove unnecessary inline style for tab-size
  routers/web/repo/issue_content_history.go
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#31184 Move custom `tw-` helpers to tailwind plugin
  tailwind.config.js
  web_src/css/helpers.css
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/js

#27860 Add option for mailer to override mail headers
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  modules/setting/mailer.go
  services/mailer/mailer.go
  services/mailer/mailer_test.go
Labels: type/enhancement, lgtm/done, size/L, modifies/go, modifies/docs

#31232 Bump `@github/relative-time-element` to v4.4.1
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#31233 Update air package path
  Makefile
Labels: lgtm/done, skip-changelog, size/XS, modifies/internal, backport/v1.22

#31177 Update chroma to v2.14.0
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/dependencies

#31178 Fix overflow on notifications
  templates/user/notification/notification_div.tmpl
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#31188 Fix NuGet Package API for $filter with Id equality
  routers/api/packages/nuget/nuget.go
  tests/integration/api_packages_nuget_test.go
Labels: lgtm/done, modifies/api, topic/packages, reviewed/wait-merge, size/L, modifies/go

#31179 Fix overflow on push notification
  templates/repo/code/recently_pushed_new_branches.tmpl
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#31204 Remove .segment from .project-column
  templates/projects/view.tmpl
  web_src/css/features/projects.css
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#31242 Fix NuGet Package API for $filter with Id equality (#31188)
  routers/api/packages/nuget/nuget.go
  tests/integration/api_packages_nuget_test.go
Labels: type/bug, lgtm/done, modifies/api, topic/packages, size/L, modifies/go

#31235 Make pasted "img" tag has the same behavior as markdown image
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
  modules/markup/renderer.go
  web_src/js/features/comp/Paste.js
Labels: type/bug, lgtm/done, size/L, modifies/go, modifies/js, backport/v1.22

#31183 Replace `gt-word-break` with `tw-break-anywhere`
  docs/content/contributing/guidelines-frontend.en-us.md
  docs/content/contributing/guidelines-frontend.zh-cn.md
  templates/admin/repo/list.tmpl
  templates/package/content/container.tmpl
  templates/package/settings.tmpl
  templates/projects/view.tmpl
  templates/repo/home.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/issue/view_content/conversation.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/wiki/revision.tmpl
  templates/shared/user/org_profile_avatar.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  web_src/css/helpers.css
  web_src/js/features/repo-issue.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/templates, modifies/docs, modifies/js

#31246 Fix admin oauth2 custom URL settings
  web_src/js/features/admin/common.js
Labels: type/bug, lgtm/done, size/S, modifies/js, backport/v1.22

#31240 Make blockquote attention recognize more syntaxes
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/math/block_parser.go
  modules/markup/markdown/transform_blockquote.go
Labels: lgtm/done, size/L, modifies/go, backport/v1.22

#30729 Add `lint-go-gopls`
  Makefile
  services/migrations/migrate.go
  services/repository/transfer.go
  tests/integration/api_repo_tags_test.go
  tests/integration/dump_restore_test.go
  tests/integration/gpg_git_test.go
  tools/lint-go-gopls.sh
Labels: lgtm/done, topic/code-linting, reviewed/wait-merge, size/M, modifies/go, modifies/internal

#31251 fix: allow actions artifacts storage migration to complete succesfully
  cmd/migrate_storage.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go, modifies/cli, backport/v1.22

#31258 Optimize runner-tags layout to enhance visual experience
  templates/shared/actions/runner_list.tmpl
Labels: type/enhancement, topic/ui, lgtm/done, size/XS, modifies/templates, backport/v1.22

#31264 Fix Activity Page Contributors dropdown
  routers/web/repo/contributors.go
  templates/repo/contributors.tmpl
  web_src/js/components/RepoContributors.vue
  web_src/js/features/contributors.js
Labels: lgtm/done, size/S, modifies/go, modifies/templates, modifies/js, backport/v1.22

#31267 Add replacement module for `mholt/archiver`
  go.mod
  go.sum
Labels: topic/security, lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies, backport/v1.22

#31260 Update `golang.org/x/net`
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/dependencies

#30268 Add `MAX_ROWS` option for CSV rendering
  custom/conf/app.example.ini
  modules/markup/csv/csv.go
  modules/markup/csv/csv_test.go
  modules/setting/ui.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, modifies/go

#31272 Optimize repo-list layout to enhance visual experience
  templates/user/settings/repos.tmpl
  web_src/css/user.css
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/templates

#31273 fixed the dropdown menu for the top New button to expand to the left
  templates/base/head_navbar.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#31282 Enable poetry non-package mode
  Makefile
  pyproject.toml
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/internal, modifies/dependencies

#31283 Fix and clean up `ConfirmModal`
  web_src/js/features/common-global.js
  web_src/js/features/comp/ConfirmModal.js
  web_src/js/features/repo-issue-list.js
  web_src/js/utils/dom.js
  web_src/js/utils/dom.test.js
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/js, backport/v1.22

#31289 Fix some URLs whose sub-path is missing
  templates/admin/packages/list.tmpl
  templates/devtest/fetch-action.tmpl
  templates/user/settings/applications.tmpl
Labels: type/bug, lgtm/done, size/XS, modifies/templates, backport/v1.22

#31293 Remove sub-path from container registry realm
  modules/setting/packages.go
  modules/test/utils.go
  routers/api/packages/container/container.go
  routers/web/user/package.go
  tests/integration/api_packages_container_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go, backport/v1.22

#30506 Remove jQuery `.text()`
  .eslintrc.yaml
  templates/repo/editor/commit_form.tmpl
  templates/repo/settings/collaboration.tmpl
  web_src/js/features/common-global.js
  web_src/js/features/imagediff.js
  web_src/js/features/notification.js
  web_src/js/features/repo-editor.js
  web_src/js/features/repo-issue-edit.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-legacy.js
  web_src/js/features/repo-settings.js
  web_src/js/index.js
Labels: lgtm/done, type/refactoring, size/L, modifies/templates, modifies/internal, modifies/js

#31280 Use `querySelector` over alternative DOM methods
  .eslintrc.yaml
  web_src/js/components/DashboardRepoList.vue
  web_src/js/components/DiffCommitSelector.vue
  web_src/js/components/DiffFileList.vue
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/RepoActionView.vue
  web_src/js/components/RepoActivityTopAuthors.vue
  web_src/js/components/RepoBranchTagSelector.vue
  web_src/js/components/ScopedAccessTokenSelector.vue
  web_src/js/features/admin/common.js
  web_src/js/features/citation.js
  web_src/js/features/code-frequency.js
  web_src/js/features/colorpicker.js
  web_src/js/features/common-global.js
  web_src/js/features/common-issue-list.js
  web_src/js/features/comp/SearchUserBox.js
  web_src/js/features/comp/WebHookEditor.js
  web_src/js/features/contributors.js
  web_src/js/features/copycontent.js
  web_src/js/features/heatmap.js
  web_src/js/features/install.js
  web_src/js/features/notification.js
  web_src/js/features/pull-view-file.js
  web_src/js/features/recent-commits.js
  web_src/js/features/repo-diff-commitselect.js
  web_src/js/features/repo-diff-filetree.js
  web_src/js/features/repo-diff.js
  web_src/js/features/repo-editor.js
  web_src/js/features/repo-findfile.js
  web_src/js/features/repo-graph.js
  web_src/js/features/repo-home.js
  web_src/js/features/repo-issue-edit.js
  web_src/js/features/repo-issue-list.js
  web_src/js/features/repo-issue-pr-form.js
  web_src/js/features/repo-issue.js
  web_src/js/features/repo-migrate.js
  web_src/js/features/repo-migration.js
  web_src/js/features/repo-projects.js
  web_src/js/features/repo-release.js
  web_src/js/features/repo-settings.js
  web_src/js/features/sshkey-helper.js
  web_src/js/features/user-auth-webauthn.js
  web_src/js/features/user-auth.js
  web_src/js/features/user-settings.js
  web_src/js/markup/anchors.js
  web_src/js/standalone/devtest.js
  web_src/js/standalone/swagger.js
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/internal, modifies/js

#31310 Add nix flake for dev shell (#30967)
  flake.lock
  flake.nix
Labels: lgtm/done, size/M

#31306 Delete legacy cookie before setting new cookie
  modules/web/middleware/cookie.go
Labels: type/bug, lgtm/done, topic/authentication, reviewed/wait-merge, size/XS, modifies/go

#31307 Fix line number width in code preview
  web_src/css/base.css
Labels: type/bug, topic/ui, lgtm/done, size/XS, backport/v1.22

#31315 code optimization
  modules/templates/helper.go
  modules/templates/helper_test.go
  templates/admin/auth/list.tmpl
  templates/admin/config.tmpl
  templates/admin/cron.tmpl
  templates/admin/emails/list.tmpl
  templates/admin/user/list.tmpl
  templates/repo/diff/whitespace_dropdown.tmpl
  templates/repo/issue/filter_actions.tmpl
  templates/repo/issue/labels/labels_selector_field.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/settings/lfs_pointers.tmpl
  templates/repo/star_unstar.tmpl
Labels: lgtm/done, size/L, modifies/go, modifies/templates

#31320 update nix flake and add gofumpt
  flake.lock
  flake.nix
Labels: lgtm/done, size/XS

#31322 Make template `Iif` exactly match `if`
  modules/templates/helper.go
  modules/templates/helper_test.go
Labels: lgtm/done, skip-changelog, size/M, modifies/go

#31277 Enable `unparam` linter
  .golangci.yml
  models/dbfs/dbfile.go
  models/issues/issue_search.go
  models/issues/pull_list.go
  modules/auth/password/hash/common.go
  modules/packages/cran/metadata.go
  modules/setting/config_env.go
  modules/setting/storage.go
  modules/storage/azureblob.go
  modules/util/keypair.go
  routers/api/actions/artifacts.go
  routers/api/actions/artifacts_utils.go
  routers/api/packages/container/blob.go
  routers/api/packages/nuget/nuget.go
  routers/api/v1/repo/compare.go
  routers/api/v1/repo/pull.go
  routers/web/admin/config.go
  services/pull/merge.go
  services/webhook/dingtalk.go
  services/webhook/discord.go
  services/webhook/feishu.go
  services/webhook/matrix.go
  services/webhook/msteams.go
  services/webhook/packagist.go
  services/webhook/slack.go
  services/webhook/telegram.go
  services/webhook/wechatwork.go
Labels: lgtm/done, topic/code-linting, type/refactoring, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/internal

#31201 Fix #31185 try fix lfs download from bitbucket failed
  modules/lfs/http_client.go
  modules/lfs/http_client_test.go
  modules/lfs/shared.go
  modules/lfs/transferadapter.go
  modules/lfs/transferadapter_test.go
  services/lfs/server.go
  tests/integration/api_repo_lfs_locks_test.go
  tests/integration/api_repo_lfs_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.22

#31278 Optimize profile layout to enhance visual experience
  templates/shared/user/profile_big_avatar.tmpl
Labels: lgtm/done, size/S, modifies/templates

#31333 Fix adopt repository has empty object name in database
  modules/repository/branch.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31331 Fix dates displaying in a wrong manner when we're close to the end of the month
  package-lock.json
  package.json
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#31325 Reduce memory usage for chunked artifact uploads to MinIO
  routers/api/actions/artifacts_chunks.go
Labels: lgtm/done, modifies/api, performance/memory, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31281 Fix navbar `+` menu flashing on page load
  templates/base/head_navbar.tmpl
  templates/repo/issue/labels/label_list.tmpl
  web_src/css/modules/header.css
  web_src/css/modules/navbar.css
  web_src/js/components/DiffCommitSelector.vue
  web_src/js/modules/fomantic/dropdown.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/templates, modifies/js, backport/v1.22

#31341 Fix line number widths
  web_src/css/base.css
  web_src/css/repo.css
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.22

#31319 Fix hash render end with colon
  modules/markup/html.go
  modules/markup/html_internal_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31332 Improve detecting empty files
  options/locale/locale_en-US.ini
  routers/web/repo/blame.go
  routers/web/repo/setting/lfs.go
  routers/web/repo/view.go
  templates/repo/blame.tmpl
  templates/repo/file_info.tmpl
  templates/repo/settings/lfs_file.tmpl
  templates/repo/view_file.tmpl
  templates/shared/fileisempty.tmpl
  templates/shared/filetoolarge.tmpl
  web_src/css/repo.css
Labels: lgtm/done, modifies/translation, type/refactoring, size/M, modifies/go, modifies/templates

#31348 Fixed incorrect localization `explorer.go`
  templates/user/dashboard/issues.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#31353 Backport Iif
  modules/templates/helper.go
  modules/templates/helper_test.go
Labels: lgtm/done, skip-changelog, size/M, modifies/go

#30876 [Refactor] Unify repo search order by logic
  models/db/search.go
  models/repo/repo_list.go
  models/repo/search.go
  routers/api/v1/repo/repo.go
  routers/web/explore/repo.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, type/refactoring, modifies/api, size/L, modifies/go

#31352 Fix PullRequestList.GetIssueIDs's logic
  models/issues/pull_list.go
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/go

#31358 Refactor to use UnsafeStringToBytes
  modules/markup/markdown/prefixed_id.go
  modules/markup/markdown/transform_heading.go
  modules/references/references.go
  modules/system/db.go
  modules/util/sanitize.go
  modules/util/string.go
Labels: lgtm/done, type/refactoring, size/M, modifies/go

#31337 Fix bug filtering issues which have no project
  modules/indexer/issues/dboptions.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31364 Have new announcement about docs contributions
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: type/docs, lgtm/done, size/S, modifies/docs, modifies/internal

#30927 Extract and display readme and comments for Composer packages
  modules/packages/composer/metadata.go
  modules/packages/composer/metadata_test.go
  templates/package/content/composer.tmpl
Labels: type/enhancement, lgtm/done, topic/packages, reviewed/wait-merge, size/L, modifies/go, modifies/templates

#31377 Fix repo graph JS
  web_src/js/features/repo-graph.js
Labels: type/bug, lgtm/done, size/XS, modifies/js

#31295 Add tag protection via rest api #17862
  models/git/protected_tag.go
  modules/structs/repo_tag.go
  routers/api/v1/api.go
  routers/api/v1/repo/tag.go
  routers/api/v1/swagger/options.go
  routers/api/v1/swagger/repo.go
  services/convert/convert.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/XL, modifies/go

#31365 Fix duplicate sub-path for avatars
  custom/conf/app.example.ini
  models/repo/avatar_test.go
  models/user/avatar.go
  models/user/avatar_test.go
  modules/httplib/url.go
  modules/httplib/url_test.go
  modules/setting/global.go
  modules/setting/server.go
  modules/setting/setting.go
  routers/api/packages/container/container.go
  routers/common/middleware.go
  routers/common/middleware_test.go
  services/pull/merge.go
Labels: type/bug, lgtm/done, backport/done, modifies/api, size/L, modifies/go, backport/manual, backport/v1.22

#31368 Fix duplicate sub-path for avatars (#31365)
  models/repo/avatar_test.go
  models/user/avatar.go
  models/user/avatar_test.go
  modules/httplib/url.go
  modules/httplib/url_test.go
  routers/api/packages/container/container.go
Labels: type/bug, lgtm/done, modifies/api, size/L, modifies/go

#31369 Allow downloading attachments of draft releases
  routers/web/repo/repo.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.22

#31360 rm const do inline
  models/repo/search.go
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/M, modifies/go, reviewed/prioritize-merge

#31359 Rename repo_model.SearchOrderByMap to repo_model.OrderByMap
  models/repo/search.go
  routers/api/v1/repo/repo.go
  routers/web/explore/repo.go
  routers/web/repo/repo.go
Labels: lgtm/done, type/refactoring, modifies/api, skip-changelog, reviewed/wait-merge, size/M, modifies/go, reviewed/prioritize-merge

#31383 Fix JS error when creating new issue
  web_src/js/features/repo-legacy.js
Labels: type/bug, topic/ui, lgtm/done, skip-changelog, size/XS, modifies/js

#31391 Add a simple test for AdoptRepository
  services/repository/adopt_test.go
Labels: lgtm/done, type/testing, skip-changelog, size/S, modifies/go

#31299 Fix missing images in editor preview due to wrong links
  modules/markup/renderer.go
  modules/structs/miscellaneous.go
  routers/api/v1/misc/markup_test.go
  routers/common/markup.go
  templates/swagger/v1_json.tmpl
Labels: type/bug, lgtm/done, modifies/api, size/L, modifies/go, backport/v1.22

#31384 Fix natural sort
  modules/base/natural_sort.go
  modules/base/natural_sort_test.go
Labels: type/bug, lgtm/done, size/L, modifies/go, backport/v1.22

#31393 Fix missing images in editor preview due to wrong links (#31299)
  modules/markup/renderer.go
  modules/structs/miscellaneous.go
  routers/api/v1/misc/markup_test.go
  routers/common/markup.go
  templates/swagger/v1_json.tmpl
Labels: type/bug, lgtm/done, modifies/api, size/L, modifies/go

#31357 Improve rubygems package registry
  routers/api/packages/api.go
  routers/api/packages/rubygems/rubygems.go
  tests/integration/api_packages_rubygems_test.go
Labels: type/enhancement, lgtm/done, modifies/api, topic/packages, size/L, modifies/go

#31367 Fix bug filtering issues which have no project (#31337)
  modules/indexer/issues/dboptions.go
Labels: lgtm/done, size/XS, modifies/go

#31363 Fix double border in system status table
  templates/admin/dashboard.tmpl
Labels: lgtm/done, size/XS, modifies/templates, backport/v1.22

#31265 Add cache test for admins
  modules/cache/cache.go
  modules/cache/cache_test.go
  options/locale/locale_en-US.ini
  routers/web/admin/admin.go
  routers/web/admin/config.go
  routers/web/web.go
  templates/admin/config.tmpl
  templates/admin/self_check.tmpl
Labels: type/enhancement, lgtm/done, modifies/translation, size/L, modifies/go, modifies/templates

#31399 Refactor markup code
  modules/markup/html.go
  modules/markup/html_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go

#31381 Refactor route path normalization
  modules/web/route.go
  modules/web/route_test.go
  routers/common/middleware.go
  routers/common/middleware_test.go
  routers/init.go
  services/context/base.go
  services/context/repo.go
  tests/integration/nonascii_branches_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/go

#31389 Refactor repo unit "disabled" check
  models/repo/repo.go
  models/repo/repo_unit.go
  models/unit/unit.go
  routers/web/web.go
  services/context/context.go
  templates/base/head_navbar.tmpl
  templates/repo/header.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/context_menu.tmpl
  templates/repo/settings/navbar.tmpl
  templates/user/dashboard/navbar.tmpl
Labels: lgtm/done, type/refactoring, size/M, modifies/go, modifies/templates

#31398 Fix rendered wiki page link
  modules/markup/html.go
  modules/markup/html_link.go
  modules/markup/html_test.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/transform_link.go
  modules/markup/renderer.go
  modules/templates/util_render_test.go
  routers/web/repo/render.go
  routers/web/repo/view.go
  routers/web/repo/wiki.go
Labels: type/bug, lgtm/done, size/L, modifies/go, backport/v1.22

#31400 Switch to upstream of `gorilla/feeds`
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#31402 Update JS dependencies, remove `eslint-plugin-jquery`
  .eslintrc.yaml
  package-lock.json
  package.json
  web_src/js/components/DiffCommitSelector.vue
Labels: lgtm/done, size/M, modifies/internal, modifies/js, modifies/dependencies

#31407 Fix rendered wiki page link (#31398)
  modules/markup/html.go
  modules/markup/html_link.go
  modules/markup/html_test.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/transform_link.go
  modules/markup/renderer.go
  modules/templates/util_render_test.go
  routers/web/repo/render.go
  routers/web/repo/view.go
  routers/web/repo/wiki.go
Labels: type/bug, lgtm/done, size/L, modifies/go

#31410 Increase max length of org team names from 30 to 255 characters
  modules/structs/org_team.go
Labels: lgtm/done, size/XS, modifies/go

#31419 Fix new issue/pr avatar
  web_src/css/repo.css
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22

#31417 Reduce `air` verbosity
  .air.toml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal, backport/v1.22

#31420 Fix markdown math brackets render problem
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/math/inline_parser.go
Labels: type/bug, lgtm/done, size/S, modifies/go, backport/v1.22

#31428 [Fix] Account Linking UpdateMigrationsByType
  services/externalaccount/user.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#31435 Fix labels and projects menu overflow on issue page
  web_src/css/repo.css
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.22

#31431 Fix the wrong line number in the diff view page when expanded twice.
  templates/repo/diff/blob_excerpt.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#31413 Bump htmx to 2.0.0
  .eslintrc.yaml
  package-lock.json
  package.json
  web_src/js/features/common-global.js
  web_src/js/globals.js
  web_src/js/htmx.js
  web_src/js/index.js
  web_src/js/jquery.js
  webpack.config.js
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/internal, modifies/js, modifies/dependencies

#31432 Fix the link for .git-blame-ignore-revs bypass
  templates/repo/blame.tmpl
Labels: type/bug, lgtm/done, size/XS, modifies/templates, backport/v1.22

#31438 Split common-global.js into separate files
  web_src/js/features/admin/common.js
  web_src/js/features/common-button.js
  web_src/js/features/common-fetch-action.js
  web_src/js/features/common-form.js
  web_src/js/features/common-global.js
  web_src/js/features/common-page.js
  web_src/js/features/dropzone.js
  web_src/js/features/repo-issue.js
  web_src/js/features/user-auth.js
  web_src/js/index.js
Labels: lgtm/done, type/refactoring, size/XL, modifies/js

#31406 Improve markdown textarea for indentation and lists
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/comp/EditorMarkdown.js
  web_src/js/features/comp/Paste.js
Labels: type/enhancement, lgtm/done, size/L, modifies/js

#31441 README Badge maintenance
  README.md
  README_ZH.md
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/docs

#31450 Fix deprecated Dockerfile ENV format
  Dockerfile
  Dockerfile.rootless
Labels: lgtm/need 1, size/S, modifies/internal, backport/v1.22

#31061 Support relative paths to videos from Wiki pages
  modules/markup/html.go
  modules/markup/html_node.go
  modules/markup/html_test.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.22

#31444 Refactor image diff
  templates/repo/diff/image_diff.tmpl
  web_src/js/features/common-form.js
  web_src/js/features/common-page.js
  web_src/js/features/imagediff.js
  web_src/js/index.js
  web_src/js/vendor/jquery.are-you-sure.js
Labels: lgtm/done, type/refactoring, size/L, modifies/templates, modifies/js

#31459 Add simple JS init performance trace
  web_src/js/index.js
Labels: lgtm/done, size/L, modifies/js

#31445 Switch to "Write" tab when edit comment again
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/repo-issue-edit.js
Labels: type/bug, lgtm/done, size/S, modifies/js, backport/v1.22

#31447 Fix web notification icon not updated once you read all notifications
  models/activities/notification.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.22

#31464 Switch to upstream of `gorilla/feeds` (#31400)
  go.mod
  go.sum
Labels: lgtm/done, skip-changelog, size/XS, modifies/dependencies

#31409 Simplify 404/500 page
  public/assets/img/404.png
  public/assets/img/500.png
  templates/status/404.tmpl
  templates/status/500.tmpl
  tests/integration/compare_test.go
  tests/integration/links_test.go
  web_src/css/base.css
Labels: type/enhancement, lgtm/done, size/M, modifies/go, modifies/templates

#31463 Disable issue/PR comment button given empty input
  templates/repo/issue/view_content.tmpl
  web_src/js/features/repo-issue.js
Labels: lgtm/done, size/M, modifies/templates, modifies/js

#31422 bump golang deps
  Makefile
  assets/go-licenses.json
  go.mod
  go.sum
  modules/markup/console/console.go
Labels: lgtm/done, topic/build, skip-changelog, reviewed/wait-merge, size/L, modifies/go, modifies/internal, modifies/dependencies

#31473 Fix poor table column width due to breaking words
  web_src/css/markup/content.css
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22

#31484 Fix overflow menu flickering on mobile
  web_src/js/webcomponents/overflow-menu.js
Labels: type/bug, topic/ui, lgtm/done, size/XS, modifies/js, backport/v1.22

#31487 use correct l10n string
  templates/repo/settings/collaboration.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates, backport/v1.22

#26460 Optimization of labels handling in issue_search
  models/issues/issue_search.go
  models/issues/label.go
  models/issues/label_test.go
Labels: type/enhancement, lgtm/done, performance/speed, size/M, modifies/go, backport/v1.22

#31486 Fix dropzone JS error when attachment is disabled
  web_src/js/features/repo-issue-edit.js
Labels: type/bug, lgtm/done, size/XS, modifies/js

#31499 Upgrade `github.com/hashicorp/go-retryablehttp`
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/dependencies

#31482 Refactor dropzone
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/dropzone.js
  web_src/js/features/repo-editor.js
  web_src/js/features/repo-issue-edit.js
  web_src/js/features/repo-issue.js
  web_src/js/index.js
  web_src/js/utils/dom.js
  web_src/js/utils/dom.test.js
Labels: lgtm/done, type/refactoring, size/L, modifies/js

#31497 Refactor issue label selection
  models/issues/issue_search.go
  models/issues/label.go
Labels: lgtm/done, skip-changelog, size/M, modifies/go

#30513 Improve attachment upload methods
  web_src/js/features/comp/ComboMarkdownEditor.js
  web_src/js/features/comp/EditorMarkdown.js
  web_src/js/features/comp/EditorUpload.js
  web_src/js/features/comp/EditorUpload.test.js
  web_src/js/features/dropzone.js
  web_src/js/utils.js
  web_src/js/utils.test.js
  web_src/js/utils/dom.js
  web_src/js/utils/image.js
  web_src/js/utils/image.test.js
Labels: type/enhancement, lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/js

#31501 Make toast support preventDuplicates
  templates/devtest/gitea-ui.tmpl
  templates/devtest/toast.tmpl
  web_src/css/modules/animations.css
  web_src/css/modules/toast.css
  web_src/js/features/repo-diff.js
  web_src/js/modules/toast.js
  web_src/js/standalone/devtest.js
  web_src/js/utils/dom.js
Labels: type/enhancement, topic/ui, lgtm/done, size/L, modifies/templates, modifies/js

#31506 Fix avatar radius problem on the new issue page
  web_src/css/repo.css
Labels: topic/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.22

#31511 Fix JS error with disabled attachment and easymde
  web_src/js/features/comp/ComboMarkdownEditor.js
Labels: lgtm/done, size/XS, modifies/js

#31513 Support legacy _links LFS batch responses
  modules/lfs/http_client.go
  modules/lfs/http_client_test.go
  modules/lfs/shared.go
Labels: lgtm/done, size/S, modifies/go

#31186 Add initial typescript config and use it for eslint,vitest,playwright
  .eslintrc.yaml
  Makefile
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/README.md
  tests/e2e/e2e_test.go
  tests/e2e/example.test.e2e.ts
  tests/e2e/utils_e2e.ts
  tsconfig.json
  vitest.config.ts
  web_src/js/components/.eslintrc.yaml
  web_src/js/components/RepoActionView.vue
  web_src/js/features/repo-code.js
  web_src/js/webcomponents/overflow-menu.js
Labels: lgtm/done, topic/code-linting, reviewed/wait-merge, size/L, modifies/go, modifies/docs, modifies/internal, modifies/js, modifies/dependencies

#31509 Always use HTML attributes for avatar size
  templates/repo/editor/commit_form.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/shabox_badge.tmpl
  templates/repo/user_cards.tmpl
  web_src/css/features/gitgraph.css
  web_src/css/features/tribute.css
  web_src/css/modules/comment.css
  web_src/css/org.css
  web_src/css/repo.css
  web_src/js/features/tribute.js
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/templates, modifies/js

#31526 Use stable version of fabric
  Makefile
Labels: lgtm/done, size/XS, modifies/internal

#31524 remove typo
  modules/setting/config_provider.go
Labels: lgtm/done, size/XS, modifies/go

#31504 Add Passkey login support
  models/auth/webauthn.go
  modules/auth/webauthn/webauthn.go
  options/locale/locale_en-US.ini
  routers/web/auth/webauthn.go
  routers/web/user/setting/security/webauthn.go
  routers/web/web.go
  templates/user/auth/signin_inner.tmpl
  web_src/js/features/user-auth-webauthn.js
Labels: type/feature, lgtm/done, modifies/translation, size/L, modifies/go, modifies/templates, modifies/js

#31514 Fix markdown preview $$ support
  modules/markup/markdown/markdown_test.go
  modules/markup/markdown/math/block_parser.go
  modules/markup/markdown/math/inline_block_node.go
  modules/markup/markdown/math/inline_parser.go
  modules/markup/markdown/math/inline_renderer.go
  modules/markup/markdown/math/math.go
Labels: lgtm/done, size/M, modifies/go
