Repository go-gitea/gitea, pull requests merged in 2024-01, with the labels that each got.

#28657 Add global setting how timestamps should be rendered
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  modules/setting/ui.go
  modules/timeutil/datetime.go
  modules/timeutil/datetime_test.go
  modules/timeutil/since.go
  web_src/js/components/DiffCommitSelector.vue
Labels: type/feature, lgtm/done, reviewed/wait-merge, size/L, modifies/frontend, modifies/docs

#28677 Make template `DateTime` show proper tooltip
  modules/timeutil/datetime.go
  modules/timeutil/datetime_test.go
  templates/user/settings/security/webauthn.tmpl
Labels: lgtm/done, size/M, backport/v1.21

#28682 Make cross-reference issue links work in markdown documents again
  modules/markup/html.go
  modules/markup/html_test.go
  modules/references/references.go
Labels: lgtm/done, size/S

#28681 Fix tooltip of variable edit button
  templates/shared/variables/variable_list.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28683 Make template `DateTime` show proper tooltip (#28677)
  modules/timeutil/datetime.go
  modules/timeutil/datetime_test.go
  templates/user/settings/security/webauthn.tmpl
Labels: topic/ui, lgtm/done, size/M

#28679 Fix grammar issues on the repository Actions page (en-US)
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS

#28680 Fix grammar in `actions.variables.id_not_exist` (en-US)
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, size/XS

#28684 Fix wrapping of label list
  web_src/css/repo/issue-list.css
Labels: type/bug, lgtm/done, skip-changelog, topic/issues, reviewed/wait-merge, size/XS, backport/v1.21, modifies/frontend

#28561 Normalize oauth email username
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  models/user/user.go
  models/user/user_test.go
  modules/setting/oauth2.go
  routers/web/auth/auth.go
  routers/web/auth/linkaccount.go
  routers/web/auth/oauth.go
Labels: lgtm/done, size/M, modifies/docs

#28687 Apply min-height in wiki only on preview pane
  web_src/css/repo/wiki.css
Labels: type/bug, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/frontend

#28341 Add links to owner home page in explore
  templates/explore/repo_list.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28523 Add merge arrow direction and update styling
  templates/repo/diff/compare.tmpl
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/frontend

#28708 Fix panic when parsing empty pgsql host
  modules/setting/database.go
  modules/setting/database_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28711 Improve frontend guideline
  docs/content/contributing/guidelines-frontend.en-us.md
Labels: lgtm/done, skip-changelog, size/XS, backport/v1.21, modifies/docs

#28719 Avoid unnecessary 500 panic when a commit doesn't exist
  templates/base/head_opengraph.tmpl
  tests/integration/repo_test.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, backport/v1.21

#28716 Fix incorrect URL for "Reference in New Issue"
  tests/integration/issue_test.go
  web_src/js/features/repo-issue.js
Labels: type/bug, lgtm/done, size/S, backport/v1.21, modifies/frontend

#28717 Suggest to use Type=simple for systemd service
  contrib/systemd/gitea.service
  modules/graceful/manager_common.go
Labels: type/docs, lgtm/done, backport/done, reviewed/wait-merge, size/XS, backport/manual, backport/v1.21

#28718 Move the captcha script loader to the template which really needs it
  templates/base/footer.tmpl
  templates/user/auth/captcha.tmpl
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/S, modifies/templates

#28722 Suggest to use Type=simple for systemd service (#28717)
  contrib/systemd/gitea.service
Labels: type/docs, lgtm/done, size/XS

#28731 Concatenate error in `checkIfPRContentChanged`
  services/pull/pull.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28739 Add download attribute to release attachments
  templates/repo/release/list.tmpl
Labels: lgtm/done, size/XS, backport/v1.21, modifies/templates

#28662 Recommend/convert to use case-sensitive collation for MySQL/MSSQL
  .gitignore
  cmd/doctor_convert.go
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/help/faq.en-us.md
  docs/content/help/faq.zh-cn.md
  docs/content/installation/database-preparation.en-us.md
  docs/content/installation/database-preparation.zh-cn.md
  go.mod
  go.sum
  models/db/collation.go
  models/db/convert.go
  models/db/engine.go
  modules/setting/database.go
  options/locale/locale_en-US.ini
  routers/web/admin/admin.go
  routers/web/web.go
  templates/admin/navbar.tmpl
  templates/admin/self_check.tmpl
  tests/integration/api_branch_test.go
  tests/integration/db_collation_test.go
Labels: lgtm/done, modifies/translation, type/refactoring, pr/breaking, reviewed/wait-merge, size/XL, modifies/cli, modifies/docs

#28744 Add -F to commit search to treat keywords as strings
  modules/git/repo_commit.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28631 Hide code related setting options in repository when code unit is disabled
  templates/repo/settings/navbar.tmpl
  templates/repo/settings/options.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21, modifies/templates

#28751 Integration Test for Commit Search containing Square Brackets
  modules/git/repo_commit.go
  tests/integration/repo_commits_search_test.go
Labels: lgtm/done, type/testing, type/refactoring, size/XS

#28754 Show description as tooltip instead of title for labels
  modules/templates/util_render.go
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28426 Fix `convert.ToTeams` on empty input
  services/convert/convert.go
  services/convert/pull_review.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21

#28765 Require token for GET subscription endpoint
  routers/api/v1/api.go
Labels: type/bug, lgtm/done, modifies/api, size/XS

#26984 Support for grouping RPMs using paths
  docs/content/usage/packages/rpm.en-us.md
  docs/content/usage/packages/rpm.zh-cn.md
  modules/packages/rpm/metadata.go
  modules/templates/util_string.go
  routers/api/packages/api.go
  routers/api/packages/rpm/rpm.go
  services/packages/rpm/repository.go
  templates/package/content/rpm.tmpl
  tests/integration/api_packages_rpm_test.go
Labels: type/docs, lgtm/done, modifies/api, pr/breaking, topic/packages, reviewed/wait-merge, size/L, modifies/docs

#27760 Revamp repo header
  templates/repo/header.tmpl
  web_src/css/base.css
  web_src/css/index.css
  web_src/css/repo.css
  web_src/css/repo/header.css
Labels: type/enhancement, topic/ui, lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/frontend

#28769 Improve CSS helper naming
  templates/admin/self_check.tmpl
  templates/devtest/fomantic-modal.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/issue/card.tmpl
  web_src/css/helpers.css
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/S, modifies/frontend

#28770 Fix button size in "attached header right"
  templates/org/team/teams.tmpl
  templates/repo/settings/lfs_file.tmpl
  templates/repo/settings/lfs_pointers.tmpl
  web_src/css/base.css
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21, modifies/frontend

#28227 Assign pull request to project during creation
  routers/web/repo/compare.go
  routers/web/repo/pull.go
Labels: type/enhancement, lgtm/done, topic/ui-interaction, reviewed/wait-merge, size/S, backport/v1.21

#27736 Fix issue dependencies
  routers/api/v1/repo/issue_dependency.go
  routers/web/repo/issue.go
Labels: type/bug, lgtm/done, modifies/api, size/L, backport/v1.21

#28773 Add tests for #28765
  tests/integration/api_user_watch_test.go
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/XS, backport/v1.21

#28691 Fix schedule tasks bugs
  models/actions/run.go
  models/actions/run_list.go
  models/actions/schedule.go
  models/git/branch.go
  models/git/branch_test.go
  models/repo/repo_unit.go
  modules/actions/github.go
  modules/actions/workflows.go
  modules/actions/workflows_test.go
  modules/webhook/type.go
  routers/api/v1/repo/repo.go
  routers/web/repo/setting/default_branch.go
  routers/web/repo/setting/setting.go
  services/actions/notifier_helper.go
  services/actions/schedule_tasks.go
  services/repository/branch.go
  services/repository/setting.go
  services/wiki/wiki.go
  tests/integration/actions_trigger_test.go
Labels: type/bug, lgtm/done, modifies/api, size/L, backport/v1.21

#28778 Require token for GET subscription endpoint (#28765)
  tests/integration/api_user_watch_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS

#28546 Speed up loading the dashboard on mysql/mariadb
  models/activities/action.go
Labels: type/enhancement, lgtm/done, performance/speed, reviewed/wait-merge, topic/gitea-actions, size/XS, backport/v1.21

#28783 Warn that `DISABLE_QUERY_AUTH_TOKEN` is false only if it's explicitly defined
  modules/setting/security.go
Labels: lgtm/done, size/XS

#28140 Modernize merge button
  routers/web/repo/pull.go
  tests/integration/pull_merge_test.go
  web_src/js/components/PullRequestMergeForm.vue
Labels: type/enhancement, lgtm/done, type/refactoring, topic/pr, reviewed/wait-merge, size/L, backport/v1.21, modifies/frontend

#28780 Fix schedule tasks bugs (#28691)
  models/actions/run.go
  models/actions/run_list.go
  models/actions/schedule.go
  models/git/branch.go
  models/git/branch_test.go
  models/repo/repo_unit.go
  modules/actions/github.go
  modules/actions/workflows.go
  modules/actions/workflows_test.go
  modules/webhook/type.go
  routers/api/v1/repo/repo.go
  routers/web/repo/setting/default_branch.go
  routers/web/repo/setting/setting.go
  services/actions/notifier_helper.go
  services/actions/schedule_tasks.go
  services/repository/branch.go
  services/repository/setting.go
  services/wiki/wiki.go
  tests/integration/actions_trigger_test.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/L

#28785 Add non-JS fallback for reaction tooltips
  templates/repo/issue/view_content/reactions.tmpl
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28419 Move more functions to db.Find
  cmd/admin.go
  models/asymkey/gpg_key.go
  models/asymkey/gpg_key_commit_verification.go
  models/asymkey/gpg_key_list.go
  models/asymkey/ssh_key.go
  models/asymkey/ssh_key_principals.go
  models/auth/webauthn.go
  models/db/list.go
  models/db/paginator/paginator_test.go
  models/issues/comment.go
  models/issues/tracked_time.go
  models/repo/archiver.go
  models/repo/collaboration.go
  models/repo/collaboration_test.go
  models/repo/fork.go
  models/repo/release.go
  modules/context/repo.go
  modules/repository/repo.go
  routers/api/v1/repo/collaborators.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/release.go
  routers/api/v1/user/gpg_key.go
  routers/web/feed/release.go
  routers/web/repo/release.go
  routers/web/repo/release_test.go
  routers/web/repo/repo.go
  routers/web/user/home.go
  routers/web/user/setting/keys.go
  services/asymkey/sign.go
  services/convert/repository.go
  services/migrations/gitea_uploader_test.go
  services/repository/archiver/archiver.go
  services/repository/push.go
  services/user/delete.go
  tests/integration/mirror_pull_test.go
  tests/integration/repo_tag_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/XL, modifies/cli

#28789 Update github.com/cloudflare/circl
  go.mod
  go.sum
Labels: lgtm/done, type/dependency-update, reviewed/wait-merge, size/XS, backport/v1.21

#28790 Update github.com/cloudflare/circl (#28789)
  go.mod
  go.sum
Labels: lgtm/done, size/XS

#28037 Fix when private user following user, private user will not be counted in his own view
  models/user/user.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28337 Forbid removing the last admin user
  models/error.go
  models/user/user.go
  options/locale/locale_en-US.ini
  routers/api/v1/admin/user.go
  routers/web/admin/users.go
  routers/web/user/setting/account.go
  services/user/user.go
  templates/swagger/v1_json.tmpl
Labels: type/bug, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/M, backport/v1.21

#28498 Add branch protection setting for ignoring stale approvals
  models/git/protected_branch.go
  models/issues/pull.go
  models/migrations/v1_22/v284.go
  modules/structs/repo_branch.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/branch.go
  routers/web/repo/setting/protected_branch.go
  services/convert/convert.go
  services/forms/repo_form.go
  templates/repo/settings/protected_branch.tmpl
  templates/swagger/v1_json.tmpl
  web_src/js/features/repo-settings.js
Labels: type/enhancement, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/M, modifies/frontend, modifies/migrations

#28791 Fix nil pointer panic when exec some gitea cli command
  modules/private/actions.go
  modules/private/key.go
  modules/private/mail.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28796 Use correct `has error` check for internal responses
  modules/private/actions.go
  modules/private/key.go
  modules/private/mail.go
  modules/private/request.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, backport/v1.21

#28787 Fix `GetCommitStatuses`
  models/git/commit_status.go
  models/git/commit_status_test.go
  routers/api/v1/repo/status.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M, backport/v1.21

#28712 Display latest sync time for pull mirrors on the repo page
  templates/repo/header.tmpl
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28757 Add ability to see open and closed issues at the same time
  models/issues/tracked_time.go
  models/issues/tracked_time_test.go
  routers/web/repo/issue.go
  templates/repo/issue/openclose.tmpl
Labels: type/enhancement, lgtm/done, topic/issues, reviewed/wait-merge, size/M

#28067 Show latest commit for file
  routers/web/repo/view.go
  templates/repo/latest_commit.tmpl
  templates/repo/view_file.tmpl
  templates/repo/view_list.tmpl
  web_src/css/repo.css
Labels: type/feature, topic/ui, lgtm/done, reviewed/wait-merge, size/L, modifies/frontend

#28804 Fix `GetCommitStatuses` (#28787)
  models/git/commit_status.go
  models/git/commit_status_test.go
  routers/api/v1/repo/status.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/M

#28806 Fix links in issue card
  templates/repo/issue/card.tmpl
Labels: type/bug, lgtm/done, topic/projects, reviewed/wait-merge, size/XS, backport/v1.21, modifies/templates

#28809 Add gist to comparison
  docs/content/installation/comparison.en-us.md
Labels: lgtm/need 1, size/XS, modifies/docs

#28803 Rework markup link rendering (#26745)
  models/issues/comment_code.go
  models/repo/repo.go
  modules/markup/external/external.go
  modules/markup/html.go
  modules/markup/html_internal_test.go
  modules/markup/html_test.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_test.go
  modules/markup/orgmode/orgmode.go
  modules/markup/orgmode/orgmode_test.go
  modules/markup/renderer.go
  modules/templates/helper.go
  modules/templates/util_render.go
  modules/templates/util_render_test.go
  routers/common/markup.go
  routers/web/feed/convert.go
  routers/web/feed/profile.go
  routers/web/org/home.go
  routers/web/repo/commit.go
  routers/web/repo/issue.go
  routers/web/repo/milestone.go
  routers/web/repo/projects.go
  routers/web/repo/release.go
  routers/web/repo/render.go
  routers/web/repo/view.go
  routers/web/repo/wiki.go
  routers/web/shared/user/header.go
  routers/web/user/home.go
  routers/web/user/profile.go
  services/mailer/mail.go
  services/mailer/mail_release.go
  templates/repo/branch/list.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/commits_list_small.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/issue/view_title.tmpl
  templates/repo/view_list.tmpl
  templates/user/dashboard/feeds.tmpl
  tests/fuzz/fuzz_test.go
Labels: type/bug, lgtm/done, type/refactoring, reviewed/wait-merge, size/XXL

#28797 Use refname:strip-2 instead of refname:short when syncing tags
  modules/git/foreachref/format_test.go
  modules/git/repo_tag.go
  modules/git/repo_tag_test.go
Labels: type/bug, lgtm/done, size/S, backport/v1.21

#28814 Remove trust model selection from repository creation on web page because it can be changed in settings later
  routers/web/repo/repo.go
  services/forms/repo_form.go
  templates/repo/create.tmpl
Labels: lgtm/done, type/deprecation, topic/ui-interaction, reviewed/wait-merge, size/M

#28794 Fix reverting a merge commit failing
  models/fixtures/repo_unit.yml
  models/fixtures/repository.yml
  models/fixtures/user.yml
  services/packages/cargo/index.go
  services/repository/files/cherry_pick.go
  services/repository/files/diff.go
  services/repository/files/patch.go
  services/repository/files/temp_repo.go
  services/repository/files/update.go
  services/repository/files/upload.go
  tests/gitea-repositories-meta/user2/test_commit_revert.git/HEAD
  tests/gitea-repositories-meta/user2/test_commit_revert.git/config
  tests/gitea-repositories-meta/user2/test_commit_revert.git/description
  tests/gitea-repositories-meta/user2/test_commit_revert.git/info/exclude
  tests/gitea-repositories-meta/user2/test_commit_revert.git/objects/pack/pack-91200c8e6707636a6cc3e0d8101fba08b19dcb91.idx
  tests/gitea-repositories-meta/user2/test_commit_revert.git/objects/pack/pack-91200c8e6707636a6cc3e0d8101fba08b19dcb91.pack
  tests/gitea-repositories-meta/user2/test_commit_revert.git/packed-refs
  tests/integration/repo_mergecommit_revert_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.21

#28819 Bump `@github/relative-time-element` to 4.3.1
  package-lock.json
  package.json
Labels: type/bug, topic/ui, lgtm/done, type/dependency-update, reviewed/wait-merge, size/XS, backport/v1.21

#28686 Retarget depending pulls when the parent branch is deleted
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  modules/setting/repository.go
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/pull/pull.go
  tests/integration/pull_create_test.go
  tests/integration/pull_merge_test.go
  tests/integration/repo_activity_test.go
Labels: type/feature, lgtm/done, modifies/api, topic/pr, reviewed/wait-merge, size/L, modifies/docs

#28812 Add changelog for 1.21.4
  CHANGELOG.md
Labels: lgtm/done, size/M, modifies/docs

#28726 Fix uploaded artifacts should be overwritten
  routers/api/actions/artifacts.go
  routers/api/actions/artifacts_chunks.go
  tests/integration/api_actions_artifact_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, backport/v1.21

#28827 Add missing migration
  models/migrations/migrations.go
Labels: type/bug, lgtm/done, skip-changelog, size/XS, modifies/migrations

#28826 Bump `@github/relative-time-element` to 4.3.1 (#28819)
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, size/XS

#28824 Remove duplicated checkinit on git module
  modules/git/git.go
Labels: lgtm/done, type/miscellaneous, reviewed/wait-merge, size/XS, backport/v1.21

#28823 Add testing for CalcCommitStatus
  models/git/commit_status_test.go
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/L

#28841 Fix display latest sync time for pull mirrors on the repo page
  options/locale/locale_en-US.ini
  templates/repo/header.tmpl
Labels: topic/ui, lgtm/done, modifies/translation, size/S

#28836 Return `responseText` instead of string in some functions
  cmd/actions.go
  cmd/keys.go
  cmd/mailer.go
  modules/private/actions.go
  modules/private/hook.go
  modules/private/key.go
  modules/private/mail.go
  modules/private/request.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/cli

#28848 Fix archive creating LFS hooks and breaking pull requests
  modules/git/repo_archive.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28844 tests: missing refs/ in bare repositories
  tests/gitea-repositories-meta/user2/test_commit_revert.git/refs/heads/main
Labels: lgtm/done, type/testing, reviewed/wait-merge, size/XS, backport/v1.21

#28782 Fix some RPM registry flaws
  docs/content/usage/packages/rpm.en-us.md
  models/packages/package.go
  models/packages/package_blob.go
  models/packages/package_file.go
  models/packages/package_version.go
  models/packages/rpm/search.go
  modules/packages/rpm/metadata.go
  modules/templates/util_string.go
  modules/util/slice.go
  options/locale/locale_en-US.ini
  routers/api/packages/api.go
  routers/api/packages/rpm/rpm.go
  routers/web/admin/packages.go
  routers/web/user/package.go
  services/packages/cleanup/cleanup.go
  services/packages/rpm/repository.go
  templates/package/content/rpm.tmpl
  tests/integration/api_packages_rpm_test.go
Labels: type/bug, lgtm/done, modifies/translation, modifies/api, topic/packages, size/XXL, modifies/docs

#28364 Fix incorrect action duration time when rerun the job before executed once
  models/actions/run.go
  models/migrations/migrations.go
  models/migrations/v1_22/v285.go
  routers/web/repo/actions/view.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21, modifies/migrations

#28856 Move doctor package from modules to services
  cmd/doctor.go
  cmd/doctor_test.go
  services/doctor/authorizedkeys.go
  services/doctor/breaking.go
  services/doctor/checkOldArchives.go
  services/doctor/dbconsistency.go
  services/doctor/dbversion.go
  services/doctor/doctor.go
  services/doctor/fix16961.go
  services/doctor/fix16961_test.go
  services/doctor/fix8312.go
  services/doctor/heads.go
  services/doctor/lfs.go
  services/doctor/mergebase.go
  services/doctor/misc.go
  services/doctor/paths.go
  services/doctor/repository.go
  services/doctor/storage.go
  services/doctor/usertype.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/XS, modifies/cli

#28859 In administration documentation about environment variables, point to those for the Go runtime instead of Go compiler
  docs/content/administration/environment-variables.en-us.md
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/docs

#28860 Set the `isPermaLink` attribute to `false` in the `guid` sub-element
  go.mod
  go.sum
  routers/web/feed/convert.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28830 Fix migrate storage bug
  cmd/migrate_storage.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/cli, backport/v1.21

#28866 Run `npm audit fix`
  package-lock.json
Labels: lgtm/done, type/dependency-update, skip-changelog, reviewed/wait-merge, size/XS

#28865 Fix incorrect PostgreSQL connection string for Unix sockets
  modules/setting/database.go
  modules/setting/database_test.go
Labels: lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28871 Don't do a full page load when clicking the subscribe button
  package-lock.json
  package.json
  routers/web/repo/issue_watch.go
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_content/watching.tmpl
  web_src/js/features/common-global.js
  webpack.config.js
Labels: type/enhancement, lgtm/done, size/M, modifies/frontend, modifies/internal

#28872 Don't do a full page load when clicking the follow button
  routers/web/user/profile.go
  templates/shared/user/profile_big_avatar.tmpl
Labels: type/enhancement, lgtm/done, topic/ui-interaction, size/S

#28879 Revert adding htmx until we finaly decide to add it
  package-lock.json
  package.json
  routers/web/repo/issue_watch.go
  routers/web/user/profile.go
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_content/watching.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  web_src/js/features/common-global.js
  webpack.config.js
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, modifies/frontend, modifies/internal

#28878 Fix branch list bug which displayed default branch twice
  services/repository/branch.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, topic/repo

#28825 Fix reverting a merge commit failing (#28794)
  models/fixtures/repo_unit.yml
  models/fixtures/repository.yml
  models/fixtures/user.yml
  services/packages/cargo/index.go
  services/repository/files/cherry_pick.go
  services/repository/files/diff.go
  services/repository/files/patch.go
  services/repository/files/temp_repo.go
  services/repository/files/update.go
  services/repository/files/upload.go
  tests/gitea-repositories-meta/user2/test_commit_revert.git/HEAD
  tests/gitea-repositories-meta/user2/test_commit_revert.git/config
  tests/gitea-repositories-meta/user2/test_commit_revert.git/description
  tests/gitea-repositories-meta/user2/test_commit_revert.git/info/exclude
  tests/gitea-repositories-meta/user2/test_commit_revert.git/objects/pack/pack-91200c8e6707636a6cc3e0d8101fba08b19dcb91.idx
  tests/gitea-repositories-meta/user2/test_commit_revert.git/objects/pack/pack-91200c8e6707636a6cc3e0d8101fba08b19dcb91.pack
  tests/gitea-repositories-meta/user2/test_commit_revert.git/packed-refs
  tests/integration/repo_mergecommit_revert_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L

#28873 Avoid duplicate JS error messages on UI
  web_src/js/bootstrap.js
  web_src/js/bootstrap.test.js
  web_src/js/test/setup.js
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21, modifies/frontend

#26431 Don't show new pr button when page is not compare pull
  options/locale/locale_en-US.ini
  templates/repo/diff/compare.tmpl
Labels: type/enhancement, lgtm/done, modifies/translation, reviewed/wait-merge, size/XS

#28877 Prevent anonymous container access if `RequireSignInView` is enabled
  modules/context/package.go
  routers/api/packages/container/container.go
  tests/integration/api_packages_container_test.go
Labels: type/bug, topic/security, lgtm/done, modifies/api, topic/packages, size/M, backport/v1.21

#28832 Fix uploaded artifacts should be overwritten (#28726) backport v1.21
  routers/api/actions/artifacts.go
  routers/api/actions/artifacts_chunks.go
  tests/integration/api_actions_artifact_test.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/L

#28874 Fix schedule not trigger bug because matching full ref name with short ref name
  services/actions/notifier_helper.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, topic/gitea-actions, size/S, backport/v1.21

#28886 Fix `DeleteCollaboration` transaction behaviour
  services/repository/collaboration.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28322 Add missing exclusive in advanced label options
  options/label/Advanced.yaml
Labels: type/enhancement, lgtm/done, topic/issues, reviewed/wait-merge, size/XS

#28891 Upgrade xorm to v1.3.7 to fix a resource leak problem caused by Iterate
  go.mod
  go.sum
Labels: lgtm/done, type/dependency-update, size/XS, backport/v1.21

#28897 Fix sort bug on repository issues list
  modules/indexer/issues/db/options.go
Labels: type/bug, lgtm/done, size/XS, backport/v1.21

#28893 Update go dependencies and fix go-git
  assets/go-licenses.json
  go.mod
  go.sum
  modules/git/repo_base_gogit.go
  modules/git/repo_commitgraph_gogit.go
Labels: lgtm/done, reviewed/wait-merge, size/L, backport/v1.21

#28910 Fix hardcoded GitHub icon used as migrated release avatar
  templates/repo/release/list.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#28902 Only migrate the first 255 chars of a Github issue title
  services/migrations/gitea_uploader.go
Labels: type/bug, lgtm/done, topic/repo-migration, reviewed/wait-merge, size/XS, backport/v1.21

#27140 Don't run push mirrors for archived repos
  models/repo/pushmirror.go
  options/locale/locale_en-US.ini
  routers/api/v1/api.go
  routers/web/repo/setting/setting.go
  templates/repo/settings/options.tmpl
Labels: lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L

#28045 Allow to sync tags from admin dashboard
  modules/repository/repo.go
  options/locale/locale_en-US.ini
  routers/init.go
  routers/web/admin/admin.go
  services/release/release.go
  services/release/tag.go
  templates/admin/dashboard.tmpl
Labels: type/feature, lgtm/done, modifies/translation, reviewed/wait-merge, size/L, pr/last-call

#28654 Don't reload timeline page when (un)resolving or replying conversation
  routers/web/repo/pull_review.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/conversation.tmpl
  web_src/css/review.css
Labels: type/bug, lgtm/done, topic/ui-interaction, reviewed/wait-merge, size/L, backport/v1.21, modifies/frontend

#28620 Show in Web UI if file is vendored and generated
  options/locale/locale_en-US.ini
  routers/web/repo/view.go
  templates/repo/file_info.tmpl
Labels: type/enhancement, lgtm/done, modifies/translation, reviewed/wait-merge, size/S, topic/repo

#28917 Don't reload timeline page when (un)resolving or replying conversation (#28654)
  routers/web/repo/pull_review.go
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/conversation.tmpl
  web_src/css/review.css
Labels: type/bug, lgtm/done, topic/ui-interaction, size/L, modifies/frontend

#28895 Upgrade xorm to v1.3.7 to fix a resource leak problem caused by Iterate (#28891)
  go.mod
  go.sum
Labels: lgtm/done, type/dependency-update, reviewed/wait-merge, size/L

#28909 Respect branch info for relative links
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21

#28920 Implement `MigrateRepository` for the actions notifier
  services/actions/notifier.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28905 fix: update enable_prune even if mirror_interval is not provided
  routers/api/v1/repo/repo.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, size/XS, backport/v1.21

#28928 Check for sha256 support to use --object-format flag
  modules/git/repo.go
Labels: type/bug, lgtm/done, size/XS

#28931 Use new RPM constants
  go.mod
  go.sum
  modules/packages/rpm/metadata.go
Labels: lgtm/done, type/dependency-update, skip-changelog, topic/packages, reviewed/wait-merge, size/XS

#28817 Don't remove all mirror repository's releases when mirroring
  modules/repository/repo.go
  modules/repository/repo_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.21, pr/last-call

#28934 Update go dependencies and fix go-git (#28893)
  go.mod
  go.sum
  modules/git/repo_base_gogit.go
  modules/git/repo_commitgraph_gogit.go
Labels: lgtm/done, type/dependency-update, size/M

#28938 Fix non-alphabetic sorting of repo topics
  models/repo/topic.go
Labels: lgtm/done, reviewed/wait-merge, size/XS

#28932 Strip `/` from relative links
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/markdown_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, backport/v1.21

#28948 Fix SSPI user creation
  services/auth/sspi.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, backport/v1.21

#28955 Make loading animation less aggressive
  web_src/css/modules/animations.css
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/XS, backport/v1.21, modifies/frontend

#28935 Preserve BOM in web editor
  modules/charset/charset.go
  modules/charset/charset_test.go
  modules/indexer/code/bleve/bleve.go
  modules/indexer/code/elasticsearch/elasticsearch.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/editor.go
  routers/web/repo/render.go
  routers/web/repo/setting/lfs.go
  routers/web/repo/view.go
  templates/repo/editor/edit.tmpl
  tests/integration/migration-test/migration_test.go
  web_src/js/features/codeeditor.js
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, backport/v1.21, modifies/frontend

#28964 Add screenshot for "Profile Readmes" to docs
  docs/content/usage/profile-readme.en-us.md
  docs/content/usage/profile-readme.png
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/XS, modifies/docs

#28951 Fix inconsistent naming of OAuth 2.0 `ENABLE` setting
  custom/conf/app.example.ini
  docs/content/administration/config-cheat-sheet.en-us.md
  docs/content/administration/config-cheat-sheet.zh-cn.md
  modules/setting/oauth2.go
  routers/web/user/setting/applications.go
  routers/web/web.go
Labels: lgtm/done, type/deprecation, reviewed/wait-merge, size/M, modifies/docs

#28967 Fixing small space missing in sample config file
  custom/conf/app.example.ini
Labels: lgtm/done, size/XS

#28969 Fix bug for generated repository object format
  modules/repository/generate.go
Labels: type/bug, lgtm/done, skip-changelog, size/M

#28982 Fix google logo in security page
  public/assets/img/svg/gitea-google.svg
  web_src/svg/gitea-google.svg
Labels: lgtm/done, size/XS, modifies/frontend

#28980 Update golang links to use https
  CONTRIBUTING.md
  docs/content/administration/environment-variables.zh-cn.md
  docs/content/administration/mail-templates.en-us.md
  docs/content/administration/mail-templates.zh-cn.md
  docs/content/development/hacking-on-gitea.en-us.md
  docs/content/development/hacking-on-gitea.zh-cn.md
  docs/content/installation/from-source.en-us.md
  docs/content/installation/from-source.zh-cn.md
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, size/M, modifies/docs

#28978 Fix joins in `db.Find(AndCount)`
  models/db/list.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M

#28908 Introduce htmx and use it to avoid full page load on `Subscribe` and `Follow`
  package-lock.json
  package.json
  routers/web/repo/issue_watch.go
  routers/web/user/profile.go
  templates/base/head.tmpl
  templates/repo/issue/view_content/sidebar.tmpl
  templates/repo/issue/view_content/watching.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  web_src/js/features/common-global.js
  web_src/js/htmx.js
  webpack.config.js
Labels: lgtm/done, topic/ui-interaction, reviewed/wait-merge, size/M, modifies/frontend, modifies/internal

#28994 Fix doc img path in profile readme
  docs/content/usage/profile-readme.en-us.md
  docs/static/images/usage/profile-readme.png
Labels: type/docs, lgtm/done, size/XS, backport/v1.21, modifies/docs

#28942 Fix an actions schedule bug
  modules/actions/workflows.go
  routers/api/v1/repo/wiki.go
  services/actions/notifier_helper.go
  services/actions/schedule_tasks.go
  services/convert/wiki.go
  services/repository/setting.go
  services/wiki/wiki_path.go
Labels: type/bug, lgtm/done, modifies/api, size/L, backport/v1.21

#28995 Some refactor for git http
  routers/web/repo/githttp.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L

#28993 Add htmx guidelines
  docs/content/contributing/guidelines-frontend.en-us.md
Labels: type/docs, lgtm/done, reviewed/wait-merge, size/XS, modifies/docs
