Repository go-gitea/gitea, pull requests merged in 2025-07, with the labels that each got.

#34920 Fix PR toggle WIP
  routers/web/repo/issue_view.go
  templates/repo/issue/sidebar/wip_switch.tmpl
  templates/repo/issue/view_content/pull_merge_box.tmpl
  web_src/js/features/repo-issue.ts
Labels: lgtm/done, modifies/go, modifies/templates, modifies/frontend

#34911 Improve html escape
  .eslintrc.cjs
  package-lock.json
  package.json
  web_src/js/bootstrap.ts
  web_src/js/components/ViewFileTreeStore.ts
  web_src/js/features/comp/ConfirmModal.ts
  web_src/js/features/comp/EditorUpload.ts
  web_src/js/features/comp/SearchUserBox.ts
  web_src/js/features/dropzone.ts
  web_src/js/features/emoji.ts
  web_src/js/features/file-view.ts
  web_src/js/features/repo-editor.ts
  web_src/js/features/repo-issue-list.ts
  web_src/js/features/repo-issue.ts
  web_src/js/features/repo-new.ts
  web_src/js/features/repo-wiki.ts
  web_src/js/features/tribute.ts
  web_src/js/markup/html2markdown.ts
  web_src/js/markup/mermaid.ts
  web_src/js/modules/tippy.ts
  web_src/js/modules/toast.ts
  web_src/js/svg.ts
  web_src/js/utils/dom.ts
  web_src/js/utils/html.test.ts
  web_src/js/utils/html.ts
Labels: lgtm/done, type/refactoring, modifies/internal, modifies/dependencies, modifies/frontend

#34904 Support getting last commit message using contents-ext API
  modules/structs/repo_file.go
  routers/api/v1/repo/file.go
  services/repository/files/content.go
  services/repository/files/content_test.go
  services/repository/files/file.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_file_create_test.go
  tests/integration/api_repo_file_update_test.go
  tests/integration/api_repo_get_contents_list_test.go
  tests/integration/api_repo_get_contents_test.go
  tests/integration/repofiles_change_test.go
Labels: type/enhancement, lgtm/done, modifies/api, modifies/go

#34928 Don't send trigger for a pending review's comment create/update/delete
  models/issues/comment.go
  services/notify/notify.go
Labels: type/bug, lgtm/done, modifies/go, backport/v1.24

#34936 Fix http auth header parsing
  modules/auth/httpauth/httpauth.go
  modules/auth/httpauth/httpauth_test.go
  modules/base/tool.go
  modules/base/tool_test.go
  modules/util/string.go
  routers/web/auth/oauth2_provider.go
  services/auth/basic.go
  services/auth/oauth2.go
  services/lfs/server.go
Labels: lgtm/done, modifies/go

#34949 Fix git graph page (#34948)
  routers/web/repo/commit.go
  services/context/pagination.go
  web_src/css/features/gitgraph.css
  web_src/js/features/repo-graph.ts
Labels: type/bug, lgtm/done, modifies/go, modifies/frontend

#34948 Fix git graph page
  routers/web/repo/commit.go
  services/context/pagination.go
  templates/repo/commits_list.tmpl
  templates/repo/graph.tmpl
  templates/repo/graph/commits.tmpl
  templates/repo/graph/div.tmpl
  templates/repo/tag/name.tmpl
  web_src/css/features/gitgraph.css
  web_src/css/modules/label.css
  web_src/js/features/repo-graph.ts
Labels: type/bug, lgtm/done, backport/done, modifies/go, backport/manual, modifies/templates, modifies/frontend

#34956 Upgrade security public key
  SECURITY.md
Labels: topic/security, lgtm/done, modifies/docs

#34959 Refactor some trivial problems
  modules/web/router_path.go
  modules/web/router_test.go
  options/locale/locale_en-US.ini
  routers/api/packages/conda/conda.go
  templates/devtest/flex-list.tmpl
  templates/repo/settings/webhook/history.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/shared/flex-list.css
Labels: lgtm/done, modifies/translation, modifies/api, modifies/go, modifies/templates, modifies/frontend

#34958 Refactor frontend unique id & comment
  web_src/js/components/DiffCommitSelector.vue
  web_src/js/features/comp/ComboMarkdownEditor.ts
  web_src/js/features/repo-graph.ts
  web_src/js/modules/fomantic/base.ts
  web_src/js/modules/fomantic/dropdown.ts
  web_src/js/utils/dom.ts
  web_src/js/utils/html.ts
Labels: lgtm/done, type/refactoring, skip-changelog, modifies/frontend

#34963 Merge index.js
  templates/base/footer.tmpl
  templates/base/head_script.tmpl
  web_src/js/bootstrap.ts
  web_src/js/globals.d.ts
  web_src/js/globals.ts
  web_src/js/htmx.ts
  web_src/js/index-domready.ts
  web_src/js/index.ts
  webpack.config.js
Labels: lgtm/done, modifies/templates, modifies/frontend

#34966 Improve OAuth2 provider (correct Issuer, respect ENABLED)
  modules/templates/helper.go
  modules/templates/helper_test.go
  routers/web/auth/oauth2_provider.go
  routers/web/swagger_json.go
  services/context/context_response.go
  services/oauth2_provider/access_token.go
  templates/swagger/v1_input.json
  templates/swagger/v1_json.tmpl
  templates/user/auth/oidc_wellknown.tmpl
  tests/integration/oauth_test.go
Labels: lgtm/done, modifies/api, modifies/go, modifies/templates

#34961 Refactor webhook and fix feishu/lark secret
  options/locale/locale_en-US.ini
  routers/web/repo/setting/webhook.go
  services/forms/repo_form.go
  templates/admin/hooks.tmpl
  templates/org/settings/hooks.tmpl
  templates/repo/settings/webhook/base.tmpl
  templates/repo/settings/webhook/base_list.tmpl
  templates/repo/settings/webhook/delete_modal.tmpl
  templates/repo/settings/webhook/dingtalk.tmpl
  templates/repo/settings/webhook/discord.tmpl
  templates/repo/settings/webhook/feishu.tmpl
  templates/repo/settings/webhook/gitea.tmpl
  templates/repo/settings/webhook/gogs.tmpl
  templates/repo/settings/webhook/list.tmpl
  templates/repo/settings/webhook/matrix.tmpl
  templates/repo/settings/webhook/msteams.tmpl
  templates/repo/settings/webhook/packagist.tmpl
  templates/repo/settings/webhook/settings.tmpl
  templates/repo/settings/webhook/slack.tmpl
  templates/repo/settings/webhook/telegram.tmpl
  templates/repo/settings/webhook/wechatwork.tmpl
  templates/user/settings/hooks.tmpl
Labels: lgtm/done, modifies/translation, modifies/go, modifies/templates

#34971 Improve project & label color picker and image scroll
  templates/projects/view.tmpl
  templates/repo/issue/label_precolors.tmpl
  templates/repo/issue/labels/label_edit_modal.tmpl
  web_src/css/base.css
  web_src/css/features/colorpicker.css
  web_src/css/features/projects.css
  web_src/js/features/colorpicker.ts
  web_src/js/features/comp/LabelEdit.ts
Labels: type/enhancement, lgtm/done, modifies/templates, modifies/frontend

#34970 Rerun job only when run is done
  routers/web/repo/actions/view.go
Labels: lgtm/done, reviewed/wait-merge, modifies/go

#34940 Improve NuGet API Parity (#21291)
  models/packages/package_version.go
  modules/packages/nuget/metadata.go
  routers/api/packages/nuget/api_v3.go
  tests/integration/api_packages_nuget_test.go
Labels: type/enhancement, lgtm/done, modifies/api, topic/packages, modifies/go

#34989 Start automerge check again after the conflict check and the schedule
  models/pull/automerge.go
  services/automerge/automerge.go
  services/automerge/notify.go
  services/automergequeue/automergequeue.go
  services/pull/check.go
  services/pull/check_test.go
  tests/integration/git_general_test.go
  tests/integration/pull_merge_test.go
Labels: type/bug, lgtm/done, modifies/go, backport/v1.24

#35003 Fix bug when displaying git user avatar in commits list
  templates/repo/commits_list.tmpl
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/templates, backport/v1.24

#34990 Refactor mail template and support preview
  modules/templates/mailer.go
  routers/web/devtest/mail_preview.go
  routers/web/web.go
  services/mailer/mail.go
  services/mailer/mail_issue_common.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  services/mailer/mail_team_invite.go
  services/mailer/mail_test.go
  services/mailer/mail_user.go
  services/mailer/mailer.go
  templates/devtest/devtest-header.tmpl
  templates/devtest/mail-preview.tmpl
  templates/mail/auth/activate.mock.yml
Labels: lgtm/done, modifies/go, modifies/templates

#35016 Fix the response format for `actions/workflows`. (#35009)
  routers/api/v1/swagger/action.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, modifies/go

#35012 Fix various problems
  modules/setting/server.go
  templates/repo/diff/comments.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/issue/view_content/conversation.tmpl
  web_src/css/base.css
  web_src/css/modules/label.css
  web_src/css/repo.css
  web_src/js/features/file-view.ts
  web_src/js/features/repo-graph.ts
  web_src/js/features/repo-settings.ts
  web_src/js/index.ts
  web_src/js/utils.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, backport/done, modifies/go, backport/manual, modifies/templates, modifies/frontend, backport/v1.24

#35020 Add labeler config for `topic/code-linting`
  .github/labeler.yml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, modifies/internal

#35017 fix: improve english grammar and readability in locale_en-US.ini
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, reviewed/wait-merge

#34975 Add changelog for 1.24.3
  CHANGELOG.md
Labels: lgtm/done, modifies/docs

#35010 Partially refresh notifications list
  routers/web/user/notification.go
  templates/user/notification/notification_div.tmpl
  web_src/css/user.css
  web_src/js/features/notification.ts
  web_src/js/index-domready.ts
Labels: type/enhancement, lgtm/done, modifies/go, modifies/templates, modifies/frontend

#35026 Fix ListWorkflowRuns OpenAPI response model.
  modules/structs/repo.go
  routers/api/v1/repo/action.go
  services/convert/repository.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, modifies/go

#35037 Support base64-encoded agit push options
  services/agit/agit.go
  services/agit/agit_test.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#34978 Refactor OpenIDConnect to support SSH/FullName sync
  cmd/admin_auth_oauth.go
  cmd/admin_auth_oauth_test.go
  models/asymkey/ssh_key.go
  models/auth/oauth2.go
  models/auth/source.go
  modules/setting/oauth2.go
  options/locale/locale_en-US.ini
  routers/web/admin/auths.go
  routers/web/auth/2fa.go
  routers/web/auth/auth.go
  routers/web/auth/linkaccount.go
  routers/web/auth/oauth.go
  routers/web/auth/oauth_signin_sync.go
  routers/web/auth/openid.go
  routers/web/auth/webauthn.go
  services/auth/source/oauth2/providers.go
  services/auth/source/oauth2/providers_base.go
  services/auth/source/oauth2/providers_openid.go
  services/auth/source/oauth2/source.go
  services/externalaccount/link.go
  services/externalaccount/user.go
  services/forms/auth_form.go
  templates/admin/auth/edit.tmpl
  templates/admin/auth/source/oauth.tmpl
  tests/integration/oauth_test.go
  tests/integration/signin_test.go
  web_src/js/features/admin/common.ts
Labels: type/feature, lgtm/done, modifies/translation, reviewed/wait-merge, modifies/go, modifies/cli, modifies/templates, modifies/frontend

#35007 Fix git commit committer parsing and add some tests
  Dockerfile
  Dockerfile.rootless
  models/asymkey/gpg_key_commit_verification.go
  models/user/user.go
  models/user/user_test.go
  modules/git/commit.go
  services/asymkey/commit.go
  services/asymkey/commit_test.go
  services/git/commit.go
  templates/repo/commit_page.tmpl
  templates/repo/commits_list.tmpl
  tests/integration/repo_commits_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, modifies/templates, modifies/internal

#35008 Add Notifications section in User Settings
  routers/web/user/setting/account.go
  routers/web/user/setting/notifications.go
  routers/web/web.go
  templates/user/settings/account.tmpl
  templates/user/settings/navbar.tmpl
  templates/user/settings/notifications.tmpl
Labels: lgtm/done, modifies/go, modifies/templates

#35046 Fix incorrect comment diff hunk parsing, fix github asset ID nil panic
  modules/git/diff.go
  services/gitdiff/gitdiff.go
  services/migrations/github.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#35045 Fix user's sign email check
  models/asymkey/ssh_key_fingerprint.go
  models/fixtures/public_key.yml
  services/asymkey/commit.go
  services/asymkey/commit_test.go
Labels: lgtm/done, reviewed/wait-merge, modifies/go

#35073 Fix form property assignment edge case
  web_src/js/features/common-button.test.ts
  web_src/js/features/common-button.ts
Labels: lgtm/done, reviewed/wait-merge, modifies/frontend, backport/v1.24

#35074 Use monospace font in PR command line instructions
  templates/repo/issue/view_content/pull_merge_instruction.tmpl
Labels: type/enhancement, topic/ui, lgtm/done, skip-changelog, reviewed/wait-merge, modifies/templates

#35085 nix flake update
  flake.lock
Labels: lgtm/done, skip-changelog, backport/v1.24

#34982 Send email on Workflow Run Success/Failure
  models/user/setting_options.go
  options/locale/locale_en-US.ini
  routers/web/devtest/mail_preview.go
  routers/web/user/setting/notifications.go
  routers/web/web.go
  services/mailer/mail.go
  services/mailer/mail_issue_common.go
  services/mailer/mail_test.go
  services/mailer/mail_workflow_run.go
  services/mailer/notify.go
  templates/mail/auth/activate.devtest.yml
  templates/mail/notify/workflow_run.devtest.yml
  templates/mail/notify/workflow_run.tmpl
  templates/user/settings/notifications.tmpl
Labels: type/feature, lgtm/done, modifies/translation, reviewed/wait-merge, modifies/go, modifies/templates, 🙋 Bounty claim

#35093 Rename pull request GetGitRefName to GetGitHeadRefName to prepare introducing GetGitMergeRefName
  models/issues/pull.go
  modules/migration/pullrequest.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/pull_review.go
  routers/web/repo/issue_comment.go
  routers/web/repo/issue_view.go
  routers/web/repo/pull.go
  routers/web/repo/pull_review.go
  services/actions/notifier_helper.go
  services/agit/agit.go
  services/automerge/automerge.go
  services/automergequeue/automergequeue.go
  services/convert/pull.go
  services/doctor/mergebase.go
  services/issue/issue.go
  services/issue/pull.go
  services/migrations/dump.go
  services/migrations/gitea_uploader.go
  services/pull/check.go
  services/pull/commit_status.go
  services/pull/patch.go
  services/pull/pull.go
  services/pull/review.go
  services/pull/temp_repo.go
  services/repository/branch.go
  tests/integration/git_misc_test.go
  tests/integration/pull_merge_test.go
Labels: lgtm/done, type/refactoring, modifies/api, modifies/go

#35100 Improve package API log handling
  routers/api/packages/alpine/alpine.go
  routers/api/packages/arch/arch.go
  routers/api/packages/cargo/cargo.go
  routers/api/packages/chef/chef.go
  routers/api/packages/composer/composer.go
  routers/api/packages/conan/conan.go
  routers/api/packages/conda/conda.go
  routers/api/packages/container/container.go
  routers/api/packages/cran/cran.go
  routers/api/packages/debian/debian.go
  routers/api/packages/generic/generic.go
  routers/api/packages/goproxy/goproxy.go
  routers/api/packages/helm/helm.go
  routers/api/packages/helper/helper.go
  routers/api/packages/maven/maven.go
  routers/api/packages/npm/npm.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/pub/pub.go
  routers/api/packages/pypi/pypi.go
  routers/api/packages/rpm/rpm.go
  routers/api/packages/rubygems/rubygems.go
  routers/api/packages/swift/swift.go
  routers/api/packages/vagrant/vagrant.go
Labels: lgtm/done, type/refactoring, modifies/api, skip-changelog, modifies/go

#35105 Fix error logs and improve some comments/messages
  modules/storage/storage.go
  routers/api/packages/api.go
  routers/api/packages/conan/auth.go
  routers/api/packages/conan/conan.go
  routers/api/packages/conda/conda.go
  routers/api/packages/container/auth.go
  routers/api/packages/container/container.go
  routers/api/packages/generic/generic.go
  routers/api/packages/helm/helm.go
  routers/api/packages/nuget/auth.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/pub/pub.go
  services/auth/interface.go
  services/context/base.go
Labels: lgtm/done, modifies/api, skip-changelog, modifies/go

#35102 Fix some missed GitHeadRefName when renaming
  models/issues/pull.go
  modules/migration/pullrequest.go
  templates/repo/issue/view_content/pull_merge_instruction.tmpl
Labels: type/docs, lgtm/done, skip-changelog, modifies/go, modifies/templates

#35000 Fix job status aggregation logic
  models/actions/run_job.go
  models/actions/run_job_status_test.go
Labels: lgtm/done, modifies/go

#35104 Increase gap on latest commit
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, modifies/frontend, backport/v1.24

#35018 Align `issue-title-buttons` with `list-header`
  web_src/css/repo.css
Labels: lgtm/done, reviewed/wait-merge, modifies/frontend

#35109 Fix submodule parsing when the gitmodules is missing
  modules/git/commit_info.go
  modules/git/commit_info_test.go
  modules/git/commit_submodule_file.go
  modules/git/commit_submodule_file_test.go
  routers/web/repo/view_home.go
  services/repository/files/tree.go
Labels: type/bug, lgtm/done, skip-changelog, modifies/go, backport/v1.24

#35114 Don't use full-file highlight when there is a git diff textconv
  modules/git/attribute/attribute.go
  services/gitdiff/gitdiff.go
Labels: lgtm/done, modifies/go, backport/v1.24

#35119 Don't use full-file highlight when there is a git diff textconv (#35114)
  modules/git/attribute/attribute.go
  services/gitdiff/gitdiff.go
Labels: lgtm/done, modifies/go

#35116 Replace `setup-python` with `setup-uv`
  .github/workflows/pull-compliance.yml
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, modifies/internal

#35130 Use db.WithTx/WithTx2 instead of TxContext when possible
  models/actions/run.go
  models/actions/schedule.go
  models/actions/task.go
  models/actions/tasks_version.go
  models/activities/notification_list.go
  models/asymkey/gpg_key.go
  models/asymkey/gpg_key_verify.go
  models/asymkey/ssh_key.go
  models/asymkey/ssh_key_deploy.go
  models/asymkey/ssh_key_verify.go
  models/auth/oauth2.go
  models/auth/session.go
  models/git/commit_status.go
  models/git/lfs.go
  models/git/lfs_lock.go
  models/issues/comment.go
  models/issues/dependency.go
  models/issues/issue.go
  models/issues/issue_index.go
  models/issues/issue_label.go
  models/issues/issue_lock.go
  models/issues/issue_update.go
  models/issues/label.go
  models/issues/milestone.go
  models/issues/pull.go
  models/issues/reaction.go
  models/issues/review.go
  models/issues/tracked_time.go
  models/organization/org.go
  models/organization/team_unit.go
  models/project/project.go
  models/repo.go
  models/repo/language_stats.go
  models/repo/release.go
  models/repo/star.go
  models/repo/topic.go
  models/repo/update.go
  models/repo/upload.go
  models/user/email_address.go
  models/user/follow.go
  models/webhook/webhook.go
  services/asymkey/deploy_key.go
  services/asymkey/ssh_key.go
  services/asymkey/ssh_key_principals.go
  services/issue/label.go
  services/issue/milestone.go
  services/issue/status.go
  services/org/team.go
  services/packages/cleanup/cleanup.go
  services/packages/packages.go
  services/pull/merge.go
  services/repository/avatar.go
  services/repository/collaboration.go
  services/repository/repo_team.go
  services/repository/setting.go
  services/user/avatar.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, modifies/go

#35124 Improve language in en-US locale strings
  options/locale/locale_en-US.ini
  tests/integration/editor_test.go
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, modifies/go

#35141 Change some columns from text to longtext and fix column wrong type caused by xorm
  go.mod
  go.sum
  models/migrations/migrations.go
  models/migrations/v1_25/main_test.go
  models/migrations/v1_25/v321.go
  models/migrations/v1_25/v321_test.go
  models/packages/package_property.go
  models/system/notice.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, modifies/migrations, modifies/dependencies

#35177 Fix various bugs
  modules/git/commit_submodule_file.go
  modules/git/commit_submodule_file_test.go
  modules/git/utils.go
  modules/git/utils_test.go
  modules/util/truncate.go
  modules/util/truncate_test.go
  routers/web/feed/branch.go
  services/repository/files/tree.go
  services/repository/push.go
  tests/integration/api_repo_git_trees_test.go
  tests/integration/empty_repo_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#35179 A small refactor to use context in the service layer
  routers/web/repo/pull.go
  services/pull/pull.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, modifies/go
