Repository go-gitea/gitea, pull requests merged in 2025-09, with the labels that each got.

#33912 Move HasWiki to repository service package
  models/repo/repo.go
  models/repo/wiki.go
  models/repo/wiki_test.go
  modules/gitrepo/gitrepo.go
  routers/web/repo/wiki.go
  routers/web/repo/wiki_test.go
  services/migrations/gitea_uploader_test.go
  services/mirror/mirror_pull.go
  services/mirror/mirror_push.go
  services/repository/delete.go
  services/repository/hooks.go
  services/repository/migrate.go
  services/repository/repository.go
  services/repository/repository_test.go
  services/repository/transfer.go
  services/wiki/wiki.go
  services/wiki/wiki_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, modifies/go

#33910 Move some functions from package git to gitrepo
  models/repo/repo.go
  modules/git/fsck.go
  modules/gitrepo/fsck.go
  modules/gitrepo/gitrepo.go
  services/migrations/gitea_uploader_test.go
  services/repository/check.go
  services/repository/create.go
  services/repository/template.go
  services/wiki/wiki.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, modifies/go

#35274 Switch to pnpm
  .dockerignore
  .github/labeler.yml
  .github/workflows/files-changed.yml
  .github/workflows/pull-compliance.yml
  .github/workflows/pull-e2e-tests.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release-tag-rc.yml
  .github/workflows/release-tag-version.yml
  .gitignore
  .npmrc
  Dockerfile
  Dockerfile.rootless
  Makefile
  README.md
  flake.nix
  package-lock.json
  package.json
  pnpm-lock.yaml
  tools/.pnpmrc
  tools/package.json
  tools/pnpm-lock.yaml
  webpack.config.js
Labels: lgtm/done, reviewed/wait-merge, modifies/docs, modifies/internal, modifies/dependencies, modifies/frontend

#35150 Refactor and update mail templates
  options/locale/locale_en-US.ini
  services/mailer/mail_issue_common.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  services/mailer/mail_team_invite.go
  services/mailer/mail_test.go
  services/mailer/mail_user.go
  services/mailer/mail_workflow_run.go
  templates/mail/org/team_invite.devtest.yml
  templates/mail/org/team_invite.tmpl
  templates/mail/repo/actions/workflow_run.devtest.yml
  templates/mail/repo/actions/workflow_run.tmpl
  templates/mail/repo/collaborator.devtest.yml
  templates/mail/repo/collaborator.tmpl
  templates/mail/repo/issue/assigned.devtest.yml
  templates/mail/repo/issue/assigned.tmpl
  templates/mail/repo/issue/default.devtest.yml
  templates/mail/repo/issue/default.tmpl
  templates/mail/repo/release.tmpl
  templates/mail/repo/transfer.devtest.yml
  templates/mail/repo/transfer.tmpl
  templates/mail/user/auth/activate.devtest.yml
  templates/mail/user/auth/activate.tmpl
  templates/mail/user/auth/activate_email.devtest.yml
  templates/mail/user/auth/activate_email.tmpl
  templates/mail/user/auth/register_notify.devtest.yml
  templates/mail/user/auth/register_notify.tmpl
  templates/mail/user/auth/reset_passwd.devtest.yml
  templates/mail/user/auth/reset_passwd.tmpl
Labels: lgtm/done, modifies/translation, type/refactoring, reviewed/wait-merge, modifies/go, modifies/templates

#35414 add `/.pnpm-store` to .gitignore
  .gitignore
Labels: lgtm/need 1, skip-changelog

#35415 Switch to `@resvg/resvg-wasm` for `generate-images`
  .gitignore
  Makefile
  package.json
  pnpm-lock.yaml
  public/assets/img/apple-touch-icon.png
  public/assets/img/avatar_default.png
  public/assets/img/favicon.png
  public/assets/img/logo.png
  tools/generate-images.js
  tools/package.json
  tools/pnpm-lock.yaml
Labels: lgtm/done, reviewed/wait-merge, modifies/internal, modifies/dependencies

#35421 Migrate tools and configs to typescript, require node.js >= 22.18.0
  Dockerfile
  Dockerfile.rootless
  Makefile
  package.json
  pnpm-lock.yaml
  stylelint.config.ts
  tailwind.config.ts
  tools/generate-images.ts
  tools/generate-svg.ts
  tools/lint-templates-svg.ts
  tsconfig.json
  types.d.ts
  updates.config.ts
  webpack.config.ts
Labels: lgtm/done, reviewed/wait-merge, modifies/internal, modifies/dependencies, modifies/frontend

#35424 apply as maintainer
  MAINTAINERS
Labels: lgtm/done

#35427 Support Node.js 22.6 with type stripping
  Dockerfile
  Dockerfile.rootless
  Makefile
  package.json
Labels: lgtm/done, modifies/internal, modifies/dependencies

#35429 Update js dependencies
  .eslintrc.cjs
  options/fileicon/material-icon-rules.json
  options/fileicon/material-icon-svgs.json
  package.json
  pnpm-lock.yaml
  public/assets/img/svg/octicon-maximize.svg
  public/assets/img/svg/octicon-mcp.svg
  public/assets/img/svg/octicon-minimize.svg
  public/assets/img/svg/octicon-repo-deleted.svg
  public/assets/img/svg/octicon-repo-locked.svg
  public/assets/img/svg/octicon-repo-push.svg
  tools/.pnpmrc
Labels: lgtm/done, topic/code-linting, modifies/internal, modifies/dependencies

#35434 Update gofumpt, add go.mod ignore directive
  Makefile
  build/code-batch-process.go
  go.mod
Labels: lgtm/done, modifies/go, modifies/internal, modifies/dependencies

#35416 check user and repo for redirects when using git via SSH transport
  cmd/serv.go
  models/fixtures/user_redirect.yml
  routers/private/serv.go
  tests/integration/git_ssh_redirect_test.go
Labels: lgtm/done, reviewed/wait-merge, modifies/go, modifies/cli

#35444 Update JS and PY dependencies
  options/fileicon/material-icon-rules.json
  options/fileicon/material-icon-svgs.json
  package.json
  pnpm-lock.yaml
  public/assets/img/svg/octicon-checkbox-fill.svg
  uv.lock
Labels: lgtm/done, modifies/dependencies

#35443 Fix push commits comments when changing the pull request target branch (#35386)
  services/agit/agit.go
  services/pull/comment.go
  services/pull/pull.go
Labels: lgtm/done, modifies/go

#35441 Fix a compare page 404 bug when the pull request disabled
  routers/web/repo/compare.go
Labels: type/bug, lgtm/done, modifies/go, backport/v1.24

#35389 Extend comment treepath length
  models/issues/comment.go
  models/migrations/migrations.go
  models/migrations/v1_25/v322.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, modifies/migrations

#35474 Fix different behavior in status check pattern matching with double stars
  package.json
  pnpm-lock.yaml
  web_src/js/features/repo-settings.ts
  web_src/js/utils/glob.test.ts
  web_src/js/utils/glob.test.txt
  web_src/js/utils/glob.ts
Labels: type/bug, lgtm/done, modifies/dependencies, modifies/frontend

#35482 Revert the rspack change
  Makefile
  package.json
  pnpm-lock.yaml
  webpack.config.ts
Labels: lgtm/done, modifies/internal, modifies/dependencies, modifies/frontend

#35485 Update eslint to v9
  .eslintrc.cjs
  Makefile
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  types.d.ts
  updates.config.ts
  web_src/js/components/RepoBranchTagSelector.vue
  web_src/js/components/ViewFileTreeStore.ts
  web_src/js/features/codeeditor.ts
  web_src/js/features/common-button.ts
  web_src/js/features/comp/ConfirmModal.ts
  web_src/js/features/comp/Cropper.ts
  web_src/js/features/comp/EditorMarkdown.test.ts
  web_src/js/features/comp/EditorMarkdown.ts
  web_src/js/features/repo-issue.ts
  web_src/js/markup/html2markdown.ts
  web_src/js/modules/diff-file.ts
  web_src/js/modules/fomantic/base.ts
  web_src/js/modules/fomantic/dropdown.ts
  web_src/js/modules/toast.ts
  web_src/js/render/plugin.ts
  web_src/js/svg.ts
  web_src/js/types.ts
  web_src/js/utils/dom.ts
  web_src/js/utils/glob.test.ts
  web_src/js/utils/html.ts
  web_src/js/utils/image.ts
  web_src/js/utils/time.ts
Labels: lgtm/done, topic/code-linting, modifies/internal, modifies/dependencies, modifies/frontend

#35484 Clean up npm dependencies
  package.json
  pnpm-lock.yaml
  updates.config.ts
  web_src/js/components/RepoContributors.vue
  web_src/js/modules/observer.ts
  web_src/js/types.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, modifies/dependencies, modifies/frontend

#35475 Exposing TimeEstimate field in the API
  modules/structs/issue.go
  services/convert/issue.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, modifies/go

#35494 Enable more markdown paste features in textarea editor
  package.json
  pnpm-lock.yaml
  web_src/js/features/comp/EditorUpload.test.ts
  web_src/js/features/comp/EditorUpload.ts
  web_src/js/utils/dom.ts
  web_src/js/utils/url.test.ts
  web_src/js/utils/url.ts
Labels: type/enhancement, lgtm/done, modifies/dependencies, modifies/frontend

#35508 Clean up npm dependencies
  package.json
  pnpm-lock.yaml
  types.d.ts
  webpack.config.ts
Labels: lgtm/done, reviewed/wait-merge, modifies/dependencies, modifies/frontend

#35511 Move updateref and removeref to gitrepo and remove unnecessary open repository
  modules/git/repo_commit_gogit.go
  modules/git/repo_commit_nogogit.go
  modules/git/repo_compare_test.go
  modules/gitrepo/ref.go
  routers/api/v1/repo/issue.go
  routers/web/repo/issue_list.go
  routers/web/repo/issue_new.go
  routers/web/repo/pull.go
  services/issue/issue.go
  services/migrations/gitea_uploader.go
  services/pull/pull.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, modifies/go

#35507 Use global lock instead of status pool for cron lock
  modules/sync/status_pool.go
  modules/sync/status_pool_test.go
  routers/init.go
  services/cron/cron.go
  services/cron/tasks.go
Labels: lgtm/done, type/refactoring, modifies/go

#35392 use experimental go json v2 library
  .github/workflows/pull-db-tests.yml
  Makefile
  go.mod
  go.sum
  modules/assetfs/embed.go
  modules/json/json.go
  modules/json/json_test.go
  modules/json/jsonlegacy.go
  modules/json/jsonv2.go
  modules/lfs/http_client_test.go
  modules/optional/serialization_test.go
  modules/packages/container/metadata.go
  modules/packages/container/metadata_test.go
  services/webhook/deliver_test.go
  services/webhook/matrix.go
  services/webhook/matrix_test.go
  tests/integration/api_packages_swift_test.go
  tests/integration/api_repo_branch_test.go
  tests/integration/integration_test.go
Labels: lgtm/done, modifies/go, modifies/internal, modifies/dependencies

#35544 Drop json-iterator dependency
  go.mod
  modules/json/json.go
  modules/json/jsongoccy.go
  modules/json/jsonlegacy.go
  modules/json/jsonv1.go
  modules/lfs/http_client_test.go
Labels: lgtm/done, skip-changelog, modifies/go, modifies/dependencies
