Repository go-gitea/gitea, pull requests merged in 2025-03, with the labels that each got.

#33748 Fix dynamic content loading init problem
  templates/repo/diff/box.tmpl
  templates/repo/issue/view_content/add_reaction.tmpl
  templates/repo/issue/view_content/conversation.tmpl
  templates/repo/issue/view_content/reactions.tmpl
  templates/shared/search/code/results.tmpl
  web_src/css/repo.css
  web_src/js/features/common-page.ts
  web_src/js/features/comp/ReactionSelector.ts
  web_src/js/features/repo-diff.ts
  web_src/js/features/repo-graph.ts
  web_src/js/index.ts
  web_src/js/modules/dirauto.ts
  web_src/js/modules/observer.ts
Labels: lgtm/done, size/L, modifies/templates, modifies/frontend

#33752 Webhook add X-Gitea-Hook-Installation-Target-Type Header
  services/webhook/deliver.go
  services/webhook/matrix.go
  services/webhook/payloader.go
  tests/integration/repo_webhook_test.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/S, modifies/go

#33754 upgrade go-crypto from 1.1.4 to 1.1.6 (#33745)
  Makefile
  go.mod
  go.sum
Labels: lgtm/done, size/S, modifies/internal, modifies/dependencies

#33760 Upgrade act to 0.261.4 and actions-proto-go to v0.4.1
  go.mod
  go.sum
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/dependencies

#33765 Use pullrequestlist instead of []*pullrequest
  models/issues/pull_list.go
  models/issues/pull_list_test.go
  services/pull/pull.go
Labels: lgtm/done, type/refactoring, size/M, modifies/go

#33755 Refactor global init code and add more comments
  modules/markup/sanitizer_default_test.go
  templates/base/alert.tmpl
  templates/repo/issue/new_form.tmpl
  web_src/js/features/autofocus-end.ts
  web_src/js/features/common-page.ts
  web_src/js/features/repo-diff.ts
  web_src/js/index.ts
  web_src/js/modules/init.ts
  web_src/js/modules/observer.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, size/L, modifies/go, modifies/templates, modifies/frontend

#33768 Refactor mail code
  services/mailer/mail.go
  services/mailer/mail_issue.go
  services/mailer/mail_issue_common.go
  services/mailer/mail_release.go
  services/mailer/mail_repo.go
  services/mailer/mail_team_invite.go
  services/mailer/mail_user.go
Labels: lgtm/done, type/refactoring, size/XXL, modifies/go

#33556 Add migrations and doctor fixes
  models/actions/runner.go
  models/actions/variable.go
  models/migrations/migrations.go
  models/migrations/v1_24/v314.go
  models/secret/secret.go
  services/doctor/dbconsistency.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/migrations

#33771 Refactor error system
  models/asymkey/error.go
  models/db/name.go
  models/repo/archiver.go
  models/user/must_change_password.go
  modules/packages/conda/metadata.go
  modules/translation/i18n/errors.go
  modules/translation/i18n/format.go
  modules/translation/i18n/localestore.go
  modules/util/error.go
  routers/web/repo/actions/view.go
  services/actions/workflow.go
  services/release/release.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go

#33662 Disable `vet` as part of `go test`
  .github/workflows/pull-compliance.yml
  Makefile
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/internal

#33772 Refactor markup and pdf-viewer to use new init framework
  templates/org/home.tmpl
  templates/projects/list.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/issue/fields/markdown.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/milestones.tmpl
  templates/repo/release/list.tmpl
  templates/repo/settings/lfs_file.tmpl
  templates/repo/view_file.tmpl
  templates/repo/wiki/view.tmpl
  templates/shared/combomarkdowneditor.tmpl
  templates/user/dashboard/feeds.tmpl
  templates/user/dashboard/milestones.tmpl
  templates/user/profile.tmpl
  web_src/css/editor/fileeditor.css
  web_src/css/markup/content.css
  web_src/css/shared/milestone.css
  web_src/js/features/repo-editor.ts
  web_src/js/features/repo-issue-edit.ts
  web_src/js/features/repo-wiki.ts
  web_src/js/index.ts
  web_src/js/markup/asciicast.ts
  web_src/js/markup/codecopy.ts
  web_src/js/markup/content.ts
  web_src/js/markup/math.ts
  web_src/js/markup/mermaid.ts
  web_src/js/markup/tasklist.ts
  web_src/js/modules/observer.ts
  web_src/js/render/pdf.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/templates, modifies/frontend

#33774 Refactor buttons to use new init framework
  templates/repo/commits_list.tmpl
  templates/repo/latest_commit.tmpl
  templates/repo/view_file.tmpl
  web_src/js/features/common-button.ts
  web_src/js/features/copycontent.ts
  web_src/js/features/repo-commit.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/templates, modifies/frontend

#33776 Refactor initRepoBranchTagSelector to use new init framework
  templates/repo/branch_dropdown.tmpl
  templates/repo/release/list.tmpl
  web_src/css/repo/release-tag.css
  web_src/js/features/repo-legacy.ts
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/S, modifies/templates, modifies/frontend

#33778 Adjust appearence of commit status webhook
  services/webhook/general.go
  services/webhook/matrix.go
Labels: type/enhancement, lgtm/done, topic/webhooks, reviewed/wait-merge, size/S, modifies/go, backport/v1.23

#33788 Refactor admin/common.ts
  web_src/js/features/admin/common.ts
Labels: lgtm/done, type/refactoring, size/L, modifies/frontend

#33785 Refactor repo-settings.ts
  web_src/js/features/repo-settings.ts
Labels: lgtm/done, type/refactoring, size/M, modifies/frontend

#33784 Refactor repo-issue.ts
  .github/workflows/pull-db-tests.yml
  options/locale/locale_en-US.ini
  templates/repo/issue/sidebar/issue_dependencies.tmpl
  templates/repo/issue/sidebar/wip_switch.tmpl
  templates/repo/issue/view_content/pull.tmpl
  templates/repo/issue/view_content/pull_merge_instruction.tmpl
  templates/repo/issue/view_content/update_branch_by_merge.tmpl
  web_src/js/features/repo-issue.ts
  web_src/js/features/repo-legacy.ts
  web_src/js/index.ts
Labels: lgtm/done, modifies/translation, type/refactoring, reviewed/wait-merge, size/L, modifies/templates, modifies/internal, modifies/frontend

#33779 Small refactor to reduce unnecessary database queries and remove duplicated functions
  models/actions/schedule.go
  models/actions/schedule_spec_list.go
  models/db/context.go
  models/issues/issue.go
  models/issues/label.go
  models/organization/team_list.go
  models/project/column.go
  models/repo/repo.go
  models/repo/repo_list.go
  models/user/user_list.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go

#33780 Add changelog for 1.23.5
  CHANGELOG.md
Labels: lgtm/done, frontport/main, reviewed/wait-merge, size/S, modifies/docs

#33795 Upgrade golang net from 0.35.0 -> 0.36.0
  go.mod
  go.sum
Labels: lgtm/done, size/XS, modifies/dependencies, backport/v1.23

#33796 Upgrade golang net from 0.35.0 -> 0.36.0 #33795
  go.mod
  go.sum
Labels: lgtm/need 1, size/XS, modifies/dependencies

#33794 Disable vet=off again
  Makefile
Labels: lgtm/done, skip-changelog, size/XS, modifies/internal

#32061 Email option to embed images as base64 instead of link
  custom/conf/app.example.ini
  modules/httplib/url.go
  modules/httplib/url_test.go
  modules/setting/mailer.go
  services/mailer/mail.go
  services/mailer/mail_issue_common.go
  services/mailer/mail_test.go
Labels: type/feature, lgtm/done, reviewed/wait-merge, size/L, modifies/go, docs-update-needed

#33742 Refactor: move part of updating protected branch logic to service layer
  routers/api/v1/repo/branch.go
  routers/web/repo/setting/protected_branch.go
  services/forms/repo_form.go
  services/pull/protected_branch.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/L, modifies/go

#33811 remove context from mail struct
  services/mailer/mail_comment.go
  services/mailer/mail_issue.go
  services/mailer/mail_issue_common.go
  services/mailer/mail_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/go

#33807 Try to fix ACME (3rd)
  cmd/web_acme.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go, modifies/cli

#33816 [Bug] Use correct start and end commits for GetDiffTree
  routers/web/repo/pull.go
Labels: lgtm/done, skip-changelog, size/XS, modifies/go

#33819 Support disable passkey auth (#33348)
  custom/conf/app.example.ini
  modules/setting/service.go
  routers/web/auth/auth.go
  routers/web/auth/linkaccount.go
  routers/web/auth/webauthn.go
  templates/user/auth/signin_inner.tmpl
  tests/integration/signin_test.go
  web_src/js/features/user-auth-webauthn.ts
Labels: lgtm/done, size/M, modifies/go, modifies/templates, modifies/frontend, docs-update-needed

#33820 Do not show passkey on http sites
  web_src/js/features/user-auth-webauthn.ts
Labels: type/enhancement, lgtm/done, backport/done, size/S, backport/manual, modifies/frontend, backport/v1.23

#33808 Try to fix ACME (3rd) (#33807)
  cmd/web_acme.go
Labels: lgtm/done, size/XS, modifies/go, modifies/cli

#33817 Do not call "git diff" when listing PRs
  modules/structs/pull.go
  services/convert/pull.go
  tests/integration/api_pull_test.go
  tests/integration/repo_webhook_test.go
Labels: lgtm/done, size/M, modifies/go

#33810 Decouple diff stats query from actual diffing
  modules/git/repo_compare.go
  modules/structs/pull.go
  routers/api/v1/repo/pull.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/editor.go
  routers/web/repo/pull.go
  services/convert/git_commit.go
  services/convert/pull.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  services/repository/files/diff_test.go
  services/repository/files/temp_repo.go
  templates/repo/diff/box.tmpl
  templates/repo/pulls/tab_menu.tmpl
  tests/integration/api_pull_test.go
  tests/integration/repo_webhook_test.go
Labels: lgtm/done, modifies/api, size/L, modifies/go, modifies/templates

#33814 Improve log format
  models/db/engine_hook.go
  models/db/log.go
  modules/log/event_format.go
  modules/log/logger.go
  modules/log/logger_global.go
  modules/log/logger_impl.go
  modules/log/logger_test.go
  modules/log/manager_test.go
  modules/log/misc.go
  modules/web/routing/logger.go
  services/context/access_log.go
  services/context/access_log_test.go
  services/doctor/doctor.go
Labels: type/enhancement, lgtm/done, size/L, modifies/go

#33823 Decouple context from repository related structs
  models/activities/action.go
  models/organization/org_test.go
  models/repo/org_repo.go
  services/org/user.go
  services/packages/cargo/index.go
  services/repository/files/cherry_pick.go
  services/repository/files/diff.go
  services/repository/files/patch.go
  services/repository/files/temp_repo.go
  services/repository/files/update.go
  services/repository/files/upload.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/go

#30671 Improve theme display
  routers/web/user/setting/profile.go
  services/webtheme/webtheme.go
  services/webtheme/webtheme_test.go
  templates/user/settings/appearance.tmpl
  web_src/css/themes/theme-gitea-auto-protanopia-deuteranopia.css
  web_src/css/themes/theme-gitea-auto.css
  web_src/css/themes/theme-gitea-dark-protanopia-deuteranopia.css
  web_src/css/themes/theme-gitea-dark.css
  web_src/css/themes/theme-gitea-light-protanopia-deuteranopia.css
  web_src/css/themes/theme-gitea-light.css
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/frontend

#33766 Full-file syntax highlighting for diff pages
  modules/git/blob.go
  modules/highlight/highlight.go
  routers/api/v1/repo/pull.go
  routers/web/repo/blame.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/pull.go
  services/gitdiff/gitdiff.go
  services/gitdiff/gitdiff_test.go
  services/gitdiff/highlightdiff.go
  services/gitdiff/highlightdiff_test.go
  services/repository/files/diff_test.go
  templates/repo/diff/image_diff.tmpl
  tests/integration/pull_commit_test.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, size/XL, modifies/go, modifies/templates

#33825 Move notifywatch to service layer
  models/activities/action.go
  models/activities/action_test.go
  routers/web/feed/convert.go
  services/feed/feed.go
  services/feed/feed_test.go
  services/feed/notifier.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/go

#33837 Add material icons for file list
  custom/conf/app.example.ini
  modules/base/tool.go
  modules/fileicon/basic.go
  modules/fileicon/material.go
  modules/reqctx/datastore.go
  modules/setting/ui.go
  modules/templates/helper.go
  modules/templates/util_render.go
  modules/templates/util_render_legacy.go
  modules/templates/util_render_test.go
  options/fileicon/material-icon-rules.json
  options/fileicon/material-icon-svgs.json
  package-lock.json
  package.json
  public/assets/img/svg/material-folder-generic.svg
  public/assets/img/svg/material-folder-symlink.svg
  templates/repo/view_list.tmpl
  tests/integration/repo_test.go
  tools/generate-svg.js
  web_src/css/modules/svg.css
  web_src/svg/material-folder-generic.svg
  web_src/svg/material-folder-symlink.svg
Labels: type/feature, lgtm/done, size/XXL, modifies/go, modifies/templates, modifies/dependencies, modifies/frontend, docs-update-needed

#33844 Fix material icon & diff highlight
  modules/fileicon/material.go
  modules/fileicon/material_test.go
  modules/git/commit_info_nogogit.go
  options/fileicon/material-icon-rules.json
  routers/web/repo/compare.go
  services/gitdiff/gitdiff.go
  services/gitdiff/highlightdiff.go
  services/gitdiff/highlightdiff_test.go
  services/repository/files/diff_test.go
  tools/generate-svg.js
Labels: lgtm/done, skip-changelog, size/XXL, modifies/go

#33846 Remove "noscript" tag from html head
  templates/base/head.tmpl
Labels: lgtm/done, skip-changelog, size/XS, modifies/templates

#33829 Fix test code
  tests/integration/api_activitypub_person_test.go
  tests/integration/api_admin_org_test.go
  tests/integration/api_nodeinfo_test.go
  tests/integration/org_count_test.go
  tests/integration/pull_commit_test.go
  tests/integration/user_avatar_test.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/L, modifies/go

#33764 Fix auto concurrency cancellation skips commit status updates
  models/actions/run.go
  models/actions/schedule.go
  routers/api/v1/repo/repo.go
  routers/web/repo/setting/setting.go
  services/actions/clear_tasks.go
  services/actions/notifier_helper.go
  services/actions/schedule_tasks.go
  services/actions/workflow.go
  services/repository/branch.go
  services/repository/setting.go
Labels: type/bug, lgtm/done, modifies/api, size/M, modifies/go, backport/v1.23

#33845 Drop fomantic build
  .dockerignore
  .gitattributes
  .gitignore
  Makefile
  web_src/css/form.css
  web_src/css/index.css
  web_src/css/modules/tab.css
  web_src/fomantic/.npmrc
  web_src/fomantic/build/components/api.js
  web_src/fomantic/build/components/dropdown.css
  web_src/fomantic/build/components/dropdown.js
  web_src/fomantic/build/components/form.css
  web_src/fomantic/build/components/modal.css
  web_src/fomantic/build/components/modal.js
  web_src/fomantic/build/components/search.css
  web_src/fomantic/build/components/search.js
  web_src/fomantic/build/fomantic.css
  web_src/fomantic/build/fomantic.js
  web_src/fomantic/build/semantic.css
  web_src/fomantic/build/semantic.js
  web_src/fomantic/build/themes/default/assets/fonts/icons.woff2
  web_src/fomantic/build/themes/default/assets/fonts/outline-icons.woff2
  web_src/fomantic/package-lock.json
  web_src/fomantic/package.json
  web_src/fomantic/theme.config.less
  web_src/js/features/common-page.ts
  web_src/js/features/imagediff.ts
  web_src/js/modules/fomantic.ts
  web_src/js/modules/fomantic/tab.ts
  webpack.config.js
Labels: lgtm/done, topic/build, reviewed/wait-merge, size/XXL, modifies/internal, modifies/frontend

#33849 Fix auto concurrency cancellation skips commit status updates (#33764)
  models/actions/run.go
  models/actions/schedule.go
  routers/api/v1/repo/repo.go
  routers/web/repo/actions/view.go
  routers/web/repo/setting/setting.go
  services/actions/clear_tasks.go
  services/actions/notifier_helper.go
  services/actions/schedule_tasks.go
  services/repository/branch.go
  services/repository/setting.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, size/M, modifies/go

#33694 Add workflow_job webhook
  models/webhook/webhook_test.go
  modules/structs/hook.go
  modules/structs/repo_actions.go
  modules/webhook/type.go
  options/locale/locale_en-US.ini
  routers/api/actions/runner/runner.go
  routers/api/v1/utils/hook.go
  routers/web/repo/actions/view.go
  routers/web/repo/setting/webhook.go
  services/actions/clear_tasks.go
  services/actions/job_emitter.go
  services/actions/notifier_helper.go
  services/actions/schedule_tasks.go
  services/actions/task.go
  services/actions/workflow.go
  services/forms/repo_form.go
  services/notify/notifier.go
  services/notify/notify.go
  services/notify/null.go
  services/webhook/dingtalk.go
  services/webhook/discord.go
  services/webhook/feishu.go
  services/webhook/general.go
  services/webhook/matrix.go
  services/webhook/msteams.go
  services/webhook/notifier.go
  services/webhook/packagist.go
  services/webhook/payloader.go
  services/webhook/slack.go
  services/webhook/telegram.go
  services/webhook/wechatwork.go
  templates/repo/settings/webhook/settings.tmpl
  tests/integration/repo_webhook_test.go
Labels: lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/XL, modifies/go, modifies/templates

#33851 Fix various Fomantic UI and htmx problems
  .dockerignore
  web_src/fomantic/build/components/api.js
  web_src/fomantic/build/components/dropdown.js
  web_src/fomantic/build/fomantic.js
  web_src/js/features/repo-diff.ts
  web_src/js/globals.d.ts
  web_src/js/modules/fomantic.ts
  web_src/js/modules/fomantic/api.ts
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/internal, modifies/frontend

#33861 Refactor cache-control
  modules/httpcache/httpcache.go
  modules/httplib/serve.go
  modules/httplib/serve_test.go
  modules/public/public.go
  routers/api/v1/repo/file.go
  routers/common/errpage.go
  routers/common/serve.go
  routers/web/base.go
  routers/web/misc/misc.go
  routers/web/repo/download.go
  routers/web/repo/wiki.go
  routers/web/user/avatar.go
  routers/web/web.go
  services/context/api.go
  services/context/context.go
Labels: lgtm/done, type/refactoring, modifies/api, size/L, modifies/go

#33860 Improve issue & code search
  modules/git/grep.go
  modules/indexer/code/bleve/bleve.go
  modules/indexer/code/elasticsearch/elasticsearch.go
  modules/indexer/code/gitgrep/gitgrep.go
  modules/indexer/code/indexer.go
  modules/indexer/code/indexer_test.go
  modules/indexer/code/internal/indexer.go
  modules/indexer/code/internal/util.go
  modules/indexer/code/internal/util_test.go
  modules/indexer/code/search.go
  modules/indexer/indexer.go
  modules/indexer/internal/bleve/query.go
  modules/indexer/issues/bleve/bleve.go
  modules/indexer/issues/db/db.go
  modules/indexer/issues/elasticsearch/elasticsearch.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/internal/indexer.go
  modules/indexer/issues/internal/model.go
  modules/indexer/issues/meilisearch/meilisearch.go
  options/locale/locale_en-US.ini
  routers/common/codesearch.go
  routers/web/explore/code.go
  routers/web/repo/search.go
  routers/web/user/code.go
  routers/web/user/home.go
  templates/shared/search/code/results.tmpl
  templates/shared/search/code/search.tmpl
  templates/shared/search/combo.tmpl
  templates/shared/search/combo_fuzzy.tmpl
  templates/shared/search/fuzzy.tmpl
  templates/user/dashboard/issues.tmpl
Labels: lgtm/done, modifies/translation, type/refactoring, size/L, modifies/go, modifies/templates

#33870 Fix markdown render
  modules/markup/markdown/markdown.go
  modules/markup/markdown/markdown_attention_test.go
  modules/markup/markdown/transform_blockquote.go
  modules/markup/renderer_test.go
Labels: type/bug, lgtm/done, size/M, modifies/go, backport/v1.23

#33871 remove context from retry downloader
  modules/migration/retry_downloader.go
  services/migrations/migrate.go
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/go

#33744 Pull request updates will also trigger code owners review requests
  routers/web/repo/view_file.go
  services/issue/issue.go
  services/issue/pull.go
  services/pull/merge.go
  services/pull/pull.go
  services/pull/update.go
  services/repository/push.go
  tests/integration/pull_review_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/L, modifies/go, backport/v1.23

#33874 Add abstraction layer to check if the repository exists on disk
  modules/gitrepo/gitrepo.go
  modules/repository/init.go
  services/repository/adopt.go
  services/repository/create.go
  services/repository/fork.go
  services/repository/generate.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go

#33877 Improve repo commit view
  options/locale/locale_en-US.ini
  routers/web/repo/view_home.go
  routers/web/web.go
  templates/repo/commits_list.tmpl
  tests/integration/html_helper.go
  tests/integration/links_test.go
  tests/integration/oauth_test.go
  tests/integration/signin_test.go
  tests/integration/timetracking_test.go
  tests/integration/user_settings_test.go
  tests/integration/user_test.go
  tests/integration/view_test.go
Labels: type/enhancement, lgtm/done, modifies/translation, size/L, modifies/go, modifies/templates

#33864 Ignore trivial errors when updating push data
  services/gitdiff/gitdiff.go
  services/repository/push.go
Labels: lgtm/done, size/M, modifies/go, backport/v1.23

#33888 Fix maven panic when no package exists
  routers/api/packages/maven/maven.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/XS, modifies/go, backport/v1.23

#33863 Make SearchMode have default value and add comments
  modules/indexer/code/bleve/bleve.go
  modules/indexer/code/elasticsearch/elasticsearch.go
  modules/indexer/code/indexer_test.go
  modules/indexer/issues/bleve/bleve.go
  modules/indexer/issues/db/db.go
  modules/indexer/issues/elasticsearch/elasticsearch.go
  modules/indexer/issues/indexer.go
  modules/indexer/issues/indexer_test.go
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/M, modifies/go

#33879 Add abstraction layer to delete repository from disk
  modules/gitrepo/gitrepo.go
  routers/web/repo/blame.go
  services/repository/create.go
  services/repository/delete.go
  services/repository/fork.go
  services/repository/transfer.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go

#33570 Feature: Ephemeral action runners
  models/actions/runner.go
  models/migrations/migrations.go
  models/migrations/v1_24/v315.go
  routers/api/actions/runner/runner.go
  services/actions/cleanup.go
  services/actions/task.go
  tests/integration/actions_job_test.go
  tests/integration/actions_log_test.go
  tests/integration/actions_runner_test.go
  tests/integration/repo_webhook_test.go
Labels: lgtm/done, modifies/api, size/L, modifies/go, modifies/migrations

#33895 Fix cannot delete runners via the modal dialog
  templates/shared/actions/runner_edit.tmpl
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/templates

#33876 Add lock for a repository pull mirror
  services/mirror/mirror_pull.go
Labels: lgtm/done, reviewed/wait-merge, size/S, modifies/go

#33508 Give organisation members access to organisation feeds
  models/unittest/fixtures_loader.go
  routers/web/feed/profile.go
  routers/web/feed/profile_test.go
  tests/integration/actions_job_test.go
  tests/integration/actions_log_test.go
  tests/integration/api_repo_file_get_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go

#33900 Add missing translation
  options/locale/locale_en-US.ini
  templates/repo/view_file_tree.tmpl
Labels: type/bug, lgtm/done, modifies/translation, skip-changelog, reviewed/wait-merge, size/XS, modifies/templates

#33891 Move git references checking to gitrepo packages to reduce expose of repository path
  modules/git/repo_tag.go
  modules/gitrepo/branch.go
  modules/gitrepo/tag.go
  routers/api/v1/repo/branch.go
  routers/api/v1/repo/pull.go
  routers/api/v1/repo/repo.go
  routers/private/hook_pre_receive.go
  routers/web/repo/compare.go
  routers/web/repo/issue_comment.go
  routers/web/repo/issue_view.go
  routers/web/repo/pull.go
  routers/web/repo/release.go
  routers/web/repo/setting/default_branch.go
  services/agit/agit.go
  services/automerge/automerge.go
  services/context/api.go
  services/context/repo.go
  services/pull/commit_status.go
  services/pull/protected_branch.go
  services/pull/pull.go
  services/pull/temp_repo.go
  services/release/release.go
  services/repository/branch.go
  services/wiki/wiki.go
Labels: lgtm/done, type/refactoring, modifies/api, size/L, modifies/go

#33892 Refactor functions to reduce repopath expose
  models/git/commit_status.go
  modules/indexer/stats/db.go
  modules/repository/commits.go
  modules/repository/commits_test.go
  services/actions/notifier.go
  services/webhook/notifier.go
Labels: lgtm/done, type/refactoring, size/M, modifies/go

#33903 Update JS and PY deps, misc tweaks
  .eslintrc.cjs
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tsconfig.json
  updates.config.js
  web_src/js/features/repo-issue-sidebar-combolist.ts
  web_src/js/htmx.ts
  webpack.config.js
Labels: lgtm/done, reviewed/wait-merge, size/M, modifies/internal, modifies/dependencies, modifies/frontend

#33906 Simplify secure context check
  web_src/js/features/user-auth-webauthn.ts
Labels: lgtm/done, skip-changelog, size/S, modifies/frontend

#33905 Replace text-align classes with tailwind
  templates/admin/dashboard.tmpl
  templates/devtest/fomantic-modal.tmpl
  templates/install.tmpl
  templates/org/team/new.tmpl
  templates/org/team/teams.tmpl
  templates/projects/view.tmpl
  templates/repo/branch/list.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/commits_list.tmpl
  templates/repo/diff/box.tmpl
  templates/repo/issue/choose.tmpl
  templates/repo/issue/milestone_issues.tmpl
  templates/repo/issue/new_form.tmpl
  templates/repo/issue/sidebar/issue_management.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  templates/repo/issue/view_content.tmpl
  templates/repo/issue/view_content/reference_issue_dialog.tmpl
  templates/repo/migrate/migrating.tmpl
  templates/repo/pulse.tmpl
  templates/repo/settings/branches.tmpl
  templates/repo/settings/lfs.tmpl
  templates/repo/settings/lfs_locks.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/settings/tags.tmpl
  templates/repo/wiki/new.tmpl
  templates/repo/wiki/pages.tmpl
  templates/repo/wiki/revision.tmpl
  templates/shared/actions/runner_list.tmpl
  templates/shared/user/block_user_dialog.tmpl
  templates/shared/user/blocked_users.tmpl
  templates/user/auth/grant.tmpl
  templates/user/auth/grant_error.tmpl
  templates/user/auth/webauthn.tmpl
  templates/user/notification/notification_subscriptions.tmpl
  web_src/css/base.css
  web_src/css/modules/container.css
  web_src/css/modules/grid.css
  web_src/css/modules/modal.css
  web_src/css/modules/segment.css
  web_src/css/modules/table.css
Labels: lgtm/done, type/refactoring, skip-changelog, size/L, modifies/templates, modifies/frontend

#33907 Update tool dependencies
  Makefile
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal

#33919 Defer captcha script loading
  templates/user/auth/captcha.tmpl
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/templates

#33901 Try to figure out attribute checker problem
  modules/git/command.go
  modules/git/repo_attribute.go
  modules/git/repo_attribute_test.go
  services/gitdiff/gitdiff.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go

#33902 Try to figure out attribute checker problem (#33901)
  modules/git/command.go
  modules/git/repo_attribute.go
  modules/git/repo_attribute_test.go
  services/gitdiff/gitdiff.go
Labels: lgtm/done, size/L, modifies/go

#33526 Added Description Field for Secrets and Variables
  models/actions/variable.go
  models/migrations/migrations.go
  models/migrations/v1_24/v316.go
  models/secret/secret.go
  modules/structs/secret.go
  modules/structs/variable.go
  options/locale/locale_en-US.ini
  routers/api/v1/org/action.go
  routers/api/v1/repo/action.go
  routers/api/v1/user/action.go
  routers/web/shared/actions/variables.go
  routers/web/shared/secrets/secrets.go
  services/actions/variables.go
  services/forms/user_form.go
  services/secrets/secrets.go
  templates/shared/secrets/add_list.tmpl
  templates/shared/variables/variable_list.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/actions_variables_test.go
  tests/integration/api_repo_secrets_test.go
Labels: lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/migrations

#33923 update go version for devcontainers
  .devcontainer/devcontainer.json
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal

#33932 Fix incorrect 1.23 translations
  options/locale/locale_zh-CN.ini
Labels: lgtm/done, modifies/translation, size/XS

#33920 Optimize Layout Styles of Filelist
  templates/repo/view_list.tmpl
  web_src/css/repo/home-file-list.css
Labels: lgtm/done, skip-changelog, size/M, modifies/templates, modifies/frontend

#33939 Fix "toAbsoluteLocaleDate" test when system locale is not en-US
  web_src/js/webcomponents/absolute-date.test.ts
Labels: lgtm/done, size/XS, modifies/frontend

#33924 Don't create duplicated functions for code repositories and wiki repositories
  models/repo/repo.go
  modules/gitrepo/branch.go
  modules/gitrepo/gitrepo.go
  modules/gitrepo/hooks.go
  modules/repository/init.go
  routers/api/v1/repo/wiki.go
  routers/web/repo/commit.go
  routers/web/repo/compare.go
  routers/web/repo/wiki.go
  routers/web/repo/wiki_test.go
  services/asymkey/sign.go
  services/doctor/misc.go
  services/mirror/mirror_push.go
  services/repository/adopt.go
  services/repository/fork.go
  services/repository/hooks.go
  services/repository/migrate.go
  services/repository/transfer.go
  services/wiki/wiki.go
  services/wiki/wiki_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, size/L, modifies/go

#33933 Add cli flags LDAP group configuration
  cmd/admin_auth_ldap.go
  cmd/admin_auth_ldap_test.go
Labels: type/feature, lgtm/done, reviewed/wait-merge, size/M, modifies/go, modifies/cli

#33853 Optimize heatmap query
  models/activities/action.go
  models/migrations/migrations.go
  models/migrations/v1_24/v317.go
Labels: lgtm/done, performance/speed, size/M, modifies/go, modifies/migrations

#33944 Extract code to their own functions for push update
  services/repository/push.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/L, modifies/go

#33841 Optimize total count of feed when loading activities in user dashboard.
  models/activities/action.go
  models/activities/action_list.go
  routers/web/user/home.go
  services/feed/feed.go
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/M, modifies/go

#33343 Allow filtering issues by any assignee
  models/db/search.go
  models/issues/issue_search.go
  models/issues/issue_test.go
  modules/indexer/issues/bleve/bleve.go
  modules/indexer/issues/db/options.go
  modules/indexer/issues/dboptions.go
  modules/indexer/issues/elasticsearch/elasticsearch.go
  modules/indexer/issues/indexer_test.go
  modules/indexer/issues/internal/model.go
  modules/indexer/issues/internal/tests/tests.go
  modules/indexer/issues/meilisearch/meilisearch.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/issue.go
  routers/web/org/projects.go
  routers/web/repo/issue_list.go
  routers/web/repo/projects.go
  routers/web/shared/user/helper.go
  routers/web/user/home.go
  templates/projects/view.tmpl
  templates/repo/issue/filter_item_user_assign.tmpl
  templates/repo/issue/filter_list.tmpl
  web_src/fomantic/build/components/dropdown.js
Labels: type/enhancement, lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, size/L, modifies/go, modifies/templates, modifies/frontend

#33961 Fix oauth2 auth and UI
  routers/web/auth/oauth2_provider.go
  templates/user/auth/grant.tmpl
  templates/user/auth/grant_error.tmpl
Labels: lgtm/done, backport/done, size/M, modifies/go, backport/manual, modifies/templates, backport/v1.23

#33962 Fix oauth2 auth (#33961)
  routers/web/auth/oauth2_provider.go
Labels: lgtm/done, size/XS, modifies/go

#33959 Fix file name could not be searched if the file was not a text file when using the Bleve indexer
  modules/indexer/code/bleve/bleve.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go

#33947 Drop timeout for requests made to the internal hook api
  modules/private/hook.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/S, modifies/go, backport/v1.23

#33960 Cover `go.mod` and `go.sum` in `.editorconfig`
  .editorconfig
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal

#33969 Improve oauth2 error handling
  options/locale/locale_en-US.ini
  routers/web/auth/auth_test.go
  routers/web/auth/oauth.go
  tests/integration/oauth_test.go
Labels: type/enhancement, lgtm/done, modifies/translation, reviewed/wait-merge, size/M, modifies/go

#33984 update jwt and redis packages
  go.mod
  go.sum
Labels: lgtm/done, size/XS, modifies/dependencies, backport/v1.23

#33987 update jwt and redis packages (#33984)
  go.mod
  go.sum
Labels: lgtm/done, size/XS, modifies/dependencies

#33989 Update golang crypto and net for 1.23
  go.mod
  go.sum
Labels: lgtm/done, size/S, modifies/dependencies

#33981 Only use prev and next buttons for pagination on user dashboard
  modules/paginator/paginator.go
  modules/paginator/paginator_test.go
  routers/web/user/home.go
  services/context/pagination.go
  services/feed/feed.go
  templates/base/paginate.tmpl
  templates/user/dashboard/dashboard.tmpl
Labels: lgtm/done, performance/speed, reviewed/wait-merge, size/L, modifies/go, modifies/templates

#33979 Move ParseBool to optional
  modules/optional/option.go
  modules/optional/option_test.go
  modules/setting/setting.go
  modules/util/util.go
  modules/util/util_test.go
  routers/web/admin/users.go
Labels: lgtm/done, type/refactoring, skip-changelog, reviewed/wait-merge, size/M, modifies/go

#33971 Auto expand "New PR" form
  routers/private/hook_post_receive.go
  routers/web/repo/compare.go
  routers/web/repo/pull.go
  routers/web/web.go
  templates/repo/branch/list.tmpl
  templates/repo/code/recently_pushed_new_branches.tmpl
  templates/repo/diff/compare.tmpl
  templates/repo/view_content.tmpl
  tests/integration/pull_compare_test.go
Labels: type/enhancement, lgtm/done, size/L, modifies/go, modifies/templates

#33992 Fix incorrect code search indexer options
  modules/indexer/code/bleve/bleve.go
Labels: lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.23

#33975 Add changelog for 1.23.6
  CHANGELOG.md
Labels: lgtm/need 1, size/S, modifies/docs

#34000 Add changelog for 1.23.6 (#33975)
  CHANGELOG.md
Labels: lgtm/done, size/S, modifies/docs

#33978 Use filepath.Join instead of path.Join for file system file operations
  models/repo/upload.go
  modules/git/hook.go
  modules/git/repo_commitgraph_gogit.go
  modules/repository/create.go
  modules/repository/temp.go
  modules/setting/log.go
  modules/setting/repository.go
  modules/setting/ssh.go
  services/doctor/misc.go
  services/repository/adopt_test.go
  tests/integration/git_helper_for_declarative_test.go
  tests/integration/migration-test/migration_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go

#33986 Fix some migration and repo name problems
  models/user/user_system.go
  modules/json/json.go
  modules/json/json_test.go
  services/auth/oauth2_test.go
  services/doctor/fix16961_test.go
  services/migrations/gitlab.go
  services/repository/migrate.go
  tests/integration/mirror_pull_test.go
  web_src/js/features/repo-common.test.ts
  web_src/js/features/repo-common.ts
  web_src/js/features/repo-migration.ts
  web_src/js/features/repo-new.ts
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go, modifies/frontend

#33988 Update go mod dependencies
  .github/workflows/pull-db-tests.yml
  assets/go-licenses.json
  go.mod
  go.sum
Labels: lgtm/done, size/L, modifies/internal, modifies/dependencies

#34005 Git client will follow 301 but 307
  services/context/repo.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.23

#33977 Move duplicated functions
  modules/git/hook.go
  modules/git/repo_base_gogit.go
  modules/git/repo_base_nogogit.go
  modules/git/utils.go
Labels: lgtm/done, type/refactoring, size/M, modifies/go

#34012 Enable color output in govulncheck
  Makefile
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/XS, modifies/internal

#34014 Fix dropdown delegating and some UI problems
  modules/templates/util_avatar.go
  templates/repo/icon.tmpl
  web_src/fomantic/build/components/dropdown.js
  web_src/js/modules/fomantic/dropdown.test.ts
  web_src/js/modules/fomantic/dropdown.ts
  web_src/js/modules/observer.ts
Labels: lgtm/done, skip-changelog, size/L, modifies/go, modifies/templates, modifies/frontend

#34025 Polyfill WeakRef
  web_src/js/webcomponents/polyfill.test.ts
  web_src/js/webcomponents/polyfills.ts
Labels: lgtm/done, size/S, modifies/frontend, backport/v1.23

#34026 Fix dropdown module accessing
  web_src/js/modules/fomantic/dropdown.ts
Labels: lgtm/done, skip-changelog, size/XS, modifies/frontend

#34002 Fail mirroring more gracefully
  services/mirror/mirror_pull.go
  services/mirror/mirror_pull_test.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, size/M, modifies/go

#33858 Download actions job logs from API
  models/actions/run_job.go
  models/actions/run_job_list.go
  routers/api/v1/api.go
  routers/api/v1/repo/actions_run.go
  routers/common/actions.go
  routers/web/repo/actions/view.go
  templates/swagger/v1_json.tmpl
  tests/integration/actions_log_test.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go

#34029 Try to fix check-attr bug
  modules/git/repo_attribute.go
Labels: type/bug, lgtm/done, size/XS, modifies/go, backport/v1.23

#34035 Fix the issue with error message logging for the `check-attr` command on Windows OS.
  modules/git/command.go
Labels: lgtm/done, size/XS, modifies/go, backport/v1.23

#34030 fix org repo creation being limited by user limits
  routers/web/repo/repo.go
  templates/repo/create.tmpl
  tests/integration/repo_generate_test.go
  web_src/js/features/repo-new.ts
Labels: type/bug, lgtm/done, size/M, modifies/go, modifies/templates, modifies/frontend

#34001 Decouple Batch from git.Repository to simplify usage without requiring the creation of a Repository struct.
  modules/git/batch.go
  modules/git/repo_base_nogogit.go
  modules/indexer/code/bleve/bleve.go
  modules/indexer/code/elasticsearch/elasticsearch.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, size/M, modifies/go

#34034 Fix git client accessing renamed repo
  routers/web/githttp.go
  tests/integration/git_smart_http_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/M, modifies/go, backport/v1.23

#34041 Fix bug on downloading job logs
  routers/common/actions.go
  tests/integration/actions_log_test.go
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, size/L, modifies/go

#34043 Fix git client accessing renamed repo (#34034)
  routers/web/githttp.go
  tests/integration/git_smart_http_test.go
Labels: lgtm/done, size/M, modifies/go

#33667 Adjust the layout of the toolbar on the Issues/Projects page
  templates/projects/view.tmpl
  templates/repo/issue/list.tmpl
  templates/repo/projects/view.tmpl
  web_src/css/base.css
  web_src/css/features/projects.css
Labels: lgtm/done, backport/done, size/M, backport/manual, modifies/templates, modifies/frontend, backport/v1.23

#34044 fix org repo creation being limited by user limits (#34030)
  templates/repo/create.tmpl
  web_src/js/features/repo-template.ts
Labels: lgtm/done, size/M, modifies/templates, modifies/frontend

#33257 Add anonymous access support for private repositories (backend)
  models/migrations/migrations.go
  models/migrations/v1_24/v318.go
  models/perm/access/repo_permission.go
  models/perm/access/repo_permission_test.go
  models/repo/repo_unit.go
  routers/web/repo/setting/setting.go
  services/context/repo.go
Labels: lgtm/done, skip-changelog, size/XXL, modifies/go, modifies/migrations

#34045 Pull request updates will also trigger code owners review requests (#33744)
  routers/web/repo/view_file.go
  services/issue/issue.go
  services/issue/pull.go
  services/pull/merge.go
  services/pull/pull.go
  services/pull/update.go
  services/repository/push.go
  tests/integration/pull_review_test.go
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/go

#34053 Hide activity contributors, recent commits and code frequrency left tabs if there is no code permission
  routers/web/repo/code_frequency.go
  routers/web/repo/recent_commits.go
  routers/web/web.go
  templates/repo/navbar.tmpl
Labels: type/bug, lgtm/done, size/M, modifies/go, modifies/templates, backport/v1.23

#34051 Add anonymous access support for private/unlisted repositories
  models/perm/access/repo_permission.go
  models/repo/repo_unit.go
  options/locale/locale_en-US.ini
  routers/web/repo/setting/public_access.go
  routers/web/repo/setting/setting.go
  routers/web/web.go
  services/forms/repo_form.go
  templates/repo/header.tmpl
  templates/repo/navbar.tmpl
  templates/repo/settings/navbar.tmpl
  templates/repo/settings/options.tmpl
  templates/repo/settings/public_access.tmpl
  tests/integration/repo_test.go
Labels: type/feature, lgtm/done, modifies/translation, size/XL, modifies/go, modifies/templates

#34057 Add descriptions for private repo public access settings and improve the UI
  options/locale/locale_en-US.ini
  templates/repo/settings/public_access.tmpl
Labels: lgtm/done, modifies/translation, size/M, modifies/templates

#34054 update to golangci-lint v2
  .golangci.yml
  Makefile
Labels: lgtm/done, reviewed/wait-merge, size/L, modifies/internal

#34060 Fix repo-template.ts error in 1.23
  web_src/js/features/repo-template.ts
Labels: lgtm/done, skip-changelog, size/XS, modifies/frontend

#34064 enable staticcheck QFxxxx rules
  .golangci.yml
  cmd/doctor.go
  models/actions/runner.go
  models/db/engine_init.go
  models/repo/repo.go
  models/unittest/fscopy.go
  models/user/search.go
  models/webhook/hooktask.go
  modules/git/grep.go
  modules/git/log_name_status.go
  modules/git/repo_ref.go
  modules/git/url/url.go
  modules/gtprof/trace_builtin.go
  modules/indexer/code/gitgrep/gitgrep.go
  modules/log/event_writer_base.go
  modules/markup/common/linkify.go
  modules/markup/markdown/goldmark.go
  modules/markup/markdown/math/inline_parser.go
  modules/markup/mdstripper/mdstripper.go
  modules/references/references.go
  modules/setting/storage.go
  modules/storage/minio.go
  modules/templates/util_misc.go
  modules/util/path.go
  routers/api/actions/artifactsv4.go
  routers/api/packages/api.go
  routers/api/v1/admin/hooks.go
  routers/api/v1/api.go
  routers/api/v1/repo/action.go
  routers/api/v1/user/key.go
  routers/private/hook_pre_receive.go
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
  routers/web/org/worktime.go
  routers/web/repo/compare.go
  routers/web/repo/issue_content_history.go
  routers/web/repo/issue_list.go
  routers/web/repo/pull_review.go
  routers/web/user/home.go
  routers/web/user/notification.go
  routers/web/web.go
  services/context/upload/upload.go
  services/gitdiff/highlightdiff.go
  services/lfs/server.go
  services/mailer/notify.go
  services/repository/create.go
  services/webhook/general.go
Labels: lgtm/done, modifies/api, size/L, modifies/go, modifies/cli, modifies/internal

#34061 add additional ReplaceAll in pathsep to cater for different pathsep
  services/doctor/storage.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, size/XS, modifies/go, backport/v1.23

#34024 Add a config option to block "expensive" pages for anonymous users
  custom/conf/app.example.ini
  modules/setting/config_provider.go
  modules/setting/service.go
  modules/setting/service_test.go
  routers/api/packages/cargo/cargo.go
  routers/api/packages/container/container.go
  routers/api/v1/api.go
  routers/common/blockexpensive.go
  routers/common/blockexpensive_test.go
  routers/install/install.go
  routers/private/serv.go
  routers/web/repo/githttp.go
  routers/web/web.go
  services/context/package.go
  services/packages/cargo/index.go
  templates/admin/config.tmpl
  tests/integration/api_org_test.go
  tests/integration/api_packages_container_test.go
  tests/integration/api_packages_generic_test.go
  tests/integration/git_smart_http_test.go
  tests/integration/signin_test.go
Labels: type/enhancement, lgtm/done, modifies/api, size/L, modifies/go, modifies/templates, docs-update-needed

#34071 Add a config option to block "expensive" pages for anonymous users (#34024)
  custom/conf/app.example.ini
  modules/setting/config_provider.go
  modules/setting/service.go
  modules/setting/service_test.go
  routers/api/packages/cargo/cargo.go
  routers/api/packages/container/container.go
  routers/api/v1/api.go
  routers/common/blockexpensive.go
  routers/common/blockexpensive_test.go
  routers/install/install.go
  routers/private/serv.go
  routers/web/repo/githttp.go
  routers/web/web.go
  services/context/package.go
  services/packages/cargo/index.go
  templates/admin/config.tmpl
  tests/integration/api_org_test.go
  tests/integration/api_packages_container_test.go
  tests/integration/api_packages_generic_test.go
  tests/integration/git_smart_http_test.go
  tests/integration/signin_test.go
Labels: lgtm/done, modifies/api, size/L, modifies/go, modifies/templates, docs-update-needed

#34063 Feat: Add toggleClass function in dom.ts
  web_src/js/features/repo-settings.ts
  web_src/js/utils/dom.ts
Labels: lgtm/done, size/M, modifies/frontend

#34065 Hide activity contributors, recent commits and code frequrency left tabs if there is no code permission (#34053)
  routers/web/repo/code_frequency.go
  routers/web/repo/recent_commits.go
  routers/web/web.go
  templates/repo/navbar.tmpl
Labels: lgtm/done, size/M, modifies/go, modifies/templates

#34072 Fix markup content overflow
  web_src/css/markup/content.css
Labels: type/bug, topic/ui, lgtm/done, skip-changelog, size/XS, modifies/frontend

#34079 [Fix] Resolve the problem of commit_statuses not being loaded at the top - right when switching files from the file tree
  templates/repo/commit_statuses.tmpl
  tests/integration/repo_commits_test.go
  web_src/js/features/repo-commit.ts
Labels: lgtm/done, skip-changelog, reviewed/wait-merge, size/S, modifies/go, modifies/templates, modifies/frontend

#34077 fix(#34076):replace assgniee translation key
  options/locale/locale_en-US.ini
  templates/projects/view.tmpl
  templates/repo/issue/filter_list.tmpl
Labels: type/bug, lgtm/done, modifies/translation, skip-changelog, reviewed/wait-merge, size/XS, modifies/templates

#34052 Improve pull request list api
  models/git/branch.go
  services/convert/pull.go
Labels: lgtm/done, type/refactoring, performance/speed, reviewed/wait-merge, size/M, modifies/go

#34031 fix users being able bypass limits with repo transfers
  models/fixtures/repo_transfer.yml
  routers/api/v1/repo/transfer.go
  routers/web/repo/repo.go
  routers/web/repo/setting/setting.go
  services/repository/transfer.go
  services/repository/transfer_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, size/L, modifies/go, backport/v1.23
