Repository go-gitea/gitea, pull requests merged in 2025-10, with the labels that each got.

#35553 Enable a few more tsconfig options
  tsconfig.json
  web_src/js/features/tablesort.ts
  web_src/js/modules/toast.ts
Labels: lgtm/done, type/refactoring, skip-changelog, modifies/frontend

#35572 Address some CodeQL security concerns
  cmd/admin_user_create.go
  cmd/admin_user_must_change_password.go
  cmd/generate.go
  cmd/hook.go
  models/repo/repo.go
  models/user/user.go
  modules/auth/password/hash/argon2.go
  modules/auth/password/hash/common.go
  modules/auth/password/pwn/pwn.go
  modules/auth/password/pwn/pwn_test.go
  modules/git/hook.go
  modules/log/logger_global.go
  modules/log/misc.go
  modules/setting/config_env.go
  modules/tempdir/tempdir.go
  modules/translation/i18n/i18n_test.go
  modules/translation/i18n/localestore.go
  modules/util/color.go
  routers/api/v1/repo/issue_pin.go
  routers/web/explore/repo.go
  routers/web/explore/user.go
  routers/web/repo/activity.go
  routers/web/repo/githttp.go
  routers/web/repo/view_home.go
  routers/web/user/avatar.go
  services/context/access_log.go
  services/context/access_log_test.go
  services/context/base_path.go
  web_src/fomantic/build/components/api.js
  web_src/fomantic/build/components/dropdown.js
  web_src/fomantic/build/components/modal.js
  web_src/js/features/comp/EditorMarkdown.test.ts
  web_src/js/features/repo-issue.ts
  web_src/js/modules/fomantic/base.ts
  web_src/js/utils.ts
Labels: lgtm/done, modifies/api, modifies/go, modifies/cli, modifies/frontend

#35573 Use bundled version of spectral
  package.json
  pnpm-lock.yaml
Labels: lgtm/done, reviewed/wait-merge, modifies/dependencies

#35552 Fix creating pull request failure when the target branch name is the same as some tag
  services/pull/temp_repo.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.25

#35590 Use `inputs` context when parsing workflows
  go.mod
  go.sum
  services/actions/workflow.go
  tests/integration/actions_inputs_test.go
  tests/integration/actions_runner_test.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, topic/gitea-actions, modifies/go, modifies/dependencies

#35514 Move archive function to repo_model and gitrepo
  models/repo/archive_test.go
  models/repo/archiver.go
  modules/git/repo.go
  modules/git/repo_archive.go
  modules/gitrepo/archive.go
  routers/api/v1/repo/download.go
  routers/web/repo/repo.go
  services/repository/archiver/archiver.go
  services/repository/archiver/archiver_test.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, modifies/go
