Repository go-gitea/gitea, pull requests merged in 2025-06, with the labels that each got.

#34574 Fix line-button issue after file selection in file tree
  web_src/css/repo/file-view.css
  web_src/js/features/repo-code.ts
  web_src/js/modules/tippy.ts
Labels: type/bug, lgtm/done, modifies/frontend, backport/v1.24

#34579 Fix some trivial problems
  models/activities/user_heatmap.go
  modules/git/languagestats/language_stats_nogogit.go
  modules/web/routing/logger.go
  routers/api/packages/container/container.go
  services/repository/generate.go
  services/repository/generate_test.go
  templates/repo/empty.tmpl
  web_src/js/components/RepoActionView.vue
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, modifies/go, modifies/templates, modifies/frontend, backport/v1.24

#34573 Fix/improve avatar sync from LDAP
  models/user/avatar.go
  services/auth/source/ldap/source_sync.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#34575 Fix issue label delete incorrect labels webhook payload
  models/issues/issue_label.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#34509 Fix possible pull request broken when leave the page immediately after clicking the update button
  routers/api/v1/repo/pull.go
  routers/web/repo/pull.go
  services/pull/update.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, modifies/go, backport/v1.23, backport/v1.24

#34599 Fix margin issue in markup paragraph rendering
  web_src/css/markup/content.css
Labels: type/bug, lgtm/done, modifies/frontend, backport/v1.24

#34597 Fix notification count positioning for variable-width elements
  web_src/css/modules/navbar.css
Labels: type/bug, lgtm/done, modifies/frontend

#34626 add codecommit to supported services in api docs
  modules/structs/repo.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, reviewed/wait-merge, modifies/go, backport/v1.24

#34630 Validate hex colors when creating/editing labels (#34623)
  templates/repo/issue/labels/label_edit_modal.tmpl
Labels: lgtm/done, modifies/templates

#34623 Validate hex colors when creating/editing labels
  modules/label/label.go
  modules/test/utils.go
  options/locale/locale_en-US.ini
  routers/web/org/org_labels.go
  routers/web/repo/issue_label.go
  routers/web/repo/issue_label_test.go
  routers/web/shared/label/label.go
  templates/repo/issue/labels/label_edit_modal.tmpl
  web_src/js/features/comp/LabelEdit.ts
Labels: type/bug, lgtm/done, modifies/translation, backport/done, modifies/go, backport/manual, modifies/templates, modifies/frontend, backport/v1.24

#34638 Misc CSS fixes
  templates/home.tmpl
  templates/org/header.tmpl
  templates/repo/migrate/migrate.tmpl
  web_src/css/actions.css
  web_src/css/base.css
  web_src/css/form.css
  web_src/css/repo.css
Labels: lgtm/done, modifies/templates, modifies/frontend, backport/v1.24

#34640 Update JS deps, regenerate SVGs
  options/fileicon/material-icon-rules.json
  options/fileicon/material-icon-svgs.json
  package-lock.json
  package.json
  public/assets/img/svg/octicon-pause.svg
  web_src/js/components/RepoActionView.vue
Labels: lgtm/done, reviewed/wait-merge, modifies/dependencies, modifies/frontend

#34643 Fix GetUsersByEmails
  models/fixtures/email_address.yml
  models/user/user.go
  models/user/user_test.go
  services/git/commit.go
Labels: type/bug, lgtm/done, modifies/go, backport/v1.24

#34645 Fix missed merge commit sha and time when migrating from codecommit
  services/migrations/codecommit.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#34562 Keeping consistent between UI and API about combined commit status state and fix some bugs
  models/git/commit_status.go
  models/git/commit_status_summary.go
  models/git/commit_status_test.go
  modules/commitstatus/commit_status.go
  modules/commitstatus/commit_status_test.go
  modules/structs/commit_status_test.go
  modules/structs/status.go
  routers/web/repo/commit.go
  routers/web/repo/issue_view.go
  services/actions/commit_status.go
  services/convert/status.go
  services/pull/commit_status.go
  services/pull/commit_status_test.go
  services/repository/commitstatus/commitstatus.go
  templates/swagger/v1_json.tmpl
  tests/integration/actions_trigger_test.go
  tests/integration/git_general_test.go
  tests/integration/pull_merge_test.go
  tests/integration/pull_status_test.go
  tests/integration/repo_commits_test.go
  tests/integration/repo_webhook_test.go
Labels: type/bug, lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, modifies/go

#34620 Ignore "Close" error when uploading container blob
  routers/api/packages/container/container.go
Labels: lgtm/done, modifies/api, reviewed/wait-merge, modifies/go, backport/v1.24

#34621 Fix footnote jump behavior on the issue page.
  models/issues/comment_code.go
  models/renderhelper/repo_comment.go
  modules/markup/common/footnote.go
  modules/markup/html.go
  modules/markup/html_issue_test.go
  modules/markup/html_node.go
  modules/markup/markdown/markdown_test.go
  routers/common/markup.go
  routers/web/repo/issue.go
  routers/web/repo/issue_comment.go
  routers/web/repo/issue_view.go
  routers/web/repo/release.go
  web_src/js/markup/anchors.ts
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, modifies/frontend, backport/v1.24

#34667 Update x/crypto package and make builtin SSH use default parameters
  custom/conf/app.example.ini
  go.mod
  go.sum
  models/asymkey/ssh_key_parse.go
  modules/setting/ssh.go
  modules/ssh/init.go
  modules/ssh/ssh.go
Labels: lgtm/done, reviewed/wait-merge, modifies/go, modifies/dependencies, docs-update-needed

#34649 Fix last admin check when syncing users
  routers/api/v1/admin/user.go
  routers/web/admin/users.go
  routers/web/auth/auth.go
  routers/web/auth/oauth.go
  services/auth/source/ldap/source_authenticate.go
  services/auth/source/ldap/source_sync.go
  services/user/update.go
  services/user/update_test.go
Labels: type/bug, lgtm/done, modifies/api, reviewed/wait-merge, modifies/go, backport/v1.24

#34670 Fix: skip paths check on tag push events in workflows (#34602)
  modules/actions/workflows.go
  modules/actions/workflows_test.go
Labels: lgtm/done, modifies/go

#34510 Migrate to urfave v3
  assets/go-licenses.json
  cmd/actions.go
  cmd/admin.go
  cmd/admin_auth.go
  cmd/admin_auth_ldap.go
  cmd/admin_auth_ldap_test.go
  cmd/admin_auth_oauth.go
  cmd/admin_auth_oauth_test.go
  cmd/admin_auth_smtp.go
  cmd/admin_auth_smtp_test.go
  cmd/admin_regenerate.go
  cmd/admin_user.go
  cmd/admin_user_change_password.go
  cmd/admin_user_change_password_test.go
  cmd/admin_user_create.go
  cmd/admin_user_create_test.go
  cmd/admin_user_delete.go
  cmd/admin_user_delete_test.go
  cmd/admin_user_generate_access_token.go
  cmd/admin_user_list.go
  cmd/admin_user_must_change_password.go
  cmd/admin_user_must_change_password_test.go
  cmd/cert.go
  cmd/cert_test.go
  cmd/cmd.go
  cmd/docs.go
  cmd/doctor.go
  cmd/doctor_convert.go
  cmd/doctor_test.go
  cmd/dump.go
  cmd/dump_repo.go
  cmd/embedded.go
  cmd/generate.go
  cmd/hook.go
  cmd/keys.go
  cmd/mailer.go
  cmd/main.go
  cmd/main_test.go
  cmd/manager.go
  cmd/manager_logging.go
  cmd/migrate.go
  cmd/migrate_storage.go
  cmd/restore_repo.go
  cmd/serv.go
  cmd/web.go
  contrib/backport/backport.go
  contrib/environment-to-ini/environment-to-ini.go
  go.mod
  go.sum
  main.go
  tests/integration/cmd_keys_test.go
Labels: lgtm/done, modifies/go, modifies/cli, modifies/internal, modifies/dependencies

#34685 Fix pull requests API convert panic when head repository is deleted.
  services/convert/pull.go
  services/convert/pull_test.go
Labels: type/bug, lgtm/done, modifies/go, backport/v1.24

#34341 Improve instance wide ssh commit signing
  custom/conf/app.example.ini
  modules/git/command.go
  modules/git/key.go
  modules/git/repo.go
  modules/git/repo_gpg.go
  modules/git/repo_tree.go
  modules/setting/repository.go
  routers/api/v1/api.go
  routers/api/v1/misc/signing.go
  routers/web/repo/setting/setting.go
  services/asymkey/commit.go
  services/asymkey/commit_test.go
  services/asymkey/sign.go
  services/context/repo.go
  services/pull/merge.go
  services/pull/merge_prepare.go
  services/pull/merge_squash.go
  services/repository/files/temp_repo.go
  services/repository/init.go
  services/wiki/wiki.go
  templates/swagger/v1_json.tmpl
  tests/integration/gpg_ssh_git_test.go
Labels: type/feature, lgtm/done, modifies/api, modifies/go, docs-update-needed

#34690 frontport changelog to v1.24
  CHANGELOG.md
Labels: lgtm/done, modifies/docs

#34689 frontport changelog
  CHANGELOG.md
Labels: lgtm/done, modifies/docs

#34697 Fix markdown wrap
  web_src/css/markup/content.css
  web_src/css/repo/home.css
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/frontend, backport/v1.24

#34701 Update JS deps
  package-lock.json
  package.json
Labels: lgtm/done, modifies/dependencies

#34699 Bump minimum go version to 1.24.4
  go.mod
Labels: lgtm/done, reviewed/wait-merge, modifies/dependencies, backport/v1.24

#34708 Fix various problems
  cmd/serv.go
  routers/web/misc/misc.go
  web_src/fomantic/build/components/dropdown.js
  web_src/js/features/common-fetch-action.ts
  web_src/js/features/comp/LabelEdit.ts
Labels: lgtm/done, reviewed/wait-merge, modifies/go, modifies/cli, modifies/frontend, backport/v1.24

#34711 Fix dropdown filter (#34708)
  web_src/fomantic/build/components/dropdown.js
Labels: lgtm/done, modifies/frontend

#34725 Fix container range bug
  routers/api/packages/container/container.go
  tests/integration/api_packages_container_test.go
Labels: lgtm/done, modifies/api, modifies/go, backport/v1.24

#34714 Prevent duplicate form submissions when creating forks
  routers/web/repo/fork.go
  templates/repo/pulls/fork.tmpl
  tests/integration/repo_fork_test.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, modifies/templates, backport/v1.24

#34736 Refactor container and UI
  models/packages/container/const.go
  models/packages/container/search.go
  models/packages/package_file.go
  models/packages/package_property.go
  routers/api/packages/api.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/container/manifest.go
  templates/package/content/container.tmpl
  tests/integration/api_packages_container_test.go
Labels: lgtm/done, modifies/api, modifies/go, modifies/templates

#34350 Allow renaming/moving binary/LFS files in the UI
  models/fixtures/branch.yml
  options/locale/locale_en-US.ini
  routers/web/repo/editor.go
  routers/web/repo/patch.go
  routers/web/repo/view_file.go
  services/forms/repo_form.go
  services/repository/files/update.go
  templates/repo/diff/box.tmpl
  templates/repo/editor/commit_form.tmpl
  templates/repo/editor/edit.tmpl
  tests/integration/repofiles_change_test.go
  web_src/js/features/repo-editor.ts
Labels: lgtm/need 1, modifies/translation, modifies/go, modifies/templates, modifies/frontend

#34745 fix: prevent double markdown link brackets when pasting URL
  web_src/js/features/comp/EditorUpload.test.ts
  web_src/js/features/comp/EditorUpload.ts
Labels: type/bug, lgtm/done, modifies/frontend, backport/v1.24

#34566 Replace update repository function in some places
  models/issues/pull.go
  models/issues/pull_test.go
  models/repo/release.go
  models/repo/update.go
  routers/web/repo/wiki_test.go
  services/repository/adopt.go
  services/repository/create.go
  services/repository/fork.go
  services/repository/generate.go
  services/repository/migrate.go
  services/repository/repository.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, modifies/go

#34741 Improve nuget/rubygems package registries
  models/packages/container/search.go
  models/packages/descriptor.go
  modules/packages/container/const.go
  modules/packages/nuget/metadata.go
  modules/packages/nuget/metadata_test.go
  modules/packages/nuget/symbol_extractor.go
  modules/packages/nuget/symbol_extractor_test.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/manifest.go
  routers/api/packages/nuget/api_v2.go
  routers/api/packages/rubygems/rubygems.go
  routers/api/packages/rubygems/rubygems_test.go
  services/packages/container/cleanup.go
  tests/integration/api_packages_container_test.go
  tests/integration/api_packages_nuget_test.go
  tests/integration/api_packages_test.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, modifies/go

#34537 Support title and body query parameters for new PRs
  routers/web/repo/compare.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#34755 Fix readme path and markdown link paste
  routers/web/repo/view_readme.go
  templates/repo/view_file.tmpl
  web_src/js/features/comp/EditorUpload.ts
Labels: type/bug, lgtm/done, skip-changelog, modifies/go, modifies/templates, modifies/frontend, backport/v1.24

#34632 when using rules to delete packages, remove unclean bugs
  models/packages/nuget/search.go
  models/packages/package_version.go
  routers/web/shared/packages/packages.go
  services/packages/cleanup/cleanup.go
  tests/integration/api_packages_test.go
Labels: type/bug, lgtm/done, backport/done, modifies/go, backport/v1.24

#31840 Support annotated tags when using create release API
  modules/structs/release.go
  routers/api/v1/repo/release.go
  templates/swagger/v1_json.tmpl
Labels: lgtm/done, modifies/api, modifies/go

#34765 Fix incorrect cli default values and default command
  cmd/admin_auth_smtp.go
  cmd/admin_auth_smtp_test.go
  cmd/cmd.go
  cmd/cmd_test.go
  cmd/main.go
  cmd/manager_logging.go
  cmd/web.go
Labels: lgtm/done, backport/done, modifies/go, backport/manual, modifies/cli, backport/v1.24

#34759 Fix some package registry problems
  models/packages/package_property.go
  modules/packages/content_store.go
  routers/api/packages/container/manifest.go
  routers/web/user/package.go
  routers/web/web.go
  services/packages/container/common.go
  services/packages/packages.go
  templates/package/content/container.tmpl
  templates/package/content/pypi.tmpl
  templates/package/shared/view.tmpl
  tests/integration/api_packages_container_test.go
Labels: lgtm/done, modifies/api, modifies/go, modifies/templates

#34771 Fix remaining issues after `gopls modernize` formatting
  modules/actions/workflows.go
  modules/setting/markup.go
  routers/install/install.go
  routers/web/explore/code.go
  routers/web/user/code.go
  tests/integration/api_issue_test.go
  tests/integration/issue_test.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, modifies/go

#34773 Refactor packages (func name & UI)
  routers/api/packages/alpine/alpine.go
  routers/api/packages/arch/arch.go
  routers/api/packages/cargo/cargo.go
  routers/api/packages/chef/chef.go
  routers/api/packages/composer/composer.go
  routers/api/packages/conan/conan.go
  routers/api/packages/conda/conda.go
  routers/api/packages/container/container.go
  routers/api/packages/cran/cran.go
  routers/api/packages/debian/debian.go
  routers/api/packages/generic/generic.go
  routers/api/packages/goproxy/goproxy.go
  routers/api/packages/helm/helm.go
  routers/api/packages/maven/maven.go
  routers/api/packages/npm/npm.go
  routers/api/packages/nuget/nuget.go
  routers/api/packages/pub/pub.go
  routers/api/packages/pypi/pypi.go
  routers/api/packages/rpm/rpm.go
  routers/api/packages/rubygems/rubygems.go
  routers/api/packages/swift/swift.go
  routers/api/packages/vagrant/vagrant.go
  routers/web/user/package.go
  services/packages/packages.go
  templates/package/content/container.tmpl
  templates/package/shared/view.tmpl
  web_src/css/index.css
  web_src/css/repo.css
  web_src/css/repo/packages.css
Labels: lgtm/done, modifies/api, skip-changelog, reviewed/wait-merge, modifies/go, modifies/templates, modifies/frontend

#34772 Upgrade `gopls` to v0.19.0, add `make fix`
  Makefile
  models/migrations/v1_22/v294_test.go
  modules/public/public.go
  routers/private/hook_verification_test.go
  services/packages/arch/vercmp.go
  tools/lint-go-gopls.sh
Labels: lgtm/done, topic/code-linting, reviewed/wait-merge, modifies/go, modifies/migrations, modifies/internal

#34781 Fix tag target
  routers/web/repo/release.go
Labels: type/bug, lgtm/done, modifies/go, backport/v1.24

#34730 Add repo file tree item link behavior
  web_src/js/components/DiffFileTree.vue
  web_src/js/components/ViewFileTree.vue
  web_src/js/components/ViewFileTreeItem.vue
  web_src/js/components/ViewFileTreeStore.ts
  web_src/js/utils/dom.ts
Labels: type/enhancement, topic/ui, lgtm/done, reviewed/wait-merge, modifies/frontend

#34770 Add ff_only parameter to POST /repos/{owner}/{repo}/merge-upstream
  modules/structs/repo_branch.go
  routers/api/v1/repo/branch.go
  routers/web/repo/branch.go
  services/repository/merge_upstream.go
  templates/swagger/v1_json.tmpl
  tests/integration/repo_merge_upstream_test.go
Labels: type/enhancement, lgtm/done, modifies/api, reviewed/wait-merge, modifies/go

#34787 Bump poetry feature to new url for dev container
  .devcontainer/devcontainer.json
Labels: lgtm/done, topic/build, reviewed/wait-merge, modifies/internal, backport/v1.24

#34797 Fix OCI manifest parser
  modules/packages/container/metadata.go
  modules/packages/container/metadata_test.go
  routers/api/packages/api.go
  routers/api/packages/container/manifest.go
Labels: type/bug, lgtm/done, modifies/api, modifies/go

#34795 Fix container range bug
  routers/api/packages/container/container.go
  tests/integration/api_packages_container_test.go
Labels: lgtm/done, modifies/api, modifies/go, backport/v1.24

#34791 Fix the issue of abnormal interface when there is no issue-item on the project page
  web_src/css/features/projects.css
Labels: topic/ui, lgtm/done, reviewed/wait-merge, modifies/frontend

#34798 Upgrade chi to v5.2.2
  go.mod
  go.sum
Labels: lgtm/done, backport/done, modifies/dependencies, backport/v1.24

#34799 Upgrade chi to v5.2.2(#34798)
  go.mod
  go.sum
Labels: lgtm/done, modifies/dependencies

#34800 release of 1.24.2
  CHANGELOG.md
Labels: type/docs, lgtm/need 1, modifies/docs

#34788 Fix Feishu webhook signature verification
  services/webhook/feishu.go
  services/webhook/feishu_test.go
  services/webhook/payloader.go
Labels: type/bug, lgtm/done, reviewed/wait-merge, modifies/go, backport/v1.24

#34804 Improve img lazy loading
  modules/markup/html_node.go
  modules/markup/markdown/markdown_test.go
  modules/markup/sanitizer_default.go
  services/mailer/mail_test.go
  templates/repo/issue/card.tmpl
  templates/repo/issue/view_content/attachments.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/settings/lfs_file.tmpl
  templates/shared/user/profile_big_avatar.tmpl
  templates/user/dashboard/feeds.tmpl
  web_src/js/components/RepoContributors.vue
Labels: lgtm/done, modifies/go, modifies/templates, modifies/frontend

#34784 Forks repository list page follow other repositories page
  routers/web/explore/repo.go
  routers/web/repo/view.go
  routers/web/user/profile.go
  templates/admin/user/view.tmpl
  templates/explore/repos.tmpl
  templates/org/home.tmpl
  templates/repo/forks.tmpl
  templates/shared/repo/list.tmpl
  templates/shared/repo/search.tmpl
  templates/user/notification/notification_subscriptions.tmpl
  templates/user/profile.tmpl
  tests/integration/repo_fork_test.go
Labels: type/enhancement, lgtm/done, reviewed/wait-merge, modifies/go, modifies/templates

#34809 Upgrade htmx to 2.0.5
  package-lock.json
  package.json
Labels: lgtm/done, reviewed/wait-merge, modifies/dependencies

#34805 Refactor wiki
  modules/markup/sanitizer_default.go
  modules/markup/sanitizer_default_test.go
  modules/templates/helper.go
  routers/web/repo/wiki.go
  routers/web/repo/wiki_test.go
  services/webhook/telegram.go
  templates/repo/unicode_escape_prompt.tmpl
  templates/repo/wiki/new.tmpl
  templates/repo/wiki/view.tmpl
  web_src/css/markup/content.css
  web_src/css/repo.css
  web_src/css/repo/wiki.css
Labels: lgtm/done, modifies/go, modifies/templates, modifies/frontend

#34777 Refactor packages
  modules/web/router_path.go
  modules/web/router_test.go
  routers/api/packages/api.go
  routers/api/packages/conda/conda.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/container/manifest.go
  services/packages/container/cleanup.go
Labels: lgtm/done, modifies/api, modifies/go

#34240 Edit file workflow for creating a fork and proposing changes
  models/repo/repo.go
  options/locale/locale_en-US.ini
  routers/web/repo/editor.go
  routers/web/repo/editor_apply_patch.go
  routers/web/repo/editor_cherry_pick.go
  routers/web/repo/editor_fork.go
  routers/web/repo/editor_util.go
  routers/web/repo/fork.go
  routers/web/repo/view_file.go
  routers/web/repo/view_readme.go
  routers/web/web.go
  services/context/repo.go
  services/context/upload/upload.go
  templates/repo/editor/cherry_pick.tmpl
  templates/repo/editor/commit_form.tmpl
  templates/repo/editor/common_top.tmpl
  templates/repo/editor/delete.tmpl
  templates/repo/editor/edit.tmpl
  templates/repo/editor/fork.tmpl
  templates/repo/editor/patch.tmpl
  templates/repo/editor/upload.tmpl
  templates/repo/view_content.tmpl
  tests/integration/editor_test.go
  tests/integration/html_helper.go
  tests/integration/pull_status_test.go
  web_src/js/features/common-fetch-action.ts
Labels: type/feature, lgtm/done, modifies/translation, modifies/go, modifies/templates, modifies/frontend

#34813 Use `shallowRef` instead of `ref` in `.vue` files where possible
  web_src/js/components/ActivityHeatmap.vue
  web_src/js/components/ContextPopup.vue
  web_src/js/components/DiffFileTreeItem.vue
  web_src/js/components/PullRequestMergeForm.vue
  web_src/js/components/RepoActivityTopAuthors.vue
  web_src/js/components/RepoCodeFrequency.vue
  web_src/js/components/RepoRecentCommits.vue
  web_src/js/components/ViewFileTree.vue
  web_src/js/components/ViewFileTreeItem.vue
Labels: lgtm/done, modifies/frontend

#34817 Add "Cancel workflow run" button to Actions list page
  options/locale/locale_en-US.ini
  routers/web/repo/actions/actions.go
  templates/repo/actions/runs_list.tmpl
  templates/repo/actions/view_component.tmpl
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, modifies/go, modifies/templates

#34819 Refactor template helper
  modules/htmlutil/html.go
  modules/markup/markdown/math/block_renderer.go
  modules/markup/markdown/math/inline_renderer.go
  modules/templates/helper.go
  templates/admin/packages/list.tmpl
  templates/admin/repo/list.tmpl
  templates/org/member/members.tmpl
  templates/org/team/members.tmpl
  templates/org/team/sidebar.tmpl
  templates/org/team/teams.tmpl
  templates/repo/commit_page.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/repo/settings/webhook/settings.tmpl
  templates/user/settings/applications.tmpl
  templates/user/settings/organization.tmpl
Labels: lgtm/done, modifies/go, modifies/templates

#34826 correct migration tab name
  options/locale/locale_en-US.ini
  templates/repo/header.tmpl
Labels: lgtm/done, modifies/translation, modifies/templates, backport/v1.24

#34829 Fix required contexts and commit status matching bug (#34815)
  services/pull/commit_status.go
  services/pull/commit_status_test.go
Labels: lgtm/done, modifies/go

#34827 Fix team permissions
  models/git/protected_branch.go
  models/organization/org.go
  models/organization/team_repo.go
  models/organization/team_repo_test.go
  models/perm/access/repo_permission.go
  models/perm/access/repo_permission_test.go
  options/locale/locale_en-US.ini
  routers/web/org/teams.go
  routers/web/repo/setting/protected_branch.go
  routers/web/repo/setting/protected_tag.go
  services/convert/convert.go
  services/issue/assignee.go
  services/pull/reviewer.go
  templates/repo/settings/collaboration.tmpl
  tests/integration/org_test.go
Labels: type/bug, lgtm/done, modifies/translation, modifies/go, modifies/templates, backport/v1.24

#34810 Fix log fmt
  services/lfs/server.go
Labels: lgtm/done, type/miscellaneous, modifies/go

#34837 Ignore force pushes for changed files in a PR review
  services/gitdiff/gitdiff.go
Labels: type/bug, lgtm/done, topic/pr, modifies/go, backport/v1.24

#34840 Remove unused variable HUGO_VERSION
  Makefile
Labels: lgtm/done, reviewed/wait-merge, modifies/internal

#34818 fix(issue): Replace stopwatch toggle with explicit start/stop actions
  models/issues/stopwatch.go
  models/issues/stopwatch_test.go
  options/locale/locale_en-US.ini
  routers/api/v1/repo/issue_stopwatch.go
  routers/web/repo/issue_stopwatch.go
  routers/web/repo/pull.go
  routers/web/web.go
  services/issue/status.go
  templates/base/head_navbar.tmpl
  templates/repo/issue/sidebar/stopwatch_timetracker.tmpl
  templates/swagger/v1_json.tmpl
  tests/integration/timetracking_test.go
  web_src/js/features/stopwatch.ts
Labels: lgtm/done, modifies/translation, modifies/api, reviewed/wait-merge, modifies/go, modifies/templates, modifies/frontend

#34822 Refactor repo contents API and add "contents-ext" API
  modules/git/blob.go
  modules/git/tree_entry_nogogit.go
  modules/lfs/pointer.go
  modules/lfs/pointer_scanner_gogit.go
  modules/structs/git_blob.go
  modules/structs/repo_file.go
  routers/api/v1/api.go
  routers/api/v1/repo/blob.go
  routers/api/v1/repo/file.go
  routers/api/v1/repo/wiki.go
  routers/api/v1/swagger/repo.go
  services/repository/files/content.go
  services/repository/files/content_test.go
  services/repository/files/file.go
  services/repository/files/update.go
  templates/swagger/v1_json.tmpl
  tests/integration/api_repo_get_contents_test.go
  tests/integration/repofiles_change_test.go
Labels: type/feature, lgtm/done, modifies/api, modifies/go

#34853 Fix archive API
  models/perm/access/repo_permission.go
  routers/api/v1/api.go
  tests/integration/api_repo_archive_test.go
Labels: type/bug, lgtm/done, modifies/api, modifies/go, backport/v1.24

#34592 Add issue delete notifier
  modules/structs/hook.go
  options/locale/locale_en-US.ini
  services/webhook/notifier.go
  tests/integration/issue_test.go
  tests/integration/repo_webhook_test.go
Labels: type/enhancement, lgtm/done, modifies/translation, reviewed/wait-merge, modifies/go

#34811 Use standalone function to update repository cols
  models/repo/update.go
  modules/repository/branch.go
  routers/private/hook_post_receive.go
  routers/web/repo/setting/setting.go
Labels: lgtm/done, type/refactoring, reviewed/wait-merge, modifies/go

#34875 Skip updating timestamp when sync branch
  modules/repository/branch.go
Labels: lgtm/done, modifies/go

#34879 Fix a regression when refactoring fork list
  templates/admin/repo/list.tmpl
Labels: type/bug, lgtm/done, skip-changelog, reviewed/wait-merge, modifies/templates

#34846 Improve `labels-list` rendering
  modules/htmlutil/html.go
  modules/htmlutil/html_test.go
  modules/templates/util_render.go
  modules/templates/util_render_test.go
  templates/repo/home_sidebar_bottom.tmpl
  templates/repo/issue/card.tmpl
  templates/repo/issue/labels/label_list.tmpl
  templates/repo/issue/sidebar/assignee_list.tmpl
  templates/repo/issue/sidebar/label_list.tmpl
  templates/repo/issue/sidebar/reviewer_list.tmpl
  templates/repo/issue/view_content/comments.tmpl
  templates/shared/issuelist.tmpl
  web_src/css/base.css
  web_src/css/modules/label.css
  web_src/css/modules/list.css
  web_src/css/repo.css
  web_src/css/repo/issue-card.css
  web_src/css/repo/issue-label.css
  web_src/css/shared/flex-list.css
Labels: lgtm/done, modifies/go, modifies/templates, modifies/frontend

#34890 Fix project column edit
  templates/projects/view.tmpl
  web_src/js/features/repo-projects.ts
Labels: type/bug, lgtm/done, skip-changelog, modifies/templates, modifies/frontend

#34877 Refactor container package
  models/db/context.go
  routers/api/packages/container/auth.go
  routers/api/packages/container/blob.go
  routers/api/packages/container/container.go
  routers/api/packages/container/manifest.go
  services/packages/container/common.go
Labels: lgtm/done, type/refactoring, modifies/api, reviewed/wait-merge, modifies/go

#34899 docs: fix typo in pull request merge warning message text
  options/locale/locale_en-US.ini
Labels: lgtm/done, modifies/translation, reviewed/wait-merge, backport/v1.24

#34898 Improve tags list page
  templates/repo/tag/list.tmpl
  web_src/css/repo/release-tag.css
  web_src/js/features/common-fetch-action.ts
  web_src/js/features/comp/ConfirmModal.ts
Labels: lgtm/done, reviewed/wait-merge, modifies/templates, modifies/frontend

#34909 Fix: RPM package download routing & missing package version count
  routers/api/packages/api.go
  routers/web/user/package.go
  tests/integration/api_packages_rpm_test.go
Labels: lgtm/done, modifies/api, modifies/go

#34914 Fix issue filter
  templates/repo/issue/filter_item_label.tmpl
  templates/repo/issue/filter_list.tmpl
Labels: lgtm/done, modifies/templates, backport/v1.24

#28835 Follow file symlinks in the UI to their target
  modules/fileicon/entry.go
  modules/fileicon/material.go
  modules/fileicon/material_test.go
  modules/git/commit.go
  modules/git/error.go
  modules/git/tree_blob_nogogit.go
  modules/git/tree_entry.go
  modules/git/tree_entry_common_test.go
  modules/git/tree_entry_gogit.go
  modules/git/tree_entry_mode.go
  modules/git/tree_entry_nogogit.go
  modules/git/tree_entry_test.go
  modules/git/tree_gogit.go
  modules/util/error.go
  options/locale/locale_en-US.ini
  routers/web/repo/treelist.go
  routers/web/repo/view.go
  routers/web/repo/view_home.go
  routers/web/repo/view_readme.go
  services/repository/files/tree.go
  templates/repo/view_list.tmpl
  tests/integration/repo_test.go
Labels: type/feature, lgtm/done, modifies/translation, topic/ui-interaction, reviewed/wait-merge, modifies/go, modifies/templates
